workflows/10JTbXbLg3Xh82i1.json
{"updatedAt":"2026-04-05T05:03:25.851Z","createdAt":"2026-01-06T04:13:40.910Z","id":"10JTbXbLg3Xh82i1","name":"[N8N] [BACKUP] Workflows GITHUB Sub-Create","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,-976],"id":"7732a396-f284-41e1-92ae-fb71c5198092","name":"When Executed by Another Workflow"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":"name"},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","asBinaryProperty":false,"additionalParameters":{}},"id":"d27a1c83-f1f0-47e3-8413-56e560643854","name":"GitHub","type":"n8n-nodes-base.github","position":[-928,-976],"typeVersion":1,"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"5a0a43aa-3e0e-42b3-b0ba-29d7aa5b73f1","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json?.content }}","rightValue":"={{ $('When Executed by Another Workflow').item.json?.toJsonString() }}"}],"combinator":"and"},"options":{}},"id":"7527e6e2-3352-4008-ad3a-2a97bf3516f7","name":"If1","type":"n8n-nodes-base.if","position":[-256,-1056],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"7c640ad2-022e-4b50-9b38-0a6ebd2be121","name":"Code","type":"n8n-nodes-base.code","position":[-480,-1056],"typeVersion":2},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":""},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":""},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","fileContent":"={{ $('Variáveis da Rodada').item.json.FileContent }}","commitMessage":"=CREATE {{ $('Variáveis da Rodada').item.json.FileCommit }}"},"id":"b96f2a70-3a2f-4104-a8e6-597bbfb6ef17","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-32,-832],"typeVersion":1,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"b3f89be4-f23b-40aa-b1ef-3d670ce20293","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":""},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":""},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","fileContent":"={{ $('Variáveis da Rodada').item.json.FileContent }}","commitMessage":"=UPDATE {{ $('Variáveis da Rodada').item.json.FileCommit }}"},"id":"8bc718e5-4f92-4f28-9a05-3b2c0b04648b","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[-32,-1120],"typeVersion":1,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"abcd4ee6-fd11-4b71-a33a-c614dc53ddde","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"Workflow changes committed to the repository","height":220},"id":"58ee0678-5cbe-46ff-b778-cae3458882e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-112,-1184],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":200,"width":280},"id":"17e9009f-09db-45f2-a95a-a3d93ac4f1f4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-352,-1088],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":200},"id":"42a8d9ef-c2de-4d21-93fd-26eb71a13525","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-112,-880],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":260},"id":"1011ce0a-9fa4-46b9-808c-cf4422c7a7a5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1008,-1072],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":280,"width":260},"id":"ce255816-3148-4f06-9aa6-48b37f46e4ec","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-560,-1168],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f2473152-b423-44be-a9b8-7cd3c77d112f","name":"FilePath","value":"=workflows/{{ $('When Executed by Another Workflow').item.json.id }}.json","type":"string"},{"id":"84d0e124-94ea-4561-b642-d4626f15d2a7","name":"FileContent","value":"={{ $('When Executed by Another Workflow').item.json.toJsonString()  }}","type":"string"},{"id":"4482de19-5121-4287-9889-0a2b58e1110a","name":"FileCommit","value":"={{ $('When Executed by Another Workflow').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-976],"id":"abd3459b-02bd-4735-9453-d473e4a1aff3","name":"Variáveis da Rodada"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"6274a48d-6c4b-4f41-bdef-5cb1870b1c9d","name":"File exists?","type":"n8n-nodes-base.if","position":[-704,-976],"typeVersion":2.2},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[192,-976],"id":"e42c8dae-2144-48d0-9a0a-8866b946ba1b","name":"No Operation, do nothing"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Variáveis da Rodada","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"File exists?","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Variáveis da Rodada":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"File exists?":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron 1h":{"recurrenceRules":[]}},"meta":null,"versionId":"72df8f60-6db4-410b-9a0b-30a3f1be69a0","activeVersionId":"72df8f60-6db4-410b-9a0b-30a3f1be69a0","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:40.910Z","createdAt":"2026-01-06T04:13:40.910Z","role":"workflow:owner","workflowId":"10JTbXbLg3Xh82i1","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-05T05:03:26.801Z","createdAt":"2026-04-05T05:03:25.852Z","versionId":"72df8f60-6db4-410b-9a0b-30a3f1be69a0","workflowId":"10JTbXbLg3Xh82i1","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,-976],"id":"7732a396-f284-41e1-92ae-fb71c5198092","name":"When Executed by Another Workflow"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":"name"},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","asBinaryProperty":false,"additionalParameters":{}},"id":"d27a1c83-f1f0-47e3-8413-56e560643854","name":"GitHub","type":"n8n-nodes-base.github","position":[-928,-976],"typeVersion":1,"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"5a0a43aa-3e0e-42b3-b0ba-29d7aa5b73f1","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json?.content }}","rightValue":"={{ $('When Executed by Another Workflow').item.json?.toJsonString() }}"}],"combinator":"and"},"options":{}},"id":"7527e6e2-3352-4008-ad3a-2a97bf3516f7","name":"If1","type":"n8n-nodes-base.if","position":[-256,-1056],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"7c640ad2-022e-4b50-9b38-0a6ebd2be121","name":"Code","type":"n8n-nodes-base.code","position":[-480,-1056],"typeVersion":2},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":""},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":""},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","fileContent":"={{ $('Variáveis da Rodada').item.json.FileContent }}","commitMessage":"=CREATE {{ $('Variáveis da Rodada').item.json.FileCommit }}"},"id":"b96f2a70-3a2f-4104-a8e6-597bbfb6ef17","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-32,-832],"typeVersion":1,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"b3f89be4-f23b-40aa-b1ef-3d670ce20293","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $vars.GITHUB_repoOwner }}","mode":""},"repository":{"__rl":true,"value":"={{ $vars.GITHUB_repositoryName }}","mode":""},"filePath":"={{ $('Variáveis da Rodada').item.json.FilePath }}","fileContent":"={{ $('Variáveis da Rodada').item.json.FileContent }}","commitMessage":"=UPDATE {{ $('Variáveis da Rodada').item.json.FileCommit }}"},"id":"8bc718e5-4f92-4f28-9a05-3b2c0b04648b","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[-32,-1120],"typeVersion":1,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"webhookId":"abcd4ee6-fd11-4b71-a33a-c614dc53ddde","credentials":{"githubApi":{"id":"UZNEFWugU851TSmA","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"Workflow changes committed to the repository","height":220},"id":"58ee0678-5cbe-46ff-b778-cae3458882e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-112,-1184],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":200,"width":280},"id":"17e9009f-09db-45f2-a95a-a3d93ac4f1f4","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-352,-1088],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":200},"id":"42a8d9ef-c2de-4d21-93fd-26eb71a13525","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-112,-880],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":260},"id":"1011ce0a-9fa4-46b9-808c-cf4422c7a7a5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1008,-1072],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":280,"width":260},"id":"ce255816-3148-4f06-9aa6-48b37f46e4ec","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-560,-1168],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f2473152-b423-44be-a9b8-7cd3c77d112f","name":"FilePath","value":"=workflows/{{ $('When Executed by Another Workflow').item.json.id }}.json","type":"string"},{"id":"84d0e124-94ea-4561-b642-d4626f15d2a7","name":"FileContent","value":"={{ $('When Executed by Another Workflow').item.json.toJsonString()  }}","type":"string"},{"id":"4482de19-5121-4287-9889-0a2b58e1110a","name":"FileCommit","value":"={{ $('When Executed by Another Workflow').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,-976],"id":"abd3459b-02bd-4735-9453-d473e4a1aff3","name":"Variáveis da Rodada"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"6274a48d-6c4b-4f41-bdef-5cb1870b1c9d","name":"File exists?","type":"n8n-nodes-base.if","position":[-704,-976],"typeVersion":2.2},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[192,-976],"id":"e42c8dae-2144-48d0-9a0a-8866b946ba1b","name":"No Operation, do nothing"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Variáveis da Rodada","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"File exists?","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Variáveis da Rodada":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"File exists?":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 72df8f60","description":"","autosaved":false},"tags":[]}