workflows/1Vnz6PZuAMEqjlPY.json
{"updatedAt":"2026-01-27T15:56:36.054Z","createdAt":"2026-01-06T04:13:41.008Z","id":"1Vnz6PZuAMEqjlPY","name":"[CTX] [COMERCIAL] [BDR02] Sobe Lista Clickup - Telefone (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY","mode":"list","cachedResultName":"20250507 - Abordagens Psicologia Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Subiu Clickup"}]},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,-840],"id":"a7963172-e564-41c4-af5a-e6ce2b09fd3e","name":"Google Sheets","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UGi3rlUeXv3EM1ZE","name":"Google Sheets RICARDO"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059884","folder":"90131873418","list":"901300187285","name":"={{ $json.NICHO }} {{ $json.Nome.replaceAll(\"Ltda\",\"\").split(\" » \")[0].trim().replaceSpecialChars() }} ({{ $json.URL.replaceAll(\"https://www.instagram.com/\",\"@\").replaceAll(\"/\",\"\") }})","additionalFields":{"customFieldsJson":"=[\n{\"id\":\"a8ec35f6-851b-4974-b771-c0adaaf94213\",\"value\":\"+55{{ $json.Telefone.replaceAll(/\\D/g,\"\") }}\"}\n,{\"id\":\"0d0ed5ae-5e12-4d9b-aeb4-71de9c9fbf86\",\"value\":\"{{ $json['URL'] }}\"}\n,{\"id\":\"088d5004-4b8f-49dd-94e5-087085426e53\",\"value\":\"{{ $json.URL.replaceAll(\"https://www.instagram.com/\",\"@\").replaceAll(\"/\",\"\") }}\"}\n,{\"id\":\"ae1e1e90-c866-4c24-af40-ecbeff2e7a22\",\"value\":\"9d04e264-655f-4411-8edc-dc0c3da040ae\"}\n]","content":"=Nome\t: \t{{ $json['Nome'] }}\nPrimeiro\t: \t{{ $json['Primeiro'] }}\nÚltimo\t: \t{{ $json['Último'] }}\nTelefone 1\t: \t{{ $json.Telefone }}\nURL\t: \t{{ $json['URL'] }}\nJSON completo\t: \t{{ $json.toJsonString() }}","dueDate":"={{ $now.plus(7,'days').format('yyyy-MM-dd')\n  +'T00:00:00' }}","startDate":"={{ $now.format('yyyy-MM-dd')+'T'\n  +$now.format('00:00:00') }}","status":"01. lista de abordagem","tags":[]}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[140,-580],"id":"640a8a51-c514-4b1f-9223-788c8a3879a7","name":"ClickUp","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"sgI7ARXBSmegrawA","name":"ClickUp - Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('ClickUp').item.json.id }}","commentText":"=Buscar pelo Instagram: https://www.google.com.br/search?q={{ $('ClickUp').item.json.name.replaceAll(\"$('CNAES').item.json.nicho\",\"\").replaceAll(\" \",\"+\") }}+instagram+{{ $('Loop Over Items').item.json['Localização'] }}\n","additionalFields":{"assignee":"","notifyAll":false}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[360,-580],"id":"177041cf-3712-4125-a9da-ea6590bed0e4","name":"ClickUp2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"sgI7ARXBSmegrawA","name":"ClickUp - Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-840],"id":"793be171-3a0b-40af-b8a6-a982d06699e1","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY","mode":"list","cachedResultName":"20250507 - Abordagens Psicologia Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t4jc2nfgcMgwZgqbDo7JCJRaOveSW8ObxOWgGJE3_1c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $('Loop Over Items').item.json.URL }}","Subiu Clickup":"Subido Clickup para Abordagem"},"matchingColumns":["URL"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primeiro","displayName":"Primeiro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Último","displayName":"Último","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trabalha para","displayName":"Trabalha para","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Localização","displayName":"Localização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Subiu Clickup","displayName":"Subiu Clickup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NICHO","displayName":"NICHO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,-580],"id":"133259d5-e14b-4f45-a7c0-cfad0004695a","name":"Google Sheets1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UGi3rlUeXv3EM1ZE","name":"Google Sheets RICARDO"}}},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,-840],"id":"4978118c-e5fb-43bd-b3cb-cfb2af20125f","name":"Execute Workflow","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-580],"id":"dc15db44-7a1f-4567-80c2-004da4693be9","name":"Loop Over Items"}],"connections":{"Google Sheets":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"ClickUp":{"main":[[{"node":"ClickUp2","type":"main","index":0}]]},"ClickUp2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"ClickUp","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"da6253bd-bfb3-4678-b5b8-0c35a26275d6","activeVersionId":"da6253bd-bfb3-4678-b5b8-0c35a26275d6","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:41.008Z","createdAt":"2026-01-06T04:13:41.008Z","role":"workflow:owner","workflowId":"1Vnz6PZuAMEqjlPY","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T04:13:41.324Z","createdAt":"2026-01-06T04:13:41.324Z","versionId":"da6253bd-bfb3-4678-b5b8-0c35a26275d6","workflowId":"1Vnz6PZuAMEqjlPY","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY","mode":"list","cachedResultName":"20250507 - Abordagens Psicologia Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Subiu Clickup"}]},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,-840],"id":"a7963172-e564-41c4-af5a-e6ce2b09fd3e","name":"Google Sheets","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UGi3rlUeXv3EM1ZE","name":"Google Sheets RICARDO"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059884","folder":"90131873418","list":"901300187285","name":"={{ $json.NICHO }} {{ $json.Nome.replaceAll(\"Ltda\",\"\").split(\" » \")[0].trim().replaceSpecialChars() }} ({{ $json.URL.replaceAll(\"https://www.instagram.com/\",\"@\").replaceAll(\"/\",\"\") }})","additionalFields":{"customFieldsJson":"=[\n{\"id\":\"a8ec35f6-851b-4974-b771-c0adaaf94213\",\"value\":\"+55{{ $json.Telefone.replaceAll(/\\D/g,\"\") }}\"}\n,{\"id\":\"0d0ed5ae-5e12-4d9b-aeb4-71de9c9fbf86\",\"value\":\"{{ $json['URL'] }}\"}\n,{\"id\":\"088d5004-4b8f-49dd-94e5-087085426e53\",\"value\":\"{{ $json.URL.replaceAll(\"https://www.instagram.com/\",\"@\").replaceAll(\"/\",\"\") }}\"}\n,{\"id\":\"ae1e1e90-c866-4c24-af40-ecbeff2e7a22\",\"value\":\"9d04e264-655f-4411-8edc-dc0c3da040ae\"}\n]","content":"=Nome\t: \t{{ $json['Nome'] }}\nPrimeiro\t: \t{{ $json['Primeiro'] }}\nÚltimo\t: \t{{ $json['Último'] }}\nTelefone 1\t: \t{{ $json.Telefone }}\nURL\t: \t{{ $json['URL'] }}\nJSON completo\t: \t{{ $json.toJsonString() }}","dueDate":"={{ $now.plus(7,'days').format('yyyy-MM-dd')\n  +'T00:00:00' }}","startDate":"={{ $now.format('yyyy-MM-dd')+'T'\n  +$now.format('00:00:00') }}","status":"01. lista de abordagem","tags":[]}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[140,-580],"id":"640a8a51-c514-4b1f-9223-788c8a3879a7","name":"ClickUp","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"sgI7ARXBSmegrawA","name":"ClickUp - Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"comment","commentOn":"task","id":"={{ $('ClickUp').item.json.id }}","commentText":"=Buscar pelo Instagram: https://www.google.com.br/search?q={{ $('ClickUp').item.json.name.replaceAll(\"$('CNAES').item.json.nicho\",\"\").replaceAll(\" \",\"+\") }}+instagram+{{ $('Loop Over Items').item.json['Localização'] }}\n","additionalFields":{"assignee":"","notifyAll":false}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[360,-580],"id":"177041cf-3712-4125-a9da-ea6590bed0e4","name":"ClickUp2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"sgI7ARXBSmegrawA","name":"ClickUp - Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-840],"id":"793be171-3a0b-40af-b8a6-a982d06699e1","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY","mode":"list","cachedResultName":"20250507 - Abordagens Psicologia Instagram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yQsDKwX_srju8QHd4XmuA-p61p8A1QZQ9up0Z9XUYlY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"emails_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t4jc2nfgcMgwZgqbDo7JCJRaOveSW8ObxOWgGJE3_1c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $('Loop Over Items').item.json.URL }}","Subiu Clickup":"Subido Clickup para Abordagem"},"matchingColumns":["URL"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primeiro","displayName":"Primeiro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Último","displayName":"Último","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Trabalha para","displayName":"Trabalha para","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Localização","displayName":"Localização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Subiu Clickup","displayName":"Subiu Clickup","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NICHO","displayName":"NICHO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,-580],"id":"133259d5-e14b-4f45-a7c0-cfad0004695a","name":"Google Sheets1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"UGi3rlUeXv3EM1ZE","name":"Google Sheets RICARDO"}}},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[360,-840],"id":"4978118c-e5fb-43bd-b3cb-cfb2af20125f","name":"Execute Workflow","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-580],"id":"dc15db44-7a1f-4567-80c2-004da4693be9","name":"Loop Over Items"}],"connections":{"Google Sheets":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"ClickUp":{"main":[[{"node":"ClickUp2","type":"main","index":0}]]},"ClickUp2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"ClickUp","type":"main","index":0}]]}},"authors":"Convertix Digital","name":null,"description":null,"autosaved":false},"tags":[]}