workflows/25h7f3fNhy4lNTgb.json
{"updatedAt":"2026-01-27T15:49:14.828Z","createdAt":"2026-01-06T04:09:35.456Z","id":"25h7f3fNhy4lNTgb","name":"[PRO] Mensagem pro clã no privado","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,72],"id":"cd5f87dc-3931-4140-a730-cd2ef94e718e","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"163NVXiKV6Jhg5VOzqMbySr60_R1iFKJdo1W2kCH6WGk","mode":"id"},"sheetName":{"__rl":true,"value":1130429010,"mode":"list","cachedResultName":"Contatos dos integrantes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/163NVXiKV6Jhg5VOzqMbySr60_R1iFKJdo1W2kCH6WGk/edit#gid=1130429010"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,72],"id":"3e6ad95c-c7f1-4b8d-ac51-d90261578eee","name":"Integrantes do clã","credentials":{"googleSheetsOAuth2Api":{"id":"hEOTeO3xsYfgwUJ1","name":"Google Sheets ASSESSORIA"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a210c0d1-dbe2-4ad5-a79d-6f3e2e1cbd53","leftValue":"={{ $json.Whatsapp }}","rightValue":5511910266031,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[448,72],"id":"0c4d7e3a-3b63-4492-ab45-8a0168646258","name":"Retira Fiorelli"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,72],"id":"04816d32-b8db-4be0-8116-4b3a73884b58","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1344,96],"id":"d0c2b496-4f1f-47ed-8b74-7def8aa55029"},{"parameters":{"resource":"messages-api","instanceName":"fiorelli","remoteJid":"={{ $json.Whatsapp.toString() }}","messageText":"=Olá, {{ $json.Nomes }}. Fiorelli por aqui do clã do SubidoPRO - Hooligans.\n\nTo mandando mensagem no privado pra te falar 4 coisas pra hoje! :)\n\n1) Temos um desafio valendo 100 pontos de responder uma pesquisa, tá bem fácil e dura 10 minutos.\nSe não tiver o link me pede aqui que eu mando.\n\n2) Hoje às 15h o Maurilio vai dar uma *aula da certificação*. Se vc não fez ainda, é crucial participar, ele vai mandar o link no grupo.\n\n3) *Adicione meu número nos contatos*, prometo que não vou encher seu saco com umonte de mensagem no privado. Quero a participação de todos pra vc ter mais resultado no programa.\n\n4) *Me responda com seu email* assim consigo enviar a call do clã no seu calendário. Ela acontece toda quarta às 11h.","options_message":{"delay":"={{ 10200+(Math.random()*20000).floor() }}"}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,96],"id":"efd23699-5e56-4c7b-aa47-359830e33d66","name":"Enviar texto","credentials":{"evolutionApi":{"id":"y6FdTer3lT3wqVMO","name":"Evolution fiorelli"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,96],"id":"f2794198-0483-4014-9b90-ab16a37d9ab1","name":"Wait","webhookId":"08ba3e91-d1f1-482f-9ffe-c154c49f65a8"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Integrantes do clã","type":"main","index":0}]]},"Integrantes do clã":{"main":[[{"node":"Retira Fiorelli","type":"main","index":0}]]},"Retira Fiorelli":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"1002886e-fc43-4ab4-b8fb-7868e110d8ae","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:09:35.456Z","createdAt":"2026-01-06T04:09:35.456Z","role":"workflow:owner","workflowId":"25h7f3fNhy4lNTgb","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}