workflows/2IRIy4MtVt052oyi.json
{"updatedAt":"2026-07-22T21:01:31.141Z","createdAt":"2026-05-19T13:10:44.267Z","id":"2IRIy4MtVt052oyi","name":"[CONTEUDO] Transcreve Youtube Instagram","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"PkfIdq5yLvwfEKRi","mode":"list","cachedResultUrl":"/workflow/PkfIdq5yLvwfEKRi","cachedResultName":"[AI] [AUDIO] Transcreve Áudio por URL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"audio_url":"={{ $json.video_url }}","modelo (openai ou groq)":"groq"},"matchingColumns":[],"schema":[{"id":"audio_url","displayName":"audio_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"modelo (openai ou groq)","displayName":"modelo (openai ou groq)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,-144],"id":"c9ae6148-015c-4a78-a080-656f0164e860","name":"Call '[AI] [AUDIO] Transcreve Áudio por URL'"},{"parameters":{"formTitle":"LINK CONTEUDO","formFields":{"values":[{"fieldLabel":"link"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[0,-240],"id":"07c67b8f-e893-4010-b602-a580e46120e8","name":"On form submission","webhookId":"b1de334f-fe65-4a30-b001-8d4b12da596e"},{"parameters":{"jsCode":"const html = $json.data;\nconst reelURL = $('On form submission').first().json.link;\n\nif (!html || typeof html !== 'string') {\n  throw new Error(\n    'HTML não encontrado em $json.data'\n  );\n}\n\nconst marker =\n  '\"video_versions\":[{\"type\":101,\"url\":\"';\n\nconst start = html.indexOf(marker);\n\nif (start === -1) {\n  throw new Error(\n    'video_versions não foi encontrado no HTML'\n  );\n}\n\nconst urlStart = start + marker.length;\nconst urlEnd = html.indexOf('\"', urlStart);\n\nif (urlEnd === -1) {\n  throw new Error(\n    'Não foi possível identificar o final da URL'\n  );\n}\n\nconst rawUrl = html.slice(urlStart, urlEnd);\n\nlet videoUrl;\n\ntry {\n  videoUrl = JSON.parse(`\"${rawUrl}\"`);\n} catch {\n  videoUrl = rawUrl;\n}\n\nvideoUrl = videoUrl\n  .replace(/\\\\\\//g, '/')\n  .replace(/\\\\u0026/gi, '&')\n  .replace(/\\\\u0025/gi, '%')\n  .replace(/&amp;/g, '&');\n\nif (\n  !videoUrl.startsWith('https://') ||\n  !videoUrl.includes('.mp4')\n) {\n  throw new Error(\n    `A URL extraída não é um MP4 válido: ${videoUrl.slice(0, 200)}`\n  );\n}\n\nreturn {\n  json: {\n    reels_link: reelURL,\n    platform: 'instagram',\n    video_url: videoUrl,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-144],"id":"a79fcc5a-bba6-4264-805b-671dff4b17c4","name":"Pega link MP4"},{"parameters":{"url":"={{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,-144],"id":"67f90716-59d0-41c4-ad73-c39a44945079","name":"Carrega Página"},{"parameters":{"url":"={{ $json.subtitle_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"},{"name":"Accept","value":"application/json,text/plain,*/*"},{"name":"Referer","value":"=https://www.youtube.com/"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,-336],"id":"0f5607b0-2840-43e6-b475-03c7faa615fe","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.link }}","rightValue":"youtube","operator":{"type":"string","operation":"contains"},"id":"b2b891f8-c4a1-4f46-b4c6-d6181ba9dfc6"}],"combinator":"and"},"renameOutput":true,"outputKey":"youtube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"24ad2563-9a76-4095-b007-1fd2aa536438","leftValue":"={{ $json.link }}","rightValue":"instagram","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"instagram"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,-256],"id":"2b4d03d7-b069-496e-9443-62a1cdb8ffed","name":"Switch"},{"parameters":{"jsCode":"const link = String($json.link ?? '').trim();\n\nif (!link) {\n  throw new Error('O campo link não foi informado');\n}\n\nconst patterns = [\n  // youtube.com/shorts/VIDEO_ID\n  /(?:youtube\\.com\\/shorts\\/)([a-zA-Z0-9_-]{11})/,\n\n  // youtube.com/watch?v=VIDEO_ID\n  /(?:youtube\\.com\\/watch\\?.*?v=)([a-zA-Z0-9_-]{11})/,\n\n  // youtu.be/VIDEO_ID\n  /(?:youtu\\.be\\/)([a-zA-Z0-9_-]{11})/,\n\n  // youtube.com/embed/VIDEO_ID\n  /(?:youtube\\.com\\/embed\\/)([a-zA-Z0-9_-]{11})/,\n\n  // youtube.com/live/VIDEO_ID\n  /(?:youtube\\.com\\/live\\/)([a-zA-Z0-9_-]{11})/,\n\n  // youtube.com/v/VIDEO_ID\n  /(?:youtube\\.com\\/v\\/)([a-zA-Z0-9_-]{11})/,\n];\n\nlet videoId = null;\n\nfor (const pattern of patterns) {\n  const match = link.match(pattern);\n\n  if (match?.[1]) {\n    videoId = match[1];\n    break;\n  }\n}\n\n// Aceita também o ID puro\nif (\n  !videoId &&\n  /^[a-zA-Z0-9_-]{11}$/.test(link)\n) {\n  videoId = link;\n}\n\nif (!videoId) {\n  throw new Error(\n    `Não foi possível identificar o ID do vídeo: ${link}`\n  );\n}\n\nreturn {\n  json: {\n    ...$json,\n    video_id: videoId,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-336],"id":"9779ba73-9a17-45b6-b934-523cac4019a0","name":"Pega videoID"},{"parameters":{"url":"https://youtube-media-downloader.p.rapidapi.com/v2/video/details","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $json.video_id }}"},{"name":"urlAccess","value":"blocked"},{"name":"videos","value":"auto"},{"name":"audios","value":"auto"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-media-downloader.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"100ce180cfmsh1bfd4489e160df0p1fad44jsn7766105daac9"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-336],"id":"0db8b88b-e8e1-48db-8447-05222786b971","name":"RapidAPI - Video Details"},{"parameters":{"jsCode":"const videos = $json.videos?.items ?? [];\nconst audios = $json.audios?.items ?? [];\nconst subtitles = $json.subtitles?.items ?? [];\n\n/*\n * Vídeo MP4 que já contém áudio.\n */\nconst video =\n  videos.find(item =>\n    item.url &&\n    item.extension === 'mp4' &&\n    item.hasAudio === true\n  ) ??\n  videos.find(item =>\n    item.url &&\n    item.extension === 'mp4'\n  ) ??\n  videos[0];\n\n/*\n * Melhor áudio M4A.\n */\nconst audio =\n  audios\n    .filter(item =>\n      item.url &&\n      item.extension === 'm4a'\n    )\n    .sort(\n      (a, b) =>\n        Number(b.size ?? 0) -\n        Number(a.size ?? 0)\n    )[0] ??\n  audios.find(item => item.url);\n\n/*\n * Prioriza legenda em português.\n */\nconst subtitle =\n  subtitles.find(item => item.code === 'pt-BR') ??\n  subtitles.find(item => item.code === 'pt') ??\n  subtitles[0];\n\nif (!subtitle?.url) {\n  throw new Error(\n    'O vídeo não possui legenda disponível'\n  );\n}\n\nconst separator =\n  subtitle.url.includes('?') ? '&' : '?';\n\nreturn {\n  json: {\n    platform: 'youtube',\n\n    video_id: $json.id,\n    title: $json.title,\n\n    youtube_url:\n      `https://www.youtube.com/watch?v=${$json.id}`,\n\n    video_url: video?.url ?? null,\n    video_quality: video?.quality ?? null,\n    video_extension: video?.extension ?? null,\n    video_size: video?.size ?? null,\n    video_size_text: video?.sizeText ?? null,\n\n    audio_url: audio?.url ?? null,\n    audio_extension: audio?.extension ?? null,\n    audio_mime_type: audio?.mimeType ?? null,\n    audio_size: audio?.size ?? null,\n    audio_size_text: audio?.sizeText ?? null,\n\n    subtitle_url:\n      `${subtitle.url}${separator}fmt=json3`,\n    subtitle_language: subtitle.code ?? null,\n    subtitle_type: subtitle.text ?? null,\n\n    media_expiration:\n      $json.audios?.expiration ??\n      $json.videos?.expiration ??\n      null,\n\n    subtitle_expiration:\n      $json.subtitles?.expiration ?? null,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-336],"id":"bcb313ef-461e-4c89-894b-7d38638726f3","name":"Seleciona midias"},{"parameters":{"jsCode":"const media =\n  $('Seleciona midias').item.json;\n\nconst raw =\n  $json.data ??\n  $json.body ??\n  $json;\n\nif (\n  raw === null ||\n  raw === undefined ||\n  raw === ''\n) {\n  throw new Error(\n    'O YouTube retornou a legenda vazia'\n  );\n}\n\nlet captionData = raw;\n\nif (typeof captionData === 'string') {\n  const trimmed = captionData.trim();\n\n  if (!trimmed) {\n    throw new Error(\n      'O conteúdo da legenda está vazio'\n    );\n  }\n\n  try {\n    captionData = JSON.parse(trimmed);\n  } catch {\n    throw new Error(\n      `Resposta de legenda inválida: ${trimmed.slice(0, 300)}`\n    );\n  }\n}\n\nconst events = captionData.events ?? [];\n\nif (!Array.isArray(events) || !events.length) {\n  throw new Error(\n    'Nenhum evento de legenda foi retornado'\n  );\n}\n\nfunction formatTime(milliseconds) {\n  const totalSeconds = Math.floor(\n    Number(milliseconds ?? 0) / 1000\n  );\n\n  const hours = Math.floor(\n    totalSeconds / 3600\n  );\n\n  const minutes = Math.floor(\n    (totalSeconds % 3600) / 60\n  );\n\n  const seconds = totalSeconds % 60;\n\n  if (hours > 0) {\n    return [\n      hours,\n      minutes,\n      seconds,\n    ]\n      .map(value =>\n        String(value).padStart(2, '0')\n      )\n      .join(':');\n  }\n\n  return [\n    minutes,\n    seconds,\n  ]\n    .map(value =>\n      String(value).padStart(2, '0')\n    )\n    .join(':');\n}\n\nconst segments = events\n  .filter(event => Array.isArray(event.segs))\n  .map(event => {\n    const text = event.segs\n      .map(segment => segment.utf8 ?? '')\n      .join('')\n      .replace(/\\n/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n\n    return {\n      start_ms: Number(event.tStartMs ?? 0),\n      duration_ms: Number(\n        event.dDurationMs ?? 0\n      ),\n      timestamp: formatTime(\n        event.tStartMs\n      ),\n      text,\n    };\n  })\n  .filter(segment => segment.text);\n\nconst uniqueSegments = segments.filter(\n  (segment, index, array) =>\n    index === 0 ||\n    segment.text !== array[index - 1].text\n);\n\nconst transcription = uniqueSegments\n  .map(segment => segment.text)\n  .join(' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst transcriptionWithTimestamps =\n  uniqueSegments\n    .map(\n      segment =>\n        `[${segment.timestamp}] ${segment.text}`\n    )\n    .join('\\n');\n\nreturn {\n  json: {\n    ...media,\n\n    transcription,\n    transcription_with_timestamps:\n      transcriptionWithTimestamps,\n\n    segments: uniqueSegments,\n    total_segments: uniqueSegments.length,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-336],"id":"edce561b-bf74-4dfc-83a0-ee3bbb4f5545","name":"Transcrição"}],"connections":{"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Pega link MP4":{"main":[[{"node":"Call '[AI] [AUDIO] Transcreve Áudio por URL'","type":"main","index":0}]]},"Carrega Página":{"main":[[{"node":"Pega link MP4","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Pega videoID","type":"main","index":0}],[{"node":"Carrega Página","type":"main","index":0}]]},"Pega videoID":{"main":[[{"node":"RapidAPI - Video Details","type":"main","index":0}]]},"RapidAPI - Video Details":{"main":[[{"node":"Seleciona midias","type":"main","index":0}]]},"Seleciona midias":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcrição","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"76a955bd-5d3e-4ce3-b311-f2214e5d630a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-19T13:10:44.267Z","createdAt":"2026-05-19T13:10:44.267Z","role":"workflow:owner","workflowId":"2IRIy4MtVt052oyi","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}