workflows/3trykY1fWFlo7g2a.json
{"updatedAt":"2026-01-06T05:49:56.209Z","createdAt":"2026-01-06T04:09:38.272Z","id":"3trykY1fWFlo7g2a","name":"[CTX] [TINTIM] Fluxo Mensagem (v1.5) reprocessar","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,128],"id":"74898948-b07d-4fcd-bc6f-48674b89284d","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"execution_entity","mode":"list","cachedResultName":"execution_entity"},"returnAll":true,"where":{"values":[{"column":"workflowId","value":"={{ $json.workflowId }}"},{"column":"status","value":"error"},{"column":"retryOf","condition":"IS NULL"},{"column":"retrySuccessId","condition":"IS NULL"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{"connectionTimeout":30,"delayClosingIdleConnection":3,"queryBatching":"single","outputColumns":["id","workflowId"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,128],"id":"7b9b0f6a-7c14-45e3-9c99-0c8f37a510d3","name":"Postgres","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"bkNrHLYrYOJOgVez","name":"Postgres Hostinger - n8n_queue"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,128],"id":"d87ba788-fa72-49ee-9b19-4100ae3ac3e7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2048,96],"id":"0b536ad3-aa33-4a32-b67a-ff8c45a5f826"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[800,48],"id":"44c71b74-ac96-4e12-9677-755d0460d4b4","name":"n8n","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"3kS2kIEHG7qUtdqQ","name":"n8n hostinger"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9a8a63cc-0122-4f71-9b88-660704fdf201","name":"headers","value":"={{ $json.data.resultData.runData.Message[0].data.main[0][0].json.headers }}","type":"object"},{"id":"2a077ca5-7998-4c97-9596-fcc1cb322537","name":"params","value":"={{ $json.data.resultData.runData.Message[0].data.main[0][0].json.params }}","type":"object"},{"id":"9424f5cb-f598-48d1-a988-10743718babf","name":"query","value":"={{ $json.data.resultData.runData.Message[0].data.main[0][0].json.query }}","type":"object"},{"id":"87961e91-ebbe-4527-99ed-bd9b3016b722","name":"body","value":"={{ $json.data.resultData.runData.Message[0].data.main[0][0].json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,-32],"id":"7cfd6f8d-b44a-40e0-9459-70992e072748","name":"Webhook"},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $('Loop Over Items').item.json.id }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1680,-176],"id":"9c5a9611-98b6-4ebd-bbce-e2caa7589472","name":"n8n1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"3kS2kIEHG7qUtdqQ","name":"n8n hostinger"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c83ac958-fac2-4ee2-840e-314c10ddee68","name":"workflowId","value":"SRzEqe9MbtHbBbOb","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,128],"id":"0a99fe4d-9e38-4959-af69-834c8392ac3e","name":"workflowId"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8163f417-1832-44c2-baba-f06e4f74ebb6","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}},{"id":"6ac3f699-2c48-41a6-8383-88e3362fd294","leftValue":"={{ $json.headers }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,-32],"id":"92a1b18e-e6e3-4f5d-ba8b-ff4c87c8f0f1","name":"If tem headers e body"},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $('workflowId').first().json.workflowId }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1472,-112],"id":"00429d4c-92d2-4238-986c-8cf33e96a65e","name":"Reprocesss","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"workflowId","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"n8n","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Webhook","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If tem headers e body","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"workflowId":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"If tem headers e body":{"main":[[{"node":"Reprocesss","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Reprocesss":{"main":[[{"node":"n8n1","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"5d85dd81-8dcb-4a14-8f0c-5fab10302bda","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:09:38.272Z","createdAt":"2026-01-06T04:09:38.272Z","role":"workflow:owner","workflowId":"3trykY1fWFlo7g2a","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}