workflows/3WokBCLYQQettXsP.json
{"updatedAt":"2026-07-03T23:07:57.386Z","createdAt":"2026-07-03T22:14:50.423Z","id":"3WokBCLYQQettXsP","name":"[CTX] [META] Criação de Público","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3c90cff9-338f-481d-90da-cd09bd6d8262","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"customaudiences","options":{"queryParametersJson":"={{\n{\n  name: \"Visitantes 30 dias\",\n  subtype: \"WEBSITE\",\n  prefill: \"true\",\n  rule: JSON.stringify({\n    inclusions: {\n      operator: \"or\",\n      rules: [\n        {\n          event_sources: [\n            {\n              type: \"pixel\",\n              id: String($json.pixelFB),\n            }\n          ],\n          retention_seconds: 30 * 86400,\n          filter: {\n            operator: \"and\",\n            filters: [\n              {\n                field: \"event\",\n                operator: \"eq\",\n                value: \"ALL_VISITORS\"\n              }\n            ]\n          }\n        }\n      ]\n    }\n  })\n}\n}}"}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[672,96],"id":"65bc0a98-f69a-4016-b2e1-012feafbafad","name":"Add [DA] [M] Lead Total - PHONE","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"SIGLA","keyValue":"CCV"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[448,0],"id":"910e0133-a2e5-4c89-96e3-83533c2755fa","name":"Get row(s)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"0106ead2-ff85-434f-ae95-07503130aee6","name":"Dados Cliente"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v24.0/act_1125315128842296/customaudiences","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"Visitantes 30 dias"},{"name":"subtype","value":"WEBSITE"},{"name":"prefill","value":"true"},{"name":"rule","value":"={\"inclusions\":{\"operator\":\"or\",\"rules\":[{\"event_sources\":[{\"type\":\"pixel\",\"id\":\"748663854868935\"}],\"retention_seconds\":2592000,\"filter\":{\"operator\":\"and\",\"filters\":[{\"field\":\"event\",\"operator\":\"eq\",\"value\":\"ALL_VISITORS\"}]}}]}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,-96],"id":"3f5c7930-b4a8-489e-95c5-72a19859325e","name":"HTTP Request","credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Add [DA] [M] Lead Total - PHONE","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"versionId":"67c00134-ea24-4ab6-8c5c-20b8125ba6e5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-03T22:14:50.423Z","createdAt":"2026-07-03T22:14:50.423Z","role":"workflow:owner","workflowId":"3WokBCLYQQettXsP","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}