workflows/4Zrn29SauuixUxVd.json
{"updatedAt":"2026-03-19T21:37:43.566Z","createdAt":"2026-01-06T04:13:40.297Z","id":"4Zrn29SauuixUxVd","name":"[CTX] [MetaAds] Conector 7D - Dados Conta","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"Y6GnktusFaR9iZRa","mode":"list","cachedResultUrl":"/workflow/Y6GnktusFaR9iZRa","cachedResultName":"[CTX] [MetaAds] ad_accounts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-688],"id":"f5613702-f407-4844-9ab3-1c31d0618f7a","name":"Execute: ad_accounts","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"yilv0pXkkQvGLhrD","mode":"list","cachedResultUrl":"/workflow/yilv0pXkkQvGLhrD","cachedResultName":"[CTX] [MetaAds] ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-112],"id":"354abd07-27f8-4307-994e-89cc1ddfc022","name":"Execute: ads","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"iJRppFARaQl3TStz","mode":"list","cachedResultUrl":"/workflow/iJRppFARaQl3TStz","cachedResultName":"[CTX] [MetaAds] adsets"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-304],"id":"f10c5974-ed48-4fca-85f8-8efaee582e6c","name":"Execute: adsets","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"pCfde7uS4Ku664au","mode":"list","cachedResultUrl":"/workflow/pCfde7uS4Ku664au","cachedResultName":"[CTX] [MetaAds] campaigns"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-496],"id":"6ceaa0a6-86e3-4733-9ca5-11fc55b2334d","name":"Execute: campaigns","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-1120],"id":"a072c208-9f60-4da0-8063-b583b13f0de1","name":"Dados Globais"},{"parameters":{"workflowId":{"__rl":true,"value":"HFmSVEooHMA5RBMC","mode":"list","cachedResultUrl":"/workflow/HFmSVEooHMA5RBMC","cachedResultName":"[CTX] [MetaAds] custom_conversions"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,80],"id":"14a9d039-c40b-4af1-a6a4-b1f01b52626a","name":"Execute: custom_conversions","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7,\n  \"process_ad_creative\": true\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-544],"id":"64cafef5-fdcc-4349-9a5a-8efa0de9cfb2","name":"Dados Globais1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-736],"id":"0d051293-09be-434b-aa1c-c3b53785c21d","name":"Dados Globais2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-928],"id":"5ae0752d-41d5-4dbd-b541-54a30403348e","name":"Dados Globais3"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-352],"id":"f8105306-5733-4ee3-a756-8e4ad956e1a8","name":"Dados Globais4"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":10},{"triggerAtHour":16,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-352],"id":"9e7d8996-fc0d-492c-a221-f791c2766b33","name":"Midnight"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":20},{"triggerAtHour":11,"triggerAtMinute":20},{"triggerAtHour":16,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-736],"id":"883bea28-affa-4b42-8555-d92a2949b354","name":"20min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":10},{"triggerAtHour":11,"triggerAtMinute":10},{"triggerAtHour":16,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-928],"id":"105231e0-0172-4532-af60-a237e2b79788","name":"10min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":30},{"triggerAtHour":11,"triggerAtMinute":30},{"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-544],"id":"4b759251-4b21-44ea-a7d0-e675af0b95cc","name":"30min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":15},{"triggerAtHour":11,"triggerAtMinute":15},{"triggerAtHour":16,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-1120],"id":"c5ff2639-523a-4f90-a5f3-2537815d7a78","name":"15min"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-1120],"id":"1bb5549f-1cc7-4d00-bd96-f3936ea8abf6","name":"Filter: Contas válidas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-928],"id":"d49f8287-4250-4530-9ae3-bb0bc3c137a7","name":"Filter: Contas válidas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-736],"id":"1a7d0176-ff01-4f3f-9faa-473ceb5fb6fc","name":"Filter: Contas válidas2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-544],"id":"1bc48025-cd29-4a20-a619-70fab73a8b0c","name":"Filter: Contas válidas3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-352],"id":"d044893c-9cfb-4a2f-9114-108cd033446c","name":"Filter: Contas válidas4"},{"parameters":{"mode":"raw","jsonOutput":"=  {\n\n      \"db_name\": \"{{ $json.db_name }}\",\n      \"act_account_id\": \"{{ $json.act_account_id }}\",\n      \"account_id\": \"{{ $json.act_account_id.replaceAll(\"act_\",\"\") }}\"\n\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,-1536],"id":"d5996bc7-73aa-40e2-b543-7905aefda62f","name":"Dados Globais5"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-1440],"id":"47310ad7-d08f-4331-b479-150511632a65","name":"15min1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-1440],"id":"6474c4f6-edaf-4561-8c38-44a0ae63df77","name":"Filter: Contas válidas5"},{"parameters":{"workflowId":{"__rl":true,"value":"9YAWWLDMe8NP9IpN","mode":"list","cachedResultUrl":"/workflow/9YAWWLDMe8NP9IpN","cachedResultName":"[CTX] [MetaAds] ad_creative"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1008,-1440],"id":"f60a3b47-3a95-4c4c-9c1a-29dbf84f1d8c","name":"Execute: ad_creative","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"mode":"combineBySql","query":"SELECT i1.*\n  ,i2.account_id as account_id_sql\n  ,i2.creative_id\n  ,i2.ad_id \nFROM input1 as i1 \n  LEFT JOIN input2 as i2 \n    ON i1.account_id = i2.account_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1904,-1440],"id":"85dda9da-4a33-43b9-9b05-0bbcb0d1b98e","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"dados_conta\": {\n    \"db_name\": \"{{ $json.db_name }}\",\n    \"act_account_id\": \"{{ $json.act_account_id }}\"\n  },\n  \"creative_id\": \"{{ $json.creative_id }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,-1440],"id":"1bf96231-ffc3-4cd3-b685-a63b9303f650","name":"Gera Campos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1456,-1440],"id":"77e513ba-b9e7-4379-a2e7-b596059fa89f","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be1c0a88-9677-44f4-9579-28889e2acbc8","leftValue":"={{ $json.creative_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d42cbd6d-c084-4e47-a568-47eeee32b77b","leftValue":"={{ $json.creative_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1680,-1440],"id":"de1d1ae3-228f-4825-a0e3-75a048e1f007","name":"Filter"},{"parameters":{"operation":"executeQuery","query":"SELECT CONVERT(ad.account_id, CHAR) AS account_id, CONVERT(ad.creative_id, CHAR) AS creative_id, ad.ad_id as ad_id\nFROM {{ $json.db_name }}.`mc_ads` AS ad\nLEFT JOIN {{ $json.db_name }}.mc_ad_creatives AS c\n    ON ad.creative_id = c.id\n WHERE c.id IS NULL\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2352,-1344],"id":"391a75c4-cd5d-4916-9207-e2930ba9ad3c","name":"mc_ads","alwaysOutputData":true,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-1440],"id":"4e80d87b-639a-44d6-b5f0-1bfddd2844f3","name":"Get row(s)"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 15,\n  \"process_ad_creative\": true\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,80],"id":"74e87457-569b-4749-a3ef-9cfbb8cff41c","name":"Dados Globais6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,80],"id":"f604b1bd-31a4-4aaf-94e1-7d20faa2abea","name":"Filter: Contas válidas6"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3024,80],"id":"83e194b3-7cff-4b3e-8763-35fb8880d89d","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-1120],"id":"25d434b8-0559-49d3-83f5-3b02637832b7","name":"Get row(s)1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-928],"id":"64211fb8-3136-46fd-847d-459a7946437a","name":"Get row(s)2"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-736],"id":"157de1b6-36c4-4bf8-91da-2c5752537761","name":"Get row(s)3"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-544],"id":"80fe2bf4-d3ee-4105-a002-771b193f1d75","name":"Get row(s)4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-352],"id":"4a4ed2b3-e2a0-4964-b218-8660253cc0ce","name":"Get row(s)5"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"},{"keyName":"SIGLA","keyValue":"DA"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,80],"id":"c457fb6c-f516-4e46-9835-d12c8829594a","name":"Get row(s)6"},{"parameters":{"assignments":{"assignments":[{"id":"ac610d95-430f-43ec-8fc4-c75f5c5b4397","name":"ad_id","value":"={{ $json.ad_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,-1344],"id":"5923f283-b99a-415b-9526-7b8c230d1189","name":"Edit Fields"}],"connections":{"Execute: ad_accounts":{"main":[[],[]]},"Dados Globais":{"main":[[{"node":"Execute: ad_accounts","type":"main","index":0}]]},"Execute: ads":{"main":[[],[]]},"Execute: adsets":{"main":[[],[]]},"Execute: campaigns":{"main":[[],[]]},"Dados Globais1":{"main":[[{"node":"Execute: ads","type":"main","index":0}]]},"Dados Globais2":{"main":[[{"node":"Execute: adsets","type":"main","index":0}]]},"Dados Globais3":{"main":[[{"node":"Execute: campaigns","type":"main","index":0}]]},"Dados Globais4":{"main":[[{"node":"Execute: custom_conversions","type":"main","index":0}]]},"15min":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"10min":{"main":[[{"node":"Get row(s)2","type":"main","index":0}]]},"20min":{"main":[[{"node":"Get row(s)3","type":"main","index":0}]]},"30min":{"main":[[{"node":"Get row(s)4","type":"main","index":0}]]},"Midnight":{"main":[[{"node":"Get row(s)5","type":"main","index":0}]]},"Filter: Contas válidas":{"main":[[{"node":"Dados Globais","type":"main","index":0}]]},"Filter: Contas válidas1":{"main":[[{"node":"Dados Globais3","type":"main","index":0}]]},"Filter: Contas válidas2":{"main":[[{"node":"Dados Globais2","type":"main","index":0}]]},"Filter: Contas válidas3":{"main":[[{"node":"Dados Globais1","type":"main","index":0}]]},"Filter: Contas válidas4":{"main":[[{"node":"Dados Globais4","type":"main","index":0}]]},"Dados Globais5":{"main":[[{"node":"Merge","type":"main","index":0}]]},"15min1":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Filter: Contas válidas5":{"main":[[{"node":"mc_ads","type":"main","index":0},{"node":"Dados Globais5","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Gera Campos","type":"main","index":0}]]},"Gera Campos":{"main":[[{"node":"Execute: ad_creative","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"mc_ads":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Filter: Contas válidas5","type":"main","index":0}]]},"Filter: Contas válidas6":{"main":[[{"node":"Dados Globais6","type":"main","index":0}]]},"Dados Globais6":{"main":[[{"node":"Execute: ad_accounts","type":"main","index":0},{"node":"Execute: campaigns","type":"main","index":0},{"node":"Execute: adsets","type":"main","index":0},{"node":"Execute: ads","type":"main","index":0},{"node":"Execute: custom_conversions","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s)6","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"Filter: Contas válidas","type":"main","index":0}]]},"Get row(s)2":{"main":[[{"node":"Filter: Contas válidas1","type":"main","index":0}]]},"Get row(s)3":{"main":[[{"node":"Filter: Contas válidas2","type":"main","index":0}]]},"Get row(s)4":{"main":[[{"node":"Filter: Contas válidas3","type":"main","index":0}]]},"Get row(s)5":{"main":[[{"node":"Filter: Contas válidas4","type":"main","index":0}]]},"Get row(s)6":{"main":[[{"node":"Filter: Contas válidas6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","binaryMode":"separate"},"staticData":{"node:Everyday at 3am":{"recurrenceRules":[]},"node:Cron 1h":{"recurrenceRules":[16]},"node:Cron 1h1":{"recurrenceRules":[]},"node:Cron 1h2":{"recurrenceRules":[]},"node:Cron 1h3":{"recurrenceRules":[]},"node:Cron 1h4":{"recurrenceRules":[]},"node:Midnight":{"recurrenceRules":[]},"node:20min":{"recurrenceRules":[]},"node:10min":{"recurrenceRules":[]},"node:30min":{"recurrenceRules":[]},"node:15min":{"recurrenceRules":[]},"node:Midnight1":{"recurrenceRules":[]},"node:20min1":{"recurrenceRules":[]},"node:10min1":{"recurrenceRules":[]},"node:30min1":{"recurrenceRules":[]},"node:15min1":{"recurrenceRules":[]},"node:7h30 e 16h30":{"recurrenceRules":[]}},"meta":null,"versionId":"9fedaf38-8ce0-4b1a-8c91-6fcc205fa3e9","activeVersionId":"9fedaf38-8ce0-4b1a-8c91-6fcc205fa3e9","triggerCount":6,"shared":[{"updatedAt":"2026-01-06T04:13:40.297Z","createdAt":"2026-01-06T04:13:40.297Z","role":"workflow:owner","workflowId":"4Zrn29SauuixUxVd","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-19T22:05:43.376Z","createdAt":"2026-03-19T21:37:43.568Z","versionId":"9fedaf38-8ce0-4b1a-8c91-6fcc205fa3e9","workflowId":"4Zrn29SauuixUxVd","nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"Y6GnktusFaR9iZRa","mode":"list","cachedResultUrl":"/workflow/Y6GnktusFaR9iZRa","cachedResultName":"[CTX] [MetaAds] ad_accounts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-688],"id":"f5613702-f407-4844-9ab3-1c31d0618f7a","name":"Execute: ad_accounts","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"yilv0pXkkQvGLhrD","mode":"list","cachedResultUrl":"/workflow/yilv0pXkkQvGLhrD","cachedResultName":"[CTX] [MetaAds] ads"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-112],"id":"354abd07-27f8-4307-994e-89cc1ddfc022","name":"Execute: ads","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"iJRppFARaQl3TStz","mode":"list","cachedResultUrl":"/workflow/iJRppFARaQl3TStz","cachedResultName":"[CTX] [MetaAds] adsets"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-304],"id":"f10c5974-ed48-4fca-85f8-8efaee582e6c","name":"Execute: adsets","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"pCfde7uS4Ku664au","mode":"list","cachedResultUrl":"/workflow/pCfde7uS4Ku664au","cachedResultName":"[CTX] [MetaAds] campaigns"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,-496],"id":"6ceaa0a6-86e3-4733-9ca5-11fc55b2334d","name":"Execute: campaigns","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-1120],"id":"a072c208-9f60-4da0-8063-b583b13f0de1","name":"Dados Globais"},{"parameters":{"workflowId":{"__rl":true,"value":"HFmSVEooHMA5RBMC","mode":"list","cachedResultUrl":"/workflow/HFmSVEooHMA5RBMC","cachedResultName":"[CTX] [MetaAds] custom_conversions"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2128,80],"id":"14a9d039-c40b-4af1-a6a4-b1f01b52626a","name":"Execute: custom_conversions","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7,\n  \"process_ad_creative\": true\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-544],"id":"64cafef5-fdcc-4349-9a5a-8efa0de9cfb2","name":"Dados Globais1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-736],"id":"0d051293-09be-434b-aa1c-c3b53785c21d","name":"Dados Globais2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-928],"id":"5ae0752d-41d5-4dbd-b541-54a30403348e","name":"Dados Globais3"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"FB_API_VERSION\": \"{{ $vars.FB_API_VERSION }}\",\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 7\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-352],"id":"f8105306-5733-4ee3-a756-8e4ad956e1a8","name":"Dados Globais4"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":10},{"triggerAtHour":16,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-352],"id":"9e7d8996-fc0d-492c-a221-f791c2766b33","name":"Midnight"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":20},{"triggerAtHour":11,"triggerAtMinute":20},{"triggerAtHour":16,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-736],"id":"883bea28-affa-4b42-8555-d92a2949b354","name":"20min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":10},{"triggerAtHour":11,"triggerAtMinute":10},{"triggerAtHour":16,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-928],"id":"105231e0-0172-4532-af60-a237e2b79788","name":"10min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":30},{"triggerAtHour":11,"triggerAtMinute":30},{"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-544],"id":"4b759251-4b21-44ea-a7d0-e675af0b95cc","name":"30min"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":15},{"triggerAtHour":11,"triggerAtMinute":15},{"triggerAtHour":16,"triggerAtMinute":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-1120],"id":"c5ff2639-523a-4f90-a5f3-2537815d7a78","name":"15min"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-1120],"id":"1bb5549f-1cc7-4d00-bd96-f3936ea8abf6","name":"Filter: Contas válidas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-928],"id":"d49f8287-4250-4530-9ae3-bb0bc3c137a7","name":"Filter: Contas válidas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-736],"id":"1a7d0176-ff01-4f3f-9faa-473ceb5fb6fc","name":"Filter: Contas válidas2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-544],"id":"1bc48025-cd29-4a20-a619-70fab73a8b0c","name":"Filter: Contas válidas3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-352],"id":"d044893c-9cfb-4a2f-9114-108cd033446c","name":"Filter: Contas válidas4"},{"parameters":{"mode":"raw","jsonOutput":"=  {\n\n      \"db_name\": \"{{ $json.db_name }}\",\n      \"act_account_id\": \"{{ $json.act_account_id }}\",\n      \"account_id\": \"{{ $json.act_account_id.replaceAll(\"act_\",\"\") }}\"\n\n  }\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,-1536],"id":"d5996bc7-73aa-40e2-b543-7905aefda62f","name":"Dados Globais5"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3024,-1440],"id":"47310ad7-d08f-4331-b479-150511632a65","name":"15min1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,-1440],"id":"6474c4f6-edaf-4561-8c38-44a0ae63df77","name":"Filter: Contas válidas5"},{"parameters":{"workflowId":{"__rl":true,"value":"9YAWWLDMe8NP9IpN","mode":"list","cachedResultUrl":"/workflow/9YAWWLDMe8NP9IpN","cachedResultName":"[CTX] [MetaAds] ad_creative"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1008,-1440],"id":"f60a3b47-3a95-4c4c-9c1a-29dbf84f1d8c","name":"Execute: ad_creative","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"mode":"combineBySql","query":"SELECT i1.*\n  ,i2.account_id as account_id_sql\n  ,i2.creative_id\n  ,i2.ad_id \nFROM input1 as i1 \n  LEFT JOIN input2 as i2 \n    ON i1.account_id = i2.account_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1904,-1440],"id":"85dda9da-4a33-43b9-9b05-0bbcb0d1b98e","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"dados_conta\": {\n    \"db_name\": \"{{ $json.db_name }}\",\n    \"act_account_id\": \"{{ $json.act_account_id }}\"\n  },\n  \"creative_id\": \"{{ $json.creative_id }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,-1440],"id":"1bf96231-ffc3-4cd3-b685-a63b9303f650","name":"Gera Campos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1456,-1440],"id":"77e513ba-b9e7-4379-a2e7-b596059fa89f","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be1c0a88-9677-44f4-9579-28889e2acbc8","leftValue":"={{ $json.creative_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d42cbd6d-c084-4e47-a568-47eeee32b77b","leftValue":"={{ $json.creative_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1680,-1440],"id":"de1d1ae3-228f-4825-a0e3-75a048e1f007","name":"Filter"},{"parameters":{"operation":"executeQuery","query":"SELECT CONVERT(ad.account_id, CHAR) AS account_id, CONVERT(ad.creative_id, CHAR) AS creative_id, ad.ad_id as ad_id\nFROM {{ $json.db_name }}.`mc_ads` AS ad\nLEFT JOIN {{ $json.db_name }}.mc_ad_creatives AS c\n    ON ad.creative_id = c.id\n WHERE c.id IS NULL\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-2352,-1344],"id":"391a75c4-cd5d-4916-9207-e2930ba9ad3c","name":"mc_ads","alwaysOutputData":true,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-1440],"id":"4e80d87b-639a-44d6-b5f0-1bfddd2844f3","name":"Get row(s)"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"date_preset\": \"today\",\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"updated_since\": 15,\n  \"process_ad_creative\": true\n}\n","includeOtherFields":true,"include":"selected","includeFields":"db_name, act_account_id","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,80],"id":"74e87457-569b-4749-a3ef-9cfbb8cff41c","name":"Dados Globais6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fa757669-c4fc-4bde-8203-9a9bedb7e6cf","leftValue":"={{ $json.db_name }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f89cfac3-fa30-4346-9c25-65a3a16dc4ba","leftValue":"={{ $json.act_account_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2576,80],"id":"f604b1bd-31a4-4aaf-94e1-7d20faa2abea","name":"Filter: Contas válidas6"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3024,80],"id":"83e194b3-7cff-4b3e-8763-35fb8880d89d","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-1120],"id":"25d434b8-0559-49d3-83f5-3b02637832b7","name":"Get row(s)1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-928],"id":"64211fb8-3136-46fd-847d-459a7946437a","name":"Get row(s)2"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-736],"id":"157de1b6-36c4-4bf8-91da-2c5752537761","name":"Get row(s)3"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-544],"id":"80fe2bf4-d3ee-4105-a002-771b193f1d75","name":"Get row(s)4"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,-352],"id":"4a4ed2b3-e2a0-4964-b218-8660253cc0ce","name":"Get row(s)5"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"act_account_id","condition":"gt"},{"keyName":"SIGLA","keyValue":"DA"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-2800,80],"id":"c457fb6c-f516-4e46-9835-d12c8829594a","name":"Get row(s)6"},{"parameters":{"assignments":{"assignments":[{"id":"ac610d95-430f-43ec-8fc4-c75f5c5b4397","name":"ad_id","value":"={{ $json.ad_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2128,-1344],"id":"5923f283-b99a-415b-9526-7b8c230d1189","name":"Edit Fields"}],"connections":{"Execute: ad_accounts":{"main":[[],[]]},"Dados Globais":{"main":[[{"node":"Execute: ad_accounts","type":"main","index":0}]]},"Execute: ads":{"main":[[],[]]},"Execute: adsets":{"main":[[],[]]},"Execute: campaigns":{"main":[[],[]]},"Dados Globais1":{"main":[[{"node":"Execute: ads","type":"main","index":0}]]},"Dados Globais2":{"main":[[{"node":"Execute: adsets","type":"main","index":0}]]},"Dados Globais3":{"main":[[{"node":"Execute: campaigns","type":"main","index":0}]]},"Dados Globais4":{"main":[[{"node":"Execute: custom_conversions","type":"main","index":0}]]},"15min":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"10min":{"main":[[{"node":"Get row(s)2","type":"main","index":0}]]},"20min":{"main":[[{"node":"Get row(s)3","type":"main","index":0}]]},"30min":{"main":[[{"node":"Get row(s)4","type":"main","index":0}]]},"Midnight":{"main":[[{"node":"Get row(s)5","type":"main","index":0}]]},"Filter: Contas válidas":{"main":[[{"node":"Dados Globais","type":"main","index":0}]]},"Filter: Contas válidas1":{"main":[[{"node":"Dados Globais3","type":"main","index":0}]]},"Filter: Contas válidas2":{"main":[[{"node":"Dados Globais2","type":"main","index":0}]]},"Filter: Contas válidas3":{"main":[[{"node":"Dados Globais1","type":"main","index":0}]]},"Filter: Contas válidas4":{"main":[[{"node":"Dados Globais4","type":"main","index":0}]]},"Dados Globais5":{"main":[[{"node":"Merge","type":"main","index":0}]]},"15min1":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Filter: Contas válidas5":{"main":[[{"node":"mc_ads","type":"main","index":0},{"node":"Dados Globais5","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Gera Campos","type":"main","index":0}]]},"Gera Campos":{"main":[[{"node":"Execute: ad_creative","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"mc_ads":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Filter: Contas válidas5","type":"main","index":0}]]},"Filter: Contas válidas6":{"main":[[{"node":"Dados Globais6","type":"main","index":0}]]},"Dados Globais6":{"main":[[{"node":"Execute: ad_accounts","type":"main","index":0},{"node":"Execute: campaigns","type":"main","index":0},{"node":"Execute: adsets","type":"main","index":0},{"node":"Execute: ads","type":"main","index":0},{"node":"Execute: custom_conversions","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s)6","type":"main","index":0}]]},"Get row(s)1":{"main":[[{"node":"Filter: Contas válidas","type":"main","index":0}]]},"Get row(s)2":{"main":[[{"node":"Filter: Contas válidas1","type":"main","index":0}]]},"Get row(s)3":{"main":[[{"node":"Filter: Contas válidas2","type":"main","index":0}]]},"Get row(s)4":{"main":[[{"node":"Filter: Contas válidas3","type":"main","index":0}]]},"Get row(s)5":{"main":[[{"node":"Filter: Contas válidas4","type":"main","index":0}]]},"Get row(s)6":{"main":[[{"node":"Filter: Contas válidas6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"authors":"Convertix Digital","name":"Version 9fedaf38","description":"","autosaved":true},"tags":[]}