workflows/5_mn1BHZaqZMnGCcJtmqq.json
{"updatedAt":"2026-01-30T15:10:55.034Z","createdAt":"2026-01-19T16:23:07.986Z","id":"5_mn1BHZaqZMnGCcJtmqq","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,80],"id":"8285d1b6-f7e3-4bbb-ade2-a39f11382f26","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"ctxoperacoes","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[224,80],"id":"9f2d4828-d3c8-4858-b3d1-07aa48fd6499","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,80],"id":"ac5669d9-0bb7-4764-8606-d1bfc75ae2f9","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e611a4be-01a9-4ec7-9f94-7569fe0a4a0d","leftValue":"={{ $json.id }}","rightValue":"=120363406742360319|120363423583399652@g.us|120363401463879551@g.us","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[672,80],"id":"0e5de8a5-b8a9-4c1f-9304-5da0620be39c","name":"Filter"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"ctxoperacoes","groupJid":"={{ $json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1120,0],"id":"91d8f801-de0c-4ca4-801d-b0598eb958c7","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}},{"parameters":{"resource":"groups-api","operation":"leave-group","instanceName":"ctxoperacoes","groupJid":"={{ $('Loop Over Items').item.json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1568,0],"id":"1289e3b9-3978-4caf-b4a8-822794a12251","name":"Sair do grupo","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,80],"id":"534dc653-b203-43c5-8682-c39ad9906b88","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2016,80],"id":"6c6c4f6c-1077-4534-a10d-017b3418e78f"},{"parameters":{"amount":"={{ 20+Math.random()*10 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,0],"id":"25ddb9af-7170-4c56-881b-66a5b42542a4","name":"Wait","webhookId":"98c994ed-fe2d-4bab-9c04-d7abd00f1d85"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"64328e87-f609-4fee-bdd2-132097777dc2","leftValue":"={{ $json.data.participants.length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1328,0],"id":"0408d156-404c-4cc2-85e6-139c988efcba","name":"If"},{"parameters":{"resource":"groups-api","operation":"update-participants","instanceName":"ctxoperacoes","groupJid":"={{ $('Loop Over Items').item.json.id }}","action":"remove","participants":"={{ $json.data.participants[0].id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1472,160],"id":"6648012a-b2e5-427b-bedb-0e06cc89960b","name":"Atualizar membros do grupo","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sair do grupo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"If":{"main":[[{"node":"Sair do grupo","type":"main","index":0}],[{"node":"Atualizar membros do grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"saveExecutionProgress":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"3d1ebcc0-f6a6-48ae-9416-bba53603cb62","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-19T16:23:07.986Z","createdAt":"2026-01-19T16:23:07.986Z","role":"workflow:owner","workflowId":"5_mn1BHZaqZMnGCcJtmqq","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}