workflows/5jsCEjBQFvllNHVG.json
{"updatedAt":"2026-03-30T17:40:27.018Z","createdAt":"2026-03-30T11:46:49.325Z","id":"5jsCEjBQFvllNHVG","name":"[SDR] Guarda Transcrição da Conversa","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"Transcrição da conversa Powered by Chatwoot","sender":"Ricardo Fiorelli de ctxvendas <assessoria@convertix.digital>"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,144],"id":"c0a191e0-2dee-4bb2-bb61-979919a6036e","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,48],"id":"6c5c0b75-79c5-4936-b485-3bed8cb10696","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"f1e8cc95-f5ac-4751-94ba-33babb305895","name":"text","value":"={{ $json.text.replaceAll(\"Ricardo Fiorelli\",\"Agente: Julia Gabriela\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"77730bb3-bb4b-435c-8682-e5c72a36107d","name":"Edit Fields"},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,240],"id":"83a50adc-a5b9-4e58-8394-3d2342b9f124","name":"Delete a message","webhookId":"863c65c4-478e-4166-8881-e99fe6a819d4","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"name":"={{ $('Gmail Trigger').item.json.subject }}.txt","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,48],"id":"4f76db54-ecf8-4634-b37a-18b76c6f460b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"httpMethod":"POST","path":"chatwoot-transcricao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-176],"id":"b4517115-81c5-40a1-8214-0a4ba34571ea","name":"Webhook","webhookId":"b3f2e9df-9c17-483b-89fb-c00f26b72d7e"},{"parameters":{"workflowId":{"__rl":true,"value":"w2YtBwjZHhE7Wetk","mode":"list","cachedResultUrl":"/workflow/w2YtBwjZHhE7Wetk","cachedResultName":"[SDR] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"processar_IA":true,"qtd_messages (máx 30)":30,"conversation_id":"={{ $json.body.messages[0].conversation_id }}"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"qtd_messages (máx 30)","displayName":"qtd_messages (máx 30)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[208,-176],"id":"5731466a-b4d3-49ff-8e1e-6a464f7ee7fa","name":"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'"},{"parameters":{"assignments":{"assignments":[{"id":"3b69f7b2-4749-419e-a362-b1818f735f29","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_inbox.contact_id }}","type":"number"},{"id":"06fa8dbf-e4e4-414f-b96e-a5e894440578","name":"conversation_id","value":"={{ $('Webhook').item.json.body.messages[0].conversation_id }}","type":"number"},{"id":"8794cb40-989c-4651-9cbc-cf0a332f20c2","name":"labels","value":"={{ $('Webhook').item.json.body.labels.toJsonString() }}","type":"string"},{"id":"9d4cac01-0fa9-4621-ae95-9a9e743932fa","name":"lead_name","value":"={{ $('Webhook').item.json.body.meta.sender.name }}","type":"string"},{"id":"ff29556a-55d0-49ed-a7fa-41682388581e","name":"lead_phone","value":"={{ $('Webhook').item.json.body.meta.sender.phone_number }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-176],"id":"f12cb4e1-2248-447e-9cb8-8a9954e5ba10","name":"Edit Fields1"},{"parameters":{"operation":"toText","sourceProperty":"=text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[832,-176],"id":"9b674f6a-8357-4a86-9d81-3968615fb2ce","name":"Convert to File1"},{"parameters":{"name":"=[#{{ $('Webhook').item.json.body.messages[0].conversation_id }}] Transcrição da Conversa {{ $('Webhook').item.json.body.meta.sender.name }} - .json","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1056,-176],"id":"1ffda66c-f59c-403f-a300-8c24a3c01c13","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2a8cbca-fe9f-453e-bef1-24dd314444a9","name":"text","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-176],"id":"aceaa820-2013-411e-91f0-193f2670208d","name":"Edit Fields2"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Delete a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'","type":"main","index":0}]]},"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1774888054,"possibleDuplicates":["19d3f9282e9972d4"]}}},"meta":{"templateCredsSetupCompleted":true},"versionId":"6b5c1006-b66c-4448-a010-821dc5762d58","activeVersionId":"6b5c1006-b66c-4448-a010-821dc5762d58","triggerCount":2,"shared":[{"updatedAt":"2026-03-30T11:46:49.325Z","createdAt":"2026-03-30T11:46:49.325Z","role":"workflow:owner","workflowId":"5jsCEjBQFvllNHVG","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-30T17:40:34.409Z","createdAt":"2026-03-30T17:40:27.020Z","versionId":"6b5c1006-b66c-4448-a010-821dc5762d58","workflowId":"5jsCEjBQFvllNHVG","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"Transcrição da conversa Powered by Chatwoot","sender":"Ricardo Fiorelli de ctxvendas <assessoria@convertix.digital>"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,144],"id":"c0a191e0-2dee-4bb2-bb61-979919a6036e","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,48],"id":"6c5c0b75-79c5-4936-b485-3bed8cb10696","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"f1e8cc95-f5ac-4751-94ba-33babb305895","name":"text","value":"={{ $json.text.replaceAll(\"Ricardo Fiorelli\",\"Agente: Julia Gabriela\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,48],"id":"77730bb3-bb4b-435c-8682-e5c72a36107d","name":"Edit Fields"},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,240],"id":"83a50adc-a5b9-4e58-8394-3d2342b9f124","name":"Delete a message","webhookId":"863c65c4-478e-4166-8881-e99fe6a819d4","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"name":"={{ $('Gmail Trigger').item.json.subject }}.txt","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,48],"id":"4f76db54-ecf8-4634-b37a-18b76c6f460b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"httpMethod":"POST","path":"chatwoot-transcricao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-176],"id":"b4517115-81c5-40a1-8214-0a4ba34571ea","name":"Webhook","webhookId":"b3f2e9df-9c17-483b-89fb-c00f26b72d7e"},{"parameters":{"workflowId":{"__rl":true,"value":"w2YtBwjZHhE7Wetk","mode":"list","cachedResultUrl":"/workflow/w2YtBwjZHhE7Wetk","cachedResultName":"[SDR] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"processar_IA":true,"qtd_messages (máx 30)":30,"conversation_id":"={{ $json.body.messages[0].conversation_id }}"},"matchingColumns":[],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"qtd_messages (máx 30)","displayName":"qtd_messages (máx 30)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[208,-176],"id":"5731466a-b4d3-49ff-8e1e-6a464f7ee7fa","name":"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'"},{"parameters":{"assignments":{"assignments":[{"id":"3b69f7b2-4749-419e-a362-b1818f735f29","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_inbox.contact_id }}","type":"number"},{"id":"06fa8dbf-e4e4-414f-b96e-a5e894440578","name":"conversation_id","value":"={{ $('Webhook').item.json.body.messages[0].conversation_id }}","type":"number"},{"id":"8794cb40-989c-4651-9cbc-cf0a332f20c2","name":"labels","value":"={{ $('Webhook').item.json.body.labels.toJsonString() }}","type":"string"},{"id":"9d4cac01-0fa9-4621-ae95-9a9e743932fa","name":"lead_name","value":"={{ $('Webhook').item.json.body.meta.sender.name }}","type":"string"},{"id":"ff29556a-55d0-49ed-a7fa-41682388581e","name":"lead_phone","value":"={{ $('Webhook').item.json.body.meta.sender.phone_number }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,-176],"id":"f12cb4e1-2248-447e-9cb8-8a9954e5ba10","name":"Edit Fields1"},{"parameters":{"operation":"toText","sourceProperty":"=text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[832,-176],"id":"9b674f6a-8357-4a86-9d81-3968615fb2ce","name":"Convert to File1"},{"parameters":{"name":"=[#{{ $('Webhook').item.json.body.messages[0].conversation_id }}] Transcrição da Conversa {{ $('Webhook').item.json.body.meta.sender.name }} - .json","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1056,-176],"id":"1ffda66c-f59c-403f-a300-8c24a3c01c13","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2a8cbca-fe9f-453e-bef1-24dd314444a9","name":"text","value":"={{ $json.toJsonString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-176],"id":"aceaa820-2013-411e-91f0-193f2670208d","name":"Edit Fields2"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Delete a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'","type":"main","index":0}]]},"Call '[SDR] [CHATWOOT] Gera Resumo Histórico Longo'":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 6b5c1006","description":"","autosaved":true},"tags":[]}