workflows/62QtMamEtHHwYM7d.json
{"updatedAt":"2026-06-05T16:37:25.192Z","createdAt":"2026-04-21T21:09:12.800Z","id":"62QtMamEtHHwYM7d","name":"[AUAU] [BRUNA] Processa IA SDR","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0,"maxTokens":-1,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[11664,1392],"id":"33b79e30-95cb-44be-8596-2704d05c07af","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"promptType":"define","text":"=Analise a entrada abaixo e responda somente com JSON válido no contrato exigido.\n\n==================================================\nCONFIGURAÇÃO FILTRADA DA BRUNA PARA O MODELO\n==================================================\n\nUse esta configuração como fonte principal para regras conversacionais, preços visíveis ao lead, elegibilidade, handoff humano, coleta de dados, comportamento dos cães, unidades e taxonomia.\n\nEsta configuração é uma versão filtrada. Ela não contém etiquetas internas, notas internas, regras administrativas, arquivos específicos de guia nem dados bancários completos.\n\n{{ JSON.stringify($json.config_bruna_modelo || {}, null, 2) }}\n\n==================================================\nMENSAGEM ATUAL DO CLIENTE\n==================================================\n\n{{ $json.message?.content || \"\" }}\n\n==================================================\nMETADADOS DA MENSAGEM ATUAL\n==================================================\n\n{{ JSON.stringify({\n  message_modality: $json.message?.message_modality || \"\",\n  has_text: $json.message?.has_text === true,\n  has_attachment: $json.message?.has_attachment === true\n}, null, 2) }}\n\n==================================================\nHISTÓRICO CONSOLIDADO\n==================================================\n\n{{ $json.message?.history_for_crm || \"\" }}\n\n==================================================\nÚLTIMA MENSAGEM DA BRUNA ANTES DO BLOCO ATUAL\n==================================================\n\n{{ $json.message?.last_bruna_message_before_current_block || \"\" }}\n\n==================================================\nESTADO CRM SANITIZADO\n==================================================\n\n{{ JSON.stringify($json.inputs || {}, null, 2) }} \n\n==================================================\nCÃES JÁ CONHECIDOS\n==================================================\n\n{{ JSON.stringify(\n  $json.inputs?.caes_json ||\n  $json.inputs?.resumo_lead?.caes_json ||\n  [],\n  null,\n  2\n) }}\n\n==================================================\nREGRAS DE RAÇA\n==================================================\n\n{{ JSON.stringify($json.regras_raca || $json.inputs?.regras_raca || {}, null, 2) }}\n\n==================================================\nDADOS DO LEAD\n==================================================\n\n{{ JSON.stringify($json.lead || {}, null, 2) }}\n\n==================================================\nSINAIS DO TURNO\n==================================================\n\nprecisa_responder_preco: {{ $json.inputs?.precisa_responder_preco === true }}\nprecisa_responder_localizacao: {{ $json.inputs?.precisa_responder_localizacao === true }}\nprecisa_responder_visita_material: {{ $json.inputs?.precisa_responder_visita_material === true }}\ndeve_priorizar_base_conhecimento: {{ $json.inputs?.deve_priorizar_base_conhecimento === true }}\nis_first_turn: {{ $json.inputs?.is_first_turn === true }}\n\n==================================================\nINSTRUÇÕES DE EXECUÇÃO\n==================================================\n\n1. Responda a dúvida objetiva do lead antes de conduzir.\n2. Use config_bruna_modelo antes de qualquer valor fixo.\n3. Use a base_conhecimento_bruna quando precisar confirmar valores, regras, unidade, avaliação, adaptação, creche, hotel, visita ou funcionamento.\n4. Não peça PIX apenas porque o lead perguntou preço.\n5. Não envie chave PIX, recebedor, CNPJ ou dados bancários no texto. Quando o lead estiver apto e tiver intenção clara, apenas marque deve_solicitar_pagamento = true.\n6. Não agende, não consulte agenda, não crie pré-reserva e não ofereça horários.\n7. Não repita dados já informados no histórico, no estado sanitizado ou no array de cães.\n8. Não interprete imagem visualmente.\n9. Se o lead pediu humano, confirme antes de repassar.\n10. Se o lead confirmou atendimento humano, repasse.\n11. Se houver comprovante confirmado, repasse para humano conferir e alinhar horário.\n12. Use dados dos cães somente dentro do array caes_json.\n13. Não crie nem retorne campos soltos de cão fora do array caes_json.\n14. Retorne somente JSON válido, sem markdown e sem explicação.\n15. A resposta deve vir obrigatoriamente dentro da chave \"output\".\n","options":{"systemMessage":"=Você é Bruna, atendente virtual da AuAu Creche Canina.\n\nVocê está em treinamento para ajudar no primeiro atendimento pelo WhatsApp.\n\nSeu papel é:\n1. acolher o lead;\n2. responder dúvidas objetivas;\n3. entender o perfil básico do cão;\n4. explicar creche, hotel, avaliação e adaptação;\n5. conduzir para avaliação comportamental paga somente quando fizer sentido;\n6. receber comprovante quando o PIX já tiver sido enviado;\n7. repassar para humano quando o lead quiser ou quando houver dúvida sensível.\n\nVocê nunca deve fingir ser humana.\nVocê nunca deve dizer que é uma pessoa da equipe.\nVocê nunca deve confirmar agenda.\nVocê nunca deve oferecer horários específicos.\nVocê nunca deve confirmar hospedagem.\nVocê nunca deve validar pagamento real.\nVocê nunca deve criar pré-reserva.\nVocê nunca deve oferecer desconto.\nVocê nunca deve responder em áudio.\n\nHoje é {{ $now }}.\nTimezone: America/Sao_Paulo.\n\n==================================================\n1. FONTE DE VERDADE\n==================================================\n\nUse as fontes nesta ordem:\n\n1. config_bruna_modelo recebida no user prompt\n2. regras deste prompt\n3. base_conhecimento_bruna, quando precisar consultar fatos oficiais\n4. estado CRM sanitizado recebido no user prompt\n5. cães já conhecidos recebidos no user prompt\n6. histórico consolidado\n\nconfig_bruna_modelo é a fonte principal para:\n- identidade da Bruna\n- tom de resposta\n- regras de preço visíveis ao lead\n- regras de handoff humano\n- elegibilidade\n- campos mínimos antes de pagamento\n- comportamento do cão\n- unidades\n- taxonomia\n- instruções sanitizadas sobre guia e pagamento\n\nconfig_bruna_modelo é filtrada e contém apenas informações úteis para a conversa.\n\nA Bruna não deve tentar decidir:\n- etiquetas internas;\n- notas internas;\n- arquivo, link ou guia específico;\n- canal técnico de atendimento;\n- chave PIX;\n- recebedor PIX;\n- dados bancários;\n- validação real de pagamento.\n\nQuando precisar enviar guia, marque deve_enviar_guia = true.\nQuando precisar solicitar pagamento, marque deve_solicitar_pagamento = true.\nQuando receber comprovante confirmado, marque comprovante_recebido = true e deve_repassar_humano = true.\n\nNão copie config_bruna_modelo para a saída JSON.\n\nQuando o lead perguntar sobre valores, localização, funcionamento, avaliação, adaptação, hotel, creche, vacinas, castração, cio, visita, material ou regras oficiais, use a base_conhecimento_bruna se a informação não estiver clara em config_bruna_modelo ou nos inputs.\n\nSe houver conflito, prevalece config_bruna_modelo.\nSe config_bruna_modelo não trouxer a regra, prevalece este prompt.\nSe ainda faltar informação, use a base de conhecimento.\nSe não houver evidência, não invente.\n\n==================================================\n2. REGRA DE OURO: RESPONDER ANTES DE CONDUZIR\n==================================================\n\nQuando o lead fizer uma pergunta objetiva, responda primeiro a pergunta.\n\nPerguntas objetivas incluem:\n- preço\n- valor\n- mensalidade\n- diária\n- pacote\n- plano\n- funcionamento\n- endereço\n- localização\n- visita\n- horário\n- adaptação\n- hotel\n- creche\n- avaliação\n- o que levar\n- vacinas\n- castração\n- antipulgas\n- vermifugação\n- unidades\n- porte aceito\n- material\n- guia\n- tabela\n\nFormato ideal:\n1. responder a dúvida do lead;\n2. contextualizar em uma frase curta, se necessário;\n3. fazer uma pergunta útil para avançar.\n\nÉ proibido ignorar a dúvida e voltar direto para:\n- avaliação;\n- PIX;\n- comprovante;\n- coleta de dados;\n- “quando liberar me avise”;\n- “fico à disposição”.\n\nSe o lead pediu preço, responda preço.\nSe o lead pediu localização, responda localização.\nSe o lead pediu visita, responda sobre visita.\nSe o lead pediu funcionamento, explique funcionamento.\nSe o lead pediu guia ou tabela, responda o essencial e marque deve_enviar_guia = true.\n\n==================================================\n3. IDENTIDADE E PRIMEIRA MENSAGEM\n==================================================\n\nNa primeira mensagem real da conversa, apresente-se como atendente virtual e diga que está em treinamento.\n\nUse primeira mensagem somente quando o campo is_first_turn recebido nos sinais do turno for true, ou quando o estado CRM sanitizado indicar status_lead = NOVO_LEAD.\n\nNão use essa abertura se já houver última mensagem da Bruna no histórico.\n\nNa primeira resposta:\n- apresente-se como Bruna;\n- diga que é atendente virtual;\n- diga que está em treinamento;\n- informe que o lead pode pedir humano;\n- peça poucos dados iniciais do cão.\n\nModelo base:\n\"Olá! Sou a Bruna, atendente virtual da AuAu Creche Canina. Estou em treinamento para ajudar no primeiro atendimento 🐶🩵\"\n\"Se quiser falar com um especialista humano a qualquer momento, é só digitar humano ou falar com humano.\"\n\"Para eu te orientar melhor, pode me informar o nome, a idade, a raça e o sexo do seu cãozinho?\"\n\nNão use essa abertura se já houve apresentação anterior.\nNão use nome do tutor em toda resposta.\nUse o nome do tutor somente na abertura ou quando realmente ajudar.\n\n==================================================\n4. TOM E TAMANHO DAS RESPOSTAS\n==================================================\n\nmensagens_resposta deve ter de 1 a 3 mensagens.\n\nCada mensagem deve ser curta, natural e objetiva.\nEvite textão.\nEvite checklist pesado.\nEvite repetir dados já informados.\nEvite markdown.\nUse poucas emojis.\nUse 🐶 e 🩵 apenas quando fizer sentido, principalmente na primeira resposta.\n\nA Bruna pode convidar o lead a responder por áudio.\nA Bruna não pode prometer enviar áudio.\n\nSe o lead pedir áudio:\n- explique em texto;\n- não prometa gravar;\n- não diga que vai mandar áudio.\n\n==================================================\n5. CONTRATO DE SAÍDA\n==================================================\n\nRetorne somente um objeto JSON válido.\n\nA resposta deve vir obrigatoriamente dentro da chave \"output\".\n\nO formato obrigatório é:\n\n{\n  \"output\": {\n    \"status_lead\": \"\",\n    \"ultima_intencao\": \"\",\n    \"evento_sistema\": \"\",\n    \"mensagens_resposta\": [],\n    \"resumo_lead\": {},\n    \"proxima_acao\": \"\",\n    \"deve_repassar_humano\": false,\n    \"motivo_repasse\": \"\",\n    \"deve_enviar_guia\": false,\n    \"deve_solicitar_pagamento\": false,\n    \"deve_consultar_agenda\": false,\n    \"deve_criar_pre_reserva\": false,\n    \"deve_encerrar_conversa\": false,\n    \"resumo_interno_repasse\": {}\n  }\n}\n\nresumo_lead e resumo_interno_repasse não devem ficar vazios.\nMesmo quando não houver informação, preencha os campos obrigatórios com string vazia, false ou o valor enum padrão permitido.\n\nNão retorne array.\nNão use markdown.\nNão use bloco de código.\nNão escreva texto antes ou depois do JSON.\nNão use comentários.\nNão use null.\nNão inclua campos extras dentro de \"output\".\nNão inclua campos extras fora de \"output\".\nUse sempre a chave \"output\" como wrapper principal.\n\n==================================================\n6. STATUS, INTENÇÕES E EVENTOS\n==================================================\n\nUse apenas estes status_lead:\n\nNOVO_LEAD\nCOLETANDO_DADOS\nQUALIFICANDO\nPRE_REPROVADO\nAPTO_PARA_AVALIACAO\nAGUARDANDO_PAGAMENTO\nCOMPROVANTE_RECEBIDO\nTRANSFERIDO_FLAVIA\nENCERRADO_NAO_PERFIL\nENCERRADO_SEM_RESPOSTA\nENCERRADO\n\nNão use:\nAGUARDANDO_ESCOLHA_HORARIO\nPRE_RESERVA_CRIADA\n\nUse apenas estas ultima_intencao:\n\nINTERESSE_CRECHE\nINTERESSE_HOTEL\nPEDIU_VALOR\nPEDIU_LOCALIZACAO\nPEDIU_VISITA\nINFORMOU_DADOS_CAO\nINFORMOU_DADOS_TUTOR\nACEITOU_AVALIACAO\nRECEBEU_PIX\nENVIOU_COMPROVANTE\nPEDIU_HUMANO\nMACHO_NAO_CASTRADO\nRACA_POTENCIAL_DANO\nURGENCIA_FERIADO\nOBJECAO_PRECO\nSUMIU\n\nNão use:\nESCOLHEU_HORARIO\n\nUse apenas estes evento_sistema:\n\n\"\"\nFORMULARIO_RECEBIDO\nGUIA_ENVIADO\nPIX_SOLICITADO\nANEXO_RECEBIDO\nCOMPROVANTE_IDENTIFICADO\nREPASSE_FLAVIA\nFOLLOWUP_DISPARADO\nCONVERSA_ENCERRADA\n\nNão use:\nAGENDA_CONSULTADA\nHORARIOS_ENVIADOS\nPRE_RESERVA_CRIADA\n\nevento_sistema representa somente o evento operacional atual.\nSe não houver evento novo claro, use string vazia.\n\n==================================================\n7. CAMPOS DO resumo_lead\n==================================================\n\nresumo_lead deve conter somente estes campos:\n\ntutor_nome\ntutor_telefone\nemail_tutor\nquantidade_caes\ncaes_json\nunidade_preferida\nservico_interesse\nperiodo_desejado\ndata_desejada\ndata_checkin_desejada\ndata_checkout_desejada\norigem_lead\norigem_detalhada\ncomprovante_recebido\ntipo_comprovante\narquivo_comprovante_referencia\ndata_hora_avaliacao\ndata_hora_pre_reserva\npre_reserva_criada\nresponsavel_humano\nobservacoes\n\nÉ proibido retornar dados de cão fora do array caes_json.\n\nTodos os dados dos cães devem ficar exclusivamente dentro de:\nresumo_lead.caes_json\nresumo_interno_repasse.caes_json\n\nNão crie campos soltos para nome, idade, raça, porte, sexo, castração, cio, vacinas, antipulgas, vermifugação, comportamento ou relatório veterinário fora do array caes_json.\n\nquantidade_caes deve ser igual ao tamanho do array caes_json.\n\nSe nenhum cão foi identificado:\nquantidade_caes = 0\ncaes_json = []\n\nunidade_preferida:\namaralina\nauauzin_patamares\nnao_definida\n\nservico_interesse:\ncreche\nhotel\ncreche_e_hotel\nvisita\nnao_definido\n\ntipo_comprovante:\nimagem\npdf\nprint_banco\nnao_informado\n\nNunca use:\nprint\ndocumento\nanexo\n\nQuando comprovante_recebido = false:\ntipo_comprovante = \"nao_informado\"\n\ndata_hora_avaliacao:\nsempre string vazia.\n\ndata_hora_pre_reserva:\nsempre string vazia.\n\npre_reserva_criada:\nsempre false.\n\nresponsavel_humano:\nuse \"Flavia\" somente quando houver repasse humano real.\nCaso contrário, use string vazia.\n\nobservacoes:\nuse 1 ou 2 frases curtas com fatos úteis.\nNão coloque instruções aqui.\nNão coloque lixo técnico.\nNão escreva “não perguntar novamente” em observacoes.\n\n==================================================\n7.1 CÃES\n==================================================\n\nTodos os dados dos cães devem ficar exclusivamente no array caes_json.\n\ncaes_json deve ser sempre um array.\n\nSe houver apenas um cão, caes_json deve conter 1 objeto.\nSe houver mais de um cão, caes_json deve conter 1 objeto por cão.\nSe ainda não houver cão identificado, use caes_json = [].\n\nCada item de caes_json deve seguir exatamente este formato:\n\n{\n  \"nome\": \"\",\n  \"idade_anos\": \"\",\n  \"idade_texto\": \"\",\n  \"raca\": \"\",\n  \"raca_canonica\": \"\",\n  \"porte\": \"nao_definido\",\n  \"sexo\": \"nao_informado\",\n  \"castrado\": \"nao_informado\",\n  \"no_cio\": \"nao_informado\",\n  \"vacinas_ok\": \"nao_informado\",\n  \"antipulgas_ok\": \"nao_informado\",\n  \"vermifugacao_ok\": \"nao_informado\",\n  \"perfil_comportamental\": \"nao_informado\",\n  \"comportamento_observacoes\": \"\",\n  \"possui_relatorio_veterinario\": \"nao_informado\",\n  \"observacoes\": \"\"\n}\n\nValores permitidos por cão:\n\nporte:\nmini\npequeno\nmedio\ngrande\ngigante\nnao_definido\n\nsexo:\nmacho\nfemea\nnao_informado\n\ncastrado:\nsim\nnao\nnao_informado\n\nno_cio:\nsim\nnao\nnao_se_aplica\nnao_informado\n\nvacinas_ok:\nsim\nnao\nnao_informado\n\nantipulgas_ok:\nsim\nnao\nnao_informado\n\nvermifugacao_ok:\nsim\nnao\nnao_informado\n\nperfil_comportamental:\nnao_informado\ntranquilo\nsociavel\nseletivo\nreativo_leve\nreativo_alto\nagressivo\n\npossui_relatorio_veterinario:\nsim\nnao\nnao_se_aplica\nnao_informado\n\nQuando não houver evidência:\nstrings livres = \"\"\nporte = \"nao_definido\"\nenums desconhecidos = \"nao_informado\"\nno_cio em macho = \"nao_se_aplica\"\npossui_relatorio_veterinario em cão com menos de 10 anos = \"nao_se_aplica\"\n\nSe caes_json já contiver dados no contexto, não apague nem substitua por [].\nAtualize apenas os campos novos informados pelo tutor.\n\nNão pergunte novamente nome, idade, raça, sexo ou castração se esses dados já estiverem preenchidos em caes_json.\n\nSe houver vários cães, fale no plural.\nExemplo: “Pode me contar se eles convivem bem com outros cães?”\n\n==================================================\n8. CAMPOS DO resumo_interno_repasse\n==================================================\n\nresumo_interno_repasse deve conter somente estes campos:\n\nrepassar_para\nmotivo\ntutor_nome\ntutor_telefone\nquantidade_caes\ncaes_json\nunidade_preferida\nservico_interesse\ndata_hora_avaliacao\ncomprovante_recebido\ntipo_comprovante\nobservacoes\n\nÉ proibido retornar dados de cão fora do array caes_json.\n\nTodos os dados dos cães devem ficar dentro de resumo_interno_repasse.caes_json.\n\nresumo_interno_repasse.caes_json deve ser igual a resumo_lead.caes_json.\nresumo_interno_repasse.quantidade_caes deve ser igual a resumo_lead.quantidade_caes.\n\nSe deve_repassar_humano = true:\n- repassar_para = \"Flavia\"\n- motivo não pode ficar vazio\n- observacoes deve resumir o caso para humano\n\nSe deve_repassar_humano = false:\n- repassar_para = \"\"\n- motivo = \"\"\n\nMesmo quando não houver repasse humano, resumo_interno_repasse deve refletir os dados conhecidos do lead:\n- tutor_nome\n- tutor_telefone\n- quantidade_caes\n- caes_json\n- unidade_preferida\n- servico_interesse\n- comprovante_recebido\n- tipo_comprovante\n- observacoes\n\ndata_hora_avaliacao sempre string vazia.\nA Bruna não agenda.\n\n==================================================\n9. COLETA DE DADOS\n==================================================\n\nAntes de perguntar qualquer coisa, verifique se o dado já existe em:\n1. inputs.resumo_lead.caes_json\n2. inputs.caes_json\n3. histórico consolidado\n4. estado CRM sanitizado\n\nNunca pergunte novamente um dado já preenchido no array caes_json.\n\nPrimeira coleta:\npeça nome, idade, raça e sexo do cão ou dos cães.\n\nSe o tutor indicar mais de um cão, peça os dados no plural e organize um item no array caes_json para cada cão.\n\nDepois da primeira coleta, faça perguntas por blocos:\n\nBloco identificação:\nnome, idade, raça, sexo e porte.\n\nBloco sanitário:\nvacinas, antipulgas e vermifugação.\n\nBloco comportamento:\nuse apenas uma pergunta:\n\"Ele convive bem com outros cães ou tem alguma reatividade que a equipe precise saber?\"\n\nBloco rotina/interesse:\ncreche, hotel, frequência, período ou necessidade do tutor.\n\nNão misture blocos diferentes no mesmo turno, exceto no início quando quase nada foi informado.\n\n==================================================\n10. PREÇO, GUIA E MATERIAL\n==================================================\n\nSe o lead perguntar preço, responda preço.\n\nSe a pergunta for vaga:\n- responda com contexto curto;\n- pergunte se ele busca creche, hotel ou avaliação.\n\nSe a pergunta for específica:\n- responda diretamente;\n- não peça PIX no mesmo turno apenas porque perguntou preço.\n\nSe o lead pedir guia, tabela, material, valores detalhados, planos, mensalidade ou funcionamento completo:\n- responda o essencial no texto;\n- marque deve_enviar_guia = true;\n- não escolha arquivo, link ou guia específico.\n\nNão use guia como fuga.\nNão diga apenas “está no guia”.\n\n==================================================\n11. PAGAMENTO E PIX\n==================================================\n\nA Bruna não deve escrever chave PIX, recebedor, CNPJ ou dados bancários no texto.\n\nconfig_bruna_modelo pode informar valor, regra de reversão e validação humana, mas não deve ser usada para escrever dados bancários.\n\nQuando o lead estiver apto e demonstrar intenção clara de seguir com a avaliação, marque deve_solicitar_pagamento = true.\n\nSó use deve_solicitar_pagamento = true quando:\n1. o lead demonstrar intenção clara de seguir com a avaliação;\n2. não houver bloqueio objetivo;\n3. os dados mínimos estiverem suficientes;\n4. não for primeira mensagem;\n5. o lead não estiver apenas pedindo preço;\n6. o lead não tiver pedido humano;\n7. não houver dúvida de elegibilidade.\n\nAntes de marcar deve_solicitar_pagamento = true, precisa ter pelo menos:\n\n- serviço de interesse;\n- pelo menos 1 cão em caes_json;\n- para cada cão: nome, idade, raça e sexo;\n- perfil comportamental de cada cão ou resposta geral aplicável a todos;\n- vacinas, antipulgas e vermifugação de cada cão ou resposta geral aplicável a todos;\n- castração de cada macho com 8 meses ou mais;\n- aceite explícito do tutor para seguir com avaliação.\n\nSe houver mais de um cão, não solicite pagamento enquanto houver dúvida importante sobre qualquer cão.\n\nQuando deve_solicitar_pagamento = true:\nstatus_lead = APTO_PARA_AVALIACAO\nultima_intencao = ACEITOU_AVALIACAO\nevento_sistema = \"\"\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\n\nNão use deve_solicitar_pagamento = true quando:\n- lead pediu preço;\n- lead pediu humano;\n- lead está só pesquisando;\n- ainda faltam dados mínimos;\n- há dúvida de raça;\n- há dúvida de elegibilidade;\n- é a primeira mensagem.\n\n==================================================\n12. COMPROVANTE E ANEXOS\n==================================================\n\nSe o lead enviar anexo fora de contexto de pagamento:\n- não assuma que é comprovante;\n- não interprete imagem;\n- não diga que viu raça, porte, sexo, saúde ou comportamento pela imagem;\n- registre evento_sistema = ANEXO_RECEBIDO;\n- mantenha comprovante_recebido = false;\n- continue a coleta do dado pendente.\n\nSó existe contexto de pagamento quando pelo menos uma condição for verdadeira:\n- status atual = AGUARDANDO_PAGAMENTO;\n- evento atual = PIX_SOLICITADO;\n- última intenção = ACEITOU_AVALIACAO;\n- mensagem menciona pix, pagamento, comprovante, transferência ou taxa.\n\nSe houver anexo em contexto de pagamento, mas o lead não confirmou que é comprovante:\nstatus_lead = AGUARDANDO_PAGAMENTO\nultima_intencao = RECEBEU_PIX\nevento_sistema = ANEXO_RECEBIDO\nresumo_lead.comprovante_recebido = false\ndeve_repassar_humano = false\nPergunte se o arquivo é o comprovante da taxa de avaliação.\n\nSe o lead confirmar que o arquivo é comprovante:\nstatus_lead = COMPROVANTE_RECEBIDO\nultima_intencao = ENVIOU_COMPROVANTE\nevento_sistema = COMPROVANTE_IDENTIFICADO\nresumo_lead.comprovante_recebido = true\ndeve_repassar_humano = true\nmotivo_repasse = \"Comprovante recebido. Precisa de conferência humana e alinhamento do horário da avaliação.\"\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\n\nA Bruna nunca valida pagamento real.\n\n==================================================\n13. REPASSE HUMANO\n==================================================\n\nSe o lead pedir humano, atendente, pessoa, especialista ou Flávia:\n- não repasse imediatamente;\n- confirme antes;\n- informe horário comercial.\n\nResposta padrão:\n\"Claro. Quer que eu chame um especialista humano da equipe para te atender? O atendimento humano acontece em horário comercial, de segunda a sexta.\"\n\nNesse caso:\nstatus_lead = QUALIFICANDO\nultima_intencao = PEDIU_HUMANO\nevento_sistema = \"\"\ndeve_repassar_humano = false\nmotivo_repasse = \"\"\nproxima_acao = \"aguardar_confirmacao_humano\"\n\n\nSe o lead confirmar que quer humano:\nstatus_lead = TRANSFERIDO_FLAVIA\nultima_intencao = PEDIU_HUMANO\nevento_sistema = REPASSE_FLAVIA\ndeve_repassar_humano = true\nmotivo_repasse = \"lead_confirmou_atendimento_humano\"\nproxima_acao = \"repassar_humano\"\n\n\nTambém repasse humano quando:\n- comprovante foi confirmado;\n- caso cinzento;\n- cão idoso com dúvida operacional;\n- reatividade relevante;\n- exceção operacional;\n- irritação ou confusão relevante;\n- urgência de feriado;\n- pedido fora do padrão.\n\nNão repasse humano por padrão em não perfil objetivo claro.\nNão repasse humano por raça com potencial de dano.\nNão repasse humano por macho não castrado que disse não ter intenção de castrar.\n\n==================================================\n14. REGRAS DE RAÇA, PORTE E UNIDADE\n==================================================\n\nUse inputs.regras_raca quando existir.\n\nA Bruna só pode encerrar por raça quando:\ninputs.regras_raca.potencial_dano = true\ne não houver dúvida real sobre a raça.\n\nSe potencial_dano = true:\nstatus_lead = ENCERRADO_NAO_PERFIL\nultima_intencao = RACA_POTENCIAL_DANO\nevento_sistema = CONVERSA_ENCERRADA\ndeve_repassar_humano = false\ndeve_solicitar_pagamento = false\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\ndeve_encerrar_conversa = true\n\nPorte grande sozinho nunca é motivo para encerramento.\nGolden, Labrador, Dálmata, Border Collie e raças grandes não devem ser recusadas apenas por porte.\n\nAuAuzin Patamares aceita apenas cães mini e pequenos.\nAuAu Amaralina atende cães de todos os portes, exceto casos de grande potencial de dano.\n\nSe o lead vier pela AuAuzin com cão médio, grande ou gigante:\n- não encerre;\n- explique que AuAuzin é para mini e pequenos;\n- direcione para Amaralina quando o perfil permitir.\n\n==================================================\n15. MACHO NÃO CASTRADO\n==================================================\n\nA regra só se aplica por cão.\n\nPara cada item em caes_json, verifique se há alta confiança de que:\n1. sexo = macho;\n2. idade igual ou maior que 8 meses;\n3. castrado = nao.\n\nSe apenas um dos cães tiver bloqueio, explique a regra daquele cão específico.\nNão trate todos os cães como bloqueados se apenas um tiver restrição.\n\nSe macho com 8 meses ou mais e não castrado:\nstatus_lead = PRE_REPROVADO\nultima_intencao = MACHO_NAO_CASTRADO\nevento_sistema = \"\"\ndeve_repassar_humano = false\ndeve_solicitar_pagamento = false\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\ndeve_encerrar_conversa = false\n\nExplique a regra e pergunte se o tutor pensa em castrar.\n\nSe o tutor disser que não pretende castrar:\nstatus_lead = ENCERRADO_NAO_PERFIL\nultima_intencao = MACHO_NAO_CASTRADO\nevento_sistema = CONVERSA_ENCERRADA\ndeve_encerrar_conversa = true\n\n==================================================\n16. FÊMEA NO CIO\n==================================================\n\nFêmea no cio não é não perfil definitivo.\nNão encerre automaticamente.\n\nExplique que ela não pode frequentar creche, hotel ou adaptação em grupo durante o cio, mas o atendimento pode continuar para orientação futura.\n\n==================================================\n17. HOTEL\n==================================================\n\nHotel exige:\n- avaliação comportamental;\n- adaptação concluída;\n- confirmação humana.\n\nA Bruna nunca confirma hospedagem.\nA Bruna nunca confirma disponibilidade.\nA Bruna nunca classifica data específica como alta ou baixa temporada.\n\nSe o lead perguntar valor de hotel:\n- responda baixa e alta temporada conforme config_bruna_modelo ou base de conhecimento;\n- se perguntar pacote, informe pacotes;\n- explique que hotel exige avaliação e adaptação antes.\n\n==================================================\n18. AGENDA\n==================================================\n\nA Bruna não agenda.\nA Bruna não consulta agenda.\nA Bruna não cria pré-reserva.\nA Bruna não oferece horário específico.\nA Bruna não pede escolha de horário.\n\nSempre:\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\nresumo_lead.data_hora_avaliacao = \"\"\nresumo_lead.data_hora_pre_reserva = \"\"\nresumo_lead.pre_reserva_criada = false\nresumo_interno_repasse.data_hora_avaliacao = \"\"\n\nApós comprovante confirmado, repasse para humano conferir pagamento e alinhar horário.\n\n==================================================\n19. COERÊNCIA FINAL\n==================================================\n\nAntes de responder, confira:\n\n1. Não há null.\n2. Não há campo extra na raiz.\n3. mensagens_resposta tem de 1 a 3 mensagens.\n4. deve_consultar_agenda = false.\n5. deve_criar_pre_reserva = false.\n6. data_hora_avaliacao = \"\".\n7. data_hora_pre_reserva = \"\".\n8. pre_reserva_criada = false.\n9. Se deve_repassar_humano = true, motivo_repasse não está vazio.\n10. Se deve_repassar_humano = true, resumo_interno_repasse.repassar_para = \"Flavia\".\n11. Se deve_repassar_humano = false, motivo_repasse = \"\".\n12. Se deve_encerrar_conversa = true, evento_sistema = CONVERSA_ENCERRADA.\n13. Se ultima_intencao = INTERESSE_CRECHE, servico_interesse = \"creche\".\n14. Se ultima_intencao = INTERESSE_HOTEL, servico_interesse = \"hotel\".\n15. Se comprovante_recebido = false, tipo_comprovante = \"nao_informado\".\n16. Se comprovante_recebido = true, tipo_comprovante deve ser imagem, pdf ou print_banco.\n17. resumo_lead.caes_json é array.\n18. resumo_interno_repasse.caes_json é array.\n19. resumo_interno_repasse.caes_json = resumo_lead.caes_json.\n20. resumo_lead.quantidade_caes = tamanho de resumo_lead.caes_json.\n21. resumo_interno_repasse.quantidade_caes = tamanho de resumo_interno_repasse.caes_json.\n22. Não existe dado de cão fora dos arrays caes_json.\n23. Não existe nenhum dado individual de cão fora dos arrays caes_json.\n24. Dados como nome, idade, raça, porte, sexo, castração, cio, vacinas, antipulgas, vermifugação, comportamento e relatório veterinário aparecem somente dentro de cada item de caes_json.\n25. Não use tipo_comprovante = documento.\n26. Não use tipo_comprovante = print."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[11696,1168],"id":"27260b35-e073-4f32-b517-7a72d68aa46a","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[11872,1600],"id":"0ab4cb69-20fa-47f9-af22-4e69475996bf","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=Use esta base obrigatoriamente quando o lead perguntar sobre valores, planos mensais, diária, pacote, mensalidade, localização, unidades, funcionamento da creche, funcionamento do hotel, avaliação, adaptação, regras sanitárias, castração, cio, vacinas, antipulgas, vermifugação, visita, material institucional ou objeções comerciais.\n\nPriorize respostas objetivas baseadas nos guias oficiais e FAQ operacional.\n\nQuando o lead pedir preço específico, consulte e responda o valor específico. Não use a avaliação como resposta padrão para tudo.","tableName":{"__rl":true,"value":"auau_bruna_documents","mode":"list","cachedResultName":"auau_bruna_documents"},"topK":3,"options":{"queryName":"auau_bruna_match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[11792,1392],"id":"9d44b2c2-2ac4-4ac3-a600-973aff4d096a","name":"base_conhecimento_bruna","credentials":{"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"workflowInputs":{"values":[{"name":"message","type":"object"},{"name":"inputs","type":"object"},{"name":"chatwoot","type":"object"},{"name":"lead","type":"object"},{"name":"memory","type":"object"}]}},"id":"fc9b9004-58a8-4c68-8065-8f840f3c9f7a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[10544,1072]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[10992,1072],"id":"be5f99bc-2186-4ec4-9f48-0196c376b49c","name":"Devo responder?"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[10768,1072],"name":"Verifica Última Mensagem","id":"8626d74f-1356-4f7c-9a3e-5eb3beb78364"},{"parameters":{"workflowId":{"__rl":true,"value":"kjExyn9IlMx8VtST","mode":"list","cachedResultUrl":"/workflow/kjExyn9IlMx8VtST","cachedResultName":"[AUAU] [BRUNA] Salva Debug Execuções"},"workflowInputs":{"mappingMode":"defineBelow","value":{"json_payload":"={{ $json }}","etapa":"BRUNA OUTPUT","node":"Bruna Auau"},"matchingColumns":[],"schema":[{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"json_payload","displayName":"json_payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[12160,1072],"name":"Call [AUAU] [BRUNA] Salva Debug Execuções","id":"7c149b46-d90f-41b3-bfa6-6f3f2159483a"},{"parameters":{"workflowId":{"__rl":true,"value":"kjExyn9IlMx8VtST","mode":"list","cachedResultUrl":"/workflow/kjExyn9IlMx8VtST","cachedResultName":"[AUAU] [BRUNA] Salva Debug Execuções"},"workflowInputs":{"mappingMode":"defineBelow","value":{"json_payload":"={{ $json }}","etapa":"BRUNA INPUT","node":"CONTEXTO BRUNA"},"matchingColumns":[],"schema":[{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"json_payload","displayName":"json_payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[11616,992],"name":"Call [AUAU] [BRUNA] Salva Debug Execuções1","id":"70f86c6a-d346-4384-b549-9558e2f570c8"},{"parameters":{"jsCode":"const raw = $input.first().json || {};\n\nfunction getNodeJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction isObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction isNonEmptyObject(value) {\n  return isObject(value) && Object.keys(value).length > 0;\n}\n\nfunction firstNonEmptyObject(...values) {\n  for (const value of values) {\n    if (isNonEmptyObject(value)) return value;\n  }\n  return {};\n}\n\nfunction cleanString(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'object') {\n    try {\n      return JSON.stringify(value);\n    } catch (e) {\n      return '';\n    }\n  }\n\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return cleanString(value)\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction parseJsonFlexible(value) {\n  if (value === undefined || value === null) return {};\n\n  if (typeof value === 'object') return value;\n\n  let text = String(value).trim();\n\n  text = text\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  const firstBrace = text.indexOf('{');\n  const lastBrace = text.lastIndexOf('}');\n\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    text = text.slice(firstBrace, lastBrace + 1);\n  }\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    return {\n      __parse_error: true,\n      __parse_error_message: error.message,\n      __raw_text: value\n    };\n  }\n}\n\nfunction unwrapBrunaOutput(rawValue) {\n  const parsedLevel1 = parseJsonFlexible(rawValue);\n\n  if (parsedLevel1?.output !== undefined) {\n    const parsedLevel2 = parseJsonFlexible(parsedLevel1.output);\n\n    if (parsedLevel2?.output && typeof parsedLevel2.output === 'object') {\n      return {\n        bruna: parsedLevel2.output,\n        parse_error: false,\n        raw_parsed: parsedLevel2\n      };\n    }\n\n    if (parsedLevel1.output && typeof parsedLevel1.output === 'object') {\n      return {\n        bruna: parsedLevel1.output,\n        parse_error: false,\n        raw_parsed: parsedLevel1\n      };\n    }\n\n    return {\n      bruna: parsedLevel2,\n      parse_error: parsedLevel2.__parse_error === true,\n      raw_parsed: parsedLevel2\n    };\n  }\n\n  return {\n    bruna: parsedLevel1,\n    parse_error: parsedLevel1.__parse_error === true,\n    raw_parsed: parsedLevel1\n  };\n}\n\nfunction toBool(value) {\n  return value === true || value === 1 || value === '1' || String(value).toLowerCase() === 'true';\n}\n\nfunction enumValue(value, allowed, fallback) {\n  const v = cleanString(value);\n  return allowed.includes(v) ? v : fallback;\n}\n\nfunction chooseString(next, previous = '') {\n  const n = cleanString(next);\n  if (n) return n;\n  return cleanString(previous);\n}\n\nfunction chooseEnum(next, previous, allowed, fallback) {\n  const n = cleanString(next);\n  const p = cleanString(previous);\n\n  const nextValid = allowed.includes(n) ? n : '';\n  const previousValid = allowed.includes(p) ? p : '';\n\n  if (nextValid && nextValid !== fallback) return nextValid;\n  if (previousValid && previousValid !== fallback) return previousValid;\n  if (nextValid) return nextValid;\n  if (previousValid) return previousValid;\n\n  return fallback;\n}\n\nfunction parseArray(value) {\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === 'string' && value.trim()) {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (e) {\n      return [];\n    }\n  }\n\n  return [];\n}\n\nfunction firstArray(...values) {\n  for (const value of values) {\n    const arr = parseArray(value);\n    if (arr.length) return arr;\n  }\n\n  return [];\n}\n\nfunction normalizeDog(next = {}, previous = {}) {\n  const incoming = isObject(next) ? next : {};\n  const prev = isObject(previous) ? previous : {};\n\n  const sexo = chooseEnum(\n    incoming.sexo,\n    prev.sexo,\n    ['macho', 'femea', 'nao_informado'],\n    'nao_informado'\n  );\n\n  return {\n    nome: chooseString(incoming.nome, prev.nome),\n    idade_anos: chooseString(incoming.idade_anos, prev.idade_anos),\n    idade_texto: chooseString(incoming.idade_texto, prev.idade_texto),\n    raca: chooseString(incoming.raca, prev.raca),\n    raca_canonica: chooseString(incoming.raca_canonica, prev.raca_canonica),\n\n    porte: chooseEnum(\n      incoming.porte,\n      prev.porte,\n      ['mini', 'pequeno', 'medio', 'grande', 'gigante', 'nao_definido'],\n      'nao_definido'\n    ),\n\n    sexo,\n\n    castrado: chooseEnum(\n      incoming.castrado,\n      prev.castrado,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    no_cio: sexo === 'macho'\n      ? 'nao_se_aplica'\n      : chooseEnum(\n          incoming.no_cio,\n          prev.no_cio,\n          ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n          'nao_informado'\n        ),\n\n    vacinas_ok: chooseEnum(\n      incoming.vacinas_ok,\n      prev.vacinas_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    antipulgas_ok: chooseEnum(\n      incoming.antipulgas_ok,\n      prev.antipulgas_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    vermifugacao_ok: chooseEnum(\n      incoming.vermifugacao_ok,\n      prev.vermifugacao_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    perfil_comportamental: chooseEnum(\n      incoming.perfil_comportamental,\n      prev.perfil_comportamental,\n      ['nao_informado', 'tranquilo', 'sociavel', 'seletivo', 'reativo_leve', 'reativo_alto', 'agressivo'],\n      'nao_informado'\n    ),\n\n    comportamento_observacoes: chooseString(\n      incoming.comportamento_observacoes,\n      prev.comportamento_observacoes\n    ),\n\n    possui_relatorio_veterinario: chooseEnum(\n      incoming.possui_relatorio_veterinario,\n      prev.possui_relatorio_veterinario,\n      ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    observacoes: chooseString(incoming.observacoes, prev.observacoes)\n  };\n}\n\nfunction normalizeDogArray(value) {\n  return parseArray(value)\n    .filter(isObject)\n    .map(dog => normalizeDog(dog));\n}\n\nfunction mergeDogs(previousDogs, incomingDogs) {\n  const previous = normalizeDogArray(previousDogs);\n  const incoming = normalizeDogArray(incomingDogs);\n\n  if (!incoming.length) return previous;\n\n  const result = previous.map(dog => ({ ...dog }));\n\n  for (const dog of incoming) {\n    const dogName = normalizeText(dog.nome);\n\n    // Caso comum: já existe 1 cão e a Bruna atualizou campos sem repetir o nome.\n    if (!dogName && result.length === 1 && incoming.length === 1) {\n      result[0] = normalizeDog(dog, result[0]);\n      continue;\n    }\n\n    const index = dogName\n      ? result.findIndex(existing => normalizeText(existing.nome) === dogName)\n      : -1;\n\n    if (index >= 0) {\n      result[index] = normalizeDog(dog, result[index]);\n    } else {\n      result.push(normalizeDog(dog));\n    }\n  }\n\n  return result;\n}\n\nfunction normalizeTipoComprovante(value, comprovanteRecebido) {\n  if (comprovanteRecebido !== true) return 'nao_informado';\n\n  return enumValue(\n    value,\n    ['imagem', 'pdf', 'print_banco', 'nao_informado'],\n    'nao_informado'\n  );\n}\n\nfunction normalizeMessages(messages) {\n  const arr = Array.isArray(messages) ? messages : [];\n\n  return arr\n    .map(m => cleanString(m))\n    .filter(Boolean)\n    .slice(0, 3);\n}\n\nfunction statusLead(value, fallback = 'QUALIFICANDO') {\n  return enumValue(\n    value,\n    [\n      'NOVO_LEAD',\n      'COLETANDO_DADOS',\n      'QUALIFICANDO',\n      'PRE_REPROVADO',\n      'APTO_PARA_AVALIACAO',\n      'AGUARDANDO_PAGAMENTO',\n      'COMPROVANTE_RECEBIDO',\n      'TRANSFERIDO_FLAVIA',\n      'ENCERRADO_NAO_PERFIL',\n      'ENCERRADO_SEM_RESPOSTA',\n      'ENCERRADO'\n    ],\n    fallback\n  );\n}\n\nfunction ultimaIntencao(value, fallback = 'INTERESSE_CRECHE') {\n  return enumValue(\n    value,\n    [\n      'INTERESSE_CRECHE',\n      'INTERESSE_HOTEL',\n      'PEDIU_VALOR',\n      'PEDIU_LOCALIZACAO',\n      'PEDIU_VISITA',\n      'INFORMOU_DADOS_CAO',\n      'INFORMOU_DADOS_TUTOR',\n      'ACEITOU_AVALIACAO',\n      'RECEBEU_PIX',\n      'ENVIOU_COMPROVANTE',\n      'PEDIU_HUMANO',\n      'MACHO_NAO_CASTRADO',\n      'RACA_POTENCIAL_DANO',\n      'URGENCIA_FERIADO',\n      'OBJECAO_PRECO',\n      'SUMIU'\n    ],\n    fallback\n  );\n}\n\nfunction eventoSistema(value) {\n  return enumValue(\n    value,\n    [\n      '',\n      'FORMULARIO_RECEBIDO',\n      'GUIA_ENVIADO',\n      'PIX_SOLICITADO',\n      'ANEXO_RECEBIDO',\n      'COMPROVANTE_IDENTIFICADO',\n      'REPASSE_FLAVIA',\n      'FOLLOWUP_DISPARADO',\n      'CONVERSA_ENCERRADA'\n    ],\n    ''\n  );\n}\n\nfunction statusPagamento(value, normalized) {\n  if (normalized.resumo_lead?.comprovante_recebido === true) {\n    return 'validacao_humana_pendente';\n  }\n\n  if (normalized.deve_solicitar_pagamento === true) {\n    return 'aguardando_pagamento';\n  }\n\n  return enumValue(\n    value,\n    [\n      'nao_solicitado',\n      'aguardando_pagamento',\n      'comprovante_recebido',\n      'validacao_humana_pendente',\n      'aprovado_humano',\n      'negado_humano',\n      'estornado',\n      'cancelado'\n    ],\n    'nao_solicitado'\n  );\n}\n\nfunction isSimpleAck(text) {\n  const t = normalizeText(text);\n\n  return [\n    'ok',\n    'okay',\n    'certo',\n    'ta bom',\n    'tudo bem',\n    'obrigado',\n    'obrigada',\n    'valeu',\n    'beleza',\n    'blz',\n    'show',\n    'perfeito',\n    'joia',\n    'sim',\n    'combinado'\n  ].includes(t);\n}\n\nconst start = getNodeJson('Start');\nconst contextoBruna = getNodeJson('CONTEXTO BRUNA');\nconst normalizaConfigBruna = getNodeJson('NORMALIZA CONFIG BRUNA');\n\nconst base = {\n  ...start,\n  ...normalizaConfigBruna,\n  ...contextoBruna,\n\n  inputs: firstNonEmptyObject(\n    contextoBruna.inputs,\n    normalizaConfigBruna.inputs,\n    start.inputs\n  ),\n\n  message: firstNonEmptyObject(\n    contextoBruna.message,\n    normalizaConfigBruna.message,\n    start.message\n  ),\n\n  chatwoot: firstNonEmptyObject(\n    contextoBruna.chatwoot,\n    normalizaConfigBruna.chatwoot,\n    start.chatwoot\n  ),\n\n  lead: firstNonEmptyObject(\n    contextoBruna.lead,\n    normalizaConfigBruna.lead,\n    start.lead\n  ),\n\n  memory: firstNonEmptyObject(\n    contextoBruna.memory,\n    normalizaConfigBruna.memory,\n    start.memory\n  )\n};\n\nconst rawOutput =\n  raw.output ??\n  raw.text ??\n  raw.response ??\n  raw.message ??\n  raw;\n\nconst unwrapped = unwrapBrunaOutput(rawOutput);\nconst bruna = isObject(unwrapped.bruna) ? unwrapped.bruna : {};\n\nconst previousInputs = base.inputs || {};\nconst previousResumo = previousInputs.resumo_lead || {};\nconst previousRepasse = previousInputs.resumo_interno_repasse || {};\n\nconst configBruna = firstNonEmptyObject(\n  contextoBruna.config_bruna,\n  normalizaConfigBruna.config_bruna,\n  start.config_bruna,\n  raw.config_bruna\n);\n\nconst previousDogs = firstArray(\n  previousInputs.caes_json,\n  previousResumo.caes_json,\n  previousRepasse.caes_json,\n  base.memory?.caes_json\n);\n\nconst incomingDogs = firstArray(\n  bruna.resumo_lead?.caes_json,\n  bruna.resumo_interno_repasse?.caes_json,\n  bruna.caes_json\n);\n\nconst caesJson = mergeDogs(previousDogs, incomingDogs);\nconst quantidadeCaes = caesJson.length;\n\nconst deveRepassarHumano = toBool(bruna.deve_repassar_humano);\nconst comprovanteRecebido = toBool(\n  bruna.resumo_lead?.comprovante_recebido ??\n  bruna.comprovante_recebido ??\n  previousResumo.comprovante_recebido ??\n  previousInputs.comprovante_recebido\n);\n\nconst unidadePreferida = enumValue(\n  bruna.resumo_lead?.unidade_preferida ||\n  previousResumo.unidade_preferida,\n  ['amaralina', 'auauzin_patamares', 'nao_definida'],\n  'nao_definida'\n);\n\nconst servicoInteresse = enumValue(\n  bruna.resumo_lead?.servico_interesse ||\n  previousResumo.servico_interesse,\n  ['creche', 'hotel', 'creche_e_hotel', 'visita', 'nao_definido'],\n  'nao_definido'\n);\n\nconst resumoLead = {\n  tutor_nome: cleanString(bruna.resumo_lead?.tutor_nome || previousResumo.tutor_nome || base.lead?.sender_name),\n  tutor_telefone: cleanString(bruna.resumo_lead?.tutor_telefone || previousResumo.tutor_telefone || base.lead?.phone),\n  email_tutor: cleanString(bruna.resumo_lead?.email_tutor || previousResumo.email_tutor),\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: unidadePreferida,\n  servico_interesse: servicoInteresse,\n\n  periodo_desejado: cleanString(bruna.resumo_lead?.periodo_desejado || previousResumo.periodo_desejado),\n  data_desejada: cleanString(bruna.resumo_lead?.data_desejada || previousResumo.data_desejada),\n  data_checkin_desejada: cleanString(bruna.resumo_lead?.data_checkin_desejada || previousResumo.data_checkin_desejada),\n  data_checkout_desejada: cleanString(bruna.resumo_lead?.data_checkout_desejada || previousResumo.data_checkout_desejada),\n\n  origem_lead: cleanString(bruna.resumo_lead?.origem_lead || previousResumo.origem_lead || 'outro'),\n  origem_detalhada: cleanString(bruna.resumo_lead?.origem_detalhada || previousResumo.origem_detalhada || base.lead?.entry_channel),\n\n  comprovante_recebido: comprovanteRecebido,\n  tipo_comprovante: normalizeTipoComprovante(\n    bruna.resumo_lead?.tipo_comprovante || previousResumo.tipo_comprovante,\n    comprovanteRecebido\n  ),\n  arquivo_comprovante_referencia: cleanString(\n    bruna.resumo_lead?.arquivo_comprovante_referencia ||\n    previousResumo.arquivo_comprovante_referencia\n  ),\n\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n  pre_reserva_criada: false,\n\n  responsavel_humano: deveRepassarHumano ? 'Flavia' : '',\n\n  observacoes: cleanString(bruna.resumo_lead?.observacoes || previousResumo.observacoes)\n};\n\nconst resumoInternoRepasse = {\n  repassar_para: deveRepassarHumano ? 'Flavia' : '',\n  motivo: deveRepassarHumano\n    ? cleanString(bruna.resumo_interno_repasse?.motivo || bruna.motivo_repasse)\n    : '',\n\n  tutor_nome: resumoLead.tutor_nome,\n  tutor_telefone: resumoLead.tutor_telefone,\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: resumoLead.unidade_preferida,\n  servico_interesse: resumoLead.servico_interesse,\n\n  data_hora_avaliacao: '',\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  observacoes: cleanString(\n    bruna.resumo_interno_repasse?.observacoes ||\n    previousRepasse.observacoes ||\n    resumoLead.observacoes\n  )\n};\n\nconst normalizedBase = {\n  status_lead: statusLead(\n    bruna.status_lead,\n    previousInputs.status_lead || 'QUALIFICANDO'\n  ),\n\n  ultima_intencao: ultimaIntencao(\n    bruna.ultima_intencao,\n    previousInputs.ultima_intencao || 'INTERESSE_CRECHE'\n  ),\n\n  evento_sistema: eventoSistema(bruna.evento_sistema),\n\n  mensagens_resposta: normalizeMessages(bruna.mensagens_resposta),\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: cleanString(\n    bruna.proxima_acao ||\n    previousInputs.proxima_acao ||\n    'Aguardar próxima interação do lead.'\n  ),\n\n  deve_repassar_humano: deveRepassarHumano,\n  motivo_repasse: deveRepassarHumano\n    ? cleanString(bruna.motivo_repasse || resumoInternoRepasse.motivo)\n    : '',\n\n  deve_enviar_guia: toBool(bruna.deve_enviar_guia),\n  deve_solicitar_pagamento: toBool(bruna.deve_solicitar_pagamento),\n\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: toBool(bruna.deve_encerrar_conversa),\n\n  resumo_interno_repasse: resumoInternoRepasse\n};\n\nconst normalizedInputs = {\n  status_lead: normalizedBase.status_lead,\n  ultima_intencao: normalizedBase.ultima_intencao,\n  evento_sistema: normalizedBase.evento_sistema,\n\n  apto_para_avaliacao: enumValue(\n    bruna.apto_para_avaliacao || previousInputs.apto_para_avaliacao,\n    ['sim', 'nao', 'caso_cinzento', 'pendente'],\n    'pendente'\n  ),\n\n  motivo_pre_reprovacao: cleanString(\n    bruna.motivo_pre_reprovacao ||\n    previousInputs.motivo_pre_reprovacao\n  ),\n\n  status_pagamento: statusPagamento(previousInputs.status_pagamento, normalizedBase),\n\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  arquivo_comprovante_referencia: resumoLead.arquivo_comprovante_referencia,\n\n  pre_reserva_criada: false,\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: normalizedBase.proxima_acao,\n\n  deve_repassar_humano: normalizedBase.deve_repassar_humano,\n  motivo_repasse: normalizedBase.motivo_repasse,\n\n  deve_enviar_guia: normalizedBase.deve_enviar_guia,\n  deve_solicitar_pagamento: normalizedBase.deve_solicitar_pagamento,\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: normalizedBase.deve_encerrar_conversa,\n\n  resumo_interno_repasse: resumoInternoRepasse,\n\n  regras_raca: firstNonEmptyObject(\n    base.regras_raca,\n    previousInputs.regras_raca\n  ),\n\n  diagnostico_crm: isObject(previousInputs.diagnostico_crm)\n    ? previousInputs.diagnostico_crm\n    : {},\n\n  precisa_responder_preco: toBool(previousInputs.precisa_responder_preco),\n  precisa_responder_localizacao: toBool(previousInputs.precisa_responder_localizacao),\n  precisa_responder_visita_material: toBool(previousInputs.precisa_responder_visita_material),\n  deve_priorizar_base_conhecimento: toBool(previousInputs.deve_priorizar_base_conhecimento),\n  is_first_turn: toBool(previousInputs.is_first_turn)\n};\n\nconst currentLeadText = cleanString(\n  base.message?.current_lead_block_text ||\n  base.message?.content ||\n  ''\n);\n\nconst lastHumanMessageBeforeCurrentBlock = cleanString(\n  base.message?.last_human_message_before_current_block\n);\n\nconst labels = Array.isArray(base.chatwoot?.labels) ? base.chatwoot.labels : [];\n\nconst humanoAssumiu =\n  normalizedInputs.diagnostico_crm?.humano_assumiu === true ||\n  labels.includes('01-humano-assumiu') ||\n  lastHumanMessageBeforeCurrentBlock !== '';\n\nconst leadApenasConfirmou = isSimpleAck(currentLeadText);\n\nconst bloquearRespostaPorHumano =\n  humanoAssumiu === true &&\n  leadApenasConfirmou === true;\n\nlet shouldReply = base.should_reply !== false;\nlet motivoBloqueioEnvio = '';\n\nif (normalizedBase.mensagens_resposta.length === 0) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'sem_mensagem_resposta_valida';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: saída da Bruna sem mensagem válida.';\n}\n\nif (unwrapped.parse_error === true) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'erro_parse_saida_bruna';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: erro ao interpretar saída da Bruna.';\n}\n\nif (bloquearRespostaPorHumano) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'humano_assumiu_e_lead_apenas_confirmou';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: atendimento humano já assumido e lead apenas confirmou.';\n}\n\nconst mensagensRespostaFinais = shouldReply\n  ? normalizedBase.mensagens_resposta\n  : [];\n\nreturn [\n  {\n    json: {\n      inputs: {\n        ...normalizedInputs,\n        mensagens_resposta: mensagensRespostaFinais\n      },\n\n      message: base.message || {},\n      chatwoot: base.chatwoot || {},\n      lead: base.lead || {},\n      memory: base.memory || {},\n\n      caes_json: caesJson,\n      quantidade_caes: quantidadeCaes,\n\n      config_bruna: configBruna,\n\n      agent_name: base.agent_name || 'Bruna',\n      should_reply: shouldReply,\n      motivo_bloqueio_envio: motivoBloqueioEnvio,\n\n      regras_raca: normalizedInputs.regras_raca,\n\n      opcoes: base.opcoes || {},\n\n      run_mode: base.run_mode || 'prod',\n      prompt_version:\n        base.prompt_version ||\n        previousInputs.versao_regras_negocio ||\n        'bruna_v6_inputs_limpos_caes_array',\n\n      raw_bruna_output: rawOutput,\n\n      debug_context: {\n        normaliza_bruna_version: 'v6_inputs_limpos_caes_array',\n        has_config_bruna: Object.keys(configBruna || {}).length > 0,\n        config_keys: Object.keys(configBruna || {}),\n        bruna_output_was_string: typeof raw.output === 'string',\n        parse_error: unwrapped.parse_error === true,\n        parse_error_message: unwrapped.raw_parsed?.__parse_error_message || '',\n        received_keys: Object.keys(bruna || {}),\n        quantidade_caes: quantidadeCaes,\n        humano_assumiu: humanoAssumiu,\n        lead_apenas_confirmou: leadApenasConfirmou,\n        should_reply: shouldReply,\n        motivo_bloqueio_envio: motivoBloqueioEnvio\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12160,1264],"id":"a95e7b46-0111-4d8c-8bf0-9444b6c7d728","name":"NORMALIZA BRUNA"},{"parameters":{"jsCode":"const rows = $input.all();\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction parseValue(value) {\n  if (value === undefined || value === null) return {};\n\n  if (isObject(value) || Array.isArray(value)) {\n    return value;\n  }\n\n  if (typeof value === 'string') {\n    const text = value.trim();\n    if (!text) return {};\n\n    try {\n      return JSON.parse(text);\n    } catch (e) {\n      return {};\n    }\n  }\n\n  return value;\n}\n\nfunction isTruthy(value) {\n  return (\n    value === true ||\n    value === 1 ||\n    value === '1' ||\n    String(value).toLowerCase() === 'true'\n  );\n}\n\nfunction cleanString(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'object') {\n    try {\n      return JSON.stringify(value);\n    } catch (e) {\n      return '';\n    }\n  }\n\n  return String(value).trim();\n}\n\nfunction toBool(value) {\n  return value === true || value === 1 || value === '1' || String(value).toLowerCase() === 'true';\n}\n\nfunction enumValue(value, allowed, fallback) {\n  const v = cleanString(value);\n  return allowed.includes(v) ? v : fallback;\n}\n\nfunction parseArray(value) {\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === 'string' && value.trim()) {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (e) {\n      return [];\n    }\n  }\n\n  return [];\n}\n\nfunction firstArray(...values) {\n  for (const value of values) {\n    const arr = parseArray(value);\n    if (arr.length) return arr;\n  }\n\n  return [];\n}\n\nfunction normalizeDog(raw = {}) {\n  const dog = isObject(raw) ? raw : {};\n\n  const sexo = enumValue(dog.sexo, ['macho', 'femea', 'nao_informado'], 'nao_informado');\n\n  return {\n    nome: cleanString(dog.nome),\n    idade_anos: cleanString(dog.idade_anos),\n    idade_texto: cleanString(dog.idade_texto),\n    raca: cleanString(dog.raca),\n    raca_canonica: cleanString(dog.raca_canonica),\n    porte: enumValue(dog.porte, ['mini', 'pequeno', 'medio', 'grande', 'gigante', 'nao_definido'], 'nao_definido'),\n    sexo,\n    castrado: enumValue(dog.castrado, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    no_cio: sexo === 'macho'\n      ? 'nao_se_aplica'\n      : enumValue(dog.no_cio, ['sim', 'nao', 'nao_se_aplica', 'nao_informado'], 'nao_informado'),\n    vacinas_ok: enumValue(dog.vacinas_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    antipulgas_ok: enumValue(dog.antipulgas_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    vermifugacao_ok: enumValue(dog.vermifugacao_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    perfil_comportamental: enumValue(\n      dog.perfil_comportamental,\n      ['nao_informado', 'tranquilo', 'sociavel', 'seletivo', 'reativo_leve', 'reativo_alto', 'agressivo'],\n      'nao_informado'\n    ),\n    comportamento_observacoes: cleanString(dog.comportamento_observacoes),\n    possui_relatorio_veterinario: enumValue(\n      dog.possui_relatorio_veterinario,\n      ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n      'nao_informado'\n    ),\n    observacoes: cleanString(dog.observacoes)\n  };\n}\n\nfunction normalizeDogs(value) {\n  return parseArray(value)\n    .filter(isObject)\n    .map(normalizeDog);\n}\n\nfunction statusPagamento(value) {\n  return enumValue(\n    value,\n    [\n      'nao_solicitado',\n      'aguardando_pagamento',\n      'comprovante_recebido',\n      'validacao_humana_pendente',\n      'aprovado_humano',\n      'negado_humano',\n      'estornado',\n      'cancelado'\n    ],\n    'nao_solicitado'\n  );\n}\n\nfunction statusLead(value) {\n  return enumValue(\n    value,\n    [\n      'NOVO_LEAD',\n      'COLETANDO_DADOS',\n      'QUALIFICANDO',\n      'PRE_REPROVADO',\n      'APTO_PARA_AVALIACAO',\n      'AGUARDANDO_PAGAMENTO',\n      'COMPROVANTE_RECEBIDO',\n      'TRANSFERIDO_FLAVIA',\n      'ENCERRADO_NAO_PERFIL',\n      'ENCERRADO_SEM_RESPOSTA',\n      'ENCERRADO'\n    ],\n    'QUALIFICANDO'\n  );\n}\n\nfunction ultimaIntencao(value) {\n  return enumValue(\n    value,\n    [\n      'INTERESSE_CRECHE',\n      'INTERESSE_HOTEL',\n      'PEDIU_VALOR',\n      'PEDIU_LOCALIZACAO',\n      'PEDIU_VISITA',\n      'INFORMOU_DADOS_CAO',\n      'INFORMOU_DADOS_TUTOR',\n      'ACEITOU_AVALIACAO',\n      'RECEBEU_PIX',\n      'ENVIOU_COMPROVANTE',\n      'PEDIU_HUMANO',\n      'MACHO_NAO_CASTRADO',\n      'RACA_POTENCIAL_DANO',\n      'URGENCIA_FERIADO',\n      'OBJECAO_PRECO',\n      'SUMIU'\n    ],\n    'INTERESSE_CRECHE'\n  );\n}\n\nfunction eventoSistema(value) {\n  return enumValue(\n    value,\n    [\n      '',\n      'FORMULARIO_RECEBIDO',\n      'GUIA_ENVIADO',\n      'PIX_SOLICITADO',\n      'ANEXO_RECEBIDO',\n      'COMPROVANTE_IDENTIFICADO',\n      'REPASSE_FLAVIA',\n      'FOLLOWUP_DISPARADO',\n      'CONVERSA_ENCERRADA'\n    ],\n    ''\n  );\n}\n\nfunction tipoComprovante(value, comprovanteRecebido) {\n  if (comprovanteRecebido !== true) return 'nao_informado';\n\n  return enumValue(\n    value,\n    ['imagem', 'pdf', 'print_banco', 'nao_informado'],\n    'nao_informado'\n  );\n}\n\nconst config_bruna = {};\nconst config_bruna_modelo = {};\n\nfor (const item of rows) {\n  const row = item.json || {};\n  const key = row.regra_key;\n\n  if (!key) continue;\n\n  const valorCompleto = parseValue(row.regra_valor);\n  config_bruna[key] = valorCompleto;\n\n  if (isTruthy(row.bruna_modelo)) {\n    const temValorModelo =\n      row.regra_valor_modelo !== undefined &&\n      row.regra_valor_modelo !== null &&\n      String(row.regra_valor_modelo).trim() !== '';\n\n    config_bruna_modelo[key] = temValorModelo\n      ? parseValue(row.regra_valor_modelo)\n      : valorCompleto;\n  }\n}\n\nconst base = $('Start').first().json || {};\nconst rawInputs = base.inputs || {};\nconst rawResumo = rawInputs.resumo_lead || {};\nconst rawRepasse = rawInputs.resumo_interno_repasse || {};\nconst memory = base.memory || {};\nconst lead = base.lead || {};\n\nconst caesJson = normalizeDogs(\n  firstArray(\n    rawInputs.caes_json,\n    rawResumo.caes_json,\n    rawRepasse.caes_json,\n    memory.caes_json\n  )\n);\n\nconst quantidadeCaes = caesJson.length;\n\nconst comprovanteRecebido = toBool(\n  rawInputs.comprovante_recebido ??\n  rawResumo.comprovante_recebido ??\n  memory.comprovante_recebido\n);\n\nconst unidadePreferida = enumValue(\n  rawInputs.unidade_preferida ||\n  rawResumo.unidade_preferida ||\n  memory.unidade_preferida,\n  ['amaralina', 'auauzin_patamares', 'nao_definida'],\n  'nao_definida'\n);\n\nconst servicoInteresse = enumValue(\n  rawInputs.servico_interesse ||\n  rawResumo.servico_interesse ||\n  memory.servico_interesse,\n  ['creche', 'hotel', 'creche_e_hotel', 'visita', 'nao_definido'],\n  'nao_definido'\n);\n\nconst resumoLead = {\n  tutor_nome: cleanString(rawResumo.tutor_nome || memory.nome_tutor || lead.sender_name),\n  tutor_telefone: cleanString(rawResumo.tutor_telefone || memory.phone || lead.phone),\n  email_tutor: cleanString(rawResumo.email_tutor || memory.email_tutor),\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n  \n  unidade_preferida: unidadePreferida,\n  servico_interesse: servicoInteresse,\n\n  periodo_desejado: cleanString(rawResumo.periodo_desejado || memory.periodo_desejado),\n  data_desejada: cleanString(rawResumo.data_desejada || memory.data_desejada),\n  data_checkin_desejada: cleanString(rawResumo.data_checkin_desejada || memory.data_checkin_desejada),\n  data_checkout_desejada: cleanString(rawResumo.data_checkout_desejada || memory.data_checkout_desejada),\n\n  origem_lead: cleanString(rawResumo.origem_lead || memory.origem_lead || 'outro'),\n  origem_detalhada: cleanString(rawResumo.origem_detalhada || memory.origem_detalhada || lead.entry_channel),\n\n  comprovante_recebido: comprovanteRecebido,\n  tipo_comprovante: tipoComprovante(rawResumo.tipo_comprovante || memory.tipo_comprovante, comprovanteRecebido),\n  arquivo_comprovante_referencia: cleanString(rawResumo.arquivo_comprovante_referencia || memory.arquivo_comprovante_referencia),\n\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n  pre_reserva_criada: false,\n\n  responsavel_humano: toBool(rawInputs.deve_repassar_humano) ? 'Flavia' : '',\n\n  observacoes: cleanString(rawResumo.observacoes)\n};\n\nconst resumoInternoRepasse = {\n  repassar_para: toBool(rawInputs.deve_repassar_humano) ? 'Flavia' : '',\n  motivo: toBool(rawInputs.deve_repassar_humano)\n    ? cleanString(rawRepasse.motivo || rawInputs.motivo_repasse)\n    : '',\n\n  tutor_nome: resumoLead.tutor_nome,\n  tutor_telefone: resumoLead.tutor_telefone,\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: resumoLead.unidade_preferida,\n  servico_interesse: resumoLead.servico_interesse,\n\n  data_hora_avaliacao: '',\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  observacoes: cleanString(rawRepasse.observacoes || resumoLead.observacoes)\n};\n\nconst inputs = {\n  status_lead: statusLead(rawInputs.status_lead || memory.status_lead),\n  ultima_intencao: ultimaIntencao(rawInputs.ultima_intencao || memory.ultima_intencao),\n  evento_sistema: eventoSistema(rawInputs.evento_sistema),\n  \n  apto_para_avaliacao: enumValue(\n    rawInputs.apto_para_avaliacao || memory.apto_para_avaliacao,\n    ['sim', 'nao', 'caso_cinzento', 'pendente'],\n    'pendente'\n  ),\n\n  motivo_pre_reprovacao: cleanString(rawInputs.motivo_pre_reprovacao || memory.motivo_pre_reprovacao),\n\n  status_pagamento: statusPagamento(rawInputs.status_pagamento || memory.status_pagamento),\n\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  arquivo_comprovante_referencia: resumoLead.arquivo_comprovante_referencia,\n\n  pre_reserva_criada: false,\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: cleanString(rawInputs.proxima_acao),\n\n  deve_repassar_humano: toBool(rawInputs.deve_repassar_humano),\n  motivo_repasse: toBool(rawInputs.deve_repassar_humano)\n    ? cleanString(rawInputs.motivo_repasse || resumoInternoRepasse.motivo)\n    : '',\n\n  deve_enviar_guia: toBool(rawInputs.deve_enviar_guia),\n  deve_solicitar_pagamento: toBool(rawInputs.deve_solicitar_pagamento),\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: toBool(rawInputs.deve_encerrar_conversa),\n\n  resumo_interno_repasse: resumoInternoRepasse,\n\n  diagnostico_crm: isObject(rawInputs.diagnostico_crm) ? rawInputs.diagnostico_crm : {},\n\n  regras_raca: isObject(base.regras_raca)\n    ? base.regras_raca\n    : isObject(rawInputs.regras_raca)\n      ? rawInputs.regras_raca\n      : {},\n\n  precisa_responder_preco: toBool(rawInputs.precisa_responder_preco),\n  precisa_responder_localizacao: toBool(rawInputs.precisa_responder_localizacao),\n  precisa_responder_visita_material: toBool(rawInputs.precisa_responder_visita_material),\n  deve_priorizar_base_conhecimento: toBool(rawInputs.deve_priorizar_base_conhecimento),\n  is_first_turn: toBool(rawInputs.is_first_turn)\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      inputs,\n      caes_json: caesJson,\n      quantidade_caes: quantidadeCaes,\n\n      config_bruna,\n      config_bruna_modelo,\n\n      debug_config_bruna: {\n        total_regras_operacionais: Object.keys(config_bruna).length,\n        total_regras_modelo: Object.keys(config_bruna_modelo).length,\n        regras_modelo: Object.keys(config_bruna_modelo),\n        contexto_bruna_version: 'v6_inputs_sanitizados_sem_inputs_modelo'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11440,1168],"id":"09fdb573-1644-4c35-b5d1-df60870f5aa8","name":"CONTEXTO BRUNA"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  regra_key,\n  regra_valor,\n  bruna_modelo,\n  regra_valor_modelo\nFROM bruna_regras_operacionais\nWHERE ativo = true;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[11216,1168],"id":"2241e7a8-8209-4e9e-bb01-f8775ffb45cb","name":"GET CONFIG OPERACIONAL BRUNA","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}}],"connections":{"Start":{"main":[[{"node":"Verifica Última Mensagem","type":"main","index":0}]]},"Bruna Auau":{"main":[[{"node":"NORMALIZA BRUNA","type":"main","index":0},{"node":"Call [AUAU] [BRUNA] Salva Debug Execuções","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"base_conhecimento_bruna":{"ai_tool":[[{"node":"Bruna Auau","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"base_conhecimento_bruna","type":"ai_embedding","index":0}]]},"Verifica Última Mensagem":{"main":[[{"node":"Devo responder?","type":"main","index":0}]]},"Devo responder?":{"main":[[{"node":"GET CONFIG OPERACIONAL BRUNA","type":"main","index":0}],[]]},"NORMALIZA BRUNA":{"main":[[]]},"CONTEXTO BRUNA":{"main":[[{"node":"Bruna Auau","type":"main","index":0},{"node":"Call [AUAU] [BRUNA] Salva Debug Execuções1","type":"main","index":0}]]},"GET CONFIG OPERACIONAL BRUNA":{"main":[[{"node":"CONTEXTO BRUNA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"62c564c2-dc7e-4a6e-a4c6-9e5de6a64b57","activeVersionId":"62c564c2-dc7e-4a6e-a4c6-9e5de6a64b57","triggerCount":0,"shared":[{"updatedAt":"2026-04-21T21:09:12.800Z","createdAt":"2026-04-21T21:09:12.800Z","role":"workflow:owner","workflowId":"62QtMamEtHHwYM7d","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-06-05T16:37:27.363Z","createdAt":"2026-06-05T16:37:25.195Z","versionId":"62c564c2-dc7e-4a6e-a4c6-9e5de6a64b57","workflowId":"62QtMamEtHHwYM7d","nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0,"maxTokens":-1,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[11664,1392],"id":"33b79e30-95cb-44be-8596-2704d05c07af","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"promptType":"define","text":"=Analise a entrada abaixo e responda somente com JSON válido no contrato exigido.\n\n==================================================\nCONFIGURAÇÃO FILTRADA DA BRUNA PARA O MODELO\n==================================================\n\nUse esta configuração como fonte principal para regras conversacionais, preços visíveis ao lead, elegibilidade, handoff humano, coleta de dados, comportamento dos cães, unidades e taxonomia.\n\nEsta configuração é uma versão filtrada. Ela não contém etiquetas internas, notas internas, regras administrativas, arquivos específicos de guia nem dados bancários completos.\n\n{{ JSON.stringify($json.config_bruna_modelo || {}, null, 2) }}\n\n==================================================\nMENSAGEM ATUAL DO CLIENTE\n==================================================\n\n{{ $json.message?.content || \"\" }}\n\n==================================================\nMETADADOS DA MENSAGEM ATUAL\n==================================================\n\n{{ JSON.stringify({\n  message_modality: $json.message?.message_modality || \"\",\n  has_text: $json.message?.has_text === true,\n  has_attachment: $json.message?.has_attachment === true\n}, null, 2) }}\n\n==================================================\nHISTÓRICO CONSOLIDADO\n==================================================\n\n{{ $json.message?.history_for_crm || \"\" }}\n\n==================================================\nÚLTIMA MENSAGEM DA BRUNA ANTES DO BLOCO ATUAL\n==================================================\n\n{{ $json.message?.last_bruna_message_before_current_block || \"\" }}\n\n==================================================\nESTADO CRM SANITIZADO\n==================================================\n\n{{ JSON.stringify($json.inputs || {}, null, 2) }} \n\n==================================================\nCÃES JÁ CONHECIDOS\n==================================================\n\n{{ JSON.stringify(\n  $json.inputs?.caes_json ||\n  $json.inputs?.resumo_lead?.caes_json ||\n  [],\n  null,\n  2\n) }}\n\n==================================================\nREGRAS DE RAÇA\n==================================================\n\n{{ JSON.stringify($json.regras_raca || $json.inputs?.regras_raca || {}, null, 2) }}\n\n==================================================\nDADOS DO LEAD\n==================================================\n\n{{ JSON.stringify($json.lead || {}, null, 2) }}\n\n==================================================\nSINAIS DO TURNO\n==================================================\n\nprecisa_responder_preco: {{ $json.inputs?.precisa_responder_preco === true }}\nprecisa_responder_localizacao: {{ $json.inputs?.precisa_responder_localizacao === true }}\nprecisa_responder_visita_material: {{ $json.inputs?.precisa_responder_visita_material === true }}\ndeve_priorizar_base_conhecimento: {{ $json.inputs?.deve_priorizar_base_conhecimento === true }}\nis_first_turn: {{ $json.inputs?.is_first_turn === true }}\n\n==================================================\nINSTRUÇÕES DE EXECUÇÃO\n==================================================\n\n1. Responda a dúvida objetiva do lead antes de conduzir.\n2. Use config_bruna_modelo antes de qualquer valor fixo.\n3. Use a base_conhecimento_bruna quando precisar confirmar valores, regras, unidade, avaliação, adaptação, creche, hotel, visita ou funcionamento.\n4. Não peça PIX apenas porque o lead perguntou preço.\n5. Não envie chave PIX, recebedor, CNPJ ou dados bancários no texto. Quando o lead estiver apto e tiver intenção clara, apenas marque deve_solicitar_pagamento = true.\n6. Não agende, não consulte agenda, não crie pré-reserva e não ofereça horários.\n7. Não repita dados já informados no histórico, no estado sanitizado ou no array de cães.\n8. Não interprete imagem visualmente.\n9. Se o lead pediu humano, confirme antes de repassar.\n10. Se o lead confirmou atendimento humano, repasse.\n11. Se houver comprovante confirmado, repasse para humano conferir e alinhar horário.\n12. Use dados dos cães somente dentro do array caes_json.\n13. Não crie nem retorne campos soltos de cão fora do array caes_json.\n14. Retorne somente JSON válido, sem markdown e sem explicação.\n15. A resposta deve vir obrigatoriamente dentro da chave \"output\".\n","options":{"systemMessage":"=Você é Bruna, atendente virtual da AuAu Creche Canina.\n\nVocê está em treinamento para ajudar no primeiro atendimento pelo WhatsApp.\n\nSeu papel é:\n1. acolher o lead;\n2. responder dúvidas objetivas;\n3. entender o perfil básico do cão;\n4. explicar creche, hotel, avaliação e adaptação;\n5. conduzir para avaliação comportamental paga somente quando fizer sentido;\n6. receber comprovante quando o PIX já tiver sido enviado;\n7. repassar para humano quando o lead quiser ou quando houver dúvida sensível.\n\nVocê nunca deve fingir ser humana.\nVocê nunca deve dizer que é uma pessoa da equipe.\nVocê nunca deve confirmar agenda.\nVocê nunca deve oferecer horários específicos.\nVocê nunca deve confirmar hospedagem.\nVocê nunca deve validar pagamento real.\nVocê nunca deve criar pré-reserva.\nVocê nunca deve oferecer desconto.\nVocê nunca deve responder em áudio.\n\nHoje é {{ $now }}.\nTimezone: America/Sao_Paulo.\n\n==================================================\n1. FONTE DE VERDADE\n==================================================\n\nUse as fontes nesta ordem:\n\n1. config_bruna_modelo recebida no user prompt\n2. regras deste prompt\n3. base_conhecimento_bruna, quando precisar consultar fatos oficiais\n4. estado CRM sanitizado recebido no user prompt\n5. cães já conhecidos recebidos no user prompt\n6. histórico consolidado\n\nconfig_bruna_modelo é a fonte principal para:\n- identidade da Bruna\n- tom de resposta\n- regras de preço visíveis ao lead\n- regras de handoff humano\n- elegibilidade\n- campos mínimos antes de pagamento\n- comportamento do cão\n- unidades\n- taxonomia\n- instruções sanitizadas sobre guia e pagamento\n\nconfig_bruna_modelo é filtrada e contém apenas informações úteis para a conversa.\n\nA Bruna não deve tentar decidir:\n- etiquetas internas;\n- notas internas;\n- arquivo, link ou guia específico;\n- canal técnico de atendimento;\n- chave PIX;\n- recebedor PIX;\n- dados bancários;\n- validação real de pagamento.\n\nQuando precisar enviar guia, marque deve_enviar_guia = true.\nQuando precisar solicitar pagamento, marque deve_solicitar_pagamento = true.\nQuando receber comprovante confirmado, marque comprovante_recebido = true e deve_repassar_humano = true.\n\nNão copie config_bruna_modelo para a saída JSON.\n\nQuando o lead perguntar sobre valores, localização, funcionamento, avaliação, adaptação, hotel, creche, vacinas, castração, cio, visita, material ou regras oficiais, use a base_conhecimento_bruna se a informação não estiver clara em config_bruna_modelo ou nos inputs.\n\nSe houver conflito, prevalece config_bruna_modelo.\nSe config_bruna_modelo não trouxer a regra, prevalece este prompt.\nSe ainda faltar informação, use a base de conhecimento.\nSe não houver evidência, não invente.\n\n==================================================\n2. REGRA DE OURO: RESPONDER ANTES DE CONDUZIR\n==================================================\n\nQuando o lead fizer uma pergunta objetiva, responda primeiro a pergunta.\n\nPerguntas objetivas incluem:\n- preço\n- valor\n- mensalidade\n- diária\n- pacote\n- plano\n- funcionamento\n- endereço\n- localização\n- visita\n- horário\n- adaptação\n- hotel\n- creche\n- avaliação\n- o que levar\n- vacinas\n- castração\n- antipulgas\n- vermifugação\n- unidades\n- porte aceito\n- material\n- guia\n- tabela\n\nFormato ideal:\n1. responder a dúvida do lead;\n2. contextualizar em uma frase curta, se necessário;\n3. fazer uma pergunta útil para avançar.\n\nÉ proibido ignorar a dúvida e voltar direto para:\n- avaliação;\n- PIX;\n- comprovante;\n- coleta de dados;\n- “quando liberar me avise”;\n- “fico à disposição”.\n\nSe o lead pediu preço, responda preço.\nSe o lead pediu localização, responda localização.\nSe o lead pediu visita, responda sobre visita.\nSe o lead pediu funcionamento, explique funcionamento.\nSe o lead pediu guia ou tabela, responda o essencial e marque deve_enviar_guia = true.\n\n==================================================\n3. IDENTIDADE E PRIMEIRA MENSAGEM\n==================================================\n\nNa primeira mensagem real da conversa, apresente-se como atendente virtual e diga que está em treinamento.\n\nUse primeira mensagem somente quando o campo is_first_turn recebido nos sinais do turno for true, ou quando o estado CRM sanitizado indicar status_lead = NOVO_LEAD.\n\nNão use essa abertura se já houver última mensagem da Bruna no histórico.\n\nNa primeira resposta:\n- apresente-se como Bruna;\n- diga que é atendente virtual;\n- diga que está em treinamento;\n- informe que o lead pode pedir humano;\n- peça poucos dados iniciais do cão.\n\nModelo base:\n\"Olá! Sou a Bruna, atendente virtual da AuAu Creche Canina. Estou em treinamento para ajudar no primeiro atendimento 🐶🩵\"\n\"Se quiser falar com um especialista humano a qualquer momento, é só digitar humano ou falar com humano.\"\n\"Para eu te orientar melhor, pode me informar o nome, a idade, a raça e o sexo do seu cãozinho?\"\n\nNão use essa abertura se já houve apresentação anterior.\nNão use nome do tutor em toda resposta.\nUse o nome do tutor somente na abertura ou quando realmente ajudar.\n\n==================================================\n4. TOM E TAMANHO DAS RESPOSTAS\n==================================================\n\nmensagens_resposta deve ter de 1 a 3 mensagens.\n\nCada mensagem deve ser curta, natural e objetiva.\nEvite textão.\nEvite checklist pesado.\nEvite repetir dados já informados.\nEvite markdown.\nUse poucas emojis.\nUse 🐶 e 🩵 apenas quando fizer sentido, principalmente na primeira resposta.\n\nA Bruna pode convidar o lead a responder por áudio.\nA Bruna não pode prometer enviar áudio.\n\nSe o lead pedir áudio:\n- explique em texto;\n- não prometa gravar;\n- não diga que vai mandar áudio.\n\n==================================================\n5. CONTRATO DE SAÍDA\n==================================================\n\nRetorne somente um objeto JSON válido.\n\nA resposta deve vir obrigatoriamente dentro da chave \"output\".\n\nO formato obrigatório é:\n\n{\n  \"output\": {\n    \"status_lead\": \"\",\n    \"ultima_intencao\": \"\",\n    \"evento_sistema\": \"\",\n    \"mensagens_resposta\": [],\n    \"resumo_lead\": {},\n    \"proxima_acao\": \"\",\n    \"deve_repassar_humano\": false,\n    \"motivo_repasse\": \"\",\n    \"deve_enviar_guia\": false,\n    \"deve_solicitar_pagamento\": false,\n    \"deve_consultar_agenda\": false,\n    \"deve_criar_pre_reserva\": false,\n    \"deve_encerrar_conversa\": false,\n    \"resumo_interno_repasse\": {}\n  }\n}\n\nresumo_lead e resumo_interno_repasse não devem ficar vazios.\nMesmo quando não houver informação, preencha os campos obrigatórios com string vazia, false ou o valor enum padrão permitido.\n\nNão retorne array.\nNão use markdown.\nNão use bloco de código.\nNão escreva texto antes ou depois do JSON.\nNão use comentários.\nNão use null.\nNão inclua campos extras dentro de \"output\".\nNão inclua campos extras fora de \"output\".\nUse sempre a chave \"output\" como wrapper principal.\n\n==================================================\n6. STATUS, INTENÇÕES E EVENTOS\n==================================================\n\nUse apenas estes status_lead:\n\nNOVO_LEAD\nCOLETANDO_DADOS\nQUALIFICANDO\nPRE_REPROVADO\nAPTO_PARA_AVALIACAO\nAGUARDANDO_PAGAMENTO\nCOMPROVANTE_RECEBIDO\nTRANSFERIDO_FLAVIA\nENCERRADO_NAO_PERFIL\nENCERRADO_SEM_RESPOSTA\nENCERRADO\n\nNão use:\nAGUARDANDO_ESCOLHA_HORARIO\nPRE_RESERVA_CRIADA\n\nUse apenas estas ultima_intencao:\n\nINTERESSE_CRECHE\nINTERESSE_HOTEL\nPEDIU_VALOR\nPEDIU_LOCALIZACAO\nPEDIU_VISITA\nINFORMOU_DADOS_CAO\nINFORMOU_DADOS_TUTOR\nACEITOU_AVALIACAO\nRECEBEU_PIX\nENVIOU_COMPROVANTE\nPEDIU_HUMANO\nMACHO_NAO_CASTRADO\nRACA_POTENCIAL_DANO\nURGENCIA_FERIADO\nOBJECAO_PRECO\nSUMIU\n\nNão use:\nESCOLHEU_HORARIO\n\nUse apenas estes evento_sistema:\n\n\"\"\nFORMULARIO_RECEBIDO\nGUIA_ENVIADO\nPIX_SOLICITADO\nANEXO_RECEBIDO\nCOMPROVANTE_IDENTIFICADO\nREPASSE_FLAVIA\nFOLLOWUP_DISPARADO\nCONVERSA_ENCERRADA\n\nNão use:\nAGENDA_CONSULTADA\nHORARIOS_ENVIADOS\nPRE_RESERVA_CRIADA\n\nevento_sistema representa somente o evento operacional atual.\nSe não houver evento novo claro, use string vazia.\n\n==================================================\n7. CAMPOS DO resumo_lead\n==================================================\n\nresumo_lead deve conter somente estes campos:\n\ntutor_nome\ntutor_telefone\nemail_tutor\nquantidade_caes\ncaes_json\nunidade_preferida\nservico_interesse\nperiodo_desejado\ndata_desejada\ndata_checkin_desejada\ndata_checkout_desejada\norigem_lead\norigem_detalhada\ncomprovante_recebido\ntipo_comprovante\narquivo_comprovante_referencia\ndata_hora_avaliacao\ndata_hora_pre_reserva\npre_reserva_criada\nresponsavel_humano\nobservacoes\n\nÉ proibido retornar dados de cão fora do array caes_json.\n\nTodos os dados dos cães devem ficar exclusivamente dentro de:\nresumo_lead.caes_json\nresumo_interno_repasse.caes_json\n\nNão crie campos soltos para nome, idade, raça, porte, sexo, castração, cio, vacinas, antipulgas, vermifugação, comportamento ou relatório veterinário fora do array caes_json.\n\nquantidade_caes deve ser igual ao tamanho do array caes_json.\n\nSe nenhum cão foi identificado:\nquantidade_caes = 0\ncaes_json = []\n\nunidade_preferida:\namaralina\nauauzin_patamares\nnao_definida\n\nservico_interesse:\ncreche\nhotel\ncreche_e_hotel\nvisita\nnao_definido\n\ntipo_comprovante:\nimagem\npdf\nprint_banco\nnao_informado\n\nNunca use:\nprint\ndocumento\nanexo\n\nQuando comprovante_recebido = false:\ntipo_comprovante = \"nao_informado\"\n\ndata_hora_avaliacao:\nsempre string vazia.\n\ndata_hora_pre_reserva:\nsempre string vazia.\n\npre_reserva_criada:\nsempre false.\n\nresponsavel_humano:\nuse \"Flavia\" somente quando houver repasse humano real.\nCaso contrário, use string vazia.\n\nobservacoes:\nuse 1 ou 2 frases curtas com fatos úteis.\nNão coloque instruções aqui.\nNão coloque lixo técnico.\nNão escreva “não perguntar novamente” em observacoes.\n\n==================================================\n7.1 CÃES\n==================================================\n\nTodos os dados dos cães devem ficar exclusivamente no array caes_json.\n\ncaes_json deve ser sempre um array.\n\nSe houver apenas um cão, caes_json deve conter 1 objeto.\nSe houver mais de um cão, caes_json deve conter 1 objeto por cão.\nSe ainda não houver cão identificado, use caes_json = [].\n\nCada item de caes_json deve seguir exatamente este formato:\n\n{\n  \"nome\": \"\",\n  \"idade_anos\": \"\",\n  \"idade_texto\": \"\",\n  \"raca\": \"\",\n  \"raca_canonica\": \"\",\n  \"porte\": \"nao_definido\",\n  \"sexo\": \"nao_informado\",\n  \"castrado\": \"nao_informado\",\n  \"no_cio\": \"nao_informado\",\n  \"vacinas_ok\": \"nao_informado\",\n  \"antipulgas_ok\": \"nao_informado\",\n  \"vermifugacao_ok\": \"nao_informado\",\n  \"perfil_comportamental\": \"nao_informado\",\n  \"comportamento_observacoes\": \"\",\n  \"possui_relatorio_veterinario\": \"nao_informado\",\n  \"observacoes\": \"\"\n}\n\nValores permitidos por cão:\n\nporte:\nmini\npequeno\nmedio\ngrande\ngigante\nnao_definido\n\nsexo:\nmacho\nfemea\nnao_informado\n\ncastrado:\nsim\nnao\nnao_informado\n\nno_cio:\nsim\nnao\nnao_se_aplica\nnao_informado\n\nvacinas_ok:\nsim\nnao\nnao_informado\n\nantipulgas_ok:\nsim\nnao\nnao_informado\n\nvermifugacao_ok:\nsim\nnao\nnao_informado\n\nperfil_comportamental:\nnao_informado\ntranquilo\nsociavel\nseletivo\nreativo_leve\nreativo_alto\nagressivo\n\npossui_relatorio_veterinario:\nsim\nnao\nnao_se_aplica\nnao_informado\n\nQuando não houver evidência:\nstrings livres = \"\"\nporte = \"nao_definido\"\nenums desconhecidos = \"nao_informado\"\nno_cio em macho = \"nao_se_aplica\"\npossui_relatorio_veterinario em cão com menos de 10 anos = \"nao_se_aplica\"\n\nSe caes_json já contiver dados no contexto, não apague nem substitua por [].\nAtualize apenas os campos novos informados pelo tutor.\n\nNão pergunte novamente nome, idade, raça, sexo ou castração se esses dados já estiverem preenchidos em caes_json.\n\nSe houver vários cães, fale no plural.\nExemplo: “Pode me contar se eles convivem bem com outros cães?”\n\n==================================================\n8. CAMPOS DO resumo_interno_repasse\n==================================================\n\nresumo_interno_repasse deve conter somente estes campos:\n\nrepassar_para\nmotivo\ntutor_nome\ntutor_telefone\nquantidade_caes\ncaes_json\nunidade_preferida\nservico_interesse\ndata_hora_avaliacao\ncomprovante_recebido\ntipo_comprovante\nobservacoes\n\nÉ proibido retornar dados de cão fora do array caes_json.\n\nTodos os dados dos cães devem ficar dentro de resumo_interno_repasse.caes_json.\n\nresumo_interno_repasse.caes_json deve ser igual a resumo_lead.caes_json.\nresumo_interno_repasse.quantidade_caes deve ser igual a resumo_lead.quantidade_caes.\n\nSe deve_repassar_humano = true:\n- repassar_para = \"Flavia\"\n- motivo não pode ficar vazio\n- observacoes deve resumir o caso para humano\n\nSe deve_repassar_humano = false:\n- repassar_para = \"\"\n- motivo = \"\"\n\nMesmo quando não houver repasse humano, resumo_interno_repasse deve refletir os dados conhecidos do lead:\n- tutor_nome\n- tutor_telefone\n- quantidade_caes\n- caes_json\n- unidade_preferida\n- servico_interesse\n- comprovante_recebido\n- tipo_comprovante\n- observacoes\n\ndata_hora_avaliacao sempre string vazia.\nA Bruna não agenda.\n\n==================================================\n9. COLETA DE DADOS\n==================================================\n\nAntes de perguntar qualquer coisa, verifique se o dado já existe em:\n1. inputs.resumo_lead.caes_json\n2. inputs.caes_json\n3. histórico consolidado\n4. estado CRM sanitizado\n\nNunca pergunte novamente um dado já preenchido no array caes_json.\n\nPrimeira coleta:\npeça nome, idade, raça e sexo do cão ou dos cães.\n\nSe o tutor indicar mais de um cão, peça os dados no plural e organize um item no array caes_json para cada cão.\n\nDepois da primeira coleta, faça perguntas por blocos:\n\nBloco identificação:\nnome, idade, raça, sexo e porte.\n\nBloco sanitário:\nvacinas, antipulgas e vermifugação.\n\nBloco comportamento:\nuse apenas uma pergunta:\n\"Ele convive bem com outros cães ou tem alguma reatividade que a equipe precise saber?\"\n\nBloco rotina/interesse:\ncreche, hotel, frequência, período ou necessidade do tutor.\n\nNão misture blocos diferentes no mesmo turno, exceto no início quando quase nada foi informado.\n\n==================================================\n10. PREÇO, GUIA E MATERIAL\n==================================================\n\nSe o lead perguntar preço, responda preço.\n\nSe a pergunta for vaga:\n- responda com contexto curto;\n- pergunte se ele busca creche, hotel ou avaliação.\n\nSe a pergunta for específica:\n- responda diretamente;\n- não peça PIX no mesmo turno apenas porque perguntou preço.\n\nSe o lead pedir guia, tabela, material, valores detalhados, planos, mensalidade ou funcionamento completo:\n- responda o essencial no texto;\n- marque deve_enviar_guia = true;\n- não escolha arquivo, link ou guia específico.\n\nNão use guia como fuga.\nNão diga apenas “está no guia”.\n\n==================================================\n11. PAGAMENTO E PIX\n==================================================\n\nA Bruna não deve escrever chave PIX, recebedor, CNPJ ou dados bancários no texto.\n\nconfig_bruna_modelo pode informar valor, regra de reversão e validação humana, mas não deve ser usada para escrever dados bancários.\n\nQuando o lead estiver apto e demonstrar intenção clara de seguir com a avaliação, marque deve_solicitar_pagamento = true.\n\nSó use deve_solicitar_pagamento = true quando:\n1. o lead demonstrar intenção clara de seguir com a avaliação;\n2. não houver bloqueio objetivo;\n3. os dados mínimos estiverem suficientes;\n4. não for primeira mensagem;\n5. o lead não estiver apenas pedindo preço;\n6. o lead não tiver pedido humano;\n7. não houver dúvida de elegibilidade.\n\nAntes de marcar deve_solicitar_pagamento = true, precisa ter pelo menos:\n\n- serviço de interesse;\n- pelo menos 1 cão em caes_json;\n- para cada cão: nome, idade, raça e sexo;\n- perfil comportamental de cada cão ou resposta geral aplicável a todos;\n- vacinas, antipulgas e vermifugação de cada cão ou resposta geral aplicável a todos;\n- castração de cada macho com 8 meses ou mais;\n- aceite explícito do tutor para seguir com avaliação.\n\nSe houver mais de um cão, não solicite pagamento enquanto houver dúvida importante sobre qualquer cão.\n\nQuando deve_solicitar_pagamento = true:\nstatus_lead = APTO_PARA_AVALIACAO\nultima_intencao = ACEITOU_AVALIACAO\nevento_sistema = \"\"\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\n\nNão use deve_solicitar_pagamento = true quando:\n- lead pediu preço;\n- lead pediu humano;\n- lead está só pesquisando;\n- ainda faltam dados mínimos;\n- há dúvida de raça;\n- há dúvida de elegibilidade;\n- é a primeira mensagem.\n\n==================================================\n12. COMPROVANTE E ANEXOS\n==================================================\n\nSe o lead enviar anexo fora de contexto de pagamento:\n- não assuma que é comprovante;\n- não interprete imagem;\n- não diga que viu raça, porte, sexo, saúde ou comportamento pela imagem;\n- registre evento_sistema = ANEXO_RECEBIDO;\n- mantenha comprovante_recebido = false;\n- continue a coleta do dado pendente.\n\nSó existe contexto de pagamento quando pelo menos uma condição for verdadeira:\n- status atual = AGUARDANDO_PAGAMENTO;\n- evento atual = PIX_SOLICITADO;\n- última intenção = ACEITOU_AVALIACAO;\n- mensagem menciona pix, pagamento, comprovante, transferência ou taxa.\n\nSe houver anexo em contexto de pagamento, mas o lead não confirmou que é comprovante:\nstatus_lead = AGUARDANDO_PAGAMENTO\nultima_intencao = RECEBEU_PIX\nevento_sistema = ANEXO_RECEBIDO\nresumo_lead.comprovante_recebido = false\ndeve_repassar_humano = false\nPergunte se o arquivo é o comprovante da taxa de avaliação.\n\nSe o lead confirmar que o arquivo é comprovante:\nstatus_lead = COMPROVANTE_RECEBIDO\nultima_intencao = ENVIOU_COMPROVANTE\nevento_sistema = COMPROVANTE_IDENTIFICADO\nresumo_lead.comprovante_recebido = true\ndeve_repassar_humano = true\nmotivo_repasse = \"Comprovante recebido. Precisa de conferência humana e alinhamento do horário da avaliação.\"\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\n\nA Bruna nunca valida pagamento real.\n\n==================================================\n13. REPASSE HUMANO\n==================================================\n\nSe o lead pedir humano, atendente, pessoa, especialista ou Flávia:\n- não repasse imediatamente;\n- confirme antes;\n- informe horário comercial.\n\nResposta padrão:\n\"Claro. Quer que eu chame um especialista humano da equipe para te atender? O atendimento humano acontece em horário comercial, de segunda a sexta.\"\n\nNesse caso:\nstatus_lead = QUALIFICANDO\nultima_intencao = PEDIU_HUMANO\nevento_sistema = \"\"\ndeve_repassar_humano = false\nmotivo_repasse = \"\"\nproxima_acao = \"aguardar_confirmacao_humano\"\n\n\nSe o lead confirmar que quer humano:\nstatus_lead = TRANSFERIDO_FLAVIA\nultima_intencao = PEDIU_HUMANO\nevento_sistema = REPASSE_FLAVIA\ndeve_repassar_humano = true\nmotivo_repasse = \"lead_confirmou_atendimento_humano\"\nproxima_acao = \"repassar_humano\"\n\n\nTambém repasse humano quando:\n- comprovante foi confirmado;\n- caso cinzento;\n- cão idoso com dúvida operacional;\n- reatividade relevante;\n- exceção operacional;\n- irritação ou confusão relevante;\n- urgência de feriado;\n- pedido fora do padrão.\n\nNão repasse humano por padrão em não perfil objetivo claro.\nNão repasse humano por raça com potencial de dano.\nNão repasse humano por macho não castrado que disse não ter intenção de castrar.\n\n==================================================\n14. REGRAS DE RAÇA, PORTE E UNIDADE\n==================================================\n\nUse inputs.regras_raca quando existir.\n\nA Bruna só pode encerrar por raça quando:\ninputs.regras_raca.potencial_dano = true\ne não houver dúvida real sobre a raça.\n\nSe potencial_dano = true:\nstatus_lead = ENCERRADO_NAO_PERFIL\nultima_intencao = RACA_POTENCIAL_DANO\nevento_sistema = CONVERSA_ENCERRADA\ndeve_repassar_humano = false\ndeve_solicitar_pagamento = false\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\ndeve_encerrar_conversa = true\n\nPorte grande sozinho nunca é motivo para encerramento.\nGolden, Labrador, Dálmata, Border Collie e raças grandes não devem ser recusadas apenas por porte.\n\nAuAuzin Patamares aceita apenas cães mini e pequenos.\nAuAu Amaralina atende cães de todos os portes, exceto casos de grande potencial de dano.\n\nSe o lead vier pela AuAuzin com cão médio, grande ou gigante:\n- não encerre;\n- explique que AuAuzin é para mini e pequenos;\n- direcione para Amaralina quando o perfil permitir.\n\n==================================================\n15. MACHO NÃO CASTRADO\n==================================================\n\nA regra só se aplica por cão.\n\nPara cada item em caes_json, verifique se há alta confiança de que:\n1. sexo = macho;\n2. idade igual ou maior que 8 meses;\n3. castrado = nao.\n\nSe apenas um dos cães tiver bloqueio, explique a regra daquele cão específico.\nNão trate todos os cães como bloqueados se apenas um tiver restrição.\n\nSe macho com 8 meses ou mais e não castrado:\nstatus_lead = PRE_REPROVADO\nultima_intencao = MACHO_NAO_CASTRADO\nevento_sistema = \"\"\ndeve_repassar_humano = false\ndeve_solicitar_pagamento = false\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\ndeve_encerrar_conversa = false\n\nExplique a regra e pergunte se o tutor pensa em castrar.\n\nSe o tutor disser que não pretende castrar:\nstatus_lead = ENCERRADO_NAO_PERFIL\nultima_intencao = MACHO_NAO_CASTRADO\nevento_sistema = CONVERSA_ENCERRADA\ndeve_encerrar_conversa = true\n\n==================================================\n16. FÊMEA NO CIO\n==================================================\n\nFêmea no cio não é não perfil definitivo.\nNão encerre automaticamente.\n\nExplique que ela não pode frequentar creche, hotel ou adaptação em grupo durante o cio, mas o atendimento pode continuar para orientação futura.\n\n==================================================\n17. HOTEL\n==================================================\n\nHotel exige:\n- avaliação comportamental;\n- adaptação concluída;\n- confirmação humana.\n\nA Bruna nunca confirma hospedagem.\nA Bruna nunca confirma disponibilidade.\nA Bruna nunca classifica data específica como alta ou baixa temporada.\n\nSe o lead perguntar valor de hotel:\n- responda baixa e alta temporada conforme config_bruna_modelo ou base de conhecimento;\n- se perguntar pacote, informe pacotes;\n- explique que hotel exige avaliação e adaptação antes.\n\n==================================================\n18. AGENDA\n==================================================\n\nA Bruna não agenda.\nA Bruna não consulta agenda.\nA Bruna não cria pré-reserva.\nA Bruna não oferece horário específico.\nA Bruna não pede escolha de horário.\n\nSempre:\ndeve_consultar_agenda = false\ndeve_criar_pre_reserva = false\nresumo_lead.data_hora_avaliacao = \"\"\nresumo_lead.data_hora_pre_reserva = \"\"\nresumo_lead.pre_reserva_criada = false\nresumo_interno_repasse.data_hora_avaliacao = \"\"\n\nApós comprovante confirmado, repasse para humano conferir pagamento e alinhar horário.\n\n==================================================\n19. COERÊNCIA FINAL\n==================================================\n\nAntes de responder, confira:\n\n1. Não há null.\n2. Não há campo extra na raiz.\n3. mensagens_resposta tem de 1 a 3 mensagens.\n4. deve_consultar_agenda = false.\n5. deve_criar_pre_reserva = false.\n6. data_hora_avaliacao = \"\".\n7. data_hora_pre_reserva = \"\".\n8. pre_reserva_criada = false.\n9. Se deve_repassar_humano = true, motivo_repasse não está vazio.\n10. Se deve_repassar_humano = true, resumo_interno_repasse.repassar_para = \"Flavia\".\n11. Se deve_repassar_humano = false, motivo_repasse = \"\".\n12. Se deve_encerrar_conversa = true, evento_sistema = CONVERSA_ENCERRADA.\n13. Se ultima_intencao = INTERESSE_CRECHE, servico_interesse = \"creche\".\n14. Se ultima_intencao = INTERESSE_HOTEL, servico_interesse = \"hotel\".\n15. Se comprovante_recebido = false, tipo_comprovante = \"nao_informado\".\n16. Se comprovante_recebido = true, tipo_comprovante deve ser imagem, pdf ou print_banco.\n17. resumo_lead.caes_json é array.\n18. resumo_interno_repasse.caes_json é array.\n19. resumo_interno_repasse.caes_json = resumo_lead.caes_json.\n20. resumo_lead.quantidade_caes = tamanho de resumo_lead.caes_json.\n21. resumo_interno_repasse.quantidade_caes = tamanho de resumo_interno_repasse.caes_json.\n22. Não existe dado de cão fora dos arrays caes_json.\n23. Não existe nenhum dado individual de cão fora dos arrays caes_json.\n24. Dados como nome, idade, raça, porte, sexo, castração, cio, vacinas, antipulgas, vermifugação, comportamento e relatório veterinário aparecem somente dentro de cada item de caes_json.\n25. Não use tipo_comprovante = documento.\n26. Não use tipo_comprovante = print."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[11696,1168],"id":"27260b35-e073-4f32-b517-7a72d68aa46a","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[11872,1600],"id":"0ab4cb69-20fa-47f9-af22-4e69475996bf","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=Use esta base obrigatoriamente quando o lead perguntar sobre valores, planos mensais, diária, pacote, mensalidade, localização, unidades, funcionamento da creche, funcionamento do hotel, avaliação, adaptação, regras sanitárias, castração, cio, vacinas, antipulgas, vermifugação, visita, material institucional ou objeções comerciais.\n\nPriorize respostas objetivas baseadas nos guias oficiais e FAQ operacional.\n\nQuando o lead pedir preço específico, consulte e responda o valor específico. Não use a avaliação como resposta padrão para tudo.","tableName":{"__rl":true,"value":"auau_bruna_documents","mode":"list","cachedResultName":"auau_bruna_documents"},"topK":3,"options":{"queryName":"auau_bruna_match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[11792,1392],"id":"9d44b2c2-2ac4-4ac3-a600-973aff4d096a","name":"base_conhecimento_bruna","credentials":{"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"workflowInputs":{"values":[{"name":"message","type":"object"},{"name":"inputs","type":"object"},{"name":"chatwoot","type":"object"},{"name":"lead","type":"object"},{"name":"memory","type":"object"}]}},"id":"fc9b9004-58a8-4c68-8065-8f840f3c9f7a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[10544,1072]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[10992,1072],"id":"be5f99bc-2186-4ec4-9f48-0196c376b49c","name":"Devo responder?"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[10768,1072],"name":"Verifica Última Mensagem","id":"8626d74f-1356-4f7c-9a3e-5eb3beb78364"},{"parameters":{"workflowId":{"__rl":true,"value":"kjExyn9IlMx8VtST","mode":"list","cachedResultUrl":"/workflow/kjExyn9IlMx8VtST","cachedResultName":"[AUAU] [BRUNA] Salva Debug Execuções"},"workflowInputs":{"mappingMode":"defineBelow","value":{"json_payload":"={{ $json }}","etapa":"BRUNA OUTPUT","node":"Bruna Auau"},"matchingColumns":[],"schema":[{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"json_payload","displayName":"json_payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[12160,1072],"name":"Call [AUAU] [BRUNA] Salva Debug Execuções","id":"7c149b46-d90f-41b3-bfa6-6f3f2159483a"},{"parameters":{"workflowId":{"__rl":true,"value":"kjExyn9IlMx8VtST","mode":"list","cachedResultUrl":"/workflow/kjExyn9IlMx8VtST","cachedResultName":"[AUAU] [BRUNA] Salva Debug Execuções"},"workflowInputs":{"mappingMode":"defineBelow","value":{"json_payload":"={{ $json }}","etapa":"BRUNA INPUT","node":"CONTEXTO BRUNA"},"matchingColumns":[],"schema":[{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"node","displayName":"node","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"json_payload","displayName":"json_payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[11616,992],"name":"Call [AUAU] [BRUNA] Salva Debug Execuções1","id":"70f86c6a-d346-4384-b549-9558e2f570c8"},{"parameters":{"jsCode":"const raw = $input.first().json || {};\n\nfunction getNodeJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction isObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction isNonEmptyObject(value) {\n  return isObject(value) && Object.keys(value).length > 0;\n}\n\nfunction firstNonEmptyObject(...values) {\n  for (const value of values) {\n    if (isNonEmptyObject(value)) return value;\n  }\n  return {};\n}\n\nfunction cleanString(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'object') {\n    try {\n      return JSON.stringify(value);\n    } catch (e) {\n      return '';\n    }\n  }\n\n  return String(value).trim();\n}\n\nfunction normalizeText(value) {\n  return cleanString(value)\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction parseJsonFlexible(value) {\n  if (value === undefined || value === null) return {};\n\n  if (typeof value === 'object') return value;\n\n  let text = String(value).trim();\n\n  text = text\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n\n  const firstBrace = text.indexOf('{');\n  const lastBrace = text.lastIndexOf('}');\n\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    text = text.slice(firstBrace, lastBrace + 1);\n  }\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    return {\n      __parse_error: true,\n      __parse_error_message: error.message,\n      __raw_text: value\n    };\n  }\n}\n\nfunction unwrapBrunaOutput(rawValue) {\n  const parsedLevel1 = parseJsonFlexible(rawValue);\n\n  if (parsedLevel1?.output !== undefined) {\n    const parsedLevel2 = parseJsonFlexible(parsedLevel1.output);\n\n    if (parsedLevel2?.output && typeof parsedLevel2.output === 'object') {\n      return {\n        bruna: parsedLevel2.output,\n        parse_error: false,\n        raw_parsed: parsedLevel2\n      };\n    }\n\n    if (parsedLevel1.output && typeof parsedLevel1.output === 'object') {\n      return {\n        bruna: parsedLevel1.output,\n        parse_error: false,\n        raw_parsed: parsedLevel1\n      };\n    }\n\n    return {\n      bruna: parsedLevel2,\n      parse_error: parsedLevel2.__parse_error === true,\n      raw_parsed: parsedLevel2\n    };\n  }\n\n  return {\n    bruna: parsedLevel1,\n    parse_error: parsedLevel1.__parse_error === true,\n    raw_parsed: parsedLevel1\n  };\n}\n\nfunction toBool(value) {\n  return value === true || value === 1 || value === '1' || String(value).toLowerCase() === 'true';\n}\n\nfunction enumValue(value, allowed, fallback) {\n  const v = cleanString(value);\n  return allowed.includes(v) ? v : fallback;\n}\n\nfunction chooseString(next, previous = '') {\n  const n = cleanString(next);\n  if (n) return n;\n  return cleanString(previous);\n}\n\nfunction chooseEnum(next, previous, allowed, fallback) {\n  const n = cleanString(next);\n  const p = cleanString(previous);\n\n  const nextValid = allowed.includes(n) ? n : '';\n  const previousValid = allowed.includes(p) ? p : '';\n\n  if (nextValid && nextValid !== fallback) return nextValid;\n  if (previousValid && previousValid !== fallback) return previousValid;\n  if (nextValid) return nextValid;\n  if (previousValid) return previousValid;\n\n  return fallback;\n}\n\nfunction parseArray(value) {\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === 'string' && value.trim()) {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (e) {\n      return [];\n    }\n  }\n\n  return [];\n}\n\nfunction firstArray(...values) {\n  for (const value of values) {\n    const arr = parseArray(value);\n    if (arr.length) return arr;\n  }\n\n  return [];\n}\n\nfunction normalizeDog(next = {}, previous = {}) {\n  const incoming = isObject(next) ? next : {};\n  const prev = isObject(previous) ? previous : {};\n\n  const sexo = chooseEnum(\n    incoming.sexo,\n    prev.sexo,\n    ['macho', 'femea', 'nao_informado'],\n    'nao_informado'\n  );\n\n  return {\n    nome: chooseString(incoming.nome, prev.nome),\n    idade_anos: chooseString(incoming.idade_anos, prev.idade_anos),\n    idade_texto: chooseString(incoming.idade_texto, prev.idade_texto),\n    raca: chooseString(incoming.raca, prev.raca),\n    raca_canonica: chooseString(incoming.raca_canonica, prev.raca_canonica),\n\n    porte: chooseEnum(\n      incoming.porte,\n      prev.porte,\n      ['mini', 'pequeno', 'medio', 'grande', 'gigante', 'nao_definido'],\n      'nao_definido'\n    ),\n\n    sexo,\n\n    castrado: chooseEnum(\n      incoming.castrado,\n      prev.castrado,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    no_cio: sexo === 'macho'\n      ? 'nao_se_aplica'\n      : chooseEnum(\n          incoming.no_cio,\n          prev.no_cio,\n          ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n          'nao_informado'\n        ),\n\n    vacinas_ok: chooseEnum(\n      incoming.vacinas_ok,\n      prev.vacinas_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    antipulgas_ok: chooseEnum(\n      incoming.antipulgas_ok,\n      prev.antipulgas_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    vermifugacao_ok: chooseEnum(\n      incoming.vermifugacao_ok,\n      prev.vermifugacao_ok,\n      ['sim', 'nao', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    perfil_comportamental: chooseEnum(\n      incoming.perfil_comportamental,\n      prev.perfil_comportamental,\n      ['nao_informado', 'tranquilo', 'sociavel', 'seletivo', 'reativo_leve', 'reativo_alto', 'agressivo'],\n      'nao_informado'\n    ),\n\n    comportamento_observacoes: chooseString(\n      incoming.comportamento_observacoes,\n      prev.comportamento_observacoes\n    ),\n\n    possui_relatorio_veterinario: chooseEnum(\n      incoming.possui_relatorio_veterinario,\n      prev.possui_relatorio_veterinario,\n      ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n      'nao_informado'\n    ),\n\n    observacoes: chooseString(incoming.observacoes, prev.observacoes)\n  };\n}\n\nfunction normalizeDogArray(value) {\n  return parseArray(value)\n    .filter(isObject)\n    .map(dog => normalizeDog(dog));\n}\n\nfunction mergeDogs(previousDogs, incomingDogs) {\n  const previous = normalizeDogArray(previousDogs);\n  const incoming = normalizeDogArray(incomingDogs);\n\n  if (!incoming.length) return previous;\n\n  const result = previous.map(dog => ({ ...dog }));\n\n  for (const dog of incoming) {\n    const dogName = normalizeText(dog.nome);\n\n    // Caso comum: já existe 1 cão e a Bruna atualizou campos sem repetir o nome.\n    if (!dogName && result.length === 1 && incoming.length === 1) {\n      result[0] = normalizeDog(dog, result[0]);\n      continue;\n    }\n\n    const index = dogName\n      ? result.findIndex(existing => normalizeText(existing.nome) === dogName)\n      : -1;\n\n    if (index >= 0) {\n      result[index] = normalizeDog(dog, result[index]);\n    } else {\n      result.push(normalizeDog(dog));\n    }\n  }\n\n  return result;\n}\n\nfunction normalizeTipoComprovante(value, comprovanteRecebido) {\n  if (comprovanteRecebido !== true) return 'nao_informado';\n\n  return enumValue(\n    value,\n    ['imagem', 'pdf', 'print_banco', 'nao_informado'],\n    'nao_informado'\n  );\n}\n\nfunction normalizeMessages(messages) {\n  const arr = Array.isArray(messages) ? messages : [];\n\n  return arr\n    .map(m => cleanString(m))\n    .filter(Boolean)\n    .slice(0, 3);\n}\n\nfunction statusLead(value, fallback = 'QUALIFICANDO') {\n  return enumValue(\n    value,\n    [\n      'NOVO_LEAD',\n      'COLETANDO_DADOS',\n      'QUALIFICANDO',\n      'PRE_REPROVADO',\n      'APTO_PARA_AVALIACAO',\n      'AGUARDANDO_PAGAMENTO',\n      'COMPROVANTE_RECEBIDO',\n      'TRANSFERIDO_FLAVIA',\n      'ENCERRADO_NAO_PERFIL',\n      'ENCERRADO_SEM_RESPOSTA',\n      'ENCERRADO'\n    ],\n    fallback\n  );\n}\n\nfunction ultimaIntencao(value, fallback = 'INTERESSE_CRECHE') {\n  return enumValue(\n    value,\n    [\n      'INTERESSE_CRECHE',\n      'INTERESSE_HOTEL',\n      'PEDIU_VALOR',\n      'PEDIU_LOCALIZACAO',\n      'PEDIU_VISITA',\n      'INFORMOU_DADOS_CAO',\n      'INFORMOU_DADOS_TUTOR',\n      'ACEITOU_AVALIACAO',\n      'RECEBEU_PIX',\n      'ENVIOU_COMPROVANTE',\n      'PEDIU_HUMANO',\n      'MACHO_NAO_CASTRADO',\n      'RACA_POTENCIAL_DANO',\n      'URGENCIA_FERIADO',\n      'OBJECAO_PRECO',\n      'SUMIU'\n    ],\n    fallback\n  );\n}\n\nfunction eventoSistema(value) {\n  return enumValue(\n    value,\n    [\n      '',\n      'FORMULARIO_RECEBIDO',\n      'GUIA_ENVIADO',\n      'PIX_SOLICITADO',\n      'ANEXO_RECEBIDO',\n      'COMPROVANTE_IDENTIFICADO',\n      'REPASSE_FLAVIA',\n      'FOLLOWUP_DISPARADO',\n      'CONVERSA_ENCERRADA'\n    ],\n    ''\n  );\n}\n\nfunction statusPagamento(value, normalized) {\n  if (normalized.resumo_lead?.comprovante_recebido === true) {\n    return 'validacao_humana_pendente';\n  }\n\n  if (normalized.deve_solicitar_pagamento === true) {\n    return 'aguardando_pagamento';\n  }\n\n  return enumValue(\n    value,\n    [\n      'nao_solicitado',\n      'aguardando_pagamento',\n      'comprovante_recebido',\n      'validacao_humana_pendente',\n      'aprovado_humano',\n      'negado_humano',\n      'estornado',\n      'cancelado'\n    ],\n    'nao_solicitado'\n  );\n}\n\nfunction isSimpleAck(text) {\n  const t = normalizeText(text);\n\n  return [\n    'ok',\n    'okay',\n    'certo',\n    'ta bom',\n    'tudo bem',\n    'obrigado',\n    'obrigada',\n    'valeu',\n    'beleza',\n    'blz',\n    'show',\n    'perfeito',\n    'joia',\n    'sim',\n    'combinado'\n  ].includes(t);\n}\n\nconst start = getNodeJson('Start');\nconst contextoBruna = getNodeJson('CONTEXTO BRUNA');\nconst normalizaConfigBruna = getNodeJson('NORMALIZA CONFIG BRUNA');\n\nconst base = {\n  ...start,\n  ...normalizaConfigBruna,\n  ...contextoBruna,\n\n  inputs: firstNonEmptyObject(\n    contextoBruna.inputs,\n    normalizaConfigBruna.inputs,\n    start.inputs\n  ),\n\n  message: firstNonEmptyObject(\n    contextoBruna.message,\n    normalizaConfigBruna.message,\n    start.message\n  ),\n\n  chatwoot: firstNonEmptyObject(\n    contextoBruna.chatwoot,\n    normalizaConfigBruna.chatwoot,\n    start.chatwoot\n  ),\n\n  lead: firstNonEmptyObject(\n    contextoBruna.lead,\n    normalizaConfigBruna.lead,\n    start.lead\n  ),\n\n  memory: firstNonEmptyObject(\n    contextoBruna.memory,\n    normalizaConfigBruna.memory,\n    start.memory\n  )\n};\n\nconst rawOutput =\n  raw.output ??\n  raw.text ??\n  raw.response ??\n  raw.message ??\n  raw;\n\nconst unwrapped = unwrapBrunaOutput(rawOutput);\nconst bruna = isObject(unwrapped.bruna) ? unwrapped.bruna : {};\n\nconst previousInputs = base.inputs || {};\nconst previousResumo = previousInputs.resumo_lead || {};\nconst previousRepasse = previousInputs.resumo_interno_repasse || {};\n\nconst configBruna = firstNonEmptyObject(\n  contextoBruna.config_bruna,\n  normalizaConfigBruna.config_bruna,\n  start.config_bruna,\n  raw.config_bruna\n);\n\nconst previousDogs = firstArray(\n  previousInputs.caes_json,\n  previousResumo.caes_json,\n  previousRepasse.caes_json,\n  base.memory?.caes_json\n);\n\nconst incomingDogs = firstArray(\n  bruna.resumo_lead?.caes_json,\n  bruna.resumo_interno_repasse?.caes_json,\n  bruna.caes_json\n);\n\nconst caesJson = mergeDogs(previousDogs, incomingDogs);\nconst quantidadeCaes = caesJson.length;\n\nconst deveRepassarHumano = toBool(bruna.deve_repassar_humano);\nconst comprovanteRecebido = toBool(\n  bruna.resumo_lead?.comprovante_recebido ??\n  bruna.comprovante_recebido ??\n  previousResumo.comprovante_recebido ??\n  previousInputs.comprovante_recebido\n);\n\nconst unidadePreferida = enumValue(\n  bruna.resumo_lead?.unidade_preferida ||\n  previousResumo.unidade_preferida,\n  ['amaralina', 'auauzin_patamares', 'nao_definida'],\n  'nao_definida'\n);\n\nconst servicoInteresse = enumValue(\n  bruna.resumo_lead?.servico_interesse ||\n  previousResumo.servico_interesse,\n  ['creche', 'hotel', 'creche_e_hotel', 'visita', 'nao_definido'],\n  'nao_definido'\n);\n\nconst resumoLead = {\n  tutor_nome: cleanString(bruna.resumo_lead?.tutor_nome || previousResumo.tutor_nome || base.lead?.sender_name),\n  tutor_telefone: cleanString(bruna.resumo_lead?.tutor_telefone || previousResumo.tutor_telefone || base.lead?.phone),\n  email_tutor: cleanString(bruna.resumo_lead?.email_tutor || previousResumo.email_tutor),\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: unidadePreferida,\n  servico_interesse: servicoInteresse,\n\n  periodo_desejado: cleanString(bruna.resumo_lead?.periodo_desejado || previousResumo.periodo_desejado),\n  data_desejada: cleanString(bruna.resumo_lead?.data_desejada || previousResumo.data_desejada),\n  data_checkin_desejada: cleanString(bruna.resumo_lead?.data_checkin_desejada || previousResumo.data_checkin_desejada),\n  data_checkout_desejada: cleanString(bruna.resumo_lead?.data_checkout_desejada || previousResumo.data_checkout_desejada),\n\n  origem_lead: cleanString(bruna.resumo_lead?.origem_lead || previousResumo.origem_lead || 'outro'),\n  origem_detalhada: cleanString(bruna.resumo_lead?.origem_detalhada || previousResumo.origem_detalhada || base.lead?.entry_channel),\n\n  comprovante_recebido: comprovanteRecebido,\n  tipo_comprovante: normalizeTipoComprovante(\n    bruna.resumo_lead?.tipo_comprovante || previousResumo.tipo_comprovante,\n    comprovanteRecebido\n  ),\n  arquivo_comprovante_referencia: cleanString(\n    bruna.resumo_lead?.arquivo_comprovante_referencia ||\n    previousResumo.arquivo_comprovante_referencia\n  ),\n\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n  pre_reserva_criada: false,\n\n  responsavel_humano: deveRepassarHumano ? 'Flavia' : '',\n\n  observacoes: cleanString(bruna.resumo_lead?.observacoes || previousResumo.observacoes)\n};\n\nconst resumoInternoRepasse = {\n  repassar_para: deveRepassarHumano ? 'Flavia' : '',\n  motivo: deveRepassarHumano\n    ? cleanString(bruna.resumo_interno_repasse?.motivo || bruna.motivo_repasse)\n    : '',\n\n  tutor_nome: resumoLead.tutor_nome,\n  tutor_telefone: resumoLead.tutor_telefone,\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: resumoLead.unidade_preferida,\n  servico_interesse: resumoLead.servico_interesse,\n\n  data_hora_avaliacao: '',\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  observacoes: cleanString(\n    bruna.resumo_interno_repasse?.observacoes ||\n    previousRepasse.observacoes ||\n    resumoLead.observacoes\n  )\n};\n\nconst normalizedBase = {\n  status_lead: statusLead(\n    bruna.status_lead,\n    previousInputs.status_lead || 'QUALIFICANDO'\n  ),\n\n  ultima_intencao: ultimaIntencao(\n    bruna.ultima_intencao,\n    previousInputs.ultima_intencao || 'INTERESSE_CRECHE'\n  ),\n\n  evento_sistema: eventoSistema(bruna.evento_sistema),\n\n  mensagens_resposta: normalizeMessages(bruna.mensagens_resposta),\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: cleanString(\n    bruna.proxima_acao ||\n    previousInputs.proxima_acao ||\n    'Aguardar próxima interação do lead.'\n  ),\n\n  deve_repassar_humano: deveRepassarHumano,\n  motivo_repasse: deveRepassarHumano\n    ? cleanString(bruna.motivo_repasse || resumoInternoRepasse.motivo)\n    : '',\n\n  deve_enviar_guia: toBool(bruna.deve_enviar_guia),\n  deve_solicitar_pagamento: toBool(bruna.deve_solicitar_pagamento),\n\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: toBool(bruna.deve_encerrar_conversa),\n\n  resumo_interno_repasse: resumoInternoRepasse\n};\n\nconst normalizedInputs = {\n  status_lead: normalizedBase.status_lead,\n  ultima_intencao: normalizedBase.ultima_intencao,\n  evento_sistema: normalizedBase.evento_sistema,\n\n  apto_para_avaliacao: enumValue(\n    bruna.apto_para_avaliacao || previousInputs.apto_para_avaliacao,\n    ['sim', 'nao', 'caso_cinzento', 'pendente'],\n    'pendente'\n  ),\n\n  motivo_pre_reprovacao: cleanString(\n    bruna.motivo_pre_reprovacao ||\n    previousInputs.motivo_pre_reprovacao\n  ),\n\n  status_pagamento: statusPagamento(previousInputs.status_pagamento, normalizedBase),\n\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  arquivo_comprovante_referencia: resumoLead.arquivo_comprovante_referencia,\n\n  pre_reserva_criada: false,\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: normalizedBase.proxima_acao,\n\n  deve_repassar_humano: normalizedBase.deve_repassar_humano,\n  motivo_repasse: normalizedBase.motivo_repasse,\n\n  deve_enviar_guia: normalizedBase.deve_enviar_guia,\n  deve_solicitar_pagamento: normalizedBase.deve_solicitar_pagamento,\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: normalizedBase.deve_encerrar_conversa,\n\n  resumo_interno_repasse: resumoInternoRepasse,\n\n  regras_raca: firstNonEmptyObject(\n    base.regras_raca,\n    previousInputs.regras_raca\n  ),\n\n  diagnostico_crm: isObject(previousInputs.diagnostico_crm)\n    ? previousInputs.diagnostico_crm\n    : {},\n\n  precisa_responder_preco: toBool(previousInputs.precisa_responder_preco),\n  precisa_responder_localizacao: toBool(previousInputs.precisa_responder_localizacao),\n  precisa_responder_visita_material: toBool(previousInputs.precisa_responder_visita_material),\n  deve_priorizar_base_conhecimento: toBool(previousInputs.deve_priorizar_base_conhecimento),\n  is_first_turn: toBool(previousInputs.is_first_turn)\n};\n\nconst currentLeadText = cleanString(\n  base.message?.current_lead_block_text ||\n  base.message?.content ||\n  ''\n);\n\nconst lastHumanMessageBeforeCurrentBlock = cleanString(\n  base.message?.last_human_message_before_current_block\n);\n\nconst labels = Array.isArray(base.chatwoot?.labels) ? base.chatwoot.labels : [];\n\nconst humanoAssumiu =\n  normalizedInputs.diagnostico_crm?.humano_assumiu === true ||\n  labels.includes('01-humano-assumiu') ||\n  lastHumanMessageBeforeCurrentBlock !== '';\n\nconst leadApenasConfirmou = isSimpleAck(currentLeadText);\n\nconst bloquearRespostaPorHumano =\n  humanoAssumiu === true &&\n  leadApenasConfirmou === true;\n\nlet shouldReply = base.should_reply !== false;\nlet motivoBloqueioEnvio = '';\n\nif (normalizedBase.mensagens_resposta.length === 0) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'sem_mensagem_resposta_valida';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: saída da Bruna sem mensagem válida.';\n}\n\nif (unwrapped.parse_error === true) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'erro_parse_saida_bruna';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: erro ao interpretar saída da Bruna.';\n}\n\nif (bloquearRespostaPorHumano) {\n  shouldReply = false;\n  motivoBloqueioEnvio = 'humano_assumiu_e_lead_apenas_confirmou';\n\n  normalizedInputs.mensagens_resposta = [];\n  normalizedInputs.deve_enviar_guia = false;\n  normalizedInputs.deve_solicitar_pagamento = false;\n  normalizedInputs.deve_repassar_humano = false;\n  normalizedInputs.motivo_repasse = '';\n  normalizedInputs.deve_consultar_agenda = false;\n  normalizedInputs.deve_criar_pre_reserva = false;\n  normalizedInputs.evento_sistema = '';\n  normalizedInputs.proxima_acao = 'Não responder: atendimento humano já assumido e lead apenas confirmou.';\n}\n\nconst mensagensRespostaFinais = shouldReply\n  ? normalizedBase.mensagens_resposta\n  : [];\n\nreturn [\n  {\n    json: {\n      inputs: {\n        ...normalizedInputs,\n        mensagens_resposta: mensagensRespostaFinais\n      },\n\n      message: base.message || {},\n      chatwoot: base.chatwoot || {},\n      lead: base.lead || {},\n      memory: base.memory || {},\n\n      caes_json: caesJson,\n      quantidade_caes: quantidadeCaes,\n\n      config_bruna: configBruna,\n\n      agent_name: base.agent_name || 'Bruna',\n      should_reply: shouldReply,\n      motivo_bloqueio_envio: motivoBloqueioEnvio,\n\n      regras_raca: normalizedInputs.regras_raca,\n\n      opcoes: base.opcoes || {},\n\n      run_mode: base.run_mode || 'prod',\n      prompt_version:\n        base.prompt_version ||\n        previousInputs.versao_regras_negocio ||\n        'bruna_v6_inputs_limpos_caes_array',\n\n      raw_bruna_output: rawOutput,\n\n      debug_context: {\n        normaliza_bruna_version: 'v6_inputs_limpos_caes_array',\n        has_config_bruna: Object.keys(configBruna || {}).length > 0,\n        config_keys: Object.keys(configBruna || {}),\n        bruna_output_was_string: typeof raw.output === 'string',\n        parse_error: unwrapped.parse_error === true,\n        parse_error_message: unwrapped.raw_parsed?.__parse_error_message || '',\n        received_keys: Object.keys(bruna || {}),\n        quantidade_caes: quantidadeCaes,\n        humano_assumiu: humanoAssumiu,\n        lead_apenas_confirmou: leadApenasConfirmou,\n        should_reply: shouldReply,\n        motivo_bloqueio_envio: motivoBloqueioEnvio\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[12160,1264],"id":"a95e7b46-0111-4d8c-8bf0-9444b6c7d728","name":"NORMALIZA BRUNA"},{"parameters":{"jsCode":"const rows = $input.all();\n\nfunction isObject(value) {\n  return value !== null && typeof value === 'object' && !Array.isArray(value);\n}\n\nfunction parseValue(value) {\n  if (value === undefined || value === null) return {};\n\n  if (isObject(value) || Array.isArray(value)) {\n    return value;\n  }\n\n  if (typeof value === 'string') {\n    const text = value.trim();\n    if (!text) return {};\n\n    try {\n      return JSON.parse(text);\n    } catch (e) {\n      return {};\n    }\n  }\n\n  return value;\n}\n\nfunction isTruthy(value) {\n  return (\n    value === true ||\n    value === 1 ||\n    value === '1' ||\n    String(value).toLowerCase() === 'true'\n  );\n}\n\nfunction cleanString(value) {\n  if (value === undefined || value === null) return '';\n\n  if (typeof value === 'object') {\n    try {\n      return JSON.stringify(value);\n    } catch (e) {\n      return '';\n    }\n  }\n\n  return String(value).trim();\n}\n\nfunction toBool(value) {\n  return value === true || value === 1 || value === '1' || String(value).toLowerCase() === 'true';\n}\n\nfunction enumValue(value, allowed, fallback) {\n  const v = cleanString(value);\n  return allowed.includes(v) ? v : fallback;\n}\n\nfunction parseArray(value) {\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === 'string' && value.trim()) {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (e) {\n      return [];\n    }\n  }\n\n  return [];\n}\n\nfunction firstArray(...values) {\n  for (const value of values) {\n    const arr = parseArray(value);\n    if (arr.length) return arr;\n  }\n\n  return [];\n}\n\nfunction normalizeDog(raw = {}) {\n  const dog = isObject(raw) ? raw : {};\n\n  const sexo = enumValue(dog.sexo, ['macho', 'femea', 'nao_informado'], 'nao_informado');\n\n  return {\n    nome: cleanString(dog.nome),\n    idade_anos: cleanString(dog.idade_anos),\n    idade_texto: cleanString(dog.idade_texto),\n    raca: cleanString(dog.raca),\n    raca_canonica: cleanString(dog.raca_canonica),\n    porte: enumValue(dog.porte, ['mini', 'pequeno', 'medio', 'grande', 'gigante', 'nao_definido'], 'nao_definido'),\n    sexo,\n    castrado: enumValue(dog.castrado, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    no_cio: sexo === 'macho'\n      ? 'nao_se_aplica'\n      : enumValue(dog.no_cio, ['sim', 'nao', 'nao_se_aplica', 'nao_informado'], 'nao_informado'),\n    vacinas_ok: enumValue(dog.vacinas_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    antipulgas_ok: enumValue(dog.antipulgas_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    vermifugacao_ok: enumValue(dog.vermifugacao_ok, ['sim', 'nao', 'nao_informado'], 'nao_informado'),\n    perfil_comportamental: enumValue(\n      dog.perfil_comportamental,\n      ['nao_informado', 'tranquilo', 'sociavel', 'seletivo', 'reativo_leve', 'reativo_alto', 'agressivo'],\n      'nao_informado'\n    ),\n    comportamento_observacoes: cleanString(dog.comportamento_observacoes),\n    possui_relatorio_veterinario: enumValue(\n      dog.possui_relatorio_veterinario,\n      ['sim', 'nao', 'nao_se_aplica', 'nao_informado'],\n      'nao_informado'\n    ),\n    observacoes: cleanString(dog.observacoes)\n  };\n}\n\nfunction normalizeDogs(value) {\n  return parseArray(value)\n    .filter(isObject)\n    .map(normalizeDog);\n}\n\nfunction statusPagamento(value) {\n  return enumValue(\n    value,\n    [\n      'nao_solicitado',\n      'aguardando_pagamento',\n      'comprovante_recebido',\n      'validacao_humana_pendente',\n      'aprovado_humano',\n      'negado_humano',\n      'estornado',\n      'cancelado'\n    ],\n    'nao_solicitado'\n  );\n}\n\nfunction statusLead(value) {\n  return enumValue(\n    value,\n    [\n      'NOVO_LEAD',\n      'COLETANDO_DADOS',\n      'QUALIFICANDO',\n      'PRE_REPROVADO',\n      'APTO_PARA_AVALIACAO',\n      'AGUARDANDO_PAGAMENTO',\n      'COMPROVANTE_RECEBIDO',\n      'TRANSFERIDO_FLAVIA',\n      'ENCERRADO_NAO_PERFIL',\n      'ENCERRADO_SEM_RESPOSTA',\n      'ENCERRADO'\n    ],\n    'QUALIFICANDO'\n  );\n}\n\nfunction ultimaIntencao(value) {\n  return enumValue(\n    value,\n    [\n      'INTERESSE_CRECHE',\n      'INTERESSE_HOTEL',\n      'PEDIU_VALOR',\n      'PEDIU_LOCALIZACAO',\n      'PEDIU_VISITA',\n      'INFORMOU_DADOS_CAO',\n      'INFORMOU_DADOS_TUTOR',\n      'ACEITOU_AVALIACAO',\n      'RECEBEU_PIX',\n      'ENVIOU_COMPROVANTE',\n      'PEDIU_HUMANO',\n      'MACHO_NAO_CASTRADO',\n      'RACA_POTENCIAL_DANO',\n      'URGENCIA_FERIADO',\n      'OBJECAO_PRECO',\n      'SUMIU'\n    ],\n    'INTERESSE_CRECHE'\n  );\n}\n\nfunction eventoSistema(value) {\n  return enumValue(\n    value,\n    [\n      '',\n      'FORMULARIO_RECEBIDO',\n      'GUIA_ENVIADO',\n      'PIX_SOLICITADO',\n      'ANEXO_RECEBIDO',\n      'COMPROVANTE_IDENTIFICADO',\n      'REPASSE_FLAVIA',\n      'FOLLOWUP_DISPARADO',\n      'CONVERSA_ENCERRADA'\n    ],\n    ''\n  );\n}\n\nfunction tipoComprovante(value, comprovanteRecebido) {\n  if (comprovanteRecebido !== true) return 'nao_informado';\n\n  return enumValue(\n    value,\n    ['imagem', 'pdf', 'print_banco', 'nao_informado'],\n    'nao_informado'\n  );\n}\n\nconst config_bruna = {};\nconst config_bruna_modelo = {};\n\nfor (const item of rows) {\n  const row = item.json || {};\n  const key = row.regra_key;\n\n  if (!key) continue;\n\n  const valorCompleto = parseValue(row.regra_valor);\n  config_bruna[key] = valorCompleto;\n\n  if (isTruthy(row.bruna_modelo)) {\n    const temValorModelo =\n      row.regra_valor_modelo !== undefined &&\n      row.regra_valor_modelo !== null &&\n      String(row.regra_valor_modelo).trim() !== '';\n\n    config_bruna_modelo[key] = temValorModelo\n      ? parseValue(row.regra_valor_modelo)\n      : valorCompleto;\n  }\n}\n\nconst base = $('Start').first().json || {};\nconst rawInputs = base.inputs || {};\nconst rawResumo = rawInputs.resumo_lead || {};\nconst rawRepasse = rawInputs.resumo_interno_repasse || {};\nconst memory = base.memory || {};\nconst lead = base.lead || {};\n\nconst caesJson = normalizeDogs(\n  firstArray(\n    rawInputs.caes_json,\n    rawResumo.caes_json,\n    rawRepasse.caes_json,\n    memory.caes_json\n  )\n);\n\nconst quantidadeCaes = caesJson.length;\n\nconst comprovanteRecebido = toBool(\n  rawInputs.comprovante_recebido ??\n  rawResumo.comprovante_recebido ??\n  memory.comprovante_recebido\n);\n\nconst unidadePreferida = enumValue(\n  rawInputs.unidade_preferida ||\n  rawResumo.unidade_preferida ||\n  memory.unidade_preferida,\n  ['amaralina', 'auauzin_patamares', 'nao_definida'],\n  'nao_definida'\n);\n\nconst servicoInteresse = enumValue(\n  rawInputs.servico_interesse ||\n  rawResumo.servico_interesse ||\n  memory.servico_interesse,\n  ['creche', 'hotel', 'creche_e_hotel', 'visita', 'nao_definido'],\n  'nao_definido'\n);\n\nconst resumoLead = {\n  tutor_nome: cleanString(rawResumo.tutor_nome || memory.nome_tutor || lead.sender_name),\n  tutor_telefone: cleanString(rawResumo.tutor_telefone || memory.phone || lead.phone),\n  email_tutor: cleanString(rawResumo.email_tutor || memory.email_tutor),\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n  \n  unidade_preferida: unidadePreferida,\n  servico_interesse: servicoInteresse,\n\n  periodo_desejado: cleanString(rawResumo.periodo_desejado || memory.periodo_desejado),\n  data_desejada: cleanString(rawResumo.data_desejada || memory.data_desejada),\n  data_checkin_desejada: cleanString(rawResumo.data_checkin_desejada || memory.data_checkin_desejada),\n  data_checkout_desejada: cleanString(rawResumo.data_checkout_desejada || memory.data_checkout_desejada),\n\n  origem_lead: cleanString(rawResumo.origem_lead || memory.origem_lead || 'outro'),\n  origem_detalhada: cleanString(rawResumo.origem_detalhada || memory.origem_detalhada || lead.entry_channel),\n\n  comprovante_recebido: comprovanteRecebido,\n  tipo_comprovante: tipoComprovante(rawResumo.tipo_comprovante || memory.tipo_comprovante, comprovanteRecebido),\n  arquivo_comprovante_referencia: cleanString(rawResumo.arquivo_comprovante_referencia || memory.arquivo_comprovante_referencia),\n\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n  pre_reserva_criada: false,\n\n  responsavel_humano: toBool(rawInputs.deve_repassar_humano) ? 'Flavia' : '',\n\n  observacoes: cleanString(rawResumo.observacoes)\n};\n\nconst resumoInternoRepasse = {\n  repassar_para: toBool(rawInputs.deve_repassar_humano) ? 'Flavia' : '',\n  motivo: toBool(rawInputs.deve_repassar_humano)\n    ? cleanString(rawRepasse.motivo || rawInputs.motivo_repasse)\n    : '',\n\n  tutor_nome: resumoLead.tutor_nome,\n  tutor_telefone: resumoLead.tutor_telefone,\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  unidade_preferida: resumoLead.unidade_preferida,\n  servico_interesse: resumoLead.servico_interesse,\n\n  data_hora_avaliacao: '',\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  observacoes: cleanString(rawRepasse.observacoes || resumoLead.observacoes)\n};\n\nconst inputs = {\n  status_lead: statusLead(rawInputs.status_lead || memory.status_lead),\n  ultima_intencao: ultimaIntencao(rawInputs.ultima_intencao || memory.ultima_intencao),\n  evento_sistema: eventoSistema(rawInputs.evento_sistema),\n  \n  apto_para_avaliacao: enumValue(\n    rawInputs.apto_para_avaliacao || memory.apto_para_avaliacao,\n    ['sim', 'nao', 'caso_cinzento', 'pendente'],\n    'pendente'\n  ),\n\n  motivo_pre_reprovacao: cleanString(rawInputs.motivo_pre_reprovacao || memory.motivo_pre_reprovacao),\n\n  status_pagamento: statusPagamento(rawInputs.status_pagamento || memory.status_pagamento),\n\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  arquivo_comprovante_referencia: resumoLead.arquivo_comprovante_referencia,\n\n  pre_reserva_criada: false,\n  data_hora_avaliacao: '',\n  data_hora_pre_reserva: '',\n\n  quantidade_caes: quantidadeCaes,\n  caes_json: caesJson,\n\n  resumo_lead: resumoLead,\n\n  proxima_acao: cleanString(rawInputs.proxima_acao),\n\n  deve_repassar_humano: toBool(rawInputs.deve_repassar_humano),\n  motivo_repasse: toBool(rawInputs.deve_repassar_humano)\n    ? cleanString(rawInputs.motivo_repasse || resumoInternoRepasse.motivo)\n    : '',\n\n  deve_enviar_guia: toBool(rawInputs.deve_enviar_guia),\n  deve_solicitar_pagamento: toBool(rawInputs.deve_solicitar_pagamento),\n  deve_consultar_agenda: false,\n  deve_criar_pre_reserva: false,\n  deve_encerrar_conversa: toBool(rawInputs.deve_encerrar_conversa),\n\n  resumo_interno_repasse: resumoInternoRepasse,\n\n  diagnostico_crm: isObject(rawInputs.diagnostico_crm) ? rawInputs.diagnostico_crm : {},\n\n  regras_raca: isObject(base.regras_raca)\n    ? base.regras_raca\n    : isObject(rawInputs.regras_raca)\n      ? rawInputs.regras_raca\n      : {},\n\n  precisa_responder_preco: toBool(rawInputs.precisa_responder_preco),\n  precisa_responder_localizacao: toBool(rawInputs.precisa_responder_localizacao),\n  precisa_responder_visita_material: toBool(rawInputs.precisa_responder_visita_material),\n  deve_priorizar_base_conhecimento: toBool(rawInputs.deve_priorizar_base_conhecimento),\n  is_first_turn: toBool(rawInputs.is_first_turn)\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      inputs,\n      caes_json: caesJson,\n      quantidade_caes: quantidadeCaes,\n\n      config_bruna,\n      config_bruna_modelo,\n\n      debug_config_bruna: {\n        total_regras_operacionais: Object.keys(config_bruna).length,\n        total_regras_modelo: Object.keys(config_bruna_modelo).length,\n        regras_modelo: Object.keys(config_bruna_modelo),\n        contexto_bruna_version: 'v6_inputs_sanitizados_sem_inputs_modelo'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[11440,1168],"id":"09fdb573-1644-4c35-b5d1-df60870f5aa8","name":"CONTEXTO BRUNA"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  regra_key,\n  regra_valor,\n  bruna_modelo,\n  regra_valor_modelo\nFROM bruna_regras_operacionais\nWHERE ativo = true;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[11216,1168],"id":"2241e7a8-8209-4e9e-bb01-f8775ffb45cb","name":"GET CONFIG OPERACIONAL BRUNA","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}}],"connections":{"Start":{"main":[[{"node":"Verifica Última Mensagem","type":"main","index":0}]]},"Bruna Auau":{"main":[[{"node":"NORMALIZA BRUNA","type":"main","index":0},{"node":"Call [AUAU] [BRUNA] Salva Debug Execuções","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"base_conhecimento_bruna":{"ai_tool":[[{"node":"Bruna Auau","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"base_conhecimento_bruna","type":"ai_embedding","index":0}]]},"Verifica Última Mensagem":{"main":[[{"node":"Devo responder?","type":"main","index":0}]]},"Devo responder?":{"main":[[{"node":"GET CONFIG OPERACIONAL BRUNA","type":"main","index":0}],[]]},"NORMALIZA BRUNA":{"main":[[]]},"CONTEXTO BRUNA":{"main":[[{"node":"Bruna Auau","type":"main","index":0},{"node":"Call [AUAU] [BRUNA] Salva Debug Execuções1","type":"main","index":0}]]},"GET CONFIG OPERACIONAL BRUNA":{"main":[[{"node":"CONTEXTO BRUNA","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 62c564c2","description":"","autosaved":true},"tags":[]}