workflows/6Jyy4gw4ImRVDSGn.json
{"updatedAt":"2026-01-06T06:05:44.916Z","createdAt":"2026-01-06T04:09:37.634Z","id":"6Jyy4gw4ImRVDSGn","name":"[FNT] [FGTS] 03 Consulta Sucesso (Com Saldo) (v2.0) Reprocessar","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,192],"id":"7f0e2ec7-dba1-4777-957d-b8e95afba5df","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[768,96],"id":"3f4eef2e-798f-40b3-8efc-bff613cf4c9c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2112,144],"id":"e902a891-b8c5-41fe-b3e8-d676df3bc823"},{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[992,96],"id":"03efaf92-bbfe-4707-983f-a7fcd5f4edb4","name":"n8n","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"3kS2kIEHG7qUtdqQ","name":"n8n hostinger"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.data?.resultData?.runData['Webhook'][0]?.data?.main[0][0]?.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,16],"id":"ec3acc36-c55e-426b-abd2-da184efecc4f","name":"Webhook"},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $('Loop Over Items').item.json.id }}","requestOptions":{"batching":{"batch":{"batchSize":10}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1888,-128],"id":"1062dab6-003f-4b43-be14-d2c661dad0a7","name":"n8n1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"3kS2kIEHG7qUtdqQ","name":"n8n hostinger"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"287bffe0-0b95-4765-bd2b-b1d463cee8af","name":"workflow_id","value":"AMFQXg4w1PFlFkYz","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,96],"id":"c8cacf86-02cc-48d4-aa6a-4ca3d05f1e2a","name":"workflow_id"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a53485cc-b4c3-4c6f-a7ed-3a0c1d476393","leftValue":"={{ $json.headers }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}},{"id":"b642151b-bcf3-475c-baf4-55ca820aeeb8","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,16],"id":"866f1935-135a-4821-b772-c2ffa5b20550","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"={{ $('workflow_id').first().json.workflow_id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1664,-64],"id":"d734dae4-075f-4571-a56b-cd156ccbc082","name":"Reprocessa","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT id,\"workflowId\" FROM execution_entity\n  WHERE status IN ('canceled','error')\n  AND \"workflowId\"='{{ $json.workflow_id }}';","options":{"connectionTimeout":30,"delayClosingIdleConnection":3,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,96],"id":"8450f0ca-3950-42cf-bc18-2f34c0826c96","name":"Postgres status IN ('canceled','error')","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true,"credentials":{"postgres":{"id":"bkNrHLYrYOJOgVez","name":"Postgres Hostinger - n8n_queue"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96dc2c39-04a7-4b99-baa9-19e3e25b860c","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,96],"id":"7fc7546f-5ae3-4dca-8514-b627e678f6be","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[992,-112],"id":"a957d00f-c0cd-4a09-965d-31d4aaefbba3","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"triggerAtHour":3,"triggerAtMinute":10},{"triggerAtHour":6,"triggerAtMinute":40},{"triggerAtHour":11,"triggerAtMinute":40},{"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,-16],"id":"ddfccf16-c03c-4976-a179-56b157324979","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"workflow_id","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"n8n","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Webhook","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"workflow_id":{"main":[[{"node":"Postgres status IN ('canceled','error')","type":"main","index":0}]]},"If":{"main":[[{"node":"Reprocessa","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Reprocessa":{"main":[[{"node":"n8n1","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Postgres status IN ('canceled','error')":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Schedule Trigger":{"main":[[{"node":"workflow_id","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"versionId":"e69a9f27-de24-4e90-8143-d47153088262","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:09:37.634Z","createdAt":"2026-01-06T04:09:37.634Z","role":"workflow:owner","workflowId":"6Jyy4gw4ImRVDSGn","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}