workflows/aqxzYubkTggah2I4.json
{"updatedAt":"2026-01-27T15:53:25.269Z","createdAt":"2026-01-06T04:13:42.332Z","id":"aqxzYubkTggah2I4","name":"[MKL] [LEAD] Captura Respondi.app (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"{{ $json.querySQL }}","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","largeNumbersOutput":"numbers","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[96,64],"id":"109af450-3986-43a0-8895-462965988ab3","name":"MySQL1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"jsCode":"/**\n * Corrige valores monetários no formato \"R$2\" para \"R$ 2\" em uma string.\n * @param {string} value - A string que pode conter valores monetários.\n * @returns {string} - A string corrigida.\n */\nfunction formatCurrency(value) {\n    if (typeof value !== 'string') {\n        return value; // Retorna o valor original se não for uma string\n    }\n\n    // Adiciona um espaço após \"R$\" se não houver um já presente\n    return value.replace(/R\\$(\\d)/g, 'R$ $1');\n}\n\n/**\n * Percorre recursivamente um objeto ou array e corrige valores monetários.\n * @param {object|array} data - O objeto ou array a ser processado.\n * @returns {object|array} - O objeto ou array corrigido.\n */\nfunction formatCurrencyInJson(data) {\n    if (Array.isArray(data)) {\n        // Se for um array, aplica a função a cada item\n        return data.map(item => formatCurrencyInJson(item));\n    } else if (typeof data === 'object' && data !== null) {\n        // Se for um objeto, percorre suas propriedades\n        for (const key in data) {\n            data[key] = formatCurrencyInJson(data[key]);\n        }\n    } else if (typeof data === 'string') {\n        // Se for uma string, aplica a formatação\n        return formatCurrency(data);\n    }\n    return data;\n}\n\n// Obtém os dados de entrada do n8n\nconst jsonData = $input.all();\n\n// Aplica a correção no JSON\nconst formattedJson = jsonData.map(item => ({\n    json: formatCurrencyInJson(item.json)\n}));\n\n// Retorna os dados no formato esperado pelo n8n\nreturn formattedJson;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,64],"id":"2c44a9cf-8c64-42de-a830-0e28301afee1","name":"formatCurrency","executeOnce":true,"alwaysOutputData":false},{"parameters":{"jsCode":"// Obtém os dados de entrada do N8n\nlet inputData = $input.all();\n\n// Processa cada item individualmente\nlet outputData = inputData.map(item => {\n    // Garante que o item tenha a estrutura correta\n    let json = item.json || {};\n\n    // Verifica se a chave query e respondent existem\n    if (json.query && json.query.respondent) {\n        try {\n            // Converte a string JSON de respondent para um objeto\n            let respondent = JSON.parse(json.query.respondent);\n\n            // Função para escapar aspas simples dentro do objeto\n            function escapeSingleQuotes(obj) {\n                if (typeof obj === 'string') {\n                    return obj.replace(/'/g, \"''\"); // Substitui ' por ''\n                } else if (Array.isArray(obj)) {\n                    return obj.map(escapeSingleQuotes);\n                } else if (typeof obj === 'object' && obj !== null) {\n                    return Object.fromEntries(\n                        Object.entries(obj).map(([key, value]) => [key, escapeSingleQuotes(value)])\n                    );\n                }\n                return obj;\n            }\n\n            // Aplica a função de escape no objeto respondent\n            let escapedRespondent = escapeSingleQuotes(respondent);\n\n            // Atualiza a chave query.respondent sem modificar diretamente\n            json = {\n                ...json,\n                query: {\n                    ...json.query,\n                    respondent: JSON.stringify(escapedRespondent)\n                }\n            };\n\n        } catch (error) {\n            throw new Error(\"Erro ao processar query.respondent: \" + error.message);\n        }\n    }\n\n    // Retorna o item no formato esperado pelo N8n\n    return { json };\n});\n\n// Retorna os dados processados\nreturn outputData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,64],"id":"d2141d90-5a89-41db-aed2-0bbcbe3520d4","name":"escapeSingleQuotes"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"leads_respondi","mode":"list","cachedResultName":"leads_respondi"},"dataMode":"defineBelow","columnToMatchOn":"respondentId","valueToMatchOn":"={{ $json.ID }}","valuesToSend":{"values":[{"column":"name","value":"={{ $json['Qual o seu nome?'] || null }}"},{"column":"phone","value":"={{ $json['Qual o seu WhatsApp?'] || null }}"},{"column":"email","value":"={{ $json['___, qual o seu email profissional?'] || null }}"},{"column":"empresa","value":"={{ $json['Qual o nome da empresa?'] || null }}"},{"column":"site_instagram","value":"={{ $json['Qual o site ou @ no Instagram da empresa?'] || null }}"},{"column":"perfil","value":"={{ $json['Qual o perfil que você mais se identifica:'] || null }}"},{"column":"cargo","value":"={{ $json['Qual é o seu cargo na ___?'] || null }}"},{"column":"funcionarios","value":"={{ $json['Sua empresa tem quantos funcionários?'] || null }}"},{"column":"ativacao_tipo","value":"={{ $json['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?'] || null }}"},{"column":"descricao","value":"={{ $json['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:'] || null }}"},{"column":"data_ativacao","value":"={{ $json['Qual a data ideal que você gostaria de colocar essa frente no ar?'] || null }}"},{"column":"investir","value":"={{ $json['Até quanto você acredita que a marca pode investir?'].replaceAll(\"R$\",\"R$ \") \n|| $json['Qual é a ordem de grandeza de investimento em mídia paga para seu e-commerce por mês?'].replaceAll(\"R$\",\"R$ \") \n|| null }}"},{"column":"pontuacao","value":"={{ $json['Pontuação'] || 0 }}"},{"column":"datetime","value":"={{ $json.Data }}"},{"column":"date","value":"={{ $json.Data.substring(0,10) }}"},{"column":"utm_source","value":"={{ $json?.utm_source?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_medium","value":"={{ $json?.utm_medium?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_campaign","value":"={{ $json?.utm_campaign?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_term","value":"={{ $json?.utm_term?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_content","value":"={{ $json?.utm_content?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"gclid","value":"={{ $json.gclid || null }}"},{"column":"fbclid","value":"={{ $json.fbclid || null }}"},{"column":"form_id","value":"={{ $('form_id | form_name').item.json.form_id || null }}"},{"column":"form_name","value":"={{ $('form_id | form_name').item.json.form_name || null }}"},{"column":"formJson","value":"={\"form_id\":\"{{ $('form_id | form_name').item.json.form_id }}\",\"form_name\":\"{{ $('form_id | form_name').item.json.form_name }}\"}"},{"column":"respondentJson","value":"={{ $json.toJsonString() || null }}"},{"column":"status","value":"={{ $json['___, qual o seu email profissional?']?'completed':'incomplete' }}"}]},"options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-384,-704],"id":"98536e58-fd3a-4f1c-8353-a2eaf295b325","name":"MySQL: Upsert respostas","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE `mkl_metakosmoslab`.`leads_respondi` SET `status`='completed'\nWHERE `email` is not null and `status` is null;\n\n\nUPDATE `mkl_metakosmoslab`.`leads_respondi` SET `status`='incomplete'\nWHERE `email` is null and `status` is null;\n\n\n","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","largeNumbersOutput":"numbers","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-608,-496],"id":"c6a13d55-1c08-471f-ab99-58aed7627094","name":"MySQL","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"content":"## FOOH_Instagram - iR9MFyuD\n\n","height":440,"width":1020},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1168,-784],"id":"435740de-0131-4501-9b07-d1838a414949","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"8de7d8c0-c13a-48cd-ae23-e7a26bfef1a8","name":"form_id","value":"={{ $json['form_id (iR9MFyuD)'] }}","type":"string"},{"id":"a5a1d43f-8ecf-4849-a80d-fd846f0b72d0","name":"form_name","value":"={{ $json['form_name (FOOH_Instagram)'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,-608],"id":"7d119b9e-8479-4830-9113-af76b8a6a947","name":"form_id | form_name"},{"parameters":{"binaryPropertyName":"=form_file__Exportar_de_CSV","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-608,-704],"id":"f6705018-fc79-4eb3-8ddd-a94fac95beee","name":"Extract from File","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"formTitle":"Subir Arquivo Respondi MKL","formDescription":"Subir o arquivo","formFields":{"values":[{"fieldLabel":"form file (Exportar de CSV","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true},{"fieldLabel":"form_id (iR9MFyuD)","placeholder":"iR9MFyuD","requiredField":true},{"fieldLabel":"form_name (FOOH_Instagram)","placeholder":"FOOH_Instagram","requiredField":true}]},"options":{"buttonLabel":"Enviar","path":"mkl-respondi-manual","useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1040,-608],"id":"e7dc5947-249e-4a3e-820b-74cfa09cf67c","name":"Subir Arquivo CSV","webhookId":"7bc52eec-f19b-4221-bba7-d9d0096823f6"},{"parameters":{"assignments":{"assignments":[{"id":"c0f5a7a2-fcd7-45db-b659-cb9dc93abe4c","name":"datetime","value":"={{ $json.query.respondent.parseJson().date.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}","type":"string"},{"id":"fa0eea4c-1f39-4f50-b16e-f6c15b62e362","name":"datetime_unix","value":"={{ $json.query.respondent.parseJson().date.toDateTime().minus(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"ff4dcbef-bee0-420f-9c84-169d057abf06","name":"event_id","value":"={{ $json.query.respondent.parseJson().respondent_id.replaceAll(\"-\",\"\") }}_{{ Math.floor($json.query.respondent.parseJson().date.toDateTime().toSeconds()) }}","type":"string"},{"id":"74d14bea-19d3-41f9-a2e8-cc7e8416c6da","name":"external_id","value":"={{ $json.query.respondent.parseJson().respondent_id }}","type":"string"},{"id":"6291fd58-99c6-486c-89ae-000a4bd47ccb","name":"country","value":"br","type":"string"},{"id":"9ba9313b-ff04-4945-9cda-cd24095ca87e","name":"fn","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu nome?'].split(\" \")[0]?.toLowerCase() || null }}","type":"string"},{"id":"8fb23afb-66cb-4505-a419-427b78867169","name":"ln","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu nome?'].split(\" \")[1]?.toLowerCase() || null }}","type":"string"},{"id":"bad4f2f2-ce8f-422e-a002-99764944bb42","name":"ph","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu WhatsApp?'].replaceAll(/\\D/g,\"\") || null }}","type":"string"},{"id":"93b45dba-f9cc-4a27-9485-a985e3c13110","name":"em","value":"={{ $json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']?$json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']:null || null }}","type":"string"},{"id":"5bd91413-b6c5-45c0-8740-3a1f0eef5237","name":"fbclid","value":"={{ $json.query.respondent.parseJson().respondent_utms.fbclid || null }}","type":"string"},{"id":"63e1c565-7593-46de-964b-2231a5c6625f","name":"gclid","value":"={{ $json.query.respondent.parseJson().respondent_utms.gclid || null }}","type":"string"},{"id":"e2a7288a-4989-4484-993f-186fd1473535","name":"form_id","value":"={{ $json.query.form.parseJson().form_id || null }}","type":"string"},{"id":"5648a871-884f-4cb9-b2f8-a1d585a04765","name":"pontuacao","value":"={{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}","type":"string"},{"id":"635cd69d-8c3b-4063-861c-a872df408e4f","name":"investimento","value":"={{ $json.query.respondent.parseJson().answers['Qual é a ordem de grandeza de acessos (sessões) do seu e-commerce por mês?'] }}","type":"string"}]},"options":{}},"id":"95f45714-d810-43ab-b0ff-e11f6ff6503e","name":"advanced_matching","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,160],"id":"fd4cfbd9-c201-4041-8b39-a7bf39a91d7d","name":"Pontuação > 20"},{"parameters":{"dataToSave":{"values":[{"key":"pontuacao","value":"={{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}"},{"key":"status","value":"={{ $json.query.respondent.parseJson().status }}"},{"key":"investir","value":"={{ $json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] || \"\" }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-160,-144],"id":"1c19c8fc-22e3-4ad7-a7d9-b4bb7dac6761","name":"Execution Data"},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,368],"id":"1dbb14e1-f494-4945-89dc-71f8280e17ce","name":"Gera fbp-fbc","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] }}","rightValue":"Menos de R$ 20.000","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-240],"id":"d0bc1c66-522b-4ba9-97fc-229c030d10e7","name":"Investir > 20k"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"investir_20k\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"investir_20k..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"f033c201-940f-4524-8186-f490ec7888d4","name":"Pixel investir_20k","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,-240],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_inicio\",\n            \"event_time\": {{ $json.datetime.toDateTime() > $now.minus(7,'days')? $json.datetime_unix : $now.toSeconds().floor() }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_inicio..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"a541d6c9-c05a-480b-bcb7-f372156d8e51","name":"Pixel form_inicio","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[496,960],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_20p\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_20p..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"4740b48b-0b72-4a7a-8300-84d927d21240","name":"Pixel form_20p","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"lead_alto\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"lead_alto..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"c613d58e-3a3a-4203-a0a5-2a7377d9b884","name":"Pixel lead_alto","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,368],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-48],"id":"b0265319-9dd5-414c-8c11-e69a651d883a","name":"Pontuação > 10"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_10p\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_10p..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"8e341988-c027-4d74-87fa-a42f17834382","name":"Pixel form_10p","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,-48],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":10,"operator":{"type":"number","operation":"gt"}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,368],"id":"b440b94f-855d-4cc9-85f3-5d2c753b17fb","name":"Pontuação > 10 e Completo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,560],"id":"e81ef550-41f3-4c11-87cf-2eb1780652a9","name":"Completo"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_completo\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_completo..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"c48f2321-05ff-47df-9290-c9064c6d116c","name":"Pixel form_completo","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,560],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":20,"operator":{"type":"number","operation":"gt"}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,768],"id":"89435130-aeaf-44fb-bb34-3cf764fb1894","name":"Pontuação > 20 e Completo"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"lead_alto_mkt\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"lead_alto_mkt..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"afd75893-49ef-4b0c-94c4-6e558d921a77","name":"Pixel lead_alto_mkt","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,768],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a0c4efb-f088-49a9-ab29-3e22c607e718","name":"querySQL","value":"=INSERT INTO `MKL_metakosmoslab`.`leads_respondi`(`respondentId`,`name`, `phone`, `email`, `empresa`, `site_instagram`, `perfil`, `cargo`, `funcionarios`, `ativacao_tipo`, `descricao`, `data_ativacao`, `investir`, `pontuacao`, `datetime`, `date`,`utm_source`, `utm_medium`, `utm_campaign`, `utm_term`, `utm_content`, `gclid`, `fbclid`, `form_id`, `form_name`, `status`, `formJson`, `respondentJson`) VALUES ( \n'{{ $json.query.respondent.parseJson().respondent_id }}',\n'{{ $json.query.respondent.parseJson().answers['Qual o seu nome?'] }}',\n'{{ $json.query.respondent.parseJson().answers['Qual o seu WhatsApp?'] }}',\n{{ $json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']?\"'\"+$json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?'].toLowerCase()+\"'\":\"''\" || \"''\" }},\n{{ $json.query.respondent.parseJson().answers['Qual o nome da empresa?']?\"'\"+$json.query.respondent.parseJson().answers['Qual o nome da empresa?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual o site ou @ no Instagram da empresa?']?\"'\"+$json.query.respondent.parseJson().answers['Qual o site ou @ no Instagram da empresa?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual o perfil que você mais se identifica:']?\"'\"+$json.query.respondent.parseJson().answers['Qual o perfil que você mais se identifica:']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual é o seu cargo na \\{\\{x6u3uqfczwhp\\}\\}?']?\"'\"+$json.query.respondent.parseJson().answers['Qual é o seu cargo na \\{\\{x6u3uqfczwhp\\}\\}?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Sua empresa tem quantos funcionários?']?\"'\"+$json.query.respondent.parseJson().answers['Sua empresa tem quantos funcionários?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?']?\"'\"+$json.query.respondent.parseJson().answers['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:']?\"'\"+$json.query.respondent.parseJson().answers['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual a data ideal que você gostaria de colocar essa frente no ar?']?\"'\"+$json.query.respondent.parseJson().answers['Qual a data ideal que você gostaria de colocar essa frente no ar?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?']?\"'\"+$json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?']+\"'\":null || 'null' }},\n'{{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}',\n'{{ $json.query.respondent.parseJson().date }}',\n'{{ $json.query.respondent.parseJson().date.substring(0,10) }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_source?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_medium?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_campaign?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_term?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_content?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n{{ $json.query.respondent.parseJson().respondent_utms.gclid?\n    \"'\"+$json.query.respondent.parseJson().respondent_utms.gclid+\"'\":'null'}},\n{{ $json.query.respondent.parseJson().respondent_utms.fbclid?\n    \"'\"+$json.query.respondent.parseJson().respondent_utms.fbclid+\"'\":'null'}},\n'{{ $json.query.form.parseJson().form_id }}',\n'{{ $json.query.form.parseJson().form_name }}', \n'{{ $json.query.respondent.parseJson().status }}',\n'{{ $json.query.form}}',\n'{{ $json.query.respondent?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") }}'\n) ON DUPLICATE KEY UPDATE \n`name`= VALUES(`name`),\n`phone`= VALUES(`phone`),\n`email`= VALUES(`email`),\n`empresa`= VALUES(`empresa`),\n`site_instagram`= VALUES(`site_instagram`),\n`perfil`= VALUES(`perfil`),\n`cargo`= VALUES(`cargo`),\n`funcionarios`= VALUES(`funcionarios`),\n`ativacao_tipo`= VALUES(`ativacao_tipo`),\n`descricao`= VALUES(`descricao`),\n`data_ativacao`= VALUES(`data_ativacao`),\n`investir`= VALUES(`investir`),\n`pontuacao`= VALUES(`pontuacao`),\n`datetime`= VALUES(`datetime`),\n`date`= VALUES(`date`),\n`utm_source`= VALUES(`utm_source`),\n`utm_medium`= VALUES(`utm_medium`),\n`utm_campaign`= VALUES(`utm_campaign`),\n`utm_term`= VALUES(`utm_term`),\n`utm_content`= VALUES(`utm_content`),\n`gclid`= VALUES(`gclid`),\n`fbclid`= VALUES(`fbclid`),\n`form_id`= VALUES(`form_id`),\n`form_name`= VALUES(`form_name`),\n`status`= VALUES(`status`),\n`formJson`= VALUES(`formJson`),\n`respondentJson`= VALUES(`respondentJson`)\n\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,64],"id":"dd2d9133-c4a6-4497-b403-1fb1aba9058d","name":"querySQL"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,160],"id":"cfbd182b-3037-45c6-950b-6f251dd01db6","name":"When Executed by Another Workflow"},{"parameters":{"httpMethod":"POST","path":"mkl-respondi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-992,-176],"id":"945a8ae2-9d1d-4c7d-81df-317c2822bf91","name":"mkl-respondi","webhookId":"1a426452-74f7-48ad-adee-4952ec9d2c32","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"9a8a63cc-0122-4f71-9b88-660704fdf201","name":"headers","value":"={{ $json.headers }}","type":"object"},{"id":"2a077ca5-7998-4c97-9596-fcc1cb322537","name":"params","value":"={{ $json.params }}","type":"object"},{"id":"9424f5cb-f598-48d1-a988-10743718babf","name":"query","value":"={{ $json.query }}","type":"object"},{"id":"87961e91-ebbe-4527-99ed-bd9b3016b722","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,64],"id":"a5615952-eb13-4f17-a1b1-d162f723dd2c","name":"Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"930bccd0-6c54-4c8e-a3be-c9680ec95b11","leftValue":"={{ $json.datetime.toDateTime() }}","rightValue":"={{ $now.minus(7,'days') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[48,368],"id":"dbde6a16-1904-4b09-9142-a8d0887da443","name":"7 dias?"}],"connections":{"formatCurrency":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"advanced_matching","type":"main","index":0},{"node":"querySQL","type":"main","index":0}]]},"escapeSingleQuotes":{"main":[[{"node":"formatCurrency","type":"main","index":0}]]},"MySQL: Upsert respostas":{"main":[[]]},"form_id | form_name":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"MySQL","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"MySQL: Upsert respostas","type":"main","index":0}]]},"Subir Arquivo CSV":{"main":[[{"node":"form_id | form_name","type":"main","index":0}]]},"advanced_matching":{"main":[[{"node":"7 dias?","type":"main","index":0}]]},"Pontuação > 20":{"main":[[{"node":"Pixel form_20p","type":"main","index":0}]]},"Gera fbp-fbc":{"main":[[{"node":"Pontuação > 20","type":"main","index":0},{"node":"Pixel form_inicio","type":"main","index":0},{"node":"Investir > 20k","type":"main","index":0},{"node":"Pontuação > 10 e Completo","type":"main","index":0},{"node":"Pontuação > 10","type":"main","index":0},{"node":"Completo","type":"main","index":0},{"node":"Pontuação > 20 e Completo","type":"main","index":0}]]},"Investir > 20k":{"main":[[{"node":"Pixel investir_20k","type":"main","index":0}]]},"Pontuação > 10":{"main":[[{"node":"Pixel form_10p","type":"main","index":0}]]},"Pontuação > 10 e Completo":{"main":[[{"node":"Pixel lead_alto","type":"main","index":0}]]},"Completo":{"main":[[{"node":"Pixel form_completo","type":"main","index":0}]]},"Pontuação > 20 e Completo":{"main":[[{"node":"Pixel lead_alto_mkt","type":"main","index":0}]]},"querySQL":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"mkl-respondi":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"escapeSingleQuotes","type":"main","index":0}]]},"7 dias?":{"main":[[{"node":"Gera fbp-fbc","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"12615d6e-96b6-4843-9f59-36337ac0965f","activeVersionId":"12615d6e-96b6-4843-9f59-36337ac0965f","triggerCount":2,"shared":[{"updatedAt":"2026-01-06T04:13:42.332Z","createdAt":"2026-01-06T04:13:42.332Z","role":"workflow:owner","workflowId":"aqxzYubkTggah2I4","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T04:15:40.318Z","createdAt":"2026-01-06T04:15:38.997Z","versionId":"12615d6e-96b6-4843-9f59-36337ac0965f","workflowId":"aqxzYubkTggah2I4","nodes":[{"parameters":{"operation":"executeQuery","query":"{{ $json.querySQL }}","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","largeNumbersOutput":"numbers","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[96,64],"id":"109af450-3986-43a0-8895-462965988ab3","name":"MySQL1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"jsCode":"/**\n * Corrige valores monetários no formato \"R$2\" para \"R$ 2\" em uma string.\n * @param {string} value - A string que pode conter valores monetários.\n * @returns {string} - A string corrigida.\n */\nfunction formatCurrency(value) {\n    if (typeof value !== 'string') {\n        return value; // Retorna o valor original se não for uma string\n    }\n\n    // Adiciona um espaço após \"R$\" se não houver um já presente\n    return value.replace(/R\\$(\\d)/g, 'R$ $1');\n}\n\n/**\n * Percorre recursivamente um objeto ou array e corrige valores monetários.\n * @param {object|array} data - O objeto ou array a ser processado.\n * @returns {object|array} - O objeto ou array corrigido.\n */\nfunction formatCurrencyInJson(data) {\n    if (Array.isArray(data)) {\n        // Se for um array, aplica a função a cada item\n        return data.map(item => formatCurrencyInJson(item));\n    } else if (typeof data === 'object' && data !== null) {\n        // Se for um objeto, percorre suas propriedades\n        for (const key in data) {\n            data[key] = formatCurrencyInJson(data[key]);\n        }\n    } else if (typeof data === 'string') {\n        // Se for uma string, aplica a formatação\n        return formatCurrency(data);\n    }\n    return data;\n}\n\n// Obtém os dados de entrada do n8n\nconst jsonData = $input.all();\n\n// Aplica a correção no JSON\nconst formattedJson = jsonData.map(item => ({\n    json: formatCurrencyInJson(item.json)\n}));\n\n// Retorna os dados no formato esperado pelo n8n\nreturn formattedJson;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,64],"id":"2c44a9cf-8c64-42de-a830-0e28301afee1","name":"formatCurrency","executeOnce":true,"alwaysOutputData":false},{"parameters":{"jsCode":"// Obtém os dados de entrada do N8n\nlet inputData = $input.all();\n\n// Processa cada item individualmente\nlet outputData = inputData.map(item => {\n    // Garante que o item tenha a estrutura correta\n    let json = item.json || {};\n\n    // Verifica se a chave query e respondent existem\n    if (json.query && json.query.respondent) {\n        try {\n            // Converte a string JSON de respondent para um objeto\n            let respondent = JSON.parse(json.query.respondent);\n\n            // Função para escapar aspas simples dentro do objeto\n            function escapeSingleQuotes(obj) {\n                if (typeof obj === 'string') {\n                    return obj.replace(/'/g, \"''\"); // Substitui ' por ''\n                } else if (Array.isArray(obj)) {\n                    return obj.map(escapeSingleQuotes);\n                } else if (typeof obj === 'object' && obj !== null) {\n                    return Object.fromEntries(\n                        Object.entries(obj).map(([key, value]) => [key, escapeSingleQuotes(value)])\n                    );\n                }\n                return obj;\n            }\n\n            // Aplica a função de escape no objeto respondent\n            let escapedRespondent = escapeSingleQuotes(respondent);\n\n            // Atualiza a chave query.respondent sem modificar diretamente\n            json = {\n                ...json,\n                query: {\n                    ...json.query,\n                    respondent: JSON.stringify(escapedRespondent)\n                }\n            };\n\n        } catch (error) {\n            throw new Error(\"Erro ao processar query.respondent: \" + error.message);\n        }\n    }\n\n    // Retorna o item no formato esperado pelo N8n\n    return { json };\n});\n\n// Retorna os dados processados\nreturn outputData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,64],"id":"d2141d90-5a89-41db-aed2-0bbcbe3520d4","name":"escapeSingleQuotes"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"leads_respondi","mode":"list","cachedResultName":"leads_respondi"},"dataMode":"defineBelow","columnToMatchOn":"respondentId","valueToMatchOn":"={{ $json.ID }}","valuesToSend":{"values":[{"column":"name","value":"={{ $json['Qual o seu nome?'] || null }}"},{"column":"phone","value":"={{ $json['Qual o seu WhatsApp?'] || null }}"},{"column":"email","value":"={{ $json['___, qual o seu email profissional?'] || null }}"},{"column":"empresa","value":"={{ $json['Qual o nome da empresa?'] || null }}"},{"column":"site_instagram","value":"={{ $json['Qual o site ou @ no Instagram da empresa?'] || null }}"},{"column":"perfil","value":"={{ $json['Qual o perfil que você mais se identifica:'] || null }}"},{"column":"cargo","value":"={{ $json['Qual é o seu cargo na ___?'] || null }}"},{"column":"funcionarios","value":"={{ $json['Sua empresa tem quantos funcionários?'] || null }}"},{"column":"ativacao_tipo","value":"={{ $json['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?'] || null }}"},{"column":"descricao","value":"={{ $json['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:'] || null }}"},{"column":"data_ativacao","value":"={{ $json['Qual a data ideal que você gostaria de colocar essa frente no ar?'] || null }}"},{"column":"investir","value":"={{ $json['Até quanto você acredita que a marca pode investir?'].replaceAll(\"R$\",\"R$ \") \n|| $json['Qual é a ordem de grandeza de investimento em mídia paga para seu e-commerce por mês?'].replaceAll(\"R$\",\"R$ \") \n|| null }}"},{"column":"pontuacao","value":"={{ $json['Pontuação'] || 0 }}"},{"column":"datetime","value":"={{ $json.Data }}"},{"column":"date","value":"={{ $json.Data.substring(0,10) }}"},{"column":"utm_source","value":"={{ $json?.utm_source?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_medium","value":"={{ $json?.utm_medium?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_campaign","value":"={{ $json?.utm_campaign?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_term","value":"={{ $json?.utm_term?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"utm_content","value":"={{ $json?.utm_content?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || null }}"},{"column":"gclid","value":"={{ $json.gclid || null }}"},{"column":"fbclid","value":"={{ $json.fbclid || null }}"},{"column":"form_id","value":"={{ $('form_id | form_name').item.json.form_id || null }}"},{"column":"form_name","value":"={{ $('form_id | form_name').item.json.form_name || null }}"},{"column":"formJson","value":"={\"form_id\":\"{{ $('form_id | form_name').item.json.form_id }}\",\"form_name\":\"{{ $('form_id | form_name').item.json.form_name }}\"}"},{"column":"respondentJson","value":"={{ $json.toJsonString() || null }}"},{"column":"status","value":"={{ $json['___, qual o seu email profissional?']?'completed':'incomplete' }}"}]},"options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-384,-704],"id":"98536e58-fd3a-4f1c-8353-a2eaf295b325","name":"MySQL: Upsert respostas","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE `mkl_metakosmoslab`.`leads_respondi` SET `status`='completed'\nWHERE `email` is not null and `status` is null;\n\n\nUPDATE `mkl_metakosmoslab`.`leads_respondi` SET `status`='incomplete'\nWHERE `email` is null and `status` is null;\n\n\n","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","largeNumbersOutput":"numbers","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-608,-496],"id":"c6a13d55-1c08-471f-ab99-58aed7627094","name":"MySQL","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"BLkfMzgv3k7htyEI","name":"MySQL mkl_metakosmoslab"}}},{"parameters":{"content":"## FOOH_Instagram - iR9MFyuD\n\n","height":440,"width":1020},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1168,-784],"id":"435740de-0131-4501-9b07-d1838a414949","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"8de7d8c0-c13a-48cd-ae23-e7a26bfef1a8","name":"form_id","value":"={{ $json['form_id (iR9MFyuD)'] }}","type":"string"},{"id":"a5a1d43f-8ecf-4849-a80d-fd846f0b72d0","name":"form_name","value":"={{ $json['form_name (FOOH_Instagram)'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,-608],"id":"7d119b9e-8479-4830-9113-af76b8a6a947","name":"form_id | form_name"},{"parameters":{"binaryPropertyName":"=form_file__Exportar_de_CSV","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-608,-704],"id":"f6705018-fc79-4eb3-8ddd-a94fac95beee","name":"Extract from File","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"formTitle":"Subir Arquivo Respondi MKL","formDescription":"Subir o arquivo","formFields":{"values":[{"fieldLabel":"form file (Exportar de CSV","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true},{"fieldLabel":"form_id (iR9MFyuD)","placeholder":"iR9MFyuD","requiredField":true},{"fieldLabel":"form_name (FOOH_Instagram)","placeholder":"FOOH_Instagram","requiredField":true}]},"options":{"buttonLabel":"Enviar","path":"mkl-respondi-manual","useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1040,-608],"id":"e7dc5947-249e-4a3e-820b-74cfa09cf67c","name":"Subir Arquivo CSV","webhookId":"7bc52eec-f19b-4221-bba7-d9d0096823f6"},{"parameters":{"assignments":{"assignments":[{"id":"c0f5a7a2-fcd7-45db-b659-cb9dc93abe4c","name":"datetime","value":"={{ $json.query.respondent.parseJson().date.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}","type":"string"},{"id":"fa0eea4c-1f39-4f50-b16e-f6c15b62e362","name":"datetime_unix","value":"={{ $json.query.respondent.parseJson().date.toDateTime().minus(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"ff4dcbef-bee0-420f-9c84-169d057abf06","name":"event_id","value":"={{ $json.query.respondent.parseJson().respondent_id.replaceAll(\"-\",\"\") }}_{{ Math.floor($json.query.respondent.parseJson().date.toDateTime().toSeconds()) }}","type":"string"},{"id":"74d14bea-19d3-41f9-a2e8-cc7e8416c6da","name":"external_id","value":"={{ $json.query.respondent.parseJson().respondent_id }}","type":"string"},{"id":"6291fd58-99c6-486c-89ae-000a4bd47ccb","name":"country","value":"br","type":"string"},{"id":"9ba9313b-ff04-4945-9cda-cd24095ca87e","name":"fn","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu nome?'].split(\" \")[0]?.toLowerCase() || null }}","type":"string"},{"id":"8fb23afb-66cb-4505-a419-427b78867169","name":"ln","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu nome?'].split(\" \")[1]?.toLowerCase() || null }}","type":"string"},{"id":"bad4f2f2-ce8f-422e-a002-99764944bb42","name":"ph","value":"={{ $json.query.respondent.parseJson().answers['Qual o seu WhatsApp?'].replaceAll(/\\D/g,\"\") || null }}","type":"string"},{"id":"93b45dba-f9cc-4a27-9485-a985e3c13110","name":"em","value":"={{ $json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']?$json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']:null || null }}","type":"string"},{"id":"5bd91413-b6c5-45c0-8740-3a1f0eef5237","name":"fbclid","value":"={{ $json.query.respondent.parseJson().respondent_utms.fbclid || null }}","type":"string"},{"id":"63e1c565-7593-46de-964b-2231a5c6625f","name":"gclid","value":"={{ $json.query.respondent.parseJson().respondent_utms.gclid || null }}","type":"string"},{"id":"e2a7288a-4989-4484-993f-186fd1473535","name":"form_id","value":"={{ $json.query.form.parseJson().form_id || null }}","type":"string"},{"id":"5648a871-884f-4cb9-b2f8-a1d585a04765","name":"pontuacao","value":"={{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}","type":"string"},{"id":"635cd69d-8c3b-4063-861c-a872df408e4f","name":"investimento","value":"={{ $json.query.respondent.parseJson().answers['Qual é a ordem de grandeza de acessos (sessões) do seu e-commerce por mês?'] }}","type":"string"}]},"options":{}},"id":"95f45714-d810-43ab-b0ff-e11f6ff6503e","name":"advanced_matching","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,160],"id":"fd4cfbd9-c201-4041-8b39-a7bf39a91d7d","name":"Pontuação > 20"},{"parameters":{"dataToSave":{"values":[{"key":"pontuacao","value":"={{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}"},{"key":"status","value":"={{ $json.query.respondent.parseJson().status }}"},{"key":"investir","value":"={{ $json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] || \"\" }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[-160,-144],"id":"1c19c8fc-22e3-4ad7-a7d9-b4bb7dac6761","name":"Execution Data"},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,368],"id":"1dbb14e1-f494-4945-89dc-71f8280e17ce","name":"Gera fbp-fbc","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?'] }}","rightValue":"Menos de R$ 20.000","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-240],"id":"d0bc1c66-522b-4ba9-97fc-229c030d10e7","name":"Investir > 20k"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"investir_20k\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"investir_20k..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"f033c201-940f-4524-8186-f490ec7888d4","name":"Pixel investir_20k","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,-240],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_inicio\",\n            \"event_time\": {{ $json.datetime.toDateTime() > $now.minus(7,'days')? $json.datetime_unix : $now.toSeconds().floor() }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_inicio..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"a541d6c9-c05a-480b-bcb7-f372156d8e51","name":"Pixel form_inicio","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[496,960],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_20p\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_20p..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"4740b48b-0b72-4a7a-8300-84d927d21240","name":"Pixel form_20p","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"lead_alto\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"lead_alto..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"c613d58e-3a3a-4203-a0a5-2a7377d9b884","name":"Pixel lead_alto","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,368],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,-48],"id":"b0265319-9dd5-414c-8c11-e69a651d883a","name":"Pontuação > 10"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_10p\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_10p..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"8e341988-c027-4d74-87fa-a42f17834382","name":"Pixel form_10p","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,-48],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":10,"operator":{"type":"number","operation":"gt"}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,368],"id":"b440b94f-855d-4cc9-85f3-5d2c753b17fb","name":"Pontuação > 10 e Completo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,560],"id":"e81ef550-41f3-4c11-87cf-2eb1780652a9","name":"Completo"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"form_completo\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"form_completo..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"c48f2321-05ff-47df-9290-c9064c6d116c","name":"Pixel form_completo","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,560],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26570857-3857-43d7-9239-4852e0cbecde","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"bf24a746-bef8-4b56-a5a7-3b25a0ab4b07","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().score }}","rightValue":20,"operator":{"type":"number","operation":"gt"}},{"id":"45951b56-92d8-44ee-8315-473d16a7ab48","leftValue":"={{ $('formatCurrency').item.json.query.respondent.parseJson().status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[496,768],"id":"89435130-aeaf-44fb-bb34-3cf764fb1894","name":"Pontuação > 20 e Completo"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"206974628867901/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"lead_alto_mkt\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"lead_alto_mkt..{{ $json.event_id }}\",\n            \"event_source_url\": \"https://metakosmos.com.br/respondi/{{ $json.form_id }}\",\n            \"opt_out\": false,\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"page_id\": \"100946532873881\"\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"afd75893-49ef-4b0c-94c4-6e558d921a77","name":"Pixel lead_alto_mkt","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[720,768],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"assignments":{"assignments":[{"id":"3a0c4efb-f088-49a9-ab29-3e22c607e718","name":"querySQL","value":"=INSERT INTO `MKL_metakosmoslab`.`leads_respondi`(`respondentId`,`name`, `phone`, `email`, `empresa`, `site_instagram`, `perfil`, `cargo`, `funcionarios`, `ativacao_tipo`, `descricao`, `data_ativacao`, `investir`, `pontuacao`, `datetime`, `date`,`utm_source`, `utm_medium`, `utm_campaign`, `utm_term`, `utm_content`, `gclid`, `fbclid`, `form_id`, `form_name`, `status`, `formJson`, `respondentJson`) VALUES ( \n'{{ $json.query.respondent.parseJson().respondent_id }}',\n'{{ $json.query.respondent.parseJson().answers['Qual o seu nome?'] }}',\n'{{ $json.query.respondent.parseJson().answers['Qual o seu WhatsApp?'] }}',\n{{ $json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?']?\"'\"+$json.query.respondent.parseJson().answers['\\{\\{x15525f55uquj\\}\\}, qual o seu email profissional?'].toLowerCase()+\"'\":\"''\" || \"''\" }},\n{{ $json.query.respondent.parseJson().answers['Qual o nome da empresa?']?\"'\"+$json.query.respondent.parseJson().answers['Qual o nome da empresa?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual o site ou @ no Instagram da empresa?']?\"'\"+$json.query.respondent.parseJson().answers['Qual o site ou @ no Instagram da empresa?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual o perfil que você mais se identifica:']?\"'\"+$json.query.respondent.parseJson().answers['Qual o perfil que você mais se identifica:']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual é o seu cargo na \\{\\{x6u3uqfczwhp\\}\\}?']?\"'\"+$json.query.respondent.parseJson().answers['Qual é o seu cargo na \\{\\{x6u3uqfczwhp\\}\\}?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Sua empresa tem quantos funcionários?']?\"'\"+$json.query.respondent.parseJson().answers['Sua empresa tem quantos funcionários?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?']?\"'\"+$json.query.respondent.parseJson().answers['Quais tipos de ativação você teria interesse de explorar durante sua call com nosso especialista para já prepararmos os melhores exemplos e estudos de caso?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:']?\"'\"+$json.query.respondent.parseJson().answers['Você já tem clareza de como podemos te ajudar? Se sim, descreva abaixo:']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Qual a data ideal que você gostaria de colocar essa frente no ar?']?\"'\"+$json.query.respondent.parseJson().answers['Qual a data ideal que você gostaria de colocar essa frente no ar?']+\"'\":null || 'null' }},\n{{ $json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?']?\"'\"+$json.query.respondent.parseJson().answers['Até quanto você acredita que a marca pode investir?']+\"'\":null || 'null' }},\n'{{ $json.query.respondent.parseJson().score?$json.query.respondent.parseJson().score:0 }}',\n'{{ $json.query.respondent.parseJson().date }}',\n'{{ $json.query.respondent.parseJson().date.substring(0,10) }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_source?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_medium?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_campaign?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_term?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n'{{ $json.query.respondent.parseJson().respondent_utms.utm_content?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") || \"\" }}',\n{{ $json.query.respondent.parseJson().respondent_utms.gclid?\n    \"'\"+$json.query.respondent.parseJson().respondent_utms.gclid+\"'\":'null'}},\n{{ $json.query.respondent.parseJson().respondent_utms.fbclid?\n    \"'\"+$json.query.respondent.parseJson().respondent_utms.fbclid+\"'\":'null'}},\n'{{ $json.query.form.parseJson().form_id }}',\n'{{ $json.query.form.parseJson().form_name }}', \n'{{ $json.query.respondent.parseJson().status }}',\n'{{ $json.query.form}}',\n'{{ $json.query.respondent?.replaceAll(\"%20\",\" \").replaceAll(\" — Cópia\",\" \") }}'\n) ON DUPLICATE KEY UPDATE \n`name`= VALUES(`name`),\n`phone`= VALUES(`phone`),\n`email`= VALUES(`email`),\n`empresa`= VALUES(`empresa`),\n`site_instagram`= VALUES(`site_instagram`),\n`perfil`= VALUES(`perfil`),\n`cargo`= VALUES(`cargo`),\n`funcionarios`= VALUES(`funcionarios`),\n`ativacao_tipo`= VALUES(`ativacao_tipo`),\n`descricao`= VALUES(`descricao`),\n`data_ativacao`= VALUES(`data_ativacao`),\n`investir`= VALUES(`investir`),\n`pontuacao`= VALUES(`pontuacao`),\n`datetime`= VALUES(`datetime`),\n`date`= VALUES(`date`),\n`utm_source`= VALUES(`utm_source`),\n`utm_medium`= VALUES(`utm_medium`),\n`utm_campaign`= VALUES(`utm_campaign`),\n`utm_term`= VALUES(`utm_term`),\n`utm_content`= VALUES(`utm_content`),\n`gclid`= VALUES(`gclid`),\n`fbclid`= VALUES(`fbclid`),\n`form_id`= VALUES(`form_id`),\n`form_name`= VALUES(`form_name`),\n`status`= VALUES(`status`),\n`formJson`= VALUES(`formJson`),\n`respondentJson`= VALUES(`respondentJson`)\n\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,64],"id":"dd2d9133-c4a6-4497-b403-1fb1aba9058d","name":"querySQL"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,160],"id":"cfbd182b-3037-45c6-950b-6f251dd01db6","name":"When Executed by Another Workflow"},{"parameters":{"httpMethod":"POST","path":"mkl-respondi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-992,-176],"id":"945a8ae2-9d1d-4c7d-81df-317c2822bf91","name":"mkl-respondi","webhookId":"1a426452-74f7-48ad-adee-4952ec9d2c32","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"assignments":{"assignments":[{"id":"9a8a63cc-0122-4f71-9b88-660704fdf201","name":"headers","value":"={{ $json.headers }}","type":"object"},{"id":"2a077ca5-7998-4c97-9596-fcc1cb322537","name":"params","value":"={{ $json.params }}","type":"object"},{"id":"9424f5cb-f598-48d1-a988-10743718babf","name":"query","value":"={{ $json.query }}","type":"object"},{"id":"87961e91-ebbe-4527-99ed-bd9b3016b722","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,64],"id":"a5615952-eb13-4f17-a1b1-d162f723dd2c","name":"Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"930bccd0-6c54-4c8e-a3be-c9680ec95b11","leftValue":"={{ $json.datetime.toDateTime() }}","rightValue":"={{ $now.minus(7,'days') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[48,368],"id":"dbde6a16-1904-4b09-9142-a8d0887da443","name":"7 dias?"}],"connections":{"formatCurrency":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"advanced_matching","type":"main","index":0},{"node":"querySQL","type":"main","index":0}]]},"escapeSingleQuotes":{"main":[[{"node":"formatCurrency","type":"main","index":0}]]},"MySQL: Upsert respostas":{"main":[[]]},"form_id | form_name":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"MySQL","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"MySQL: Upsert respostas","type":"main","index":0}]]},"Subir Arquivo CSV":{"main":[[{"node":"form_id | form_name","type":"main","index":0}]]},"advanced_matching":{"main":[[{"node":"7 dias?","type":"main","index":0}]]},"Pontuação > 20":{"main":[[{"node":"Pixel form_20p","type":"main","index":0}]]},"Gera fbp-fbc":{"main":[[{"node":"Pontuação > 20","type":"main","index":0},{"node":"Pixel form_inicio","type":"main","index":0},{"node":"Investir > 20k","type":"main","index":0},{"node":"Pontuação > 10 e Completo","type":"main","index":0},{"node":"Pontuação > 10","type":"main","index":0},{"node":"Completo","type":"main","index":0},{"node":"Pontuação > 20 e Completo","type":"main","index":0}]]},"Investir > 20k":{"main":[[{"node":"Pixel investir_20k","type":"main","index":0}]]},"Pontuação > 10":{"main":[[{"node":"Pixel form_10p","type":"main","index":0}]]},"Pontuação > 10 e Completo":{"main":[[{"node":"Pixel lead_alto","type":"main","index":0}]]},"Completo":{"main":[[{"node":"Pixel form_completo","type":"main","index":0}]]},"Pontuação > 20 e Completo":{"main":[[{"node":"Pixel lead_alto_mkt","type":"main","index":0}]]},"querySQL":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"mkl-respondi":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"escapeSingleQuotes","type":"main","index":0}]]},"7 dias?":{"main":[[{"node":"Gera fbp-fbc","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 12615d6e","description":"","autosaved":false},"tags":[]}