workflows/ayYkjygiediKIltJ.json
{"updatedAt":"2026-07-06T01:01:19.993Z","createdAt":"2026-03-07T17:04:04.334Z","id":"ayYkjygiediKIltJ","name":"[DA] [VDP] PESQUISA PUBLICO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"vdp-pesquisa","options":{"allowedOrigins":"*","noResponseBody":true,"responseCode":{"values":{}}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,256],"id":"c6e8722e-e887-4d6b-9121-3b1835c69570","name":"Webhook","webhookId":"865e4529-46b7-4454-b0d9-4a9372a88328"},{"parameters":{"documentId":{"__rl":true,"value":"1oFkcSf449Wi7KcXKv7ehH_U6aiwwqAa0jNQROkNtTNE","mode":"list","cachedResultName":"[DA] VDPJUL26 Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oFkcSf449Wi7KcXKv7ehH_U6aiwwqAa0jNQROkNtTNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"lista_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Uo3Ua64S0GLus-B_taMXVJuTKLLLQedtDe7MKWl6FHE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"WhatsApp","lookupValue":"={{ $json.phone55 }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,160],"id":"a5463160-87c2-4538-8014-ea08dbbd7787","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"EREEwbFQeKfmOnKI","name":"Sheets RICARDO"}}},{"parameters":{"assignments":{"assignments":[{"id":"56e11fbc-b980-4d56-a8ef-56b483a93c84","name":"phone55","value":"={{ \n(() => {\n  const tel = ($json.body.WhatsApp ?? \"\").replace(/\\D/g,\"\");\n\n  if (!tel) return \"\";\n\n  if (tel.length <= 11) return \"55\" + tel;\n\n  return tel;\n})()\n}}","type":"string"},{"id":"c241cfe1-08d5-4506-b4e4-31e40bb029e5","name":"body['Você já deu alguma aula de confeitaria?']","value":"={{ $json.body['Você já deu alguma aula de confeitaria?'] }}","type":"string"},{"id":"06824f24-aa4b-4053-b4fc-95cd3d774484","name":"body['Se você nunca deu aula, o que mais te impediu até agora?']","value":"={{ $json.body['Se você nunca deu aula, o que mais te impediu até agora?'] }}","type":"string"},{"id":"29e4c527-3fef-4e9c-8d67-e5c6b17eefce","name":"body['Outro (nunca deu aula)']","value":"={{ $json.body['Outro (nunca deu aula)'] }}","type":"string"},{"id":"e92dd82d-ec6c-46a3-9d83-a8b2aa6fe5d0","name":"body['Se você já deu aula, quais são suas maiores dificuldades hoje?']","value":"={{ $json.body['Se você já deu aula, quais são suas maiores dificuldades hoje?'] }}","type":"string"},{"id":"1bba0374-8268-4627-b6cc-7ccb6b50eff5","name":"body['Outro (deu aula)']","value":"={{ $json.body['Outro (deu aula)'] }}","type":"string"},{"id":"fae84e42-b7d8-47ec-92b8-71b9942d2820","name":"body['Há quanto tempo você trabalha com confeitaria?']","value":"={{ $json.body['Há quanto tempo você trabalha com confeitaria?'] }}","type":"string"},{"id":"808edcb1-1738-465c-bac3-7e07fc1177d8","name":"body['Qual a sua escolaridade?']","value":"={{ $json.body['Qual a sua escolaridade?'] }}","type":"string"},{"id":"d62dcc3a-ed30-4af3-83f3-21144ae854ff","name":"body['De onde vem sua principal fonte de renda?']","value":"={{ $json.body['De onde vem sua principal fonte de renda?'] }}","type":"string"},{"id":"d8e2834a-7228-44dd-932e-b67f507b7d26","name":"body['Qual sua média de faturamento hoje na confeitaria?']","value":"={{ $json.body['Qual sua média de faturamento hoje na confeitaria?'] }}","type":"string"},{"id":"ba770f7a-4054-4657-a29d-c27c8fd0a7b8","name":"body['Qual sua renda familiar total?']","value":"={{ $json.body['Qual sua renda familiar total?'] }}","type":"string"},{"id":"73af1bd6-e6f4-4ddc-8881-55cd212fdd4b","name":"body['Tem cartão de crédito?']","value":"={{ $json.body['Tem cartão de crédito?'] }}","type":"string"},{"id":"1bdd0f4c-a6d7-4446-a626-ec6305e795a2","name":"body['Hoje, como você descreveria sua situação financeira?']","value":"={{ $json.body['Hoje, como você descreveria sua situação financeira?'] }}","type":"string"},{"id":"e45c9966-99b4-4fd8-bfe0-a893264ebf60","name":"body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:']","value":"={{ $json.body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:'] }}","type":"string"},{"id":"7aafd097-4f96-4e52-a2c3-0adb2542ef4e","name":"body['Qual a sua intimidade com redes sociais?']","value":"={{ $json.body['Qual a sua intimidade com redes sociais?'] }}","type":"string"},{"id":"9248d0aa-f9a1-4547-ba54-d755c3788c28","name":"body['Outro (Motivo ensinar)']","value":"={{ $json.body['Outro (Motivo ensinar)'] }}","type":"string"},{"id":"27611688-acd5-489d-8c52-addc59f2d15a","name":"body['Já editou algum vídeo?']","value":"={{ $json.body['Já editou algum vídeo?'] }}","type":"string"},{"id":"e15ed39e-3b7f-40f9-8ec4-4f887d02889b","name":"body['Porque você está aqui?']","value":"={{ $json.body['Porque você está aqui?'] }}","type":"string"},{"id":"9ffe37e4-0440-4e03-8f41-ecd7ad73fb2c","name":"body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?']","value":"={{ $json.body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?'] }}","type":"string"},{"id":"b33f2aa4-be4e-411d-9b5b-c2acd32d358c","name":"body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?']","value":"={{ $json.body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?'] }}","type":"string"},{"id":"f5eeb40d-8265-49e1-90d3-4d8b776827db","name":"body.transactionReference","value":"={{ $json.body.transactionReference }}","type":"string"},{"id":"c35f2af5-7036-47f9-8d3c-6ae455be243c","name":"body.Nome","value":"={{ $json.body.Nome }}","type":"string"},{"id":"6d5a1c95-38bd-4463-811f-095cd89834c3","name":"body['E-mail']","value":"={{ $json.body['E-mail'].toLowerCase() }}","type":"string"},{"id":"4506d433-5d88-489f-9998-74bb9bcf37c3","name":"body.Instagram","value":"={{ $json.body.Instagram }}","type":"string"},{"id":"d18d10ed-ffd9-492e-96b2-9ebeda6e9f9f","name":"body.form_id","value":"={{ $json.body.form_id }}","type":"string"},{"id":"4b59a0a1-ebdc-41d8-a343-381470a8126c","name":"body.form_name","value":"={{ $json.body.form_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,160],"id":"4ff33992-2162-4569-b85e-084e840c765b","name":"Campos"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,160],"id":"d4a1057c-190f-4891-a646-87ae404ab71f","name":"Merge"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1614041382105243/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"vdp_pesquisa_respondeu\",\n            \"event_time\": {{ Math.floor($now.toSeconds()) }},\n            \"action_source\": \"website\",\n            \"event_id\": \"vdp_pesquisa_respondeu..{{ $json.Senha }}\",\n            \"event_source_url\": \"https://turbs.com.br/{{ $json.body.form_name.toLowerCase() }}\",\n            \"referrer_url\": \"https://turbs.com.br/\",\n            \"opt_out\": false,\n            \"user_data\": \n              {\n                 {{ ($json.body.email == null ? '':'\"em\": [\"'+$json.body.email.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.Senha == null ? '':'\"external_id\": [\"'+$json.Senha.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.fbp == null ? '\"fbp\": \"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\"]\n              },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ Math.floor($now.toSeconds()) }}\n            }\n        }\n    ]\n}"}},"id":"a04482d3-bd21-4106-af8c-adfb6762086b","name":"vdp_pesquisa_respondeu","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[896,160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1614041382105243/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"vdp_pesquisa_qualificado\",\n            \"event_time\": {{ Math.floor($now.toSeconds()) }},\n            \"action_source\": \"website\",\n            \"event_id\": \"vdp_pesquisa_respondeu..{{ $json.Senha }}\",\n            \"event_source_url\": \"https://turbs.com.br/{{ $json.body.form_name.toLowerCase() }}\",\n            \"referrer_url\": \"https://turbs.com.br/\",\n            \"opt_out\": false,\n            \"user_data\": \n              {\n                 {{ ($json.body.email == null ? '':'\"em\": [\"'+$json.body.email.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.Senha == null ? '':'\"external_id\": [\"'+$json.Senha.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.fbp == null ? '\"fbp\": \"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\"]\n              },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ Math.floor($now.toSeconds()) }}\n            }\n        }\n    ]\n}"}},"id":"bfa7edaf-335c-4410-9a6e-f436caef9068","name":"vdp_pesquisa_qualificado","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1120,352],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8cd39499-9f6a-4743-97bb-b76434ae57c2","leftValue":"=1","rightValue":"2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[896,352],"id":"f674617b-48c2-4ab5-b635-fc465d8ae5e9","name":"Qualificado"},{"parameters":{"jsCode":"const scoreMap = {\n  \"Há quanto tempo você trabalha com confeitaria?\": {\n    \"Menos de 6 meses\": 0,\n    \"De 6 meses a 1 ano\": 1,\n    \"De 1 a 3 anos\": 2,\n    \"Mais de 3 anos\": 3,\n  },\n\n  \"Qual a sua escolaridade?\": {\n    \"Ensino médio incompleto\": 0,\n    \"Ensino médico completo\": 1,\n    \"Ensino médio completo\": 1,\n    \"Ensino superior\": 2,\n  },\n\n  \"De onde vem sua principal fonte de renda?\": {\n    \"Só Confeitaria\": 3,\n    \"Confeitaria + Outro trabalho\": 2,\n    \"Outro trabalho\": 1,\n  },\n\n  \"Qual sua média de faturamento hoje na confeitaria?\": {\n    \"Sem faturamento\": 0,\n    \"Menos de R$1.000\": 0,\n    \"Entre R$1.000 E R$2.000\": 1,\n    \"Entre R$2.000 E R$5.000\": 2,\n    \"Mais de R$5.000\": 3,\n  },\n\n  \"Qual sua renda familiar total?\": {\n    \"Até R$2.000\": 0,\n    \"Entre R$2.000 E R$5.000\": 1,\n    \"Acima de R$5.000\": 2,\n  },\n\n  \"Tem cartão de crédito?\": {\n    \"Sim\": 1,\n    \"Não\": 0,\n  },\n\n  \"Hoje, como você descreveria sua situação financeira?\": {\n    \"Finanças organizadas.\": 3,\n    \"Tenho dívidas, mas estão sob controle.\": 2,\n    \"Tenho muitas dívidas, mas quero me organizar.\": 1,\n    \"Minhas dívidas são uma grande dificuldade hoje, preciso de ajuda\": 0,\n  },\n\n  \"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:\": {\n    \"Parcelar no cartão\": 2,\n    \"Pagar via Pix ou Boleto pois não tenho limite\": 1,\n    \"Esperar juntar o dinheiro\": 0,\n  },\n\n  \"Qual a sua intimidade com redes sociais?\": {\n    \"Tenho zero experiência, mas tenho interesse em aprender\": 1,\n    \"Já conheço um pouco, mas tenho dificuldades\": 2,\n    \"Já produzo conteúdo, mas me sinto perdida\": 3,\n    \"Sou expert em redes sociais, mas ainda preciso de direcionamento\": 4,\n    \"Já produzo bons conteudos em redes sociais, mas ainda preciso de direcionamento\": 4,\n  },\n\n  \"Já editou algum vídeo?\": {\n    \"Nunca editei, e tenho muita dificuldade\": 0,\n    \"Nunca editei, mas conheço alguns aplicativos\": 1,\n    \"Já editei, mas não tenho muita prática\": 2,\n    \"Edito com frequência, sou muito boa nisso\": 3,\n    \"Edito com frequência, me saio bem\": 3,\n  },\n\n  \"Porque você está aqui?\": {\n    \"Curiosidade\": 1,\n    \"Sou confeiteira e quero renda extra ensinando\": 2,\n    \"Estou decidida a ser professora de confeitaria\": 4,\n    \"Já sou professora e quero escalar meus resultados\": 3,\n  },\n};\n\nreturn items.map(item => {\n  const body = item.json.body || {};\n\n  let leadScore = 0;\n  const scoreDetails = {};\n\n  for (const [question, answers] of Object.entries(scoreMap)) {\n    const answer = body[question];\n    const points = answers[answer] ?? 0;\n\n    leadScore += points;\n\n    scoreDetails[question] = {\n      answer,\n      points,\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      leadScore,\n      scoreDetails,\n    },\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"f838d3a6-f216-4834-871a-4d158727cf54","name":"Leadscoring"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw","mode":"list","cachedResultName":"[DA] VDPJUL26 PESQUISA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VDPJUL26","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $now.format('yyyy-MM-dd') }}","Você já deu alguma aula de confeitaria?":"={{ $json.body['Você já deu alguma aula de confeitaria?'] }}","Se você nunca deu aula, o que mais te impediu até agora?":"={{ $json.body['Se você nunca deu aula, o que mais te impediu até agora?'] }}","Outro (nunca deu aula)":"={{ $json.body['Outro (nunca deu aula)'] }}","Se você já deu aula, quais são suas maiores dificuldades hoje?":"={{ $json.body['Se você já deu aula, quais são suas maiores dificuldades hoje?'] }}","Outro (deu aula)":"={{ $json.body['Outro (deu aula)'] }}","Há quanto tempo você trabalha com confeitaria?":"={{ $json.body['Há quanto tempo você trabalha com confeitaria?'] }}","Qual a sua escolaridade?":"={{ $json.body['Qual a sua escolaridade?'] }}","De onde vem sua principal fonte de renda?":"={{ $json.body['De onde vem sua principal fonte de renda?'] }}","Qual sua média de faturamento hoje na confeitaria?":"={{ $json.body['Qual sua média de faturamento hoje na confeitaria?'] }}","Qual sua renda familiar total?":"={{ $json.body['Qual sua renda familiar total?'] }}","Tem cartão de crédito?":"={{ $json.body['Tem cartão de crédito?'] }}","Hoje, como você descreveria sua situação financeira?":"={{ $json.body['Hoje, como você descreveria sua situação financeira?'] }}","Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:":"={{ $json.body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:'] }}","Qual a sua intimidade com redes sociais?":"={{ $json.body['Qual a sua intimidade com redes sociais?'] }}","Outro (Motivo ensinar)":"={{ $json.body['Outro (Motivo ensinar)'] }}","Já editou algum vídeo?":"={{ $json.body['Já editou algum vídeo?'] }}","Porque você está aqui?":"={{ $json.body['Porque você está aqui?'] }}","Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?":"={{ $json.body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?'] }}","Se você pudesse fazer uma pergunta agora para a Débora, qual seria?":"={{ $json.body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?'] }}","transactionReference":"={{ $json.body.transactionReference }}","Nome":"={{ $json.body.Nome }}","E-mail":"={{ $json.body['E-mail'] }}","WhatsApp":"={{ $json.phone55 }}","Instagram":"={{ $json.body.Instagram }}","utm_source":"={{ $json.utm_source }}","utm_campaign":"={{ $json.utm_campaign }}","utm_term":"={{ $json.utm_term }}","utm_medium":"={{ $json.utm_medium }}","utm_content":"={{ $json.utm_content }}","Leadscoring":"={{ $json.leadScore }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já deu alguma aula de confeitaria?","displayName":"Você já deu alguma aula de confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você nunca deu aula, o que mais te impediu até agora?","displayName":"Se você nunca deu aula, o que mais te impediu até agora?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (nunca deu aula)","displayName":"Outro (nunca deu aula)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você já deu aula, quais são suas maiores dificuldades hoje?","displayName":"Se você já deu aula, quais são suas maiores dificuldades hoje?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (deu aula)","displayName":"Outro (deu aula)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Há quanto tempo você trabalha com confeitaria?","displayName":"Há quanto tempo você trabalha com confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua escolaridade?","displayName":"Qual a sua escolaridade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"De onde vem sua principal fonte de renda?","displayName":"De onde vem sua principal fonte de renda?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual sua média de faturamento hoje na confeitaria?","displayName":"Qual sua média de faturamento hoje na confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual sua renda familiar total?","displayName":"Qual sua renda familiar total?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tem cartão de crédito?","displayName":"Tem cartão de crédito?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hoje, como você descreveria sua situação financeira?","displayName":"Hoje, como você descreveria sua situação financeira?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:","displayName":"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua intimidade com redes sociais?","displayName":"Qual a sua intimidade com redes sociais?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (Motivo ensinar)","displayName":"Outro (Motivo ensinar)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Já editou algum vídeo?","displayName":"Já editou algum vídeo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Porque você está aqui?","displayName":"Porque você está aqui?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?","displayName":"Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você pudesse fazer uma pergunta agora para a Débora, qual seria?","displayName":"Se você pudesse fazer uma pergunta agora para a Débora, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transactionReference","displayName":"transactionReference","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leadscoring","displayName":"Leadscoring","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprou FPMT","displayName":"comprou FPMT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,-32],"id":"172ea8c8-0a49-43ca-afcd-a2419d16f130","name":"VDP PESQUISA","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"sLQyekp3CUIswNCr","name":"Sheets ASSESSORIA"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,-32],"id":"d4edf25c-0ca4-47b0-a1a0-4bb39524992d","name":"No Operation, do nothing"}],"connections":{"Webhook":{"main":[[{"node":"Campos","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Campos":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"vdp_pesquisa_respondeu","type":"main","index":0},{"node":"Qualificado","type":"main","index":0},{"node":"Leadscoring","type":"main","index":0}]]},"Qualificado":{"main":[[{"node":"vdp_pesquisa_qualificado","type":"main","index":0}]]},"Leadscoring":{"main":[[{"node":"VDP PESQUISA","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"86a43c92-9c92-4661-ab37-4db223594bd7","activeVersionId":"86a43c92-9c92-4661-ab37-4db223594bd7","triggerCount":1,"shared":[{"updatedAt":"2026-03-07T17:04:04.334Z","createdAt":"2026-03-07T17:04:04.334Z","role":"workflow:owner","workflowId":"ayYkjygiediKIltJ","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-06T01:01:21.211Z","createdAt":"2026-07-06T01:01:19.995Z","versionId":"86a43c92-9c92-4661-ab37-4db223594bd7","workflowId":"ayYkjygiediKIltJ","nodes":[{"parameters":{"httpMethod":"POST","path":"vdp-pesquisa","options":{"allowedOrigins":"*","noResponseBody":true,"responseCode":{"values":{}}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,256],"id":"c6e8722e-e887-4d6b-9121-3b1835c69570","name":"Webhook","webhookId":"865e4529-46b7-4454-b0d9-4a9372a88328"},{"parameters":{"documentId":{"__rl":true,"value":"1oFkcSf449Wi7KcXKv7ehH_U6aiwwqAa0jNQROkNtTNE","mode":"list","cachedResultName":"[DA] VDPJUL26 Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oFkcSf449Wi7KcXKv7ehH_U6aiwwqAa0jNQROkNtTNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"lista_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Uo3Ua64S0GLus-B_taMXVJuTKLLLQedtDe7MKWl6FHE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"WhatsApp","lookupValue":"={{ $json.phone55 }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,160],"id":"a5463160-87c2-4538-8014-ea08dbbd7787","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"EREEwbFQeKfmOnKI","name":"Sheets RICARDO"}}},{"parameters":{"assignments":{"assignments":[{"id":"56e11fbc-b980-4d56-a8ef-56b483a93c84","name":"phone55","value":"={{ \n(() => {\n  const tel = ($json.body.WhatsApp ?? \"\").replace(/\\D/g,\"\");\n\n  if (!tel) return \"\";\n\n  if (tel.length <= 11) return \"55\" + tel;\n\n  return tel;\n})()\n}}","type":"string"},{"id":"c241cfe1-08d5-4506-b4e4-31e40bb029e5","name":"body['Você já deu alguma aula de confeitaria?']","value":"={{ $json.body['Você já deu alguma aula de confeitaria?'] }}","type":"string"},{"id":"06824f24-aa4b-4053-b4fc-95cd3d774484","name":"body['Se você nunca deu aula, o que mais te impediu até agora?']","value":"={{ $json.body['Se você nunca deu aula, o que mais te impediu até agora?'] }}","type":"string"},{"id":"29e4c527-3fef-4e9c-8d67-e5c6b17eefce","name":"body['Outro (nunca deu aula)']","value":"={{ $json.body['Outro (nunca deu aula)'] }}","type":"string"},{"id":"e92dd82d-ec6c-46a3-9d83-a8b2aa6fe5d0","name":"body['Se você já deu aula, quais são suas maiores dificuldades hoje?']","value":"={{ $json.body['Se você já deu aula, quais são suas maiores dificuldades hoje?'] }}","type":"string"},{"id":"1bba0374-8268-4627-b6cc-7ccb6b50eff5","name":"body['Outro (deu aula)']","value":"={{ $json.body['Outro (deu aula)'] }}","type":"string"},{"id":"fae84e42-b7d8-47ec-92b8-71b9942d2820","name":"body['Há quanto tempo você trabalha com confeitaria?']","value":"={{ $json.body['Há quanto tempo você trabalha com confeitaria?'] }}","type":"string"},{"id":"808edcb1-1738-465c-bac3-7e07fc1177d8","name":"body['Qual a sua escolaridade?']","value":"={{ $json.body['Qual a sua escolaridade?'] }}","type":"string"},{"id":"d62dcc3a-ed30-4af3-83f3-21144ae854ff","name":"body['De onde vem sua principal fonte de renda?']","value":"={{ $json.body['De onde vem sua principal fonte de renda?'] }}","type":"string"},{"id":"d8e2834a-7228-44dd-932e-b67f507b7d26","name":"body['Qual sua média de faturamento hoje na confeitaria?']","value":"={{ $json.body['Qual sua média de faturamento hoje na confeitaria?'] }}","type":"string"},{"id":"ba770f7a-4054-4657-a29d-c27c8fd0a7b8","name":"body['Qual sua renda familiar total?']","value":"={{ $json.body['Qual sua renda familiar total?'] }}","type":"string"},{"id":"73af1bd6-e6f4-4ddc-8881-55cd212fdd4b","name":"body['Tem cartão de crédito?']","value":"={{ $json.body['Tem cartão de crédito?'] }}","type":"string"},{"id":"1bdd0f4c-a6d7-4446-a626-ec6305e795a2","name":"body['Hoje, como você descreveria sua situação financeira?']","value":"={{ $json.body['Hoje, como você descreveria sua situação financeira?'] }}","type":"string"},{"id":"e45c9966-99b4-4fd8-bfe0-a893264ebf60","name":"body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:']","value":"={{ $json.body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:'] }}","type":"string"},{"id":"7aafd097-4f96-4e52-a2c3-0adb2542ef4e","name":"body['Qual a sua intimidade com redes sociais?']","value":"={{ $json.body['Qual a sua intimidade com redes sociais?'] }}","type":"string"},{"id":"9248d0aa-f9a1-4547-ba54-d755c3788c28","name":"body['Outro (Motivo ensinar)']","value":"={{ $json.body['Outro (Motivo ensinar)'] }}","type":"string"},{"id":"27611688-acd5-489d-8c52-addc59f2d15a","name":"body['Já editou algum vídeo?']","value":"={{ $json.body['Já editou algum vídeo?'] }}","type":"string"},{"id":"e15ed39e-3b7f-40f9-8ec4-4f887d02889b","name":"body['Porque você está aqui?']","value":"={{ $json.body['Porque você está aqui?'] }}","type":"string"},{"id":"9ffe37e4-0440-4e03-8f41-ecd7ad73fb2c","name":"body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?']","value":"={{ $json.body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?'] }}","type":"string"},{"id":"b33f2aa4-be4e-411d-9b5b-c2acd32d358c","name":"body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?']","value":"={{ $json.body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?'] }}","type":"string"},{"id":"f5eeb40d-8265-49e1-90d3-4d8b776827db","name":"body.transactionReference","value":"={{ $json.body.transactionReference }}","type":"string"},{"id":"c35f2af5-7036-47f9-8d3c-6ae455be243c","name":"body.Nome","value":"={{ $json.body.Nome }}","type":"string"},{"id":"6d5a1c95-38bd-4463-811f-095cd89834c3","name":"body['E-mail']","value":"={{ $json.body['E-mail'].toLowerCase() }}","type":"string"},{"id":"4506d433-5d88-489f-9998-74bb9bcf37c3","name":"body.Instagram","value":"={{ $json.body.Instagram }}","type":"string"},{"id":"d18d10ed-ffd9-492e-96b2-9ebeda6e9f9f","name":"body.form_id","value":"={{ $json.body.form_id }}","type":"string"},{"id":"4b59a0a1-ebdc-41d8-a343-381470a8126c","name":"body.form_name","value":"={{ $json.body.form_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,160],"id":"4ff33992-2162-4569-b85e-084e840c765b","name":"Campos"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,160],"id":"d4a1057c-190f-4891-a646-87ae404ab71f","name":"Merge"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1614041382105243/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"vdp_pesquisa_respondeu\",\n            \"event_time\": {{ Math.floor($now.toSeconds()) }},\n            \"action_source\": \"website\",\n            \"event_id\": \"vdp_pesquisa_respondeu..{{ $json.Senha }}\",\n            \"event_source_url\": \"https://turbs.com.br/{{ $json.body.form_name.toLowerCase() }}\",\n            \"referrer_url\": \"https://turbs.com.br/\",\n            \"opt_out\": false,\n            \"user_data\": \n              {\n                 {{ ($json.body.email == null ? '':'\"em\": [\"'+$json.body.email.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.Senha == null ? '':'\"external_id\": [\"'+$json.Senha.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.fbp == null ? '\"fbp\": \"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\"]\n              },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ Math.floor($now.toSeconds()) }}\n            }\n        }\n    ]\n}"}},"id":"a04482d3-bd21-4106-af8c-adfb6762086b","name":"vdp_pesquisa_respondeu","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[896,160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1614041382105243/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"vdp_pesquisa_qualificado\",\n            \"event_time\": {{ Math.floor($now.toSeconds()) }},\n            \"action_source\": \"website\",\n            \"event_id\": \"vdp_pesquisa_respondeu..{{ $json.Senha }}\",\n            \"event_source_url\": \"https://turbs.com.br/{{ $json.body.form_name.toLowerCase() }}\",\n            \"referrer_url\": \"https://turbs.com.br/\",\n            \"opt_out\": false,\n            \"user_data\": \n              {\n                 {{ ($json.body.email == null ? '':'\"em\": [\"'+$json.body.email.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.Senha == null ? '':'\"external_id\": [\"'+$json.Senha.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json.fbp == null ? '\"fbp\": \"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\"]\n              },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ Math.floor($now.toSeconds()) }}\n            }\n        }\n    ]\n}"}},"id":"bfa7edaf-335c-4410-9a6e-f436caef9068","name":"vdp_pesquisa_qualificado","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1120,352],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8cd39499-9f6a-4743-97bb-b76434ae57c2","leftValue":"=1","rightValue":"2","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[896,352],"id":"f674617b-48c2-4ab5-b635-fc465d8ae5e9","name":"Qualificado"},{"parameters":{"jsCode":"const scoreMap = {\n  \"Há quanto tempo você trabalha com confeitaria?\": {\n    \"Menos de 6 meses\": 0,\n    \"De 6 meses a 1 ano\": 1,\n    \"De 1 a 3 anos\": 2,\n    \"Mais de 3 anos\": 3,\n  },\n\n  \"Qual a sua escolaridade?\": {\n    \"Ensino médio incompleto\": 0,\n    \"Ensino médico completo\": 1,\n    \"Ensino médio completo\": 1,\n    \"Ensino superior\": 2,\n  },\n\n  \"De onde vem sua principal fonte de renda?\": {\n    \"Só Confeitaria\": 3,\n    \"Confeitaria + Outro trabalho\": 2,\n    \"Outro trabalho\": 1,\n  },\n\n  \"Qual sua média de faturamento hoje na confeitaria?\": {\n    \"Sem faturamento\": 0,\n    \"Menos de R$1.000\": 0,\n    \"Entre R$1.000 E R$2.000\": 1,\n    \"Entre R$2.000 E R$5.000\": 2,\n    \"Mais de R$5.000\": 3,\n  },\n\n  \"Qual sua renda familiar total?\": {\n    \"Até R$2.000\": 0,\n    \"Entre R$2.000 E R$5.000\": 1,\n    \"Acima de R$5.000\": 2,\n  },\n\n  \"Tem cartão de crédito?\": {\n    \"Sim\": 1,\n    \"Não\": 0,\n  },\n\n  \"Hoje, como você descreveria sua situação financeira?\": {\n    \"Finanças organizadas.\": 3,\n    \"Tenho dívidas, mas estão sob controle.\": 2,\n    \"Tenho muitas dívidas, mas quero me organizar.\": 1,\n    \"Minhas dívidas são uma grande dificuldade hoje, preciso de ajuda\": 0,\n  },\n\n  \"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:\": {\n    \"Parcelar no cartão\": 2,\n    \"Pagar via Pix ou Boleto pois não tenho limite\": 1,\n    \"Esperar juntar o dinheiro\": 0,\n  },\n\n  \"Qual a sua intimidade com redes sociais?\": {\n    \"Tenho zero experiência, mas tenho interesse em aprender\": 1,\n    \"Já conheço um pouco, mas tenho dificuldades\": 2,\n    \"Já produzo conteúdo, mas me sinto perdida\": 3,\n    \"Sou expert em redes sociais, mas ainda preciso de direcionamento\": 4,\n    \"Já produzo bons conteudos em redes sociais, mas ainda preciso de direcionamento\": 4,\n  },\n\n  \"Já editou algum vídeo?\": {\n    \"Nunca editei, e tenho muita dificuldade\": 0,\n    \"Nunca editei, mas conheço alguns aplicativos\": 1,\n    \"Já editei, mas não tenho muita prática\": 2,\n    \"Edito com frequência, sou muito boa nisso\": 3,\n    \"Edito com frequência, me saio bem\": 3,\n  },\n\n  \"Porque você está aqui?\": {\n    \"Curiosidade\": 1,\n    \"Sou confeiteira e quero renda extra ensinando\": 2,\n    \"Estou decidida a ser professora de confeitaria\": 4,\n    \"Já sou professora e quero escalar meus resultados\": 3,\n  },\n};\n\nreturn items.map(item => {\n  const body = item.json.body || {};\n\n  let leadScore = 0;\n  const scoreDetails = {};\n\n  for (const [question, answers] of Object.entries(scoreMap)) {\n    const answer = body[question];\n    const points = answers[answer] ?? 0;\n\n    leadScore += points;\n\n    scoreDetails[question] = {\n      answer,\n      points,\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      leadScore,\n      scoreDetails,\n    },\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"f838d3a6-f216-4834-871a-4d158727cf54","name":"Leadscoring"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw","mode":"list","cachedResultName":"[DA] VDPJUL26 PESQUISA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VDPJUL26","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PDqGG55xgP1p7yKRITa0Zpp7oHoXhG4AJSOF-0UNirw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $now.format('yyyy-MM-dd') }}","Você já deu alguma aula de confeitaria?":"={{ $json.body['Você já deu alguma aula de confeitaria?'] }}","Se você nunca deu aula, o que mais te impediu até agora?":"={{ $json.body['Se você nunca deu aula, o que mais te impediu até agora?'] }}","Outro (nunca deu aula)":"={{ $json.body['Outro (nunca deu aula)'] }}","Se você já deu aula, quais são suas maiores dificuldades hoje?":"={{ $json.body['Se você já deu aula, quais são suas maiores dificuldades hoje?'] }}","Outro (deu aula)":"={{ $json.body['Outro (deu aula)'] }}","Há quanto tempo você trabalha com confeitaria?":"={{ $json.body['Há quanto tempo você trabalha com confeitaria?'] }}","Qual a sua escolaridade?":"={{ $json.body['Qual a sua escolaridade?'] }}","De onde vem sua principal fonte de renda?":"={{ $json.body['De onde vem sua principal fonte de renda?'] }}","Qual sua média de faturamento hoje na confeitaria?":"={{ $json.body['Qual sua média de faturamento hoje na confeitaria?'] }}","Qual sua renda familiar total?":"={{ $json.body['Qual sua renda familiar total?'] }}","Tem cartão de crédito?":"={{ $json.body['Tem cartão de crédito?'] }}","Hoje, como você descreveria sua situação financeira?":"={{ $json.body['Hoje, como você descreveria sua situação financeira?'] }}","Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:":"={{ $json.body['Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:'] }}","Qual a sua intimidade com redes sociais?":"={{ $json.body['Qual a sua intimidade com redes sociais?'] }}","Outro (Motivo ensinar)":"={{ $json.body['Outro (Motivo ensinar)'] }}","Já editou algum vídeo?":"={{ $json.body['Já editou algum vídeo?'] }}","Porque você está aqui?":"={{ $json.body['Porque você está aqui?'] }}","Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?":"={{ $json.body['Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?'] }}","Se você pudesse fazer uma pergunta agora para a Débora, qual seria?":"={{ $json.body['Se você pudesse fazer uma pergunta agora para a Débora, qual seria?'] }}","transactionReference":"={{ $json.body.transactionReference }}","Nome":"={{ $json.body.Nome }}","E-mail":"={{ $json.body['E-mail'] }}","WhatsApp":"={{ $json.phone55 }}","Instagram":"={{ $json.body.Instagram }}","utm_source":"={{ $json.utm_source }}","utm_campaign":"={{ $json.utm_campaign }}","utm_term":"={{ $json.utm_term }}","utm_medium":"={{ $json.utm_medium }}","utm_content":"={{ $json.utm_content }}","Leadscoring":"={{ $json.leadScore }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você já deu alguma aula de confeitaria?","displayName":"Você já deu alguma aula de confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você nunca deu aula, o que mais te impediu até agora?","displayName":"Se você nunca deu aula, o que mais te impediu até agora?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (nunca deu aula)","displayName":"Outro (nunca deu aula)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você já deu aula, quais são suas maiores dificuldades hoje?","displayName":"Se você já deu aula, quais são suas maiores dificuldades hoje?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (deu aula)","displayName":"Outro (deu aula)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Há quanto tempo você trabalha com confeitaria?","displayName":"Há quanto tempo você trabalha com confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua escolaridade?","displayName":"Qual a sua escolaridade?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"De onde vem sua principal fonte de renda?","displayName":"De onde vem sua principal fonte de renda?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual sua média de faturamento hoje na confeitaria?","displayName":"Qual sua média de faturamento hoje na confeitaria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual sua renda familiar total?","displayName":"Qual sua renda familiar total?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tem cartão de crédito?","displayName":"Tem cartão de crédito?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hoje, como você descreveria sua situação financeira?","displayName":"Hoje, como você descreveria sua situação financeira?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:","displayName":"Ainda sobre a situação financeira do empreendedor, quando faz compras de maior valor, você costuma:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual a sua intimidade com redes sociais?","displayName":"Qual a sua intimidade com redes sociais?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Outro (Motivo ensinar)","displayName":"Outro (Motivo ensinar)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Já editou algum vídeo?","displayName":"Já editou algum vídeo?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Porque você está aqui?","displayName":"Porque você está aqui?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?","displayName":"Você acredita que poderia ter um curso próprio estruturado que te gerasse R$ 10.000 por mês ou mais?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Se você pudesse fazer uma pergunta agora para a Débora, qual seria?","displayName":"Se você pudesse fazer uma pergunta agora para a Débora, qual seria?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transactionReference","displayName":"transactionReference","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leadscoring","displayName":"Leadscoring","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_source","displayName":"utm_source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_campaign","displayName":"utm_campaign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_medium","displayName":"utm_medium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_term","displayName":"utm_term","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"utm_content","displayName":"utm_content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"comprou FPMT","displayName":"comprou FPMT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,-32],"id":"172ea8c8-0a49-43ca-afcd-a2419d16f130","name":"VDP PESQUISA","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"sLQyekp3CUIswNCr","name":"Sheets ASSESSORIA"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,-32],"id":"d4edf25c-0ca4-47b0-a1a0-4bb39524992d","name":"No Operation, do nothing"}],"connections":{"Webhook":{"main":[[{"node":"Campos","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Campos":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"vdp_pesquisa_respondeu","type":"main","index":0},{"node":"Qualificado","type":"main","index":0},{"node":"Leadscoring","type":"main","index":0}]]},"Qualificado":{"main":[[{"node":"vdp_pesquisa_qualificado","type":"main","index":0}]]},"Leadscoring":{"main":[[{"node":"VDP PESQUISA","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 86a43c92","description":"","autosaved":true},"tags":[]}