workflows/B5HL5lVMIiKAqfZT.json
{"updatedAt":"2026-07-21T17:33:24.683Z","createdAt":"2026-01-06T04:13:41.289Z","id":"B5HL5lVMIiKAqfZT","name":"[CTX] [CONEXA] Aviso de Cobrança","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,1504],"id":"d5fa8648-9b9e-47cd-854d-b00eeb69ca50","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://convertix.conexa.app/index.php/api/v2/charges","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startCompetenceDate","value":"={{ $json.competence }}"},{"name":"status","value":"paid"},{"name":"size","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,1504],"id":"c933f07a-89d7-430e-a980-85d4ebe0b228","name":"HTTP Request","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"assignments":{"assignments":[{"id":"d2a54ccf-382f-419f-8335-9259b3ffabf1","name":"competence","value":"2025-09-01","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,1504],"id":"97ea3ac1-1b3c-4a49-9e25-764b29e31ef7","name":"Globals"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,1504],"id":"6322bb32-69c6-47ab-8ad9-3db0ca5536e3","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"0e9e41df-c728-48d4-9ccd-0af3497811d1","name":"chargeUrl","value":"={{ $json.chargeUrl.replace(\"fatura\",\"verDetalhamento\") }}","type":"string"},{"id":"d91ddd81-c1e5-4c14-b9ad-fc65ced7c62d","name":"competenceDate","value":"={{ $json.competenceDate.substring(0,7) }}","type":"string"},{"id":"111a4276-3bec-49a3-af0f-1e0576761f4e","name":"customerId","value":"={{ $json.customerId }}","type":"string"},{"id":"84042878-04e5-433b-883e-c1226dfe4aa3","name":"paymentDate","value":"={{ $json.paymentDate }}","type":"string"},{"id":"db4be1e7-7bec-416f-b935-51e24b894028","name":"paidAmount","value":"={{ $json.paidAmount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1504],"id":"4e3e516c-a45a-48e8-83d9-74036e5343d6","name":"Somente Campos Úteis"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,1504],"id":"b863055f-15f5-4e3b-b183-2e63f5f9f4fb","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1792,1504],"id":"d1fef249-edce-410c-8d18-21a1decb2197"},{"parameters":{"url":"=https://convertix.conexa.app/index.php/api/v2/customer/{{ $json.customerId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,1424],"id":"34987063-2218-4216-962e-d370ec7a704b","name":"CONEXA Get Customer","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"url":"={{ $('Loop Over Items').item.json.chargeUrl }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,1424],"id":"eb351f4a-c3b6-4705-a808-c16c0ec538ac","name":"CONEXA Get Customer1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-gerada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1104],"id":"df9e0fcd-277c-473f-9bae-573f9f53d1da","name":"Cobrança Gerada","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-vencehoje","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,592],"id":"4c9de543-4dfa-4523-8548-5a9381de3ffd","name":"Cobrança Vence Hoje","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,592],"id":"a96e9285-dd15-4e26-bda4-ed5896c0ba48","name":"Horário Comercial"},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,592],"id":"9efe832e-40ec-4db2-a9c8-8c4fbf98445f","name":"Dados Cliente1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,1104],"id":"4302edba-5f2e-4f5c-b670-8a5cfa4f0ad4","name":"Horário Comercial1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,80],"id":"e999cba2-6ad0-44bd-a22c-3b0c15cc8afc","name":"Horário Comercial2"},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-d1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,80],"id":"c144ee6c-d01a-441f-b2ba-db90ac648dac","name":"Cobrança Vencida D+1","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,496],"id":"c22a8651-4a38-4d1e-9056-25d91f69a52e","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'2"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,400],"id":"5a65b204-a925-409d-b381-891b50e9ee6f","name":"Envia template utility","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,496],"id":"5a269d1d-4cea-433d-a938-9de9f413b3e6","name":"Configura Template"},{"parameters":{"graphApiVersion":"v25.0","node":"=1622068215945165","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[0,-336],"id":"eebe3cba-c78f-4b7a-9387-581c0689bb83","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"phoneNumberId":"975796855618263","recipientPhoneNumber":"=5511910266031","template":"nps_convertix_02|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"=KARINA"},{"text":"=VILA DI PRAIA"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[0,-560],"id":"65e94c7a-6905-4729-b8c1-c64851a544ce","name":"Send template","webhookId":"c41880fc-bd87-4e03-a8da-b420b6b56f3b","credentials":{"whatsAppApi":{"id":"Ikq8EG2CLLq9Sfdw","name":"WhatsApp 55 11 5236-0228"}}},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,688],"id":"fedee98a-662b-46ee-a4a4-0e688c6966d1","name":"Stop and Error"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,592],"id":"78796f67-ed52-48af-b27f-aa8205df09a3","name":"Adicionar Labels cliente","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1104],"id":"1267d32f-09d6-43a0-b68c-b2ec1d52d010","name":"Dados Cliente"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,1008],"id":"d1a04313-0026-483a-87b5-0d72122e1902","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,912],"id":"4effe265-33d0-4d26-ab8a-a231676dccac","name":"Envia template utility1","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1008],"id":"b30aaf02-faad-42b5-baae-f59757412ead","name":"Configura Template1"},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,1200],"id":"c55f0260-312e-43a2-b281-1d7c8d3826f1","name":"Stop and Error1"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,1104],"id":"a15b338e-23e0-4f81-b0fd-aec644838f51","name":"Adicionar Labels cliente1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_gerado_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_gerado_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1008],"id":"d073cb22-75ba-4d56-b10b-aefe0bc26e30","name":"pagamento_gerado_1"},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_pendente_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_pendente_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente1').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente1').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente1').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente1').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente1').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,496],"id":"eefc4878-f6bb-4b8d-954d-25809d52cf51","name":"pagamento_pendente_01"},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,80],"id":"4b4587f5-656a-4951-8a91-eda1de98ced2","name":"Dados Cliente2"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,-16],"id":"765554b0-749a-488f-9e7e-25adee7d21f5","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'3"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,-112],"id":"10d1dfe1-117d-4b96-9aeb-7b2e3df59777","name":"Envia template utility2","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-16],"id":"b26222be-6203-423b-8c51-1cbca57cfcda","name":"Configura Template2"},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,176],"id":"ea66d22c-5bde-4059-a999-648099619fbd","name":"Stop and Error2"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,80],"id":"e9aa9d50-8215-4256-a24c-578c950d4293","name":"Adicionar Labels cliente2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_atrasado_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_atrasado_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente2').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente2').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente2').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente2').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente2').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-16],"id":"0b161995-5ac3-4555-ab44-8ffa05be448e","name":"pagamento_atrasado_01"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Globals":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Somente Campos Úteis","type":"main","index":0}]]},"Somente Campos Úteis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"CONEXA Get Customer","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CONEXA Get Customer":{"main":[[{"node":"CONEXA Get Customer1","type":"main","index":0}]]},"CONEXA Get Customer1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Cobrança Gerada":{"main":[[{"node":"Horário Comercial1","type":"main","index":0}]]},"Cobrança Vence Hoje":{"main":[[{"node":"Horário Comercial","type":"main","index":0}]]},"Horário Comercial":{"main":[[{"node":"Dados Cliente1","type":"main","index":0}]]},"Dados Cliente1":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'2","type":"main","index":0},{"node":"Stop and Error","type":"main","index":0}]]},"Horário Comercial1":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Horário Comercial2":{"main":[[{"node":"Dados Cliente2","type":"main","index":0}]]},"Cobrança Vencida D+1":{"main":[[{"node":"Horário Comercial2","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'2":{"main":[[{"node":"pagamento_pendente_01","type":"main","index":0}]]},"Configura Template":{"main":[[{"node":"Envia template utility","type":"main","index":0},{"node":"Adicionar Labels cliente","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'","type":"main","index":0},{"node":"Stop and Error1","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'":{"main":[[{"node":"pagamento_gerado_1","type":"main","index":0}]]},"Configura Template1":{"main":[[{"node":"Envia template utility1","type":"main","index":0},{"node":"Adicionar Labels cliente1","type":"main","index":0}]]},"pagamento_gerado_1":{"main":[[{"node":"Configura Template1","type":"main","index":0}]]},"pagamento_pendente_01":{"main":[[{"node":"Configura Template","type":"main","index":0}]]},"Dados Cliente2":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'3","type":"main","index":0},{"node":"Stop and Error2","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'3":{"main":[[{"node":"pagamento_atrasado_01","type":"main","index":0}]]},"Configura Template2":{"main":[[{"node":"Envia template utility2","type":"main","index":0},{"node":"Adicionar Labels cliente2","type":"main","index":0}]]},"pagamento_atrasado_01":{"main":[[{"node":"Configura Template2","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","binaryMode":"separate","timeSavedMode":"fixed"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"f7e9d1be-3c35-4064-b075-0d5a429d827f","activeVersionId":"f7e9d1be-3c35-4064-b075-0d5a429d827f","triggerCount":3,"shared":[{"updatedAt":"2026-01-06T04:13:41.289Z","createdAt":"2026-01-06T04:13:41.289Z","role":"workflow:owner","workflowId":"B5HL5lVMIiKAqfZT","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-21T17:52:34.215Z","createdAt":"2026-07-21T17:33:24.687Z","versionId":"f7e9d1be-3c35-4064-b075-0d5a429d827f","workflowId":"B5HL5lVMIiKAqfZT","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,1504],"id":"d5fa8648-9b9e-47cd-854d-b00eeb69ca50","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://convertix.conexa.app/index.php/api/v2/charges","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"startCompetenceDate","value":"={{ $json.competence }}"},{"name":"status","value":"paid"},{"name":"size","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,1504],"id":"c933f07a-89d7-430e-a980-85d4ebe0b228","name":"HTTP Request","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"assignments":{"assignments":[{"id":"d2a54ccf-382f-419f-8335-9259b3ffabf1","name":"competence","value":"2025-09-01","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,1504],"id":"97ea3ac1-1b3c-4a49-9e25-764b29e31ef7","name":"Globals"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,1504],"id":"6322bb32-69c6-47ab-8ad9-3db0ca5536e3","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"0e9e41df-c728-48d4-9ccd-0af3497811d1","name":"chargeUrl","value":"={{ $json.chargeUrl.replace(\"fatura\",\"verDetalhamento\") }}","type":"string"},{"id":"d91ddd81-c1e5-4c14-b9ad-fc65ced7c62d","name":"competenceDate","value":"={{ $json.competenceDate.substring(0,7) }}","type":"string"},{"id":"111a4276-3bec-49a3-af0f-1e0576761f4e","name":"customerId","value":"={{ $json.customerId }}","type":"string"},{"id":"84042878-04e5-433b-883e-c1226dfe4aa3","name":"paymentDate","value":"={{ $json.paymentDate }}","type":"string"},{"id":"db4be1e7-7bec-416f-b935-51e24b894028","name":"paidAmount","value":"={{ $json.paidAmount }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1504],"id":"4e3e516c-a45a-48e8-83d9-74036e5343d6","name":"Somente Campos Úteis"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,1504],"id":"b863055f-15f5-4e3b-b183-2e63f5f9f4fb","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1792,1504],"id":"d1fef249-edce-410c-8d18-21a1decb2197"},{"parameters":{"url":"=https://convertix.conexa.app/index.php/api/v2/customer/{{ $json.customerId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,1424],"id":"34987063-2218-4216-962e-d370ec7a704b","name":"CONEXA Get Customer","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"url":"={{ $('Loop Over Items').item.json.chargeUrl }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,1424],"id":"eb351f4a-c3b6-4705-a808-c16c0ec538ac","name":"CONEXA Get Customer1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"aKvNq7pLMVpAnYMK","name":"Conexa - Webhook"}}},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-gerada","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1104],"id":"df9e0fcd-277c-473f-9bae-573f9f53d1da","name":"Cobrança Gerada","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-vencehoje","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,592],"id":"4c9de543-4dfa-4523-8548-5a9381de3ffd","name":"Cobrança Vence Hoje","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,592],"id":"a96e9285-dd15-4e26-bda4-ed5896c0ba48","name":"Horário Comercial"},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,592],"id":"9efe832e-40ec-4db2-a9c8-8c4fbf98445f","name":"Dados Cliente1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,1104],"id":"4302edba-5f2e-4f5c-b670-8a5cfa4f0ad4","name":"Horário Comercial1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c5c777-aa85-42f5-b7cc-946d8d0693a0","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,80],"id":"e999cba2-6ad0-44bd-a22c-3b0c15cc8afc","name":"Horário Comercial2"},{"parameters":{"httpMethod":"POST","path":"ctx-conexa-cobranca-d1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,80],"id":"c144ee6c-d01a-441f-b2ba-db90ac648dac","name":"Cobrança Vencida D+1","webhookId":"5d600cff-8ecc-4640-9e06-dfe31bd19f21"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,496],"id":"c22a8651-4a38-4d1e-9056-25d91f69a52e","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'2"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,400],"id":"5a65b204-a925-409d-b381-891b50e9ee6f","name":"Envia template utility","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,496],"id":"5a269d1d-4cea-433d-a938-9de9f413b3e6","name":"Configura Template"},{"parameters":{"graphApiVersion":"v25.0","node":"=1622068215945165","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[0,-336],"id":"eebe3cba-c78f-4b7a-9387-581c0689bb83","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"phoneNumberId":"975796855618263","recipientPhoneNumber":"=5511910266031","template":"nps_convertix_02|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"=KARINA"},{"text":"=VILA DI PRAIA"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[0,-560],"id":"65e94c7a-6905-4729-b8c1-c64851a544ce","name":"Send template","webhookId":"c41880fc-bd87-4e03-a8da-b420b6b56f3b","credentials":{"whatsAppApi":{"id":"Ikq8EG2CLLq9Sfdw","name":"WhatsApp 55 11 5236-0228"}}},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,688],"id":"fedee98a-662b-46ee-a4a4-0e688c6966d1","name":"Stop and Error"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,592],"id":"78796f67-ed52-48af-b27f-aa8205df09a3","name":"Adicionar Labels cliente","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1104],"id":"1267d32f-09d6-43a0-b68c-b2ec1d52d010","name":"Dados Cliente"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,1008],"id":"d1a04313-0026-483a-87b5-0d72122e1902","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,912],"id":"4effe265-33d0-4d26-ab8a-a231676dccac","name":"Envia template utility1","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1008],"id":"b30aaf02-faad-42b5-baae-f59757412ead","name":"Configura Template1"},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,1200],"id":"c55f0260-312e-43a2-b281-1d7c8d3826f1","name":"Stop and Error1"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,1104],"id":"a15b338e-23e0-4f81-b0fd-aec644838f51","name":"Adicionar Labels cliente1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_gerado_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_gerado_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1008],"id":"d073cb22-75ba-4d56-b10b-aefe0bc26e30","name":"pagamento_gerado_1"},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_pendente_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_pendente_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente1').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente1').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente1').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente1').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente1').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,496],"id":"eefc4878-f6bb-4b8d-954d-25809d52cf51","name":"pagamento_pendente_01"},{"parameters":{"assignments":{"assignments":[{"id":"205c43ca-b1ef-47c5-9384-ed5756903dbc","name":"firstName","value":"={{ $json.body.customer.firstName }}","type":"string"},{"id":"d58fba1e-b85c-41ba-9bbc-4df47a887131","name":"empresa","value":"={{ $json.body.customer.name }}","type":"string"},{"id":"4a3570d0-3974-49d2-a76e-72624760f3af","name":"phone55","value":"=55{{ $json.body.customer.cellNumber }}","type":"string"},{"id":"2c23a4ed-e4ba-42d2-b9d1-c721c6e0cee1","name":"vencimento","value":"={{ $json.body.dueDate.toDateTime().format('dd/MM/yyyy') }}","type":"string"},{"id":"7690f843-8c86-477d-ae8f-ab0d96ff78de","name":"chargeUrl","value":"={{ $json.body.chargeUrl }}","type":"string"},{"id":"7d3fdbb0-b789-46bc-a2c7-d310aa5e409c","name":"BoletoCodigo","value":"={{ $json.body.billetDigitableLine }}","type":"string"},{"id":"916e93be-5015-4f96-8ab5-9325780eb930","name":"valor","value":"={{ $json.body.currentAmount }}","type":"string"},{"id":"bf0f4eff-a6a2-4758-b339-0a352e0d76ef","name":"chargeCode","value":"={{ $json.body.chargeUrl.split(\"=\")[2] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,80],"id":"4b4587f5-656a-4951-8a91-eda1de98ced2","name":"Dados Cliente2"},{"parameters":{"workflowId":{"__rl":true,"value":"Zm0OGbLDydDdslwo","mode":"list","cachedResultUrl":"/workflow/Zm0OGbLDydDdslwo","cachedResultName":"[CTX][CHATWOOT] Cria conversa para disparo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"additional_attributes":"={{ {} }}","custom_attributes":"={{ {} }}","account_id":"1","phone55":"={{ $json.phone55 }}","inbox_id":"29","contact_name":"={{ $json.firstName }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"phone55","displayName":"phone55","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"inbox_id","displayName":"inbox_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_name","displayName":"contact_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_attributes","displayName":"additional_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"custom_attributes","displayName":"custom_attributes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[672,-16],"id":"765554b0-749a-488f-9e7e-25adee7d21f5","name":"Call '[CTX][CHATWOOT] Cria conversa para disparo'3"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.body_chatwoot.content }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\",\n  \"template_params\": {\n    \"name\": \"{{ $json.template.nome }}\",\n    \"category\": \"UTILITY\",\n    \"language\": \"pt_BR\",\n    \"processed_params\": {\n      \"body\": {\n        \"1\": \"{{ $json.template.body_params.nome }}\",\n        \"2\": \"{{ $json.template.body_params.empresa }}\",\n        \"3\": \"{{ $json.template.body_params.data }}\"\n      },\n\"buttons\": [\n      {\n        \"type\": \"url\",\n        \"parameter\": \"{{ $json.template.buttons_params.url }}\"\n      }\n    ]\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,-112],"id":"10d1dfe1-117d-4b96-9aeb-7b2e3df59777","name":"Envia template utility2","credentials":{"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"jsCode":"const template = $json.template || {};\n\nconst headerParams = template.header_params || {};\nconst rawBodyParams = template.body_params || {};\nconst buttonParams = template.buttons_params || {};\n\n// Converte o array em objeto, removendo o índice 0.\n// Mantém os índices 1, 2, 3... para corresponder a {1}, {2}, {3}.\nconst bodyParams = Array.isArray(rawBodyParams)\n  ? Object.fromEntries(\n      rawBodyParams\n        .map((value, index) => [String(index), value])\n        .filter(([index, value]) => index !== '0' && value != null)\n    )\n  : Object.fromEntries(\n      Object.entries(rawBodyParams)\n        .filter(([key, value]) =>\n          key !== '0' &&\n          key !== 'bodyParam0' &&\n          value != null\n        )\n    );\n\nlet contentRenderizado = String(template.content || '');\n\n// Substitui tanto {1} quanto {{1}}.\nfor (const [key, value] of Object.entries(bodyParams)) {\n  const chaveEscapada = key.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\n  contentRenderizado = contentRenderizado\n    .replace(\n      new RegExp(`{{\\\\s*${chaveEscapada}\\\\s*}}`, 'g'),\n      String(value)\n    )\n    .replace(\n      new RegExp(`{\\\\s*${chaveEscapada}\\\\s*}`, 'g'),\n      String(value)\n    );\n}\n\nreturn [\n  {\n    json: {\n      ...$json,\n\n      template: {\n        ...template,\n        body_params: bodyParams,\n        content_renderizado: contentRenderizado\n      },\n\n      body_chatwoot: {\n        content: contentRenderizado,\n        message_type: 'outgoing',\n        private: false,\n        content_type: 'text',\n\n        template_params: {\n          name: template.nome,\n          category: template.category || 'UTILITY',\n          language: template.language || 'pt_BR',\n\n          processed_params: {\n            header: headerParams,\n            body: bodyParams,\n            buttons: Object.keys(buttonParams).length\n              ? [\n                  {\n                    type: 'url',\n                    parameter: buttonParams.url\n                  }\n                ]\n              : []\n          }\n        }\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-16],"id":"b26222be-6203-423b-8c51-1cbca57cfcda","name":"Configura Template2"},{"parameters":{"errorMessage":"asdas"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,176],"id":"ea66d22c-5bde-4059-a999-648099619fbd","name":"Stop and Error2"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($json.labels || []),\n        \"50-cliente\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,80],"id":"e9aa9d50-8215-4256-a24c-578c950d4293","name":"Adicionar Labels cliente2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"assignments":{"assignments":[{"id":"5aa33457-b3b0-4af2-bc27-73b2347c08ba","name":"template.nome","value":"=pagamento_atrasado_01","type":"string"},{"id":"d5951607-6d3d-4aa8-84f4-cc0d23f8d6e1","name":"template.content","value":"=*pagamento_atrasado_01*\\n\\nOlá {nome}, aqui é o contato do financeiro da Convertix.\\n\\nExiste uma cobrança em aberto para a empresa {empresa} com vencimento em {data}.\\n\\nPara realizar o pagamento, é só gerar o pix copia e cola no botão abaixo.\\n> Adicione esse número aos seus contatos.","type":"string"},{"id":"d4a8ae8c-bdd5-4111-aa1e-c8b77de19e2f","name":"template.body_params.nome","value":"={{ $('Dados Cliente2').item.json.firstName }}","type":"string"},{"id":"9dd2eb69-02cc-41a1-92ca-c2977eb414f5","name":"template.body_params.empresa","value":"={{ $('Dados Cliente2').item.json.empresa }}","type":"string"},{"id":"6e82b0d0-b2c4-454c-b4c0-f8380db69306","name":"template.body_params.data","value":"={{ $('Dados Cliente2').item.json.vencimento }}","type":"string"},{"id":"eba0beba-efe6-4771-b8f4-cc96e97c4295","name":"template.buttons_params.url","value":"=={{ $('Dados Cliente2').item.json.chargeCode }}","type":"string"},{"id":"3883b171-cdf7-4c5f-9e9f-ae8a3653a667","name":"chargeUrl","value":"={{ $('Dados Cliente2').item.json.chargeUrl }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-16],"id":"0b161995-5ac3-4555-ab44-8ffa05be448e","name":"pagamento_atrasado_01"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Globals":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Somente Campos Úteis","type":"main","index":0}]]},"Somente Campos Úteis":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"CONEXA Get Customer","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CONEXA Get Customer":{"main":[[{"node":"CONEXA Get Customer1","type":"main","index":0}]]},"CONEXA Get Customer1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Cobrança Gerada":{"main":[[{"node":"Horário Comercial1","type":"main","index":0}]]},"Cobrança Vence Hoje":{"main":[[{"node":"Horário Comercial","type":"main","index":0}]]},"Horário Comercial":{"main":[[{"node":"Dados Cliente1","type":"main","index":0}]]},"Dados Cliente1":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'2","type":"main","index":0},{"node":"Stop and Error","type":"main","index":0}]]},"Horário Comercial1":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Horário Comercial2":{"main":[[{"node":"Dados Cliente2","type":"main","index":0}]]},"Cobrança Vencida D+1":{"main":[[{"node":"Horário Comercial2","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'2":{"main":[[{"node":"pagamento_pendente_01","type":"main","index":0}]]},"Configura Template":{"main":[[{"node":"Envia template utility","type":"main","index":0},{"node":"Adicionar Labels cliente","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'","type":"main","index":0},{"node":"Stop and Error1","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'":{"main":[[{"node":"pagamento_gerado_1","type":"main","index":0}]]},"Configura Template1":{"main":[[{"node":"Envia template utility1","type":"main","index":0},{"node":"Adicionar Labels cliente1","type":"main","index":0}]]},"pagamento_gerado_1":{"main":[[{"node":"Configura Template1","type":"main","index":0}]]},"pagamento_pendente_01":{"main":[[{"node":"Configura Template","type":"main","index":0}]]},"Dados Cliente2":{"main":[[{"node":"Call '[CTX][CHATWOOT] Cria conversa para disparo'3","type":"main","index":0},{"node":"Stop and Error2","type":"main","index":0}]]},"Call '[CTX][CHATWOOT] Cria conversa para disparo'3":{"main":[[{"node":"pagamento_atrasado_01","type":"main","index":0}]]},"Configura Template2":{"main":[[{"node":"Envia template utility2","type":"main","index":0},{"node":"Adicionar Labels cliente2","type":"main","index":0}]]},"pagamento_atrasado_01":{"main":[[{"node":"Configura Template2","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version f7e9d1be","description":"","autosaved":true},"tags":[]}