workflows/c1awJIqhk2WQRx5a.json
{"updatedAt":"2026-06-17T15:38:44.911Z","createdAt":"2026-05-12T19:33:14.469Z","id":"c1awJIqhk2WQRx5a","name":"[CTX] [SERPER] Gera Leads Google Maps","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"d09d9c35-da25-4f47-ac1c-1ca61b88a0c1","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-672,-592],"typeVersion":1},{"parameters":{"fieldToSplitOut":"places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1792,-880],"id":"8b32a601-babc-4d3d-9fa5-d80029bb2062","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"48d8c3f8-e75b-4024-99d7-b2694a4e4e7e","name":"title","value":"={{ String($json.title || '').normalize('NFKC').replace(/\\s+/g, ' ').trim() }}","type":"string"},{"id":"18663248-e859-414f-990b-9b8054405cf9","name":"place_id","value":"={{ $json.placeId }}","type":"string"},{"id":"07c3f17e-cc1d-4f9d-b9d1-df9cc3f75dc7","name":"reviews_link","value":"=","type":"string"},{"id":"7fa09276-a581-4f35-94e3-98713094be14","name":"photos_link","value":"=","type":"string"},{"id":"a32f8c2b-e030-47b4-a5d4-e3f70e65c76a","name":"rating","value":"={{ $json.rating }}","type":"number"},{"id":"7aa9d19a-794b-4e5a-81fc-eb3ec6865b94","name":"reviews","value":"={{ $json.ratingCount }}","type":"number"},{"id":"e39ef5ff-2dcf-4781-b502-4f713d2de5ba","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"926f7b52-741a-4c9e-81c4-dd870d21e69b","name":"address","value":"={{ $json.address }}","type":"string"},{"id":"324cad4b-f6bc-473d-aad6-028e30a516db","name":"phone","value":"={{ \n  (() => {\n    let phone = String($json.phoneNumber || '').replace(/\\D/g, '');\n\n    // Remove zero inicial, se vier como 011...\n    phone = phone.replace(/^0+/, '');\n\n    // Adiciona DDI Brasil se ainda não tiver\n    if (!phone.startsWith('55')) {\n      phone = '55' + phone;\n    }\n\n    return '+' + phone;\n  })()\n}}","type":"string"},{"id":"118feab6-7dee-408e-8479-44613681a89b","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"0402d398-123c-47da-be80-b020c41a39e8","name":"data_cid","value":"={{ $json.cid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,-880],"id":"5ff442ae-4d64-4ffc-9e64-d85f4dbd42ee","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"96f3d03b-7ed6-4017-8f8c-700acb51b976","name":"nicho","value":"creche canina","type":"string"},{"id":"07127a82-10e0-4e55-a382-823a329600ec","name":"busca","value":"hotel para gatos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-592],"id":"9da5830b-09bc-4b0a-9481-2bcaca0ccb92","name":"nicho"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"prospeccao_ativa","mode":"list","cachedResultName":"prospeccao_ativa"},"dataMode":"defineBelow","columnToMatchOn":"placeid_whatsapp","valueToMatchOn":"={{ $json.place_id }}{{ $json.phone }}","valuesToSend":{"values":[{"column":"nome","value":"={{ $json.title }}"},{"column":"empresa","value":"={{ $json.title }}"},{"column":"whatsapp","value":"={{ $json.phone.replace(/\\D/g,\"\") }}"},{"column":"sites","value":"={{ $json.website }}"},{"column":"classificacao","value":"={{ $json.rating }}"},{"column":"avaliacoes","value":"={{ $json.reviews }}"},{"column":"link_gmn","value":"=https://maps.google.com/?cid={{ $json.data_cid }}"},{"column":"endereco","value":"={{ $json.address }}"},{"column":"nicho","value":"={{ $('nicho').first().json.nicho }}"},{"column":"subnicho","value":"={{ $json.type }}"},{"column":"origem_lead","value":"SERPER - google_maps"},{"column":"cidade_estado","value":"=SERPER|{{ $('Loop Over Items').item.json.dedupe_key_busca }}"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2688,-880],"id":"c8dcaec4-5d56-4ab3-a2a2-4c12aba6090e","name":"Insert or update rows in a table","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-592],"id":"3a4aa91a-e23a-493c-a702-76acb657278c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1792,-448],"id":"2964c767-1e80-4355-92ec-06ac77e81e3e","placeholder":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fd7d3e2-2a1d-4159-a83f-4d3ff656ca99","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[2464,-880],"id":"36c85853-c1ab-4a38-a8c7-b43488d3d9ba","name":"tem phone"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1568,-544],"id":"5c6ca5fb-ecc5-4bed-9651-07dd5a53f15b","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bd799f63-a755-4e32-8164-8cb0a175bd9c","leftValue":"={{ $json.next_page }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"a158311c-4906-4098-ba88-58a80596095a","leftValue":"={{ $json.next_page }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-784],"id":"ecfe5c45-17c3-4158-9bd4-48d82e9cfa7c","name":"If: next_page is NOT null"},{"parameters":{"assignments":{"assignments":[{"id":"31c278de-0c37-438f-b66b-0787973d9baf","name":"next_page","value":"={{ $json.places.length > 0 ? ($json.searchParameters.page || -1) + 1 : 0 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-704],"id":"cb41cda1-2924-42b7-abe1-a0ac4f9e1911","name":"next_page"},{"parameters":{"method":"POST","url":"https://google.serper.dev/maps","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1bcf61b21ce38dbbaba70a329c6cd619f13a9837"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.queries }}","options":{"batching":{"batch":{"batchSize":4}}}},"id":"6e08a522-6f8c-4252-9fce-676200ca4ccd","name":"https://google.serper.dev/maps","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-784],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://google.serper.dev/maps","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"1bcf61b21ce38dbbaba70a329c6cd619f13a9837"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"q","value":"={{ $('Loop Over Items').item.json.serpapi_params.q }}"},{"name":"hl","value":"pt-br"},{"name":"ll","value":"={{ $('Loop Over Items').item.json.serpapi_params.ll }}"},{"name":"page","value":"={{ $json.next_page }}"}]},"options":{"batching":{"batch":{"batchSize":4}}}},"id":"790772d6-da0d-408e-8fec-b36a37ff4c93","name":"https://google.serper.dev/maps1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,-736],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const queries = items.map(item => ({\n  q: item.json.serpapi_params.q,\n  hl: item.json.serpapi_params.hl,\n  ll: item.json.serpapi_params.ll,\n  page: 1\n}));\n\nreturn [\n  {\n    json: {\n      queries\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-784],"id":"74f9b646-8ede-4af1-a7fe-4c89a11896f0","name":"queries"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO serper_buscas (dedupe_key)\nVALUES ('{{ $json.dedupe_key_busca }}')\nON DUPLICATE KEY UPDATE\n    dedupe_key = VALUES(dedupe_key);","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[672,-496],"id":"4eba03f4-6b18-4c30-9d68-8eaf3bc0d08c","name":"Execute a SQL query","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2240,-880],"id":"7abe7379-945d-401b-8e1d-122dcb5ac1f5","name":"Remove Duplicates"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"dedupe_key_busca","field2":"dedupe_key"}]},"joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,-592],"id":"3dc9c85b-5f94-4627-bb49-21197bfb753d","name":"Merge"},{"parameters":{"jsCode":"// Run Once for All Items\n\nconst nicho = String(\n  $('nicho').first()?.json?.nicho ?? ''\n).trim();\n\nconst busca = String(\n  $('nicho').first()?.json?.busca ?? ''\n).trim();\n\nif (!nicho) {\n  throw new Error('Campo obrigatório ausente: nicho');\n}\n\nfunction gerarGrade(cidade) {\n\n  const pop = cidade.populacao ?? 0;\n\n  // > 1 milhão\n  if (pop >= 1000000) {\n\n    const d = 0.12;\n\n    return [\n      { nome:'c1', lat: cidade.lat-d, lng: cidade.lng-d },\n      { nome:'c2', lat: cidade.lat-d, lng: cidade.lng+d },\n      { nome:'centro', lat: cidade.lat, lng: cidade.lng },\n      { nome:'c3', lat: cidade.lat+d, lng: cidade.lng-d },\n      { nome:'c4', lat: cidade.lat+d, lng: cidade.lng+d }\n    ];\n\n  }\n\n  // 500k a 1M\n  if (pop >= 500000) {\n\n    const d = 0.10;\n\n    return [\n      { nome:'c1', lat: cidade.lat-d, lng: cidade.lng },\n      { nome:'centro', lat: cidade.lat, lng: cidade.lng },\n      { nome:'c2', lat: cidade.lat+d, lng: cidade.lng }\n    ];\n\n  }\n\n  // < 500k\n  return [\n    {\n      nome: 'centro',\n      lat: cidade.lat,\n      lng: cidade.lng\n    }\n  ];\n\n}\n\nconst saida = [];\n\nfor (const item of $input.all()) {\n\n  const input = item.json;\n\n  const cidade = {\n    id: input.id,\n    cidade: input.cidade,\n    uf: input.uf,\n    lat: Number(input.latitude),\n    lng: Number(input.longitude),\n    populacao: Number(input.populacao)\n  };\n\n  if (\n    !cidade.cidade ||\n    !cidade.uf ||\n    isNaN(cidade.lat) ||\n    isNaN(cidade.lng)\n  ) {\n    continue;\n  }\n\n  const pontos = gerarGrade(cidade);\n\n  for (const ponto of pontos) {\n\n    const termo = `${busca} ${cidade.cidade}`;\n\n    const ll =\n      `@${ponto.lat.toFixed(7)},${ponto.lng.toFixed(7)},11.5z`;\n\n    saida.push({\n      json: {\n\n        ...input,\n\n        q: termo,\n\n        ponto_busca: ponto.nome,\n\n        dedupe_key_busca: [\n          'SERPER-MAPS',\n          nicho.toLowerCase(),\n          busca.toLowerCase(),\n          cidade.cidade.toLowerCase(),\n          cidade.uf.toLowerCase(),\n          ponto.nome\n        ].join('|'),\n\n        latitude_busca: ponto.lat,\n        longitude_busca: ponto.lng,\n\n        ll,\n\n        serpapi_params: {\n          engine: 'google_maps',\n          type: 'search',\n          google_domain: 'google.com.br',\n\n          q: termo,\n          ll,\n\n          hl: 'pt',\n          gl: 'br'\n        }\n\n      },\n\n      pairedItem: {\n        item: item.pairedItem?.item ?? 0\n      }\n\n    });\n\n  }\n\n}\n\nreturn saida;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-688],"id":"a9457b17-90f8-443d-b157-708805bb58b0","name":"Gera Pesquisas"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"serper_buscas","mode":"list","cachedResultName":"serper_buscas"},"returnAll":true,"where":{"values":[{"column":"dedupe_key","condition":"LIKE","value":"=%{{ $json.nicho }}%"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","selectDistinct":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[0,-496],"id":"ab143627-83a5-4e44-9081-754d8ed3f89d","name":"Pesquisas Realizadas","credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"prospeccao_ativa_cidades","mode":"list","cachedResultName":"prospeccao_ativa_cidades"},"returnAll":true,"where":{"values":[{"column":"latitude","condition":"IS NOT NULL"},{"column":"longitude","condition":"IS NOT NULL"}]},"sort":{"values":[{"column":"populacao","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-224,-688],"id":"cd1e4ecf-a197-44c7-a212-9190f5692b27","name":"Cidades de Busca","credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"nicho","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"nicho":{"main":[[{"node":"Pesquisas Realizadas","type":"main","index":0},{"node":"Cidades de Busca","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute a SQL query","type":"main","index":0},{"node":"queries","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"tem phone":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"If: next_page is NOT null":{"main":[[{"node":"https://google.serper.dev/maps1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"next_page":{"main":[[{"node":"If: next_page is NOT null","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"https://google.serper.dev/maps":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"next_page","type":"main","index":0}]]},"https://google.serper.dev/maps1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"next_page","type":"main","index":0}]]},"queries":{"main":[[{"node":"https://google.serper.dev/maps","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"tem phone","type":"main","index":0}]]},"Gera Pesquisas":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Pesquisas Realizadas":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Cidades de Busca":{"main":[[{"node":"Gera Pesquisas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"df9641a5-1ea9-45d2-ba6f-ce4121bf4de8","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-12T19:33:14.469Z","createdAt":"2026-05-12T19:33:14.469Z","role":"workflow:owner","workflowId":"c1awJIqhk2WQRx5a","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}