workflows/c4BKASOxdBTPYDwb.json
{"updatedAt":"2026-03-18T19:51:22.723Z","createdAt":"2026-03-18T19:29:14.120Z","id":"c4BKASOxdBTPYDwb","name":"[PRO] BOM DIA NO CLÃ","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":52}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,-16],"id":"14aa0292-256c-43f0-b407-12cd48b77f9a","name":"Schedule Trigger"},{"parameters":{"amount":"={{ Math.random()*10 }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,-16],"id":"ac281c78-d6f7-4c2e-937e-eb65378ccee9","name":"Wait","webhookId":"70536bfb-b681-419f-9329-8a5e7bb58bf4"},{"parameters":{"resource":"messages-api","instanceName":"fiorellidigital","remoteJid":"120363424743441654@g.us","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,-16],"id":"f5280897-4fa5-4807-88d5-727e55e19635","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f7ec658f-d342-4357-83f0-49df03d7b971","leftValue":"={{ $json['Day of week'] }}","rightValue":"Saturday","operator":{"type":"string","operation":"notEquals"}},{"id":"a4aba406-db63-4e7b-9f40-787cf3b39826","leftValue":"={{ $json['Day of week'] }}","rightValue":"Sunday","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[224,-16],"id":"f8937b29-5098-4202-b54a-2a1acb718175","name":"Filter"},{"parameters":{"jsCode":"function rand(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction repeatLetter(letter, min, max) {\n  const size = rand(min, max);\n  return letter.repeat(size);\n}\n\n// tamanhos aleatórios\nconst B = repeatLetter(\"B\", 10, 40);\nconst O = repeatLetter(\"O\", 20, 80);\nconst M = repeatLetter(\"M\", 20, 80);\n\nconst D = repeatLetter(\"D\", 10, 40);\nconst I = repeatLetter(\"I\", 20, 120);\n\n// A final sempre MUITO grande\nconst A = repeatLetter(\"A\", 200, 1000);\n\n// quebra de linha entre BOM e DIA\nconst msg =\n`${B}${O}${M}\n\n${D}${I}${A}`;\n\n\nreturn [\n  {\n    json: {\n      message: msg\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-16],"id":"4723bf6c-2c4a-482c-860d-70dc1f22ee55","name":"Gera bom dia automático"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gera bom dia automático","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Gera bom dia automático":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"redactionPolicy":"none"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"74e61096-2bcf-498b-ae2c-239d4e0e30ef","activeVersionId":"74e61096-2bcf-498b-ae2c-239d4e0e30ef","triggerCount":1,"shared":[{"updatedAt":"2026-03-18T19:29:14.120Z","createdAt":"2026-03-18T19:29:14.120Z","role":"workflow:owner","workflowId":"c4BKASOxdBTPYDwb","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-18T19:51:59.954Z","createdAt":"2026-03-18T19:51:22.725Z","versionId":"74e61096-2bcf-498b-ae2c-239d4e0e30ef","workflowId":"c4BKASOxdBTPYDwb","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":52}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,-16],"id":"14aa0292-256c-43f0-b407-12cd48b77f9a","name":"Schedule Trigger"},{"parameters":{"amount":"={{ Math.random()*10 }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,-16],"id":"ac281c78-d6f7-4c2e-937e-eb65378ccee9","name":"Wait","webhookId":"70536bfb-b681-419f-9329-8a5e7bb58bf4"},{"parameters":{"resource":"messages-api","instanceName":"fiorellidigital","remoteJid":"120363424743441654@g.us","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,-16],"id":"f5280897-4fa5-4807-88d5-727e55e19635","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f7ec658f-d342-4357-83f0-49df03d7b971","leftValue":"={{ $json['Day of week'] }}","rightValue":"Saturday","operator":{"type":"string","operation":"notEquals"}},{"id":"a4aba406-db63-4e7b-9f40-787cf3b39826","leftValue":"={{ $json['Day of week'] }}","rightValue":"Sunday","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[224,-16],"id":"f8937b29-5098-4202-b54a-2a1acb718175","name":"Filter"},{"parameters":{"jsCode":"function rand(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction repeatLetter(letter, min, max) {\n  const size = rand(min, max);\n  return letter.repeat(size);\n}\n\n// tamanhos aleatórios\nconst B = repeatLetter(\"B\", 10, 40);\nconst O = repeatLetter(\"O\", 20, 80);\nconst M = repeatLetter(\"M\", 20, 80);\n\nconst D = repeatLetter(\"D\", 10, 40);\nconst I = repeatLetter(\"I\", 20, 120);\n\n// A final sempre MUITO grande\nconst A = repeatLetter(\"A\", 200, 1000);\n\n// quebra de linha entre BOM e DIA\nconst msg =\n`${B}${O}${M}\n\n${D}${I}${A}`;\n\n\nreturn [\n  {\n    json: {\n      message: msg\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-16],"id":"4723bf6c-2c4a-482c-860d-70dc1f22ee55","name":"Gera bom dia automático"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gera bom dia automático","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Gera bom dia automático":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 74e61096","description":"","autosaved":true},"tags":[]}