workflows/DBw3qFhAT6GQENPd.json
{"updatedAt":"2026-03-13T20:25:37.780Z","createdAt":"2026-01-06T04:13:41.225Z","id":"DBw3qFhAT6GQENPd","name":"[AL] [AMIGO] [CONSULTA] Sobe Lista Form","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"CLÍNICA ALIRA - Planilha Consulta","formDescription":"Formulário para subir a planilha de consultas realizadas","formFields":{"values":[{"fieldLabel":"Planilha de Procedimentos e consulta","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx","requiredField":true}]},"options":{"path":"al-planilha-consulta"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-816,-1448],"id":"9c0a15e8-5c55-4208-85bb-533e912c5b62","name":"On form submission","webhookId":"94cdda98-60b7-47c4-a983-ac0dfa8e8219"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Planilha_de_Procedimentos_e_consulta","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-592,-1376],"id":"1afde589-58d4-4343-b5aa-64bf2a1ad4c6","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"859b7a93-da89-4834-9a04-5bf76152cc6f","name":"date","value":"={{ ($json['Data do Agendamento']?.substring(6,10)+\"-\"+$json['Data do Agendamento']?.substring(3,5)+\"-\"+$json['Data do Agendamento']?.substring(0,2)) }}","type":"string"},{"id":"913a9eb8-7b21-477e-b4bc-d9517b99b3bf","name":"datetime","value":"={{ ($json['Data do Agendamento'].substring(6,10)+\"-\"+$json['Data do Agendamento'].substring(3,5)+\"-\"+$json['Data do Agendamento'].substring(0,2)) }} {{ $json['Hora do Agendamento'] }}:00","type":"string"},{"id":"7795e008-f3f4-4aee-9140-8942fc028796","name":"datahoranome","value":"={{ ($json['Data do Agendamento'].substring(6,10)+\"-\"+$json['Data do Agendamento'].substring(3,5)+\"-\"+$json['Data do Agendamento'].substring(0,2)) }} {{ $json['Hora do Agendamento'] }}:00{{ $json.Paciente.replaceSpecialChars().trim() }}","type":"string"},{"id":"0630f34c-fb86-4f26-9363-357c8707db8e","name":"phone","value":"={{ $json.Telefone.includes('+')   ?$json.Telefone.replaceAll(/\\D/g,\"\")   :\"55\"+$json.Telefone.replaceAll(/\\D/g,\"\") }}","type":"number"},{"id":"91eedf93-41ba-41fa-a815-999f06ee36cc","name":"paciente","value":"={{ $json.Paciente.replaceSpecialChars().trim() }}","type":"string"},{"id":"bf2eb55c-bdbb-455b-811c-fcc8d43a2282","name":"como_conheceu","value":"={{ $json['Como conheceu'] }}","type":"string"},{"id":"b59e2985-3adb-40e7-8c4a-e46b66e202b4","name":"email","value":"={{ $json['E-mail'] == \"-\" ? null : $json['E-mail'].toLowerCase().trim() }}","type":"string"},{"id":"b442e73f-4a2d-4a57-a6e6-0148d80e3683","name":"id_amigo","value":"={{ $json['ID Amigo'] }}","type":"number"},{"id":"8ef46e9a-7366-40e0-8b63-b2d8b84fd1b7","name":"profissional","value":"={{ $json.Profissional }}","type":"string"},{"id":"1b6085aa-9a98-414e-ba62-56933abe7301","name":"tipo_atendimento","value":"={{ $json['Tipo de Atendimento'] }}","type":"string"},{"id":"e5b6b65b-20fc-419c-a014-8664527fd3ce","name":"valor","value":"={{ $json.Valor }}","type":"number"},{"id":"f85f5100-b22c-4ffe-bcb4-18fe7dc20134","name":"status","value":"={{ $json['Status do Agendamento'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-1376],"id":"e6177fd9-f11f-4212-ae6a-e95cc646410a","name":"Campos Relevantes"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"valor"}]},"fieldsToSplitBy":"phone, paciente, como_conheceu, email, id_amigo, profissional, tipo_atendimento, status, date, datetime, datahoranome","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-368,-1064],"id":"622c7c61-8f3e-486e-abab-74337739a454","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"30353053-3c43-4d9a-91eb-5b0576357bd0","name":"valor","value":"={{ $json.sum_valor }}","type":"number"}]},"includeOtherFields":true,"include":"except","excludeFields":"sum_valor","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-1064],"id":"7ad180a4-01a9-4387-8129-46f05e5cf85b","name":"Arruma Valor"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6d2f37c0-ccf8-470d-a6f4-a9267c367245","leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"representante","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPRESENTANTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"(consulta|retorno|sessao|encaixe|visita)","operator":{"type":"string","operation":"regex"},"id":"01b105dc-bcc0-4c23-a8bc-93725c381003"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4b2ef611-1fb2-4868-965c-f08dd04d5c00","leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"(procedimento|cirurgia|retirada|colocacao|implante)","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCEDIMENTO"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"OUTROS"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[304,-1096],"id":"1dd4b82a-3c47-48e7-b079-acf30652754c","name":"Switch"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"ttconversa_criada","mode":"list","cachedResultName":"ttconversa_criada"},"columnToMatchOn":"datahoraphonestatus","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2096,-824],"id":"9d7cb261-a351-4cb5-a8f4-0aea354ec4dc","name":"MySQL2","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT * \n  FROM `ttconversa_criada` \n  WHERE `whatsapp_do_contato` =  $1\n  AND `etapa_da_jornada` = '[AL] Contato'\n  ORDER BY `data_da_ultima_mensagem` DESC , `utm_source` DESC\n  LIMIT 1;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","queryReplacement":"={{ $json.phone }},","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[752,-784],"id":"9b75dc3b-3db1-44e2-9774-a60ab6025409","name":"MySQL3","alwaysOutputData":true,"credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"mode":"combineBySql","query":"SELECT i1.*,i2.* \n  FROM input1 as i1 \n  LEFT JOIN input2 as i2 \n    ON i1.phone = i2.whatsapp_do_contato"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1424,-904],"id":"b7a1d856-6183-4168-bdb3-0128b46b3de5","name":"Merge1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[976,-784],"id":"2098a684-6015-410a-a6a0-01629ae70990","name":"Remove Duplicates1"},{"parameters":{"assignments":{"assignments":[{"id":"3558513b-e0ce-4755-a21c-a060099e5b61","name":"currency","value":"=brl","type":"string"},{"id":"971ea43f-670b-4e30-ae09-1c289b0135b7","name":"valor_da_venda","value":"={{ $json.valor_da_venda || $json.valor }}","type":"number"},{"id":"ff4dcbef-bee0-420f-9c84-169d057abf06","name":"event_id","value":"={{ $json.datahoraphonestatus }}","type":"string"},{"id":"74d14bea-19d3-41f9-a2e8-cc7e8416c6da","name":"external_id","value":"={{ $('Loop').item.json.id_amigo }}","type":"string"},{"id":"6291fd58-99c6-486c-89ae-000a4bd47ccb","name":"country","value":"br","type":"string"},{"id":"9ba9313b-ff04-4945-9cda-cd24095ca87e","name":"fn","value":"={{ $('Loop').item.json.paciente?.split(\" \")[0].toLowerCase() }}","type":"string"},{"id":"8fb23afb-66cb-4505-a419-427b78867169","name":"ln","value":"={{ $('Loop').item.json.paciente.replaceAll($('Loop').item.json.paciente?.split(\" \")[0]+\" \",\"\").toLowerCase() }}","type":"string"},{"id":"bad4f2f2-ce8f-422e-a002-99764944bb42","name":"ph","value":"={{ $json.whatsapp_do_contato || $json.phone }}","type":"string"},{"id":"93b45dba-f9cc-4a27-9485-a985e3c13110","name":"em","value":"={{ $('Loop').item.json.email }}","type":"string"},{"id":"47031760-cc58-4b2a-82bb-e08e251a9be4","name":"userAgent","value":"={{ $json.visit_meta_http_user_agent_raw }}","type":"string"},{"id":"78b542c3-7a23-46ba-9e78-f5ee7a8ed6fd","name":"ipv6","value":"={{ $json.visit_meta_remote_addr_ipv6 }}","type":"string"},{"id":"9cdd2d5a-fb4b-41cf-8781-b7bce1a4498f","name":"ipv4","value":"={{ $json.visit_meta_remote_addr_ipv4 }}","type":"string"},{"id":"18079a9d-c9d8-4149-8ce3-a15112ac7281","name":"url","value":"={{ (() => { \n  switch($('Loop').item.json.profissional) {\n    case \"Lilian Renata Fiorelli Arazawa\":\n      return 'https://lilianfiorelli.com.br';break;\n    case \"Sidney Tomyo Nishida Arazawa\":\n      return 'https://drtomyo.com.br';break;\n    default:\n      return 'https://www.aliraclinica.com.br';break;\n  }\n})() || 'https://www.aliraclinica.com.br'}}","type":"string"},{"id":"e9a1e9ad-82ff-4d61-b861-3a30c80c6d40","name":"fb_event","value":"={{ $('Loop').item.json.fb_event }}","type":"string"},{"id":"234b76cf-bd1d-482a-bc59-773382d060f9","name":"datetime_unix","value":"={{ $('Loop').item.json.datetime.toDateTime().minus\n(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"43fed76a-7894-4b92-94fe-25429529d882","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"4bc26fff-6ef6-43a7-90fb-67c754bb94e7","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"174c6b51-7215-4b3d-aa7c-b67f21776ea7","name":"campaign_id","value":"={{ $json.adcampaign }}","type":"string"},{"id":"2dd842b6-9dca-4731-96de-a6d198ca082a","name":"adset_id","value":"={{ $json.groupid }}","type":"string"},{"id":"13d0877f-53ed-4b30-be42-80b33d5369cf","name":"ad_id","value":"={{ $json.adid }}","type":"string"},{"id":"3956b02f-c933-44b0-881b-3ce7bd4c2ae7","name":"utm_source","value":"={{ $json.utm_source }}","type":"string"},{"id":"f04419b0-a747-4264-b74b-4c7a8e1e0764","name":"utm_medium","value":"={{ $json.utm_medium }}","type":"string"},{"id":"03f15fa1-76dd-4a89-b777-eac0eb11814f","name":"utm_term","value":"={{ $json.utm_term }}","type":"string"},{"id":"f4eb12e0-da35-4797-8b08-7abd4b69329b","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"860e6056-0443-4878-9f30-bd096ee9edc5","name":"utm_content","value":"={{ $json.utm_content }}","type":"string"}]},"options":{}},"id":"71776ca0-de03-4bf8-b249-cddbae4dd09f","name":"advanced_matching","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,-1016]},{"parameters":{"assignments":{"assignments":[{"id":"6fcb0e98-5f91-47c1-8d03-beef7818a54e","name":"datahoraphonestatus","value":"={{ $json.datetime }}{{ $json.whatsapp_do_contato || $json.phone }}{{ $json.etapa_da_jornada }}","type":"string"},{"id":"event_type","name":"event_type","value":"=lead.update","type":"string"},{"id":"origem","name":"origem","value":"={{ $json.origem }}","type":"string"},{"id":"codigo_da_conta","name":"codigo_da_conta","value":"={{ $json.codigo_da_conta }}","type":"string"},{"id":"nome_da_conta","name":"nome_da_conta","value":"={{ $json.nome_da_conta }}","type":"string"},{"id":"conta_ativa","name":"conta_ativa","value":"={{ $json.conta_ativa }}","type":"string"},{"id":"facebook_pixel","name":"facebook_pixel","value":"={{ $json.facebook_pixel }}","type":"string"},{"id":"nome_do_contato","name":"nome_do_contato","value":"={{ $json.paciente }}","type":"string"},{"id":"whatsapp_do_contato","name":"whatsapp_do_contato","value":"={{ $json.phone }}","type":"string"},{"id":"etapa_da_jornada","name":"etapa_da_jornada","value":"={{ $json.etapa_da_jornada }}","type":"string"},{"id":"data_da_primeira_mensagem","name":"data_da_primeira_mensagem","value":"={{ $json.data_da_primeira_mensagem }}","type":"string"},{"id":"data_da_ultima_mensagem","name":"data_da_ultima_mensagem","value":"={{ $json.datetime }}","type":"string"},{"id":"valor_da_venda","name":"valor_da_venda","value":"={{ $json.valor || $json.valor_da_venda }}","type":"string"},{"id":"link_rastreavel","name":"link_rastreavel","value":"={{ $json.link_rastreavel }}","type":"string"},{"id":"id_da_campanha_de_anuncio","name":"id_da_campanha_de_anuncio","value":"={{ $json.id_da_campanha_de_anuncio }}","type":"string"},{"id":"id_do_conjunto_de_anuncio","name":"id_do_conjunto_de_anuncio","value":"={{ $json.id_do_conjunto_de_anuncio }}","type":"string"},{"id":"id_do_anuncio","name":"id_do_anuncio","value":"={{ $json.id_do_anuncio }}","type":"string"},{"id":"nome_da_campanha_de_anuncio","name":"nome_da_campanha_de_anuncio","value":"={{ $json.nome_da_campanha_de_anuncio }}","type":"string"},{"id":"nome_do_conjunto_de_anuncio","name":"nome_do_conjunto_de_anuncio","value":"={{ $json.nome_do_conjunto_de_anuncio }}","type":"string"},{"id":"nome_do_anuncio","name":"nome_do_anuncio","value":"={{ $json.nome_do_anuncio }}","type":"string"},{"id":"utm_source","name":"utm_source","value":"={{ $json.utm_source }}","type":"string"},{"id":"utm_medium","name":"utm_medium","value":"={{ $json.utm_medium }}","type":"string"},{"id":"utm_campaign","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"utm_term","name":"utm_term","value":"={{ $json.utm_term }}","type":"string"},{"id":"utm_content","name":"utm_content","value":"={{ $json.utm_content }}","type":"string"},{"id":"utm_publico","name":"utm_publico","value":"={{ $json.utm_publico }}","type":"string"},{"id":"utm_url","name":"utm_url","value":"={{ $json.utm_url }}","type":"string"},{"id":"fbclid","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"tintim_fbid","name":"tintim_fbid","value":"={{ $json.tintim_fbid }}","type":"string"},{"id":"hsctatracking","name":"hsctatracking","value":"={{ $json.hsctatracking }}","type":"string"},{"id":"utm_id","name":"utm_id","value":"={{ $json.utm_id }}","type":"string"},{"id":"gclid","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"gad_source","name":"gad_source","value":"={{ $json.gad_source }}","type":"string"},{"id":"ad","name":"ad","value":"={{ $json.ad }}","type":"string"},{"id":"adid","name":"adid","value":"={{ $json.adid }}","type":"string"},{"id":"groupid","name":"groupid","value":"={{ $json.groupid }}","type":"string"},{"id":"adcampaign","name":"adcampaign","value":"={{ $json.adcampaign }}","type":"string"},{"id":"text","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"gad","name":"gad","value":"={{ $json.gad }}","type":"string"},{"id":"data_da_venda","name":"data_da_venda","value":"={{ $json.datetime }}","type":"string"},{"id":"ctwa_clid","name":"ctwa_clid","value":"={{ $json.ctwa_clid }}","type":"string"},{"id":"_gl","name":"_gl","value":"={{ $json._gl }}","type":"string"},{"id":"order_id","name":"order_id","value":"={{ $json.order_id }}","type":"string"},{"id":"currency_code","name":"currency_code","value":"={{ $json.currency_code }}","type":"string"},{"id":"visit_meta_http_referer","name":"visit_meta_http_referer","value":"={{ $json.visit_meta_http_referer }}","type":"string"},{"id":"visit_meta_http_user_agent_browser_family","name":"visit_meta_http_user_agent_browser_family","value":"={{ $json.visit_meta_http_user_agent_browser_family }}","type":"string"},{"id":"visit_meta_http_user_agent_browser_version","name":"visit_meta_http_user_agent_browser_version","value":"={{ $json.visit_meta_http_user_agent_browser_version }}","type":"string"},{"id":"visit_meta_http_user_agent_device_brand","name":"visit_meta_http_user_agent_device_brand","value":"={{ $json.visit_meta_http_user_agent_device_brand }}","type":"string"},{"id":"visit_meta_http_user_agent_device_family","name":"visit_meta_http_user_agent_device_family","value":"={{ $json.visit_meta_http_user_agent_device_family }}","type":"string"},{"id":"visit_meta_http_user_agent_device_has_touch_capability","name":"visit_meta_http_user_agent_device_has_touch_capability","value":"={{ $json.visit_meta_http_user_agent_device_has_touch_capability }}","type":"string"},{"id":"visit_meta_http_user_agent_device_model","name":"visit_meta_http_user_agent_device_model","value":"={{ $json.visit_meta_http_user_agent_device_model }}","type":"string"},{"id":"visit_meta_http_user_agent_device_type","name":"visit_meta_http_user_agent_device_type","value":"={{ $json.visit_meta_http_user_agent_device_type }}","type":"string"},{"id":"visit_meta_http_user_agent_os_family","name":"visit_meta_http_user_agent_os_family","value":"={{ $json.visit_meta_http_user_agent_os_family }}","type":"string"},{"id":"visit_meta_http_user_agent_os_version","name":"visit_meta_http_user_agent_os_version","value":"={{ $json.visit_meta_http_user_agent_os_version }}","type":"string"},{"id":"visit_meta_http_user_agent_raw","name":"visit_meta_http_user_agent_raw","value":"={{ $json.visit_meta_http_user_agent_raw }}","type":"string"},{"id":"visit_meta_remote_addr_ipv6","name":"visit_meta_remote_addr_ipv6","value":"={{ $json.visit_meta_remote_addr_ipv6 }}","type":"string"},{"id":"visit_meta_remote_addr_ipv4","name":"visit_meta_remote_addr_ipv4","value":"={{ $json.visit_meta_remote_addr_ipv4 }}","type":"string"},{"id":"headers","name":"headers","value":"={{ $json.headers }}","type":"string"},{"id":"params","name":"params","value":"={{ $json.params }}","type":"string"},{"id":"query","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"body","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"webhookurl","name":"webhookurl","value":"={{ $json.webhookurl }}","type":"string"},{"id":"executionmode","name":"executionmode","value":"={{ $json.executionmode }}","type":"string"},{"id":"f124b3d4-9106-48a9-937c-65b462e33cb1","name":"datetime_unix","value":"={{ $json.datetime.toDateTime().toSeconds().floor() }}","type":"string"},{"id":"dca74638-a007-43b3-8109-10e38a3f0228","name":"phone_hash256","value":"={{ $json.phone.toString().hash('sha256') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-824],"id":"beedcd9c-bac9-4b10-81eb-c273389d3cee","name":"Arruma ttconversa_criada"},{"parameters":{"assignments":{"assignments":[{"id":"7ea250a9-3896-4cac-b745-c7dd766d7a0c","name":"etapa_da_jornada","value":"[AL] Consulta","type":"string"},{"id":"e07f2cfa-9f8a-4ad7-814c-fcfa7d6061b6","name":"fb_event","value":"al_consulta","type":"string"},{"id":"4b7ff6ba-2f21-4293-a654-34aa29fefb0a","name":"tintim_status","value":"40222","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-992],"id":"b7cf44c2-3040-433d-a26e-db72f96aa9f5","name":"[AL] Consulta"},{"parameters":{"assignments":{"assignments":[{"id":"7ea250a9-3896-4cac-b745-c7dd766d7a0c","name":"etapa_da_jornada","value":"[AL] Procedimento","type":"string"},{"id":"61c484e0-6fd8-4488-a558-60d41de9570a","name":"fb_event","value":"al_procedimento","type":"string"},{"id":"d53878c2-c3bc-41d0-bf72-58b44984c3d7","name":"tintim_status","value":"55260","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-704],"id":"38b94e46-3d57-4a8d-be24-fbdfb4fa266e","name":"[AL] Procedimento"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,-1184],"id":"dcc76ab1-a4b3-4292-9c37-59d7ece1dd10","name":"Representante"},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1648,-904],"id":"ff034a62-e83b-4f8d-905a-4603c318a372","name":"Loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2320,-704],"id":"08ec206e-88f7-4ee7-9a55-c65cd8d0aaa5","executeOnce":true},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,-920],"id":"e783d4dc-7028-48dd-bc3e-8f6319716e9a","name":"Gera fbp-fbc","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1464142214189804/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"{{ $json.fb_event }}\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"{{ $json.fb_event }}..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $json.url }}\",\n            \"opt_out\": false,\n            {{ ($json?.valor_da_venda == 0 ? '':'\"value\": '+$json?.valor_da_venda+',\"currency\": \"'+ $json.currency+'\",') || \"\" }}\n            \"user_data\": {\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IDUsuarioWPP == null ? '':'\"subscription_id\": \"'+$json.IDUsuarioWPP+'\",') || \"\" }}\n                 {{ ($json.manychat_key == null ? '':'\"external_id\": [\"'+$json.manychat_key.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json?.ipv4 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json?.ipv6 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json.userAgent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\"') || \"\" }}\n\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"5db187f0-0cde-4a8d-8bdb-adf4d487b07c","name":"ETAPA","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2768,-824],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"onError":"continueErrorOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1464142214189804/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"Purchase\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"Purchase..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $json.url }}\",\n            \"opt_out\": false,\n          \"value\": {{ $json.valor_da_venda }},\n          \"currency\": \"{{ $json.currency }}\",\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IDUsuarioWPP == null ? '':'\"subscription_id\": \"'+$json.IDUsuarioWPP+'\",') || \"\" }}\n                 {{ ($json.manychat_key == null ? '':'\"external_id\": [\"'+$json.manychat_key.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json?.ipv4 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json?.ipv6 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json.userAgent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"]\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"1a0f4ead-f813-4217-b4e2-3f17f1cc346a","name":"Purchase","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2992,-1016],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"764b4152-8dd7-4e41-8e77-393651d8f1c7","leftValue":"={{ $('Loop').item.json.datetime.toDateTime().toSeconds() }}","rightValue":"={{ $now.minus(7,'days').toSeconds() }}","operator":{"type":"number","operation":"gt"}},{"id":"8603ea18-255b-457f-80d0-b07226b06ede","leftValue":"={{ $('Loop').item.json.datetime.toDateTime().toSeconds() }}","rightValue":"={{ $now.toSeconds() }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,-1016],"id":"98905b02-dceb-4cec-969e-f4992d4c5bec","name":"If: 7 dias"},{"parameters":{"method":"POST","url":"=https://s.tintim.app/api/v1/4c2207ff-492c-4872-8f4f-1799cbccd79c/lead/{{ $json.phone }}/status","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"bJF1viHWUgGl6Ib_4BbhC65ou05wiUFC-iKadtTrMYc"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Loop').item.json.tintim_status }}"},{"name":"sale_amount","value":"={{ $json.valor_da_venda }}"}]},"options":{"batching":{"batch":{"batchSize":25}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3216,-1208],"id":"90f016fb-0efc-4dd3-8405-96633980122b","name":"POST TINTIM Status","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e98c6dc-9fd0-47df-94ee-31e6ca2e19fd","leftValue":"={{ $json.valor_da_venda }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2768,-1016],"id":"505ac29c-5b98-499b-8581-0cb1688e619f","name":"Valor > 0"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2544,-1208],"id":"a6e44e25-acdd-4c40-8056-6a6cdad3d969","name":"Arruma"},{"parameters":{"url":"=https://s.tintim.app/api/v1/4c2207ff-492c-4872-8f4f-1799cbccd79c/lead/{{ $json.ph }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"bJF1viHWUgGl6Ib_4BbhC65ou05wiUFC-iKadtTrMYc"}]},"options":{"batching":{"batch":{"batchSize":25}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,-1208],"id":"d9439ae5-00a3-47df-a9f6-a4802da810bd","name":"GET TINTIM Lead","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6b3a3170-e984-4286-ba3b-e84749705095","leftValue":"={{ $json.status.name }}","rightValue":"={{ $('Loop').item.json.etapa_da_jornada }}","operator":{"type":"string","operation":"notEquals"}},{"id":"7966073d-ce18-480a-bc1f-d688c9bc7cd7","leftValue":"={{ $json.status.id }}","rightValue":"={{ $('Loop').item.json.tintim_status }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2992,-1208],"id":"59442b89-b93d-493a-8b62-2698c61730fd","name":"Não tem consulta"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,-976],"id":"0442aa5f-7f7b-4549-9376-e150d56def7c","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"procedimentos","mode":"list","cachedResultName":"procedimentos"},"columnToMatchOn":"datahoranome","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[304,-1376],"id":"0cc4be51-8519-4d69-b93f-bf8ffebd2342","name":"MySQL","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"assignments":{"assignments":[{"id":"54945529-816c-4a58-ad4f-bd8c185f442a","name":"datahoraphonestatus_mysql","value":"={{ $json.datahoraphonestatus }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"datahoraphonestatus, etapa_da_jornada","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-784],"id":"0dc5c407-c489-494c-b0f2-245f089f89e7","name":"Mysql Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `procedimentos`\nWHERE `status` NOT IN ('Cancelou','Faltou','Em atendimento')\nAND `phone` > 55\nAND `tipo_atendimento` NOT LIKE '%representante%'\nAND `date` > NOW() - INTERVAL 7 DAY\n","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","decimalNumbers":true,"replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-592,-1064],"id":"810e2e33-764e-4875-93bd-ed30fe862f2f","name":"MySQL1","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"afe70fe2-6401-4954-91e8-a92dd01c3169","leftValue":"={{ $json.Telefone }}","rightValue":"-","operator":{"type":"string","operation":"notEquals"}},{"id":"5171e142-fea9-4d9a-a25c-942d4fbd9f45","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,-1376],"id":"e4b86fb6-9c58-422a-9bc4-a143133a65eb","name":"Tem Telefone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba194e4e-1c38-455a-8952-10a44ba95f80","leftValue":"={{ $json.status }}","rightValue":"(Finalizado|Presente|Confirmado|Em atendimento)","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,-1016],"id":"17da391e-2205-404e-b0f5-1093d0a5fa29","name":"Consulta Realizada?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,-1208],"id":"62331f14-4860-4b27-9eac-5629015522a9","name":"No Operation, do nothing","executeOnce":true},{"parameters":{"jsCode":"// Function Item node\nreturn items.map(item => {\n  const tipo = item.json['Tipo de Atendimento'] || '';\n  let categoria = 'OUTROS';\n\n  // 1) CIRURGIA\n  if (/cirurgia/i.test(tipo)) {\n    categoria = 'CIRURGIA';\n\n  // 2) SESSÃO / TERAPIA\n  } else if (/sess[ãa]o|pacote|fraxx|fissuras|laser|radiofrequ[eê]ncia|led/i.test(tipo)) {\n    categoria = 'SESSÃO/TERAPIA';\n\n  // 3) PROCEDIMENTO\n  } else if (/coloca[cç][ãa]o|retirada|implante|pess[áa]rio|procedimento|toxina/i.test(tipo)) {\n    categoria = 'PROCEDIMENTO';\n\n  // 4) CONSULTA\n  } else if (/consulta|retorno|acolhimento|encaixe|enfermagem|visita/i.test(tipo)) {\n    categoria = 'CONSULTA';\n  }\n\n  item.json['categoria_atendimento'] = categoria;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-1376],"id":"62c66b47-111b-426d-88d0-2c8f6e5668d7","name":"categoria_atendimento"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-816,-1792],"id":"02e2c459-773e-4080-ab85-d408c78b92d9","name":"terça e sexta"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,-1376],"id":"83d4b198-8fd4-4645-b7a6-fb0ebd0431f8","name":"No Operation, do nothing1","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ (Math.random()*10000).floor()+10000 }}","mensagem":"=🗓️ LEMBRETE\nEnviar Relatório de Consultas no form \nhttps://n8n.convertix.app/form/al-planilha-consulta\n","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-592,-1792],"id":"f0bead27-b840-438c-8e48-31bc553fa8ab","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ (Math.random()*10000).floor()+10000 }}","mensagem":"=✅ Relatório de Consultas Enviado com Sucesso ✅\nNome do Arquivo: {{ $('On form submission').first().json['Planilha de Procedimentos e consulta'].filename }}","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[752,-1376],"id":"6fdb1607-fb30-4637-8d23-ee3849bda232","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2fe00020-55ed-4a0e-af46-5a617e59dfce","leftValue":"={{ $json.datetime }}","rightValue":"={{ $now.minus(7,'days') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[80,-1064],"id":"957ddef0-e08b-47dd-b404-d513a493b56b","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"15eac4b0-a5d7-474c-b20e-b261b7981c4d","name":"datahoraphonestatus","value":"={{ $json.datetime }}{{ $json.phone.toString() }}{{ $json.etapa_da_jornada }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-976],"id":"0d200bd3-16ec-4e39-9215-96f75ddc1fc0","name":"datahoraphonestatus"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ 1000 }}","mensagem":"=⏳ Processando Relatório de Consultas (aguarde mensagem de sucesso) ⏳\nNome do Arquivo: {{ $('On form submission').first().json['Planilha de Procedimentos e consulta'].filename }}","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-592,-1568],"id":"77319073-7713-4efd-a9a2-335ea71e8d5e","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'4"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"MySQL1","type":"main","index":0},{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'4","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Tem Telefone","type":"main","index":0}]]},"Campos Relevantes":{"main":[[{"node":"categoria_atendimento","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Arruma Valor","type":"main","index":0}]]},"Arruma Valor":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Representante","type":"main","index":0}],[{"node":"[AL] Consulta","type":"main","index":0}],[{"node":"[AL] Procedimento","type":"main","index":0}],[{"node":"[AL] Procedimento","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Mysql Fields","type":"main","index":0}]]},"advanced_matching":{"main":[[{"node":"If: 7 dias","type":"main","index":0}]]},"Arruma ttconversa_criada":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"[AL] Procedimento":{"main":[[{"node":"MySQL3","type":"main","index":0},{"node":"datahoraphonestatus","type":"main","index":0}]]},"[AL] Consulta":{"main":[[{"node":"MySQL3","type":"main","index":0},{"node":"datahoraphonestatus","type":"main","index":0}]]},"Loop":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Arruma ttconversa_criada","type":"main","index":0},{"node":"Consulta Realizada?","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Gera fbp-fbc":{"main":[[{"node":"ETAPA","type":"main","index":0},{"node":"Valor > 0","type":"main","index":0}]]},"ETAPA":{"main":[[]]},"If: 7 dias":{"main":[[{"node":"Arruma","type":"main","index":0}],[{"node":"Gera fbp-fbc","type":"main","index":0}]]},"Purchase":{"main":[[]]},"POST TINTIM Status":{"main":[[],[]]},"Valor > 0":{"main":[[{"node":"Purchase","type":"main","index":0}]]},"Arruma":{"main":[[{"node":"GET TINTIM Lead","type":"main","index":0}]]},"GET TINTIM Lead":{"main":[[{"node":"Não tem consulta","type":"main","index":0}]]},"Não tem consulta":{"main":[[{"node":"POST TINTIM Status","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Mysql Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"MySQL1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Tem Telefone":{"main":[[{"node":"Campos Relevantes","type":"main","index":0}]]},"Consulta Realizada?":{"main":[[{"node":"advanced_matching","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"categoria_atendimento":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"terça e sexta":{"main":[[{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'3","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"datahoraphonestatus":{"main":[[{"node":"Merge1","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:terça e sexta":{"recurrenceRules":[]}},"meta":null,"versionId":"39860d75-1cdc-4559-843d-af051cf5ed83","activeVersionId":"39860d75-1cdc-4559-843d-af051cf5ed83","triggerCount":2,"shared":[{"updatedAt":"2026-01-06T04:13:41.225Z","createdAt":"2026-01-06T04:13:41.225Z","role":"workflow:owner","workflowId":"DBw3qFhAT6GQENPd","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-13T20:25:42.035Z","createdAt":"2026-03-13T20:25:37.781Z","versionId":"39860d75-1cdc-4559-843d-af051cf5ed83","workflowId":"DBw3qFhAT6GQENPd","nodes":[{"parameters":{"formTitle":"CLÍNICA ALIRA - Planilha Consulta","formDescription":"Formulário para subir a planilha de consultas realizadas","formFields":{"values":[{"fieldLabel":"Planilha de Procedimentos e consulta","fieldType":"file","multipleFiles":false,"acceptFileTypes":".xlsx","requiredField":true}]},"options":{"path":"al-planilha-consulta"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-816,-1448],"id":"9c0a15e8-5c55-4208-85bb-533e912c5b62","name":"On form submission","webhookId":"94cdda98-60b7-47c4-a983-ac0dfa8e8219"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Planilha_de_Procedimentos_e_consulta","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-592,-1376],"id":"1afde589-58d4-4343-b5aa-64bf2a1ad4c6","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"859b7a93-da89-4834-9a04-5bf76152cc6f","name":"date","value":"={{ ($json['Data do Agendamento']?.substring(6,10)+\"-\"+$json['Data do Agendamento']?.substring(3,5)+\"-\"+$json['Data do Agendamento']?.substring(0,2)) }}","type":"string"},{"id":"913a9eb8-7b21-477e-b4bc-d9517b99b3bf","name":"datetime","value":"={{ ($json['Data do Agendamento'].substring(6,10)+\"-\"+$json['Data do Agendamento'].substring(3,5)+\"-\"+$json['Data do Agendamento'].substring(0,2)) }} {{ $json['Hora do Agendamento'] }}:00","type":"string"},{"id":"7795e008-f3f4-4aee-9140-8942fc028796","name":"datahoranome","value":"={{ ($json['Data do Agendamento'].substring(6,10)+\"-\"+$json['Data do Agendamento'].substring(3,5)+\"-\"+$json['Data do Agendamento'].substring(0,2)) }} {{ $json['Hora do Agendamento'] }}:00{{ $json.Paciente.replaceSpecialChars().trim() }}","type":"string"},{"id":"0630f34c-fb86-4f26-9363-357c8707db8e","name":"phone","value":"={{ $json.Telefone.includes('+')   ?$json.Telefone.replaceAll(/\\D/g,\"\")   :\"55\"+$json.Telefone.replaceAll(/\\D/g,\"\") }}","type":"number"},{"id":"91eedf93-41ba-41fa-a815-999f06ee36cc","name":"paciente","value":"={{ $json.Paciente.replaceSpecialChars().trim() }}","type":"string"},{"id":"bf2eb55c-bdbb-455b-811c-fcc8d43a2282","name":"como_conheceu","value":"={{ $json['Como conheceu'] }}","type":"string"},{"id":"b59e2985-3adb-40e7-8c4a-e46b66e202b4","name":"email","value":"={{ $json['E-mail'] == \"-\" ? null : $json['E-mail'].toLowerCase().trim() }}","type":"string"},{"id":"b442e73f-4a2d-4a57-a6e6-0148d80e3683","name":"id_amigo","value":"={{ $json['ID Amigo'] }}","type":"number"},{"id":"8ef46e9a-7366-40e0-8b63-b2d8b84fd1b7","name":"profissional","value":"={{ $json.Profissional }}","type":"string"},{"id":"1b6085aa-9a98-414e-ba62-56933abe7301","name":"tipo_atendimento","value":"={{ $json['Tipo de Atendimento'] }}","type":"string"},{"id":"e5b6b65b-20fc-419c-a014-8664527fd3ce","name":"valor","value":"={{ $json.Valor }}","type":"number"},{"id":"f85f5100-b22c-4ffe-bcb4-18fe7dc20134","name":"status","value":"={{ $json['Status do Agendamento'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-1376],"id":"e6177fd9-f11f-4212-ae6a-e95cc646410a","name":"Campos Relevantes"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"valor"}]},"fieldsToSplitBy":"phone, paciente, como_conheceu, email, id_amigo, profissional, tipo_atendimento, status, date, datetime, datahoranome","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-368,-1064],"id":"622c7c61-8f3e-486e-abab-74337739a454","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"30353053-3c43-4d9a-91eb-5b0576357bd0","name":"valor","value":"={{ $json.sum_valor }}","type":"number"}]},"includeOtherFields":true,"include":"except","excludeFields":"sum_valor","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-1064],"id":"7ad180a4-01a9-4387-8129-46f05e5cf85b","name":"Arruma Valor"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6d2f37c0-ccf8-470d-a6f4-a9267c367245","leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"representante","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPRESENTANTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"(consulta|retorno|sessao|encaixe|visita)","operator":{"type":"string","operation":"regex"},"id":"01b105dc-bcc0-4c23-a8bc-93725c381003"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4b2ef611-1fb2-4868-965c-f08dd04d5c00","leftValue":"={{ $json.tipo_atendimento.replaceSpecialChars().toLowerCase() }}","rightValue":"(procedimento|cirurgia|retirada|colocacao|implante)","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCEDIMENTO"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"OUTROS"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[304,-1096],"id":"1dd4b82a-3c47-48e7-b079-acf30652754c","name":"Switch"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"ttconversa_criada","mode":"list","cachedResultName":"ttconversa_criada"},"columnToMatchOn":"datahoraphonestatus","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2096,-824],"id":"9d7cb261-a351-4cb5-a8f4-0aea354ec4dc","name":"MySQL2","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT * \n  FROM `ttconversa_criada` \n  WHERE `whatsapp_do_contato` =  $1\n  AND `etapa_da_jornada` = '[AL] Contato'\n  ORDER BY `data_da_ultima_mensagem` DESC , `utm_source` DESC\n  LIMIT 1;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","queryReplacement":"={{ $json.phone }},","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[752,-784],"id":"9b75dc3b-3db1-44e2-9774-a60ab6025409","name":"MySQL3","alwaysOutputData":true,"credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"mode":"combineBySql","query":"SELECT i1.*,i2.* \n  FROM input1 as i1 \n  LEFT JOIN input2 as i2 \n    ON i1.phone = i2.whatsapp_do_contato"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1424,-904],"id":"b7a1d856-6183-4168-bdb3-0128b46b3de5","name":"Merge1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[976,-784],"id":"2098a684-6015-410a-a6a0-01629ae70990","name":"Remove Duplicates1"},{"parameters":{"assignments":{"assignments":[{"id":"3558513b-e0ce-4755-a21c-a060099e5b61","name":"currency","value":"=brl","type":"string"},{"id":"971ea43f-670b-4e30-ae09-1c289b0135b7","name":"valor_da_venda","value":"={{ $json.valor_da_venda || $json.valor }}","type":"number"},{"id":"ff4dcbef-bee0-420f-9c84-169d057abf06","name":"event_id","value":"={{ $json.datahoraphonestatus }}","type":"string"},{"id":"74d14bea-19d3-41f9-a2e8-cc7e8416c6da","name":"external_id","value":"={{ $('Loop').item.json.id_amigo }}","type":"string"},{"id":"6291fd58-99c6-486c-89ae-000a4bd47ccb","name":"country","value":"br","type":"string"},{"id":"9ba9313b-ff04-4945-9cda-cd24095ca87e","name":"fn","value":"={{ $('Loop').item.json.paciente?.split(\" \")[0].toLowerCase() }}","type":"string"},{"id":"8fb23afb-66cb-4505-a419-427b78867169","name":"ln","value":"={{ $('Loop').item.json.paciente.replaceAll($('Loop').item.json.paciente?.split(\" \")[0]+\" \",\"\").toLowerCase() }}","type":"string"},{"id":"bad4f2f2-ce8f-422e-a002-99764944bb42","name":"ph","value":"={{ $json.whatsapp_do_contato || $json.phone }}","type":"string"},{"id":"93b45dba-f9cc-4a27-9485-a985e3c13110","name":"em","value":"={{ $('Loop').item.json.email }}","type":"string"},{"id":"47031760-cc58-4b2a-82bb-e08e251a9be4","name":"userAgent","value":"={{ $json.visit_meta_http_user_agent_raw }}","type":"string"},{"id":"78b542c3-7a23-46ba-9e78-f5ee7a8ed6fd","name":"ipv6","value":"={{ $json.visit_meta_remote_addr_ipv6 }}","type":"string"},{"id":"9cdd2d5a-fb4b-41cf-8781-b7bce1a4498f","name":"ipv4","value":"={{ $json.visit_meta_remote_addr_ipv4 }}","type":"string"},{"id":"18079a9d-c9d8-4149-8ce3-a15112ac7281","name":"url","value":"={{ (() => { \n  switch($('Loop').item.json.profissional) {\n    case \"Lilian Renata Fiorelli Arazawa\":\n      return 'https://lilianfiorelli.com.br';break;\n    case \"Sidney Tomyo Nishida Arazawa\":\n      return 'https://drtomyo.com.br';break;\n    default:\n      return 'https://www.aliraclinica.com.br';break;\n  }\n})() || 'https://www.aliraclinica.com.br'}}","type":"string"},{"id":"e9a1e9ad-82ff-4d61-b861-3a30c80c6d40","name":"fb_event","value":"={{ $('Loop').item.json.fb_event }}","type":"string"},{"id":"234b76cf-bd1d-482a-bc59-773382d060f9","name":"datetime_unix","value":"={{ $('Loop').item.json.datetime.toDateTime().minus\n(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"43fed76a-7894-4b92-94fe-25429529d882","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"4bc26fff-6ef6-43a7-90fb-67c754bb94e7","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"174c6b51-7215-4b3d-aa7c-b67f21776ea7","name":"campaign_id","value":"={{ $json.adcampaign }}","type":"string"},{"id":"2dd842b6-9dca-4731-96de-a6d198ca082a","name":"adset_id","value":"={{ $json.groupid }}","type":"string"},{"id":"13d0877f-53ed-4b30-be42-80b33d5369cf","name":"ad_id","value":"={{ $json.adid }}","type":"string"},{"id":"3956b02f-c933-44b0-881b-3ce7bd4c2ae7","name":"utm_source","value":"={{ $json.utm_source }}","type":"string"},{"id":"f04419b0-a747-4264-b74b-4c7a8e1e0764","name":"utm_medium","value":"={{ $json.utm_medium }}","type":"string"},{"id":"03f15fa1-76dd-4a89-b777-eac0eb11814f","name":"utm_term","value":"={{ $json.utm_term }}","type":"string"},{"id":"f4eb12e0-da35-4797-8b08-7abd4b69329b","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"860e6056-0443-4878-9f30-bd096ee9edc5","name":"utm_content","value":"={{ $json.utm_content }}","type":"string"}]},"options":{}},"id":"71776ca0-de03-4bf8-b249-cddbae4dd09f","name":"advanced_matching","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,-1016]},{"parameters":{"assignments":{"assignments":[{"id":"6fcb0e98-5f91-47c1-8d03-beef7818a54e","name":"datahoraphonestatus","value":"={{ $json.datetime }}{{ $json.whatsapp_do_contato || $json.phone }}{{ $json.etapa_da_jornada }}","type":"string"},{"id":"event_type","name":"event_type","value":"=lead.update","type":"string"},{"id":"origem","name":"origem","value":"={{ $json.origem }}","type":"string"},{"id":"codigo_da_conta","name":"codigo_da_conta","value":"={{ $json.codigo_da_conta }}","type":"string"},{"id":"nome_da_conta","name":"nome_da_conta","value":"={{ $json.nome_da_conta }}","type":"string"},{"id":"conta_ativa","name":"conta_ativa","value":"={{ $json.conta_ativa }}","type":"string"},{"id":"facebook_pixel","name":"facebook_pixel","value":"={{ $json.facebook_pixel }}","type":"string"},{"id":"nome_do_contato","name":"nome_do_contato","value":"={{ $json.paciente }}","type":"string"},{"id":"whatsapp_do_contato","name":"whatsapp_do_contato","value":"={{ $json.phone }}","type":"string"},{"id":"etapa_da_jornada","name":"etapa_da_jornada","value":"={{ $json.etapa_da_jornada }}","type":"string"},{"id":"data_da_primeira_mensagem","name":"data_da_primeira_mensagem","value":"={{ $json.data_da_primeira_mensagem }}","type":"string"},{"id":"data_da_ultima_mensagem","name":"data_da_ultima_mensagem","value":"={{ $json.datetime }}","type":"string"},{"id":"valor_da_venda","name":"valor_da_venda","value":"={{ $json.valor || $json.valor_da_venda }}","type":"string"},{"id":"link_rastreavel","name":"link_rastreavel","value":"={{ $json.link_rastreavel }}","type":"string"},{"id":"id_da_campanha_de_anuncio","name":"id_da_campanha_de_anuncio","value":"={{ $json.id_da_campanha_de_anuncio }}","type":"string"},{"id":"id_do_conjunto_de_anuncio","name":"id_do_conjunto_de_anuncio","value":"={{ $json.id_do_conjunto_de_anuncio }}","type":"string"},{"id":"id_do_anuncio","name":"id_do_anuncio","value":"={{ $json.id_do_anuncio }}","type":"string"},{"id":"nome_da_campanha_de_anuncio","name":"nome_da_campanha_de_anuncio","value":"={{ $json.nome_da_campanha_de_anuncio }}","type":"string"},{"id":"nome_do_conjunto_de_anuncio","name":"nome_do_conjunto_de_anuncio","value":"={{ $json.nome_do_conjunto_de_anuncio }}","type":"string"},{"id":"nome_do_anuncio","name":"nome_do_anuncio","value":"={{ $json.nome_do_anuncio }}","type":"string"},{"id":"utm_source","name":"utm_source","value":"={{ $json.utm_source }}","type":"string"},{"id":"utm_medium","name":"utm_medium","value":"={{ $json.utm_medium }}","type":"string"},{"id":"utm_campaign","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"utm_term","name":"utm_term","value":"={{ $json.utm_term }}","type":"string"},{"id":"utm_content","name":"utm_content","value":"={{ $json.utm_content }}","type":"string"},{"id":"utm_publico","name":"utm_publico","value":"={{ $json.utm_publico }}","type":"string"},{"id":"utm_url","name":"utm_url","value":"={{ $json.utm_url }}","type":"string"},{"id":"fbclid","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"tintim_fbid","name":"tintim_fbid","value":"={{ $json.tintim_fbid }}","type":"string"},{"id":"hsctatracking","name":"hsctatracking","value":"={{ $json.hsctatracking }}","type":"string"},{"id":"utm_id","name":"utm_id","value":"={{ $json.utm_id }}","type":"string"},{"id":"gclid","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"gad_source","name":"gad_source","value":"={{ $json.gad_source }}","type":"string"},{"id":"ad","name":"ad","value":"={{ $json.ad }}","type":"string"},{"id":"adid","name":"adid","value":"={{ $json.adid }}","type":"string"},{"id":"groupid","name":"groupid","value":"={{ $json.groupid }}","type":"string"},{"id":"adcampaign","name":"adcampaign","value":"={{ $json.adcampaign }}","type":"string"},{"id":"text","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"gad","name":"gad","value":"={{ $json.gad }}","type":"string"},{"id":"data_da_venda","name":"data_da_venda","value":"={{ $json.datetime }}","type":"string"},{"id":"ctwa_clid","name":"ctwa_clid","value":"={{ $json.ctwa_clid }}","type":"string"},{"id":"_gl","name":"_gl","value":"={{ $json._gl }}","type":"string"},{"id":"order_id","name":"order_id","value":"={{ $json.order_id }}","type":"string"},{"id":"currency_code","name":"currency_code","value":"={{ $json.currency_code }}","type":"string"},{"id":"visit_meta_http_referer","name":"visit_meta_http_referer","value":"={{ $json.visit_meta_http_referer }}","type":"string"},{"id":"visit_meta_http_user_agent_browser_family","name":"visit_meta_http_user_agent_browser_family","value":"={{ $json.visit_meta_http_user_agent_browser_family }}","type":"string"},{"id":"visit_meta_http_user_agent_browser_version","name":"visit_meta_http_user_agent_browser_version","value":"={{ $json.visit_meta_http_user_agent_browser_version }}","type":"string"},{"id":"visit_meta_http_user_agent_device_brand","name":"visit_meta_http_user_agent_device_brand","value":"={{ $json.visit_meta_http_user_agent_device_brand }}","type":"string"},{"id":"visit_meta_http_user_agent_device_family","name":"visit_meta_http_user_agent_device_family","value":"={{ $json.visit_meta_http_user_agent_device_family }}","type":"string"},{"id":"visit_meta_http_user_agent_device_has_touch_capability","name":"visit_meta_http_user_agent_device_has_touch_capability","value":"={{ $json.visit_meta_http_user_agent_device_has_touch_capability }}","type":"string"},{"id":"visit_meta_http_user_agent_device_model","name":"visit_meta_http_user_agent_device_model","value":"={{ $json.visit_meta_http_user_agent_device_model }}","type":"string"},{"id":"visit_meta_http_user_agent_device_type","name":"visit_meta_http_user_agent_device_type","value":"={{ $json.visit_meta_http_user_agent_device_type }}","type":"string"},{"id":"visit_meta_http_user_agent_os_family","name":"visit_meta_http_user_agent_os_family","value":"={{ $json.visit_meta_http_user_agent_os_family }}","type":"string"},{"id":"visit_meta_http_user_agent_os_version","name":"visit_meta_http_user_agent_os_version","value":"={{ $json.visit_meta_http_user_agent_os_version }}","type":"string"},{"id":"visit_meta_http_user_agent_raw","name":"visit_meta_http_user_agent_raw","value":"={{ $json.visit_meta_http_user_agent_raw }}","type":"string"},{"id":"visit_meta_remote_addr_ipv6","name":"visit_meta_remote_addr_ipv6","value":"={{ $json.visit_meta_remote_addr_ipv6 }}","type":"string"},{"id":"visit_meta_remote_addr_ipv4","name":"visit_meta_remote_addr_ipv4","value":"={{ $json.visit_meta_remote_addr_ipv4 }}","type":"string"},{"id":"headers","name":"headers","value":"={{ $json.headers }}","type":"string"},{"id":"params","name":"params","value":"={{ $json.params }}","type":"string"},{"id":"query","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"body","name":"body","value":"={{ $json.body }}","type":"string"},{"id":"webhookurl","name":"webhookurl","value":"={{ $json.webhookurl }}","type":"string"},{"id":"executionmode","name":"executionmode","value":"={{ $json.executionmode }}","type":"string"},{"id":"f124b3d4-9106-48a9-937c-65b462e33cb1","name":"datetime_unix","value":"={{ $json.datetime.toDateTime().toSeconds().floor() }}","type":"string"},{"id":"dca74638-a007-43b3-8109-10e38a3f0228","name":"phone_hash256","value":"={{ $json.phone.toString().hash('sha256') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-824],"id":"beedcd9c-bac9-4b10-81eb-c273389d3cee","name":"Arruma ttconversa_criada"},{"parameters":{"assignments":{"assignments":[{"id":"7ea250a9-3896-4cac-b745-c7dd766d7a0c","name":"etapa_da_jornada","value":"[AL] Consulta","type":"string"},{"id":"e07f2cfa-9f8a-4ad7-814c-fcfa7d6061b6","name":"fb_event","value":"al_consulta","type":"string"},{"id":"4b7ff6ba-2f21-4293-a654-34aa29fefb0a","name":"tintim_status","value":"40222","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-992],"id":"b7cf44c2-3040-433d-a26e-db72f96aa9f5","name":"[AL] Consulta"},{"parameters":{"assignments":{"assignments":[{"id":"7ea250a9-3896-4cac-b745-c7dd766d7a0c","name":"etapa_da_jornada","value":"[AL] Procedimento","type":"string"},{"id":"61c484e0-6fd8-4488-a558-60d41de9570a","name":"fb_event","value":"al_procedimento","type":"string"},{"id":"d53878c2-c3bc-41d0-bf72-58b44984c3d7","name":"tintim_status","value":"55260","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-704],"id":"38b94e46-3d57-4a8d-be24-fbdfb4fa266e","name":"[AL] Procedimento"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,-1184],"id":"dcc76ab1-a4b3-4292-9c37-59d7ece1dd10","name":"Representante"},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1648,-904],"id":"ff034a62-e83b-4f8d-905a-4603c318a372","name":"Loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2320,-704],"id":"08ec206e-88f7-4ee7-9a55-c65cd8d0aaa5","executeOnce":true},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,-920],"id":"e783d4dc-7028-48dd-bc3e-8f6319716e9a","name":"Gera fbp-fbc","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1464142214189804/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"{{ $json.fb_event }}\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"{{ $json.fb_event }}..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $json.url }}\",\n            \"opt_out\": false,\n            {{ ($json?.valor_da_venda == 0 ? '':'\"value\": '+$json?.valor_da_venda+',\"currency\": \"'+ $json.currency+'\",') || \"\" }}\n            \"user_data\": {\n                \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"],\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IDUsuarioWPP == null ? '':'\"subscription_id\": \"'+$json.IDUsuarioWPP+'\",') || \"\" }}\n                 {{ ($json.manychat_key == null ? '':'\"external_id\": [\"'+$json.manychat_key.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json?.ipv4 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json?.ipv6 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json.userAgent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\"':'\"fbp\": \"'+$json.fbp+'\"') || \"\" }}\n\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"5db187f0-0cde-4a8d-8bdb-adf4d487b07c","name":"ETAPA","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2768,-824],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"onError":"continueErrorOutput"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"1464142214189804/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"Purchase\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"Purchase..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $json.url }}\",\n            \"opt_out\": false,\n          \"value\": {{ $json.valor_da_venda }},\n          \"currency\": \"{{ $json.currency }}\",\n            \"user_data\": {\n                {{ ($json?.em == null ? '':'\"em\": [\"'+$json?.em.hash('sha256')+'\"],') || \"\" }}\n                {{ ($json.country == null ? '':'\"country\": [\"'+$json.country.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.data_nascimento == null ? '':'\"db\": [\"'+$json.data_nascimento.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.fn == null ? '':'\"fn\": [\"'+$json.fn.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IDUsuarioWPP == null ? '':'\"subscription_id\": \"'+$json.IDUsuarioWPP+'\",') || \"\" }}\n                 {{ ($json.manychat_key == null ? '':'\"external_id\": [\"'+$json.manychat_key.hash('sha256')+'\"],') || \"\" }}\n\n                 {{ ($json?.ipv4 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json?.ipv6 == null ? '': '\"client_ip_address\": \"'+$json.ipv6+'\",') || \"\" }}\n                 {{ ($json.userAgent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"ph\": [\"{{ $json.ph.toString().hash('sha256') }}\",\"{{ $json.ph.replaceAll('+','').toString().hash('sha256') }}\"]\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"1a0f4ead-f813-4217-b4e2-3f17f1cc346a","name":"Purchase","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[2992,-1016],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"764b4152-8dd7-4e41-8e77-393651d8f1c7","leftValue":"={{ $('Loop').item.json.datetime.toDateTime().toSeconds() }}","rightValue":"={{ $now.minus(7,'days').toSeconds() }}","operator":{"type":"number","operation":"gt"}},{"id":"8603ea18-255b-457f-80d0-b07226b06ede","leftValue":"={{ $('Loop').item.json.datetime.toDateTime().toSeconds() }}","rightValue":"={{ $now.toSeconds() }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,-1016],"id":"98905b02-dceb-4cec-969e-f4992d4c5bec","name":"If: 7 dias"},{"parameters":{"method":"POST","url":"=https://s.tintim.app/api/v1/4c2207ff-492c-4872-8f4f-1799cbccd79c/lead/{{ $json.phone }}/status","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"bJF1viHWUgGl6Ib_4BbhC65ou05wiUFC-iKadtTrMYc"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Loop').item.json.tintim_status }}"},{"name":"sale_amount","value":"={{ $json.valor_da_venda }}"}]},"options":{"batching":{"batch":{"batchSize":25}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3216,-1208],"id":"90f016fb-0efc-4dd3-8405-96633980122b","name":"POST TINTIM Status","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e98c6dc-9fd0-47df-94ee-31e6ca2e19fd","leftValue":"={{ $json.valor_da_venda }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2768,-1016],"id":"505ac29c-5b98-499b-8581-0cb1688e619f","name":"Valor > 0"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2544,-1208],"id":"a6e44e25-acdd-4c40-8056-6a6cdad3d969","name":"Arruma"},{"parameters":{"url":"=https://s.tintim.app/api/v1/4c2207ff-492c-4872-8f4f-1799cbccd79c/lead/{{ $json.ph }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"bJF1viHWUgGl6Ib_4BbhC65ou05wiUFC-iKadtTrMYc"}]},"options":{"batching":{"batch":{"batchSize":25}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,-1208],"id":"d9439ae5-00a3-47df-a9f6-a4802da810bd","name":"GET TINTIM Lead","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6b3a3170-e984-4286-ba3b-e84749705095","leftValue":"={{ $json.status.name }}","rightValue":"={{ $('Loop').item.json.etapa_da_jornada }}","operator":{"type":"string","operation":"notEquals"}},{"id":"7966073d-ce18-480a-bc1f-d688c9bc7cd7","leftValue":"={{ $json.status.id }}","rightValue":"={{ $('Loop').item.json.tintim_status }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2992,-1208],"id":"59442b89-b93d-493a-8b62-2698c61730fd","name":"Não tem consulta"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-816,-976],"id":"0442aa5f-7f7b-4549-9376-e150d56def7c","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"procedimentos","mode":"list","cachedResultName":"procedimentos"},"columnToMatchOn":"datahoranome","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[304,-1376],"id":"0cc4be51-8519-4d69-b93f-bf8ffebd2342","name":"MySQL","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"assignments":{"assignments":[{"id":"54945529-816c-4a58-ad4f-bd8c185f442a","name":"datahoraphonestatus_mysql","value":"={{ $json.datahoraphonestatus }}","type":"string"}]},"includeOtherFields":true,"include":"except","excludeFields":"datahoraphonestatus, etapa_da_jornada","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-784],"id":"0dc5c407-c489-494c-b0f2-245f089f89e7","name":"Mysql Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM `procedimentos`\nWHERE `status` NOT IN ('Cancelou','Faltou','Em atendimento')\nAND `phone` > 55\nAND `tipo_atendimento` NOT LIKE '%representante%'\nAND `date` > NOW() - INTERVAL 7 DAY\n","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","decimalNumbers":true,"replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-592,-1064],"id":"810e2e33-764e-4875-93bd-ed30fe862f2f","name":"MySQL1","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"afe70fe2-6401-4954-91e8-a92dd01c3169","leftValue":"={{ $json.Telefone }}","rightValue":"-","operator":{"type":"string","operation":"notEquals"}},{"id":"5171e142-fea9-4d9a-a25c-942d4fbd9f45","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,-1376],"id":"e4b86fb6-9c58-422a-9bc4-a143133a65eb","name":"Tem Telefone"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba194e4e-1c38-455a-8952-10a44ba95f80","leftValue":"={{ $json.status }}","rightValue":"(Finalizado|Presente|Confirmado|Em atendimento)","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1872,-1016],"id":"17da391e-2205-404e-b0f5-1093d0a5fa29","name":"Consulta Realizada?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,-1208],"id":"62331f14-4860-4b27-9eac-5629015522a9","name":"No Operation, do nothing","executeOnce":true},{"parameters":{"jsCode":"// Function Item node\nreturn items.map(item => {\n  const tipo = item.json['Tipo de Atendimento'] || '';\n  let categoria = 'OUTROS';\n\n  // 1) CIRURGIA\n  if (/cirurgia/i.test(tipo)) {\n    categoria = 'CIRURGIA';\n\n  // 2) SESSÃO / TERAPIA\n  } else if (/sess[ãa]o|pacote|fraxx|fissuras|laser|radiofrequ[eê]ncia|led/i.test(tipo)) {\n    categoria = 'SESSÃO/TERAPIA';\n\n  // 3) PROCEDIMENTO\n  } else if (/coloca[cç][ãa]o|retirada|implante|pess[áa]rio|procedimento|toxina/i.test(tipo)) {\n    categoria = 'PROCEDIMENTO';\n\n  // 4) CONSULTA\n  } else if (/consulta|retorno|acolhimento|encaixe|enfermagem|visita/i.test(tipo)) {\n    categoria = 'CONSULTA';\n  }\n\n  item.json['categoria_atendimento'] = categoria;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-1376],"id":"62c66b47-111b-426d-88d0-2c8f6e5668d7","name":"categoria_atendimento"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-816,-1792],"id":"02e2c459-773e-4080-ab85-d408c78b92d9","name":"terça e sexta"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,-1376],"id":"83d4b198-8fd4-4645-b7a6-fb0ebd0431f8","name":"No Operation, do nothing1","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ (Math.random()*10000).floor()+10000 }}","mensagem":"=🗓️ LEMBRETE\nEnviar Relatório de Consultas no form \nhttps://n8n.convertix.app/form/al-planilha-consulta\n","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-592,-1792],"id":"f0bead27-b840-438c-8e48-31bc553fa8ab","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ (Math.random()*10000).floor()+10000 }}","mensagem":"=✅ Relatório de Consultas Enviado com Sucesso ✅\nNome do Arquivo: {{ $('On form submission').first().json['Planilha de Procedimentos e consulta'].filename }}","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[752,-1376],"id":"6fdb1607-fb30-4637-8d23-ee3849bda232","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2fe00020-55ed-4a0e-af46-5a617e59dfce","leftValue":"={{ $json.datetime }}","rightValue":"={{ $now.minus(7,'days') }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[80,-1064],"id":"957ddef0-e08b-47dd-b404-d513a493b56b","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"15eac4b0-a5d7-474c-b20e-b261b7981c4d","name":"datahoraphonestatus","value":"={{ $json.datetime }}{{ $json.phone.toString() }}{{ $json.etapa_da_jornada }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-976],"id":"0d200bd3-16ec-4e39-9215-96f75ddc1fc0","name":"datahoraphonestatus"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [MENSAGEM] Envia Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"delay":"={{ 1000 }}","mensagem":"=⏳ Processando Relatório de Consultas (aguarde mensagem de sucesso) ⏳\nNome do Arquivo: {{ $('On form submission').first().json['Planilha de Procedimentos e consulta'].filename }}","whatsapp":"120363312867085060@g.us"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-592,-1568],"id":"77319073-7713-4efd-a9a2-335ea71e8d5e","name":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'4"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"MySQL1","type":"main","index":0},{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'4","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Tem Telefone","type":"main","index":0}]]},"Campos Relevantes":{"main":[[{"node":"categoria_atendimento","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Arruma Valor","type":"main","index":0}]]},"Arruma Valor":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Representante","type":"main","index":0}],[{"node":"[AL] Consulta","type":"main","index":0}],[{"node":"[AL] Procedimento","type":"main","index":0}],[{"node":"[AL] Procedimento","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Mysql Fields","type":"main","index":0}]]},"advanced_matching":{"main":[[{"node":"If: 7 dias","type":"main","index":0}]]},"Arruma ttconversa_criada":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"[AL] Procedimento":{"main":[[{"node":"MySQL3","type":"main","index":0},{"node":"datahoraphonestatus","type":"main","index":0}]]},"[AL] Consulta":{"main":[[{"node":"MySQL3","type":"main","index":0},{"node":"datahoraphonestatus","type":"main","index":0}]]},"Loop":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Arruma ttconversa_criada","type":"main","index":0},{"node":"Consulta Realizada?","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Gera fbp-fbc":{"main":[[{"node":"ETAPA","type":"main","index":0},{"node":"Valor > 0","type":"main","index":0}]]},"ETAPA":{"main":[[]]},"If: 7 dias":{"main":[[{"node":"Arruma","type":"main","index":0}],[{"node":"Gera fbp-fbc","type":"main","index":0}]]},"Purchase":{"main":[[]]},"POST TINTIM Status":{"main":[[],[]]},"Valor > 0":{"main":[[{"node":"Purchase","type":"main","index":0}]]},"Arruma":{"main":[[{"node":"GET TINTIM Lead","type":"main","index":0}]]},"GET TINTIM Lead":{"main":[[{"node":"Não tem consulta","type":"main","index":0}]]},"Não tem consulta":{"main":[[{"node":"POST TINTIM Status","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Mysql Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"MySQL1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Tem Telefone":{"main":[[{"node":"Campos Relevantes","type":"main","index":0}]]},"Consulta Realizada?":{"main":[[{"node":"advanced_matching","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"categoria_atendimento":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"terça e sexta":{"main":[[{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Call '[EVO] [MENSAGEM] Envia Mensagem ctxoperacao (v1.0)'3","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"datahoraphonestatus":{"main":[[{"node":"Merge1","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 39860d75","description":"","autosaved":true},"tags":[]}