workflows/ddNrGGwU7PPXATgl.json
{"updatedAt":"2026-05-12T14:44:51.320Z","createdAt":"2026-04-23T13:51:14.867Z","id":"ddNrGGwU7PPXATgl","name":"[AUAU] [BRUNA] Gerador de FUP","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"auau-chatwoot-processa-fup","options":{"allowedOrigins":"*","ignoreBots":true,"ipWhitelist":"","noResponseBody":true,"responseCode":{"values":{}}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,436],"id":"e9665b73-8f99-46d8-87f4-8682c40624fc","name":"Webhook","webhookId":"23eba489-d1a0-4035-92dd-ff8346160964"},{"parameters":{"jsCode":"const startRaw = (() => {\n  try {\n    return $('Start').first().json || {};\n  } catch (e) {\n    return $input.first()?.json || {};\n  }\n})();\n\n/*\n  Aceita 3 formatos de entrada no subworkflow:\n\n  1. Linha direta da bruna_memoria_leads:\n     {\n       id,\n       phone,\n       account_id_chatwoot,\n       conversation_id_chatwoot,\n       ...\n     }\n\n  2. Linha embrulhada:\n     {\n       memory_row: {...}\n     }\n\n  3. Webhook manual do Chatwoot:\n     {\n       body: {...}\n     }\n*/\n\nconst input =\n  startRaw.memory_row ||\n  startRaw.lead_memory ||\n  startRaw.row ||\n  startRaw.payload_base ||\n  startRaw;\n\nconst isWebhook = !!input.body;\nconst isMemoryRow =\n  !isWebhook &&\n  !!input.phone &&\n  !!input.conversation_id_chatwoot;\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value)\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .trim();\n}\n\nfunction onlyDigits(value) {\n  return clean(value).replace(/\\D/g, '');\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === true) return true;\n  if (value === false) return false;\n  if (value === 1 || value === '1') return true;\n  if (value === 0 || value === '0') return false;\n\n  const v = clean(value).toLowerCase();\n\n  if (['true', 'sim', 'yes', 'y'].includes(v)) return true;\n  if (['false', 'nao', 'não', 'no', 'n'].includes(v)) return false;\n\n  return fallback;\n}\n\nfunction parseJsonMaybe(value, fallback = null) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nfunction normalizeStatus(value) {\n  const v = clean(value);\n\n  const valid = [\n    'NOVO_LEAD',\n    'COLETANDO_DADOS',\n    'QUALIFICANDO',\n    'PRE_REPROVADO',\n    'APTO_PARA_AVALIACAO',\n    'AGUARDANDO_PAGAMENTO',\n    'COMPROVANTE_RECEBIDO',\n    'AGUARDANDO_ESCOLHA_HORARIO',\n    'PRE_RESERVA_CRIADA',\n    'TRANSFERIDO_FLAVIA',\n    'ENCERRADO_NAO_PERFIL',\n    'ENCERRADO_SEM_RESPOSTA',\n    'ENCERRADO'\n  ];\n\n  return valid.includes(v) ? v : 'QUALIFICANDO';\n}\n\nfunction normalizeIntent(value) {\n  const v = clean(value);\n\n  const valid = [\n    'INTERESSE_CRECHE',\n    'INTERESSE_HOTEL',\n    'PEDIU_VALOR',\n    'PEDIU_LOCALIZACAO',\n    'PEDIU_VISITA',\n    'INFORMOU_DADOS_CAO',\n    'INFORMOU_DADOS_TUTOR',\n    'ACEITOU_AVALIACAO',\n    'RECEBEU_PIX',\n    'ENVIOU_COMPROVANTE',\n    'ESCOLHEU_HORARIO',\n    'PEDIU_HUMANO',\n    'MACHO_NAO_CASTRADO',\n    'RACA_POTENCIAL_DANO',\n    'URGENCIA_FERIADO',\n    'OBJECAO_PRECO',\n    'SUMIU'\n  ];\n\n  return valid.includes(v) ? v : 'SUMIU';\n}\n\nfunction normalizeEvent(value) {\n  const v = clean(value);\n\n  const valid = [\n    '',\n    'FORMULARIO_RECEBIDO',\n    'GUIA_ENVIADO',\n    'PIX_SOLICITADO',\n    'ANEXO_RECEBIDO',\n    'COMPROVANTE_IDENTIFICADO',\n    'AGENDA_CONSULTADA',\n    'HORARIOS_ENVIADOS',\n    'PRE_RESERVA_CRIADA',\n    'REPASSE_FLAVIA',\n    'FOLLOWUP_DISPARADO',\n    'CONVERSA_ENCERRADA'\n  ];\n\n  return valid.includes(v) ? v : '';\n}\n\nfunction normalizeNaoInformado(value) {\n  const v = clean(value);\n  return v || 'nao_informado';\n}\n\nfunction normalizeNaoDefinido(value) {\n  const v = clean(value);\n  return v || 'nao_definido';\n}\n\nfunction parseLeadSummary(text) {\n  const raw = clean(text);\n  const out = {};\n\n  if (!raw) return out;\n\n  const getLine = (label) => {\n    const escaped = label.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const regex = new RegExp(`${escaped}:\\\\s*([^\\\\n]+)`, 'i');\n    const match = raw.match(regex);\n    return match ? clean(match[1]) : '';\n  };\n\n  out.tutor_nome = getLine('Tutor');\n  out.tutor_telefone = getLine('Telefone');\n\n  out.status_lead = getLine('Status');\n  out.ultima_intencao = getLine('Intenção');\n\n  out.cao_nome = getLine('Nome do cão');\n  out.cao_idade_anos = getLine('Idade');\n  out.cao_raca = getLine('Raça');\n  out.cao_porte = getLine('Porte');\n  out.cao_sexo = getLine('Sexo');\n  out.cao_castrado = getLine('Castrado');\n  out.cao_vacinas_ok = getLine('Vacinas');\n  out.cao_antipulgas_ok = getLine('Antipulgas');\n  out.cao_sociavel = getLine('Sociável');\n  out.cao_reativo = getLine('Reativo');\n\n  out.servico_interesse = getLine('Serviço');\n  out.unidade_preferida = getLine('Unidade');\n  out.tipo_comprovante = getLine('Tipo comprovante');\n\n  const comprovanteLinha = getLine('Comprovante recebido').toLowerCase();\n\n  out.comprovante_recebido =\n    comprovanteLinha.includes('sim') ||\n    comprovanteLinha === 'true';\n\n  const prox = raw.match(/Próxima ação:\\s*([\\s\\S]*?)(?:\\nObservações:|\\n?$)/i);\n  out.proxima_acao = prox ? clean(prox[1]) : '';\n\n  const obs = raw.match(/Observações:\\s*([\\s\\S]*)$/i);\n  out.observacoes = obs ? clean(obs[1]) : '';\n\n  return out;\n}\n\n/* ============================================================\n   CAMINHO 1: WEBHOOK MANUAL CHATWOOT\n   ============================================================ */\n\nif (isWebhook) {\n  const body = input.body || {};\n  const msg0 = Array.isArray(body.messages) ? (body.messages[0] || {}) : {};\n  const sender = body.meta?.sender || {};\n  const custom = sender.custom_attributes || {};\n  const contactInbox = body.contact_inbox || {};\n  const attachments = Array.isArray(msg0.attachments) ? msg0.attachments : [];\n  const firstAttachment = attachments[0] || null;\n\n  const leadSummaryParsed = parseLeadSummary(custom.lead_summary || '');\n\n  const accountId = Number(msg0.account_id || body.account_id || 0);\n  const inboxId = Number(body.inbox_id || msg0.inbox_id || contactInbox.inbox_id || 0);\n  const conversationId = Number(body.id || msg0.conversation_id || 0);\n  const contactId = Number(sender.id || contactInbox.contact_id || 0);\n  const messageId = Number(msg0.id || 0);\n\n  const phone = clean(sender.phone_number || leadSummaryParsed.tutor_telefone || '');\n  const leadName = clean(sender.name || leadSummaryParsed.tutor_nome || '');\n\n  const labels = Array.isArray(body.labels)\n    ? body.labels.map(x => clean(x)).filter(Boolean)\n    : [];\n\n  const messageText = clean(\n    msg0.content ||\n    msg0.processed_message_content ||\n    ''\n  );\n\n  const hasAttachment = attachments.length > 0;\n  const hasText = !!messageText;\n\n  const messageType =\n    Number(msg0.message_type) === 0\n      ? 'incoming'\n      : Number(msg0.message_type) === 1\n        ? 'outgoing'\n        : clean(msg0.sender_type).toLowerCase() === 'contact'\n          ? 'incoming'\n          : 'outgoing';\n\n  const messageModality = hasAttachment\n    ? `${clean(firstAttachment?.file_type || 'attachment')}_${hasText ? 'with_text' : 'only'}`\n    : 'text_only';\n\n  const statusLead = normalizeStatus(\n    custom.bruna_status_lead ||\n    leadSummaryParsed.status_lead ||\n    ''\n  );\n\n  const ultimaIntencao = normalizeIntent(\n    custom.bruna_ultima_intencao ||\n    leadSummaryParsed.ultima_intencao ||\n    ''\n  );\n\n  const eventoSistema = normalizeEvent(\n    custom.bruna_evento_sistema ||\n    ''\n  );\n\n  const servicoInteresse =\n    clean(custom.bruna_servico_interesse) ||\n    leadSummaryParsed.servico_interesse ||\n    (\n      ultimaIntencao === 'INTERESSE_HOTEL'\n        ? 'hotel'\n        : ultimaIntencao === 'INTERESSE_CRECHE'\n          ? 'creche'\n          : 'nao_definido'\n    );\n\n  const resumoLead = {\n    tutor_nome: leadSummaryParsed.tutor_nome || leadName || '',\n    tutor_telefone: leadSummaryParsed.tutor_telefone || phone || '',\n\n    cao_nome: clean(custom.bruna_nome_cao) || leadSummaryParsed.cao_nome || '',\n    cao_idade_anos: leadSummaryParsed.cao_idade_anos || '',\n    cao_idade_texto: leadSummaryParsed.cao_idade_anos || '',\n    cao_raca: clean(custom.bruna_raca_cao) || leadSummaryParsed.cao_raca || '',\n    cao_porte: clean(custom.bruna_porte_cao) || leadSummaryParsed.cao_porte || 'nao_definido',\n    cao_sexo: clean(custom.bruna_sexo_cao) || leadSummaryParsed.cao_sexo || 'nao_informado',\n    cao_castrado: clean(custom.bruna_castrado) || leadSummaryParsed.cao_castrado || 'nao_informado',\n    cao_no_cio: 'nao_informado',\n\n    cao_vacinas_ok: leadSummaryParsed.cao_vacinas_ok || 'nao_informado',\n    cao_antipulgas_ok: leadSummaryParsed.cao_antipulgas_ok || 'nao_informado',\n    cao_vermifugacao_ok: 'nao_informado',\n    cao_sociavel: leadSummaryParsed.cao_sociavel || 'nao_informado',\n    cao_reativo: leadSummaryParsed.cao_reativo || 'nao_informado',\n    possui_relatorio_veterinario: 'nao_informado',\n\n    unidade_preferida: leadSummaryParsed.unidade_preferida || 'nao_definida',\n    servico_interesse: servicoInteresse || 'nao_definido',\n    periodo_desejado: '',\n    data_desejada: '',\n    data_checkin_desejada: '',\n    data_checkout_desejada: '',\n\n    origem_lead: clean(custom.origem || ''),\n    origem_detalhada: clean(custom.origem || ''),\n    comprovante_recebido: toBool(\n      custom.bruna_comprovante_recebido,\n      leadSummaryParsed.comprovante_recebido || false\n    ),\n    tipo_comprovante: leadSummaryParsed.tipo_comprovante || 'nao_informado',\n    arquivo_comprovante_referencia: '',\n    data_hora_avaliacao: '',\n    data_hora_pre_reserva: '',\n    pre_reserva_criada: false,\n    responsavel_humano: '',\n    observacoes: leadSummaryParsed.observacoes || ''\n  };\n\n  const resumoInternoRepasse = {\n    repassar_para: '',\n    motivo: '',\n    tutor_nome: resumoLead.tutor_nome,\n    tutor_telefone: resumoLead.tutor_telefone,\n    cao_nome: resumoLead.cao_nome,\n    cao_idade_anos: resumoLead.cao_idade_anos,\n    cao_raca: resumoLead.cao_raca,\n    cao_porte: resumoLead.cao_porte,\n    cao_sexo: resumoLead.cao_sexo,\n    cao_castrado: resumoLead.cao_castrado,\n    cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n    cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n    cao_sociavel: resumoLead.cao_sociavel,\n    cao_reativo: resumoLead.cao_reativo,\n    unidade_preferida: resumoLead.unidade_preferida,\n    servico_interesse: resumoLead.servico_interesse,\n    data_hora_avaliacao: '',\n    comprovante_recebido: resumoLead.comprovante_recebido,\n    tipo_comprovante: resumoLead.tipo_comprovante,\n    observacoes: resumoLead.observacoes\n  };\n\n  const syntheticContent =\n    messageText ||\n    '[FUP_MANUAL] Macro executada para gerar follow-up manual. Use o histórico consolidado como fonte principal.';\n\n  const chatHistoryUuid =\n    `account:${accountId}-contact:${contactId}-conversation:${conversationId}-phone:${phone}`;\n\n  const payload = {\n    gatilho: 'FUP_MANUAL',\n    trigger_event: clean(body.event || 'macro.executed'),\n    agent_name: 'Bruna',\n    nome_agente: 'Bruna',\n    should_reply: true,\n\n    account_id: accountId,\n    inbox_id: inboxId,\n    conversation_id: conversationId,\n    contact_id: contactId,\n    current_message_id: messageId,\n\n    phone,\n    phone_digits: onlyDigits(phone),\n    lead_name: leadName,\n    can_reply: !!body.can_reply,\n    conversation_status: clean(body.status || ''),\n    labels,\n\n    origem: clean(custom.origem || ''),\n    anuncio: clean(custom.anuncio || ''),\n    sender_identifier: clean(sender.identifier || ''),\n    contact_last_seen_at: body.contact_last_seen_at || null,\n    last_activity_at: body.last_activity_at || null,\n    origem_fup: 'manual_chatwoot_macro',\n\n    inputs: {\n      status_lead: statusLead,\n      ultima_intencao: ultimaIntencao,\n      evento_sistema: eventoSistema,\n      mensagens_resposta: [],\n\n      resumo_lead: resumoLead,\n\n      proxima_acao:\n        leadSummaryParsed.proxima_acao ||\n        'Gerar follow-up manual com base no histórico consolidado e no estado atual reconstruído pelo CRM.',\n\n      deve_repassar_humano: toBool(custom.bruna_deve_repassar_humano, false),\n      motivo_repasse: '',\n      deve_enviar_guia: false,\n      deve_solicitar_pagamento: false,\n      deve_consultar_agenda: false,\n      deve_criar_pre_reserva: false,\n      deve_encerrar_conversa: false,\n\n      resumo_interno_repasse: resumoInternoRepasse,\n\n      is_first_turn: false,\n      interpreted_message: hasAttachment ? 'attachment_message' : 'text_message',\n      interpreted_modality: messageModality,\n      interpreted_status: 'ok',\n      supported_input: true,\n\n      versao_regras_negocio: 'v1',\n      versao_contrato_payload: 'v1'\n    },\n\n    memory: {\n      phone,\n      nome_tutor: resumoLead.tutor_nome,\n      email_tutor: '',\n      nome_cao: resumoLead.cao_nome,\n      idade_cao_anos: resumoLead.cao_idade_anos,\n      idade_cao_texto: resumoLead.cao_idade_texto,\n      cao_raca: resumoLead.cao_raca,\n      cao_porte: resumoLead.cao_porte,\n      cao_sexo: resumoLead.cao_sexo,\n      cao_castrado: resumoLead.cao_castrado,\n      cao_no_cio: resumoLead.cao_no_cio,\n      cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n      cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n      cao_vermifugacao_ok: resumoLead.cao_vermifugacao_ok,\n      cao_sociavel: resumoLead.cao_sociavel,\n      cao_reativo: resumoLead.cao_reativo,\n      possui_relatorio_veterinario: resumoLead.possui_relatorio_veterinario,\n      unidade_preferida: resumoLead.unidade_preferida,\n      servico_interesse: resumoLead.servico_interesse,\n      status_lead: statusLead,\n      ultima_intencao: ultimaIntencao,\n      evento_sistema_atual: eventoSistema,\n      resumo_lead_json: resumoLead,\n      resumo_interno_repasse_json: resumoInternoRepasse,\n      account_id_chatwoot: accountId,\n      contact_id_chatwoot: contactId,\n      conversation_id_chatwoot: conversationId,\n      chat_history_uuid: chatHistoryUuid\n    },\n\n    chatwoot: {\n      chat_history_uuid: chatHistoryUuid,\n      labels,\n      system_event: eventoSistema,\n      account_id: accountId,\n      contact_id: contactId,\n      message_id: messageId,\n      conversation_id: conversationId,\n      event: clean(body.event || ''),\n      inbox_id: inboxId,\n      can_reply: !!body.can_reply,\n      conversation_status: clean(body.status || ''),\n      assignee_id: body.meta?.assignee?.id || msg0.conversation?.assignee_id || null,\n      team_id: body.meta?.team?.id || null\n    },\n\n    message: {\n      id: messageId,\n      message_id: messageId,\n      current_message_id: messageId,\n      message_modality: messageModality,\n      has_text: hasText,\n      has_attachment: hasAttachment,\n      private: !!msg0.private,\n      type: messageType,\n      content: syntheticContent,\n      content_raw: messageText,\n      processed_message_content: clean(msg0.processed_message_content || ''),\n      data_url: firstAttachment?.data_url || null,\n      source_id: clean(msg0.source_id || ''),\n      created_at: msg0.created_at || body.timestamp || null,\n      content_type: clean(msg0.content_type || 'text'),\n      attachment: firstAttachment\n        ? {\n            id: firstAttachment.id || null,\n            file_type: clean(firstAttachment.file_type || ''),\n            data_url: firstAttachment.data_url || null,\n            file_size: firstAttachment.file_size || null,\n            transcribed_text: clean(firstAttachment.transcribed_text || '')\n          }\n        : null\n    },\n\n    lead: {\n      sender_name: leadName,\n      phone,\n      sender_identifier: clean(sender.identifier || ''),\n      entry_channel: clean(custom.origem || ''),\n      anuncio: clean(custom.anuncio || ''),\n      link_rastreavel: clean(custom.link_rastreavel || ''),\n      utms: {},\n      sender_type: clean(sender.type || 'contact')\n    },\n\n    raw_source: body\n  };\n\n  return [{ json: payload }];\n}\n\n/* ============================================================\n   CAMINHO 2: LINHA DA bruna_memoria_leads VINDA DO LOOP\n   ============================================================ */\n\nif (isMemoryRow) {\n  const memoryRow = input;\n\n  const resumoLeadJson = parseJsonMaybe(memoryRow.resumo_lead_json, {}) || {};\n  const resumoRepasseJson = parseJsonMaybe(memoryRow.resumo_interno_repasse_json, {}) || {};\n  const payloadUltimaResposta = parseJsonMaybe(memoryRow.payload_ultima_resposta_json, {}) || {};\n  const dadosOrigemJson = parseJsonMaybe(memoryRow.dados_origem_json, {}) || {};\n  const etiquetasJson = parseJsonMaybe(memoryRow.etiquetas_chatwoot_json, []) || [];\n\n  const accountId = Number(\n    memoryRow.account_id_chatwoot ||\n    payloadUltimaResposta.chatwoot?.account_id ||\n    dadosOrigemJson.account_id_chatwoot ||\n    0\n  );\n\n  const contactId = Number(\n    memoryRow.contact_id_chatwoot ||\n    payloadUltimaResposta.chatwoot?.contact_id ||\n    dadosOrigemJson.contact_id_chatwoot ||\n    0\n  );\n\n  const conversationId = Number(\n    memoryRow.conversation_id_chatwoot ||\n    payloadUltimaResposta.chatwoot?.conversation_id ||\n    dadosOrigemJson.conversation_id_chatwoot ||\n    0\n  );\n\n  const inboxId = Number(\n    payloadUltimaResposta.chatwoot?.inbox_id ||\n    0\n  );\n\n  const currentMessageId = Number(\n    memoryRow.last_processed_message_id ||\n    payloadUltimaResposta.message?.current_message_id ||\n    payloadUltimaResposta.chatwoot?.message_id ||\n    0\n  );\n\n  const phone = clean(\n    memoryRow.phone ||\n    resumoLeadJson.tutor_telefone ||\n    payloadUltimaResposta.lead?.phone ||\n    ''\n  );\n\n  const leadName = clean(\n    memoryRow.nome_tutor ||\n    resumoLeadJson.tutor_nome ||\n    payloadUltimaResposta.lead?.sender_name ||\n    ''\n  );\n\n  const labels = Array.isArray(etiquetasJson)\n    ? etiquetasJson.map(x => clean(x)).filter(Boolean)\n    : Array.isArray(payloadUltimaResposta.chatwoot?.labels)\n      ? payloadUltimaResposta.chatwoot.labels.map(x => clean(x)).filter(Boolean)\n      : [];\n\n  const statusLead = normalizeStatus(\n    memoryRow.status_lead ||\n    payloadUltimaResposta.inputs?.status_lead ||\n    ''\n  );\n\n  const ultimaIntencao = normalizeIntent(\n    memoryRow.ultima_intencao ||\n    payloadUltimaResposta.inputs?.ultima_intencao ||\n    ''\n  );\n\n  const eventoSistema = normalizeEvent(\n    memoryRow.evento_sistema_atual ||\n    payloadUltimaResposta.inputs?.evento_sistema ||\n    ''\n  );\n\n  const resumoLead = {\n    tutor_nome: clean(resumoLeadJson.tutor_nome || memoryRow.nome_tutor || leadName),\n    tutor_telefone: clean(resumoLeadJson.tutor_telefone || memoryRow.phone || phone),\n    email_tutor: clean(resumoLeadJson.email_tutor || memoryRow.email_tutor || ''),\n\n    cao_nome: clean(resumoLeadJson.cao_nome || memoryRow.nome_cao || ''),\n    cao_idade_anos: clean(resumoLeadJson.cao_idade_anos || memoryRow.idade_cao_anos || ''),\n    cao_idade_texto: clean(resumoLeadJson.cao_idade_texto || memoryRow.idade_cao_texto || ''),\n    cao_raca: clean(resumoLeadJson.cao_raca || memoryRow.cao_raca || ''),\n    cao_porte: normalizeNaoDefinido(resumoLeadJson.cao_porte || memoryRow.cao_porte),\n    cao_sexo: normalizeNaoInformado(resumoLeadJson.cao_sexo || memoryRow.cao_sexo),\n    cao_castrado: normalizeNaoInformado(resumoLeadJson.cao_castrado || memoryRow.cao_castrado),\n    cao_no_cio: normalizeNaoInformado(resumoLeadJson.cao_no_cio || memoryRow.cao_no_cio),\n\n    cao_vacinas_ok: normalizeNaoInformado(resumoLeadJson.cao_vacinas_ok || memoryRow.cao_vacinas_ok),\n    cao_antipulgas_ok: normalizeNaoInformado(resumoLeadJson.cao_antipulgas_ok || memoryRow.cao_antipulgas_ok),\n    cao_vermifugacao_ok: normalizeNaoInformado(resumoLeadJson.cao_vermifugacao_ok || memoryRow.cao_vermifugacao_ok),\n    cao_sociavel: normalizeNaoInformado(resumoLeadJson.cao_sociavel || memoryRow.cao_sociavel),\n    cao_reativo: normalizeNaoInformado(resumoLeadJson.cao_reativo || memoryRow.cao_reativo),\n    possui_relatorio_veterinario: normalizeNaoInformado(resumoLeadJson.possui_relatorio_veterinario || memoryRow.possui_relatorio_veterinario),\n\n    unidade_preferida: normalizeNaoDefinido(resumoLeadJson.unidade_preferida || memoryRow.unidade_preferida),\n    servico_interesse: normalizeNaoDefinido(resumoLeadJson.servico_interesse || memoryRow.servico_interesse),\n    periodo_desejado: clean(resumoLeadJson.periodo_desejado || memoryRow.periodo_desejado || ''),\n    data_desejada: clean(resumoLeadJson.data_desejada || memoryRow.data_desejada || ''),\n    data_checkin_desejada: clean(resumoLeadJson.data_checkin_desejada || memoryRow.data_checkin_desejada || ''),\n    data_checkout_desejada: clean(resumoLeadJson.data_checkout_desejada || memoryRow.data_checkout_desejada || ''),\n\n    origem_lead: clean(resumoLeadJson.origem_lead || memoryRow.origem_lead || ''),\n    origem_detalhada: clean(resumoLeadJson.origem_detalhada || memoryRow.origem_detalhada || ''),\n\n    comprovante_recebido: toBool(resumoLeadJson.comprovante_recebido ?? memoryRow.comprovante_recebido, false),\n    tipo_comprovante: normalizeNaoInformado(resumoLeadJson.tipo_comprovante || memoryRow.tipo_comprovante),\n    arquivo_comprovante_referencia: clean(resumoLeadJson.arquivo_comprovante_referencia || memoryRow.arquivo_comprovante_referencia || ''),\n    data_hora_avaliacao: clean(resumoLeadJson.data_hora_avaliacao || memoryRow.data_hora_avaliacao || ''),\n    data_hora_pre_reserva: clean(resumoLeadJson.data_hora_pre_reserva || memoryRow.data_hora_pre_reserva || ''),\n    pre_reserva_criada: toBool(resumoLeadJson.pre_reserva_criada ?? memoryRow.pre_reserva_criada, false),\n    responsavel_humano: clean(resumoLeadJson.responsavel_humano || memoryRow.responsavel_humano || ''),\n    observacoes: clean(resumoLeadJson.observacoes || '')\n  };\n\n  const resumoInternoRepasse = {\n    repassar_para: clean(resumoRepasseJson.repassar_para || ''),\n    motivo: clean(resumoRepasseJson.motivo || memoryRow.motivo_repasse || ''),\n    tutor_nome: resumoLead.tutor_nome,\n    tutor_telefone: resumoLead.tutor_telefone,\n    cao_nome: resumoLead.cao_nome,\n    cao_idade_anos: resumoLead.cao_idade_anos,\n    cao_raca: resumoLead.cao_raca,\n    cao_porte: resumoLead.cao_porte,\n    cao_sexo: resumoLead.cao_sexo,\n    cao_castrado: resumoLead.cao_castrado,\n    cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n    cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n    cao_sociavel: resumoLead.cao_sociavel,\n    cao_reativo: resumoLead.cao_reativo,\n    unidade_preferida: resumoLead.unidade_preferida,\n    servico_interesse: resumoLead.servico_interesse,\n    data_hora_avaliacao: clean(resumoRepasseJson.data_hora_avaliacao || memoryRow.data_hora_avaliacao || ''),\n    comprovante_recebido: resumoLead.comprovante_recebido,\n    tipo_comprovante: resumoLead.tipo_comprovante,\n    observacoes: clean(resumoRepasseJson.observacoes || resumoLead.observacoes || '')\n  };\n\n  const chatHistoryUuid =\n    clean(memoryRow.chat_history_uuid) ||\n    clean(payloadUltimaResposta.chatwoot?.chat_history_uuid) ||\n    `account:${accountId}-contact:${contactId}-conversation:${conversationId}-phone:${phone}`;\n\n  const currentLeadText =\n    clean(memoryRow.mensagem_ultima_lead) ||\n    clean(payloadUltimaResposta.message?.current_lead_block_text) ||\n    clean(payloadUltimaResposta.message?.content) ||\n    '[FUP_AUTOMATICO] Lead travado selecionado pelo Cron para follow-up automático. Use o histórico consolidado como fonte principal.';\n\n  const lastBrunaMessage =\n    clean(memoryRow.mensagem_ultima_bruna) ||\n    clean(payloadUltimaResposta.message?.clean_answer) ||\n    clean(\n      Array.isArray(payloadUltimaResposta.inputs?.mensagens_resposta)\n        ? payloadUltimaResposta.inputs.mensagens_resposta.join('\\n\\n')\n        : ''\n    );\n\n  const payload = {\n    gatilho: 'FUP_AUTOMATICO',\n    trigger_event: 'cron.daily_08h',\n    agent_name: 'Bruna',\n    nome_agente: 'Bruna',\n    should_reply: true,\n\n    account_id: accountId,\n    inbox_id: inboxId,\n    conversation_id: conversationId,\n    contact_id: contactId,\n    current_message_id: currentMessageId,\n\n    phone,\n    phone_digits: onlyDigits(phone),\n    lead_name: leadName,\n    can_reply: true,\n    conversation_status: 'open',\n    labels,\n\n    origem: clean(memoryRow.origem_lead || payloadUltimaResposta.lead?.entry_channel || ''),\n    anuncio: clean(payloadUltimaResposta.lead?.anuncio || ''),\n    sender_identifier: clean(payloadUltimaResposta.lead?.sender_identifier || ''),\n\n    contact_last_seen_at: null,\n    last_activity_at: memoryRow.data_ultima_interacao || memoryRow.atualizado_em || null,\n\n    origem_fup: 'automatico_cron_mysql',\n    memory_row_id: memoryRow.id,\n\n    contador_followup: Number(memoryRow.contador_followup || 0),\n    tipo_ultimo_followup: clean(memoryRow.tipo_ultimo_followup || ''),\n    ultimo_followup_em: memoryRow.ultimo_followup_em || null,\n\n    status_lead: statusLead,\n    ultima_intencao: ultimaIntencao,\n    evento_sistema_atual: eventoSistema,\n\n    mensagem_ultima_lead: clean(memoryRow.mensagem_ultima_lead || ''),\n    mensagem_ultima_bruna: clean(memoryRow.mensagem_ultima_bruna || ''),\n    data_ultima_mensagem_lead: memoryRow.data_ultima_mensagem_lead || null,\n    data_ultima_mensagem_bruna: memoryRow.data_ultima_mensagem_bruna || null,\n\n    inputs: {\n      status_lead: statusLead,\n      ultima_intencao: ultimaIntencao,\n      evento_sistema: eventoSistema,\n      apto_para_avaliacao: clean(memoryRow.apto_para_avaliacao || 'pendente'),\n      motivo_pre_reprovacao: clean(memoryRow.motivo_pre_reprovacao || ''),\n      status_pagamento: clean(memoryRow.status_pagamento || 'nao_solicitado'),\n      comprovante_recebido: resumoLead.comprovante_recebido,\n      tipo_comprovante: resumoLead.tipo_comprovante,\n      arquivo_comprovante_referencia: resumoLead.arquivo_comprovante_referencia,\n      pre_reserva_criada: resumoLead.pre_reserva_criada,\n      data_hora_avaliacao: resumoLead.data_hora_avaliacao,\n      data_hora_pre_reserva: resumoLead.data_hora_pre_reserva,\n\n      mensagens_resposta: [],\n\n      resumo_lead: resumoLead,\n\n      proxima_acao:\n        clean(payloadUltimaResposta.inputs?.proxima_acao) ||\n        'Gerar follow-up automático com base no histórico consolidado e no estado atual reconstruído pelo CRM.',\n\n      deve_repassar_humano: toBool(memoryRow.deve_repassar_humano, false),\n      motivo_repasse: clean(memoryRow.motivo_repasse || ''),\n      deve_enviar_guia: toBool(memoryRow.guia_enviado, false),\n      deve_solicitar_pagamento: false,\n      deve_consultar_agenda: false,\n      deve_criar_pre_reserva: false,\n      deve_encerrar_conversa: false,\n\n      resumo_interno_repasse: resumoInternoRepasse,\n\n      is_first_turn: false,\n      interpreted_message: 'text_message',\n      interpreted_modality: 'text_only',\n      interpreted_status: 'ok',\n      supported_input: true,\n\n      versao_regras_negocio: clean(memoryRow.versao_regras_negocio || 'v1'),\n      versao_contrato_payload: clean(memoryRow.versao_contrato_payload || 'v1')\n    },\n\n    memory: {\n      ...memoryRow,\n\n      phone,\n      nome_tutor: resumoLead.tutor_nome,\n      email_tutor: resumoLead.email_tutor || '',\n      nome_cao: resumoLead.cao_nome,\n      idade_cao_anos: resumoLead.cao_idade_anos,\n      idade_cao_texto: resumoLead.cao_idade_texto,\n      cao_raca: resumoLead.cao_raca,\n      cao_porte: resumoLead.cao_porte,\n      cao_sexo: resumoLead.cao_sexo,\n      cao_castrado: resumoLead.cao_castrado,\n      cao_no_cio: resumoLead.cao_no_cio,\n      cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n      cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n      cao_vermifugacao_ok: resumoLead.cao_vermifugacao_ok,\n      cao_sociavel: resumoLead.cao_sociavel,\n      cao_reativo: resumoLead.cao_reativo,\n      possui_relatorio_veterinario: resumoLead.possui_relatorio_veterinario,\n      unidade_preferida: resumoLead.unidade_preferida,\n      servico_interesse: resumoLead.servico_interesse,\n      status_lead: statusLead,\n      ultima_intencao: ultimaIntencao,\n      evento_sistema_atual: eventoSistema,\n      resumo_lead_json: resumoLead,\n      resumo_interno_repasse_json: resumoInternoRepasse,\n      account_id_chatwoot: accountId,\n      contact_id_chatwoot: contactId,\n      conversation_id_chatwoot: conversationId,\n      chat_history_uuid: chatHistoryUuid\n    },\n\n    chatwoot: {\n      chat_history_uuid: chatHistoryUuid,\n      labels,\n      system_event: eventoSistema,\n      account_id: accountId,\n      contact_id: contactId,\n      message_id: currentMessageId,\n      conversation_id: conversationId,\n      event: 'cron.daily_08h',\n      inbox_id: inboxId,\n      can_reply: true,\n      conversation_status: 'open'\n    },\n\n    message: {\n      id: currentMessageId,\n      message_id: currentMessageId,\n      current_message_id: currentMessageId,\n      message_modality: 'text_only',\n      has_text: !!currentLeadText,\n      has_attachment: false,\n      private: false,\n      type: 'incoming',\n      content: currentLeadText,\n      content_raw: currentLeadText,\n      processed_message_content: currentLeadText,\n      data_url: null,\n      source_id: '',\n      created_at: memoryRow.data_ultima_mensagem_lead || memoryRow.atualizado_em || null,\n      content_type: 'text',\n      attachment: null,\n      last_bruna_message_before_current_block: lastBrunaMessage,\n      current_lead_block_text: currentLeadText,\n      history_for_crm: clean(payloadUltimaResposta.message?.history_for_crm || ''),\n      historico: 'historico'\n    },\n\n    lead: {\n      sender_name: leadName,\n      phone,\n      sender_identifier: clean(payloadUltimaResposta.lead?.sender_identifier || ''),\n      entry_channel: clean(memoryRow.origem_detalhada || payloadUltimaResposta.lead?.entry_channel || ''),\n      anuncio: clean(payloadUltimaResposta.lead?.anuncio || ''),\n      link_rastreavel: clean(payloadUltimaResposta.lead?.link_rastreavel || ''),\n      utms: payloadUltimaResposta.lead?.utms || {},\n      sender_type: 'contact'\n    },\n\n    raw_source: memoryRow\n  };\n\n  return [{ json: payload }];\n}\n\nthrow new Error('Normaliza Entrada FUP: entrada inválida no Start. Esperava webhook do Chatwoot ou linha da bruna_memoria_leads.');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,532],"id":"eec1621c-f283-4159-b782-450dbbf0ed98","name":"Normaliza Entrada FUP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f54115d9-8eda-4129-972c-c3005e89181c","leftValue":"={{\n(() => {\n  const src = $json.fup || $json || {};\n\n  const labels = Array.isArray(src.labels)\n    ? src.labels.map(x => String(x || '').toLowerCase().trim())\n    : [];\n\n  const statusLead = String(\n    src.status_lead ||\n    src.inputs?.status_lead ||\n    src.memory?.status_lead ||\n    ''\n  ).toUpperCase().trim();\n\n  const conversationStatus = String(src.conversation_status || 'open').toLowerCase().trim();\n\n  const bloqueiaPorLabel =\n    labels.some(l => l === '50' || l.includes('50')) ||\n    labels.some(l => l === '60' || l.includes('60')) ||\n    labels.some(l => l === 'cliente' || l.includes('cliente')) ||\n    labels.some(l => l === 'humano' || l.includes('humano')) ||\n    labels.some(l => l === 'flavia' || l.includes('flavia')) ||\n    labels.some(l => l.includes('transferido-flavia')) ||\n    labels.some(l => l.includes('sem-fup')) ||\n    labels.some(l => l.includes('nao-fazer-fup')) ||\n    labels.some(l => l.includes('não-fazer-fup')) ||\n    labels.some(l => l.includes('fup-bruna-bloqueado'));\n\n  const bloqueiaPorStatus =\n    statusLead === 'TRANSFERIDO_FLAVIA' ||\n    statusLead === 'ENCERRADO_NAO_PERFIL' ||\n    statusLead === 'ENCERRADO';\n\n  const podeSeguir =\n    src.can_reply !== false &&\n    conversationStatus === 'open' &&\n    !bloqueiaPorLabel &&\n    !bloqueiaPorStatus &&\n    !!Number(src.conversation_id || src.chatwoot?.conversation_id || 0) &&\n    !!Number(src.account_id || src.chatwoot?.account_id || 0) &&\n    !!String(src.phone || src.lead?.phone || src.inputs?.resumo_lead?.tutor_telefone || '').trim();\n\n  return podeSeguir;\n})()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,532],"id":"d269136c-5d36-47f5-b260-b587beca124b","name":"Pré Bloqueio Rápido"},{"parameters":{"assignments":{"assignments":[{"id":"e7c1d81f-e2f3-45a8-8533-895ce3e5b529","name":"pode_seguir_fup","value":false,"type":"boolean"},{"id":"d144a2e9-b13f-41df-a9d6-7623af1276a3","name":"motivo_bloqueio","value":"Conversa aberta com atendimento humano ou inapta para resposta","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,628],"id":"dd793e3b-3799-4b26-b6f6-e83fe61fb4ee","name":"Sem FUP"},{"parameters":{"workflowId":{"__rl":true,"value":"Vr7nMXVnm3h3CoM1","mode":"list","cachedResultUrl":"/workflow/Vr7nMXVnm3h3CoM1","cachedResultName":"[AUAU] [CHATWOOT] Gera Resumo Histórico Longo - Analista de CRM Completo v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"processar_IA":true,"account_id":"={{ $json.account_id }}","conversation_id":"={{ $json.conversation_id }}","qtd_messages":120,"nome_agente":"Bruna","contexto_anterior_limit":120,"payload_base":"={{ $json.payload_base }}"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"qtd_messages","displayName":"qtd_messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"contexto_anterior_limit","displayName":"contexto_anterior_limit","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"nome_agente","displayName":"nome_agente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"payload_base","displayName":"payload_base","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[848,436],"id":"ed02df9d-7529-46b9-9008-9b4196f1e413","name":"Gera Resumo Histórico Longo"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_memoria_leads","mode":"list","cachedResultName":"bruna_memoria_leads"},"limit":1,"where":{"values":[{"column":"phone","condition":"LIKE","value":"=%{{ $('Normaliza Entrada FUP')?.item?.json?.fup?.phone?.slice(-8) \n  || $('Normaliza Entrada FUP')?.item?.json?.lead?.phone?.slice(-8) \n  || $('Normaliza Entrada FUP')?.item?.json?.memory?.phone?.slice(-8) \n  || $('Normaliza Entrada FUP')?.item?.json?.phone?.slice(-8) \n  || \"00000000000000000000000000000\" }}%"}]},"sort":{"values":[{"column":"atualizado_em","direction":"DESC"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[400,436],"id":"309b7021-e329-4bd6-9620-9a10eec69d38","name":"Get Memory","alwaysOutputData":true,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"temperature":0.1,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1816,408],"id":"2ddb9dd6-7f8d-40f9-90fa-b8a57d2f6877","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"promptType":"define","text":"=Estado atual reconstruído pelo CRM:\n{{ JSON.stringify($('Gera Resumo Histórico Longo').first().json.inputs || {}) }}\n\nMensagem/contexto retornado pelo CRM:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.message_resolvida || {}) }}\n\nHistórico recente da conversa:\n{{ $('Preparar Contexto FUP').first().json.message_resolvida?.history_for_crm || $('Gera Resumo Histórico Longo').first().json.message?.history_for_crm || '' }}\n\nConfiguração oficial de followups:\n{{ JSON.stringify($('CONFIG REGRAS FUP').first().json || {}) }}\n\nControle de followup:\n{{ JSON.stringify({\n  pode_gerar_fup: $('Preparar Contexto FUP').first().json.pode_gerar_fup,\n  motivo_bloqueio: $('Preparar Contexto FUP').first().json.motivo_bloqueio || '',\n  contador_followup: $('Preparar Contexto FUP').first().json.contador_followup_atual || 0,\n  max_followups: $('Preparar Contexto FUP').first().json.max_followups || 0,\n  proximo_numero_followup: $('Preparar Contexto FUP').first().json.proximo_numero_followup || 1,\n  limite_followup_atingido: $('Preparar Contexto FUP').first().json.limite_followup_atingido || false,\n  tipo_ultimo_followup: $('Preparar Contexto FUP').first().json.tipo_ultimo_followup || '',\n  ultimo_followup_em: $('Preparar Contexto FUP').first().json.ultimo_followup_em || '',\n  tipo_followup_sugerido: $('Preparar Contexto FUP').first().json.tipo_followup_sugerido || ''\n}) }}\n\nBriefing operacional:\n{{ $('Preparar Contexto FUP').first().json.guia_ia }}\n\nEstratégia do FUP:\n{{ JSON.stringify({\n  status_base: $('Preparar Contexto FUP').first().json.status_base || '',\n  ultima_intencao_base: $('Preparar Contexto FUP').first().json.ultima_intencao_base || '',\n  evento_sistema_base: $('Preparar Contexto FUP').first().json.evento_sistema_base || '',\n  estrategia_fup: $('Preparar Contexto FUP').first().json.estrategia_fup || '',\n  objetivo_fup: $('Preparar Contexto FUP').first().json.objetivo_fup || '',\n  recomendacao_tom: $('Preparar Contexto FUP').first().json.recomendacao_tom || ''\n}) }}\n\nRestrições obrigatórias:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.restricoes_fup || []) }}\n\nAlertas de contexto:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.alertas_contexto || []) }}\n\nResumo do lead:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.resumo_lead_atual || {}) }}\n\nResumo interno de repasse:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.resumo_interno_repasse || {}) }}\n\nContexto operacional completo:\n{{ JSON.stringify($('Preparar Contexto FUP').first().json.contexto_operacional || {}) }}\n\nGere a próxima mensagem de follow-up da Bruna, respeitando se a origem é manual ou automática.\n\nRetorne EXATAMENTE um único objeto JSON bruto.\nNão use markdown.\nNão use bloco de código.\nNão escreva texto antes ou depois do JSON.","messages":{"messageValues":[{"message":"=Você é o gerador de follow-up da Bruna, da AuAu Creche Canina. O follow-up pode ter origem manual ou automática.\n\nVocê NÃO reconstrói o CRM.\nVocê NÃO consulta agenda.\nVocê NÃO cria pré-reserva.\nVocê NÃO confirma hospedagem.\nVocê NÃO valida pagamento.\nVocê apenas escreve a próxima mensagem de follow-up com base no estado já reconstruído pelo CRM.\n\nREGRAS FIXAS:\n- Nunca use abertura inicial.\n- Nunca se apresente como se fosse primeiro atendimento.\n- Nunca contradiga o CRM.\n- Nunca invente dado, horário, disponibilidade, pagamento aprovado ou exceção.\n- Nunca escreva mais de 2 mensagens.\n- Cada mensagem deve ter no máximo 2 frases.\n- Faça no máximo 1 pergunta.\n- O tom deve ser humano, curto, leve e natural.\n- Evite repetir o ângulo do último follow-up.\n- Se message.type for outgoing, não trate message.content como nova fala do lead. Use o histórico e o estado reconstruído pelo CRM.\n\nREGRA DE CONFIGURAÇÃO:\n- Use sempre o tipo_followup_sugerido recebido no briefing operacional.\n- Não invente tipos fora da configuração oficial de followups.\n- Se limite_followup_atingido = true, retorne pode_enviar = false.\n\nREGRAS POR ESTADO:\n- COLETANDO_DADOS: retomar coleta do próximo dado faltante.\n- QUALIFICANDO: retomada leve ou destrava de dúvida.\n- PRE_REPROVADO: retomar a restrição atual com cuidado.\n- APTO_PARA_AVALIACAO: entender se quer seguir com a avaliação.\n- AGUARDANDO_PAGAMENTO: lembrar pagamento/comprovante de forma leve.\n- COMPROVANTE_RECEBIDO: não prometer aprovação, apenas indicar conferência humana.\n- TRANSFERIDO_FLAVIA: não atropelar humano.\n- ENCERRADO_NAO_PERFIL: deixar porta aberta para futuro sem contrariar a regra.\n- ENCERRADO_SEM_RESPOSTA ou ENCERRADO: reativação leve ou fechamento elegante.\n\nREGRAS POR INTENÇÃO:\n- PEDIU_VALOR ou OBJECAO_PRECO: destravar decisão sem cobrança.\n- MACHO_NAO_CASTRADO: se não encerrado, retomar pergunta sobre castração futura; se encerrado, só deixar porta aberta caso o cenário mude.\n- RACA_POTENCIAL_DANO: não oferecer avaliação nem exceção.\n- SUMIU: retomada leve.\n\nTAXONOMIA DE SAÍDA:\n\nstatus_lead_novo deve ser um destes:\nNOVO_LEAD\nCOLETANDO_DADOS\nQUALIFICANDO\nPRE_REPROVADO\nAPTO_PARA_AVALIACAO\nAGUARDANDO_PAGAMENTO\nCOMPROVANTE_RECEBIDO\nTRANSFERIDO_FLAVIA\nENCERRADO_NAO_PERFIL\nENCERRADO_SEM_RESPOSTA\nENCERRADO\n\nultima_intencao_nova deve ser uma destas:\nINTERESSE_CRECHE\nINTERESSE_HOTEL\nPEDIU_VALOR\nPEDIU_LOCALIZACAO\nPEDIU_VISITA\nINFORMOU_DADOS_CAO\nINFORMOU_DADOS_TUTOR\nACEITOU_AVALIACAO\nRECEBEU_PIX\nENVIOU_COMPROVANTE\nPEDIU_HUMANO\nMACHO_NAO_CASTRADO\nRACA_POTENCIAL_DANO\nURGENCIA_FERIADO\nOBJECAO_PRECO\nSUMIU\n\nevento_sistema_novo deve ser sempre:\nFOLLOWUP_DISPARADO\n\nREGRAS DE DEFAULT:\n- status_lead_novo: mantenha o status_base recebido.\n- ultima_intencao_nova: use SUMIU.\n- evento_sistema_novo: FOLLOWUP_DISPARADO.\n- tags_add: use a tag principal correspondente ao tipo_followup escolhido na configuração oficial.\n- tags_remove: remova tags antigas de FUP e a tag de bloqueio recebida na configuração oficial.\n\nSe faltar contexto mínimo para responder, retorne:\n- pode_enviar = false\n- mensagens_resposta = []\n- resumo_followup explicando o motivo\n\nRetorne somente JSON válido neste formato:\n\n{\n  \"pode_enviar\": true,\n  \"tipo_followup\": \"FUP_1_RETOMADA_LEVE\",\n  \"mensagens_resposta\": [\"mensagem 1\", \"mensagem 2\"],\n  \"status_lead_novo\": \"QUALIFICANDO\",\n  \"ultima_intencao_nova\": \"SUMIU\",\n  \"evento_sistema_novo\": \"FOLLOWUP_DISPARADO\",\n  \"resumo_followup\": \"resumo curto\",\n  \"tags_add\": [\"fup-bruna-1\"],\n  \"tags_remove\": [\"fup-bruna-bloqueado\"]\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1744,184],"id":"3ffabd18-50ee-4c37-8731-77f3661846af","name":"Gerador de FUP"},{"parameters":{"workflowId":{"__rl":true,"value":"Trt3EkOtzV7rdJUv","mode":"list","cachedResultUrl":"/workflow/Trt3EkOtzV7rdJUv","cachedResultName":"[AUAU] [BRUNA] RESPONDER CHATWOOT + MEMÓRIA + HISTÓRICO"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}","opcoes":"={{ $json.opcoes }}","inputs":"={{ $json.inputs }}","chatwoot":"={{ $json.chatwoot }}","lead":"={{ $json.lead }}"},"matchingColumns":[],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"lead","displayName":"lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"chatwoot","displayName":"chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"inputs","displayName":"inputs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"opcoes","displayName":"opcoes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2544,288],"id":"e152ccdb-38fb-44d8-950f-70fe1fa63cdc","name":"Call '[AUAU] [BRUNA] RESPONDER CHATWOOT + MEMÓRIA + HISTÓRICO'"},{"parameters":{"jsCode":"const fup = (() => {\n  try {\n    return $('Normaliza Entrada FUP').first().json || {};\n  } catch (e) {\n    return {};\n  }\n})();\n\nconst memoryFromNode = (() => {\n  try {\n    return $('Get Memory').first().json || {};\n  } catch (e) {\n    return {};\n  }\n})();\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value)\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .trim();\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === true) return true;\n  if (value === false) return false;\n  if (value === 1 || value === '1') return true;\n  if (value === 0 || value === '0') return false;\n\n  const v = clean(value).toLowerCase();\n\n  if (['true', 'sim', 'yes', 'y'].includes(v)) return true;\n  if (['false', 'nao', 'não', 'no', 'n'].includes(v)) return false;\n\n  return fallback;\n}\n\nfunction parseJsonMaybe(value, fallback = {}) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nfunction toNum(value) {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? n : 0;\n}\n\nfunction normalizeTextValue(value, fallback = '') {\n  const v = clean(value);\n  return v || fallback;\n}\n\nfunction normalizeNaoInformado(value) {\n  const v = clean(value);\n  return v || 'nao_informado';\n}\n\nfunction normalizeNaoDefinido(value) {\n  const v = clean(value);\n  return v || 'nao_definido';\n}\n\nfunction normalizeStatus(value) {\n  const v = clean(value);\n\n  const valid = [\n    'NOVO_LEAD',\n    'COLETANDO_DADOS',\n    'QUALIFICANDO',\n    'PRE_REPROVADO',\n    'APTO_PARA_AVALIACAO',\n    'AGUARDANDO_PAGAMENTO',\n    'COMPROVANTE_RECEBIDO',\n    'TRANSFERIDO_FLAVIA',\n    'ENCERRADO_NAO_PERFIL',\n    'ENCERRADO_SEM_RESPOSTA',\n    'ENCERRADO'\n  ];\n\n  return valid.includes(v) ? v : 'QUALIFICANDO';\n}\n\nfunction normalizeIntent(value) {\n  const v = clean(value);\n\n  const valid = [\n    'INTERESSE_CRECHE',\n    'INTERESSE_HOTEL',\n    'PEDIU_VALOR',\n    'PEDIU_LOCALIZACAO',\n    'PEDIU_VISITA',\n    'INFORMOU_DADOS_CAO',\n    'INFORMOU_DADOS_TUTOR',\n    'ACEITOU_AVALIACAO',\n    'RECEBEU_PIX',\n    'ENVIOU_COMPROVANTE',\n    'PEDIU_HUMANO',\n    'MACHO_NAO_CASTRADO',\n    'RACA_POTENCIAL_DANO',\n    'URGENCIA_FERIADO',\n    'OBJECAO_PRECO',\n    'SUMIU'\n  ];\n\n  return valid.includes(v) ? v : 'SUMIU';\n}\n\nfunction normalizeEvent(value) {\n  const v = clean(value);\n\n  const valid = [\n    '',\n    'FORMULARIO_RECEBIDO',\n    'GUIA_ENVIADO',\n    'PIX_SOLICITADO',\n    'ANEXO_RECEBIDO',\n    'COMPROVANTE_IDENTIFICADO',\n    'REPASSE_FLAVIA',\n    'FOLLOWUP_DISPARADO',\n    'CONVERSA_ENCERRADA'\n  ];\n\n  return valid.includes(v) ? v : '';\n}\n\nfunction getChatwootMessages(payloadUltimaResposta) {\n  const candidates = [\n    payloadUltimaResposta?.crm?.chatwoot?.chatwoot_messages,\n    payloadUltimaResposta?.chatwoot?.chatwoot_messages,\n    payloadUltimaResposta?.payload_base?.chatwoot?.chatwoot_messages\n  ];\n\n  for (const c of candidates) {\n    if (Array.isArray(c)) return c;\n  }\n\n  return [];\n}\n\nfunction sortMessages(messages) {\n  return [...messages].sort((a, b) => {\n    const ca = Number(a.created_at || 0);\n    const cb = Number(b.created_at || 0);\n\n    if (ca !== cb) return ca - cb;\n\n    return Number(a.id || 0) - Number(b.id || 0);\n  });\n}\n\nfunction isLeadMessage(msg) {\n  const role = clean(msg.role).toLowerCase();\n  const roleLabel = clean(msg.role_label).toLowerCase();\n  const senderType = clean(msg.sender_type).toLowerCase();\n  const messageType = Number(msg.message_type);\n\n  return (\n    role === 'lead' ||\n    roleLabel === 'lead' ||\n    senderType === 'contact' ||\n    messageType === 0\n  );\n}\n\nfunction isOutgoingMessage(msg) {\n  const role = clean(msg.role).toLowerCase();\n  const senderType = clean(msg.sender_type).toLowerCase();\n  const messageType = Number(msg.message_type);\n\n  return (\n    role === 'bruna' ||\n    role === 'humano' ||\n    senderType === 'user' ||\n    messageType === 1\n  );\n}\n\n/*\n  Escolhe a melhor origem de memória.\n\n  1. Preferência: Get Memory\n  2. Fallback: raw_source do Normaliza Entrada FUP\n  3. Fallback: fup.memory\n*/\nconst memory =\n  Object.keys(memoryFromNode || {}).length\n    ? memoryFromNode\n    : (\n        fup.raw_source && fup.raw_source.phone\n          ? fup.raw_source\n          : (fup.memory || {})\n      );\n\nconst fupInputs = fup.inputs || {};\nconst fupResumoLead = fupInputs.resumo_lead || {};\nconst fupResumoRepasse = fupInputs.resumo_interno_repasse || {};\nconst fupChatwoot = fup.chatwoot || {};\nconst fupMessage = fup.message || {};\nconst fupLead = fup.lead || fup.fup || {};\n\nconst memoryResumoLead = parseJsonMaybe(memory.resumo_lead_json, {});\nconst memoryResumoRepasse = parseJsonMaybe(memory.resumo_interno_repasse_json, {});\nconst memoryPayloadUltimaResposta = parseJsonMaybe(memory.payload_ultima_resposta_json, {});\nconst memoryDadosOrigem = parseJsonMaybe(memory.dados_origem_json, {});\nconst memoryEtiquetas = parseJsonMaybe(memory.etiquetas_chatwoot_json, []);\n\nconst crmSnapshot = memoryPayloadUltimaResposta.crm || {};\nconst crmSnapshotMessage = crmSnapshot.message || {};\nconst crmSnapshotInputs = crmSnapshot.inputs || {};\nconst crmSnapshotLead = crmSnapshot.lead || {};\n\nconst chatwootMessages = sortMessages(getChatwootMessages(memoryPayloadUltimaResposta));\nconst latestAnyMessage = chatwootMessages.length ? chatwootMessages[chatwootMessages.length - 1] : null;\nconst latestLeadMessage = [...chatwootMessages].reverse().find(isLeadMessage) || null;\nconst latestOutgoingMessage = [...chatwootMessages].reverse().find(isOutgoingMessage) || null;\n\nconst accountId = Number(\n  fup.account_id ||\n  fupChatwoot.account_id ||\n  memory.account_id_chatwoot ||\n  memoryDadosOrigem.account_id_chatwoot ||\n  crmSnapshot.chatwoot?.account_id ||\n  memoryPayloadUltimaResposta.chatwoot?.account_id ||\n  latestAnyMessage?.account_id ||\n  0\n);\n\nconst inboxId = Number(\n  fup.inbox_id ||\n  fupChatwoot.inbox_id ||\n  memoryPayloadUltimaResposta.chatwoot?.inbox_id ||\n  crmSnapshot.chatwoot?.inbox_id ||\n  latestAnyMessage?.inbox_id ||\n  0\n);\n\nconst conversationId = Number(\n  fup.conversation_id ||\n  fupChatwoot.conversation_id ||\n  memory.conversation_id_chatwoot ||\n  memoryDadosOrigem.conversation_id_chatwoot ||\n  crmSnapshot.chatwoot?.conversation_id ||\n  memoryPayloadUltimaResposta.chatwoot?.conversation_id ||\n  latestAnyMessage?.conversation_id ||\n  0\n);\n\nconst contactId = Number(\n  fup.contact_id ||\n  fupChatwoot.contact_id ||\n  memory.contact_id_chatwoot ||\n  memoryDadosOrigem.contact_id_chatwoot ||\n  crmSnapshot.chatwoot?.contact_id ||\n  memoryPayloadUltimaResposta.chatwoot?.contact_id ||\n  0\n);\n\nconst phone = clean(\n  fup.phone ||\n  fupLead.phone ||\n  memory.phone ||\n  memoryResumoLead.tutor_telefone ||\n  fupResumoLead.tutor_telefone ||\n  crmSnapshotLead.phone ||\n  ''\n);\n\nconst leadName = clean(\n  fup.lead_name ||\n  fupLead.sender_name ||\n  memory.nome_tutor ||\n  memoryResumoLead.tutor_nome ||\n  fupResumoLead.tutor_nome ||\n  crmSnapshotLead.sender_name ||\n  latestLeadMessage?.sender_name ||\n  ''\n);\n\nconst labels = Array.isArray(fup.labels)\n  ? fup.labels.map(x => clean(x)).filter(Boolean)\n  : Array.isArray(fupChatwoot.labels)\n    ? fupChatwoot.labels.map(x => clean(x)).filter(Boolean)\n    : Array.isArray(memoryEtiquetas)\n      ? memoryEtiquetas.map(x => clean(x)).filter(Boolean)\n      : Array.isArray(memoryPayloadUltimaResposta.fup?.labels_finais)\n        ? memoryPayloadUltimaResposta.fup.labels_finais.map(x => clean(x)).filter(Boolean)\n        : [];\n\nconst chatHistoryUuid =\n  clean(memory.chat_history_uuid) ||\n  clean(fupChatwoot.chat_history_uuid) ||\n  clean(crmSnapshot.chatwoot?.chat_history_uuid) ||\n  `account:${accountId}-contact:${contactId}-conversation:${conversationId}-phone:${phone}`;\n\nconst statusLead = normalizeStatus(\n  memory.status_lead ||\n  fupInputs.status_lead ||\n  crmSnapshotInputs.status_lead ||\n  memoryPayloadUltimaResposta.inputs?.status_lead ||\n  ''\n);\n\nconst ultimaIntencao = normalizeIntent(\n  memory.ultima_intencao ||\n  fupInputs.ultima_intencao ||\n  crmSnapshotInputs.ultima_intencao ||\n  memoryPayloadUltimaResposta.inputs?.ultima_intencao ||\n  ''\n);\n\nconst eventoSistema = normalizeEvent(\n  memory.evento_sistema_atual ||\n  fupInputs.evento_sistema ||\n  crmSnapshotInputs.evento_sistema ||\n  memoryPayloadUltimaResposta.inputs?.evento_sistema ||\n  ''\n);\n\nconst resumoLead = {\n  tutor_nome: normalizeTextValue(memoryResumoLead.tutor_nome || memory.nome_tutor || fupResumoLead.tutor_nome || leadName),\n  tutor_telefone: normalizeTextValue(memoryResumoLead.tutor_telefone || memory.phone || fupResumoLead.tutor_telefone || phone),\n\n  cao_nome: normalizeTextValue(memoryResumoLead.cao_nome || memory.nome_cao || fupResumoLead.cao_nome),\n  cao_idade_anos: normalizeTextValue(memoryResumoLead.cao_idade_anos || memory.idade_cao_anos || fupResumoLead.cao_idade_anos),\n  cao_idade_texto: normalizeTextValue(memoryResumoLead.cao_idade_texto || memory.idade_cao_texto || fupResumoLead.cao_idade_texto),\n  cao_raca: normalizeTextValue(memoryResumoLead.cao_raca || memory.cao_raca || fupResumoLead.cao_raca),\n  cao_porte: normalizeNaoDefinido(memoryResumoLead.cao_porte || memory.cao_porte || fupResumoLead.cao_porte),\n  cao_sexo: normalizeNaoInformado(memoryResumoLead.cao_sexo || memory.cao_sexo || fupResumoLead.cao_sexo),\n  cao_castrado: normalizeNaoInformado(memoryResumoLead.cao_castrado || memory.cao_castrado || fupResumoLead.cao_castrado),\n  cao_no_cio: normalizeNaoInformado(memoryResumoLead.cao_no_cio || memory.cao_no_cio || fupResumoLead.cao_no_cio),\n\n  cao_vacinas_ok: normalizeNaoInformado(memoryResumoLead.cao_vacinas_ok || memory.cao_vacinas_ok || fupResumoLead.cao_vacinas_ok),\n  cao_antipulgas_ok: normalizeNaoInformado(memoryResumoLead.cao_antipulgas_ok || memory.cao_antipulgas_ok || fupResumoLead.cao_antipulgas_ok),\n  cao_vermifugacao_ok: normalizeNaoInformado(memoryResumoLead.cao_vermifugacao_ok || memory.cao_vermifugacao_ok || fupResumoLead.cao_vermifugacao_ok),\n  cao_sociavel: normalizeNaoInformado(memoryResumoLead.cao_sociavel || memory.cao_sociavel || fupResumoLead.cao_sociavel),\n  cao_reativo: normalizeNaoInformado(memoryResumoLead.cao_reativo || memory.cao_reativo || fupResumoLead.cao_reativo),\n  possui_relatorio_veterinario: normalizeNaoInformado(memoryResumoLead.possui_relatorio_veterinario || memory.possui_relatorio_veterinario || fupResumoLead.possui_relatorio_veterinario),\n\n  unidade_preferida: normalizeNaoDefinido(memoryResumoLead.unidade_preferida || memory.unidade_preferida || fupResumoLead.unidade_preferida),\n  servico_interesse: normalizeNaoDefinido(memoryResumoLead.servico_interesse || memory.servico_interesse || fupResumoLead.servico_interesse),\n\n  periodo_desejado: normalizeTextValue(memoryResumoLead.periodo_desejado || memory.periodo_desejado || fupResumoLead.periodo_desejado),\n  data_desejada: normalizeTextValue(memoryResumoLead.data_desejada || memory.data_desejada || fupResumoLead.data_desejada),\n  data_checkin_desejada: normalizeTextValue(memoryResumoLead.data_checkin_desejada || memory.data_checkin_desejada || fupResumoLead.data_checkin_desejada),\n  data_checkout_desejada: normalizeTextValue(memoryResumoLead.data_checkout_desejada || memory.data_checkout_desejada || fupResumoLead.data_checkout_desejada),\n\n  origem_lead: normalizeTextValue(memoryResumoLead.origem_lead || memory.origem_lead || fupResumoLead.origem_lead || fup.origem),\n  comprovante_recebido: toBool(memoryResumoLead.comprovante_recebido ?? memory.comprovante_recebido ?? fupResumoLead.comprovante_recebido, false),\n  tipo_comprovante: normalizeNaoInformado(memoryResumoLead.tipo_comprovante || memory.tipo_comprovante || fupResumoLead.tipo_comprovante),\n\n  arquivo_comprovante_referencia: normalizeTextValue(memoryResumoLead.arquivo_comprovante_referencia || memory.arquivo_comprovante_referencia || fupResumoLead.arquivo_comprovante_referencia),\n  data_hora_avaliacao: normalizeTextValue(memoryResumoLead.data_hora_avaliacao || memory.data_hora_avaliacao || fupResumoLead.data_hora_avaliacao),\n  data_hora_pre_reserva: normalizeTextValue(memoryResumoLead.data_hora_pre_reserva || memory.data_hora_pre_reserva || fupResumoLead.data_hora_pre_reserva),\n  responsavel_humano: normalizeTextValue(memoryResumoLead.responsavel_humano || memory.responsavel_humano || fupResumoLead.responsavel_humano),\n  observacoes: normalizeTextValue(memoryResumoLead.observacoes || fupResumoLead.observacoes)\n};\n\nconst resumoInternoRepasse = {\n  repassar_para: normalizeTextValue(memoryResumoRepasse.repassar_para || fupResumoRepasse.repassar_para),\n  motivo: normalizeTextValue(memoryResumoRepasse.motivo || fupResumoRepasse.motivo || memory.motivo_repasse),\n\n  tutor_nome: resumoLead.tutor_nome,\n  tutor_telefone: resumoLead.tutor_telefone,\n  cao_nome: resumoLead.cao_nome,\n  cao_idade_anos: resumoLead.cao_idade_anos,\n  cao_raca: resumoLead.cao_raca,\n  cao_porte: resumoLead.cao_porte,\n  cao_sexo: resumoLead.cao_sexo,\n  cao_castrado: resumoLead.cao_castrado,\n  cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n  cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n  cao_sociavel: resumoLead.cao_sociavel,\n  cao_reativo: resumoLead.cao_reativo,\n  unidade_preferida: resumoLead.unidade_preferida,\n  servico_interesse: resumoLead.servico_interesse,\n\n  data_hora_avaliacao: normalizeTextValue(memoryResumoRepasse.data_hora_avaliacao || memory.data_hora_avaliacao || fupResumoRepasse.data_hora_avaliacao),\n  comprovante_recebido: resumoLead.comprovante_recebido,\n  tipo_comprovante: resumoLead.tipo_comprovante,\n  observacoes: normalizeTextValue(memoryResumoRepasse.observacoes || fupResumoRepasse.observacoes || resumoLead.observacoes)\n};\n\n/*\n  Correção principal:\n  O payload antigo do FUP salva o last_message_id em:\n  payload_ultima_resposta_json.crm.message.last_message_id\n\n  O código anterior não lia esse caminho.\n*/\nconst currentMessageId = [\n  crmSnapshotMessage.last_message_id,\n  latestAnyMessage?.id,\n  memory.last_processed_message_id,\n  fup.current_message_id,\n  fupChatwoot.message_id,\n  fupMessage.id,\n  crmSnapshotMessage.current_message_id,\n  crmSnapshot.chatwoot?.message_id,\n  memoryPayloadUltimaResposta.chatwoot?.message_id,\n  memoryPayloadUltimaResposta.message?.current_message_id,\n  memoryPayloadUltimaResposta.message?.message_id,\n  latestLeadMessage?.id\n].map(toNum).find(n => n > 0) || 0;\n\nconst precisaBuscarHistorico = !currentMessageId && !!accountId && !!conversationId;\n\nif (!currentMessageId && !precisaBuscarHistorico) {\n  throw new Error(\n    `Monta Payload CRM com Memory bloqueado: sem message_id e sem IDs suficientes para buscar histórico. ` +\n    `lead_id=${memory.id || ''}, phone=${phone}, account_id=${accountId}, conversation_id=${conversationId}`\n  );\n}\n\nconst currentMessageObject = currentMessageId\n  ? (\n      chatwootMessages.find(m => Number(m.id) === Number(currentMessageId)) ||\n      latestAnyMessage ||\n      latestLeadMessage ||\n      null\n    )\n  : null;\n\nconst currentMessageContent = precisaBuscarHistorico\n  ? '[FUP_AUTOMATICO_SEM_MESSAGE_ID] Lead selecionado para follow-up automático. Buscar histórico completo no Chatwoot por account_id e conversation_id antes de reconstruir o CRM.'\n  : clean(\n      currentMessageObject?.content ||\n      crmSnapshotMessage.content ||\n      crmSnapshotMessage.current_lead_block_text ||\n      memory.mensagem_ultima_lead ||\n      memory.mensagem_ultima_bruna ||\n      fupMessage.content ||\n      '[FUP_AUTOMATICO] Lead travado selecionado para follow-up automático. Use o histórico consolidado como fonte principal.'\n    );\n\nconst messageType = precisaBuscarHistorico\n  ? 'system_event'\n  : currentMessageObject\n    ? (isLeadMessage(currentMessageObject) ? 'incoming' : 'outgoing')\n    : 'incoming';\n\nconst lastLeadText = clean(\n  latestLeadMessage?.content ||\n  memory.mensagem_ultima_lead ||\n  crmSnapshotInputs?.diagnostico_crm?.ultima_mensagem_relevante_lead ||\n  ''\n);\n\nconst lastBrunaMessage = clean(\n  memory.mensagem_ultima_bruna ||\n  latestOutgoingMessage?.content ||\n  crmSnapshotInputs?.diagnostico_crm?.ultima_mensagem_relevante_bruna ||\n  crmSnapshotMessage.last_bruna_message_before_current_block ||\n  ''\n);\n\nconst payloadBase = {\n  gatilho: fup.gatilho || 'FUP_AUTOMATICO',\n  trigger_event: clean(fup.trigger_event || fup.event || fupChatwoot.event || 'cron.daily_08h'),\n  agent_name: 'Bruna',\n  nome_agente: 'Bruna',\n  should_reply: true,\n\n  account_id: accountId,\n  inbox_id: inboxId,\n  conversation_id: conversationId,\n  contact_id: contactId,\n  current_message_id: currentMessageId || null,\n  precisa_buscar_historico: precisaBuscarHistorico,\n  fup_automatico_sem_message_id: precisaBuscarHistorico,\n  \n  phone,\n  lead_name: leadName,\n  can_reply: toBool(fup.can_reply ?? fupChatwoot.can_reply, true),\n  conversation_status: normalizeTextValue(fup.conversation_status || fupChatwoot.conversation_status, 'open'),\n\n  labels,\n\n  origem: normalizeTextValue(fup.origem || fupLead.entry_channel || memory.origem_detalhada || memory.origem_lead),\n  anuncio: normalizeTextValue(fup.anuncio || fupLead.anuncio),\n  sender_identifier: normalizeTextValue(fup.sender_identifier || fupLead.sender_identifier),\n  contact_last_seen_at: fup.contact_last_seen_at || null,\n  last_activity_at: fup.last_activity_at || memory.data_ultima_interacao || memory.atualizado_em || null,\n\n  inputs: {\n    status_lead: statusLead,\n    ultima_intencao: ultimaIntencao,\n    evento_sistema: eventoSistema,\n    mensagens_resposta: [],\n\n    resumo_lead: resumoLead,\n\n    proxima_acao:\n      normalizeTextValue(crmSnapshotInputs.proxima_acao || memoryPayloadUltimaResposta.inputs?.proxima_acao || fupInputs.proxima_acao) ||\n      'Gerar follow-up com base no histórico consolidado e no estado atual reconstruído pelo CRM.',\n\n    deve_repassar_humano: toBool(memory.deve_repassar_humano ?? fupInputs.deve_repassar_humano, false),\n    motivo_repasse: normalizeTextValue(memory.motivo_repasse || fupInputs.motivo_repasse),\n    deve_enviar_guia: toBool(memory.guia_enviado ?? fupInputs.deve_enviar_guia, false),\n    deve_solicitar_pagamento: false,\n    deve_consultar_agenda: false,\n    deve_criar_pre_reserva: false,\n    deve_encerrar_conversa: false,\n\n    resumo_interno_repasse: resumoInternoRepasse,\n\n    is_first_turn: false,\n    interpreted_message: 'text_message',\n    interpreted_modality: 'text_only',\n    interpreted_status: 'ok',\n    supported_input: true,\n\n    versao_regras_negocio: normalizeTextValue(memory.versao_regras_negocio || fupInputs.versao_regras_negocio, 'v1'),\n    versao_contrato_payload: normalizeTextValue(memory.versao_contrato_payload || fupInputs.versao_contrato_payload, 'v1')\n  },\n\n  memory: {\n    ...memory,\n\n    phone,\n    nome_tutor: resumoLead.tutor_nome,\n    email_tutor: normalizeTextValue(memory.email_tutor),\n    nome_cao: resumoLead.cao_nome,\n    idade_cao_anos: resumoLead.cao_idade_anos,\n    idade_cao_texto: resumoLead.cao_idade_texto,\n    cao_raca: resumoLead.cao_raca,\n    cao_porte: resumoLead.cao_porte,\n    cao_sexo: resumoLead.cao_sexo,\n    cao_castrado: resumoLead.cao_castrado,\n    cao_no_cio: resumoLead.cao_no_cio,\n    cao_vacinas_ok: resumoLead.cao_vacinas_ok,\n    cao_antipulgas_ok: resumoLead.cao_antipulgas_ok,\n    cao_vermifugacao_ok: resumoLead.cao_vermifugacao_ok,\n    cao_sociavel: resumoLead.cao_sociavel,\n    cao_reativo: resumoLead.cao_reativo,\n    possui_relatorio_veterinario: resumoLead.possui_relatorio_veterinario,\n    unidade_preferida: resumoLead.unidade_preferida,\n    servico_interesse: resumoLead.servico_interesse,\n    status_lead: statusLead,\n    ultima_intencao: ultimaIntencao,\n    evento_sistema_atual: eventoSistema,\n    resumo_lead_json: resumoLead,\n    resumo_interno_repasse_json: resumoInternoRepasse,\n    account_id_chatwoot: accountId,\n    contact_id_chatwoot: contactId,\n    conversation_id_chatwoot: conversationId,\n    chat_history_uuid: chatHistoryUuid\n  },\n\n  chatwoot: {\n    chat_history_uuid: chatHistoryUuid,\n    labels,\n    system_event: eventoSistema,\n    account_id: accountId,\n    contact_id: contactId,\n    message_id: currentMessageId || null,\n    precisa_buscar_historico: precisaBuscarHistorico,\n    conversation_id: conversationId,\n    event: fup.origem_fup === 'automatico_cron_mysql' ? 'cron.daily_08h' : 'macro.executed',\n    inbox_id: inboxId,\n    can_reply: toBool(fup.can_reply ?? fupChatwoot.can_reply, true),\n    conversation_status: normalizeTextValue(fup.conversation_status || fupChatwoot.conversation_status, 'open')\n  },\n\n  message: {\n    id: currentMessageId || null,\n    message_id: currentMessageId || null,\n    current_message_id: currentMessageId || null,\n    precisa_buscar_historico: precisaBuscarHistorico,\n    fup_automatico_sem_message_id: precisaBuscarHistorico,\n\n    message_modality: clean(currentMessageObject?.message_modality || 'text_only'),\n    has_text: !!currentMessageContent,\n    has_attachment: toBool(currentMessageObject?.has_attachment, false),\n    private: toBool(currentMessageObject?.private, false),\n    type: messageType,\n\n    content: currentMessageContent,\n    content_raw: currentMessageContent,\n    processed_message_content: currentMessageContent,\n\n    data_url: currentMessageObject?.data_url || null,\n    source_id: clean(currentMessageObject?.source_id || ''),\n    created_at: currentMessageObject?.created_at || memory.data_ultima_mensagem_lead || memory.data_ultima_mensagem_bruna || fupMessage.created_at || null,\n    content_type: clean(currentMessageObject?.content_type || 'text'),\n    attachment: Array.isArray(currentMessageObject?.attachments) && currentMessageObject.attachments.length\n      ? currentMessageObject.attachments[0]\n      : null,\n\n    last_bruna_message_before_current_block: lastBrunaMessage,\n    current_lead_block_text: precisaBuscarHistorico ? '' : (lastLeadText || currentMessageContent),\n    history_for_crm: clean(crmSnapshotMessage.history_for_crm || memoryPayloadUltimaResposta.message?.history_for_crm || ''),\n    historico: 'historico',\n    first_message_id: toNum(crmSnapshotMessage.first_message_id),\n    last_message_id: toNum(crmSnapshotMessage.last_message_id) || currentMessageId,\n    sem_mensagem_do_lead: precisaBuscarHistorico,\n    formulario_sem_resposta: precisaBuscarHistorico,\n  },\n\n  lead: {\n    sender_name: leadName,\n    phone,\n    sender_identifier: normalizeTextValue(fup.sender_identifier || fupLead.sender_identifier),\n    entry_channel: normalizeTextValue(fup.origem || fupLead.entry_channel || memory.origem_detalhada || memory.origem_lead),\n    anuncio: normalizeTextValue(fup.anuncio || fupLead.anuncio),\n    link_rastreavel: normalizeTextValue(fupLead.link_rastreavel),\n    utms: memoryPayloadUltimaResposta.lead?.utms || memoryDadosOrigem.utms || {},\n    sender_type: 'contact'\n  },\n\n  raw_fup_normalizado: fup\n};\n\nreturn [\n  {\n    json: {\n      account_id: accountId,\n      conversation_id: conversationId,\n      current_message_id: currentMessageId || null,\n      precisa_buscar_historico: precisaBuscarHistorico,\n      fup_automatico_sem_message_id: precisaBuscarHistorico,\n      contact_id: contactId,\n      inbox_id: inboxId,\n      phone,\n      lead_name: leadName,\n\n      fup,\n      memory,\n\n      payload_base: payloadBase,\n\n      monta_payload_crm_debug: {\n        ok: true,\n        node: 'Monta Payload CRM com Memory',\n        account_id: accountId,\n        conversation_id: conversationId,\n        contact_id: contactId,\n        inbox_id: inboxId,\n        phone,\n        current_message_id: currentMessageId || null,\n        precisa_buscar_historico: precisaBuscarHistorico,\n        fup_automatico_sem_message_id: precisaBuscarHistorico,\n        current_message_type: messageType,\n        current_message_content_preview: currentMessageContent.slice(0, 180),\n        latest_any_message_id: latestAnyMessage?.id || null,\n        latest_lead_message_id: latestLeadMessage?.id || null,\n        crm_snapshot_last_message_id: crmSnapshotMessage.last_message_id || null,\n        status_lead: statusLead,\n        ultima_intencao: ultimaIntencao,\n        evento_sistema: eventoSistema,\n        contador_followup: Number(memory.contador_followup || 0),\n        tipo_ultimo_followup: normalizeTextValue(memory.tipo_ultimo_followup),\n        ultimo_followup_em: memory.ultimo_followup_em || null,\n        usou_memory: !!memory.id,\n        usou_payload_ultima_resposta_crm: !!memoryPayloadUltimaResposta.crm\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,436],"id":"f1ed14f6-341d-4256-b74b-248529b0869c","name":"Monta Payload CRM com Memory"},{"parameters":{"jsCode":"const crmRoot = $('Gera Resumo Histórico Longo').first().json || {};\nconst crm = crmRoot.inputs || {};\nconst crmMessage = crmRoot.message || {};\nconst crmChatwoot = crmRoot.chatwoot || {};\nconst crmMemory = crmRoot.memory || {};\nconst crmLead = crmRoot.lead || {};\n\nconst memory = (() => {\n  try {\n    return $('Get Memory').first()?.json || crmMemory || {};\n  } catch (e) {\n    return crmMemory || {};\n  }\n})();\n\nconst norm = (() => {\n  try {\n    return $('Normaliza Entrada FUP').first()?.json || {};\n  } catch (e) {\n    return {};\n  }\n})();\n\nconst cfg = $('CONFIG REGRAS FUP').first().json || {};\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value)\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .trim();\n}\n\nfunction normText(value) {\n  return clean(value)\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase();\n}\n\nfunction toNum(value) {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? n : 0;\n}\n\nfunction getChatwootMessages(root) {\n  const candidates = [\n    root.chatwoot?.chatwoot_messages,\n    root.chatwoot_messages,\n    root.message?.chatwoot_messages,\n    root.payload_base?.chatwoot?.chatwoot_messages,\n    root.payload_base?.crm?.chatwoot?.chatwoot_messages,\n    root.crm?.chatwoot?.chatwoot_messages,\n    root.raw?.chatwoot_messages,\n    root.raw?.payload,\n    root.payload,\n    root.messages,\n    root.data\n  ];\n\n  for (const c of candidates) {\n    if (Array.isArray(c)) return c;\n  }\n\n  return [];\n}\n\nfunction sortMessages(messages) {\n  return [...messages]\n    .filter(m => toNum(m?.id))\n    .sort((a, b) => {\n      const ca = Number(a.created_at || 0);\n      const cb = Number(b.created_at || 0);\n\n      if (ca !== cb) return ca - cb;\n\n      return Number(a.id || 0) - Number(b.id || 0);\n    });\n}\n\nfunction isLeadMessage(msg) {\n  const role = normText(msg.role);\n  const roleLabel = normText(msg.role_label);\n  const senderType = normText(msg.sender_type);\n  const senderOriginalType = normText(msg.sender_original_type);\n  const messageType = Number(msg.message_type ?? msg.original_message_type);\n\n  return (\n    role === 'lead' ||\n    roleLabel === 'lead' ||\n    senderType === 'contact' ||\n    senderOriginalType === 'contact' ||\n    messageType === 0\n  );\n}\n\nfunction isOutgoingMessage(msg) {\n  const role = normText(msg.role);\n  const senderType = normText(msg.sender_type);\n  const senderOriginalType = normText(msg.sender_original_type);\n  const messageType = Number(msg.message_type ?? msg.original_message_type);\n\n  return (\n    role === 'bruna' ||\n    role === 'humano' ||\n    senderType === 'user' ||\n    senderOriginalType === 'user' ||\n    messageType === 1\n  );\n}\n\n/* ============================================================\n   1. RESOLVE ÂNCORA DO CRM PARA FUP\n   ============================================================ */\n\nconst chatwootMessages = sortMessages(getChatwootMessages(crmRoot));\n\nconst latestAnyMessage = chatwootMessages.length\n  ? chatwootMessages[chatwootMessages.length - 1]\n  : null;\n\nconst latestLeadMessage = [...chatwootMessages].reverse().find(isLeadMessage) || null;\nconst latestOutgoingMessage = [...chatwootMessages].reverse().find(isOutgoingMessage) || null;\n\nconst currentMessageIdOriginal = toNum(\n  crmRoot.current_message_id ||\n  crmMessage.current_message_id ||\n  crmMessage.message_id ||\n  crmMessage.id ||\n  crmChatwoot.message_id ||\n  norm.current_message_id ||\n  norm.chatwoot?.message_id\n);\n\nconst resolvedMessageId =\n  currentMessageIdOriginal ||\n  toNum(latestLeadMessage?.id) ||\n  toNum(latestAnyMessage?.id) ||\n  0;\n\nconst sinalSemMessageId =\n  crmRoot.precisa_buscar_historico === true ||\n  crmRoot.fup_automatico_sem_message_id === true ||\n  crmMessage.precisa_buscar_historico === true ||\n  crmMessage.fup_automatico_sem_message_id === true ||\n  crmMessage.formulario_sem_resposta === true ||\n  crmMessage.sem_mensagem_do_lead === true ||\n  norm.precisa_buscar_historico === true ||\n  norm.fup_automatico_sem_message_id === true ||\n  norm.message?.formulario_sem_resposta === true ||\n  norm.message?.sem_mensagem_do_lead === true;\n\nconst contentNorm = normText(\n  crmMessage.content ||\n  crmMessage.content_raw ||\n  crmMessage.processed_message_content ||\n  ''\n);\n\nconst sinalTextoTecnico =\n  contentNorm.includes('formulario_sem_resposta') ||\n  contentNorm.includes('fup_automatico_sem_message_id') ||\n  contentNorm.includes('buscar historico completo');\n\nconst temHistoricoArray = chatwootMessages.length > 0;\nconst temMensagemLeadNoHistorico = !!latestLeadMessage?.id;\nconst temMensagemOutgoingNoHistorico = !!latestOutgoingMessage?.id;\n\nconst formularioSemResposta =\n  crmMessage.formulario_sem_resposta === true ||\n  crmMessage.sem_mensagem_do_lead === true ||\n  sinalTextoTecnico ||\n  (\n    sinalSemMessageId &&\n    temHistoricoArray &&\n    !temMensagemLeadNoHistorico &&\n    temMensagemOutgoingNoHistorico\n  );\n\nconst semMensagemDoLead = formularioSemResposta;\n\nconst anchorMessage =\n  resolvedMessageId\n    ? (\n        chatwootMessages.find(m => Number(m.id) === Number(resolvedMessageId)) ||\n        latestAnyMessage ||\n        null\n      )\n    : null;\n\nconst lastLeadText = semMensagemDoLead\n  ? ''\n  : clean(\n      latestLeadMessage?.content ||\n      memory.mensagem_ultima_lead ||\n      crmMessage.current_lead_block_text ||\n      crmMessage.content_raw ||\n      ''\n    );\n\nconst lastBrunaMessage = clean(\n  memory.mensagem_ultima_bruna ||\n  latestOutgoingMessage?.content ||\n  crmMessage.last_bruna_message_before_current_block ||\n  ''\n);\n\nconst resolvedMessageContent = semMensagemDoLead\n  ? '[FORMULARIO_SEM_RESPOSTA] Lead entrou por formulário/anúncio, recebeu a primeira abordagem e ainda não respondeu.'\n  : clean(\n      anchorMessage?.content ||\n      crmMessage.content ||\n      crmMessage.content_raw ||\n      crmMessage.current_lead_block_text ||\n      lastLeadText ||\n      ''\n    );\n\nconst resolvedMessageType = semMensagemDoLead\n  ? 'outgoing'\n  : anchorMessage\n    ? (isLeadMessage(anchorMessage) ? 'incoming' : 'outgoing')\n    : clean(crmMessage.type || 'incoming');\n\nconst crmMessageResolvida = {\n  ...crmMessage,\n\n  id: resolvedMessageId || crmMessage.id || null,\n  message_id: resolvedMessageId || crmMessage.message_id || null,\n  current_message_id: resolvedMessageId || crmMessage.current_message_id || null,\n\n  type: resolvedMessageType,\n\n  content: resolvedMessageContent || crmMessage.content || '',\n  content_raw: resolvedMessageContent || crmMessage.content_raw || '',\n  processed_message_content: resolvedMessageContent || crmMessage.processed_message_content || '',\n\n  current_lead_block_text: semMensagemDoLead ? '' : (lastLeadText || resolvedMessageContent || ''),\n  last_bruna_message_before_current_block: lastBrunaMessage,\n\n  first_message_id: toNum(crmMessage.first_message_id) || toNum(chatwootMessages[0]?.id) || null,\n  last_message_id: toNum(crmMessage.last_message_id) || toNum(latestAnyMessage?.id) || resolvedMessageId || null,\n\n  sem_mensagem_do_lead: semMensagemDoLead,\n  formulario_sem_resposta: formularioSemResposta,\n\n  anchor_resolvida_no_fup: true\n};\n\nconst crmRootResolvido = {\n  ...crmRoot,\n  current_message_id: resolvedMessageId || crmRoot.current_message_id || null,\n  message: crmMessageResolvida,\n  chatwoot: {\n    ...crmChatwoot,\n    message_id: resolvedMessageId || crmChatwoot.message_id || null,\n    chatwoot_messages: chatwootMessages.length\n      ? chatwootMessages\n      : crmChatwoot.chatwoot_messages\n  },\n  resolve_ancora_fup_debug: {\n    ok: true,\n    current_message_id_original: currentMessageIdOriginal || null,\n    resolved_message_id: resolvedMessageId || null,\n    latest_any_message_id: latestAnyMessage?.id || null,\n    latest_lead_message_id: latestLeadMessage?.id || null,\n    latest_outgoing_message_id: latestOutgoingMessage?.id || null,\n    sem_mensagem_do_lead: semMensagemDoLead,\n    formulario_sem_resposta: formularioSemResposta,\n    resolved_message_type: resolvedMessageType,\n    resolved_message_preview: resolvedMessageContent.slice(0, 180)\n  }\n};\n\n/* ============================================================\n   2. BASES DO FUP\n   ============================================================ */\n\nconst labels = Array.isArray(crmChatwoot.labels)\n  ? crmChatwoot.labels.map(x => clean(x).toLowerCase()).filter(Boolean)\n  : Array.isArray(norm.labels)\n    ? norm.labels.map(x => clean(x).toLowerCase()).filter(Boolean)\n    : [];\n\nconst statusBase = clean(crm.status_lead || memory.status_lead || 'QUALIFICANDO');\nconst intencaoBase = clean(crm.ultima_intencao || memory.ultima_intencao || 'SUMIU');\nconst eventoBase = clean(crm.evento_sistema || memory.evento_sistema_atual || '');\n\nconst contadorFollowup = Number(\n  memory.contador_followup ||\n  crmMemory.contador_followup ||\n  norm.contador_followup ||\n  0\n);\n\nconst tipoUltimoFollowup = clean(\n  memory.tipo_ultimo_followup ||\n  crmMemory.tipo_ultimo_followup ||\n  norm.tipo_ultimo_followup ||\n  ''\n);\n\nconst ultimoFollowupEm =\n  memory.ultimo_followup_em ||\n  crmMemory.ultimo_followup_em ||\n  norm.ultimo_followup_em ||\n  null;\n\nconst tiposFup = Array.isArray(cfg.tipos_followup) ? cfg.tipos_followup : [];\nconst maxFollowups = Number(cfg.max_followups || 5);\nconst bloquearAposLimite = cfg.bloquear_apos_limite !== false;\n\nconst limiteFollowupAtingido = contadorFollowup >= maxFollowups;\n\nconst bloqueiaPorLabel =\n  labels.some(l => l.includes('cliente')) ||\n  labels.some(l => l.includes('humano')) ||\n  labels.some(l => l.includes('flavia')) ||\n  labels.some(l => l.includes('transferido-flavia')) ||\n  labels.some(l => l.includes('sem-fup')) ||\n  labels.some(l => l.includes('nao-fazer-fup')) ||\n  labels.some(l => l.includes('não-fazer-fup')) ||\n  labels.some(l => l.includes('fup-bruna-bloqueado'));\n\nconst bloqueiaPorStatus = [\n  'TRANSFERIDO_FLAVIA',\n  'COMPROVANTE_RECEBIDO',\n  'ENCERRADO_NAO_PERFIL',\n  'ENCERRADO'\n].includes(statusBase);\n\nconst conversationStatus = clean(\n  crmChatwoot.conversation_status ||\n  norm.conversation_status ||\n  'open'\n).toLowerCase();\n\nconst idsOk =\n  !!Number(crmChatwoot.account_id || norm.account_id || memory.account_id_chatwoot || 0) &&\n  !!Number(crmChatwoot.conversation_id || norm.conversation_id || memory.conversation_id_chatwoot || 0);\n\nconst phoneOk = !!clean(\n  crmLead.phone ||\n  memory.phone ||\n  norm.phone ||\n  crm.resumo_lead?.tutor_telefone ||\n  ''\n);\n\nconst shouldReplyOk =\n  crmRoot.should_reply !== false &&\n  norm.should_reply !== false;\n\nconst conversaAbertaOk =\n  !conversationStatus || conversationStatus === 'open';\n\nconst motivosBloqueio = [];\n\nif (limiteFollowupAtingido && bloquearAposLimite) {\n  motivosBloqueio.push(`Limite de follow-ups atingido. contador_followup=${contadorFollowup}, max_followups=${maxFollowups}`);\n}\n\nif (bloqueiaPorLabel) {\n  motivosBloqueio.push('Conversa possui label de bloqueio/humano/cliente/sem-fup.');\n}\n\nif (bloqueiaPorStatus) {\n  motivosBloqueio.push(`Status bloqueado para FUP: ${statusBase}`);\n}\n\nif (!idsOk) {\n  motivosBloqueio.push('IDs obrigatórios ausentes: account_id ou conversation_id.');\n}\n\nif (!phoneOk) {\n  motivosBloqueio.push('Telefone ausente.');\n}\n\nif (!shouldReplyOk) {\n  motivosBloqueio.push('should_reply=false.');\n}\n\nif (!conversaAbertaOk) {\n  motivosBloqueio.push(`Conversa não está aberta: ${conversationStatus}`);\n}\n\nif (sinalSemMessageId && !resolvedMessageId && !clean(crmMessage.history_for_crm)) {\n  motivosBloqueio.push('Histórico não retornou mensagem real nem history_for_crm suficiente para FUP.');\n}\n\nconst podeGerarFup = motivosBloqueio.length === 0;\n\nconst proximoNumeroFup = limiteFollowupAtingido\n  ? maxFollowups\n  : Math.min(contadorFollowup + 1, maxFollowups);\n\nconst tipoCfg = tiposFup.find(t => Number(t.numero) === proximoNumeroFup) || tiposFup[0] || {\n  tipo: 'FUP_1_RETOMADA_LEVE',\n  tag: 'fup-bruna-1',\n  estrategia_padrao: 'RETOMADA_LEVE',\n  objetivo_padrao: 'retomar a conversa com baixa fricção',\n  tom_padrao: 'leve, humano e direto'\n};\n\nlet tipoFollowupSugerido = tipoCfg.tipo;\nlet estrategia = tipoCfg.estrategia_padrao;\nlet objetivo = tipoCfg.objetivo_padrao;\nlet tom = tipoCfg.tom_padrao;\n\n/* ============================================================\n   3. ESTRATÉGIA\n   ============================================================ */\n\nif (formularioSemResposta) {\n  estrategia = 'RETOMADA_FORMULARIO_SEM_RESPOSTA';\n  objetivo = 'retomar o interesse de um lead que veio por formulário/anúncio e ainda não respondeu a primeira abordagem';\n  tom = 'leve, cordial e direto';\n} else {\n  if (statusBase === 'COLETANDO_DADOS') {\n    estrategia = 'RETOMAR_COLETA';\n    objetivo = 'retomar a coleta do próximo dado faltante sem parecer checklist';\n  }\n\n  if (statusBase === 'QUALIFICANDO') {\n    estrategia = 'RETOMADA_LEVE';\n    objetivo = 'reabrir a conversa e puxar o próximo passo com baixa fricção';\n  }\n\n  if (statusBase === 'PRE_REPROVADO') {\n    estrategia = 'DESTRAVAR_RESTRICAO';\n    objetivo = 'retomar a restrição atual com cuidado';\n    tom = 'cuidadoso e respeitoso';\n  }\n\n  if (statusBase === 'APTO_PARA_AVALIACAO') {\n    estrategia = 'DESTRAVAR_AVALIACAO';\n    objetivo = 'entender se o tutor quer seguir com a avaliação';\n    tom = 'consultivo e objetivo';\n  }\n\n  if (statusBase === 'AGUARDANDO_PAGAMENTO') {\n    estrategia = 'LEMBRAR_PAGAMENTO';\n    objetivo = 'retomar o próximo passo sem soar como cobrança dura';\n    tom = 'operacional leve';\n  }\n\n  if (statusBase === 'COMPROVANTE_RECEBIDO') {\n    estrategia = 'AGUARDAR_CONFERENCIA';\n    objetivo = 'reforçar que a equipe segue com conferência humana, sem prometer aprovação';\n    tom = 'tranquilo e operacional';\n  }\n\n  if (statusBase === 'TRANSFERIDO_FLAVIA') {\n    estrategia = 'NAO_INVASIVO_HUMANO';\n    objetivo = 'não atropelar atendimento humano, apenas deixar porta aberta se fizer sentido';\n    tom = 'muito breve e não invasivo';\n  }\n\n  if (statusBase === 'ENCERRADO_NAO_PERFIL') {\n    estrategia = 'PORTA_ABERTA_FUTURA';\n    objetivo = 'manter porta aberta para futuro sem contrariar a regra atual';\n    tom = 'respeitoso e elegante';\n  }\n\n  if (statusBase === 'ENCERRADO_SEM_RESPOSTA' || statusBase === 'ENCERRADO') {\n    estrategia = contadorFollowup >= (maxFollowups - 1) ? 'FECHAMENTO_ELEGANTE' : 'REATIVACAO_LEVE';\n    objetivo = contadorFollowup >= (maxFollowups - 1)\n      ? 'encerrar com elegância e sem insistência'\n      : 'reativar a conversa com suavidade';\n    tom = contadorFollowup >= (maxFollowups - 1) ? 'elegante e breve' : 'leve e amistoso';\n  }\n\n  if (intencaoBase === 'PEDIU_VALOR' || intencaoBase === 'OBJECAO_PRECO') {\n    estrategia = 'DESTRAVAR_DECISAO';\n    objetivo = 'destravar a decisão respeitando preço, dúvida ou comparação';\n    tom = 'consultivo e sem pressão';\n  }\n\n  if (intencaoBase === 'MACHO_NAO_CASTRADO') {\n    estrategia = statusBase === 'ENCERRADO_NAO_PERFIL'\n      ? 'PORTA_ABERTA_FUTURA'\n      : 'DESTRAVAR_RESTRICAO';\n\n    objetivo = statusBase === 'ENCERRADO_NAO_PERFIL'\n      ? 'manter porta aberta caso a castração aconteça no futuro'\n      : 'retomar a pergunta sobre intenção de castrar em breve';\n\n    tom = 'respeitoso e claro';\n  }\n\n  if (intencaoBase === 'RACA_POTENCIAL_DANO') {\n    estrategia = 'PORTA_ABERTA_FUTURA';\n    objetivo = 'encerrar com respeito, sem oferecer avaliação';\n    tom = 'respeitoso e firme';\n  }\n}\n\n/* ============================================================\n   4. RESTRIÇÕES E ALERTAS\n   ============================================================ */\n\nconst restricoes = [\n  'não usar abertura inicial completa',\n  'não se apresentar como se fosse primeiro atendimento do zero',\n  'não inventar agenda',\n  'não oferecer horário',\n  'não confirmar disponibilidade',\n  'não validar pagamento',\n  'não confirmar hospedagem',\n  'não contradizer o estado reconstruído pelo CRM',\n  'se message.type for outgoing, não tratar message.content como nova fala do lead'\n];\n\nif (formularioSemResposta) {\n  restricoes.push('não dizer que o lead sumiu depois de conversar, pois ele apenas não respondeu a primeira abordagem');\n  restricoes.push('não dizer que ele conseguiu ou não conseguiu reunir informações do cão, porque ele ainda não conversou');\n  restricoes.push('não mencionar histórico como se houvesse conversa ativa do lead');\n  restricoes.push('retomar o interesse vindo do formulário/anúncio de forma leve');\n  restricoes.push('pode dizer que viu que ele deixou contato ou pediu informações, se isso estiver coerente com a origem');\n}\n\nif (crm.deve_repassar_humano === true || labels.includes('transferido-flavia') || labels.includes('flavia') || labels.includes('humano')) {\n  restricoes.push('não atropelar atendimento humano');\n}\n\nif (crm.deve_consultar_agenda === true) {\n  restricoes.push('não inventar agenda nem horário');\n}\n\nif (crm.deve_criar_pre_reserva === true) {\n  restricoes.push('não confirmar operação interna nem pré-reserva');\n}\n\nif (crm.deve_solicitar_pagamento === true) {\n  restricoes.push('se mencionar pagamento, manter tom leve');\n}\n\nif (statusBase === 'ENCERRADO_NAO_PERFIL') {\n  restricoes.push('não oferecer avanço operacional incompatível com o perfil atual');\n}\n\nif (intencaoBase === 'MACHO_NAO_CASTRADO') {\n  restricoes.push('se estiver encerrado, só deixar porta aberta caso haja castração futura');\n}\n\nif (intencaoBase === 'RACA_POTENCIAL_DANO') {\n  restricoes.push('não sugerir exceção para raça com potencial de dano');\n}\n\nconst alertas = [];\n\nif (formularioSemResposta) {\n  alertas.push('lead_de_formulario_sem_resposta');\n}\n\nif (semMensagemDoLead) {\n  alertas.push('sem_mensagem_real_do_lead_no_historico');\n}\n\nif (sinalSemMessageId) {\n  alertas.push('entrada_original_sem_message_id_resolvida_por_historico');\n}\n\nif (tipoUltimoFollowup) {\n  alertas.push(`tipo_ultimo_followup=${tipoUltimoFollowup}`);\n}\n\nif (limiteFollowupAtingido) {\n  alertas.push(`limite_configurado_atingido=${maxFollowups}`);\n}\n\nif (labels.includes('01-em-atendimento') || labels.includes('01-bruna-atendimento')) {\n  alertas.push('conversa_com_label_de_atendimento');\n}\n\nif (crmMessageResolvida.type === 'outgoing') {\n  alertas.push('message_type_outgoing_no_contexto_do_crm');\n}\n\nif (crm?.diagnostico_crm?.humano_assumiu === true) {\n  alertas.push('diagnostico_crm_humano_assumiu=true');\n}\n\nconst motivoBloqueio = !podeGerarFup\n  ? motivosBloqueio.join(' | ')\n  : '';\n\nconst resumoLeadAtual = crm.resumo_lead || {};\nconst resumoInternoRepasse = crm.resumo_interno_repasse || {};\n\nconst guiaIa = [\n  `pode_gerar_fup=${podeGerarFup}`,\n  `motivo_bloqueio=${motivoBloqueio}`,\n  `status_base=${statusBase}`,\n  `ultima_intencao_base=${intencaoBase}`,\n  `evento_sistema_base=${eventoBase}`,\n  `contador_followup=${contadorFollowup}`,\n  `max_followups=${maxFollowups}`,\n  `proximo_numero_followup=${proximoNumeroFup}`,\n  `limite_followup_atingido=${limiteFollowupAtingido}`,\n  `tipo_ultimo_followup=${tipoUltimoFollowup}`,\n  `tipo_followup_sugerido=${tipoFollowupSugerido}`,\n  `estrategia_fup=${estrategia}`,\n  `objetivo_fup=${objetivo}`,\n  `tom=${tom}`,\n  `formulario_sem_resposta=${formularioSemResposta}`,\n  `sem_mensagem_do_lead=${semMensagemDoLead}`,\n  `anchor_message_id=${resolvedMessageId || ''}`,\n  `anchor_message_type=${crmMessageResolvida.type || ''}`,\n  `ultima_mensagem_real_lead=${lastLeadText}`,\n  `ultima_mensagem_real_bruna=${lastBrunaMessage}`,\n  `restricoes=${restricoes.join(' | ')}`,\n  `alertas=${alertas.join(' | ')}`\n].join('\\n');\n\n/* ============================================================\n   5. SAÍDA\n   ============================================================ */\n\nreturn [\n  {\n    json: {\n      pode_gerar_fup: podeGerarFup,\n      motivo_bloqueio: motivoBloqueio,\n\n      status_base: statusBase,\n      ultima_intencao_base: intencaoBase,\n      evento_sistema_base: eventoBase,\n\n      contador_followup_atual: contadorFollowup,\n      tipo_ultimo_followup: tipoUltimoFollowup,\n      ultimo_followup_em: ultimoFollowupEm,\n\n      max_followups: maxFollowups,\n      proximo_numero_followup: proximoNumeroFup,\n      limite_followup_atingido: limiteFollowupAtingido,\n\n      tipo_followup_sugerido: tipoFollowupSugerido,\n      estrategia_fup: estrategia,\n      objetivo_fup: objetivo,\n      recomendacao_tom: tom,\n      restricoes_fup: restricoes,\n      alertas_contexto: alertas,\n\n      formulario_sem_resposta: formularioSemResposta,\n      sem_mensagem_do_lead: semMensagemDoLead,\n\n      anchor_message_id: resolvedMessageId || null,\n      anchor_message_type: crmMessageResolvida.type || '',\n      ultima_mensagem_real_lead: lastLeadText,\n      ultima_mensagem_real_bruna: lastBrunaMessage,\n      message_resolvida: crmMessageResolvida,\n\n      resumo_lead_atual: resumoLeadAtual,\n      resumo_interno_repasse: resumoInternoRepasse,\n\n      contexto_operacional: {\n        pode_gerar_fup: podeGerarFup,\n        motivo_bloqueio: motivoBloqueio,\n\n        status_base: statusBase,\n        ultima_intencao_base: intencaoBase,\n        evento_sistema_base: eventoBase,\n\n        contador_followup_atual: contadorFollowup,\n        tipo_ultimo_followup: tipoUltimoFollowup,\n        ultimo_followup_em: ultimoFollowupEm,\n\n        max_followups: maxFollowups,\n        proximo_numero_followup: proximoNumeroFup,\n        limite_followup_atingido: limiteFollowupAtingido,\n\n        tipo_followup_sugerido: tipoFollowupSugerido,\n        estrategia_fup: estrategia,\n        objetivo_fup: objetivo,\n        recomendacao_tom: tom,\n\n        formulario_sem_resposta: formularioSemResposta,\n        sem_mensagem_do_lead: semMensagemDoLead,\n\n        anchor_message_id: resolvedMessageId || null,\n        anchor_message_type: crmMessageResolvida.type || '',\n        ultima_mensagem_real_lead: lastLeadText,\n        ultima_mensagem_real_bruna: lastBrunaMessage,\n\n        restricoes_fup: restricoes,\n        alertas_contexto: alertas,\n\n        resumo_lead_atual: resumoLeadAtual,\n        resumo_interno_repasse: resumoInternoRepasse,\n        message_resolvida: crmMessageResolvida\n      },\n\n      config_followup: cfg,\n\n      crm_snapshot: crmRootResolvido,\n      crm_snapshot_original: crmRoot,\n\n      guia_ia: guiaIa\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,436],"id":"237c6108-eee0-45ed-999b-e527d9d63568","name":"Preparar Contexto FUP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d6c175bc-9f54-4c2e-853a-f10b03217698","leftValue":"={{ $json.pode_gerar_fup === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1520,436],"id":"2806c6db-7194-477a-9b3e-21ac3768cd64","name":"IF Pode Gerar FUP"},{"parameters":{"jsCode":"const src = $('Gerador de FUP').first().json || {};\nconst ctx = $('Preparar Contexto FUP').first().json || {};\nconst cfg = $('CONFIG REGRAS FUP').first().json || {};\n\nconst rawCandidates = [\n  src.output,\n  src.text,\n  src.response,\n  src.content,\n  src.message?.content,\n  Array.isArray(src.messages) ? src.messages[0]?.content : undefined,\n  typeof src === 'string' ? src : undefined\n].filter(v => typeof v === 'string' && v.trim());\n\nlet raw = rawCandidates[0] || JSON.stringify(src);\nraw = String(raw).trim();\nraw = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error('Não foi encontrado JSON na saída do modelo. RAW: ' + raw);\n}\n\nlet jsonText = jsonMatch[0]\n  .replace(/[\\u201C\\u201D]/g, '\"')\n  .replace(/[\\u2018\\u2019]/g, \"'\")\n  .replace(/,\\s*([}\\]])/g, '$1')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  throw new Error('Falha ao fazer parse do JSON do modelo: ' + e.message + ' | RAW: ' + jsonText);\n}\n\nconst tiposConfig = Array.isArray(cfg.tipos_followup) ? cfg.tipos_followup : [];\n\nconst tiposValidos = tiposConfig.map(t => t.tipo).filter(Boolean);\n\nif (!tiposValidos.length) {\n  tiposValidos.push(\n    'FUP_1_RETOMADA_LEVE',\n    'FUP_2_DESTRAVA_OBJETIVO',\n    'FUP_3_REFORCO_VALOR',\n    'FUP_4_DECISAO_FINAL',\n    'FUP_5_FECHAMENTO_ELEGANTE'\n  );\n}\n\nconst statusValidos = [\n  'NOVO_LEAD',\n  'COLETANDO_DADOS',\n  'QUALIFICANDO',\n  'PRE_REPROVADO',\n  'APTO_PARA_AVALIACAO',\n  'AGUARDANDO_PAGAMENTO',\n  'COMPROVANTE_RECEBIDO',\n  'TRANSFERIDO_FLAVIA',\n  'ENCERRADO_NAO_PERFIL',\n  'ENCERRADO_SEM_RESPOSTA',\n  'ENCERRADO'\n];\n\nconst intencoesValidas = [\n  'INTERESSE_CRECHE',\n  'INTERESSE_HOTEL',\n  'PEDIU_VALOR',\n  'PEDIU_LOCALIZACAO',\n  'PEDIU_VISITA',\n  'INFORMOU_DADOS_CAO',\n  'INFORMOU_DADOS_TUTOR',\n  'ACEITOU_AVALIACAO',\n  'RECEBEU_PIX',\n  'ENVIOU_COMPROVANTE',\n  'PEDIU_HUMANO',\n  'MACHO_NAO_CASTRADO',\n  'RACA_POTENCIAL_DANO',\n  'URGENCIA_FERIADO',\n  'OBJECAO_PRECO',\n  'SUMIU'\n];\n\nconst defaultTagsAdd = {};\n\nfor (const t of tiposConfig) {\n  if (t.tipo && t.tag) {\n    defaultTagsAdd[t.tipo] = [t.tag];\n  }\n}\n\nif (!Object.keys(defaultTagsAdd).length) {\n  defaultTagsAdd.FUP_1_RETOMADA_LEVE = ['fup-bruna-1'];\n  defaultTagsAdd.FUP_2_DESTRAVA_OBJETIVO = ['fup-bruna-2'];\n  defaultTagsAdd.FUP_3_REFORCO_VALOR = ['fup-bruna-3'];\n  defaultTagsAdd.FUP_4_DECISAO_FINAL = ['fup-bruna-4'];\n  defaultTagsAdd.FUP_5_FECHAMENTO_ELEGANTE = ['fup-bruna-5'];\n}\n\nlet tipo_followup = String(parsed.tipo_followup || '').trim();\n\nif (!tiposValidos.includes(tipo_followup)) {\n  tipo_followup = ctx.tipo_followup_sugerido || 'FUP_1_RETOMADA_LEVE';\n}\n\nlet mensagens_resposta = [];\n\nif (Array.isArray(parsed.mensagens_resposta)) {\n  mensagens_resposta = parsed.mensagens_resposta\n    .map(x => String(x || '').trim())\n    .filter(Boolean)\n    .slice(0, 2);\n}\n\nif (!mensagens_resposta.length && typeof parsed.mensagens_resposta === 'string') {\n  mensagens_resposta = String(parsed.mensagens_resposta)\n    .split(/\\n{2,}/)\n    .map(x => x.trim())\n    .filter(Boolean)\n    .slice(0, 2);\n}\n\nif (!mensagens_resposta.length && typeof parsed.mensagem === 'string') {\n  mensagens_resposta = [String(parsed.mensagem).trim()].filter(Boolean);\n}\n\nlet pode_enviar = typeof parsed.pode_enviar === 'boolean'\n  ? parsed.pode_enviar\n  : mensagens_resposta.length > 0;\n\nif (ctx.pode_gerar_fup === false) {\n  pode_enviar = false;\n  mensagens_resposta = [];\n}\n\nlet status_lead_novo = String(parsed.status_lead_novo || '').trim();\n\nif (!statusValidos.includes(status_lead_novo)) {\n  status_lead_novo = statusValidos.includes(ctx.status_base)\n    ? ctx.status_base\n    : 'QUALIFICANDO';\n}\n\nlet ultima_intencao_nova = String(parsed.ultima_intencao_nova || '').trim();\n\nif (!intencoesValidas.includes(ultima_intencao_nova)) {\n  ultima_intencao_nova = 'SUMIU';\n}\n\nconst evento_sistema_novo = 'FOLLOWUP_DISPARADO';\n\nlet resumo_followup = String(parsed.resumo_followup || '').trim();\n\nif (!resumo_followup) {\n  resumo_followup = ctx.pode_gerar_fup === false\n    ? `Follow-up não enviado. ${ctx.motivo_bloqueio || 'Bloqueado por regra operacional.'}`\n    : `Follow-up ${tipo_followup} gerado pela Bruna.`;\n}\n\nlet tags_add = Array.isArray(parsed.tags_add)\n  ? parsed.tags_add.map(x => String(x || '').trim()).filter(Boolean)\n  : [];\n\nif (!tags_add.length && pode_enviar) {\n  tags_add = defaultTagsAdd[tipo_followup] || ['fup-bruna-1'];\n}\n\nlet tags_remove = Array.isArray(parsed.tags_remove)\n  ? parsed.tags_remove.map(x => String(x || '').trim()).filter(Boolean)\n  : [];\n\nconst tagsFollowup = Array.isArray(cfg.tags_followup) ? cfg.tags_followup : [];\nconst tagAtual = tags_add[0] || '';\n\ntags_remove = [\n  ...new Set([\n    ...tags_remove,\n    ...(tagsFollowup.filter(tag => tag !== tagAtual)),\n    cfg.tag_bloqueio || 'fup-bruna-bloqueado'\n  ])\n];\n\nif (!pode_enviar) {\n  mensagens_resposta = [];\n  tags_add = [];\n}\n\nconst mensagem_fup = mensagens_resposta.join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      pode_enviar,\n      tipo_followup,\n      mensagens_resposta,\n      mensagem_fup,\n      status_lead_novo,\n      ultima_intencao_nova,\n      evento_sistema_novo,\n      resumo_followup,\n      tags_add,\n      tags_remove,\n      contador_followup_atual: Number(ctx.contador_followup_atual || 0),\n      raw_model_output: raw\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,288],"id":"53a8d1d5-dbea-49fb-b720-594bf71a348c","name":"PARSE FUP JSON"},{"parameters":{"jsCode":"const fup = $('PARSE FUP JSON').first().json || {};\n\nconst crmRoot = $('Gera Resumo Histórico Longo').first().json || {};\nconst crm = crmRoot.inputs || {};\nconst crmMessage = crmRoot.message || {};\nconst crmChatwoot = crmRoot.chatwoot || {};\nconst crmMemory = crmRoot.memory || {};\nconst crmLead = crmRoot.lead || {};\n\nconst ctx = $('Preparar Contexto FUP').first().json || {};\n\nconst memory = (() => {\n  try {\n    return $('Get Memory').first()?.json || crmMemory || {};\n  } catch (e) {\n    return crmMemory || {};\n  }\n})();\n\nconst norm = (() => {\n  try {\n    return $('Normaliza Entrada FUP').first()?.json || {};\n  } catch (e) {\n    return {};\n  }\n})();\n\nconst cfg = $('CONFIG REGRAS FUP').first().json || {};\n\nconst origemFup = clean(\n  crmRoot.gatilho ||\n  norm.gatilho ||\n  norm.origem_fup ||\n  ctx.crm_snapshot?.gatilho ||\n  ''\n);\n\nconst triggerEvent = clean(\n  crmRoot.trigger_event ||\n  norm.trigger_event ||\n  norm.event ||\n  ''\n);\n\nconst ehAutomatico =\n  origemFup.includes('FUP_AUTOMATICO') ||\n  origemFup.includes('automatico') ||\n  triggerEvent.includes('cron') ||\n  norm.origem_fup === 'automatico_cron_mysql';\n\nconst nomeFluxo = ehAutomatico\n  ? 'FUP_AUTOMATICO_BRUNA'\n  : 'FUP_MANUAL_BRUNA';\n\nconst eventoChatwoot = ehAutomatico\n  ? 'followup_automatico'\n  : 'followup_manual';\n\nconst origemRegistroHistorico = ehAutomatico\n  ? 'n8n_fup_automatico'\n  : 'n8n_fup';\n\nconst tituloNota = ehAutomatico\n  ? '[FUP BRUNA AUTOMÁTICO]'\n  : '[FUP BRUNA MANUAL]';\n\nfunction clean(value) {\n  if (value === undefined || value === null) return '';\n  return String(value).trim();\n}\n\nconst textoResposta = clean(fup.mensagem_fup);\nconst podeEnviar = !!fup.pode_enviar && !!textoResposta;\n\nconst phone = clean(\n  crmLead.phone ||\n  memory.phone ||\n  norm.phone ||\n  crm.resumo_lead?.tutor_telefone ||\n  ''\n);\n\nconst accountId = Number(\n  crmChatwoot.account_id ||\n  memory.account_id_chatwoot ||\n  norm.account_id ||\n  0\n);\n\nconst contactId = Number(\n  crmChatwoot.contact_id ||\n  memory.contact_id_chatwoot ||\n  norm.contact_id ||\n  0\n);\n\nconst conversationId = Number(\n  crmChatwoot.conversation_id ||\n  memory.conversation_id_chatwoot ||\n  norm.conversation_id ||\n  0\n);\n\nconst inboxId = Number(\n  crmChatwoot.inbox_id ||\n  norm.inbox_id ||\n  memory.inbox_id ||\n  0\n);\n\nconst labelsAtuais = Array.isArray(crmChatwoot.labels)\n  ? crmChatwoot.labels.map(x => clean(x)).filter(Boolean)\n  : Array.isArray(norm.labels)\n    ? norm.labels.map(x => clean(x)).filter(Boolean)\n    : [];\n\nconst tagsAdd = Array.isArray(fup.tags_add)\n  ? fup.tags_add.map(x => clean(x)).filter(Boolean)\n  : [];\n\nconst tagsRemove = Array.isArray(fup.tags_remove)\n  ? fup.tags_remove.map(x => clean(x)).filter(Boolean)\n  : [];\n\nconst labelsFinais = [...new Set([\n  ...labelsAtuais.filter(x => !tagsRemove.includes(x)),\n  ...tagsAdd\n])];\n\nconst resumoLead =\n  ctx.resumo_lead_atual\n  || crm.resumo_lead\n  || memory.resumo_lead_json\n  || {};\n\nconst resumoInternoRepasse =\n  ctx.resumo_interno_repasse\n  || crm.resumo_interno_repasse\n  || memory.resumo_interno_repasse_json\n  || {};\n\nconst tutorNome =\n  resumoLead.tutor_nome\n  || crmLead.sender_name\n  || norm.lead_name\n  || memory.nome_tutor\n  || '';\n\nconst chatHistoryUuid =\n  memory.chat_history_uuid\n  || crmChatwoot.chat_history_uuid\n  || norm.chat_history_uuid\n  || `account:${accountId}-contact:${contactId}-conversation:${conversationId}-phone:${phone}`;\n\nconst statusNovo = fup.status_lead_novo || ctx.status_base || crm.status_lead || 'QUALIFICANDO';\nconst intencaoNova = fup.ultima_intencao_nova || 'SUMIU';\n\nconst mensagemUltimaLead =\n  memory.mensagem_ultima_lead ||\n  crmMessage.current_lead_block_text ||\n  crmMessage.content_raw ||\n  '';\n\nconst dataUltimaMensagemLead =\n  memory.data_ultima_mensagem_lead ||\n  crmMessage.created_at ||\n  '';\n\nconst notaPrivadaTexto = podeEnviar\n  ? `${tituloNota}\nTipo: ${fup.tipo_followup || ''}\nResumo: ${fup.resumo_followup || ''}\nStatus novo: ${statusNovo}\nÚltima intenção nova: ${intencaoNova}\nTelefone: ${phone}\nMensagem:\n${textoResposta}`\n  : `[FUP BRUNA NÃO ENVIADO]\nResumo: ${fup.resumo_followup || 'Sem contexto suficiente para envio.'}\nStatus base: ${ctx.status_base || ''}\nÚltima intenção base: ${ctx.ultima_intencao_base || ''}\nMotivo: ${ctx.motivo_bloqueio || ''}\nTelefone: ${phone}`;\n\nreturn [\n  {\n    json: {\n      message: {\n        message_modality: 'text_only',\n        has_text: !!textoResposta,\n        has_attachment: false,\n        private: false,\n        type: 'outgoing',\n        content: {\n          historico: crmMessage.historico || 'historico',\n          history_for_crm: crmMessage.history_for_crm || '',\n          first_message_id: crmMessage.first_message_id || null,\n          last_message_id: crmMessage.last_message_id || null\n        },\n        data_url: null,\n        source_id: null,\n        created_at: new Date().toISOString(),\n        historico: crmMessage.historico || 'historico',\n        history_for_crm: crmMessage.history_for_crm || '',\n        clean_answer: textoResposta\n      },\n\n      lead: {\n        sender_name: tutorNome,\n        phone,\n        entry_channel: crmLead.entry_channel || memory.origem_detalhada || norm.origem || 'followup_manual_bruna',\n        anuncio: crmLead.anuncio || norm.anuncio || '',\n        utms: crmLead.utms || {},\n        sender_type: crmLead.sender_type || 'contact'\n      },\n\n      chatwoot: {\n        chat_history_uuid: chatHistoryUuid,\n        labels: labelsAtuais,\n        system_event: 'FOLLOWUP_DISPARADO',\n        account_id: accountId,\n        contact_id: contactId,\n        message_id: null,\n        conversation_id: conversationId,\n        event: eventoChatwoot,\n        inbox_id: inboxId\n      },\n\n      inputs: {\n        status_lead: statusNovo,\n        ultima_intencao: intencaoNova,\n        evento_sistema: 'FOLLOWUP_DISPARADO',\n        mensagens_resposta: Array.isArray(fup.mensagens_resposta)\n          ? fup.mensagens_resposta\n          : [textoResposta].filter(Boolean),\n\n        resumo_lead: resumoLead,\n\n        proxima_acao: podeEnviar\n          ? (ehAutomatico ? 'Follow-up automático enviado pela Bruna.' : 'Follow-up manual enviado pela Bruna.')\n          : (ehAutomatico ? 'Follow-up automático não enviado.' : 'Follow-up manual não enviado.'),\n        deve_repassar_humano: false,\n        motivo_repasse: '',\n        deve_enviar_guia: false,\n        deve_solicitar_pagamento: false,\n        deve_consultar_agenda: false,\n        deve_criar_pre_reserva: false,\n        deve_encerrar_conversa: false,\n\n        mensagem_ultima_lead: mensagemUltimaLead,\n        data_ultima_mensagem_lead: dataUltimaMensagemLead,\n        mensagem_ultima_bruna: textoResposta,\n        email: memory.email_tutor || '',\n\n        interpreted_message: 'text_message',\n        interpreted_modality: 'text_only',\n        interpreted_status: 'ok',\n        supported_input: true,\n\n        is_first_turn: false,\n\n        resumo_interno_repasse: resumoInternoRepasse,\n\n        versao_regras_negocio: 'v1',\n        versao_contrato_payload: 'v1'\n      },\n\n      resposta: {\n        phone,\n        chat_history_uuid: chatHistoryUuid,\n        account_id_chatwoot: accountId,\n        contact_id_chatwoot: contactId,\n        conversation_id_chatwoot: conversationId,\n        message_id: null,\n        id_mensagem_enviada: null,\n\n        pode_enviar: podeEnviar,\n        texto_resposta: textoResposta,\n        message_fup: textoResposta,\n\n        status_lead_novo: statusNovo,\n        ultima_intencao_nova: intencaoNova,\n        evento_sistema_novo: 'FOLLOWUP_DISPARADO',\n\n        tipo_followup: fup.tipo_followup || ctx.tipo_followup_sugerido || 'FUP_1_RETOMADA_LEVE',\n        resumo_followup: fup.resumo_followup || '',\n        contador_followup_atual: Number(fup.contador_followup_atual || ctx.contador_followup_atual || 0),\n\n        tags_add: tagsAdd,\n        tags_remove: tagsRemove,\n\n        resumo_lead_json: resumoLead,\n\n        payload_atual_json: {\n          origem_fluxo: nomeFluxo,\n          eh_automatico: ehAutomatico,\n          trigger_event: triggerEvent,\n          fup,\n          contexto_fup: ctx,\n          crm: crmRoot,\n          memory,\n          config_followup: cfg\n        }\n      },\n\n      opcoes: {\n        eh_fup: true,\n\n        envia_chatwoot: podeEnviar,\n        atualizar_contact_summary: podeEnviar,\n        gravar_memoria: podeEnviar,\n        gravar_historico: podeEnviar,\n        atualiza_labels: podeEnviar,\n        adicionar_nota_privada: true,\n\n        pula_verificao_ultima_mensagem: true,\n\n        tipo_registro_historico: 'followup_bruna',\n        origem_registro_historico: origemRegistroHistorico,\n\n        labels_new: podeEnviar ? labelsFinais : labelsAtuais,\n\n        nota_privada_texto: notaPrivadaTexto\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,288],"id":"bb115e39-a267-4d6b-b62c-044a140a1cc3","name":"Monta Entrada Envia Bruna"},{"parameters":{"errorMessage":"SEM FUP"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2096,584],"id":"33ba22e0-ef79-480a-bdbe-75b25a7b931f","name":"Stop and Error"},{"parameters":{"errorMessage":"=Pode seguir: {{ $json.pode_seguir_fup }}\nMotivo Bloqueio: {{ $json.motivo_bloqueio }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[624,628],"id":"21e0abe2-511a-422b-9fee-ecaf953746a0","name":"Stop and Error1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-272,-304],"id":"62fc13ea-e98c-4017-a1da-595824c95aee","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id,  phone,  chat_history_uuid,  nome_tutor,  email_tutor,  nome_cao,  idade_cao_anos,  idade_cao_texto,  cao_raca , cao_porte, cao_sexo , cao_castrado , cao_no_cio , cao_vacinas_ok , cao_antipulgas_ok , cao_vermifugacao_ok , cao_sociavel , cao_reativo , possui_relatorio_veterinario , unidade_preferida , servico_interesse , origem_lead , origem_detalhada , status_lead , ultima_intencao , evento_sistema_atual , apto_para_avaliacao , motivo_pre_reprovacao , data_checkin_desejada , data_checkout_desejada , data_desejada , periodo_desejado , valor_avaliacao , status_pagamento , comprovante_recebido , tipo_comprovante , arquivo_comprovante_referencia , data_hora_avaliacao , data_hora_pre_reserva , pre_reserva_criada , responsavel_humano , deve_repassar_humano , motivo_repasse , guia_enviado , contador_followup , tipo_ultimo_followup , ultimo_followup_em , data_ultima_mensagem_lead , data_ultima_mensagem_bruna , data_ultima_interacao , mensagem_ultima_lead , last_processed_message_id , mensagem_ultima_bruna , resumo_lead_json , resumo_interno_repasse_json , payload_ultima_resposta_json , dados_origem_json , etiquetas_chatwoot_json , versao_regras_negocio , versao_contrato_payload , account_id_chatwoot , contact_id_chatwoot , conversation_id_chatwoot , encerrado , criado_em , atualizado_em\nFROM bruna_memoria_leads\nWHERE\n  phone IS NOT NULL AND phone <> ''\n  AND account_id_chatwoot IS NOT NULL\n  AND contact_id_chatwoot IS NOT NULL\n  AND conversation_id_chatwoot IS NOT NULL\n\n  AND COALESCE(encerrado, 0) = 0\n  AND COALESCE(deve_repassar_humano, 0) = 0\n\n  AND status_lead IN (\n    'COLETANDO_DADOS',\n    'QUALIFICANDO',\n    'PRE_REPROVADO',\n    'APTO_PARA_AVALIACAO',\n    'AGUARDANDO_PAGAMENTO',\n    'ENCERRADO_SEM_RESPOSTA'\n  )\n\n  AND status_lead NOT IN (\n    'TRANSFERIDO_FLAVIA',\n    'COMPROVANTE_RECEBIDO',\n    'PRE_RESERVA_CRIADA',\n    'ENCERRADO_NAO_PERFIL',\n    'ENCERRADO'\n  )\n\n  AND COALESCE(contador_followup, 0) < 5\n\n  AND data_ultima_mensagem_bruna IS NOT NULL\n\n  AND (\n    data_ultima_mensagem_lead IS NULL\n    OR data_ultima_mensagem_lead <= data_ultima_mensagem_bruna\n  )\n\n  AND COALESCE(\n    ultimo_followup_em,\n    data_ultima_mensagem_bruna,\n    atualizado_em,\n    criado_em\n  ) <= DATE_SUB(NOW(), INTERVAL {{ $json.fup_interval_days }} DAY)\n\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%50%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%60%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%cliente%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%humano%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%flavia%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%transferido-flavia%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%sem-fup%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%nao-fazer-fup%') IS NULL\n  AND JSON_SEARCH(COALESCE(etiquetas_chatwoot_json, JSON_ARRAY()), 'one', '%fup-bruna-bloqueado%') IS NULL\n\nORDER BY\n  COALESCE(ultimo_followup_em, data_ultima_mensagem_bruna, atualizado_em, criado_em) ASC\n\nLIMIT 50;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[176,-448],"id":"a8fecfb5-3d44-4df3-8d1a-b29d20b5940e","name":"Buscar Leads Travados FUP","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"assignments":{"assignments":[{"id":"ff92bf9a-ac50-4e96-ad4d-3f6817a8a315","name":"fup_interval_days","value":"2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-304],"id":"a7cdf357-e681-4246-b448-563cfc8212de","name":"FUP INTERVAL DAYS"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,-448],"id":"27fe118c-b89f-4057-852b-ba46de1193ee","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1968,-448],"id":"a0f74fa9-189e-4da9-ac41-3bafb9d3878e","placeholder":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-272,628],"id":"097bbeac-d24a-4c07-9748-ba14903dc188","name":"Start"},{"parameters":{"workflowId":{"__rl":true,"value":"ddNrGGwU7PPXATgl","mode":"list","cachedResultUrl":"/workflow/ddNrGGwU7PPXATgl","cachedResultName":"[AUAU] [BRUNA] Gerador de FUP"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["memory"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1520,-592],"id":"fe07b6d8-fc27-4809-a983-c94e0a9f52e8","name":"Call '[AUAU] [BRUNA] Gerador de FUP'"},{"parameters":{"jsCode":"const maxFollowups = 5;\n\nconst bloquearAposLimite = true;\n\nconst tipos = [\n  {\n    numero: 1,\n    tipo: 'FUP_1_RETOMADA_LEVE',\n    tag: '11-fup-bruna-1',\n    estrategia_padrao: 'RETOMADA_LEVE',\n    objetivo_padrao: 'retomar a conversa com baixa fricção',\n    tom_padrao: 'leve, humano e direto'\n  },\n  {\n    numero: 2,\n    tipo: 'FUP_2_DESTRAVA_OBJETIVO',\n    tag: '11-fup-bruna-2',\n    estrategia_padrao: 'DESTRAVAR_DECISAO',\n    objetivo_padrao: 'entender a trava real do lead',\n    tom_padrao: 'consultivo e sem pressão'\n  },\n  {\n    numero: 3,\n    tipo: 'FUP_3_REFORCO_VALOR',\n    tag: '11-fup-bruna-3',\n    estrategia_padrao: 'REFORCAR_VALOR',\n    objetivo_padrao: 'reforçar o valor do processo sem parecer cobrança',\n    tom_padrao: 'educativo e objetivo'\n  },\n  {\n    numero: 4,\n    tipo: 'FUP_4_DECISAO_FINAL',\n    tag: '11-fup-bruna-4',\n    estrategia_padrao: 'PEDIR_DECISAO',\n    objetivo_padrao: 'pedir uma resposta simples para seguir ou pausar',\n    tom_padrao: 'direto, leve e respeitoso'\n  },\n  {\n    numero: 5,\n    tipo: 'FUP_5_FECHAMENTO_ELEGANTE',\n    tag: '11-fup-bruna-5',\n    estrategia_padrao: 'FECHAMENTO_ELEGANTE',\n    objetivo_padrao: 'encerrar sem insistência e deixar porta aberta',\n    tom_padrao: 'elegante, breve e sem pressão'\n  }\n];\n\nconst tagsFup = tipos.map(t => t.tag);\n\nreturn [\n  {\n    json: {\n      max_followups: maxFollowups,\n      bloquear_apos_limite: bloquearAposLimite,\n      tipos_followup: tipos,\n      tags_followup: tagsFup,\n      tag_bloqueio: 'fup-bruna-bloqueado'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,436],"id":"cca3877b-d440-42fe-8409-4720795ae100","name":"CONFIG REGRAS FUP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb3ba134-fed0-437b-bdbd-0bcb568dd5d4","leftValue":"={{ \n  ['FUP_MANUAL', 'manual_chatwoot_macro'].includes(\n    String($('Normaliza Entrada FUP').first().json.gatilho || $('Normaliza Entrada FUP').first().json.origem_fup || '')\n  )\n}}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,584],"id":"e2e4d23a-55e0-4e4a-89dd-6eddbe0fade5","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"85c126e6-91b2-4379-aa8d-a77ef012a916","leftValue":"={{ $('Schedule Trigger').first().json.Hour }}","rightValue":20,"operator":{"type":"number","operation":"lte"}},{"id":"7099e189-fc58-46fa-ba30-a2e698b51eca","leftValue":"={{ $('Schedule Trigger').first().json.Hour }}","rightValue":8,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,-520],"id":"9b8404f5-61a0-43cc-92ff-95894423e17a","name":"Devo responder?"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json?.payload_ultima_resposta_json?.crm?.message?.last_message_id || $json?.payload_ultima_resposta_json?.message?.content?.last_message_id }}","conversation_id":"={{ $json.conversation_id_chatwoot }}","account_id":"={{ $json.account_id_chatwoot }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[848,-520],"name":"Verifica Última Mensagem","id":"70844664-7847-4862-afaf-3cfde2fafc80"},{"parameters":{"jsCode":"return $('Loop Over Items').first().json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-592],"id":"6fc764b1-fdd3-4d95-800f-af86e287fbba","name":"Busca Loop Item"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[400,-448],"id":"717f01ef-704e-4477-beb1-73a8fe6a2a86","name":"Sort"},{"parameters":{"url":"={{ $vars.CHATWOOT_API_URL }}/3/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"assignee_type","value":"all"},{"name":"page","value":"1"},{"name":"team_id","value":"12"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,-112],"id":"abe2db06-71f0-48fc-8726-a2f3373fab1d","name":"Lista Conversations","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}},"disabled":true},{"parameters":{"fieldToSplitOut":"data.payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,-112],"id":"c53f5bb1-ab5b-414e-b036-e5820876e570","name":"Split Out","disabled":true},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_memoria_leads","mode":"list","cachedResultName":"bruna_memoria_leads"},"returnAll":true,"where":{"values":[{"column":"phone","condition":"LIKE","value":"=%{{ $json.meta.sender.phone_number.slice(-8) }}%"}]},"sort":{"values":[{"column":"atualizado_em","direction":"DESC"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[624,-40],"id":"4cacd615-a633-4160-8129-23e8458ee8ec","name":"Get Memory1","alwaysOutputData":true,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"disabled":true},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"meta.sender.phone_number","field2":"phone"}]},"joinMode":"keepNonMatches","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[848,-112],"id":"826d8639-1957-46b7-b79c-ad51ba1aa92e","name":"Merge","disabled":true},{"parameters":{"amount":"={{ 20 + 10 * Math.random() }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1744,-520],"id":"378198fc-6b00-469d-acac-682852b88170","name":"20min","webhookId":"33896b02-826e-4e30-9f00-bcdfc2242dfb"}],"connections":{"Webhook":{"main":[[{"node":"Normaliza Entrada FUP","type":"main","index":0}]]},"Normaliza Entrada FUP":{"main":[[{"node":"Pré Bloqueio Rápido","type":"main","index":0}]]},"Pré Bloqueio Rápido":{"main":[[{"node":"Get Memory","type":"main","index":0}],[{"node":"Sem FUP","type":"main","index":0}]]},"Gera Resumo Histórico Longo":{"main":[[{"node":"CONFIG REGRAS FUP","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Monta Payload CRM com Memory","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Gerador de FUP","type":"ai_languageModel","index":0}]]},"Gerador de FUP":{"main":[[{"node":"PARSE FUP JSON","type":"main","index":0}]]},"Monta Payload CRM com Memory":{"main":[[{"node":"Gera Resumo Histórico Longo","type":"main","index":0}]]},"Preparar Contexto FUP":{"main":[[{"node":"IF Pode Gerar FUP","type":"main","index":0}]]},"IF Pode Gerar FUP":{"main":[[{"node":"Gerador de FUP","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"PARSE FUP JSON":{"main":[[{"node":"Monta Entrada Envia Bruna","type":"main","index":0}]]},"Monta Entrada Envia Bruna":{"main":[[{"node":"Call '[AUAU] [BRUNA] RESPONDER CHATWOOT + MEMÓRIA + HISTÓRICO'","type":"main","index":0}]]},"Sem FUP":{"main":[[{"node":"Stop and Error1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"FUP INTERVAL DAYS","type":"main","index":0}]]},"FUP INTERVAL DAYS":{"main":[[{"node":"Buscar Leads Travados FUP","type":"main","index":0},{"node":"Lista Conversations","type":"main","index":0}]]},"Buscar Leads Travados FUP":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Verifica Última Mensagem","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Start":{"main":[[{"node":"Normaliza Entrada FUP","type":"main","index":0}]]},"Call '[AUAU] [BRUNA] Gerador de FUP'":{"main":[[{"node":"20min","type":"main","index":0}]]},"CONFIG REGRAS FUP":{"main":[[{"node":"Preparar Contexto FUP","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Verifica Última Mensagem":{"main":[[{"node":"Devo responder?","type":"main","index":0}]]},"Devo responder?":{"main":[[{"node":"Busca Loop Item","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Busca Loop Item":{"main":[[{"node":"Call '[AUAU] [BRUNA] Gerador de FUP'","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lista Conversations":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get Memory1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get Memory1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"20min":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"6fd58b8f-cdf1-489c-8c2b-cf0b49472db6","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2026-04-23T13:51:14.867Z","createdAt":"2026-04-23T13:51:14.867Z","role":"workflow:owner","workflowId":"ddNrGGwU7PPXATgl","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}