workflows/dfJL0lbftA88CbP3.json
{"updatedAt":"2026-04-04T03:20:26.752Z","createdAt":"2026-03-29T01:42:10.322Z","id":"dfJL0lbftA88CbP3","name":"[SDR] [JULIA] Atlas Validador","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"lead_message\": \"\",\n  \"dify_uuid\": \"\",\n  \"message_id\": 0,\n  \"conversation_id\": 0,\n  \"account_id\": 0,\n  \"contact_id\": 0,\n  \"phone\": \"\",\n  \"julia_response\": \"\",\n  \"lead_status\": \"\",\n  \"last_intent\": \"\",\n  \"lead_summary\": \"\",\n  \"last_user_message\": \"\",\n  \"last_ai_message\": \"\",\n  \"system_event\": \"\",\n  \"option_1_start\": \"\",\n  \"option_2_start\": \"\",\n  \"selected_option_start\": \"\",\n  \"email\": \"\",\n  \"correction_reason\": \"\",\n  \"correction_instruction\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"55d5b4dd-45db-4083-9494-8c0e365b28ce","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  \"atlas_query\": \"Validar Resposta da Julia\",\n  \"lead_message\": $json.lead_message || $json.last_user_message || '',\n  \"julia_response\": $json.julia_response || $json.answer || $json.last_ai_message || '',\n}\n}}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,32],"id":"888dde4e-e373-4c41-a054-19be787e3faa","name":"Atlas Input"},{"parameters":{"method":"POST","url":"https://apidify.convertix.app/v1/chat-messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  inputs: {\n    lead_message: $json.lead_message || '',\n    julia_response: $json.julia_response || '',\n    lead_status: $json.lead_status || '',\n    last_intent: $json.last_intent || '',\n    lead_summary: $json.lead_summary || '',\n    last_ai_message: $json.last_ai_message || '',\n    system_event: $json.system_event || '',\n    option_1_start: $json.option_1_start || '',\n    option_2_start: $json.option_2_start || '',\n    selected_option_start: $json.selected_option_start || '',\n    email: $json.email || '',\n    correction_reason: $json.correction_reason || '',\n    correction_instruction: $json.correction_instruction || '',\n    history_from_crm: $json.history_for_crm || ''\n  },\n  query: $json.atlas_query || 'validar resposta da Julia',\n  response_mode: 'streaming',\n  user: $json.phone || ''\n}\n}}","options":{"response":{"response":{}},"timeout":60000}},"id":"c4a339ee-bcb4-41e0-96f4-33af8b63a84d","name":"Atlas Dify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,32],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"},"httpBearerAuth":{"id":"xSIAY1ZgHhhmMLs8","name":"[Dify] Atlas Validador"}}},{"parameters":{"jsCode":"const raw = $json.data || $json.body || $json.response || $json.output || '';\nconst text = Array.isArray(raw) ? raw.join('\\n') : String(raw);\n\nconst events = text\n  .split('\\n\\n')\n  .map(block => block.trim())\n  .filter(Boolean);\n\nlet atlasAnswer = '';\nlet workflowAnswer = '';\nlet llmText = '';\n\nfor (const block of events) {\n  const lines = block.split('\\n');\n  const dataLine = lines.find(line => line.startsWith('data: '));\n  if (!dataLine) continue;\n\n  const jsonStr = dataLine.replace(/^data:\\s*/, '').trim();\n  if (!jsonStr || jsonStr === '[DONE]') continue;\n\n  let evt;\n  try {\n    evt = JSON.parse(jsonStr);\n  } catch {\n    continue;\n  }\n\n  if (evt.event === 'message' && typeof evt.answer === 'string') {\n    llmText += evt.answer;\n  }\n\n  if (\n    evt.event === 'node_finished' &&\n    evt.data &&\n    evt.data.node_type === 'answer' &&\n    evt.data.outputs &&\n    typeof evt.data.outputs.answer === 'string'\n  ) {\n    atlasAnswer = evt.data.outputs.answer;\n  }\n\n  if (\n    evt.event === 'workflow_finished' &&\n    evt.data &&\n    evt.data.outputs &&\n    typeof evt.data.outputs.answer === 'string'\n  ) {\n    workflowAnswer = evt.data.outputs.answer;\n  }\n}\n\nconst finalRaw = workflowAnswer || atlasAnswer || llmText || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(finalRaw);\n} catch (e) {\n  parsed = {\n    decision: 'REPROCESSAR_CONTEXTO',\n    reason: 'Falha ao converter resposta do Atlas em JSON.',\n    corrected_message: '',\n    correction_instruction: 'Responder novamente respeitando o estágio atual da conversa, pois a validação falhou no parse.'\n  };\n}\n\nreturn [\n  {\n    json: {\n      atlas_raw_answer: finalRaw,\n      atlas_decision: parsed.decision || '',\n      atlas_reason: parsed.reason || '',\n      atlas_corrected_message: parsed.corrected_message || '',\n      atlas_correction_instruction: parsed.correction_instruction || '',\n      atlas_validated: !!parsed.decision\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,32],"id":"e1f22d86-9a52-4ca0-901f-bb3c2da1d3b7","name":"Parse Atlas"},{"parameters":{"workflowId":{"__rl":true,"value":"w2YtBwjZHhE7Wetk","mode":"list","cachedResultUrl":"/workflow/w2YtBwjZHhE7Wetk","cachedResultName":"[SDR] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","processar_IA":false,"qtd_messages (máx 30)":10},"matchingColumns":["conversation_id"],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"qtd_messages (máx 30)","displayName":"qtd_messages (máx 30)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,112],"id":"91467772-df60-47cd-bdd4-1f51aa8ecba7","name":"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,32],"id":"8cad24d6-bcc2-45f6-b1b2-93f012dbfdb1","name":"Atlas Input + History"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"178af868-45e6-4942-8206-dc2db41bb333","leftValue":"={{ $json.atlas_decision }}","rightValue":"=APROVAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"APROVAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.atlas_decision }}","rightValue":"=CORRECAO_LEVE","operator":{"type":"string","operation":"equals"},"id":"6b484487-9572-47aa-8505-d29709ad38a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"CORRECAO_LEVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d36c1aa9-591b-4660-b501-363993a45a81","leftValue":"={{ $json.atlas_decision }}","rightValue":"=REPROCESSAR_CONTEXTO|CORRIGIR_MENSAGEM","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPROCESSAR"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1344,0],"id":"8b1ebae2-f6d6-4d34-9002-33e7ec7fd6e0","name":"Switch"},{"parameters":{"errorMessage":"={{ $json.atlas_decision }}\n{{ $json.atlas_reason }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1568,320],"id":"7d6f0b83-e5f9-46be-896a-83b5e0b4e14e","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $json.atlas_corrected_message }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-64],"id":"98deca4b-ca0c-4720-9440-a9cf9c0f17e6","name":"Atlas Output - CORRECAO_LEVE"},{"parameters":{"assignments":{"assignments":[{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $('Atlas Input').item.json.julia_response }}","type":"string"},{"id":"62402434-b8e0-42cd-8a88-7da2e70de622","name":"atlas_query","value":"={{ $('Atlas Input').item.json.atlas_query }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-256],"id":"26f9d2e0-001c-4473-95ce-99e5b92eec03","name":"Atlas Output - APROVADO"},{"parameters":{"assignments":{"assignments":[{"id":"281613bd-adfa-43ac-8a40-c077afeb0d95","name":"lead_message","value":"={{ $('Atlas Input').item.json.lead_message }}","type":"string"},{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $json.atlas_corrected_message }}","type":"string"},{"id":"1dee34c3-dbe6-4371-9815-412f27c0539b","name":"lead_status","value":"={{ $('Atlas Input').item.json.lead_status }}","type":"string"},{"id":"7e55ff33-8ec5-4377-9fb6-5f6e85828f75","name":"last_intent","value":"={{ $('Atlas Input').item.json.last_intent }}","type":"string"},{"id":"1f4fdfbe-004f-44b1-934c-b01cc12ff018","name":"lead_summary","value":"={{ $('Atlas Input').item.json.lead_summary }}","type":"string"},{"id":"bccfcb74-6b84-432e-b01f-b107b3abbdaa","name":"last_user_message","value":"={{ $('Atlas Input').item.json.last_user_message }}","type":"string"},{"id":"25549967-5535-4e1c-a4ac-530aaeec0702","name":"correction_reason","value":"={{ $('Parse Atlas').item.json.atlas_reason\n|| $('Atlas Input').item.json.correction_reason }}","type":"string"},{"id":"20548792-0cca-4a7b-bce4-e6544449fe92","name":"correction_instruction","value":"={{ $('Parse Atlas').item.json.atlas_correction_instruction\n|| $('Atlas Input').item.json.correction_instruction }}","type":"string"},{"id":"62402434-b8e0-42cd-8a88-7da2e70de622","name":"atlas_query","value":"={{ $('Atlas Input').item.json.atlas_query }}","type":"string"},{"id":"cc8f289d-e0cd-49b6-aec4-a85627635a8e","name":"history_for_crm","value":"={{ $('Atlas Input + History').item.json.history_for_crm }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,128],"id":"9dcbd7e1-b693-4794-859c-316165151531","name":"Atlas Output - REPROCESSAR_CONTEXTO"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.conversation_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[2608,576],"id":"a976a06c-c4bf-4586-a8e1-1f5427bf2162","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.rewrite_prompt }}","options":{"systemMessage":"Você é a camada corretora da SDR Julia Gabriela.\n\nSua função é reescrever respostas inválidas detectadas pelo Atlas.\n\nRegras:\n- Nunca reutilize a resposta inválida.\n- Nunca explique o erro.\n- Nunca saia do estágio atual da conversa.\n- Se estiver em agenda, permaneça em agenda.\n- Se houver conflito, priorize: system_event, lead_status, campos de agenda, lead_summary, history_for_crm e mensagem atual.\n- Se o lead pedir novo horário, peça um dia melhor apenas quando isso fizer sentido.\n- Se o lead já tiver informado que vai verificar e retornar depois, não pressione e não repita a pergunta.\n- Responda de forma curta, natural e objetiva.\n- Retorne apenas no formato:\n\nmensagem natural\n\n#STATUS:...\n#LAST_INTENT:...\n#LEAD_SUMMARY:..."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2464,352],"id":"911a6288-5588-4ef4-9639-e1a419d55117","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{"maxTokens":1000,"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2480,576],"id":"26441321-0006-4ec5-8091-8f3083fe927b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"jsCode":"const item = $json;\n\nconst decision = String(item.atlas_decision || '').trim();\nconst leadStatus = String(item.lead_status || '').trim();\nconst lastIntent = String(item.last_intent || '').trim();\nconst leadSummary = String(item.lead_summary || '').trim();\nconst leadMessage = String(item.lead_message || '').trim().toLowerCase();\nconst correctionInstruction = String(item.atlas_correction_instruction || item.correction_instruction || '').trim();\nconst historyForCrm = String(item.history_for_crm || '').trim().toLowerCase();\n\nfunction upsertSummary(summary, field, value) {\n  if (!summary) return `${field}: ${value};`;\n  const regex = new RegExp(`${field}:\\\\s*[^;]*`, 'i');\n  if (regex.test(summary)) {\n    return summary.replace(regex, `${field}: ${value}`);\n  }\n  return `${summary.trim()} ${field}: ${value};`.trim();\n}\n\nfunction buildOutput(message, status, intent, summary, source = 'deterministic_handler') {\n  const raw = `${message}\n\n#STATUS:${status}\n#LAST_INTENT:${intent}\n#LEAD_SUMMARY:${summary}`;\n\n  return {\n    ...item,\n    handler_resolved: true,\n    handler_source: source,\n    final_answer_raw: raw,\n    final_answer: message,\n    final_status: status,\n    final_last_intent: intent,\n    final_lead_summary: summary\n  };\n}\n\nfunction containsAny(text, terms) {\n  return terms.some(term => text.includes(term));\n}\n\n// Sinais de que o lead ainda vai verificar e não quer responder agora\nconst leadPostponedDecision = containsAny(leadMessage, [\n  'vou ver',\n  'vejo',\n  'te aviso',\n  'depois te aviso',\n  'alinho com vc',\n  'alinho com você',\n  'depois vejo',\n  'vou confirmar',\n  'vou verificar',\n  'vou checar',\n  'deixa eu ver',\n  'deixa eu verificar'\n]);\n\n// Sinais de conflito de agenda\nconst leadHasScheduleConflict = containsAny(leadMessage, [\n  'ruim por causa do trabalho',\n  'por causa do trabalho',\n  'esse horario',\n  'esse horário',\n  'não consigo nesse horario',\n  'nao consigo nesse horario',\n  'não consigo nesse horário',\n  'não dá nesse horário',\n  'nao da nesse horario',\n  'não dá pra mim',\n  'não funciona pra mim',\n  'nao funciona pra mim'\n]);\n\n// Ver se a Julia já pediu novo horário antes\nconst alreadyAskedForNewDay = containsAny(historyForCrm, [\n  'pode me sugerir um dia e horário',\n  'que dia da semana é melhor pra você',\n  'me fala um período melhor',\n  'qual dia funciona melhor',\n  'qual dia e horário'\n]);\n\nlet updatedSummary = leadSummary;\n\n// 1) CASO MAIS IMPORTANTE:\n// Lead pediu novos horários, mas respondeu que vai ver depois.\n// Aqui NÃO pergunta de novo.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  leadPostponedDecision\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead informou que vai verificar um dia melhor antes de sugerir nova disponibilidade'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar o lead retornar com um dia ou horário melhor'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Perfeito. Quando conseguir definir um dia melhor, me avisa que eu verifico as opções de horário pra você.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 2) Lead está em novos horários e falou que os horários não servem.\n// Aqui sim pede o dia.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  leadHasScheduleConflict\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'informou que os horários enviados não funcionam por causa do trabalho'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar sugestão de dia para verificar nova disponibilidade'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Sem problema. Qual dia funciona melhor para você? Assim, já vejo as opções de horário.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 3) Se já pediu dia antes, evita repetir a mesma pergunta.\n// Faz uma versão mais suave.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  alreadyAskedForNewDay\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'conversa segue em aberto para definição de nova disponibilidade'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar o lead sugerir um dia melhor para nova consulta de agenda'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Sem problema. Me avisa quando tiver um dia melhor pra você que eu verifico as opções de horário.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 4) Aguardando escolha de horário\nif (leadStatus === 'AGUARDANDO_ESCOLHA_HORARIO') {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead não confirmou nenhuma das opções enviadas'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar escolha de horário ou nova janela de disponibilidade'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Se aqueles horários não funcionarem, me fala qual dia funciona melhor para você que eu verifico as opções de horário.',\n        'AGUARDANDO_ESCOLHA_HORARIO',\n        lastIntent || 'PREPARAR_AGENDAMENTO',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 5) Horário selecionado, mas sem email\nif (leadStatus === 'HORARIO_SELECIONADO' && !item.email) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead escolheu um horário e falta confirmar email'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'coletar email para confirmar agendamento'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Perfeito. Qual seu melhor email para eu confirmar?',\n        'AGUARDANDO_EMAIL',\n        'PREPARAR_AGENDAMENTO',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 6) Fallback → manda para IA corretora\nreturn [\n  {\n    json: {\n      ...item,\n      handler_resolved: false,\n      handler_source: 'fallback_ai',\n      rewrite_mode: decision === 'REPROCESSAR_CONTEXTO' ? 'FORTE' : 'NORMAL',\n      rewrite_instruction: correctionInstruction || 'Corrigir a resposta respeitando o estado atual da conversa.'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128],"id":"f63a99a4-2715-4038-8308-b96cc029c01b","name":"ATLAS_HANDLER_DETERMINISTICO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"da3a3a58-7361-4848-b5ec-6e81b783d04d","leftValue":"={{ $json.handler_resolved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2016,224],"id":"c5905b25-5bef-4418-9964-aad6880fbf36","name":"HANDLER_RESOLVEU"},{"parameters":{"assignments":{"assignments":[{"id":"b4847007-3a8c-4197-8f1c-5eb965c64e8e","name":"rewrite_mode","value":"={{ $json.rewrite_mode || 'NORMAL' }}","type":"string"},{"id":"f1a53bcd-2353-4d53-a235-66c4f5bbba90","name":"rewrite_instruction","value":"={{ $json.rewrite_instruction \n|| $json.atlas_correction_instruction \n|| $json.correction_instruction \n|| 'Corrigir a resposta respeitando o estado atual da conversa.' }}\",","type":"string"},{"id":"429121ca-8480-40b6-83ba-95f597e0a19c","name":"rewrite_prompt","value":"={{ 'Você está corrigindo uma resposta anterior da SDR Julia Gabriela que foi invalidada pelo Atlas.\\\\n\\\\nREGRAS OBRIGATÓRIAS:\\\\n1. NÃO reutilize a resposta anterior inválida.\\\\n2. Respeite integralmente o estado atual da conversa.\\\\n3. Se o lead estiver em agenda, responda apenas em modo agenda.\\\\n4. Se o lead estiver em negociação, não agende cedo.\\\\n5. Seja curta, natural, humana e objetiva.\\\\n6. Retorne no formato obrigatório: mensagem natural + #STATUS + #LAST_INTENT + #LEAD_SUMMARY.\\\\n7. Se o contexto for pedir novos horários, peça um dia melhor apenas quando isso ainda fizer sentido.\\\\n8. Se o lead já tiver dito que vai verificar e retornar depois, não insista pedindo dia novamente.\\\\n\\\\nDECISÃO DO ATLAS: ' \n+ ($json.atlas_decision || '') \n+ '\\\\nMOTIVO: ' + ($json.atlas_reason || '') \n+ '\\\\nINSTRUÇÃO DE CORREÇÃO: ' + ($json.rewrite_instruction || $json.atlas_correction_instruction || '') \n+ '\\\\n\\\\nDADOS ATUAIS:\\\\nlead_status: ' + ($json.lead_status || '') \n+ '\\\\nlast_intent: ' + ($json.last_intent || '') \n+ '\\\\nlead_summary: ' \n+ ($json.lead_summary || '') + '\\\\nsystem_event: ' + ($json.system_event || '') + '\\\\noption_1_start: ' + ($json.option_1_start || '') + '\\\\noption_2_start: ' + ($json.option_2_start || '') + '\\\\nselected_option_start: ' + ($json.selected_option_start || '') \n+ '\\\\nemail: ' + ($json.email || '') \n+ '\\\\nhistory_for_crm: ' + ($json.history_for_crm || '') \n+ '\\\\n\\\\nÚLTIMA MENSAGEM DO LEAD:\\\\n' + ($json.lead_message || '') \n+ '\\\\n\\\\nAgora gere a resposta correta.' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,352],"id":"3f2eee3a-dd02-46a0-8457-60479800f8c1","name":"PROMPT_IA_CORRETORA"},{"parameters":{"jsCode":"const raw =\n  $json.output ||\n  $json.answer ||\n  $json.text ||\n  $json.message ||\n  '';\n\nconst statusMatch = raw.match(/#STATUS:(.*)/);\nconst intentMatch = raw.match(/#LAST_INTENT:(.*)/);\nconst summaryMatch = raw.match(/#LEAD_SUMMARY:([\\s\\S]*)/);\n\nconst message = raw\n  .replace(/#STATUS:.*$/m, '')\n  .replace(/#LAST_INTENT:.*$/m, '')\n  .replace(/#LEAD_SUMMARY:[\\s\\S]*$/m, '')\n  .trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      final_answer_raw: raw,\n      final_answer: message,\n      final_status: statusMatch ? statusMatch[1].trim() : '',\n      final_last_intent: intentMatch ? intentMatch[1].trim() : '',\n      final_lead_summary: summaryMatch ? summaryMatch[1].trim() : '',\n      handler_source: 'ai_rewrite',\n      handler_resolved: true\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,352],"id":"2012f0f2-8b63-4447-ab31-00c1c80d19eb","name":"PARSE_CORRETORA"},{"parameters":{"assignments":{"assignments":[{"id":"1432a7ec-6aca-4bf5-a485-870fb6fc0d68","name":"clean_answer","value":"={{ $json.final_answer\n|| $json.clean_answer }}","type":"string"},{"id":"425e30f9-fac2-4daa-a827-dc1427f00048","name":"answer_source","value":"={{ $json.handler_source || 'deterministic_handler' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,112],"id":"f6c95981-78c2-4058-b20d-c1fe35d57edb","name":"SAIDA_PADRAO_HANDLER"},{"parameters":{"assignments":{"assignments":[{"id":"e4282d84-d6a5-47a0-bc28-7fe876f4964f","name":"clean_answer","value":"={{ $json.final_answer || '' }}","type":"string"},{"id":"390ddb30-3791-4e1c-a733-25c0fd2a121b","name":"answer_source","value":"={{ $json.handler_source || 'unknown' }}","type":"string"},{"id":"934f8f87-e5a2-41a4-9717-49c5a8d2f7d2","name":"answer_raw","value":"={{ $json.final_answer_raw || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,352],"id":"4655718e-1747-494c-996a-05e3302e1a93","name":"SAIDA_PADRAO_IA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferLast"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3264,128],"id":"def535f8-82ff-4025-ba7c-dd06b60b4852","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3040,-96],"id":"6206aa67-ea3c-4139-9608-46df20350728","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"d882eadf-a5cf-451c-aab2-8a695c62d5a2","name":"clean_answer","value":"={{ $json.clean_answer }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3488,128],"id":"b6a56095-d8d9-49f6-9325-21fcd940a6a3","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Atlas Input","type":"main","index":0}]]},"Atlas Input":{"main":[[{"node":"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'","type":"main","index":0},{"node":"Atlas Input + History","type":"main","index":0}]]},"Atlas Dify":{"main":[[{"node":"Parse Atlas","type":"main","index":0}]]},"Parse Atlas":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'":{"main":[[{"node":"Atlas Input + History","type":"main","index":1}]]},"Atlas Input + History":{"main":[[{"node":"Atlas Dify","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Atlas Output - APROVADO","type":"main","index":0}],[{"node":"Atlas Output - REPROCESSAR_CONTEXTO","type":"main","index":0}],[{"node":"Atlas Output - REPROCESSAR_CONTEXTO","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Atlas Output - REPROCESSAR_CONTEXTO":{"main":[[{"node":"ATLAS_HANDLER_DETERMINISTICO","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"ATLAS_HANDLER_DETERMINISTICO":{"main":[[{"node":"HANDLER_RESOLVEU","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"HANDLER_RESOLVEU":{"main":[[{"node":"SAIDA_PADRAO_HANDLER","type":"main","index":0}],[{"node":"PROMPT_IA_CORRETORA","type":"main","index":0}]]},"PROMPT_IA_CORRETORA":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"PARSE_CORRETORA","type":"main","index":0}]]},"PARSE_CORRETORA":{"main":[[{"node":"SAIDA_PADRAO_IA","type":"main","index":0}]]},"SAIDA_PADRAO_HANDLER":{"main":[[{"node":"Merge","type":"main","index":1}]]},"SAIDA_PADRAO_IA":{"main":[[{"node":"Merge","type":"main","index":1}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"c62cb05a-cc21-4f7f-9ba7-6b0ab7a3842c","activeVersionId":"e22618e7-6337-4e50-ba57-310a1d03d6ce","triggerCount":0,"shared":[{"updatedAt":"2026-03-29T01:42:10.322Z","createdAt":"2026-03-29T01:42:10.322Z","role":"workflow:owner","workflowId":"dfJL0lbftA88CbP3","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-04T03:09:43.172Z","createdAt":"2026-04-04T02:54:38.390Z","versionId":"e22618e7-6337-4e50-ba57-310a1d03d6ce","workflowId":"dfJL0lbftA88CbP3","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"lead_message\": \"\",\n  \"dify_uuid\": \"\",\n  \"message_id\": 0,\n  \"conversation_id\": 0,\n  \"account_id\": 0,\n  \"contact_id\": 0,\n  \"phone\": \"\",\n  \"julia_response\": \"\",\n  \"lead_status\": \"\",\n  \"last_intent\": \"\",\n  \"lead_summary\": \"\",\n  \"last_user_message\": \"\",\n  \"last_ai_message\": \"\",\n  \"system_event\": \"\",\n  \"option_1_start\": \"\",\n  \"option_2_start\": \"\",\n  \"selected_option_start\": \"\",\n  \"email\": \"\",\n  \"correction_reason\": \"\",\n  \"correction_instruction\": \"\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"55d5b4dd-45db-4083-9494-8c0e365b28ce","name":"When Executed by Another Workflow"},{"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  \"atlas_query\": \"Validar Resposta da Julia\",\n  \"lead_message\": $json.lead_message || $json.last_user_message || '',\n  \"julia_response\": $json.julia_response || $json.answer || $json.last_ai_message || '',\n}\n}}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,32],"id":"888dde4e-e373-4c41-a054-19be787e3faa","name":"Atlas Input"},{"parameters":{"method":"POST","url":"https://apidify.convertix.app/v1/chat-messages","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  inputs: {\n    lead_message: $json.lead_message || '',\n    julia_response: $json.julia_response || '',\n    lead_status: $json.lead_status || '',\n    last_intent: $json.last_intent || '',\n    lead_summary: $json.lead_summary || '',\n    last_ai_message: $json.last_ai_message || '',\n    system_event: $json.system_event || '',\n    option_1_start: $json.option_1_start || '',\n    option_2_start: $json.option_2_start || '',\n    selected_option_start: $json.selected_option_start || '',\n    email: $json.email || '',\n    correction_reason: $json.correction_reason || '',\n    correction_instruction: $json.correction_instruction || '',\n    history_from_crm: $json.history_for_crm || ''\n  },\n  query: $json.atlas_query || 'validar resposta da Julia',\n  response_mode: 'streaming',\n  user: $json.phone || ''\n}\n}}","options":{"response":{"response":{}},"timeout":60000}},"id":"c4a339ee-bcb4-41e0-96f4-33af8b63a84d","name":"Atlas Dify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,32],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"},"httpBearerAuth":{"id":"xSIAY1ZgHhhmMLs8","name":"[Dify] Atlas Validador"}}},{"parameters":{"jsCode":"const raw = $json.data || $json.body || $json.response || $json.output || '';\nconst text = Array.isArray(raw) ? raw.join('\\n') : String(raw);\n\nconst events = text\n  .split('\\n\\n')\n  .map(block => block.trim())\n  .filter(Boolean);\n\nlet atlasAnswer = '';\nlet workflowAnswer = '';\nlet llmText = '';\n\nfor (const block of events) {\n  const lines = block.split('\\n');\n  const dataLine = lines.find(line => line.startsWith('data: '));\n  if (!dataLine) continue;\n\n  const jsonStr = dataLine.replace(/^data:\\s*/, '').trim();\n  if (!jsonStr || jsonStr === '[DONE]') continue;\n\n  let evt;\n  try {\n    evt = JSON.parse(jsonStr);\n  } catch {\n    continue;\n  }\n\n  if (evt.event === 'message' && typeof evt.answer === 'string') {\n    llmText += evt.answer;\n  }\n\n  if (\n    evt.event === 'node_finished' &&\n    evt.data &&\n    evt.data.node_type === 'answer' &&\n    evt.data.outputs &&\n    typeof evt.data.outputs.answer === 'string'\n  ) {\n    atlasAnswer = evt.data.outputs.answer;\n  }\n\n  if (\n    evt.event === 'workflow_finished' &&\n    evt.data &&\n    evt.data.outputs &&\n    typeof evt.data.outputs.answer === 'string'\n  ) {\n    workflowAnswer = evt.data.outputs.answer;\n  }\n}\n\nconst finalRaw = workflowAnswer || atlasAnswer || llmText || '';\n\nlet parsed;\ntry {\n  parsed = JSON.parse(finalRaw);\n} catch (e) {\n  parsed = {\n    decision: 'REPROCESSAR_CONTEXTO',\n    reason: 'Falha ao converter resposta do Atlas em JSON.',\n    corrected_message: '',\n    correction_instruction: 'Responder novamente respeitando o estágio atual da conversa, pois a validação falhou no parse.'\n  };\n}\n\nreturn [\n  {\n    json: {\n      atlas_raw_answer: finalRaw,\n      atlas_decision: parsed.decision || '',\n      atlas_reason: parsed.reason || '',\n      atlas_corrected_message: parsed.corrected_message || '',\n      atlas_correction_instruction: parsed.correction_instruction || '',\n      atlas_validated: !!parsed.decision\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,32],"id":"e1f22d86-9a52-4ca0-901f-bb3c2da1d3b7","name":"Parse Atlas"},{"parameters":{"workflowId":{"__rl":true,"value":"w2YtBwjZHhE7Wetk","mode":"list","cachedResultUrl":"/workflow/w2YtBwjZHhE7Wetk","cachedResultName":"[SDR] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation_id":"={{ $json.conversation_id }}","processar_IA":false,"qtd_messages (máx 30)":10},"matchingColumns":["conversation_id"],"schema":[{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"qtd_messages (máx 30)","displayName":"qtd_messages (máx 30)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,112],"id":"91467772-df60-47cd-bdd4-1f51aa8ecba7","name":"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,32],"id":"8cad24d6-bcc2-45f6-b1b2-93f012dbfdb1","name":"Atlas Input + History"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"178af868-45e6-4942-8206-dc2db41bb333","leftValue":"={{ $json.atlas_decision }}","rightValue":"=APROVAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"APROVAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.atlas_decision }}","rightValue":"=CORRECAO_LEVE","operator":{"type":"string","operation":"equals"},"id":"6b484487-9572-47aa-8505-d29709ad38a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"CORRECAO_LEVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d36c1aa9-591b-4660-b501-363993a45a81","leftValue":"={{ $json.atlas_decision }}","rightValue":"=REPROCESSAR_CONTEXTO|CORRIGIR_MENSAGEM","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPROCESSAR"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1344,0],"id":"8b1ebae2-f6d6-4d34-9002-33e7ec7fd6e0","name":"Switch"},{"parameters":{"errorMessage":"={{ $json.atlas_decision }}\n{{ $json.atlas_reason }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1568,320],"id":"7d6f0b83-e5f9-46be-896a-83b5e0b4e14e","name":"Stop and Error"},{"parameters":{"assignments":{"assignments":[{"id":"281613bd-adfa-43ac-8a40-c077afeb0d95","name":"lead_message","value":"={{ $('Atlas Input').item.json.lead_message }}","type":"string"},{"id":"07dba0d7-8b03-41e5-a295-1c46ca50c02b","name":"dify_uuid","value":"={{ $('Atlas Input').item.json.dify_uuid }}","type":"string"},{"id":"b04ea1fd-00f8-47e9-8e43-275123723a22","name":"message_id","value":"={{ $('Atlas Input').item.json.message_id }}","type":"number"},{"id":"9bede370-2bd7-48c1-ab05-1a28da8b6df1","name":"conversation_id","value":"={{ $('Atlas Input').item.json.conversation_id }}","type":"number"},{"id":"e045a734-49ac-4142-85ac-ab6fff2f1b4c","name":"account_id","value":"={{ $('Atlas Input').item.json.account_id }}","type":"number"},{"id":"c8557685-bb80-4fd2-afe1-0e6beea7fed9","name":"contact_id","value":"={{ $('Atlas Input').item.json.contact_id }}","type":"number"},{"id":"6f6a9637-498a-4d92-af82-2a32fd55a0a6","name":"phone","value":"={{ $('Atlas Input').item.json.phone }}","type":"string"},{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $json.atlas_corrected_message }}","type":"string"},{"id":"1dee34c3-dbe6-4371-9815-412f27c0539b","name":"lead_status","value":"={{ $('Atlas Input').item.json.lead_status }}","type":"string"},{"id":"7e55ff33-8ec5-4377-9fb6-5f6e85828f75","name":"last_intent","value":"={{ $('Atlas Input').item.json.last_intent }}","type":"string"},{"id":"1f4fdfbe-004f-44b1-934c-b01cc12ff018","name":"lead_summary","value":"={{ $('Atlas Input').item.json.lead_summary }}","type":"string"},{"id":"bccfcb74-6b84-432e-b01f-b107b3abbdaa","name":"last_user_message","value":"={{ $('Atlas Input').item.json.last_user_message }}","type":"string"},{"id":"50b1de0d-4a73-4832-852d-95a9bedf2f88","name":"system_event","value":"={{ $('Atlas Input').item.json.system_event }}","type":"string"},{"id":"4d453bbb-994a-4c95-ae46-72ce50f11da2","name":"option_1_start","value":"={{ $('Atlas Input').item.json.option_1_start }}","type":"string"},{"id":"af59427f-29c8-4909-89c8-cd717b1988a0","name":"option_2_start","value":"={{ $('Atlas Input').item.json.option_2_start }}","type":"string"},{"id":"0bb87a8e-9fa7-45ed-996b-71fb6ff61876","name":"selected_option_start","value":"={{ $('Atlas Input').item.json.selected_option_start }}","type":"string"},{"id":"d1a7459b-f5b8-4f79-b825-fff272e44eea","name":"email","value":"={{ $('Atlas Input').item.json.email }}","type":"string"},{"id":"25549967-5535-4e1c-a4ac-530aaeec0702","name":"correction_reason","value":"={{ $('Atlas Input').item.json.correction_reason }}","type":"string"},{"id":"20548792-0cca-4a7b-bce4-e6544449fe92","name":"correction_instruction","value":"={{ $('Atlas Input').item.json.correction_instruction }}","type":"string"},{"id":"62402434-b8e0-42cd-8a88-7da2e70de622","name":"atlas_query","value":"={{ $('Atlas Input').item.json.atlas_query }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-64],"id":"98deca4b-ca0c-4720-9440-a9cf9c0f17e6","name":"Atlas Output - CORRECAO_LEVE"},{"parameters":{"assignments":{"assignments":[{"id":"281613bd-adfa-43ac-8a40-c077afeb0d95","name":"lead_message","value":"={{ $('Atlas Input').item.json.lead_message }}","type":"string"},{"id":"07dba0d7-8b03-41e5-a295-1c46ca50c02b","name":"dify_uuid","value":"={{ $('Atlas Input').item.json.dify_uuid }}","type":"string"},{"id":"b04ea1fd-00f8-47e9-8e43-275123723a22","name":"message_id","value":"={{ $('Atlas Input').item.json.message_id }}","type":"number"},{"id":"9bede370-2bd7-48c1-ab05-1a28da8b6df1","name":"conversation_id","value":"={{ $('Atlas Input').item.json.conversation_id }}","type":"number"},{"id":"e045a734-49ac-4142-85ac-ab6fff2f1b4c","name":"account_id","value":"={{ $('Atlas Input').item.json.account_id }}","type":"number"},{"id":"c8557685-bb80-4fd2-afe1-0e6beea7fed9","name":"contact_id","value":"={{ $('Atlas Input').item.json.contact_id }}","type":"number"},{"id":"6f6a9637-498a-4d92-af82-2a32fd55a0a6","name":"phone","value":"={{ $('Atlas Input').item.json.phone }}","type":"string"},{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $('Atlas Input').item.json.julia_response }}","type":"string"},{"id":"1dee34c3-dbe6-4371-9815-412f27c0539b","name":"lead_status","value":"={{ $('Atlas Input').item.json.lead_status }}","type":"string"},{"id":"7e55ff33-8ec5-4377-9fb6-5f6e85828f75","name":"last_intent","value":"={{ $('Atlas Input').item.json.last_intent }}","type":"string"},{"id":"1f4fdfbe-004f-44b1-934c-b01cc12ff018","name":"lead_summary","value":"={{ $('Atlas Input').item.json.lead_summary }}","type":"string"},{"id":"bccfcb74-6b84-432e-b01f-b107b3abbdaa","name":"last_user_message","value":"={{ $('Atlas Input').item.json.last_user_message }}","type":"string"},{"id":"50b1de0d-4a73-4832-852d-95a9bedf2f88","name":"system_event","value":"={{ $('Atlas Input').item.json.system_event }}","type":"string"},{"id":"4d453bbb-994a-4c95-ae46-72ce50f11da2","name":"option_1_start","value":"={{ $('Atlas Input').item.json.option_1_start }}","type":"string"},{"id":"af59427f-29c8-4909-89c8-cd717b1988a0","name":"option_2_start","value":"={{ $('Atlas Input').item.json.option_2_start }}","type":"string"},{"id":"0bb87a8e-9fa7-45ed-996b-71fb6ff61876","name":"selected_option_start","value":"={{ $('Atlas Input').item.json.selected_option_start }}","type":"string"},{"id":"d1a7459b-f5b8-4f79-b825-fff272e44eea","name":"email","value":"={{ $('Atlas Input').item.json.email }}","type":"string"},{"id":"25549967-5535-4e1c-a4ac-530aaeec0702","name":"correction_reason","value":"={{ $('Atlas Input').item.json.correction_reason }}","type":"string"},{"id":"20548792-0cca-4a7b-bce4-e6544449fe92","name":"correction_instruction","value":"={{ $('Atlas Input').item.json.correction_instruction }}","type":"string"},{"id":"62402434-b8e0-42cd-8a88-7da2e70de622","name":"atlas_query","value":"={{ $('Atlas Input').item.json.atlas_query }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-256],"id":"26f9d2e0-001c-4473-95ce-99e5b92eec03","name":"Atlas Output - APROVADO"},{"parameters":{"assignments":{"assignments":[{"id":"281613bd-adfa-43ac-8a40-c077afeb0d95","name":"lead_message","value":"={{ $('Atlas Input').item.json.lead_message }}","type":"string"},{"id":"07dba0d7-8b03-41e5-a295-1c46ca50c02b","name":"dify_uuid","value":"={{ $('Atlas Input').item.json.dify_uuid }}","type":"string"},{"id":"b04ea1fd-00f8-47e9-8e43-275123723a22","name":"message_id","value":"={{ $('Atlas Input').item.json.message_id }}","type":"number"},{"id":"9bede370-2bd7-48c1-ab05-1a28da8b6df1","name":"conversation_id","value":"={{ $('Atlas Input').item.json.conversation_id }}","type":"number"},{"id":"e045a734-49ac-4142-85ac-ab6fff2f1b4c","name":"account_id","value":"={{ $('Atlas Input').item.json.account_id }}","type":"number"},{"id":"c8557685-bb80-4fd2-afe1-0e6beea7fed9","name":"contact_id","value":"={{ $('Atlas Input').item.json.contact_id }}","type":"number"},{"id":"6f6a9637-498a-4d92-af82-2a32fd55a0a6","name":"phone","value":"={{ $('Atlas Input').item.json.phone }}","type":"string"},{"id":"01241001-108c-4c78-9699-339f0874f7eb","name":"clean_answer","value":"={{ $json.atlas_corrected_message }}","type":"string"},{"id":"1dee34c3-dbe6-4371-9815-412f27c0539b","name":"lead_status","value":"={{ $('Atlas Input').item.json.lead_status }}","type":"string"},{"id":"7e55ff33-8ec5-4377-9fb6-5f6e85828f75","name":"last_intent","value":"={{ $('Atlas Input').item.json.last_intent }}","type":"string"},{"id":"1f4fdfbe-004f-44b1-934c-b01cc12ff018","name":"lead_summary","value":"={{ $('Atlas Input').item.json.lead_summary }}","type":"string"},{"id":"bccfcb74-6b84-432e-b01f-b107b3abbdaa","name":"last_user_message","value":"={{ $('Atlas Input').item.json.last_user_message }}","type":"string"},{"id":"50b1de0d-4a73-4832-852d-95a9bedf2f88","name":"system_event","value":"={{ $('Atlas Input').item.json.system_event }}","type":"string"},{"id":"4d453bbb-994a-4c95-ae46-72ce50f11da2","name":"option_1_start","value":"={{ $('Atlas Input').item.json.option_1_start }}","type":"string"},{"id":"af59427f-29c8-4909-89c8-cd717b1988a0","name":"option_2_start","value":"={{ $('Atlas Input').item.json.option_2_start }}","type":"string"},{"id":"0bb87a8e-9fa7-45ed-996b-71fb6ff61876","name":"selected_option_start","value":"={{ $('Atlas Input').item.json.selected_option_start }}","type":"string"},{"id":"d1a7459b-f5b8-4f79-b825-fff272e44eea","name":"email","value":"={{ $('Atlas Input').item.json.email }}","type":"string"},{"id":"25549967-5535-4e1c-a4ac-530aaeec0702","name":"correction_reason","value":"={{ $('Parse Atlas').item.json.atlas_reason\n|| $('Atlas Input').item.json.correction_reason }}","type":"string"},{"id":"20548792-0cca-4a7b-bce4-e6544449fe92","name":"correction_instruction","value":"={{ $('Parse Atlas').item.json.atlas_correction_instruction\n|| $('Atlas Input').item.json.correction_instruction }}","type":"string"},{"id":"62402434-b8e0-42cd-8a88-7da2e70de622","name":"atlas_query","value":"={{ $('Atlas Input').item.json.atlas_query }}","type":"string"},{"id":"cc8f289d-e0cd-49b6-aec4-a85627635a8e","name":"history_for_crm","value":"={{ $('Atlas Input + History').item.json.history_for_crm }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,128],"id":"9dcbd7e1-b693-4794-859c-316165151531","name":"Atlas Output - REPROCESSAR_CONTEXTO"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Atlas Output - REPROCESSAR_CONTEXTO').item.json.conversation_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[2608,576],"id":"a976a06c-c4bf-4586-a8e1-1f5427bf2162","name":"Window Buffer Memory"},{"parameters":{"promptType":"define","text":"={{ $json.rewrite_prompt }}","options":{"systemMessage":"Você é a camada corretora da SDR Julia Gabriela.\n\nSua função é reescrever respostas inválidas detectadas pelo Atlas.\n\nRegras:\n- Nunca reutilize a resposta inválida.\n- Nunca explique o erro.\n- Nunca saia do estágio atual da conversa.\n- Se estiver em agenda, permaneça em agenda.\n- Se houver conflito, priorize: system_event, lead_status, campos de agenda, lead_summary, history_for_crm e mensagem atual.\n- Se o lead pedir novo horário, peça um dia melhor apenas quando isso fizer sentido.\n- Se o lead já tiver informado que vai verificar e retornar depois, não pressione e não repita a pergunta.\n- Responda de forma curta, natural e objetiva.\n- Retorne apenas no formato:\n\nmensagem natural\n\n#STATUS:...\n#LAST_INTENT:...\n#LEAD_SUMMARY:..."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2464,352],"id":"911a6288-5588-4ef4-9639-e1a419d55117","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{"maxTokens":1000,"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2480,576],"id":"26441321-0006-4ec5-8091-8f3083fe927b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"jsCode":"const item = $json;\n\nconst decision = String(item.atlas_decision || '').trim();\nconst leadStatus = String(item.lead_status || '').trim();\nconst lastIntent = String(item.last_intent || '').trim();\nconst leadSummary = String(item.lead_summary || '').trim();\nconst leadMessage = String(item.lead_message || '').trim().toLowerCase();\nconst correctionInstruction = String(item.atlas_correction_instruction || item.correction_instruction || '').trim();\nconst historyForCrm = String(item.history_for_crm || '').trim().toLowerCase();\n\nfunction upsertSummary(summary, field, value) {\n  if (!summary) return `${field}: ${value};`;\n  const regex = new RegExp(`${field}:\\\\s*[^;]*`, 'i');\n  if (regex.test(summary)) {\n    return summary.replace(regex, `${field}: ${value}`);\n  }\n  return `${summary.trim()} ${field}: ${value};`.trim();\n}\n\nfunction buildOutput(message, status, intent, summary, source = 'deterministic_handler') {\n  const raw = `${message}\n\n#STATUS:${status}\n#LAST_INTENT:${intent}\n#LEAD_SUMMARY:${summary}`;\n\n  return {\n    ...item,\n    handler_resolved: true,\n    handler_source: source,\n    final_answer_raw: raw,\n    final_answer: message,\n    final_status: status,\n    final_last_intent: intent,\n    final_lead_summary: summary\n  };\n}\n\nfunction containsAny(text, terms) {\n  return terms.some(term => text.includes(term));\n}\n\n// Sinais de que o lead ainda vai verificar e não quer responder agora\nconst leadPostponedDecision = containsAny(leadMessage, [\n  'vou ver',\n  'vejo',\n  'te aviso',\n  'depois te aviso',\n  'alinho com vc',\n  'alinho com você',\n  'depois vejo',\n  'vou confirmar',\n  'vou verificar',\n  'vou checar',\n  'deixa eu ver',\n  'deixa eu verificar'\n]);\n\n// Sinais de conflito de agenda\nconst leadHasScheduleConflict = containsAny(leadMessage, [\n  'ruim por causa do trabalho',\n  'por causa do trabalho',\n  'esse horario',\n  'esse horário',\n  'não consigo nesse horario',\n  'nao consigo nesse horario',\n  'não consigo nesse horário',\n  'não dá nesse horário',\n  'nao da nesse horario',\n  'não dá pra mim',\n  'não funciona pra mim',\n  'nao funciona pra mim'\n]);\n\n// Ver se a Julia já pediu novo horário antes\nconst alreadyAskedForNewDay = containsAny(historyForCrm, [\n  'pode me sugerir um dia e horário',\n  'que dia da semana é melhor pra você',\n  'me fala um período melhor',\n  'qual dia funciona melhor',\n  'qual dia e horário'\n]);\n\nlet updatedSummary = leadSummary;\n\n// 1) CASO MAIS IMPORTANTE:\n// Lead pediu novos horários, mas respondeu que vai ver depois.\n// Aqui NÃO pergunta de novo.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  leadPostponedDecision\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead informou que vai verificar um dia melhor antes de sugerir nova disponibilidade'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar o lead retornar com um dia ou horário melhor'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Perfeito. Quando conseguir definir um dia melhor, me avisa que eu verifico as opções de horário pra você.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 2) Lead está em novos horários e falou que os horários não servem.\n// Aqui sim pede o dia.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  leadHasScheduleConflict\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'informou que os horários enviados não funcionam por causa do trabalho'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar sugestão de dia para verificar nova disponibilidade'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Sem problema. Qual dia funciona melhor para você? Assim, já vejo as opções de horário.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 3) Se já pediu dia antes, evita repetir a mesma pergunta.\n// Faz uma versão mais suave.\nif (\n  (leadStatus === 'SOLICITAR_NOVAS_OPCOES' || lastIntent === 'PEDIU_OUTROS_HORARIOS') &&\n  alreadyAskedForNewDay\n) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'conversa segue em aberto para definição de nova disponibilidade'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar o lead sugerir um dia melhor para nova consulta de agenda'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Sem problema. Me avisa quando tiver um dia melhor pra você que eu verifico as opções de horário.',\n        'SOLICITAR_NOVAS_OPCOES',\n        'PEDIU_OUTROS_HORARIOS',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 4) Aguardando escolha de horário\nif (leadStatus === 'AGUARDANDO_ESCOLHA_HORARIO') {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead não confirmou nenhuma das opções enviadas'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'aguardar escolha de horário ou nova janela de disponibilidade'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Se aqueles horários não funcionarem, me fala qual dia funciona melhor para você que eu verifico as opções de horário.',\n        'AGUARDANDO_ESCOLHA_HORARIO',\n        lastIntent || 'PREPARAR_AGENDAMENTO',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 5) Horário selecionado, mas sem email\nif (leadStatus === 'HORARIO_SELECIONADO' && !item.email) {\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Último contexto',\n    'lead escolheu um horário e falta confirmar email'\n  );\n\n  updatedSummary = upsertSummary(\n    updatedSummary,\n    'Próxima etapa',\n    'coletar email para confirmar agendamento'\n  );\n\n  return [\n    {\n      json: buildOutput(\n        'Perfeito. Qual seu melhor email para eu confirmar?',\n        'AGUARDANDO_EMAIL',\n        'PREPARAR_AGENDAMENTO',\n        updatedSummary\n      )\n    }\n  ];\n}\n\n// 6) Fallback → manda para IA corretora\nreturn [\n  {\n    json: {\n      ...item,\n      handler_resolved: false,\n      handler_source: 'fallback_ai',\n      rewrite_mode: decision === 'REPROCESSAR_CONTEXTO' ? 'FORTE' : 'NORMAL',\n      rewrite_instruction: correctionInstruction || 'Corrigir a resposta respeitando o estado atual da conversa.'\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,128],"id":"f63a99a4-2715-4038-8308-b96cc029c01b","name":"ATLAS_HANDLER_DETERMINISTICO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"da3a3a58-7361-4848-b5ec-6e81b783d04d","leftValue":"={{ $json.handler_resolved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2016,224],"id":"c5905b25-5bef-4418-9964-aad6880fbf36","name":"HANDLER_RESOLVEU"},{"parameters":{"assignments":{"assignments":[{"id":"b4847007-3a8c-4197-8f1c-5eb965c64e8e","name":"rewrite_mode","value":"={{ $json.rewrite_mode || 'NORMAL' }}","type":"string"},{"id":"f1a53bcd-2353-4d53-a235-66c4f5bbba90","name":"rewrite_instruction","value":"={{ $json.rewrite_instruction \n|| $json.atlas_correction_instruction \n|| $json.correction_instruction \n|| 'Corrigir a resposta respeitando o estado atual da conversa.' }}\",","type":"string"},{"id":"429121ca-8480-40b6-83ba-95f597e0a19c","name":"rewrite_prompt","value":"={{ 'Você está corrigindo uma resposta anterior da SDR Julia Gabriela que foi invalidada pelo Atlas.\\\\n\\\\nREGRAS OBRIGATÓRIAS:\\\\n1. NÃO reutilize a resposta anterior inválida.\\\\n2. Respeite integralmente o estado atual da conversa.\\\\n3. Se o lead estiver em agenda, responda apenas em modo agenda.\\\\n4. Se o lead estiver em negociação, não agende cedo.\\\\n5. Seja curta, natural, humana e objetiva.\\\\n6. Retorne no formato obrigatório: mensagem natural + #STATUS + #LAST_INTENT + #LEAD_SUMMARY.\\\\n7. Se o contexto for pedir novos horários, peça um dia melhor apenas quando isso ainda fizer sentido.\\\\n8. Se o lead já tiver dito que vai verificar e retornar depois, não insista pedindo dia novamente.\\\\n\\\\nDECISÃO DO ATLAS: ' \n+ ($json.atlas_decision || '') \n+ '\\\\nMOTIVO: ' + ($json.atlas_reason || '') \n+ '\\\\nINSTRUÇÃO DE CORREÇÃO: ' + ($json.rewrite_instruction || $json.atlas_correction_instruction || '') \n+ '\\\\n\\\\nDADOS ATUAIS:\\\\nlead_status: ' + ($json.lead_status || '') \n+ '\\\\nlast_intent: ' + ($json.last_intent || '') \n+ '\\\\nlead_summary: ' \n+ ($json.lead_summary || '') + '\\\\nsystem_event: ' + ($json.system_event || '') + '\\\\noption_1_start: ' + ($json.option_1_start || '') + '\\\\noption_2_start: ' + ($json.option_2_start || '') + '\\\\nselected_option_start: ' + ($json.selected_option_start || '') \n+ '\\\\nemail: ' + ($json.email || '') \n+ '\\\\nhistory_for_crm: ' + ($json.history_for_crm || '') \n+ '\\\\n\\\\nÚLTIMA MENSAGEM DO LEAD:\\\\n' + ($json.lead_message || '') \n+ '\\\\n\\\\nAgora gere a resposta correta.' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,352],"id":"3f2eee3a-dd02-46a0-8457-60479800f8c1","name":"PROMPT_IA_CORRETORA"},{"parameters":{"jsCode":"const raw =\n  $json.output ||\n  $json.answer ||\n  $json.text ||\n  $json.message ||\n  '';\n\nconst statusMatch = raw.match(/#STATUS:(.*)/);\nconst intentMatch = raw.match(/#LAST_INTENT:(.*)/);\nconst summaryMatch = raw.match(/#LEAD_SUMMARY:([\\s\\S]*)/);\n\nconst message = raw\n  .replace(/#STATUS:.*$/m, '')\n  .replace(/#LAST_INTENT:.*$/m, '')\n  .replace(/#LEAD_SUMMARY:[\\s\\S]*$/m, '')\n  .trim();\n\nreturn [\n  {\n    json: {\n      ...$json,\n      final_answer_raw: raw,\n      final_answer: message,\n      final_status: statusMatch ? statusMatch[1].trim() : '',\n      final_last_intent: intentMatch ? intentMatch[1].trim() : '',\n      final_lead_summary: summaryMatch ? summaryMatch[1].trim() : '',\n      handler_source: 'ai_rewrite',\n      handler_resolved: true\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,352],"id":"2012f0f2-8b63-4447-ab31-00c1c80d19eb","name":"PARSE_CORRETORA"},{"parameters":{"assignments":{"assignments":[{"id":"1432a7ec-6aca-4bf5-a485-870fb6fc0d68","name":"clean_answer","value":"={{ $json.final_answer\n|| $json.clean_answer }}","type":"string"},{"id":"205ec76c-070c-47c8-9dbe-3b61f6677f44","name":"lead_status","value":"={{ $json.final_status\n|| $json.lead_status }}","type":"string"},{"id":"f1bd75cb-12e1-4270-88f9-b68680692e20","name":"last_intent","value":"={{ $json.final_last_intent\n|| $json.last_intent}}","type":"string"},{"id":"425e30f9-fac2-4daa-a827-dc1427f00048","name":"answer_source","value":"={{ $json.handler_source || 'deterministic_handler' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,112],"id":"f6c95981-78c2-4058-b20d-c1fe35d57edb","name":"SAIDA_PADRAO_HANDLER"},{"parameters":{"assignments":{"assignments":[{"id":"e4282d84-d6a5-47a0-bc28-7fe876f4964f","name":"clean_answer","value":"={{ $json.final_answer || '' }}","type":"string"},{"id":"dd5946ef-408a-4c51-a121-1ed4f9ef1764","name":"lead_status","value":"={{ $json.final_status || $json.lead_status || '' }}","type":"string"},{"id":"88c2806a-6039-40e8-a6e8-5d94b5948f3f","name":"last_intent","value":"={{ $json.final_last_intent || $json.last_intent || '' }}","type":"string"},{"id":"59779ea6-75d4-4ff4-9100-89482abc11c6","name":"lead_summary","value":"={{ $json.final_lead_summary || $json.lead_summary || '' }}","type":"string"},{"id":"390ddb30-3791-4e1c-a733-25c0fd2a121b","name":"answer_source","value":"={{ $json.handler_source || 'unknown' }}","type":"string"},{"id":"934f8f87-e5a2-41a4-9717-49c5a8d2f7d2","name":"answer_raw","value":"={{ $json.final_answer_raw || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,352],"id":"4655718e-1747-494c-996a-05e3302e1a93","name":"SAIDA_PADRAO_IA"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"clashHandling":{"values":{"resolveClash":"preferLast"}}}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3264,128],"id":"def535f8-82ff-4025-ba7c-dd06b60b4852","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3040,-96],"id":"6206aa67-ea3c-4139-9608-46df20350728","name":"No Operation, do nothing"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"atlas_raw_answer, atlas_decision, atlas_reason, atlas_corrected_message, atlas_correction_instruction, atlas_validated, final_answer_raw, final_answer, final_status, final_last_intent, final_lead_summary, answer_source, answer_raw","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3488,128],"id":"b6a56095-d8d9-49f6-9325-21fcd940a6a3","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Atlas Input","type":"main","index":0}]]},"Atlas Input":{"main":[[{"node":"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'","type":"main","index":0},{"node":"Atlas Input + History","type":"main","index":0}]]},"Atlas Dify":{"main":[[{"node":"Parse Atlas","type":"main","index":0}]]},"Parse Atlas":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call '[CHATWOOT] [SDR] Gera Resumo Histórico Longo'":{"main":[[{"node":"Atlas Input + History","type":"main","index":1}]]},"Atlas Input + History":{"main":[[{"node":"Atlas Dify","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Atlas Output - APROVADO","type":"main","index":0}],[{"node":"Atlas Output - CORRECAO_LEVE","type":"main","index":0}],[{"node":"Atlas Output - REPROCESSAR_CONTEXTO","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Atlas Output - REPROCESSAR_CONTEXTO":{"main":[[{"node":"ATLAS_HANDLER_DETERMINISTICO","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"ATLAS_HANDLER_DETERMINISTICO":{"main":[[{"node":"HANDLER_RESOLVEU","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"HANDLER_RESOLVEU":{"main":[[{"node":"SAIDA_PADRAO_HANDLER","type":"main","index":0}],[{"node":"PROMPT_IA_CORRETORA","type":"main","index":0}]]},"PROMPT_IA_CORRETORA":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"PARSE_CORRETORA","type":"main","index":0}]]},"PARSE_CORRETORA":{"main":[[{"node":"SAIDA_PADRAO_IA","type":"main","index":0}]]},"SAIDA_PADRAO_HANDLER":{"main":[[{"node":"Merge","type":"main","index":1}]]},"SAIDA_PADRAO_IA":{"main":[[{"node":"Merge","type":"main","index":1}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version e22618e7","description":"","autosaved":true},"tags":[]}