workflows/Dhwe1ratTEuPeqqK.json
{"updatedAt":"2026-05-08T12:55:38.406Z","createdAt":"2026-05-07T19:04:02.255Z","id":"Dhwe1ratTEuPeqqK","name":"[CTX] [CCTD] Mensagem para grupo da ACSO","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[176,208],"id":"76c7bc3c-6645-41c7-8aa1-9479d0b23a94","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"=Crie uma mensagem persuasiva para divulgar o curso Cliente Chamando Todo Dia em um grupo de WhatsApp de empresários de Sorocaba chamado ACSO, Associação Comercial de Sorocaba.\n\nDADOS DA OFERTA\n\nCupom:\n{{ $json.cupom }}\n\nDesconto:\n{{ $json.desconto }}\n\nValor final:\n{{ $json.valor_final }}\n\nLink obrigatório:\n{{ $json.link }}\n\nREGRAS ESPECÍFICAS\n\nA mensagem precisa citar que é um curso de tráfego pago para pequenos empresários.\n\nA mensagem precisa citar que Ricardo Fiorelli é consultor de tráfego pago da ACSO, Associação Comercial de Sorocaba.\n\nA mensagem também precisa deixar claro que o curso é uma iniciativa do Ricardo Fiorelli / Convertix, não um produto oficial da ACSO.\n\nUse exatamente este cupom:\n{{ $json.cupom }}\n\nUse exatamente este desconto:\n{{ $json.desconto }}\n\nUse exatamente este valor final:\n{{ $json.valor_final }}\n\nUse exatamente este link:\n{{ $json.link }}\n\nRetorne somente a mensagem pronta para envio.","messages":{"messageValues":[{"message":"=Você é um copywriter especialista em mensagens persuasivas de WhatsApp para grupos de empresários.\n\nSua tarefa é criar UMA mensagem comercial para divulgar o curso Cliente Chamando Todo Dia.\n\nCONTEXTO DO PRODUTO\n\nO Cliente Chamando Todo Dia é um curso online de tráfego pago para pequenos empresários, profissionais autônomos e negócios locais que querem gerar mais conversas, orçamentos e oportunidades pelo WhatsApp.\n\nO curso é para iniciantes, principalmente empresários que nunca anunciaram, que já impulsionaram publicações sem entender o resultado ou que querem começar com mais clareza no Meta Ads.\n\nPromessa central:\nEnsinar o básico bem feito para o empresário preparar sua estrutura, criar bons anúncios, subir campanhas no Instagram/Facebook com foco em WhatsApp e acompanhar os números sem ansiedade.\n\nDores principais:\nposta e ninguém chama, depende demais de indicação, tem medo de perder dinheiro anunciando, não sabe qual campanha escolher, recebe curiosos demais, não sabe medir se o anúncio está funcionando e quer vender mais pelo WhatsApp.\n\nPrincipais entregas:\ncurso direto ao ponto, passo a passo para primeira campanha, foco em Meta Ads e WhatsApp, planilha de acompanhamento, checklist antes de anunciar, modelos de criativos, templates de legenda, fluxograma de decisão, glossário simples, garantia de 7 dias e acesso pela Hotmart.\n\nAUTORIDADE LOCAL\n\nO criador do curso é Ricardo Fiorelli, fundador da Convertix e consultor de tráfego pago da ACSO, Associação Comercial de Sorocaba.\n\nUse essa informação como elemento de autoridade na mensagem.\n\nRegra crítica:\nPode dizer que Ricardo Fiorelli é consultor de tráfego pago da ACSO.\nNão diga que o curso é oficial da ACSO.\nNão diga que a ACSO criou, vende, endossa ou garante o curso.\nDeixe claro, quando necessário, que o curso é uma iniciativa do Ricardo Fiorelli / Convertix.\n\nREGRAS DA MENSAGEM\n\nUse estrutura AIDA.\nComece pela dor.\nMostre o curso como solução prática.\nUse tom direto, humano e comercial.\nPode usar emojis.\nNão prometa vendas garantidas.\nNão invente dados.\nNão diga que é produto oficial da ACSO.\nNão altere cupom, desconto, valor ou link recebidos.\nRetorne somente a mensagem pronta para envio no WhatsApp."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[624,160],"id":"d16f858e-9a41-4500-a47a-1db3274de113","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.8}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[704,384],"id":"4f017ce8-a60a-4227-b8b4-f7bad84e9807","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"assignments":{"assignments":[{"id":"af098eb4-59f7-465d-a783-22a704ddee30","name":"cupom","value":"=ACSO50","type":"string"},{"id":"9aea75a9-5a55-4eef-aca7-5501853edfb8","name":"link","value":"=https://cctd.convertix.digital?sck=acso{{ $now.format('yyyyMMdd') }}&offDiscount=ACSO50","type":"string"},{"id":"182d63f5-5a57-427a-a199-72a01e4d901d","name":"desconto","value":"50%","type":"string"},{"id":"f7bc8b22-d700-47ac-9430-dab0eb216c2a","name":"valor_final","value":"R$ 48,50","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,160],"id":"6c7e19b2-c64c-43b3-bc74-79ffd0b84c0f","name":"Mensagem"},{"parameters":{"jsCode":"const inputItems = $input.all();\n\nlet arquivos = [];\n\n// Normaliza entrada\nfor (const item of inputItems) {\n  const json = item.json;\n\n  if (Array.isArray(json)) {\n    arquivos = arquivos.concat(json);\n  } else if (Array.isArray(json.data)) {\n    arquivos = arquivos.concat(json.data);\n  } else if (Array.isArray(json.files)) {\n    arquivos = arquivos.concat(json.files);\n  } else {\n    arquivos.push(json);\n  }\n}\n\n// Filtra somente arquivos válidos\narquivos = arquivos.filter(file => file && file.id && file.name);\n\nif (arquivos.length === 0) {\n  throw new Error('Nenhum arquivo válido encontrado. Esperado: { id, name }');\n}\n\n// Escolhe aleatoriamente\nconst escolhido = arquivos[Math.floor(Math.random() * arquivos.length)];\n\nconst fileId = escolhido.id;\nconst fileName = escolhido.name;\n\nconst downloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [\n  {\n    json: {\n      image_drive: {\n        filedrive_id: fileId,\n        file_name: fileName,\n        download_url: downloadUrl,\n        mime_type: \"image/png\"\n      },\n      evolution_media_payload: {\n        mediatype: \"image\",\n        mimetype: \"image/png\",\n        media: downloadUrl,\n        fileName: fileName\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-144],"id":"5e534ef6-554f-48eb-80e2-6d73649cea5c","name":"Abordagens Enviada"},{"parameters":{"amount":"={{ Math.random()*10 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1424,16],"id":"a594179d-2e86-43b3-ae8c-8a6ab83d9be5","name":"Wait","webhookId":"37652b3d-e667-4645-a79b-a3d62c1a3f66"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"fullText contains 'FEED' and mimeType contains 'image/' and trashed = false","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1nWmE50UK0XIgF3ehl2u-2tnnMwNuutJe","mode":"list","cachedResultName":"Criativos CCTD","cachedResultUrl":"https://drive.google.com/drive/folders/1nWmE50UK0XIgF3ehl2u-2tnnMwNuutJe"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,-144],"id":"845321be-51c8-4f57-8f8e-e59c7defce7f","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,16],"id":"23782b04-35d3-49ed-b250-f1e8f35661a5","name":"Merge"},{"parameters":{"resource":"messages-api","instanceName":"=fiorellidigital2","remoteJid":"=5515998145665-1462303518@g.us","messageText":"={{ $('Merge').item.json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1648,16],"id":"64bcdc7a-1973-443f-af5d-4ce2d7eaa20a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"=fiorellidigital2","remoteJid":"=5515998145665-1462303518@g.us","media":"={{ $('Merge').item.json.evolution_media_payload.media }}","caption":"=Link com desconto já aplicado: {{ $('Mensagem').item.json.link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,16],"id":"b4f4fc43-2c9e-44dd-bedf-180155531970","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-48,-192],"id":"8d77022f-918e-49df-9e31-18116df41763","name":"Schedule Trigger"},{"parameters":{"amount":"={{ 6*Math.random() }}","unit":"hours"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,-192],"id":"ecd38fd7-12bc-47a6-ab3d-a501e749ed76","name":"Wait1","webhookId":"46af429f-ebc7-45a4-89ba-6f3c875b2594"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Mensagem","type":"main","index":0},{"node":"Search files and folders","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mensagem":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Abordagens Enviada":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Abordagens Enviada","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Mensagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"8b070ff0-d221-4ac5-9b54-6826f5a84c49","activeVersionId":"8b070ff0-d221-4ac5-9b54-6826f5a84c49","triggerCount":1,"shared":[{"updatedAt":"2026-05-07T19:04:02.255Z","createdAt":"2026-05-07T19:04:02.255Z","role":"workflow:owner","workflowId":"Dhwe1ratTEuPeqqK","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-05-08T12:55:43.143Z","createdAt":"2026-05-08T12:55:38.408Z","versionId":"8b070ff0-d221-4ac5-9b54-6826f5a84c49","workflowId":"Dhwe1ratTEuPeqqK","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[176,208],"id":"76c7bc3c-6645-41c7-8aa1-9479d0b23a94","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"=Crie uma mensagem persuasiva para divulgar o curso Cliente Chamando Todo Dia em um grupo de WhatsApp de empresários de Sorocaba chamado ACSO, Associação Comercial de Sorocaba.\n\nDADOS DA OFERTA\n\nCupom:\n{{ $json.cupom }}\n\nDesconto:\n{{ $json.desconto }}\n\nValor final:\n{{ $json.valor_final }}\n\nLink obrigatório:\n{{ $json.link }}\n\nREGRAS ESPECÍFICAS\n\nA mensagem precisa citar que é um curso de tráfego pago para pequenos empresários.\n\nA mensagem precisa citar que Ricardo Fiorelli é consultor de tráfego pago da ACSO, Associação Comercial de Sorocaba.\n\nA mensagem também precisa deixar claro que o curso é uma iniciativa do Ricardo Fiorelli / Convertix, não um produto oficial da ACSO.\n\nUse exatamente este cupom:\n{{ $json.cupom }}\n\nUse exatamente este desconto:\n{{ $json.desconto }}\n\nUse exatamente este valor final:\n{{ $json.valor_final }}\n\nUse exatamente este link:\n{{ $json.link }}\n\nRetorne somente a mensagem pronta para envio.","messages":{"messageValues":[{"message":"=Você é um copywriter especialista em mensagens persuasivas de WhatsApp para grupos de empresários.\n\nSua tarefa é criar UMA mensagem comercial para divulgar o curso Cliente Chamando Todo Dia.\n\nCONTEXTO DO PRODUTO\n\nO Cliente Chamando Todo Dia é um curso online de tráfego pago para pequenos empresários, profissionais autônomos e negócios locais que querem gerar mais conversas, orçamentos e oportunidades pelo WhatsApp.\n\nO curso é para iniciantes, principalmente empresários que nunca anunciaram, que já impulsionaram publicações sem entender o resultado ou que querem começar com mais clareza no Meta Ads.\n\nPromessa central:\nEnsinar o básico bem feito para o empresário preparar sua estrutura, criar bons anúncios, subir campanhas no Instagram/Facebook com foco em WhatsApp e acompanhar os números sem ansiedade.\n\nDores principais:\nposta e ninguém chama, depende demais de indicação, tem medo de perder dinheiro anunciando, não sabe qual campanha escolher, recebe curiosos demais, não sabe medir se o anúncio está funcionando e quer vender mais pelo WhatsApp.\n\nPrincipais entregas:\ncurso direto ao ponto, passo a passo para primeira campanha, foco em Meta Ads e WhatsApp, planilha de acompanhamento, checklist antes de anunciar, modelos de criativos, templates de legenda, fluxograma de decisão, glossário simples, garantia de 7 dias e acesso pela Hotmart.\n\nAUTORIDADE LOCAL\n\nO criador do curso é Ricardo Fiorelli, fundador da Convertix e consultor de tráfego pago da ACSO, Associação Comercial de Sorocaba.\n\nUse essa informação como elemento de autoridade na mensagem.\n\nRegra crítica:\nPode dizer que Ricardo Fiorelli é consultor de tráfego pago da ACSO.\nNão diga que o curso é oficial da ACSO.\nNão diga que a ACSO criou, vende, endossa ou garante o curso.\nDeixe claro, quando necessário, que o curso é uma iniciativa do Ricardo Fiorelli / Convertix.\n\nREGRAS DA MENSAGEM\n\nUse estrutura AIDA.\nComece pela dor.\nMostre o curso como solução prática.\nUse tom direto, humano e comercial.\nPode usar emojis.\nNão prometa vendas garantidas.\nNão invente dados.\nNão diga que é produto oficial da ACSO.\nNão altere cupom, desconto, valor ou link recebidos.\nRetorne somente a mensagem pronta para envio no WhatsApp."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[624,160],"id":"d16f858e-9a41-4500-a47a-1db3274de113","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.8}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[704,384],"id":"4f017ce8-a60a-4227-b8b4-f7bad84e9807","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"assignments":{"assignments":[{"id":"af098eb4-59f7-465d-a783-22a704ddee30","name":"cupom","value":"=ACSO50","type":"string"},{"id":"9aea75a9-5a55-4eef-aca7-5501853edfb8","name":"link","value":"=https://cctd.convertix.digital?sck=acso{{ $now.format('yyyyMMdd') }}&offDiscount=ACSO50","type":"string"},{"id":"182d63f5-5a57-427a-a199-72a01e4d901d","name":"desconto","value":"50%","type":"string"},{"id":"f7bc8b22-d700-47ac-9430-dab0eb216c2a","name":"valor_final","value":"R$ 48,50","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,160],"id":"6c7e19b2-c64c-43b3-bc74-79ffd0b84c0f","name":"Mensagem"},{"parameters":{"jsCode":"const inputItems = $input.all();\n\nlet arquivos = [];\n\n// Normaliza entrada\nfor (const item of inputItems) {\n  const json = item.json;\n\n  if (Array.isArray(json)) {\n    arquivos = arquivos.concat(json);\n  } else if (Array.isArray(json.data)) {\n    arquivos = arquivos.concat(json.data);\n  } else if (Array.isArray(json.files)) {\n    arquivos = arquivos.concat(json.files);\n  } else {\n    arquivos.push(json);\n  }\n}\n\n// Filtra somente arquivos válidos\narquivos = arquivos.filter(file => file && file.id && file.name);\n\nif (arquivos.length === 0) {\n  throw new Error('Nenhum arquivo válido encontrado. Esperado: { id, name }');\n}\n\n// Escolhe aleatoriamente\nconst escolhido = arquivos[Math.floor(Math.random() * arquivos.length)];\n\nconst fileId = escolhido.id;\nconst fileName = escolhido.name;\n\nconst downloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [\n  {\n    json: {\n      image_drive: {\n        filedrive_id: fileId,\n        file_name: fileName,\n        download_url: downloadUrl,\n        mime_type: \"image/png\"\n      },\n      evolution_media_payload: {\n        mediatype: \"image\",\n        mimetype: \"image/png\",\n        media: downloadUrl,\n        fileName: fileName\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-144],"id":"5e534ef6-554f-48eb-80e2-6d73649cea5c","name":"Abordagens Enviada"},{"parameters":{"amount":"={{ Math.random()*10 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1424,16],"id":"a594179d-2e86-43b3-ae8c-8a6ab83d9be5","name":"Wait","webhookId":"37652b3d-e667-4645-a79b-a3d62c1a3f66"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"fullText contains 'FEED' and mimeType contains 'image/' and trashed = false","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1nWmE50UK0XIgF3ehl2u-2tnnMwNuutJe","mode":"list","cachedResultName":"Criativos CCTD","cachedResultUrl":"https://drive.google.com/drive/folders/1nWmE50UK0XIgF3ehl2u-2tnnMwNuutJe"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,-144],"id":"845321be-51c8-4f57-8f8e-e59c7defce7f","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,16],"id":"23782b04-35d3-49ed-b250-f1e8f35661a5","name":"Merge"},{"parameters":{"resource":"messages-api","instanceName":"=fiorellidigital2","remoteJid":"=5515998145665-1462303518@g.us","messageText":"={{ $('Merge').item.json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1648,16],"id":"64bcdc7a-1973-443f-af5d-4ce2d7eaa20a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"=fiorellidigital2","remoteJid":"=5515998145665-1462303518@g.us","media":"={{ $('Merge').item.json.evolution_media_payload.media }}","caption":"=Link com desconto já aplicado: {{ $('Mensagem').item.json.link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,16],"id":"b4f4fc43-2c9e-44dd-bedf-180155531970","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-48,-192],"id":"8d77022f-918e-49df-9e31-18116df41763","name":"Schedule Trigger"},{"parameters":{"amount":"={{ 6*Math.random() }}","unit":"hours"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,-192],"id":"ecd38fd7-12bc-47a6-ab3d-a501e749ed76","name":"Wait1","webhookId":"46af429f-ebc7-45a4-89ba-6f3c875b2594"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Mensagem","type":"main","index":0},{"node":"Search files and folders","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mensagem":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Abordagens Enviada":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Abordagens Enviada","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Search files and folders","type":"main","index":0},{"node":"Mensagem","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 8b070ff0","description":"","autosaved":true},"tags":[]}