workflows/eGjNpIqxswONwg9l.json
{"updatedAt":"2026-07-08T19:14:16.724Z","createdAt":"2026-01-06T04:13:40.384Z","id":"eGjNpIqxswONwg9l","name":"[CTX] [META-APP] Webhook Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"ctx-meta-whatsapp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-464,-352],"id":"fc9f1d42-f6cc-4d6a-a326-2840385cc264","name":"Webhook","webhookId":"ef9415d0-0015-4e78-9b59-a2d26b37f471"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-240,-352],"id":"f6d10af1-47e5-4217-a145-f8935925f1d8","name":"Respond to Webhook"},{"parameters":{"content":"## Validação não usar mais","height":240,"width":500},"type":"n8n-nodes-base.stickyNote","position":[-560,-432],"typeVersion":1,"id":"1e06c583-fbb7-4c87-b22e-d83db5727568","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"ctx-meta-whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,80],"id":"71bee307-cb34-4972-8e62-6409f88d90eb","name":"POST: ctx-meta-whatsapp","webhookId":"ef9415d0-0015-4e78-9b59-a2d26b37f471"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v25.0","node":"={{ \"1234\" /* Colocar aqui o Id do Whatsapp */ }}","edge":"subscribed_apps","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-464,-576],"id":"651b70d4-2129-4b99-a0c0-ee67129f3575","name":"Associa Whats no App","credentials":{"facebookGraphApi":{"id":"Ol20qGzmP4jy7Zna","name":"Facebook Graph Token Usuário"}}},{"parameters":{"height":176},"type":"n8n-nodes-base.stickyNote","position":[-528,-592],"typeVersion":1,"id":"55f3cb23-ced7-4b5d-bd7d-fe05d53a125a","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.entry[0].id }}","rightValue":"1178149354050631","operator":{"type":"string","operation":"equals"},"id":"2e3e8826-f900-4c0a-b012-27ca8d0748fb"}],"combinator":"and"},"renameOutput":true,"outputKey":"[TCA] Calandrini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25957b8b-da68-4387-be81-794fd63c8d4b","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"851610611327991","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[CTX] Convertix 11 5198 0357"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ea7ed31-0fc3-4cc6-9f60-adfafc39baf8","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"1989512558599957","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[WGP] Wilda Gomes"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-16,128],"id":"2e1a7c28-8ad0-43a9-ba35-eae42b882a46","name":"Switch"},{"parameters":{"errorMessage":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[208,448],"id":"d43fcc7b-507f-4e58-b699-254a4106177d","name":"Stop and Error"},{"parameters":{"workflowId":{"__rl":true,"value":"bpNtnydiGXLEyCXv","mode":"list","cachedResultUrl":"/workflow/bpNtnydiGXLEyCXv","cachedResultName":"[TCA] [Whatsapp] 00 LeadSubmitted"},"workflowInputs":{"mappingMode":"defineBelow","value":{"headers":"={{ $json.headers }}","params":"={{ $json.params }}","query":"={{ $json.query }}","body":"={{ $json.body }}","webhookUrl":"={{ $json.webhookUrl }}","executionMode":"={{ $json.executionMode }}"},"matchingColumns":["headers","params","query","body","webhookUrl","executionMode"],"schema":[{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"params","displayName":"params","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"webhookUrl","displayName":"webhookUrl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,-128],"name":"Call [TCA] [Whatsapp] Pixel Whatsapp (v1.0)","id":"e3accbcf-0185-40dc-8d1b-b99aeab2e922"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f75695b-e9c4-48fc-bd00-c3cf807f7c2c","leftValue":"={{ Array.isArray($json.body?.entry?.[0]?.changes?.[0]?.value?.messages) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-240,64],"id":"5e28b36c-7534-4a91-ba1a-67827e3dc5e5","name":"Somente Recebidos"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,256],"id":"dce6f0a0-ebae-4988-9af7-c2d87a1387d2","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"jib1igAq4WNt0WJ1","mode":"list","cachedResultUrl":"/workflow/jib1igAq4WNt0WJ1","cachedResultName":"[CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}"},"matchingColumns":["body_entry"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,64],"name":"Call [CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas","id":"a8bbfb53-2d3e-403c-937a-97116b37215a"},{"parameters":{"workflowId":{"__rl":true,"value":"G4agdFeOnTZH8D8K","mode":"list","cachedResultUrl":"/workflow/G4agdFeOnTZH8D8K","cachedResultName":"[WGP] [CHATWOOT] Whatsapp API Recebidas"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,256],"name":"Call [WGP] [CHATWOOT] Whatsapp API Recebidas","id":"98ccc34a-a46b-4f42-8994-d04b99122289"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.toJsonString().toLowerCase() }}","rightValue":"account_alerts","operator":{"type":"string","operation":"contains"},"id":"f8ee70a6-e290-4800-bd98-0a6759e930b4"}],"combinator":"and"},"renameOutput":true,"outputKey":"account_alerts"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-496,80],"id":"94e6694b-6de6-45ac-9592-525f721717a2","name":"Switch1"},{"parameters":{"errorMessage":"adasds"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-272,-80],"id":"5d6b699a-d458-4a08-a1f3-1bb009632938","name":"Stop and Error1"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST: ctx-meta-whatsapp":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call [TCA] [Whatsapp] Pixel Whatsapp (v1.0)","type":"main","index":0}],[{"node":"Call [CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas","type":"main","index":0}],[{"node":"Call [WGP] [CHATWOOT] Whatsapp API Recebidas","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Somente Recebidos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"Somente Recebidos","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","timeSavedMode":"fixed","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"1dca05a4-2e04-45bb-b1d3-476091de254b","activeVersionId":"1dca05a4-2e04-45bb-b1d3-476091de254b","triggerCount":2,"shared":[{"updatedAt":"2026-01-06T04:13:40.384Z","createdAt":"2026-01-06T04:13:40.384Z","role":"workflow:owner","workflowId":"eGjNpIqxswONwg9l","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-08T19:20:10.060Z","createdAt":"2026-07-08T19:14:16.726Z","versionId":"1dca05a4-2e04-45bb-b1d3-476091de254b","workflowId":"eGjNpIqxswONwg9l","nodes":[{"parameters":{"path":"ctx-meta-whatsapp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-464,-352],"id":"fc9f1d42-f6cc-4d6a-a326-2840385cc264","name":"Webhook","webhookId":"ef9415d0-0015-4e78-9b59-a2d26b37f471"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-240,-352],"id":"f6d10af1-47e5-4217-a145-f8935925f1d8","name":"Respond to Webhook"},{"parameters":{"content":"## Validação não usar mais","height":240,"width":500},"type":"n8n-nodes-base.stickyNote","position":[-560,-432],"typeVersion":1,"id":"1e06c583-fbb7-4c87-b22e-d83db5727568","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"ctx-meta-whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,80],"id":"71bee307-cb34-4972-8e62-6409f88d90eb","name":"POST: ctx-meta-whatsapp","webhookId":"ef9415d0-0015-4e78-9b59-a2d26b37f471"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v25.0","node":"={{ \"1234\" /* Colocar aqui o Id do Whatsapp */ }}","edge":"subscribed_apps","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-464,-576],"id":"651b70d4-2129-4b99-a0c0-ee67129f3575","name":"Associa Whats no App","credentials":{"facebookGraphApi":{"id":"Ol20qGzmP4jy7Zna","name":"Facebook Graph Token Usuário"}}},{"parameters":{"height":176},"type":"n8n-nodes-base.stickyNote","position":[-528,-592],"typeVersion":1,"id":"55f3cb23-ced7-4b5d-bd7d-fe05d53a125a","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.entry[0].id }}","rightValue":"1178149354050631","operator":{"type":"string","operation":"equals"},"id":"2e3e8826-f900-4c0a-b012-27ca8d0748fb"}],"combinator":"and"},"renameOutput":true,"outputKey":"[TCA] Calandrini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25957b8b-da68-4387-be81-794fd63c8d4b","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"851610611327991","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[CTX] Convertix 11 5198 0357"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ea7ed31-0fc3-4cc6-9f60-adfafc39baf8","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"1989512558599957","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"[WGP] Wilda Gomes"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-16,128],"id":"2e1a7c28-8ad0-43a9-ba35-eae42b882a46","name":"Switch"},{"parameters":{"errorMessage":"={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[208,448],"id":"d43fcc7b-507f-4e58-b699-254a4106177d","name":"Stop and Error"},{"parameters":{"workflowId":{"__rl":true,"value":"bpNtnydiGXLEyCXv","mode":"list","cachedResultUrl":"/workflow/bpNtnydiGXLEyCXv","cachedResultName":"[TCA] [Whatsapp] 00 LeadSubmitted"},"workflowInputs":{"mappingMode":"defineBelow","value":{"headers":"={{ $json.headers }}","params":"={{ $json.params }}","query":"={{ $json.query }}","body":"={{ $json.body }}","webhookUrl":"={{ $json.webhookUrl }}","executionMode":"={{ $json.executionMode }}"},"matchingColumns":["headers","params","query","body","webhookUrl","executionMode"],"schema":[{"id":"headers","displayName":"headers","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"params","displayName":"params","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"webhookUrl","displayName":"webhookUrl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"executionMode","displayName":"executionMode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,-128],"name":"Call [TCA] [Whatsapp] Pixel Whatsapp (v1.0)","id":"e3accbcf-0185-40dc-8d1b-b99aeab2e922"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7f75695b-e9c4-48fc-bd00-c3cf807f7c2c","leftValue":"={{ Array.isArray($json.body?.entry?.[0]?.changes?.[0]?.value?.messages) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-240,64],"id":"5e28b36c-7534-4a91-ba1a-67827e3dc5e5","name":"Somente Recebidos"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,256],"id":"dce6f0a0-ebae-4988-9af7-c2d87a1387d2","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"jib1igAq4WNt0WJ1","mode":"list","cachedResultUrl":"/workflow/jib1igAq4WNt0WJ1","cachedResultName":"[CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}"},"matchingColumns":["body_entry"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,64],"name":"Call [CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas","id":"a8bbfb53-2d3e-403c-937a-97116b37215a"},{"parameters":{"workflowId":{"__rl":true,"value":"G4agdFeOnTZH8D8K","mode":"list","cachedResultUrl":"/workflow/G4agdFeOnTZH8D8K","cachedResultName":"[WGP] [CHATWOOT] Whatsapp API Recebidas"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,256],"name":"Call [WGP] [CHATWOOT] Whatsapp API Recebidas","id":"98ccc34a-a46b-4f42-8994-d04b99122289"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.toJsonString().toLowerCase() }}","rightValue":"account_alerts","operator":{"type":"string","operation":"contains"},"id":"f8ee70a6-e290-4800-bd98-0a6759e930b4"}],"combinator":"and"},"renameOutput":true,"outputKey":"account_alerts"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-496,80],"id":"94e6694b-6de6-45ac-9592-525f721717a2","name":"Switch1"},{"parameters":{"errorMessage":"adasds"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-272,-80],"id":"5d6b699a-d458-4a08-a1f3-1bb009632938","name":"Stop and Error1"}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"POST: ctx-meta-whatsapp":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call [TCA] [Whatsapp] Pixel Whatsapp (v1.0)","type":"main","index":0}],[{"node":"Call [CTX] [PROSPECÇÃO] ctxvendas0357 Recebidas","type":"main","index":0}],[{"node":"Call [WGP] [CHATWOOT] Whatsapp API Recebidas","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Somente Recebidos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Stop and Error1","type":"main","index":0}],[{"node":"Somente Recebidos","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 1dca05a4","description":"","autosaved":true},"tags":[]}