workflows/f7t7PJeKq2AzuHyE.json
{"updatedAt":"2026-02-18T20:42:01.307Z","createdAt":"2026-01-06T04:13:41.089Z","id":"f7t7PJeKq2AzuHyE","name":"[CTX] [EVOLUTION] Queda de Conexão","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"ce1395cd-dd3e-42e5-81a4-e6198344c7ce","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[464,608]},{"parameters":{"url":"=https://evo.convertix.app/instance/fetchInstances","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b2ee3521-93fd-40d3-9929-6ed46b0fd5f5","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,608],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"FlFOCynbl4Qg6Ynr","name":"EVOLUTION apikey"}}},{"parameters":{"options":{}},"id":"373d6d34-5344-42b2-8688-dc3c19d11dcc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1136,608]},{"parameters":{},"id":"908c8ae6-98ac-4365-a4f3-15268b197e18","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5dfd2cd9-fed5-4421-839c-2042a90cb36c","leftValue":"={{ $json.connectionStatus }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,608],"id":"88dbefbf-e5ea-41a6-aa51-d1439bc3bab9","name":"Filter"},{"parameters":{"workflowId":{"__rl":true,"value":"eZ6j1WCy0Z76vpCo","mode":"list","cachedResultUrl":"/workflow/eZ6j1WCy0Z76vpCo","cachedResultName":"[CTX] [CHECK] [ERRO] Envia Mensagem de URGENCIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=**EVOLUTION CONTA DESCONECTADA**\n\nConta: {{ $json.name }}\nConectar: https://conector.convertix.app\nlogin: {{ $json.number.replaceAll(/\\D/g,\"\") }}\nsenha: {{ $json.token }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1360,528],"id":"630d7ac5-3a4b-4040-bba0-75dd91f23f2d","name":"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":null,"versionId":"dbb2d83b-7e6a-4b3b-b07f-d5f9b0cb979c","activeVersionId":"dbb2d83b-7e6a-4b3b-b07f-d5f9b0cb979c","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:41.089Z","createdAt":"2026-01-06T04:13:41.089Z","role":"workflow:owner","workflowId":"f7t7PJeKq2AzuHyE","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-02-05T11:21:25.514Z","createdAt":"2026-02-05T11:21:18.255Z","versionId":"dbb2d83b-7e6a-4b3b-b07f-d5f9b0cb979c","workflowId":"f7t7PJeKq2AzuHyE","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"ce1395cd-dd3e-42e5-81a4-e6198344c7ce","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[464,608]},{"parameters":{"url":"=https://evo.convertix.app/instance/fetchInstances","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b2ee3521-93fd-40d3-9929-6ed46b0fd5f5","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,608],"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"FlFOCynbl4Qg6Ynr","name":"EVOLUTION apikey"}}},{"parameters":{"options":{}},"id":"373d6d34-5344-42b2-8688-dc3c19d11dcc","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1136,608]},{"parameters":{},"id":"908c8ae6-98ac-4365-a4f3-15268b197e18","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5dfd2cd9-fed5-4421-839c-2042a90cb36c","leftValue":"={{ $json.connectionStatus }}","rightValue":"open","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,608],"id":"88dbefbf-e5ea-41a6-aa51-d1439bc3bab9","name":"Filter"},{"parameters":{"workflowId":{"__rl":true,"value":"eZ6j1WCy0Z76vpCo","mode":"list","cachedResultUrl":"/workflow/eZ6j1WCy0Z76vpCo","cachedResultName":"[CTX] [CHECK] [ERRO] Envia Mensagem de URGENCIA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"=**EVOLUTION CONTA DESCONECTADA**\n\nConta: {{ $json.name }}\nConectar: https://conector.convertix.app\nlogin: {{ $json.number.replaceAll(/\\D/g,\"\") }}\nsenha: {{ $json.token }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1360,528],"id":"630d7ac5-3a4b-4040-bba0-75dd91f23f2d","name":"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call '[CTX] [ERRO] Envia Mensagem de URGENCIA'":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version dbb2d83b","description":"","autosaved":true},"tags":[]}