workflows/fStAKwt6C6UMYTzo.json
{"updatedAt":"2026-01-27T15:56:36.014Z","createdAt":"2026-01-06T04:13:38.698Z","id":"fStAKwt6C6UMYTzo","name":"Agente Agendamento + Pausa para Atendimento Humano","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ia-de-agendamento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[272,1152],"id":"3b903ae4-4b47-4291-9443-aa9b36e461fd","name":"Webhook","webhookId":"6d38a742-849e-4ab7-9584-2bf13c0948fd"},{"parameters":{"assignments":{"assignments":[{"id":"90fa911b-74ad-470c-a9c3-a296a0f8527b","name":"telefone","value":"={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}","type":"string"},{"id":"07051c1b-55ae-4e65-8ee6-2433b1f98c39","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"843009e7-a3a8-4585-8dd8-b05ebb728357","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"28d914d5-a1c7-481a-880d-77d6b1c45ce5","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"d3e5ee27-0777-4771-9e09-6986f9581758","name":"evo.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"5f2b58e3-7307-4456-9dcf-2abbac5675a2","name":"message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"67c228f8-69f3-4fd3-aa59-e83f3072416f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"786ecfb2-f7c0-4dc8-968f-1aaa3956e941","name":"reactionMessage","value":"={{ $json.body.data.message.reactionMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,1152],"id":"226dd0d1-f628-4888-af79-a88878352a87","name":"padronizacao_dados"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $('padronizacao_dados').item.json.message }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1824,1248],"id":"cd8f4b51-0f1d-48eb-a63e-fe889aafe3b0","name":"Text Memory"},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('padronizacao_dados').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2256,1408],"id":"fe8c30e7-ff7c-4285-9a3b-b5fc35da79d7","name":"Get Memory 1"},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('padronizacao_dados').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2560,1408],"id":"a459346b-b252-434d-afde-9e056b54d22f","name":"Get Memory 2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,1408],"id":"63a6dbb0-ea2d-4936-85c3-91d1221a5bef","name":"Wait","webhookId":"cb20ad63-bca3-48f3-a0f5-aed842993800"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a8529e1c-889a-49a0-831b-31f5fd190818"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c87be2fd-23ff-469f-8150-941fff51f77d","leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4b2f54-337b-45ff-a0b6-6d0dbea9c637","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1312,1392],"id":"f032d7b2-bdb2-4b9e-a3cc-0745de92eba3","name":"Message Type"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,1408],"id":"0a086cd9-99b8-44e4-a143-266c054fde40","name":"Audio Memory"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $json.content }}\n\nLegenda: {{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2064,1600],"id":"1a22022b-5f86-4240-a4d0-8cb755d47501","name":"Image Memory"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1744,1600],"id":"ccea750d-96b4-43ac-be1a-0da77d1f52b7","name":"Get Image"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('padronizacao_dados').item.json.messageId }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1408],"id":"fce06feb-0473-4c8e-ab51-1c8e3baacf2b","name":"Get Base64 Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1744,1408],"id":"09ab07ce-cf29-4f14-8ade-a7882e0074ec","name":"Get Audio"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva a imagem que recebeu, começando sua resposta sempre com \"Eu enviei uma imagem....\"","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1904,1600],"id":"41dd405c-b9b3-4364-a2aa-07035e0d31c8","name":"Analyze Image"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1888,1408],"id":"b9c1a6d4-c18a-46c8-a052-3c464a08c4aa","name":"Transcription"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ef20125-3ee7-437c-8127-ebe521d2c782","leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,1152],"id":"0c06b948-a8f5-4ae6-b5c5-489d366ebfca","name":"FromMe"},{"parameters":{"model":"google/gemini-2.5-flash","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3920,1600],"id":"25383817-f234-44fe-80a4-aa6ca843403d","name":"Gemini 2.5 Flash"},{"parameters":{"description":"=Use essa tool SEMPRE que for agendar um compromisso para o usuário\n\nA variável 'start' deve ser preenchida no formato Datetime, com o horário de início escolhido pelo usuário e a variável 'end' adicionando '30 minutos' ao horário de início\n\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"mode":"id","value":"hDX6FNeb7AmiCWce"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"agendamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', `A data e horário do agendamento pedida pelo usuário você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher essa variável`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', `Nessa variavel você vai inserir 30 minutos a mais depois no horario de agendamento da variável \"start\" e irá preencher no formato formato, exemplo:2024-10-18T15:30:00-03:00`, 'string') }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4160,1616],"id":"6aaa102f-6965-45e9-9745-c931c172d7f5","name":"agendar"},{"parameters":{"description":"=Use essa tool sempre que o usuário desejar desmacar/cancelar um evento\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"cancelamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4288,1616],"id":"722c0360-5453-4247-962f-fd3e09e5e440","name":"cancelar"},{"parameters":{"description":"=Use essa tool SEMPRE que o usuário desejar reagendar/remarcar um compromisso. \n\nAntes de reagendar, sempre verifique qual horário de preferência do usuário ou se ele informou algum horário, verifique se está disponível com a tool 'verificar_horarios'\n\nA variável 'start' deve ser preenchida no formato Datetime, com o horário de início escolhido pelo usuário e a variável 'end' adicionando '30 minutos' ao horário de início\n\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"reagendamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', `A data e horário do reagendamento pedida pelo usuário você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher essa variável`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', `Nessa variavel você vai inserir [X horas/minutos] a mais depois no horario de agendamento da variável \"start\" e irá preencher no formato formato, exemplo:2024-10-18T15:30:00-03:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4432,1616],"id":"2a6c7ff8-b3c2-49fb-b9a5-3ad1091aa815","name":"reagendar"},{"parameters":{"description":"=Use essa tool SEMPRE que for verificar um horário disponível. O uso desta tool é obrigatório antes de dizer se um horário está disponível ou não\n\nEm sua resposta sobre os horários disponíveis, considere a preferência de horários do usuário, se informado.\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('padronizacao_dados').item.json.telefone }}","evento":"verificacao"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4560,1616],"id":"62b8fac6-5d56-4641-81da-698ab04dc86b","name":"verificar_horarios"},{"parameters":{"operation":"delete","key":"={{ $('padronizacao_dados').item.json.telefone }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3040,1408],"id":"437decb6-4de1-4166-b4a1-bb990fcb26aa","name":"Delete from Redis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.evento }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"},"id":"b912cd0f-ac0c-4811-bf34-c8d404e0e011"}],"combinator":"and"},"renameOutput":true,"outputKey":"agendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aeaa375b-6128-4f7d-b80e-54082869b000","leftValue":"={{ $json.evento }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37308a0c-5d50-4a01-b4f2-4d97a0b62728","leftValue":"={{ $json.evento }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"197a4b70-18d1-44ec-8223-ca8c607c5dff","leftValue":"={{ $json.evento }}","rightValue":"verificacao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verificar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,2656],"id":"beadeb1b-464b-4959-97bb-b07021e66422","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Consulta cancelada","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,2688],"id":"9a1d6efc-6303-4559-b53f-3a4fded2fbbf","name":"response3"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{(() => {\n    const now = new Date();\n    now.setUTCHours(0, 0, 0, 0); // 09:00 no UTC-3 é 12:00 UTC\n    const isoDate = now.toISOString().substring(0, 19); // Obtém o formato ISO\n    return `${isoDate}-03:00`; // Adiciona o fuso horário manualmente\n})()}}","timeMax":"={{(() => {\n    const now = new Date();\n    now.setUTCHours(0, 0, 0, 0); // 09:00 no UTC-3 é 12:00 UTC\n    now.setUTCDate(now.getUTCDate() + 18); // Adiciona 6 dias\n    const isoDate = now.toISOString().substring(0, 19); // Obtém o formato ISO\n    return `${isoDate}-03:00`; // Adiciona o fuso horário manualmente\n})()}}","options":{"outputFormat":"bookedSlots"}},"id":"0201bb6d-575a-43b9-8740-ccdf3efc2122","name":"Verifica evento2","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[832,3312],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"Verifiquei a agenda da doutora esse dia e realmente, esse horário não tá disponível, a agenda dela tá lotada, os horários disponíveis são esses que te mandei anteriormente, se quiser, posso ver outros horários","type":"string"}]},"options":{}},"id":"a36977c9-74c4-4af6-b35d-a067c1bf1fdb","name":"response5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,3056]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"bb660f9d-9a23-425d-85c8-ffc536a2b61c","name":"response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,2544]},{"parameters":{"assignments":{"assignments":[{"id":"edc090f3-5297-46f6-badf-11b0535a8a30","name":"response","value":"=Já possui uma reunião:\n\nInicio: {{ $item(\"0\").$node[\"If3\"].json[\"start\"][\"dateTime\"] }}\nFim: {{ $item(\"0\").$node[\"If3\"].json[\"end\"][\"dateTime\"] }}","type":"string"}]},"options":{}},"id":"3d68dae9-e658-4fdd-b7c5-a91079af5b48","name":"response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,2352]},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $('tool_agenda').item.json.end }}","start":"={{ $('tool_agenda').item.json.start }}"}},"id":"87cee27b-0e86-49f1-b803-2e7fd71dceec","name":"Update Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1504,2880]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{ $('tool_agenda').item.json.start }}","timeMax":"={{ $('tool_agenda').item.json.end }}","options":{}},"id":"e2ddc9d9-3b03-4a32-ba1e-5f467d830227","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[800,2960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"670fe59a-c093-4423-8930-686bf1fb3eb8","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,2960]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"8fc9e8b4-e844-4b5a-9917-540b2e41ce9b","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1312,2880]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"d4c9f9b4-fe6b-478b-995d-0b23bdb0aaff","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[768,2688]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"d01303ca-5fc0-4c94-8931-04e91f7ffde0","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1008,2688]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"40671c53-c1dd-4722-a243-6b4678f8f6c4","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[720,2416],"alwaysOutputData":true},{"parameters":{"calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"start":"={{ $('tool_agenda').item.json.start }}","end":"={{ $('tool_agenda').item.json.end }}","additionalFields":{"attendees":["={{ $('tool_agenda').item.json.email }}"],"description":"=Número: {{ $('tool_agenda').item.json.telefone.replace('@s.whatsapp.net','') }}","summary":"={{ $('tool_agenda').item.json.telefone }}"}},"id":"558276c9-d92f-4c4f-a730-4795072937a1","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1696,2336]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{ $('tool_agenda').item.json.start }}","timeMax":"={{ $('tool_agenda').item.json.end }}","options":{}},"id":"7ea1b7e9-f847-48b7-9dcf-cff899527839","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1216,2496]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a84c521a-7e61-4746-9ffa-4a2fe5cb50c7","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,2416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bd6c453d-cdf6-4686-8089-4012a5706d1d","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,2496]},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"=Reunião reagendada\n\nLink da Reunião: {{ $('Update Event').item.json.hangoutLink }}","type":"string"},{"id":"555ff26b-f6f2-4cf2-a54a-089dd8f0d8f0","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,2880],"id":"c3ca322e-0e18-49b9-99ce-db487a7b9b17","name":"response9"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"=Reunião agendada\n\nLink da Reunião: {{ $('Marca').item.json.hangoutLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,2336],"id":"e8a05403-e23e-490a-9579-0fbfbb44cbe5","name":"response10"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1008,3312],"id":"896fa7dc-30eb-49a5-8fb0-78308f4b7810","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=# Horários já preenchidos\n{{(() => {\n  const eventos = $('Aggregate').item.json.data;\n  return eventos.map(ev => {\n    const start = new Date(ev.start);\n    const end = new Date(ev.end);\n\n    const format = d => d.toLocaleString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      day: '2-digit',\n      month: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n\n    return `Horário Indisponível – Início: ${format(start)} | Término: ${format(end)}`;\n  }).join('\\n');\n})()}}\n\nPense passo a passo qual os horários disponíveis CONSIDERANDO os horários indisponíveis e os horários de funcionamento\n$('Aggregate').item.json.data","messages":{"messageValues":[{"message":"=Você é um assistente especializado em gestão de agendas que DEVE calcular com precisão os horários disponíveis.\n\n## REGRAS CRÍTICAS (NUNCA IGNORE):\n\n### 1. Horários de Funcionamento (FIXOS):\n```\n{{ $json.horarios_funcionamentos }}\n```\n\n### 2. Duração do Evento:\n- **DURAÇÃO FIXA**: {{ $json.duracao_evento }}\n- **VALIDAÇÃO OBRIGATÓRIA**: Só liste slots que comportem PELO MENOS {{ $json.duracao_evento }} completos\n\n### 3. Formato de Entrada (Horários Indisponíveis):\n```\nHorário Indisponível – Início: DD/MM, HH:MM | Término: DD/MM, HH:MM\n```\n\n## ALGORITMO OBRIGATÓRIO - SIGA PASSO A PASSO:\n\n### PASSO 1: Identifique o período de análise\n- Extraia as datas inicial e final dos horários indisponíveis fornecidos\n- Considere apenas dias úteis (segunda a sexta)\n\n### PASSO 2: Para CADA dia útil no período:\n\n#### 2.1 - Inicialize os blocos de funcionamento:\n```\nManhã: [08:00, 12:00]\nTarde: [14:00, 18:00]\n```\n\n#### 2.2 - Processe CADA horário indisponível do dia:\n- SE houver sobreposição com um bloco:\n  - Fragmente o bloco em sub-blocos livres\n  - Exemplo: Bloco [08:00, 12:00] com indisponível [10:30, 12:00]\n    - Resulta em: [08:00, 10:30]\n\n#### 2.3 - Valide CADA fragmento resultante:\n- Calcule a duração: (hora_fim - hora_início) em minutos\n- SE duração >= 30 minutos: MANTENHA\n- SE duração < 30 minutos: DESCARTE\n\n### PASSO 3: Formatação da Saída\n- Para cada slot válido: `DD/MM HH:MM - HH:MM`\n- Se não houver slots: `\"Nenhum horário disponível dentro do período informado.\"`\n\n## EXEMPLO DE PROCESSAMENTO DETALHADO:\n\n**Entrada:**\n```\nHorário Indisponível – Início: 01/09, 10:30 | Término: 01/09, 12:00\n```\n\n**Processamento do dia 01/09:**\n1. Blocos iniciais: [08:00-12:00], [14:00-18:00]\n2. Indisponível [10:30-12:00] afeta [08:00-12:00]\n3. Fragmentação: [08:00-10:30] ✓ (150 min > 30 min)\n4. Bloco [14:00-18:00] não afetado ✓ (240 min > 30 min)\n5. **Resultado: 01/09 08:00 - 10:30, 01/09 14:00 - 18:00**\n\n## VALIDAÇÃO FINAL OBRIGATÓRIA:\n\nAntes de retornar a resposta, VERIFIQUE:\n- [ ] Todos os horários indisponíveis foram removidos?\n- [ ] Todos os slots têm pelo menos 30 minutos?\n- [ ] Os horários estão dentro do funcionamento (08:00-12:00 ou 14:00-18:00)?\n- [ ] Não incluí sábados ou domingos?\n\n## FORMATO DE RESPOSTA:\n\n```\nHORÁRIOS DISPONÍVEIS:\nDD/MM HH:MM - HH:MM\nDD/MM HH:MM - HH:MM\n[...]\n```\n\n## AVISO CRÍTICO:\n⚠️ NUNCA liste um horário que:\n- Sobreponha com horários indisponíveis\n- Tenha menos de 30 minutos de duração\n- Esteja fora do horário de funcionamento\n- Seja em fim de semana\n\nA precisão é MANDATÓRIA. Erros em agendamento causam conflitos graves."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1392,3312],"id":"d5937502-1548-494c-a9bd-789dc8341540","name":"verifica_horarios"},{"parameters":{"model":"google/gemini-2.5-flash","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1344,3456],"id":"9dea2ea3-cc48-4a3e-b18c-9b45e15aab67","name":"gpt-5-mini"},{"parameters":{"assignments":{"assignments":[{"id":"fa7503f2-b177-420a-915a-2a2b33badc6f","name":"response","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,3312],"id":"6f7aee6a-adef-4232-b91c-ea5755852e14","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"evento"},{"name":"email"},{"name":"start"},{"name":"end"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[272,2688],"id":"6e4f3043-e973-45e6-a0bc-d07f9b167530","name":"tool_agenda"},{"parameters":{"assignments":{"assignments":[{"id":"848c5796-5871-40be-a01f-e310a7a72fe3","name":"horarios_funcionamentos","value":"=Segunda: 08h00-12h00 -> 14h00 - 18h00\nTerça: 08h00-12h00 -> 14h00 - 18h00\nQuarta: 08h00-12h00 -> 14h00 - 18h00\nQuinta: 08h00-12h00 -> 14h00 - 18h00\nSexta: 08h00-12h00 -> 14h00 - 18h00\nSábado e Domingo - NÃO ATENDEMOS","type":"string"},{"id":"5d0380e7-c6c0-4e8d-9ae3-54c3a468ee0d","name":"duracao_evento","value":"=30 minutos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,3312],"id":"b1fa4f0c-522f-4615-846b-3756e48ee959","name":"horarios_funcionamento"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/message/sendText/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('padronizacao_dados').item.json.telefone }}"},{"name":"text","value":"={{ $json.part }}"},{"name":"delay","value":"={{ 1350 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5248,1472],"id":"5570e136-f563-4acd-a393-4147d2869ce7","name":"Send Message","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5024,1408],"id":"8f1dfb38-d4b9-4f06-b696-ebce52937dcb","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('padronizacao_dados').item.json.messageId }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1600],"id":"254f04f4-4b9b-419b-9b01-a0af6847987b","name":"Get Base64 Image"},{"parameters":{"jsCode":"const text = $json.output || '';\nconst parts = text.split('\\n\\n').filter(p => p.trim() !== '');\nreturn parts.map(p => ({ json: { part: p } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4832,1408],"id":"a525cb06-094f-4c23-981a-a23fdccb16e9","name":"SplitMessages"},{"parameters":{"jsCode":"// Código atualizado para o node 'Code' no n8n\nconst array1 = $('Get Memory 1').item.json.Message1;\nconst array2 = $('Get Memory 2').item.json.Message2;\n\n// Combina os elementos dos arrays em strings únicas\nconst combinedText1 = array1.join(' ');\nconst combinedText2 = array2.join(' ');\n\n// Retorna os resultados no formato exigido pelo n8n\nreturn [\n  {\n    json: {\n      combinedText1,\n      combinedText2,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,1408],"id":"f401712c-40c8-4c11-9686-5e287db2f616","name":"CombineMessages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"467aa434-decf-4fdf-a2c0-f6d689fc1677","leftValue":"={{ $json.combinedText1 }}","rightValue":"={{ $json.combinedText2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2864,1408],"id":"b906909d-2659-4482-b582-1dbb0a4fa302","name":"BufferFilter"},{"parameters":{"promptType":"define","text":"={{ $('BufferFilter').item.json.combinedText2 }}\n\n\n🚀 Transforme seu atendimento e automatize sua agenda de uma vez por todas! Neste vídeo, você terá acesso ao fluxo 100% completo e passo a passo para criar um Agente de IA de Agendamento avançado que funciona diretamente no WhatsApp.\n\nAprenda a configurar uma automação robusta com N8N, a API da Evolution e o Google Calendar. Este agente inteligente é capaz de verificar horários disponíveis, agendar, reagendar e até cancelar compromissos, liberando seu tempo para focar no que realmente importa.\n\nEste tutorial é perfeito para clínicas, profissionais autônomos, consultórios e qualquer negócio que dependa de agendamentos. Chega de perder tempo com trocas de mensagens manuais!\n\nO que você vai aprender neste vídeo:\n\n- Configuração Inicial: Como conectar o N8N com a Evolution API para automatizar o WhatsApp.\n    \n- Criação do Agente de IA: Estruturando o prompt e as ferramentas (Tools) para que a IA entenda e execute tarefas de agendamento.\n    \n- Integração com Google Calendar: Como ler, criar, atualizar e deletar eventos na sua agenda de forma automática.\n    \n- Lógica do Fluxo Completo: Entenda cada nó e a lógica por trás do buffer de mensagens, tratamento de dados e execução das tarefas.\n    \n- Demonstração na Prática: Veja o agente de agendamento em ação, conversando e gerenciando a agenda em tempo real.\n    \n\n🔗 Baixe o fluxo completo e participe da nossa comunidade para ter acesso a este e outros templates exclusivos! O link está no vídeo!\n\nTIMESTAMPS:\n\n- 00:00 - Introdução: A Solução Definitiva para Agendamentos com IA\n    \n- 00:50 - Passo 1: Configurando a Conexão com o WhatsApp (Evolution API)\n    \n- 01:23 - Visão Geral do Fluxo de Automação no N8N\n    \n- 04:40 - Módulo Principal: Criando o Cérebro do Agente de IA (Gemini & Ferramentas)\n    \n- 06:43 - O Prompt Perfeito: Como Ensinar a IA a Gerenciar sua Agenda\n    \n- 09:21 - Detalhando as Ferramentas: Agendar, Cancelar e Verificar Horários\n    \n- 16:15 - Teste na Prática: Conversando com o Agente de IA no WhatsApp\n    \n- 18:32 - Integração Profunda com Google Calendar: Lendo e Agendando Eventos\n    \n- 23:50 - Teste Avançado: Reagendando e Cancelando Compromissos pelo WhatsApp\n    \n- 28:01 - Otimizando o Fluxo: Modularização e Boas Práticas no N8N\n    \n- 29:29 - Como Obter o Fluxo 100% Completo","options":{"systemMessage":"=# 🔹 IDENTITY MODULE\n\n* **Nome do Agente:** Marina\n* **Papel:** Assistente virtual da clínica Vida+\n* **Traços de Personalidade:** Simpática, acolhedora, próxima do usuário\n* **Abordagem de Comunicação:** Falar de forma descontraída, com abreviações (vc, pq, etc.), emojis e tom caloroso\n* **Frases de Assinatura:** \"oii, tudo bem com vc? 💙\", \"show, bora agendar!\", \"vou ver isso rapidinho pra vc 😉\"\n\n---\n\n# 🔹 STEPS MODULE\n\n**STEP 1: Abertura**\n\n* **Objetivo:** Dar boas-vindas e iniciar a conversa de forma leve.\n* **Ações:** Cumprimentar e explicar rapidamente que é da clínica.\n* **Exemplo de comunicação:** \"oii, tudo bem com vc? 💙 Aqui é a Marina, assistente virtual da clínica Vida+. Vim te ajudar a cuidar da sua saúde!\"\n\n---\n\n**STEP 2: Apresentação do Valor da Avaliação**\n\n* **Objetivo:** Mostrar de forma clara o que o cliente vai ganhar.\n* **Ações:** Explicar preço e benefícios.\n* **Exemplo de comunicação:** \"Nossa avaliação custa só R$120 e inclui uma consulta completa + plano de cuidados personalizado pra vc 😉\"\n\n---\n\n**STEP 3: SPIN Selling – Pergunta 1 (Situação/Problema)**\n\n* **Objetivo:** Fazer o cliente reconhecer o problema.\n* **Ações:** Perguntar sobre sintomas comuns.\n* **Exemplo de comunicação:** \"Me fala uma coisa… hoje em dia vc sente que as dores na lombar ou a falta de energia atrapalham sua rotina? 🤔\"\n\n---\n\n**STEP 4: SPIN Selling – Pergunta 2 (Implicação/Necessidade)**\n\n* **Objetivo:** Levar o cliente a pensar na importância de resolver o problema.\n* **Ações:** Perguntar sobre impacto da solução.\n* **Exemplo de comunicação:** \"E se vc tivesse um plano feito sob medida pra resolver isso, acha que faria diferença no seu dia a dia? 💪\"\n\n---\n\n**STEP 5: Agendamento (Verificação de horários + Confirmação)**\n\n* **Objetivo:** Levar o cliente a escolher e confirmar o horário.\n* **Ações:**\n\n  * Perguntar preferência de horário.\n  * Usar **verificar_horarios** antes.\n  * Confirmar com **agendar**.\n* **Exemplo de comunicação:**\n\n  * \"Top!! Então bora marcar sua avaliação 🎉 Me fala, vc prefere de manhã ou à tarde? 🌞🌙\"\n  * (Após verificar disponibilidade) → \"Boa notícia 😉 O horário que vc escolheu tá disponível! Já vou agendar pra vc...\"\n  * \"Pronto! Seu agendamento tá confirmado pra [data/hora]. Te esperamos 💙\"\n\n---\n\n# 🔹 TOOLS MODULE\n\n## agendar\n\n**Objetivo:** Registrar um novo compromisso.\n**Quando Usar:** Quando o usuário confirmar o agendamento.\n**Parâmetros:** `start`, `end`, `telefone`\n**Tratamento do Resultado:** Confirmar a reserva.\n**Comunicação:** \"Seu compromisso foi agendado para [data/hora] 🎉.\"\n\n---\n\n## cancelar\n\n**Objetivo:** Cancelar um compromisso.\n**Quando Usar:** Quando o usuário solicitar cancelamento.\n**Parâmetros:** `telefone`\n**Tratamento do Resultado:** Confirmar cancelamento.\n**Comunicação:** \"Seu compromisso foi cancelado ✨.\"\n\n---\n\n## reagendar\n\n**Objetivo:** Remarcar compromisso.\n**Quando Usar:** Quando o usuário pedir mudança de horário.\n**Parâmetros:** `start`, `end`, `telefone`\n**Tratamento do Resultado:** Confirmar novo horário.\n**Comunicação:** \"Seu compromisso foi reagendado para [nova data/hora] 😉.\"\n\n---\n\n## verificar_horarios\n\n**Objetivo:** Checar disponibilidade.\n**Quando Usar:** Sempre antes de confirmar agendamento ou reagendamento.\n**Parâmetros:** `telefone`\n**Tratamento do Resultado:** Informar se o horário está livre.\n**Comunicação:** \"O horário [data/hora] está [disponível/indisponível].\"\n\n---\n\n# 🔹 PROCESSING MODULE\n\n* **Validação:** Sempre confirmar data/hora com o usuário.\n* **Decisão:**\n\n  * Novo agendamento → `agendar`\n  * Reagendamento → `verificar_horarios` → `reagendar`\n  * Cancelamento → `cancelar`\n  * Consulta de disponibilidade → `verificar_horarios`\n* **Erro:** Se faltar informação, perguntar de novo de forma amigável.\n\n---\n\n# 🔹 COMPLIANCE MODULE\n\n* **Princípios:** Proteger dados pessoais, confirmar antes de executar.\n* **Limites:** Não dar diagnósticos médicos.\n* **Qualidade:** Falar de forma curta, clara e próxima do usuário.\n\n---\n\n# 🔹 OUTPUT MODULE\n\n* **Formato:** Texto conversacional.\n* **Regra especial:** Sempre usar **quebra de linha `\\n\\n` a cada bloco de frase**.\n* **Mensagens padrão:**\n\n  * Agendamento: \"Seu compromisso foi agendado para [data/hora] 🎉\"\n  * Cancelamento: \"Seu compromisso foi cancelado ✨\"\n  * Reagendamento: \"Seu compromisso foi reagendado para [nova data/hora] 😉\"\n  * Verificação: \"O horário [data/hora] está [disponível/indisponível]\"\n* **Destino:** Chat (WhatsApp, webchat, etc).\n","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4080,1408],"id":"5f521911-f77c-4164-8cca-710e0e9ce99a","name":"Agente de Agendamento"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('padronizacao_dados').item.json.telefone }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4048,1616],"id":"c9539c86-4476-45cc-81bb-16da2fe851be","name":"Agent Memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5516992398647"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[448,320],"id":"23dd1825-3f16-434f-b0d6-88a98f420a56","name":"Postgres Chat Memory"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[448,176],"id":"452359e6-26bf-44f0-8244-6aad625a1ab2","name":"Apagar Memória"},{"parameters":{"content":"## Apagar memória do número","height":368,"width":544},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,96],"id":"e45fdcce-915e-428f-b8fc-fbfef0a679ad","name":"Sticky Note"},{"parameters":{"content":"# 🔹 IDENTITY MODULE\n\n👉 Aqui você deve definir **quem é o agente, como ele deve falar e qual estilo adotar**.\n\n* **Nome do Agente:** [Defina o nome do agente]\n* **Papel:** [Defina o papel, ex: assistente virtual de clínica]\n* **Traços de Personalidade:** [Liste traços, ex: simpático, objetivo]\n* **Abordagem de Comunicação:** [Descreva como o agente deve se comunicar]\n* **Frases de Assinatura:** [Liste frases padrão do agente]\n\n---\n\n# 🔹 STEPS MODULE\n\n👉 Aqui você deve descrever **as etapas da conversa** (abertura, exploração, confirmação/fechamento).\n\n**STEP 1: Abertura & Descoberta**\n[Descreva como o agente deve iniciar a conversa e coletar informações]\n\n**STEP 2: Exploração da Solução**\n[Explique como o agente deve validar informações e apresentar opções]\n\n**STEP 3: Ação & Confirmação**\n[Explique como o agente deve executar a ação e confirmar com o usuário]\n\n-> CONTINUE ATÉ OS PASSOS DESEJADOS\n\n---\n\n# 🔹 TOOLS MODULE\n\n# agendar\n\n**Objetivo:** Registrar um novo compromisso para o usuário.\n\n**Quando Usar:** Sempre que o usuário solicitar o agendamento de um compromisso.\n\n**Parâmetros:**\n\n* `start`: Data e hora de início no formato `YYYY-MM-DDTHH:mm:ss-03:00`\n* `end`: Data e hora de término no mesmo formato, adicionando X minutos/horas ao início\n\n**Tratamento do Resultado:** Confirmar ao usuário o agendamento com a data e hora escolhida.\n\n**Comunicação:** \"Seu compromisso foi agendado para [data/hora].\"\n\n---\n\n# cancelar\n\n**Objetivo:** Cancelar um compromisso existente.\n\n**Quando Usar:** Sempre que o usuário solicitar o cancelamento de um compromisso.\n\n**Parâmetros:**\n\n**Tratamento do Resultado:** Informar que o compromisso foi cancelado.\n\n**Comunicação:** \"Seu compromisso foi cancelado com sucesso.\"\n\n---\n\n# reagendar\n\n**Objetivo:** Remarcar um compromisso existente para nova data/horário.\n\n**Quando Usar:** Sempre que o usuário solicitar a mudança de data ou horário de um compromisso.\n\n**Parâmetros:**\n\n* `start`: Nova data e hora de início no formato `YYYY-MM-DDTHH:mm:ss-03:00`\n* `end`: Nova data e hora de término no mesmo formato\n\n**Tratamento do Resultado:** Confirmar o novo agendamento após verificar disponibilidade.\n\n**Comunicação:** \"Seu compromisso foi reagendado para [nova data/hora].\"\n\n---\n\n# verifica_horarios\n\n**Objetivo:** Verificar a disponibilidade de um horário solicitado pelo usuário.\n\n**Quando Usar:** Sempre que o usuário perguntar sobre disponibilidade ou antes de confirmar um reagendamento.\n\n**Parâmetros:**\n\n**Tratamento do Resultado:** Informar se o horário está disponível ou não.\n\n**Comunicação:** \"O horário [data/hora] está [disponível/indisponível].\"\n\n---\n\n# 🔹 COMPLIANCE MODULE\n\n👉 Aqui você deve listar **as regras, limites e padrões de qualidade do agente**.\n\n---\n\n# 🔹 OUTPUT MODULE\n\n👉 Aqui você deve definir **o formato de saída e as mensagens padrão do agente**.\n\n- Formato: Texto conversacional de WhatsApp\n- **Regra Especial: Sempre utilizar quebra de linha \\n\\n a cada bloco de frase**\n","height":3008,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3680,1936],"id":"b87aebca-c098-4ed0-ac8a-7114dea3f0ce","name":"Sticky Note1"},{"parameters":{"content":"# Prompt Template","height":80,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3680,1856],"id":"5e11ff6a-2f18-48ce-a515-53bc7ccb00fa","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f2e496b-52dc-4b83-a00f-581cad07dfd6","leftValue":"={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}","rightValue":"5516992398647","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,1152],"id":"e9125c48-b249-4b92-aada-ea13777382f4","name":"Filtro_Numeros"},{"parameters":{"content":"# Buffer e Tratamento de Mensagens\n## [Vídeo do Canal sobre Buffer](https://youtu.be/W4RZHUneezg)\n","height":736,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,1104],"id":"12fac702-09c8-4f83-8cfc-a72c6acc32fc","name":"Sticky Note3"},{"parameters":{"content":"# LEMBRE DE MODULARIZAR\n","height":112,"width":576,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2464,832],"id":"50e4e95f-ec99-42a0-af83-07e9acfaaf0f","name":"Sticky Note4"},{"parameters":{"operation":"set","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","value":"=pausado"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,896],"id":"d59d9c06-2f59-435e-852d-dff3d13bbb4c","name":"Pause for Human Service"},{"parameters":{"operation":"set","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","value":"=ativo"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,640],"id":"a8e2773a-b00b-456a-8abe-4bb2fad2552a","name":"Despausa"},{"parameters":{"operation":"get","propertyName":"status_pausado","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3424,1328],"id":"7539bbc6-fddd-4b00-939d-b5058ebe33c1","name":"Get Pause Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c561af8e-a0f6-476e-8646-14d9ce83da4f","leftValue":"={{ $('padronizacao_dados').item.json.messageType }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,768],"id":"bfecaadc-c5b5-4e5a-9694-26f28882343d","name":"If"},{"parameters":{"content":"#### Despausa o Agente quando é uma Reação\n\n\n\n\n\n\n\n\n\n\n\n\n#### Pausa o Agente para Qualquer Tipo de Mensagem de um Humano\n","height":480,"width":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,576],"id":"e8a17bef-c1cd-444c-ad82-f4c2b9033cd5","name":"Sticky Note5"},{"parameters":{"content":"#### Crie um gatilho de sua preferência que você/ o atendente deve fazer para Despausar o Agente\n- Eu geralmente uso uma mensagem de reação","height":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1264,608],"id":"223f646e-22bf-45d9-b78e-20f3d08f2f0d","name":"Sticky Note6"},{"parameters":{"content":"### Busca o Valor da Key relacionada à pausa do Agente","height":240,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3392,1248],"id":"29ef8443-e00d-4842-adf0-45204460fc8a","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3239528b-edf8-498b-b2d3-823f9d9410bf","leftValue":"={{ $json.status_pausado }}","rightValue":"pausado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3616,1328],"id":"ff49db94-ce76-4c2b-b3e9-1415c06f6d1a","name":"Verifica Se Está Pausado"},{"parameters":{"content":"# TOOL DE AGENDA\n\n## OBS -> LEMBRE DE MODULARIZAR\n","height":144,"width":1920},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,2160],"id":"111576e1-87fa-4f3d-a48f-9825814efb8f","name":"Sticky Note8"},{"parameters":{"content":"# Envia Mensagens Picadas\n## [Vídeo do Canal sobre Mensagens Picadas](https://youtu.be/IcoHDEJU7rE)\n","height":464,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4784,1264],"id":"179718ea-d0ac-4511-86ac-6d732f26fbfd","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3872,1184],"id":"ef47a954-bd17-4f29-b157-39b94b2404f8","name":"No Operation, do nothing"}],"connections":{"Webhook":{"main":[[{"node":"Filtro_Numeros","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"CombineMessages","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"Text Memory","type":"main","index":0}],[{"node":"Get Base64 Audio","type":"main","index":0}],[{"node":"Get Base64 Image","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Get Base64 Audio":{"main":[[{"node":"Get Audio","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Transcription","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Transcription":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"padronizacao_dados":{"main":[[{"node":"FromMe","type":"main","index":0}]]},"FromMe":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Message Type","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Agente de Agendamento","type":"ai_languageModel","index":0}]]},"agendar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"cancelar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"reagendar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"verificar_horarios":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"Delete from Redis":{"main":[[{"node":"Get Pause Status","type":"main","index":0}]]},"Verifica evento2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Update Event":{"main":[[{"node":"response9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"response5","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Update Event","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"response3","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If3","type":"main","index":0}]]},"Marca":{"main":[[{"node":"response10","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If1","type":"main","index":0}]]},"If3":{"main":[[{"node":"response","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"If1":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"response1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}],[{"node":"Verifica evento2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"horarios_funcionamento","type":"main","index":0}]]},"gpt-5-mini":{"ai_languageModel":[[{"node":"verifica_horarios","type":"ai_languageModel","index":0}]]},"verifica_horarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"tool_agenda":{"main":[[{"node":"Switch","type":"main","index":0}]]},"horarios_funcionamento":{"main":[[{"node":"verifica_horarios","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Send Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Get Base64 Image":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"SplitMessages":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"CombineMessages":{"main":[[{"node":"BufferFilter","type":"main","index":0}]]},"BufferFilter":{"main":[[{"node":"Delete from Redis","type":"main","index":0}]]},"Agente de Agendamento":{"main":[[{"node":"SplitMessages","type":"main","index":0}]]},"Agent Memory":{"ai_memory":[[{"node":"Agente de Agendamento","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Apagar Memória","type":"ai_memory","index":0}]]},"Filtro_Numeros":{"main":[[{"node":"padronizacao_dados","type":"main","index":0}]]},"Get Pause Status":{"main":[[{"node":"Verifica Se Está Pausado","type":"main","index":0}]]},"If":{"main":[[{"node":"Despausa","type":"main","index":0}],[{"node":"Pause for Human Service","type":"main","index":0}]]},"Verifica Se Está Pausado":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Agente de Agendamento","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"4911d392-141e-4cb3-9afb-b8e3062b2ab9","activeVersionId":"4911d392-141e-4cb3-9afb-b8e3062b2ab9","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:38.698Z","createdAt":"2026-01-06T04:13:38.698Z","role":"workflow:owner","workflowId":"fStAKwt6C6UMYTzo","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T04:13:39.494Z","createdAt":"2026-01-06T04:13:39.494Z","versionId":"4911d392-141e-4cb3-9afb-b8e3062b2ab9","workflowId":"fStAKwt6C6UMYTzo","nodes":[{"parameters":{"httpMethod":"POST","path":"ia-de-agendamento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[272,1152],"id":"3b903ae4-4b47-4291-9443-aa9b36e461fd","name":"Webhook","webhookId":"6d38a742-849e-4ab7-9584-2bf13c0948fd"},{"parameters":{"assignments":{"assignments":[{"id":"90fa911b-74ad-470c-a9c3-a296a0f8527b","name":"telefone","value":"={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}","type":"string"},{"id":"07051c1b-55ae-4e65-8ee6-2433b1f98c39","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"843009e7-a3a8-4585-8dd8-b05ebb728357","name":"messageId","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"28d914d5-a1c7-481a-880d-77d6b1c45ce5","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"d3e5ee27-0777-4771-9e09-6986f9581758","name":"evo.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"5f2b58e3-7307-4456-9dcf-2abbac5675a2","name":"message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"67c228f8-69f3-4fd3-aa59-e83f3072416f","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"786ecfb2-f7c0-4dc8-968f-1aaa3956e941","name":"reactionMessage","value":"={{ $json.body.data.message.reactionMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,1152],"id":"226dd0d1-f628-4888-af79-a88878352a87","name":"padronizacao_dados"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $('padronizacao_dados').item.json.message }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1824,1248],"id":"cd8f4b51-0f1d-48eb-a63e-fe889aafe3b0","name":"Text Memory"},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('padronizacao_dados').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2256,1408],"id":"fe8c30e7-ff7c-4285-9a3b-b5fc35da79d7","name":"Get Memory 1"},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('padronizacao_dados').item.json.telefone }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2560,1408],"id":"a459346b-b252-434d-afde-9e056b54d22f","name":"Get Memory 2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,1408],"id":"63a6dbb0-ea2d-4936-85c3-91d1221a5bef","name":"Wait","webhookId":"cb20ad63-bca3-48f3-a0f5-aed842993800"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"a8529e1c-889a-49a0-831b-31f5fd190818"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c87be2fd-23ff-469f-8150-941fff51f77d","leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4b2f54-337b-45ff-a0b6-6d0dbea9c637","leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1312,1392],"id":"f032d7b2-bdb2-4b9e-a3cc-0745de92eba3","name":"Message Type"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,1408],"id":"0a086cd9-99b8-44e4-a143-266c054fde40","name":"Audio Memory"},{"parameters":{"operation":"push","list":"={{ $('padronizacao_dados').item.json.telefone }}","messageData":"={{ $json.content }}\n\nLegenda: {{ $('Webhook').item.json.body.data.message.imageMessage.caption }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2064,1600],"id":"1a22022b-5f86-4240-a4d0-8cb755d47501","name":"Image Memory"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1744,1600],"id":"ccea750d-96b4-43ac-be1a-0da77d1f52b7","name":"Get Image"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('padronizacao_dados').item.json.messageId }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1408],"id":"fce06feb-0473-4c8e-ab51-1c8e3baacf2b","name":"Get Base64 Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1744,1408],"id":"09ab07ce-cf29-4f14-8ade-a7882e0074ec","name":"Get Audio"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva a imagem que recebeu, começando sua resposta sempre com \"Eu enviei uma imagem....\"","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1904,1600],"id":"41dd405c-b9b3-4364-a2aa-07035e0d31c8","name":"Analyze Image"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1888,1408],"id":"b9c1a6d4-c18a-46c8-a052-3c464a08c4aa","name":"Transcription"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ef20125-3ee7-437c-8127-ebe521d2c782","leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,1152],"id":"0c06b948-a8f5-4ae6-b5c5-489d366ebfca","name":"FromMe"},{"parameters":{"model":"google/gemini-2.5-flash","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3920,1600],"id":"25383817-f234-44fe-80a4-aa6ca843403d","name":"Gemini 2.5 Flash"},{"parameters":{"description":"=Use essa tool SEMPRE que for agendar um compromisso para o usuário\n\nA variável 'start' deve ser preenchida no formato Datetime, com o horário de início escolhido pelo usuário e a variável 'end' adicionando '30 minutos' ao horário de início\n\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"mode":"id","value":"hDX6FNeb7AmiCWce"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"agendamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', `A data e horário do agendamento pedida pelo usuário você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher essa variável`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', `Nessa variavel você vai inserir 30 minutos a mais depois no horario de agendamento da variável \"start\" e irá preencher no formato formato, exemplo:2024-10-18T15:30:00-03:00`, 'string') }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4160,1616],"id":"6aaa102f-6965-45e9-9745-c931c172d7f5","name":"agendar"},{"parameters":{"description":"=Use essa tool sempre que o usuário desejar desmacar/cancelar um evento\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"cancelamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4288,1616],"id":"722c0360-5453-4247-962f-fd3e09e5e440","name":"cancelar"},{"parameters":{"description":"=Use essa tool SEMPRE que o usuário desejar reagendar/remarcar um compromisso. \n\nAntes de reagendar, sempre verifique qual horário de preferência do usuário ou se ele informou algum horário, verifique se está disponível com a tool 'verificar_horarios'\n\nA variável 'start' deve ser preenchida no formato Datetime, com o horário de início escolhido pelo usuário e a variável 'end' adicionando '30 minutos' ao horário de início\n\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"evento":"reagendamento","telefone":"={{ $('padronizacao_dados').item.json.telefone }}","email":"=cliente{{ $('padronizacao_dados').item.json.telefone }}@gmail.com","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start', `A data e horário do reagendamento pedida pelo usuário você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher essa variável`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end', `Nessa variavel você vai inserir [X horas/minutos] a mais depois no horario de agendamento da variável \"start\" e irá preencher no formato formato, exemplo:2024-10-18T15:30:00-03:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4432,1616],"id":"2a6c7ff8-b3c2-49fb-b9a5-3ad1091aa815","name":"reagendar"},{"parameters":{"description":"=Use essa tool SEMPRE que for verificar um horário disponível. O uso desta tool é obrigatório antes de dizer se um horário está disponível ou não\n\nEm sua resposta sobre os horários disponíveis, considere a preferência de horários do usuário, se informado.\n\nHoje é {{ $now.setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nAmanhã é {{ $now.plus({ days: 1 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}\nDepois de amanhã é {{ $now.plus({ days: 2 }).setLocale('pt-BR').format('dd/MM, HH:mm, cccc') }}","workflowId":{"__rl":true,"value":"hDX6FNeb7AmiCWce","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('padronizacao_dados').item.json.telefone }}","evento":"verificacao"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4560,1616],"id":"62b8fac6-5d56-4641-81da-698ab04dc86b","name":"verificar_horarios"},{"parameters":{"operation":"delete","key":"={{ $('padronizacao_dados').item.json.telefone }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3040,1408],"id":"437decb6-4de1-4166-b4a1-bb990fcb26aa","name":"Delete from Redis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.evento }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"},"id":"b912cd0f-ac0c-4811-bf34-c8d404e0e011"}],"combinator":"and"},"renameOutput":true,"outputKey":"agendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aeaa375b-6128-4f7d-b80e-54082869b000","leftValue":"={{ $json.evento }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37308a0c-5d50-4a01-b4f2-4d97a0b62728","leftValue":"={{ $json.evento }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"197a4b70-18d1-44ec-8223-ca8c607c5dff","leftValue":"={{ $json.evento }}","rightValue":"verificacao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verificar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,2656],"id":"beadeb1b-464b-4959-97bb-b07021e66422","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"Consulta cancelada","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,2688],"id":"9a1d6efc-6303-4559-b53f-3a4fded2fbbf","name":"response3"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{(() => {\n    const now = new Date();\n    now.setUTCHours(0, 0, 0, 0); // 09:00 no UTC-3 é 12:00 UTC\n    const isoDate = now.toISOString().substring(0, 19); // Obtém o formato ISO\n    return `${isoDate}-03:00`; // Adiciona o fuso horário manualmente\n})()}}","timeMax":"={{(() => {\n    const now = new Date();\n    now.setUTCHours(0, 0, 0, 0); // 09:00 no UTC-3 é 12:00 UTC\n    now.setUTCDate(now.getUTCDate() + 18); // Adiciona 6 dias\n    const isoDate = now.toISOString().substring(0, 19); // Obtém o formato ISO\n    return `${isoDate}-03:00`; // Adiciona o fuso horário manualmente\n})()}}","options":{"outputFormat":"bookedSlots"}},"id":"0201bb6d-575a-43b9-8740-ccdf3efc2122","name":"Verifica evento2","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[832,3312],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"Verifiquei a agenda da doutora esse dia e realmente, esse horário não tá disponível, a agenda dela tá lotada, os horários disponíveis são esses que te mandei anteriormente, se quiser, posso ver outros horários","type":"string"}]},"options":{}},"id":"a36977c9-74c4-4af6-b35d-a067c1bf1fdb","name":"response5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,3056]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"bb660f9d-9a23-425d-85c8-ffc536a2b61c","name":"response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,2544]},{"parameters":{"assignments":{"assignments":[{"id":"edc090f3-5297-46f6-badf-11b0535a8a30","name":"response","value":"=Já possui uma reunião:\n\nInicio: {{ $item(\"0\").$node[\"If3\"].json[\"start\"][\"dateTime\"] }}\nFim: {{ $item(\"0\").$node[\"If3\"].json[\"end\"][\"dateTime\"] }}","type":"string"}]},"options":{}},"id":"3d68dae9-e658-4fdd-b7c5-a91079af5b48","name":"response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,2352]},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $('tool_agenda').item.json.end }}","start":"={{ $('tool_agenda').item.json.start }}"}},"id":"87cee27b-0e86-49f1-b803-2e7fd71dceec","name":"Update Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1504,2880]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{ $('tool_agenda').item.json.start }}","timeMax":"={{ $('tool_agenda').item.json.end }}","options":{}},"id":"e2ddc9d9-3b03-4a32-ba1e-5f467d830227","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[800,2960]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"670fe59a-c093-4423-8930-686bf1fb3eb8","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,2960]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"8fc9e8b4-e844-4b5a-9917-540b2e41ce9b","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1312,2880]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"d4c9f9b4-fe6b-478b-995d-0b23bdb0aaff","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[768,2688]},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"d01303ca-5fc0-4c94-8931-04e91f7ffde0","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1008,2688]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"returnAll":true,"options":{"query":"={{ $('tool_agenda').item.json.email }}"}},"id":"40671c53-c1dd-4722-a243-6b4678f8f6c4","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[720,2416],"alwaysOutputData":true},{"parameters":{"calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"start":"={{ $('tool_agenda').item.json.start }}","end":"={{ $('tool_agenda').item.json.end }}","additionalFields":{"attendees":["={{ $('tool_agenda').item.json.email }}"],"description":"=Número: {{ $('tool_agenda').item.json.telefone.replace('@s.whatsapp.net','') }}","summary":"={{ $('tool_agenda').item.json.telefone }}"}},"id":"558276c9-d92f-4c4f-a730-4795072937a1","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1696,2336]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"c_1f4370b18d2bb2fdf89e037227ba8e8cce52c0d55c6e02d841c20482dbe4cb78@group.calendar.google.com","mode":"list","cachedResultName":"n8n Demonstrações"},"timeMin":"={{ $('tool_agenda').item.json.start }}","timeMax":"={{ $('tool_agenda').item.json.end }}","options":{}},"id":"7ea1b7e9-f847-48b7-9dcf-cff899527839","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1216,2496]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a84c521a-7e61-4746-9ffa-4a2fe5cb50c7","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,2416]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bd6c453d-cdf6-4686-8089-4012a5706d1d","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,2496]},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"=Reunião reagendada\n\nLink da Reunião: {{ $('Update Event').item.json.hangoutLink }}","type":"string"},{"id":"555ff26b-f6f2-4cf2-a54a-089dd8f0d8f0","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,2880],"id":"c3ca322e-0e18-49b9-99ce-db487a7b9b17","name":"response9"},{"parameters":{"assignments":{"assignments":[{"id":"c13130f5-bb2e-4ace-b577-40ff235db248","name":"response","value":"=Reunião agendada\n\nLink da Reunião: {{ $('Marca').item.json.hangoutLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,2336],"id":"e8a05403-e23e-490a-9579-0fbfbb44cbe5","name":"response10"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1008,3312],"id":"896fa7dc-30eb-49a5-8fb0-78308f4b7810","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=# Horários já preenchidos\n{{(() => {\n  const eventos = $('Aggregate').item.json.data;\n  return eventos.map(ev => {\n    const start = new Date(ev.start);\n    const end = new Date(ev.end);\n\n    const format = d => d.toLocaleString('pt-BR', {\n      timeZone: 'America/Sao_Paulo',\n      day: '2-digit',\n      month: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n\n    return `Horário Indisponível – Início: ${format(start)} | Término: ${format(end)}`;\n  }).join('\\n');\n})()}}\n\nPense passo a passo qual os horários disponíveis CONSIDERANDO os horários indisponíveis e os horários de funcionamento\n$('Aggregate').item.json.data","messages":{"messageValues":[{"message":"=Você é um assistente especializado em gestão de agendas que DEVE calcular com precisão os horários disponíveis.\n\n## REGRAS CRÍTICAS (NUNCA IGNORE):\n\n### 1. Horários de Funcionamento (FIXOS):\n```\n{{ $json.horarios_funcionamentos }}\n```\n\n### 2. Duração do Evento:\n- **DURAÇÃO FIXA**: {{ $json.duracao_evento }}\n- **VALIDAÇÃO OBRIGATÓRIA**: Só liste slots que comportem PELO MENOS {{ $json.duracao_evento }} completos\n\n### 3. Formato de Entrada (Horários Indisponíveis):\n```\nHorário Indisponível – Início: DD/MM, HH:MM | Término: DD/MM, HH:MM\n```\n\n## ALGORITMO OBRIGATÓRIO - SIGA PASSO A PASSO:\n\n### PASSO 1: Identifique o período de análise\n- Extraia as datas inicial e final dos horários indisponíveis fornecidos\n- Considere apenas dias úteis (segunda a sexta)\n\n### PASSO 2: Para CADA dia útil no período:\n\n#### 2.1 - Inicialize os blocos de funcionamento:\n```\nManhã: [08:00, 12:00]\nTarde: [14:00, 18:00]\n```\n\n#### 2.2 - Processe CADA horário indisponível do dia:\n- SE houver sobreposição com um bloco:\n  - Fragmente o bloco em sub-blocos livres\n  - Exemplo: Bloco [08:00, 12:00] com indisponível [10:30, 12:00]\n    - Resulta em: [08:00, 10:30]\n\n#### 2.3 - Valide CADA fragmento resultante:\n- Calcule a duração: (hora_fim - hora_início) em minutos\n- SE duração >= 30 minutos: MANTENHA\n- SE duração < 30 minutos: DESCARTE\n\n### PASSO 3: Formatação da Saída\n- Para cada slot válido: `DD/MM HH:MM - HH:MM`\n- Se não houver slots: `\"Nenhum horário disponível dentro do período informado.\"`\n\n## EXEMPLO DE PROCESSAMENTO DETALHADO:\n\n**Entrada:**\n```\nHorário Indisponível – Início: 01/09, 10:30 | Término: 01/09, 12:00\n```\n\n**Processamento do dia 01/09:**\n1. Blocos iniciais: [08:00-12:00], [14:00-18:00]\n2. Indisponível [10:30-12:00] afeta [08:00-12:00]\n3. Fragmentação: [08:00-10:30] ✓ (150 min > 30 min)\n4. Bloco [14:00-18:00] não afetado ✓ (240 min > 30 min)\n5. **Resultado: 01/09 08:00 - 10:30, 01/09 14:00 - 18:00**\n\n## VALIDAÇÃO FINAL OBRIGATÓRIA:\n\nAntes de retornar a resposta, VERIFIQUE:\n- [ ] Todos os horários indisponíveis foram removidos?\n- [ ] Todos os slots têm pelo menos 30 minutos?\n- [ ] Os horários estão dentro do funcionamento (08:00-12:00 ou 14:00-18:00)?\n- [ ] Não incluí sábados ou domingos?\n\n## FORMATO DE RESPOSTA:\n\n```\nHORÁRIOS DISPONÍVEIS:\nDD/MM HH:MM - HH:MM\nDD/MM HH:MM - HH:MM\n[...]\n```\n\n## AVISO CRÍTICO:\n⚠️ NUNCA liste um horário que:\n- Sobreponha com horários indisponíveis\n- Tenha menos de 30 minutos de duração\n- Esteja fora do horário de funcionamento\n- Seja em fim de semana\n\nA precisão é MANDATÓRIA. Erros em agendamento causam conflitos graves."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1392,3312],"id":"d5937502-1548-494c-a9bd-789dc8341540","name":"verifica_horarios"},{"parameters":{"model":"google/gemini-2.5-flash","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1344,3456],"id":"9dea2ea3-cc48-4a3e-b18c-9b45e15aab67","name":"gpt-5-mini"},{"parameters":{"assignments":{"assignments":[{"id":"fa7503f2-b177-420a-915a-2a2b33badc6f","name":"response","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,3312],"id":"6f7aee6a-adef-4232-b91c-ea5755852e14","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"evento"},{"name":"email"},{"name":"start"},{"name":"end"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[272,2688],"id":"6e4f3043-e973-45e6-a0bc-d07f9b167530","name":"tool_agenda"},{"parameters":{"assignments":{"assignments":[{"id":"848c5796-5871-40be-a01f-e310a7a72fe3","name":"horarios_funcionamentos","value":"=Segunda: 08h00-12h00 -> 14h00 - 18h00\nTerça: 08h00-12h00 -> 14h00 - 18h00\nQuarta: 08h00-12h00 -> 14h00 - 18h00\nQuinta: 08h00-12h00 -> 14h00 - 18h00\nSexta: 08h00-12h00 -> 14h00 - 18h00\nSábado e Domingo - NÃO ATENDEMOS","type":"string"},{"id":"5d0380e7-c6c0-4e8d-9ae3-54c3a468ee0d","name":"duracao_evento","value":"=30 minutos","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,3312],"id":"b1fa4f0c-522f-4615-846b-3756e48ee959","name":"horarios_funcionamento"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/message/sendText/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('padronizacao_dados').item.json.telefone }}"},{"name":"text","value":"={{ $json.part }}"},{"name":"delay","value":"={{ 1350 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5248,1472],"id":"5570e136-f563-4acd-a393-4147d2869ce7","name":"Send Message","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5024,1408],"id":"8f1dfb38-d4b9-4f06-b696-ebce52937dcb","name":"Loop Over Items2"},{"parameters":{"method":"POST","url":"={{ $('padronizacao_dados').item.json.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $('padronizacao_dados').item.json.evo.instance }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('padronizacao_dados').item.json.messageId }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,1600],"id":"254f04f4-4b9b-419b-9b01-a0af6847987b","name":"Get Base64 Image"},{"parameters":{"jsCode":"const text = $json.output || '';\nconst parts = text.split('\\n\\n').filter(p => p.trim() !== '');\nreturn parts.map(p => ({ json: { part: p } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4832,1408],"id":"a525cb06-094f-4c23-981a-a23fdccb16e9","name":"SplitMessages"},{"parameters":{"jsCode":"// Código atualizado para o node 'Code' no n8n\nconst array1 = $('Get Memory 1').item.json.Message1;\nconst array2 = $('Get Memory 2').item.json.Message2;\n\n// Combina os elementos dos arrays em strings únicas\nconst combinedText1 = array1.join(' ');\nconst combinedText2 = array2.join(' ');\n\n// Retorna os resultados no formato exigido pelo n8n\nreturn [\n  {\n    json: {\n      combinedText1,\n      combinedText2,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,1408],"id":"f401712c-40c8-4c11-9686-5e287db2f616","name":"CombineMessages"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"467aa434-decf-4fdf-a2c0-f6d689fc1677","leftValue":"={{ $json.combinedText1 }}","rightValue":"={{ $json.combinedText2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2864,1408],"id":"b906909d-2659-4482-b582-1dbb0a4fa302","name":"BufferFilter"},{"parameters":{"promptType":"define","text":"={{ $('BufferFilter').item.json.combinedText2 }}\n\n\n🚀 Transforme seu atendimento e automatize sua agenda de uma vez por todas! Neste vídeo, você terá acesso ao fluxo 100% completo e passo a passo para criar um Agente de IA de Agendamento avançado que funciona diretamente no WhatsApp.\n\nAprenda a configurar uma automação robusta com N8N, a API da Evolution e o Google Calendar. Este agente inteligente é capaz de verificar horários disponíveis, agendar, reagendar e até cancelar compromissos, liberando seu tempo para focar no que realmente importa.\n\nEste tutorial é perfeito para clínicas, profissionais autônomos, consultórios e qualquer negócio que dependa de agendamentos. Chega de perder tempo com trocas de mensagens manuais!\n\nO que você vai aprender neste vídeo:\n\n- Configuração Inicial: Como conectar o N8N com a Evolution API para automatizar o WhatsApp.\n    \n- Criação do Agente de IA: Estruturando o prompt e as ferramentas (Tools) para que a IA entenda e execute tarefas de agendamento.\n    \n- Integração com Google Calendar: Como ler, criar, atualizar e deletar eventos na sua agenda de forma automática.\n    \n- Lógica do Fluxo Completo: Entenda cada nó e a lógica por trás do buffer de mensagens, tratamento de dados e execução das tarefas.\n    \n- Demonstração na Prática: Veja o agente de agendamento em ação, conversando e gerenciando a agenda em tempo real.\n    \n\n🔗 Baixe o fluxo completo e participe da nossa comunidade para ter acesso a este e outros templates exclusivos! O link está no vídeo!\n\nTIMESTAMPS:\n\n- 00:00 - Introdução: A Solução Definitiva para Agendamentos com IA\n    \n- 00:50 - Passo 1: Configurando a Conexão com o WhatsApp (Evolution API)\n    \n- 01:23 - Visão Geral do Fluxo de Automação no N8N\n    \n- 04:40 - Módulo Principal: Criando o Cérebro do Agente de IA (Gemini & Ferramentas)\n    \n- 06:43 - O Prompt Perfeito: Como Ensinar a IA a Gerenciar sua Agenda\n    \n- 09:21 - Detalhando as Ferramentas: Agendar, Cancelar e Verificar Horários\n    \n- 16:15 - Teste na Prática: Conversando com o Agente de IA no WhatsApp\n    \n- 18:32 - Integração Profunda com Google Calendar: Lendo e Agendando Eventos\n    \n- 23:50 - Teste Avançado: Reagendando e Cancelando Compromissos pelo WhatsApp\n    \n- 28:01 - Otimizando o Fluxo: Modularização e Boas Práticas no N8N\n    \n- 29:29 - Como Obter o Fluxo 100% Completo","options":{"systemMessage":"=# 🔹 IDENTITY MODULE\n\n* **Nome do Agente:** Marina\n* **Papel:** Assistente virtual da clínica Vida+\n* **Traços de Personalidade:** Simpática, acolhedora, próxima do usuário\n* **Abordagem de Comunicação:** Falar de forma descontraída, com abreviações (vc, pq, etc.), emojis e tom caloroso\n* **Frases de Assinatura:** \"oii, tudo bem com vc? 💙\", \"show, bora agendar!\", \"vou ver isso rapidinho pra vc 😉\"\n\n---\n\n# 🔹 STEPS MODULE\n\n**STEP 1: Abertura**\n\n* **Objetivo:** Dar boas-vindas e iniciar a conversa de forma leve.\n* **Ações:** Cumprimentar e explicar rapidamente que é da clínica.\n* **Exemplo de comunicação:** \"oii, tudo bem com vc? 💙 Aqui é a Marina, assistente virtual da clínica Vida+. Vim te ajudar a cuidar da sua saúde!\"\n\n---\n\n**STEP 2: Apresentação do Valor da Avaliação**\n\n* **Objetivo:** Mostrar de forma clara o que o cliente vai ganhar.\n* **Ações:** Explicar preço e benefícios.\n* **Exemplo de comunicação:** \"Nossa avaliação custa só R$120 e inclui uma consulta completa + plano de cuidados personalizado pra vc 😉\"\n\n---\n\n**STEP 3: SPIN Selling – Pergunta 1 (Situação/Problema)**\n\n* **Objetivo:** Fazer o cliente reconhecer o problema.\n* **Ações:** Perguntar sobre sintomas comuns.\n* **Exemplo de comunicação:** \"Me fala uma coisa… hoje em dia vc sente que as dores na lombar ou a falta de energia atrapalham sua rotina? 🤔\"\n\n---\n\n**STEP 4: SPIN Selling – Pergunta 2 (Implicação/Necessidade)**\n\n* **Objetivo:** Levar o cliente a pensar na importância de resolver o problema.\n* **Ações:** Perguntar sobre impacto da solução.\n* **Exemplo de comunicação:** \"E se vc tivesse um plano feito sob medida pra resolver isso, acha que faria diferença no seu dia a dia? 💪\"\n\n---\n\n**STEP 5: Agendamento (Verificação de horários + Confirmação)**\n\n* **Objetivo:** Levar o cliente a escolher e confirmar o horário.\n* **Ações:**\n\n  * Perguntar preferência de horário.\n  * Usar **verificar_horarios** antes.\n  * Confirmar com **agendar**.\n* **Exemplo de comunicação:**\n\n  * \"Top!! Então bora marcar sua avaliação 🎉 Me fala, vc prefere de manhã ou à tarde? 🌞🌙\"\n  * (Após verificar disponibilidade) → \"Boa notícia 😉 O horário que vc escolheu tá disponível! Já vou agendar pra vc...\"\n  * \"Pronto! Seu agendamento tá confirmado pra [data/hora]. Te esperamos 💙\"\n\n---\n\n# 🔹 TOOLS MODULE\n\n## agendar\n\n**Objetivo:** Registrar um novo compromisso.\n**Quando Usar:** Quando o usuário confirmar o agendamento.\n**Parâmetros:** `start`, `end`, `telefone`\n**Tratamento do Resultado:** Confirmar a reserva.\n**Comunicação:** \"Seu compromisso foi agendado para [data/hora] 🎉.\"\n\n---\n\n## cancelar\n\n**Objetivo:** Cancelar um compromisso.\n**Quando Usar:** Quando o usuário solicitar cancelamento.\n**Parâmetros:** `telefone`\n**Tratamento do Resultado:** Confirmar cancelamento.\n**Comunicação:** \"Seu compromisso foi cancelado ✨.\"\n\n---\n\n## reagendar\n\n**Objetivo:** Remarcar compromisso.\n**Quando Usar:** Quando o usuário pedir mudança de horário.\n**Parâmetros:** `start`, `end`, `telefone`\n**Tratamento do Resultado:** Confirmar novo horário.\n**Comunicação:** \"Seu compromisso foi reagendado para [nova data/hora] 😉.\"\n\n---\n\n## verificar_horarios\n\n**Objetivo:** Checar disponibilidade.\n**Quando Usar:** Sempre antes de confirmar agendamento ou reagendamento.\n**Parâmetros:** `telefone`\n**Tratamento do Resultado:** Informar se o horário está livre.\n**Comunicação:** \"O horário [data/hora] está [disponível/indisponível].\"\n\n---\n\n# 🔹 PROCESSING MODULE\n\n* **Validação:** Sempre confirmar data/hora com o usuário.\n* **Decisão:**\n\n  * Novo agendamento → `agendar`\n  * Reagendamento → `verificar_horarios` → `reagendar`\n  * Cancelamento → `cancelar`\n  * Consulta de disponibilidade → `verificar_horarios`\n* **Erro:** Se faltar informação, perguntar de novo de forma amigável.\n\n---\n\n# 🔹 COMPLIANCE MODULE\n\n* **Princípios:** Proteger dados pessoais, confirmar antes de executar.\n* **Limites:** Não dar diagnósticos médicos.\n* **Qualidade:** Falar de forma curta, clara e próxima do usuário.\n\n---\n\n# 🔹 OUTPUT MODULE\n\n* **Formato:** Texto conversacional.\n* **Regra especial:** Sempre usar **quebra de linha `\\n\\n` a cada bloco de frase**.\n* **Mensagens padrão:**\n\n  * Agendamento: \"Seu compromisso foi agendado para [data/hora] 🎉\"\n  * Cancelamento: \"Seu compromisso foi cancelado ✨\"\n  * Reagendamento: \"Seu compromisso foi reagendado para [nova data/hora] 😉\"\n  * Verificação: \"O horário [data/hora] está [disponível/indisponível]\"\n* **Destino:** Chat (WhatsApp, webchat, etc).\n","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4080,1408],"id":"5f521911-f77c-4164-8cca-710e0e9ce99a","name":"Agente de Agendamento"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('padronizacao_dados').item.json.telefone }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4048,1616],"id":"c9539c86-4476-45cc-81bb-16da2fe851be","name":"Agent Memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5516992398647"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[448,320],"id":"23dd1825-3f16-434f-b0d6-88a98f420a56","name":"Postgres Chat Memory"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[448,176],"id":"452359e6-26bf-44f0-8244-6aad625a1ab2","name":"Apagar Memória"},{"parameters":{"content":"## Apagar memória do número","height":368,"width":544},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,96],"id":"e45fdcce-915e-428f-b8fc-fbfef0a679ad","name":"Sticky Note"},{"parameters":{"content":"# 🔹 IDENTITY MODULE\n\n👉 Aqui você deve definir **quem é o agente, como ele deve falar e qual estilo adotar**.\n\n* **Nome do Agente:** [Defina o nome do agente]\n* **Papel:** [Defina o papel, ex: assistente virtual de clínica]\n* **Traços de Personalidade:** [Liste traços, ex: simpático, objetivo]\n* **Abordagem de Comunicação:** [Descreva como o agente deve se comunicar]\n* **Frases de Assinatura:** [Liste frases padrão do agente]\n\n---\n\n# 🔹 STEPS MODULE\n\n👉 Aqui você deve descrever **as etapas da conversa** (abertura, exploração, confirmação/fechamento).\n\n**STEP 1: Abertura & Descoberta**\n[Descreva como o agente deve iniciar a conversa e coletar informações]\n\n**STEP 2: Exploração da Solução**\n[Explique como o agente deve validar informações e apresentar opções]\n\n**STEP 3: Ação & Confirmação**\n[Explique como o agente deve executar a ação e confirmar com o usuário]\n\n-> CONTINUE ATÉ OS PASSOS DESEJADOS\n\n---\n\n# 🔹 TOOLS MODULE\n\n# agendar\n\n**Objetivo:** Registrar um novo compromisso para o usuário.\n\n**Quando Usar:** Sempre que o usuário solicitar o agendamento de um compromisso.\n\n**Parâmetros:**\n\n* `start`: Data e hora de início no formato `YYYY-MM-DDTHH:mm:ss-03:00`\n* `end`: Data e hora de término no mesmo formato, adicionando X minutos/horas ao início\n\n**Tratamento do Resultado:** Confirmar ao usuário o agendamento com a data e hora escolhida.\n\n**Comunicação:** \"Seu compromisso foi agendado para [data/hora].\"\n\n---\n\n# cancelar\n\n**Objetivo:** Cancelar um compromisso existente.\n\n**Quando Usar:** Sempre que o usuário solicitar o cancelamento de um compromisso.\n\n**Parâmetros:**\n\n**Tratamento do Resultado:** Informar que o compromisso foi cancelado.\n\n**Comunicação:** \"Seu compromisso foi cancelado com sucesso.\"\n\n---\n\n# reagendar\n\n**Objetivo:** Remarcar um compromisso existente para nova data/horário.\n\n**Quando Usar:** Sempre que o usuário solicitar a mudança de data ou horário de um compromisso.\n\n**Parâmetros:**\n\n* `start`: Nova data e hora de início no formato `YYYY-MM-DDTHH:mm:ss-03:00`\n* `end`: Nova data e hora de término no mesmo formato\n\n**Tratamento do Resultado:** Confirmar o novo agendamento após verificar disponibilidade.\n\n**Comunicação:** \"Seu compromisso foi reagendado para [nova data/hora].\"\n\n---\n\n# verifica_horarios\n\n**Objetivo:** Verificar a disponibilidade de um horário solicitado pelo usuário.\n\n**Quando Usar:** Sempre que o usuário perguntar sobre disponibilidade ou antes de confirmar um reagendamento.\n\n**Parâmetros:**\n\n**Tratamento do Resultado:** Informar se o horário está disponível ou não.\n\n**Comunicação:** \"O horário [data/hora] está [disponível/indisponível].\"\n\n---\n\n# 🔹 COMPLIANCE MODULE\n\n👉 Aqui você deve listar **as regras, limites e padrões de qualidade do agente**.\n\n---\n\n# 🔹 OUTPUT MODULE\n\n👉 Aqui você deve definir **o formato de saída e as mensagens padrão do agente**.\n\n- Formato: Texto conversacional de WhatsApp\n- **Regra Especial: Sempre utilizar quebra de linha \\n\\n a cada bloco de frase**\n","height":3008,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3680,1936],"id":"b87aebca-c098-4ed0-ac8a-7114dea3f0ce","name":"Sticky Note1"},{"parameters":{"content":"# Prompt Template","height":80,"width":1152,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3680,1856],"id":"5e11ff6a-2f18-48ce-a515-53bc7ccb00fa","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2f2e496b-52dc-4b83-a00f-581cad07dfd6","leftValue":"={{ $json.body.data.key.remoteJid.replaceAll('@s.whatsapp.net', '') }}","rightValue":"5516992398647","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,1152],"id":"e9125c48-b249-4b92-aada-ea13777382f4","name":"Filtro_Numeros"},{"parameters":{"content":"# Buffer e Tratamento de Mensagens\n## [Vídeo do Canal sobre Buffer](https://youtu.be/W4RZHUneezg)\n","height":736,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,1104],"id":"12fac702-09c8-4f83-8cfc-a72c6acc32fc","name":"Sticky Note3"},{"parameters":{"content":"# LEMBRE DE MODULARIZAR\n","height":112,"width":576,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2464,832],"id":"50e4e95f-ec99-42a0-af83-07e9acfaaf0f","name":"Sticky Note4"},{"parameters":{"operation":"set","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","value":"=pausado"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,896],"id":"d59d9c06-2f59-435e-852d-dff3d13bbb4c","name":"Pause for Human Service"},{"parameters":{"operation":"set","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","value":"=ativo"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,640],"id":"a8e2773a-b00b-456a-8abe-4bb2fad2552a","name":"Despausa"},{"parameters":{"operation":"get","propertyName":"status_pausado","key":"={{ $('padronizacao_dados').item.json.telefone }}_pausa","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3424,1328],"id":"7539bbc6-fddd-4b00-939d-b5058ebe33c1","name":"Get Pause Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c561af8e-a0f6-476e-8646-14d9ce83da4f","leftValue":"={{ $('padronizacao_dados').item.json.messageType }}","rightValue":"reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,768],"id":"bfecaadc-c5b5-4e5a-9694-26f28882343d","name":"If"},{"parameters":{"content":"#### Despausa o Agente quando é uma Reação\n\n\n\n\n\n\n\n\n\n\n\n\n#### Pausa o Agente para Qualquer Tipo de Mensagem de um Humano\n","height":480,"width":256,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1552,576],"id":"e8a17bef-c1cd-444c-ad82-f4c2b9033cd5","name":"Sticky Note5"},{"parameters":{"content":"#### Crie um gatilho de sua preferência que você/ o atendente deve fazer para Despausar o Agente\n- Eu geralmente uso uma mensagem de reação","height":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1264,608],"id":"223f646e-22bf-45d9-b78e-20f3d08f2f0d","name":"Sticky Note6"},{"parameters":{"content":"### Busca o Valor da Key relacionada à pausa do Agente","height":240,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3392,1248],"id":"29ef8443-e00d-4842-adf0-45204460fc8a","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3239528b-edf8-498b-b2d3-823f9d9410bf","leftValue":"={{ $json.status_pausado }}","rightValue":"pausado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3616,1328],"id":"ff49db94-ce76-4c2b-b3e9-1415c06f6d1a","name":"Verifica Se Está Pausado"},{"parameters":{"content":"# TOOL DE AGENDA\n\n## OBS -> LEMBRE DE MODULARIZAR\n","height":144,"width":1920},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,2160],"id":"111576e1-87fa-4f3d-a48f-9825814efb8f","name":"Sticky Note8"},{"parameters":{"content":"# Envia Mensagens Picadas\n## [Vídeo do Canal sobre Mensagens Picadas](https://youtu.be/IcoHDEJU7rE)\n","height":464,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4784,1264],"id":"179718ea-d0ac-4511-86ac-6d732f26fbfd","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3872,1184],"id":"ef47a954-bd17-4f29-b157-39b94b2404f8","name":"No Operation, do nothing"}],"connections":{"Webhook":{"main":[[{"node":"Filtro_Numeros","type":"main","index":0}]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"CombineMessages","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Message Type":{"main":[[{"node":"Text Memory","type":"main","index":0}],[{"node":"Get Base64 Audio","type":"main","index":0}],[{"node":"Get Base64 Image","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Image Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Get Base64 Audio":{"main":[[{"node":"Get Audio","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Transcription","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image Memory","type":"main","index":0}]]},"Transcription":{"main":[[{"node":"Audio Memory","type":"main","index":0}]]},"padronizacao_dados":{"main":[[{"node":"FromMe","type":"main","index":0}]]},"FromMe":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Message Type","type":"main","index":0}]]},"Gemini 2.5 Flash":{"ai_languageModel":[[{"node":"Agente de Agendamento","type":"ai_languageModel","index":0}]]},"agendar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"cancelar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"reagendar":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"verificar_horarios":{"ai_tool":[[{"node":"Agente de Agendamento","type":"ai_tool","index":0}]]},"Delete from Redis":{"main":[[{"node":"Get Pause Status","type":"main","index":0}]]},"Verifica evento2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Update Event":{"main":[[{"node":"response9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"response5","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Update Event","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"response3","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If3","type":"main","index":0}]]},"Marca":{"main":[[{"node":"response10","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If1","type":"main","index":0}]]},"If3":{"main":[[{"node":"response","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"If1":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"response1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}],[{"node":"Verifica evento2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"horarios_funcionamento","type":"main","index":0}]]},"gpt-5-mini":{"ai_languageModel":[[{"node":"verifica_horarios","type":"ai_languageModel","index":0}]]},"verifica_horarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"tool_agenda":{"main":[[{"node":"Switch","type":"main","index":0}]]},"horarios_funcionamento":{"main":[[{"node":"verifica_horarios","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Send Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Get Base64 Image":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"SplitMessages":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"CombineMessages":{"main":[[{"node":"BufferFilter","type":"main","index":0}]]},"BufferFilter":{"main":[[{"node":"Delete from Redis","type":"main","index":0}]]},"Agente de Agendamento":{"main":[[{"node":"SplitMessages","type":"main","index":0}]]},"Agent Memory":{"ai_memory":[[{"node":"Agente de Agendamento","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Apagar Memória","type":"ai_memory","index":0}]]},"Filtro_Numeros":{"main":[[{"node":"padronizacao_dados","type":"main","index":0}]]},"Get Pause Status":{"main":[[{"node":"Verifica Se Está Pausado","type":"main","index":0}]]},"If":{"main":[[{"node":"Despausa","type":"main","index":0}],[{"node":"Pause for Human Service","type":"main","index":0}]]},"Verifica Se Está Pausado":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Agente de Agendamento","type":"main","index":0}]]}},"authors":"Convertix Digital","name":null,"description":null,"autosaved":false},"tags":[]}