workflows/gGu30u8XXU0JJus0.json
{"updatedAt":"2026-07-17T23:25:10.740Z","createdAt":"2026-07-17T22:47:07.255Z","id":"gGu30u8XXU0JJus0","name":"[AL][LF][DASH] Feedback Semanal","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4176,400],"id":"e7389262-956c-431c-ad3b-0a5520bcffbb","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"754f753f-1723-4545-af7d-5a55cd35037c","name":"mensagem_meta_captura","value":"=DRA. LILIAN **Meta Ads** *FUNIL CAPTURA*\nGargalo: 🦆 | Está bom: 🦅\n• Alcance: {{ $json.CAPTURA.atual.alcance.toNumber().format('pt-BR') }} | {{ $json.CAPTURA.comparativo.alcance.icone }}{{ $json.CAPTURA.comparativo.alcance.variacao.round(1).format('pt-BR') }}%\n• Cliques: {{ $json.CAPTURA.atual.cliques.toNumber().format('pt-BR') }} | {{ $json.CAPTURA.comparativo.cliques.icone }}{{ $json.CAPTURA.comparativo.cliques.variacao.round(1).format('pt-BR') }}%\n• CTR: {{ $json.CAPTURA.atual.ctr.toNumber().format('pt-BR') }}% | {{ $json.CAPTURA.comparativo.ctr.icone }}{{ $json.CAPTURA.comparativo.ctr.variacao_pp.round(2).format('pt-BR') }} pp ({{ $json.CAPTURA.atual.ctr.toNumber() > 1?\"🦅\":\"🦆\" }})\n• Contatos: {{ $json.CAPTURA.atual.contatos.format('pt-BR') }} | {{ $json.CAPTURA.comparativo.contatos.icone }}{{ $json.CAPTURA.comparativo.contatos.variacao.round(1).format('pt-BR') }}%\n• Conversão Funil: {{ $json.CAPTURA.atual.conversao_funil_pct.toNumber().round(1).format('pt-BR') }}% | {{ $json.CAPTURA.comparativo.conversao_funil.icone }}{{ $json.CAPTURA.comparativo.conversao_funil.variacao_pp > 0 ? \"+\" : \"\" }}{{ $json.CAPTURA.comparativo.conversao_funil.variacao_pp.toFixed(1).replace(\".\", \",\") }} pp ({{ $json.CAPTURA.atual.conversao_funil_pct.toNumber()>20?\"🦅\":\"🦆\" }})\n• Custo por Contato: R$ {{ $json.CAPTURA.atual.custo_por_contato.round(2).format('pt-BR') }} | {{ $json.CAPTURA.comparativo.custo_por_contato.icone }}{{ $json.CAPTURA.comparativo.custo_por_contato.variacao.round(1).format('pt-BR') }}% ({{ $json.CAPTURA.atual.custo_por_contato<10?\"🦅\":\"🦆\" }})\n• Investimento: R$ {{ $json.CAPTURA.atual.investimento.round(2).format('pt-BR') }} | {{ $json.CAPTURA.comparativo.investimento.icone }}{{ $json.CAPTURA.comparativo.investimento.variacao.round(1).format('pt-BR') }}%\n","type":"string"},{"id":"45849b13-40b9-4084-a1be-3472de9b5001","name":"task_id","value":"86a5watqh","type":"string"},{"id":"6731a258-b0a2-4ade-8dac-9f1a273b74b8","name":"meta_ads.atual.investimento","value":"={{ $json.CAPTURA.atual.investimento \n  +$json.DISTRIBUICAO.atual.investimento\n}}","type":"number"},{"id":"faa9f01d-2d62-4e82-a79b-e2c54e3dfaa0","name":"meta_ads.anterior.investimento","value":"={{ $json.CAPTURA.anterior.investimento\n+$json.DISTRIBUICAO.anterior.investimento }}","type":"number"},{"id":"29b0e513-637b-4e71-be54-56a3314dc7e0","name":"meta_ads.atual.investimento_mes","value":"={{ $json.CAPTURA.atual.investimento_mes }}","type":"number"},{"id":"717156d0-eb3d-45fd-bff6-3ee519ea18cd","name":"mensagem_meta_distribuicao","value":"=*DISTRIBUIÇÃO*\nGargalo: 🦆 | Está bom: 🦅\n• Alcance: {{ $json.DISTRIBUICAO.atual.alcance.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.alcance.icone }}{{ $json.DISTRIBUICAO.comparativo.alcance.variacao.round(1).format('pt-BR') }}%\n• Cliques: {{ $json.DISTRIBUICAO.atual.cliques.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.cliques.icone }}{{ $json.DISTRIBUICAO.comparativo.cliques.variacao.round(1).format('pt-BR') }}%\n• CTR: {{ $json.DISTRIBUICAO.atual.ctr.toNumber().format('pt-BR') }}% | {{ $json.DISTRIBUICAO.comparativo.ctr.icone }}{{ $json.DISTRIBUICAO.comparativo.ctr.variacao_pp.round(2).format('pt-BR') }} pp ({{ $json.DISTRIBUICAO.atual.ctr.toNumber()>2?\"🦅\":\"🦆\" }})\n• CPC: R$ {{ $json.DISTRIBUICAO.atual.cpc.round(2).format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.cpc.icone }}{{ $json.DISTRIBUICAO.comparativo.cpc.variacao.round(1).format('pt-BR') }}% ({{ $json.DISTRIBUICAO.atual.cpc<0.5?\"🦅\":\"🦆\" }})\n• Visita Perfil: {{ $json.DISTRIBUICAO.atual.landing_page_view.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.landing_page_view.icone }}{{ $json.DISTRIBUICAO.comparativo.landing_page_view.variacao.round(1).format('pt-BR') }}%\n• Engajamentos: {{ $json.DISTRIBUICAO.atual.post_engagement.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.post_engagement.icone }}{{ $json.DISTRIBUICAO.comparativo.post_engagement.variacao.round(1).format('pt-BR') }}%\n• Investimento: R$ {{ $json.DISTRIBUICAO.atual.investimento.round(2).format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.investimento.icone }}{{ $json.DISTRIBUICAO.comparativo.investimento.variacao.round(1).format('pt-BR') }}%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,592],"id":"16d9075f-6d9d-470d-8ed7-40feabc299da","name":"Mensagem7"},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n\n// Organiza por período e campanha\nconst dados = {};\n\nfor (const item of items) {\n  if (!dados[item.periodo]) dados[item.periodo] = {};\n  dados[item.periodo][item.campanha] = item;\n}\n\nfunction variacao(atual, anterior) {\n  atual = Number(atual);\n  anterior = Number(anterior);\n\n  if (!isFinite(atual) || !isFinite(anterior) || anterior === 0) {\n    return null;\n  }\n\n  return ((atual - anterior) / anterior) * 100;\n}\n\nfunction direcao(atual, anterior, menorMelhor = false, tolerancia = 0) {\n  atual = Number(atual);\n  anterior = Number(anterior);\n\n  const dif = atual - anterior;\n\n  if (Math.abs(dif) <= tolerancia) {\n    return \"➖\";\n  }\n\n  if (menorMelhor) {\n    return dif < 0 ? \"⬆️\" : \"⬇️\";\n  }\n\n  return dif > 0 ? \"⬆️\" : \"⬇️\";\n}\n\nfunction compararCampanha(nomeCampanha) {\n\n  const atual = dados.atual[nomeCampanha];\n  const anterior = dados.anterior[nomeCampanha];\n\n  const resultado = {\n    atual,\n    anterior,\n    comparativo: {\n\n      investimento: {\n        variacao: variacao(atual.investimento, anterior.investimento),\n        icone: direcao(\n          variacao(atual.investimento, anterior.investimento),\n          0,\n          false,\n          10\n        )\n      },\n\n      impressoes: {\n        variacao: variacao(atual.impressoes, anterior.impressoes),\n        icone: direcao(atual.impressoes, anterior.impressoes)\n      },\n\n      alcance: {\n        variacao: variacao(atual.alcance, anterior.alcance),\n        icone: direcao(atual.alcance, anterior.alcance)\n      },\n\n      cliques: {\n        variacao: variacao(atual.cliques, anterior.cliques),\n        icone: direcao(atual.cliques, anterior.cliques)\n      },\n\n      ctr: {\n        variacao_pp: Number(atual.ctr) - Number(anterior.ctr),\n        icone: direcao(atual.ctr, anterior.ctr, false, 0.20)\n      },\n\n      cpc: {\n        variacao: variacao(atual.cpc, anterior.cpc),\n        icone: direcao(\n          variacao(atual.cpc, anterior.cpc),\n          0,\n          true,\n          5\n        )\n      },\n\n      landing_page_view: {\n        variacao: variacao(\n          atual.landing_page_view,\n          anterior.landing_page_view\n        ),\n        icone: direcao(\n          atual.landing_page_view,\n          anterior.landing_page_view\n        )\n      },\n\n      post_engagement: {\n        variacao: variacao(\n          atual.post_engagement,\n          anterior.post_engagement\n        ),\n        icone: direcao(\n          atual.post_engagement,\n          anterior.post_engagement\n        )\n      }\n\n    }\n  };\n\n  // Apenas CAPTURA possui métricas de funil\n  if (nomeCampanha === \"CAPTURA\") {\n\n    resultado.comparativo.contatos = {\n      variacao: variacao(atual.contatos, anterior.contatos),\n      icone: direcao(atual.contatos, anterior.contatos)\n    };\n\n    resultado.comparativo.conversao_funil = {\n      variacao_pp:\n        Number(atual.conversao_funil_pct) -\n        Number(anterior.conversao_funil_pct),\n\n      icone: direcao(\n        atual.conversao_funil_pct,\n        anterior.conversao_funil_pct,\n        false,\n        2\n      )\n    };\n\n    resultado.comparativo.custo_por_contato = {\n      variacao: variacao(\n        atual.custo_por_contato,\n        anterior.custo_por_contato\n      ),\n\n      icone: direcao(\n        variacao(\n          atual.custo_por_contato,\n          anterior.custo_por_contato\n        ),\n        0,\n        true,\n        5\n      )\n    };\n\n  }\n\n  return resultado;\n}\n\nreturn [\n  {\n    json: {\n      CAPTURA: compararCampanha(\"CAPTURA\"),\n      DISTRIBUICAO: compararCampanha(\"DISTRIBUICAO\")\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,592],"id":"2bc10f59-4ad0-4738-9f06-1974640f5660","name":"Monta Mensagem5"},{"parameters":{"operation":"executeQuery","query":"WITH parametros AS (\n    SELECT\n        DATE('{{ $json.data_feedback }}') AS data_fim,\n        7 AS dias\n),\n\nperiodos AS (\n    SELECT\n        'atual' periodo,\n        DATE_SUB(data_fim, INTERVAL dias-1 DAY) inicio,\n        data_fim fim\n    FROM parametros\n\n    UNION ALL\n\n    SELECT\n        'anterior',\n        DATE_SUB(data_fim, INTERVAL (dias*2)-1 DAY),\n        DATE_SUB(data_fim, INTERVAL dias DAY)\n    FROM parametros\n),\n\nads AS (\n    SELECT\n        p.periodo,\n        p.inicio,\n        p.fim,\n\n        CASE\n            WHEN a.campaign_name LIKE '%CAPTURA%' THEN 'CAPTURA'\n            ELSE 'DISTRIBUICAO'\n        END campanha,\n\n        ROUND(SUM(a.spend),2) investimento,\n        SUM(a.impressions) impressoes,\n        SUM(a.reach) alcance,\n        SUM(a.link_click) cliques,\n        SUM(a.landing_page_view) landing_page_view,\n        SUM(a.post_reaction) post_engagement,\n\n        ROUND(\n            SUM(a.link_click) /\n            NULLIF(SUM(a.impressions),0) * 100,\n            2\n        ) ctr,\n\n        ROUND(\n            SUM(a.spend) /\n            NULLIF(SUM(a.link_click),0),\n            2\n        ) cpc\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }} a\n        ON DATE(a.Data) BETWEEN p.inicio AND p.fim\n          AND a.ad_account_name LIKE '%{{ $json.SIGLA }}%'\n\n    GROUP BY\n        p.periodo,\n        campanha\n),\n\ncontatos AS (\n    SELECT\n        p.periodo,\n        COUNT(*) contatos\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.ttconversa_criada t\n        ON DATE(t.data_da_primeira_mensagem)\n           BETWEEN p.inicio AND p.fim\n\n    WHERE t.origem='Meta Ads'\n        AND t.event_type='lead.create'\n        AND t.link_rastreavel IN ('Dra. Lilian')\n\n    GROUP BY p.periodo\n),\n  \nmensal AS (\n    SELECT\n        p.periodo,\n\n        ROUND(SUM(a.spend),2) investimento_mes\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }} a\n        ON DATE(a.Data) BETWEEN\n            DATE_FORMAT(p.inicio, '%Y-%m-01')\n            AND LAST_DAY(p.inicio)\n        AND a.ad_account_name LIKE '%{{ $json.SIGLA }}%'\n\n    GROUP BY p.periodo\n)\n\nSELECT\n\n    a.periodo,\n    a.campanha,\n\n    a.inicio,\n    a.fim,\n\n    a.investimento,\n    m.investimento_mes,\n    a.impressoes,\n    a.alcance,\n    a.cliques,\n    a.landing_page_view,\n    a.post_engagement,\n    a.ctr,\n    a.cpc,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN c.contatos\n    END contatos,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN ROUND(\n            c.contatos /\n            NULLIF(a.cliques,0) * 100,\n            2\n        )\n    END conversao_funil_pct,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN ROUND(\n            a.investimento /\n            NULLIF(c.contatos,0),\n            2\n        )\n    END custo_por_contato\n\nFROM ads a\n\nLEFT JOIN contatos c\n    ON c.periodo = a.periodo\n\nLEFT JOIN mensal m\n    ON m.periodo = a.periodo\n\nORDER BY\n    a.periodo,\n    a.campanha;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2608,592],"id":"8a217c92-4af0-4930-afa9-b350affd46cf","name":"GET LF","credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  campaign.id,\n  campaign.name,\n\n  metrics.cost_micros,\n  metrics.impressions,\n  metrics.average_cpm,\n  metrics.ctr,\n  metrics.clicks,\n  metrics.average_cpc,\n\n  metrics.conversions,\n  metrics.all_conversions,\n\n  metrics.conversions_value,\n  metrics.all_conversions_value\n\nFROM campaign\n\nWHERE segments.date BETWEEN '{{ $json.start_date }}' AND '{{ $json.end_date }}'\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'\n\n  AND metrics.cost_micros > 0"}]},"options":{}},"id":"a1b51172-d7ed-4ae8-915a-2f58f2d1f7f4","name":"Google Ads: Campaign4","type":"n8n-nodes-base.httpRequest","position":[-3056,16],"typeVersion":4.2,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b48b5a7-6d04-4ca3-a7bd-ca8228e5bd24","name":"start_date","value":"={{ $json.data_feedback.toDateTime().minus(6,'days').format('yyyy-MM-dd') }}","type":"string"},{"id":"5adc9997-5394-4e85-bc5b-17440e547cec","name":"end_date","value":"={{ $json.data_feedback }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,208],"id":"f4907433-973f-46b0-8be6-d227b100f913","name":"start end 2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f66f25-abf0-43d3-9ddd-242fa9bd4772","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"e7b13343-2fd8-4555-83a7-caaa20c9a244","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2832,16],"id":"2b777c18-53f4-472f-ac41-8c83534cb35d","name":"Filter4"},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  campaign.id,\n  campaign.name,\n\n  metrics.cost_micros,\n  metrics.impressions,\n  metrics.average_cpm,\n  metrics.ctr,\n  metrics.clicks,\n  metrics.average_cpc,\n\n  metrics.conversions,\n  metrics.all_conversions,\n\n  metrics.conversions_value,\n  metrics.all_conversions_value\n\nFROM campaign\n\nWHERE\n  segments.date BETWEEN '{{ $json.start_date.toDateTime().minus(7,'days').format('yyyy-MM-dd') }}'\n  AND '{{ $json.end_date.toDateTime().minus(7,'days').format('yyyy-MM-dd') }}'\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'\n  AND metrics.cost_micros > 0"}]},"options":{}},"id":"9ff192f5-0563-4b91-9f40-7176cbc1ffba","name":"Google Ads: Campaign5","type":"n8n-nodes-base.httpRequest","position":[-3056,208],"typeVersion":4.2,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f66f25-abf0-43d3-9ddd-242fa9bd4772","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"e7b13343-2fd8-4555-83a7-caaa20c9a244","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2832,208],"id":"462264aa-813f-4bc6-b2ec-18290bc10452","name":"Filter5"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2608,192],"id":"4fd382ae-c0d0-4c8c-ae24-69cc43cf8541","name":"Merge2"},{"parameters":{"jsCode":"const periodo = $('start end 2').item.json;\nconst dias = Number(periodo.dias);\n\nfunction subtrairDias(data, qtdDias) {\n  const d = new Date(data);\n  d.setDate(d.getDate() - qtdDias);\n\n  return d.toISOString().slice(0, 10);\n}\n\nconst [atualResp, anteriorResp, mesResp] = $input.all().map(i => i.json);\n\nconst atual = atualResp.results;\nconst anterior = anteriorResp.results;\n\nconst investimentoMes = Number(mesResp.cost || 0);\n\nfunction variacao(atual, anterior) {\n\tatual = Number(atual);\n\tanterior = Number(anterior);\n\n\tif (!isFinite(atual) || !isFinite(anterior) || anterior === 0) {\n\t\treturn null;\n\t}\n\n\treturn ((atual - anterior) / anterior) * 100;\n}\n\nfunction direcao(atual, anterior, menorMelhor = false, tolerancia = 0) {\n\n\tatual = Number(atual);\n\tanterior = Number(anterior);\n\n\tif (!isFinite(atual) || !isFinite(anterior)) {\n\t\treturn \"➖\";\n\t}\n\n\tconst dif = atual - anterior;\n\n\tif (Math.abs(dif) <= tolerancia) {\n\t\treturn \"➖\";\n\t}\n\n\tif (menorMelhor) {\n\t\treturn dif < 0 ? \"⬆️\" : \"⬇️\";\n\t}\n\n\treturn dif > 0 ? \"⬆️\" : \"⬇️\";\n}\n\nconst campanhasAnteriores = {};\n\nfor (const campanha of anterior) {\n\tcampanhasAnteriores[campanha.campaign.id] = campanha;\n}\n\nconst resultado = {};\n\nconst totalAtual = {\n\tinvestimento: 0,\n\timpressoes: 0,\n\tcliques: 0,\n\tconversoes: 0,\n\ttodas_conversoes: 0,\n\tvalor_conversoes: 0,\n\tvalor_todas_conversoes: 0\n};\n\nconst totalAnterior = {\n\tinvestimento: 0,\n\timpressoes: 0,\n\tcliques: 0,\n\tconversoes: 0,\n\ttodas_conversoes: 0,\n\tvalor_conversoes: 0,\n\tvalor_todas_conversoes: 0\n};\n\nfor (const campanhaAtual of atual) {\n\n\tconst campanhaAnterior = campanhasAnteriores[campanhaAtual.campaign.id];\n\n\tif (!campanhaAnterior) continue;\n\n\tconst a = campanhaAtual.metrics;\n\tconst b = campanhaAnterior.metrics;\n\n    totalAtual.investimento += Number(a.costMicros) / 1e6;\n    totalAtual.impressoes += Number(a.impressions);\n    totalAtual.cliques += Number(a.clicks);\n    totalAtual.conversoes += Number(a.conversions);\n    totalAtual.todas_conversoes += Number(a.allConversions);\n    totalAtual.valor_conversoes += Number(a.conversionsValue);\n    totalAtual.valor_todas_conversoes += Number(a.allConversionsValue);\n    \n    totalAnterior.investimento += Number(b.costMicros) / 1e6;\n    totalAnterior.impressoes += Number(b.impressions);\n    totalAnterior.cliques += Number(b.clicks);\n    totalAnterior.conversoes += Number(b.conversions);\n    totalAnterior.todas_conversoes += Number(b.allConversions);\n    totalAnterior.valor_conversoes += Number(b.conversionsValue);\n    totalAnterior.valor_todas_conversoes += Number(b.allConversionsValue);\n\n\tconst nome = campanhaAtual.campaign.name;\n\n\tresultado[nome] = {\n\n\t\tatual: {\n            inicio: periodo.start_date,\n            fim: periodo.end_date,\n          \n\t\t\tid: campanhaAtual.campaign.id,\n\t\t\tnome,\n\n\t\t\tinvestimento: Number(a.costMicros) / 1e6,\n\t\t\timpressoes: Number(a.impressions),\n\t\t\tcpm: Number(a.averageCpm) / 1e6,\n\t\t\tctr: Number(a.ctr) * 100,\n\t\t\tcliques: Number(a.clicks),\n\t\t\tcpc: Number(a.averageCpc) / 1e6,\n\t\t\tconversoes: Number(a.conversions),\n\t\t\ttodas_conversoes: Number(a.allConversions),\n\t\t\tvalor_conversoes: Number(a.conversionsValue),\n\t\t\tvalor_todas_conversoes: Number(a.allConversionsValue)\n\t\t},\n\n\t\tanterior: {\n            inicio: subtrairDias(periodo.start_date, dias),\n            fim: subtrairDias(periodo.end_date, dias),\n\n\t\t\tid: campanhaAnterior.campaign.id,\n\t\t\tnome,\n\n\t\t\tinvestimento: Number(b.costMicros) / 1e6,\n\t\t\timpressoes: Number(b.impressions),\n\t\t\tcpm: Number(b.averageCpm) / 1e6,\n\t\t\tctr: Number(b.ctr) * 100,\n\t\t\tcliques: Number(b.clicks),\n\t\t\tcpc: Number(b.averageCpc) / 1e6,\n\t\t\tconversoes: Number(b.conversions),\n\t\t\ttodas_conversoes: Number(b.allConversions),\n\t\t\tvalor_conversoes: Number(b.conversionsValue),\n\t\t\tvalor_todas_conversoes: Number(b.allConversionsValue)\n\n\t\t},\n\n\t\tcomparativo: {\n\n\t\t\tinvestimento: {\n\t\t\t\tvariacao: variacao(Number(a.costMicros)/1e6, Number(b.costMicros)/1e6),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.costMicros)/1e6, Number(b.costMicros)/1e6),\n\t\t\t\t\t0,\n\t\t\t\t\tfalse,\n\t\t\t\t\t10\n\t\t\t\t)\n\t\t\t},\n\n\t\t\timpressoes: {\n\t\t\t\tvariacao: variacao(a.impressions, b.impressions),\n\t\t\t\ticone: direcao(a.impressions, b.impressions)\n\t\t\t},\n\n\t\t\tcliques: {\n\t\t\t\tvariacao: variacao(a.clicks, b.clicks),\n\t\t\t\ticone: direcao(a.clicks, b.clicks)\n\t\t\t},\n\n\t\t\tctr: {\n\t\t\t\tvariacao_pp: (Number(a.ctr) - Number(b.ctr)) * 100,\n\t\t\t\ticone: direcao(Number(a.ctr)*100, Number(b.ctr)*100, false, 0.5)\n\t\t\t},\n\n\t\t\tcpc: {\n\t\t\t\tvariacao: variacao(Number(a.averageCpc), Number(b.averageCpc)),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.averageCpc), Number(b.averageCpc)),\n\t\t\t\t\t0,\n\t\t\t\t\ttrue,\n\t\t\t\t\t5\n\t\t\t\t)\n\t\t\t},\n\n\t\t\tcpm: {\n\t\t\t\tvariacao: variacao(Number(a.averageCpm), Number(b.averageCpm)),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.averageCpm), Number(b.averageCpm)),\n\t\t\t\t\t0,\n\t\t\t\t\ttrue,\n\t\t\t\t\t5\n\t\t\t\t)\n\t\t\t},\n\n\t\t\tconversoes: {\n\t\t\t\tvariacao: variacao(a.conversions, b.conversions),\n\t\t\t\ticone: direcao(a.conversions, b.conversions)\n\t\t\t},\n\n\t\t\ttodas_conversoes: {\n\t\t\t\tvariacao: variacao(a.allConversions, b.allConversions),\n\t\t\t\ticone: direcao(a.allConversions, b.allConversions)\n\t\t\t},\n\n\t\t\tvalor_conversoes: {\n\t\t\t\tvariacao: variacao(a.conversionsValue, b.conversionsValue),\n\t\t\t\ticone: direcao(a.conversionsValue, b.conversionsValue)\n\t\t\t},\n\n\t\t\tvalor_todas_conversoes: {\n\t\t\t\tvariacao: variacao(a.allConversionsValue, b.allConversionsValue),\n\t\t\t\ticone: direcao(a.allConversionsValue, b.allConversionsValue)\n\t\t\t}\n\n\t\t}\n\n\t};\n\n}\n\nresultado.TOTAL = {\n\n\tatual: {\n\n\t\tinicio: periodo.start_date,\n\t\tfim: periodo.end_date,\n\n\t\tinvestimento: totalAtual.investimento,\n        investimento_mes: investimentoMes,\n\t\timpressoes: totalAtual.impressoes,\n\t\tcliques: totalAtual.cliques,\n\n\t\tctr: totalAtual.impressoes\n\t\t\t? totalAtual.cliques / totalAtual.impressoes * 100\n\t\t\t: 0,\n\n\t\tcpc: totalAtual.cliques\n\t\t\t? totalAtual.investimento / totalAtual.cliques\n\t\t\t: 0,\n\n\t\tcpm: totalAtual.impressoes\n\t\t\t? totalAtual.investimento / totalAtual.impressoes * 1000\n\t\t\t: 0,\n\n\t\tconversoes: totalAtual.conversoes,\n\t\ttodas_conversoes: totalAtual.todas_conversoes,\n\t\tvalor_conversoes: totalAtual.valor_conversoes,\n\t\tvalor_todas_conversoes: totalAtual.valor_todas_conversoes\n\n\t},\n\n\tanterior: {\n\n\t\tinicio: subtrairDias(periodo.start_date, dias),\n\t\tfim: subtrairDias(periodo.end_date, dias),\n\n\t\tinvestimento: totalAnterior.investimento,\n\t\timpressoes: totalAnterior.impressoes,\n\t\tcliques: totalAnterior.cliques,\n\n\t\tctr: totalAnterior.impressoes\n\t\t\t? totalAnterior.cliques / totalAnterior.impressoes * 100\n\t\t\t: 0,\n\n\t\tcpc: totalAnterior.cliques\n\t\t\t? totalAnterior.investimento / totalAnterior.cliques\n\t\t\t: 0,\n\n\t\tcpm: totalAnterior.impressoes\n\t\t\t? totalAnterior.investimento / totalAnterior.impressoes * 1000\n\t\t\t: 0,\n\n\t\tconversoes: totalAnterior.conversoes,\n\t\ttodas_conversoes: totalAnterior.todas_conversoes,\n\t\tvalor_conversoes: totalAnterior.valor_conversoes,\n\t\tvalor_todas_conversoes: totalAnterior.valor_todas_conversoes\n\n\t},\n\n\tcomparativo: {\n\n\t\tinvestimento: {\n\t\t\tvariacao: variacao(totalAtual.investimento, totalAnterior.investimento),\n\t\t\ticone: direcao(variacao(totalAtual.investimento, totalAnterior.investimento), 0, false, 10)\n\t\t},\n\n\t\timpressoes: {\n\t\t\tvariacao: variacao(totalAtual.impressoes, totalAnterior.impressoes),\n\t\t\ticone: direcao(totalAtual.impressoes, totalAnterior.impressoes)\n\t\t},\n\n\t\tcliques: {\n\t\t\tvariacao: variacao(totalAtual.cliques, totalAnterior.cliques),\n\t\t\ticone: direcao(totalAtual.cliques, totalAnterior.cliques)\n\t\t},\n\n\t\tctr: {\n\t\t\tvariacao_pp:\n\t\t\t\t(totalAtual.impressoes ? totalAtual.cliques / totalAtual.impressoes * 100 : 0)\n\t\t\t\t-\n\t\t\t\t(totalAnterior.impressoes ? totalAnterior.cliques / totalAnterior.impressoes * 100 : 0),\n\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.cliques / totalAtual.impressoes * 100 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.cliques / totalAnterior.impressoes * 100 : 0,\n\t\t\t\tfalse,\n\t\t\t\t0.5\n\t\t\t)\n\t\t},\n\n\t\tcpc: {\n\t\t\tvariacao: variacao(\n\t\t\t\ttotalAtual.cliques ? totalAtual.investimento / totalAtual.cliques : 0,\n\t\t\t\ttotalAnterior.cliques ? totalAnterior.investimento / totalAnterior.cliques : 0\n\t\t\t),\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.cliques ? totalAtual.investimento / totalAtual.cliques : 0,\n\t\t\t\ttotalAnterior.cliques ? totalAnterior.investimento / totalAnterior.cliques : 0,\n\t\t\t\ttrue,\n\t\t\t\t5\n\t\t\t)\n\t\t},\n\n\t\tcpm: {\n\t\t\tvariacao: variacao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.investimento / totalAtual.impressoes * 1000 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.investimento / totalAnterior.impressoes * 1000 : 0\n\t\t\t),\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.investimento / totalAtual.impressoes * 1000 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.investimento / totalAnterior.impressoes * 1000 : 0,\n\t\t\t\ttrue,\n\t\t\t\t5\n\t\t\t)\n\t\t},\n\n\t\tconversoes: {\n\t\t\tvariacao: variacao(totalAtual.conversoes, totalAnterior.conversoes),\n\t\t\ticone: direcao(totalAtual.conversoes, totalAnterior.conversoes)\n\t\t},\n\n\t\ttodas_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.todas_conversoes, totalAnterior.todas_conversoes),\n\t\t\ticone: direcao(totalAtual.todas_conversoes, totalAnterior.todas_conversoes)\n\t\t},\n\n\t\tvalor_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.valor_conversoes, totalAnterior.valor_conversoes),\n\t\t\ticone: direcao(totalAtual.valor_conversoes, totalAnterior.valor_conversoes)\n\t\t},\n\n\t\tvalor_todas_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.valor_todas_conversoes, totalAnterior.valor_todas_conversoes),\n\t\t\ticone: direcao(totalAtual.valor_todas_conversoes, totalAnterior.valor_todas_conversoes)\n\t\t}\n\n\t}\n\n};\n\nreturn [\n\t{\n\t\tjson: resultado\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,208],"id":"f9a33352-c4c7-42cf-98b6-31ea337d57af","name":"Code in JavaScript2"},{"parameters":{"assignments":{"assignments":[{"id":"754f753f-1723-4545-af7d-5a55cd35037c","name":"mensagem_google","value":"=**FUNIL GOOGLE**\n{{\n(() => {\n\nconst dias = $('GET DIAS').item.json.dias;\nlet mensagem = '';\n\nfor (const nome of Object.keys($json)) {\n\n    const c = $json[nome];\n\n    const nomeLimpo = nome\n      .replace(/^(\\[[^\\]]+\\]\\s*)+/, '')\n      .replace(/\\s+\\d{4}\\.\\d{2}\\.\\d{2}$/, '')\n      .trim();\n\n    const taxaAtual =\n      Number(c.atual?.cliques ?? 0) > 0\n        ? (Number(c.atual?.conversoes ?? 0) / Number(c.atual.cliques)) * 100\n        : 0;\n    \n    const taxaAnterior =\n      Number(c.anterior?.cliques ?? 0) > 0\n        ? (Number(c.anterior?.conversoes ?? 0) / Number(c.anterior.cliques)) * 100\n        : 0;\n    \n    const variacaoTaxa = taxaAtual - taxaAnterior;\n    \n    const iconeTaxa =\n      Math.abs(variacaoTaxa) <= 2\n        ? \"➖\"\n        : variacaoTaxa > 0\n          ? \"⬆️\"\n          : \"⬇️\";\n\n    mensagem += `\n\n*FUNIL ${nomeLimpo}*\nGargalo: 🦆 | Está bom: 🦅\n• Impressões: ${Number(c.atual?.impressoes ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.impressoes?.icone ?? '➖'} ${Number(c.comparativo?.impressoes?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Cliques: ${Number(c.atual?.cliques ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.cliques?.icone ?? '➖'} ${Number(c.comparativo?.cliques?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• CTR: ${Number(c.atual?.ctr ?? 0).toFixed(2).replace('.',',')}% | ${c.comparativo?.ctr?.icone ?? '➖'} ${(c.comparativo?.ctr?.variacao_pp ?? 0).toFixed(2).replace('.',',')} pp (${Number(c.atual?.ctr ?? 0)>3?'🦅':'🦆'})\n• CPC: R$ ${Number(c.atual?.cpc ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.cpc?.icone ?? '➖'} ${Number(c.comparativo?.cpc?.variacao ?? 0).toFixed(1).replace('.',',')}% (${Number(c.atual?.cpc ?? 999)<3?'🦅':'🦆'})\n• CPM: R$ ${Number(c.atual?.cpm ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.cpm?.icone ?? '➖'} ${Number(c.comparativo?.cpm?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Conversões: ${Number(c.atual?.conversoes ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.conversoes?.icone ?? '➖'} ${Number(c.comparativo?.conversoes?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Taxa de Conversão: ${taxaAtual.toFixed(1).replace('.',',')}% | ${iconeTaxa} ${(variacaoTaxa>0?'+':'')}${variacaoTaxa.toFixed(1).replace('.',',')} pp (${taxaAtual>10?'🦅':'🦆'})\n• Investimento: R$ ${Number(c.atual?.investimento ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.investimento?.icone ?? '➖'} ${Number(c.comparativo?.investimento?.variacao ?? 0).toFixed(1).replace('.',',')}%\n\n`;\n\n}\n\nreturn mensagem.trim();\n\n})()\n}}","type":"string"},{"id":"45849b13-40b9-4084-a1be-3472de9b5001","name":"task_id","value":"86a5watqh","type":"string"},{"id":"60108a35-6d29-4b95-b79f-181cf1b0d9af","name":"google_ad.atual.investimento","value":"={{ $json.TOTAL.atual.investimento }}","type":"number"},{"id":"968d0275-bb6e-46dc-bf0e-5afc26722cb9","name":"google_ad.atual.investimento_mes","value":"={{ $json.TOTAL.atual.investimento_mes }}","type":"number"},{"id":"eb89c828-c710-49bb-b6ba-465b4fa5f0c9","name":"google_ad.anterior.investimento","value":"={{ $json.TOTAL.anterior.investimento }}","type":"number"},{"id":"e079c810-3d53-416c-8201-f5ea2a606c39","name":"date.atual.inicio","value":"={{ $json.TOTAL.atual.inicio }}","type":"string"},{"id":"5c094f69-baf8-4448-9a8a-70ac0ee3ef37","name":"date.atual.fim","value":"={{ $json.TOTAL.atual.fim }}","type":"string"},{"id":"298eae2d-b005-41f7-9303-6a1080bd6d64","name":"date.anterior.inicio","value":"={{ $json.TOTAL.anterior.inicio }}","type":"string"},{"id":"d6557277-02cd-47ae-a9ef-98998443876c","name":"date.anterior.fim","value":"={{ $json.TOTAL.anterior.fim }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,208],"id":"76d89538-faa1-4373-8479-410999900cff","name":"Mensagem13"},{"parameters":{"resource":"comment","commentOn":"task","id":"={{ $json.task_id }}","commentText":"=💻 **FEEDBACK SEMANAL - {{ $json.date.atual.fim }}**","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1264,-80],"id":"72f148b1-f40c-4329-bb8c-137dda0cdca1","name":"Create a comment11","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3504,400],"id":"90d2b329-ca27-455b-b462-4323437f54d8","name":"LILIAN"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1936,304],"id":"1c61013a-1b26-4892-9a30-c4922eaa559b","name":"Merge4"},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  metrics.cost_micros\n\nFROM campaign\n\nWHERE\n  segments.date BETWEEN\n    '{{ $json.start_date.toDateTime().startOf(\"month\").format(\"yyyy-MM-dd\") }}'\n    AND\n    '{{ $json.start_date.toDateTime().endOf(\"month\").format(\"yyyy-MM-dd\") }}'\n\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'"}]},"options":{}},"id":"05bd008a-7880-4b33-958f-4a383c1c7cf9","name":"Google Ads: Campaign8","type":"n8n-nodes-base.httpRequest","position":[-3056,400],"typeVersion":4.2,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2832,592],"id":"fa41b15a-ec48-410d-a2be-9e543ed2487a","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"2a070673-1498-45f8-9fa7-b47a55f80865","name":"mensagem","value":"=📊 Passando para deixar o nosso Feedback das campanhas dessa semana:\nPeríodo: {{ $json.date.atual.inicio }} a {{ $json.date.atual.fim }} ({{ $('GET DIAS').item.json.dias }} dias) | Comparativo com {{ $json.date.anterior.inicio }} a {{ $json.date.anterior.fim }}\n\nInvestimento total da semana: R$ {{ Math.round($json?.google_ad?.atual?.investimento + $json?.meta_ads?.atual?.investimento) }} | semana anterior : R$ {{ Math.round($json?.google_ad?.anterior?.investimento + $json?.meta_ads?.anterior?.investimento) }}\nInvestimento total do mês atual: R$ {{ Math.round($json?.google_ad?.atual?.investimento_mes + $json?.meta_ads?.atual?.investimento_mes) }} (Projeção {{ $now.format('LLL') }}: R$ 3k)","type":"string"},{"id":"04e0520b-951e-418b-9ed9-abfb1e8e8ffe","name":"task_id","value":"={{ $json.task_id }}","type":"string"},{"id":"2b260665-a5fd-4f7c-ae6b-3ddaf8d0254e","name":"groupID_whats","value":"={{ $('Get row(s)1').first().json.groupID_whats }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,304],"id":"33f636a5-e740-429c-932f-fe55ddb0249a","name":"Lilian Mensagem Final"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_meta_captura }}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-816,-80],"id":"33340af6-77e5-41e1-b9ad-cea76fb747cc","name":"Meta Ads - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_google}}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-368,-80],"id":"64cf11bb-9e9c-4a30-8c04-c386d284eada","name":"Google Ads - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"= 🧭Leitura Geral da Semana\n* análise 1\n* análise 2\n\n\n❌ PENDENCIA\n\n\n🦜 Me conta: "},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-144,-80],"id":"09b1424a-ccc5-44e0-934f-86b711870144","name":"Me conta - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"=📊 Passando para deixar o nosso Feedback das campanhas dessa semana:\nPeríodo: {{ $('Lilian Mensagem Final').item.json.date.atual.inicio }} a {{ $('Lilian Mensagem Final').item.json.date.atual.fim }} ({{ $('GET DIAS').first().json.dias }} dias) | Comparativo com {{ $('Lilian Mensagem Final').item.json.date.anterior.inicio }} a {{ $('Lilian Mensagem Final').item.json.date.anterior.fim }}\n\nInvestimento total da semana: R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.atual?.investimento + $('Lilian Mensagem Final').item.json?.meta_ads?.atual?.investimento) }} | semana anterior : R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.anterior?.investimento + $('Lilian Mensagem Final').item.json?.meta_ads?.anterior?.investimento) }}\nInvestimento total do mês atual: R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.atual?.investimento_mes + $('Lilian Mensagem Final').item.json?.meta_ads?.atual?.investimento_mes) }} (Projeção {{ $('Lilian Mensagem Final').item.json.date.atual.inicio.toDateTime().format('MMMM/yy') }}: R$ 3k)"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1040,-80],"id":"738fd434-51aa-47d5-83c5-b437ca62d0bb","name":"Feedback - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"jsCode":"const input = $input.first().json;\n\nlet costMicros = 0;\n\nfor (const row of input.results || []) {\n  costMicros += Number(row.metrics?.costMicros || 0);\n}\n\nreturn [\n  {\n    json: {\n      costMicros,\n      cost: costMicros / 1_000_000\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,400],"id":"fa80a89f-071e-42ee-950b-2282c2b5e43b","name":"costmicros"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"SIGLA","keyValue":"LF"}]},"returnAll":true,"orderBy":true,"orderByColumn":"SIGLA","orderByDirection":"ASC"},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3952,400],"id":"e24ff69b-4846-4a36-a352-48e15cf8f813","name":"Get row(s)1"},{"parameters":{"assignments":{"assignments":[{"id":"ba800718-cd41-4622-9185-a2635d5168ed","name":"dias","value":"7","type":"string"},{"id":"77c69bdf-6eb5-42b0-bc6a-77d09a411329","name":"data_feedback","value":"={{ $now.minus(1,'days').format('yyyy-MM-dd') }}","type":"string"},{"id":"0066e9ec-2b4f-485e-b5ff-c7fdd71846f4","name":"google_ads_id","value":"={{ $json.google_ads.replaceAll(/\\D/g,\"\") }}","type":"string"},{"id":"6fb62beb-430e-49a3-8745-22f5b9be3761","name":"groupID_whats","value":"={{ $json.groupID_whats }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3728,400],"id":"ca863b59-f216-479d-8302-a73200e84b5a","name":"GET DIAS"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_captura }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,304],"id":"96f5951b-a1de-41cf-8be7-ac4e733ef8a8","name":"META CAPTURA"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_distribuicao }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1264,496],"id":"70256628-a65f-4fa0-9f4c-260ffaaaeeec","name":"META DISTRIBUICAO"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_google }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,688],"id":"f8497886-9b86-4fa2-85a5-8dee2d95f624","name":"GOOGLE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eb15309e-5480-454c-85f3-416e2322237c","leftValue":"={{ $('Schedule Trigger').item.json['Day of week'] }}","rightValue":"Friday","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1488,496],"id":"94505a9b-9784-4feb-862d-1cf4c6e75cad","name":"Sexta"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_captura }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4176,-304],"id":"886bceb2-ca34-4484-a512-8fd8f5ef10cd","name":"META CAPTURA1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eb15309e-5480-454c-85f3-416e2322237c","leftValue":"={{ $('Schedule Trigger').item.json['Day of week'] }}","rightValue":"Friday","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1488,112],"id":"12d7fda6-5593-4b0f-875e-5e6f7b2fefda","name":"Sexta1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_meta_distribuicao }}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-592,-80],"id":"5a6e11a9-938d-4d4d-a68c-6bb422109688","name":"Meta Ads - Lilian1","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1264,112],"id":"e8b81a00-b99b-4259-ae34-1614b4d9af44","name":"RESUMO SEMANAL"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"Mensagem7":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Monta Mensagem5":{"main":[[{"node":"Mensagem7","type":"main","index":0}]]},"GET LF":{"main":[[{"node":"Monta Mensagem5","type":"main","index":0}]]},"Google Ads: Campaign4":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"start end 2":{"main":[[{"node":"Google Ads: Campaign8","type":"main","index":0},{"node":"Google Ads: Campaign5","type":"main","index":0},{"node":"Google Ads: Campaign4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Google Ads: Campaign5":{"main":[[{"node":"Filter5","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Mensagem13","type":"main","index":0}]]},"Mensagem13":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Create a comment11":{"main":[[{"node":"Feedback - Lilian","type":"main","index":0}]]},"LILIAN":{"main":[[{"node":"start end 2","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Lilian Mensagem Final","type":"main","index":0}]]},"Google Ads: Campaign8":{"main":[[{"node":"costmicros","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"GET LF","type":"main","index":0}]]},"Lilian Mensagem Final":{"main":[[{"node":"META CAPTURA","type":"main","index":0},{"node":"Sexta","type":"main","index":0},{"node":"GOOGLE","type":"main","index":0},{"node":"Sexta1","type":"main","index":0}]]},"Meta Ads - Lilian":{"main":[[{"node":"Meta Ads - Lilian1","type":"main","index":0}]]},"Google Ads - Lilian":{"main":[[{"node":"Me conta - Lilian","type":"main","index":0}]]},"Feedback - Lilian":{"main":[[{"node":"Meta Ads - Lilian","type":"main","index":0}]]},"costmicros":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get row(s)1":{"main":[[{"node":"GET DIAS","type":"main","index":0}]]},"GET DIAS":{"main":[[{"node":"LILIAN","type":"main","index":0}]]},"Sexta":{"main":[[{"node":"META DISTRIBUICAO","type":"main","index":0}]]},"Sexta1":{"main":[[{"node":"RESUMO SEMANAL","type":"main","index":0},{"node":"Create a comment11","type":"main","index":0}]]},"Meta Ads - Lilian1":{"main":[[{"node":"Google Ads - Lilian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[null],"recurrenceRuleSignatures":[null]}},"meta":null,"nodeGroups":[],"versionId":"31b2ebd0-937b-4230-986e-92bae206788f","activeVersionId":"31b2ebd0-937b-4230-986e-92bae206788f","triggerCount":1,"shared":[{"updatedAt":"2026-07-17T22:47:07.255Z","createdAt":"2026-07-17T22:47:07.255Z","role":"workflow:owner","workflowId":"gGu30u8XXU0JJus0","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-17T23:25:12.607Z","createdAt":"2026-07-17T23:25:10.744Z","versionId":"31b2ebd0-937b-4230-986e-92bae206788f","workflowId":"gGu30u8XXU0JJus0","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4176,400],"id":"e7389262-956c-431c-ad3b-0a5520bcffbb","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"754f753f-1723-4545-af7d-5a55cd35037c","name":"mensagem_meta_captura","value":"=DRA. LILIAN **Meta Ads** *FUNIL CAPTURA*\nGargalo: 🦆 | Está bom: 🦅\n• Alcance: {{ $json.CAPTURA.atual.alcance.toNumber().format('pt-BR') }} | {{ $json.CAPTURA.comparativo.alcance.icone }}{{ $json.CAPTURA.comparativo.alcance.variacao.round(1).format('pt-BR') }}%\n• Cliques: {{ $json.CAPTURA.atual.cliques.toNumber().format('pt-BR') }} | {{ $json.CAPTURA.comparativo.cliques.icone }}{{ $json.CAPTURA.comparativo.cliques.variacao.round(1).format('pt-BR') }}%\n• CTR: {{ $json.CAPTURA.atual.ctr.toNumber().format('pt-BR') }}% | {{ $json.CAPTURA.comparativo.ctr.icone }}{{ $json.CAPTURA.comparativo.ctr.variacao_pp.round(2).format('pt-BR') }} pp ({{ $json.CAPTURA.atual.ctr.toNumber() > 1?\"🦅\":\"🦆\" }})\n• Contatos: {{ $json.CAPTURA.atual.contatos.format('pt-BR') }} | {{ $json.CAPTURA.comparativo.contatos.icone }}{{ $json.CAPTURA.comparativo.contatos.variacao.round(1).format('pt-BR') }}%\n• Conversão Funil: {{ $json.CAPTURA.atual.conversao_funil_pct.toNumber().round(1).format('pt-BR') }}% | {{ $json.CAPTURA.comparativo.conversao_funil.icone }}{{ $json.CAPTURA.comparativo.conversao_funil.variacao_pp > 0 ? \"+\" : \"\" }}{{ $json.CAPTURA.comparativo.conversao_funil.variacao_pp.toFixed(1).replace(\".\", \",\") }} pp ({{ $json.CAPTURA.atual.conversao_funil_pct.toNumber()>20?\"🦅\":\"🦆\" }})\n• Custo por Contato: R$ {{ $json.CAPTURA.atual.custo_por_contato.round(2).format('pt-BR') }} | {{ $json.CAPTURA.comparativo.custo_por_contato.icone }}{{ $json.CAPTURA.comparativo.custo_por_contato.variacao.round(1).format('pt-BR') }}% ({{ $json.CAPTURA.atual.custo_por_contato<10?\"🦅\":\"🦆\" }})\n• Investimento: R$ {{ $json.CAPTURA.atual.investimento.round(2).format('pt-BR') }} | {{ $json.CAPTURA.comparativo.investimento.icone }}{{ $json.CAPTURA.comparativo.investimento.variacao.round(1).format('pt-BR') }}%\n","type":"string"},{"id":"45849b13-40b9-4084-a1be-3472de9b5001","name":"task_id","value":"86a5watqh","type":"string"},{"id":"6731a258-b0a2-4ade-8dac-9f1a273b74b8","name":"meta_ads.atual.investimento","value":"={{ $json.CAPTURA.atual.investimento \n  +$json.DISTRIBUICAO.atual.investimento\n}}","type":"number"},{"id":"faa9f01d-2d62-4e82-a79b-e2c54e3dfaa0","name":"meta_ads.anterior.investimento","value":"={{ $json.CAPTURA.anterior.investimento\n+$json.DISTRIBUICAO.anterior.investimento }}","type":"number"},{"id":"29b0e513-637b-4e71-be54-56a3314dc7e0","name":"meta_ads.atual.investimento_mes","value":"={{ $json.CAPTURA.atual.investimento_mes }}","type":"number"},{"id":"717156d0-eb3d-45fd-bff6-3ee519ea18cd","name":"mensagem_meta_distribuicao","value":"=*DISTRIBUIÇÃO*\nGargalo: 🦆 | Está bom: 🦅\n• Alcance: {{ $json.DISTRIBUICAO.atual.alcance.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.alcance.icone }}{{ $json.DISTRIBUICAO.comparativo.alcance.variacao.round(1).format('pt-BR') }}%\n• Cliques: {{ $json.DISTRIBUICAO.atual.cliques.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.cliques.icone }}{{ $json.DISTRIBUICAO.comparativo.cliques.variacao.round(1).format('pt-BR') }}%\n• CTR: {{ $json.DISTRIBUICAO.atual.ctr.toNumber().format('pt-BR') }}% | {{ $json.DISTRIBUICAO.comparativo.ctr.icone }}{{ $json.DISTRIBUICAO.comparativo.ctr.variacao_pp.round(2).format('pt-BR') }} pp ({{ $json.DISTRIBUICAO.atual.ctr.toNumber()>2?\"🦅\":\"🦆\" }})\n• CPC: R$ {{ $json.DISTRIBUICAO.atual.cpc.round(2).format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.cpc.icone }}{{ $json.DISTRIBUICAO.comparativo.cpc.variacao.round(1).format('pt-BR') }}% ({{ $json.DISTRIBUICAO.atual.cpc<0.5?\"🦅\":\"🦆\" }})\n• Visita Perfil: {{ $json.DISTRIBUICAO.atual.landing_page_view.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.landing_page_view.icone }}{{ $json.DISTRIBUICAO.comparativo.landing_page_view.variacao.round(1).format('pt-BR') }}%\n• Engajamentos: {{ $json.DISTRIBUICAO.atual.post_engagement.toNumber().format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.post_engagement.icone }}{{ $json.DISTRIBUICAO.comparativo.post_engagement.variacao.round(1).format('pt-BR') }}%\n• Investimento: R$ {{ $json.DISTRIBUICAO.atual.investimento.round(2).format('pt-BR') }} | {{ $json.DISTRIBUICAO.comparativo.investimento.icone }}{{ $json.DISTRIBUICAO.comparativo.investimento.variacao.round(1).format('pt-BR') }}%","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,592],"id":"16d9075f-6d9d-470d-8ed7-40feabc299da","name":"Mensagem7"},{"parameters":{"jsCode":"const items = $input.all().map(i => i.json);\n\n// Organiza por período e campanha\nconst dados = {};\n\nfor (const item of items) {\n  if (!dados[item.periodo]) dados[item.periodo] = {};\n  dados[item.periodo][item.campanha] = item;\n}\n\nfunction variacao(atual, anterior) {\n  atual = Number(atual);\n  anterior = Number(anterior);\n\n  if (!isFinite(atual) || !isFinite(anterior) || anterior === 0) {\n    return null;\n  }\n\n  return ((atual - anterior) / anterior) * 100;\n}\n\nfunction direcao(atual, anterior, menorMelhor = false, tolerancia = 0) {\n  atual = Number(atual);\n  anterior = Number(anterior);\n\n  const dif = atual - anterior;\n\n  if (Math.abs(dif) <= tolerancia) {\n    return \"➖\";\n  }\n\n  if (menorMelhor) {\n    return dif < 0 ? \"⬆️\" : \"⬇️\";\n  }\n\n  return dif > 0 ? \"⬆️\" : \"⬇️\";\n}\n\nfunction compararCampanha(nomeCampanha) {\n\n  const atual = dados.atual[nomeCampanha];\n  const anterior = dados.anterior[nomeCampanha];\n\n  const resultado = {\n    atual,\n    anterior,\n    comparativo: {\n\n      investimento: {\n        variacao: variacao(atual.investimento, anterior.investimento),\n        icone: direcao(\n          variacao(atual.investimento, anterior.investimento),\n          0,\n          false,\n          10\n        )\n      },\n\n      impressoes: {\n        variacao: variacao(atual.impressoes, anterior.impressoes),\n        icone: direcao(atual.impressoes, anterior.impressoes)\n      },\n\n      alcance: {\n        variacao: variacao(atual.alcance, anterior.alcance),\n        icone: direcao(atual.alcance, anterior.alcance)\n      },\n\n      cliques: {\n        variacao: variacao(atual.cliques, anterior.cliques),\n        icone: direcao(atual.cliques, anterior.cliques)\n      },\n\n      ctr: {\n        variacao_pp: Number(atual.ctr) - Number(anterior.ctr),\n        icone: direcao(atual.ctr, anterior.ctr, false, 0.20)\n      },\n\n      cpc: {\n        variacao: variacao(atual.cpc, anterior.cpc),\n        icone: direcao(\n          variacao(atual.cpc, anterior.cpc),\n          0,\n          true,\n          5\n        )\n      },\n\n      landing_page_view: {\n        variacao: variacao(\n          atual.landing_page_view,\n          anterior.landing_page_view\n        ),\n        icone: direcao(\n          atual.landing_page_view,\n          anterior.landing_page_view\n        )\n      },\n\n      post_engagement: {\n        variacao: variacao(\n          atual.post_engagement,\n          anterior.post_engagement\n        ),\n        icone: direcao(\n          atual.post_engagement,\n          anterior.post_engagement\n        )\n      }\n\n    }\n  };\n\n  // Apenas CAPTURA possui métricas de funil\n  if (nomeCampanha === \"CAPTURA\") {\n\n    resultado.comparativo.contatos = {\n      variacao: variacao(atual.contatos, anterior.contatos),\n      icone: direcao(atual.contatos, anterior.contatos)\n    };\n\n    resultado.comparativo.conversao_funil = {\n      variacao_pp:\n        Number(atual.conversao_funil_pct) -\n        Number(anterior.conversao_funil_pct),\n\n      icone: direcao(\n        atual.conversao_funil_pct,\n        anterior.conversao_funil_pct,\n        false,\n        2\n      )\n    };\n\n    resultado.comparativo.custo_por_contato = {\n      variacao: variacao(\n        atual.custo_por_contato,\n        anterior.custo_por_contato\n      ),\n\n      icone: direcao(\n        variacao(\n          atual.custo_por_contato,\n          anterior.custo_por_contato\n        ),\n        0,\n        true,\n        5\n      )\n    };\n\n  }\n\n  return resultado;\n}\n\nreturn [\n  {\n    json: {\n      CAPTURA: compararCampanha(\"CAPTURA\"),\n      DISTRIBUICAO: compararCampanha(\"DISTRIBUICAO\")\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,592],"id":"2bc10f59-4ad0-4738-9f06-1974640f5660","name":"Monta Mensagem5"},{"parameters":{"operation":"executeQuery","query":"WITH parametros AS (\n    SELECT\n        DATE('{{ $json.data_feedback }}') AS data_fim,\n        7 AS dias\n),\n\nperiodos AS (\n    SELECT\n        'atual' periodo,\n        DATE_SUB(data_fim, INTERVAL dias-1 DAY) inicio,\n        data_fim fim\n    FROM parametros\n\n    UNION ALL\n\n    SELECT\n        'anterior',\n        DATE_SUB(data_fim, INTERVAL (dias*2)-1 DAY),\n        DATE_SUB(data_fim, INTERVAL dias DAY)\n    FROM parametros\n),\n\nads AS (\n    SELECT\n        p.periodo,\n        p.inicio,\n        p.fim,\n\n        CASE\n            WHEN a.campaign_name LIKE '%CAPTURA%' THEN 'CAPTURA'\n            ELSE 'DISTRIBUICAO'\n        END campanha,\n\n        ROUND(SUM(a.spend),2) investimento,\n        SUM(a.impressions) impressoes,\n        SUM(a.reach) alcance,\n        SUM(a.link_click) cliques,\n        SUM(a.landing_page_view) landing_page_view,\n        SUM(a.post_reaction) post_engagement,\n\n        ROUND(\n            SUM(a.link_click) /\n            NULLIF(SUM(a.impressions),0) * 100,\n            2\n        ) ctr,\n\n        ROUND(\n            SUM(a.spend) /\n            NULLIF(SUM(a.link_click),0),\n            2\n        ) cpc\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }} a\n        ON DATE(a.Data) BETWEEN p.inicio AND p.fim\n          AND a.ad_account_name LIKE '%{{ $json.SIGLA }}%'\n\n    GROUP BY\n        p.periodo,\n        campanha\n),\n\ncontatos AS (\n    SELECT\n        p.periodo,\n        COUNT(*) contatos\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.ttconversa_criada t\n        ON DATE(t.data_da_primeira_mensagem)\n           BETWEEN p.inicio AND p.fim\n\n    WHERE t.origem='Meta Ads'\n        AND t.event_type='lead.create'\n        AND t.link_rastreavel IN ('Dra. Lilian')\n\n    GROUP BY p.periodo\n),\n  \nmensal AS (\n    SELECT\n        p.periodo,\n\n        ROUND(SUM(a.spend),2) investimento_mes\n\n    FROM periodos p\n\n    JOIN {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }} a\n        ON DATE(a.Data) BETWEEN\n            DATE_FORMAT(p.inicio, '%Y-%m-01')\n            AND LAST_DAY(p.inicio)\n        AND a.ad_account_name LIKE '%{{ $json.SIGLA }}%'\n\n    GROUP BY p.periodo\n)\n\nSELECT\n\n    a.periodo,\n    a.campanha,\n\n    a.inicio,\n    a.fim,\n\n    a.investimento,\n    m.investimento_mes,\n    a.impressoes,\n    a.alcance,\n    a.cliques,\n    a.landing_page_view,\n    a.post_engagement,\n    a.ctr,\n    a.cpc,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN c.contatos\n    END contatos,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN ROUND(\n            c.contatos /\n            NULLIF(a.cliques,0) * 100,\n            2\n        )\n    END conversao_funil_pct,\n\n    CASE\n        WHEN a.campanha='CAPTURA'\n        THEN ROUND(\n            a.investimento /\n            NULLIF(c.contatos,0),\n            2\n        )\n    END custo_por_contato\n\nFROM ads a\n\nLEFT JOIN contatos c\n    ON c.periodo = a.periodo\n\nLEFT JOIN mensal m\n    ON m.periodo = a.periodo\n\nORDER BY\n    a.periodo,\n    a.campanha;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2608,592],"id":"8a217c92-4af0-4930-afa9-b350affd46cf","name":"GET LF","credentials":{"mySql":{"id":"0IDpbdZyV1ra1ED3","name":"MySQL 03 ctx_convertix"}}},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  campaign.id,\n  campaign.name,\n\n  metrics.cost_micros,\n  metrics.impressions,\n  metrics.average_cpm,\n  metrics.ctr,\n  metrics.clicks,\n  metrics.average_cpc,\n\n  metrics.conversions,\n  metrics.all_conversions,\n\n  metrics.conversions_value,\n  metrics.all_conversions_value\n\nFROM campaign\n\nWHERE segments.date BETWEEN '{{ $json.start_date }}' AND '{{ $json.end_date }}'\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'\n\n  AND metrics.cost_micros > 0"}]},"options":{}},"id":"a1b51172-d7ed-4ae8-915a-2f58f2d1f7f4","name":"Google Ads: Campaign4","type":"n8n-nodes-base.httpRequest","position":[-3056,16],"typeVersion":4.2,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b48b5a7-6d04-4ca3-a7bd-ca8228e5bd24","name":"start_date","value":"={{ $json.data_feedback.toDateTime().minus(6,'days').format('yyyy-MM-dd') }}","type":"string"},{"id":"5adc9997-5394-4e85-bc5b-17440e547cec","name":"end_date","value":"={{ $json.data_feedback }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3280,208],"id":"f4907433-973f-46b0-8be6-d227b100f913","name":"start end 2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f66f25-abf0-43d3-9ddd-242fa9bd4772","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"e7b13343-2fd8-4555-83a7-caaa20c9a244","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2832,16],"id":"2b777c18-53f4-472f-ac41-8c83534cb35d","name":"Filter4"},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  campaign.id,\n  campaign.name,\n\n  metrics.cost_micros,\n  metrics.impressions,\n  metrics.average_cpm,\n  metrics.ctr,\n  metrics.clicks,\n  metrics.average_cpc,\n\n  metrics.conversions,\n  metrics.all_conversions,\n\n  metrics.conversions_value,\n  metrics.all_conversions_value\n\nFROM campaign\n\nWHERE\n  segments.date BETWEEN '{{ $json.start_date.toDateTime().minus(7,'days').format('yyyy-MM-dd') }}'\n  AND '{{ $json.end_date.toDateTime().minus(7,'days').format('yyyy-MM-dd') }}'\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'\n  AND metrics.cost_micros > 0"}]},"options":{}},"id":"9ff192f5-0563-4b91-9f40-7176cbc1ffba","name":"Google Ads: Campaign5","type":"n8n-nodes-base.httpRequest","position":[-3056,208],"typeVersion":4.2,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0f66f25-abf0-43d3-9ddd-242fa9bd4772","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"e7b13343-2fd8-4555-83a7-caaa20c9a244","leftValue":"={{ $json.results }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2832,208],"id":"462264aa-813f-4bc6-b2ec-18290bc10452","name":"Filter5"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2608,192],"id":"4fd382ae-c0d0-4c8c-ae24-69cc43cf8541","name":"Merge2"},{"parameters":{"jsCode":"const periodo = $('start end 2').item.json;\nconst dias = Number(periodo.dias);\n\nfunction subtrairDias(data, qtdDias) {\n  const d = new Date(data);\n  d.setDate(d.getDate() - qtdDias);\n\n  return d.toISOString().slice(0, 10);\n}\n\nconst [atualResp, anteriorResp, mesResp] = $input.all().map(i => i.json);\n\nconst atual = atualResp.results;\nconst anterior = anteriorResp.results;\n\nconst investimentoMes = Number(mesResp.cost || 0);\n\nfunction variacao(atual, anterior) {\n\tatual = Number(atual);\n\tanterior = Number(anterior);\n\n\tif (!isFinite(atual) || !isFinite(anterior) || anterior === 0) {\n\t\treturn null;\n\t}\n\n\treturn ((atual - anterior) / anterior) * 100;\n}\n\nfunction direcao(atual, anterior, menorMelhor = false, tolerancia = 0) {\n\n\tatual = Number(atual);\n\tanterior = Number(anterior);\n\n\tif (!isFinite(atual) || !isFinite(anterior)) {\n\t\treturn \"➖\";\n\t}\n\n\tconst dif = atual - anterior;\n\n\tif (Math.abs(dif) <= tolerancia) {\n\t\treturn \"➖\";\n\t}\n\n\tif (menorMelhor) {\n\t\treturn dif < 0 ? \"⬆️\" : \"⬇️\";\n\t}\n\n\treturn dif > 0 ? \"⬆️\" : \"⬇️\";\n}\n\nconst campanhasAnteriores = {};\n\nfor (const campanha of anterior) {\n\tcampanhasAnteriores[campanha.campaign.id] = campanha;\n}\n\nconst resultado = {};\n\nconst totalAtual = {\n\tinvestimento: 0,\n\timpressoes: 0,\n\tcliques: 0,\n\tconversoes: 0,\n\ttodas_conversoes: 0,\n\tvalor_conversoes: 0,\n\tvalor_todas_conversoes: 0\n};\n\nconst totalAnterior = {\n\tinvestimento: 0,\n\timpressoes: 0,\n\tcliques: 0,\n\tconversoes: 0,\n\ttodas_conversoes: 0,\n\tvalor_conversoes: 0,\n\tvalor_todas_conversoes: 0\n};\n\nfor (const campanhaAtual of atual) {\n\n\tconst campanhaAnterior = campanhasAnteriores[campanhaAtual.campaign.id];\n\n\tif (!campanhaAnterior) continue;\n\n\tconst a = campanhaAtual.metrics;\n\tconst b = campanhaAnterior.metrics;\n\n    totalAtual.investimento += Number(a.costMicros) / 1e6;\n    totalAtual.impressoes += Number(a.impressions);\n    totalAtual.cliques += Number(a.clicks);\n    totalAtual.conversoes += Number(a.conversions);\n    totalAtual.todas_conversoes += Number(a.allConversions);\n    totalAtual.valor_conversoes += Number(a.conversionsValue);\n    totalAtual.valor_todas_conversoes += Number(a.allConversionsValue);\n    \n    totalAnterior.investimento += Number(b.costMicros) / 1e6;\n    totalAnterior.impressoes += Number(b.impressions);\n    totalAnterior.cliques += Number(b.clicks);\n    totalAnterior.conversoes += Number(b.conversions);\n    totalAnterior.todas_conversoes += Number(b.allConversions);\n    totalAnterior.valor_conversoes += Number(b.conversionsValue);\n    totalAnterior.valor_todas_conversoes += Number(b.allConversionsValue);\n\n\tconst nome = campanhaAtual.campaign.name;\n\n\tresultado[nome] = {\n\n\t\tatual: {\n            inicio: periodo.start_date,\n            fim: periodo.end_date,\n          \n\t\t\tid: campanhaAtual.campaign.id,\n\t\t\tnome,\n\n\t\t\tinvestimento: Number(a.costMicros) / 1e6,\n\t\t\timpressoes: Number(a.impressions),\n\t\t\tcpm: Number(a.averageCpm) / 1e6,\n\t\t\tctr: Number(a.ctr) * 100,\n\t\t\tcliques: Number(a.clicks),\n\t\t\tcpc: Number(a.averageCpc) / 1e6,\n\t\t\tconversoes: Number(a.conversions),\n\t\t\ttodas_conversoes: Number(a.allConversions),\n\t\t\tvalor_conversoes: Number(a.conversionsValue),\n\t\t\tvalor_todas_conversoes: Number(a.allConversionsValue)\n\t\t},\n\n\t\tanterior: {\n            inicio: subtrairDias(periodo.start_date, dias),\n            fim: subtrairDias(periodo.end_date, dias),\n\n\t\t\tid: campanhaAnterior.campaign.id,\n\t\t\tnome,\n\n\t\t\tinvestimento: Number(b.costMicros) / 1e6,\n\t\t\timpressoes: Number(b.impressions),\n\t\t\tcpm: Number(b.averageCpm) / 1e6,\n\t\t\tctr: Number(b.ctr) * 100,\n\t\t\tcliques: Number(b.clicks),\n\t\t\tcpc: Number(b.averageCpc) / 1e6,\n\t\t\tconversoes: Number(b.conversions),\n\t\t\ttodas_conversoes: Number(b.allConversions),\n\t\t\tvalor_conversoes: Number(b.conversionsValue),\n\t\t\tvalor_todas_conversoes: Number(b.allConversionsValue)\n\n\t\t},\n\n\t\tcomparativo: {\n\n\t\t\tinvestimento: {\n\t\t\t\tvariacao: variacao(Number(a.costMicros)/1e6, Number(b.costMicros)/1e6),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.costMicros)/1e6, Number(b.costMicros)/1e6),\n\t\t\t\t\t0,\n\t\t\t\t\tfalse,\n\t\t\t\t\t10\n\t\t\t\t)\n\t\t\t},\n\n\t\t\timpressoes: {\n\t\t\t\tvariacao: variacao(a.impressions, b.impressions),\n\t\t\t\ticone: direcao(a.impressions, b.impressions)\n\t\t\t},\n\n\t\t\tcliques: {\n\t\t\t\tvariacao: variacao(a.clicks, b.clicks),\n\t\t\t\ticone: direcao(a.clicks, b.clicks)\n\t\t\t},\n\n\t\t\tctr: {\n\t\t\t\tvariacao_pp: (Number(a.ctr) - Number(b.ctr)) * 100,\n\t\t\t\ticone: direcao(Number(a.ctr)*100, Number(b.ctr)*100, false, 0.5)\n\t\t\t},\n\n\t\t\tcpc: {\n\t\t\t\tvariacao: variacao(Number(a.averageCpc), Number(b.averageCpc)),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.averageCpc), Number(b.averageCpc)),\n\t\t\t\t\t0,\n\t\t\t\t\ttrue,\n\t\t\t\t\t5\n\t\t\t\t)\n\t\t\t},\n\n\t\t\tcpm: {\n\t\t\t\tvariacao: variacao(Number(a.averageCpm), Number(b.averageCpm)),\n\t\t\t\ticone: direcao(\n\t\t\t\t\tvariacao(Number(a.averageCpm), Number(b.averageCpm)),\n\t\t\t\t\t0,\n\t\t\t\t\ttrue,\n\t\t\t\t\t5\n\t\t\t\t)\n\t\t\t},\n\n\t\t\tconversoes: {\n\t\t\t\tvariacao: variacao(a.conversions, b.conversions),\n\t\t\t\ticone: direcao(a.conversions, b.conversions)\n\t\t\t},\n\n\t\t\ttodas_conversoes: {\n\t\t\t\tvariacao: variacao(a.allConversions, b.allConversions),\n\t\t\t\ticone: direcao(a.allConversions, b.allConversions)\n\t\t\t},\n\n\t\t\tvalor_conversoes: {\n\t\t\t\tvariacao: variacao(a.conversionsValue, b.conversionsValue),\n\t\t\t\ticone: direcao(a.conversionsValue, b.conversionsValue)\n\t\t\t},\n\n\t\t\tvalor_todas_conversoes: {\n\t\t\t\tvariacao: variacao(a.allConversionsValue, b.allConversionsValue),\n\t\t\t\ticone: direcao(a.allConversionsValue, b.allConversionsValue)\n\t\t\t}\n\n\t\t}\n\n\t};\n\n}\n\nresultado.TOTAL = {\n\n\tatual: {\n\n\t\tinicio: periodo.start_date,\n\t\tfim: periodo.end_date,\n\n\t\tinvestimento: totalAtual.investimento,\n        investimento_mes: investimentoMes,\n\t\timpressoes: totalAtual.impressoes,\n\t\tcliques: totalAtual.cliques,\n\n\t\tctr: totalAtual.impressoes\n\t\t\t? totalAtual.cliques / totalAtual.impressoes * 100\n\t\t\t: 0,\n\n\t\tcpc: totalAtual.cliques\n\t\t\t? totalAtual.investimento / totalAtual.cliques\n\t\t\t: 0,\n\n\t\tcpm: totalAtual.impressoes\n\t\t\t? totalAtual.investimento / totalAtual.impressoes * 1000\n\t\t\t: 0,\n\n\t\tconversoes: totalAtual.conversoes,\n\t\ttodas_conversoes: totalAtual.todas_conversoes,\n\t\tvalor_conversoes: totalAtual.valor_conversoes,\n\t\tvalor_todas_conversoes: totalAtual.valor_todas_conversoes\n\n\t},\n\n\tanterior: {\n\n\t\tinicio: subtrairDias(periodo.start_date, dias),\n\t\tfim: subtrairDias(periodo.end_date, dias),\n\n\t\tinvestimento: totalAnterior.investimento,\n\t\timpressoes: totalAnterior.impressoes,\n\t\tcliques: totalAnterior.cliques,\n\n\t\tctr: totalAnterior.impressoes\n\t\t\t? totalAnterior.cliques / totalAnterior.impressoes * 100\n\t\t\t: 0,\n\n\t\tcpc: totalAnterior.cliques\n\t\t\t? totalAnterior.investimento / totalAnterior.cliques\n\t\t\t: 0,\n\n\t\tcpm: totalAnterior.impressoes\n\t\t\t? totalAnterior.investimento / totalAnterior.impressoes * 1000\n\t\t\t: 0,\n\n\t\tconversoes: totalAnterior.conversoes,\n\t\ttodas_conversoes: totalAnterior.todas_conversoes,\n\t\tvalor_conversoes: totalAnterior.valor_conversoes,\n\t\tvalor_todas_conversoes: totalAnterior.valor_todas_conversoes\n\n\t},\n\n\tcomparativo: {\n\n\t\tinvestimento: {\n\t\t\tvariacao: variacao(totalAtual.investimento, totalAnterior.investimento),\n\t\t\ticone: direcao(variacao(totalAtual.investimento, totalAnterior.investimento), 0, false, 10)\n\t\t},\n\n\t\timpressoes: {\n\t\t\tvariacao: variacao(totalAtual.impressoes, totalAnterior.impressoes),\n\t\t\ticone: direcao(totalAtual.impressoes, totalAnterior.impressoes)\n\t\t},\n\n\t\tcliques: {\n\t\t\tvariacao: variacao(totalAtual.cliques, totalAnterior.cliques),\n\t\t\ticone: direcao(totalAtual.cliques, totalAnterior.cliques)\n\t\t},\n\n\t\tctr: {\n\t\t\tvariacao_pp:\n\t\t\t\t(totalAtual.impressoes ? totalAtual.cliques / totalAtual.impressoes * 100 : 0)\n\t\t\t\t-\n\t\t\t\t(totalAnterior.impressoes ? totalAnterior.cliques / totalAnterior.impressoes * 100 : 0),\n\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.cliques / totalAtual.impressoes * 100 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.cliques / totalAnterior.impressoes * 100 : 0,\n\t\t\t\tfalse,\n\t\t\t\t0.5\n\t\t\t)\n\t\t},\n\n\t\tcpc: {\n\t\t\tvariacao: variacao(\n\t\t\t\ttotalAtual.cliques ? totalAtual.investimento / totalAtual.cliques : 0,\n\t\t\t\ttotalAnterior.cliques ? totalAnterior.investimento / totalAnterior.cliques : 0\n\t\t\t),\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.cliques ? totalAtual.investimento / totalAtual.cliques : 0,\n\t\t\t\ttotalAnterior.cliques ? totalAnterior.investimento / totalAnterior.cliques : 0,\n\t\t\t\ttrue,\n\t\t\t\t5\n\t\t\t)\n\t\t},\n\n\t\tcpm: {\n\t\t\tvariacao: variacao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.investimento / totalAtual.impressoes * 1000 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.investimento / totalAnterior.impressoes * 1000 : 0\n\t\t\t),\n\t\t\ticone: direcao(\n\t\t\t\ttotalAtual.impressoes ? totalAtual.investimento / totalAtual.impressoes * 1000 : 0,\n\t\t\t\ttotalAnterior.impressoes ? totalAnterior.investimento / totalAnterior.impressoes * 1000 : 0,\n\t\t\t\ttrue,\n\t\t\t\t5\n\t\t\t)\n\t\t},\n\n\t\tconversoes: {\n\t\t\tvariacao: variacao(totalAtual.conversoes, totalAnterior.conversoes),\n\t\t\ticone: direcao(totalAtual.conversoes, totalAnterior.conversoes)\n\t\t},\n\n\t\ttodas_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.todas_conversoes, totalAnterior.todas_conversoes),\n\t\t\ticone: direcao(totalAtual.todas_conversoes, totalAnterior.todas_conversoes)\n\t\t},\n\n\t\tvalor_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.valor_conversoes, totalAnterior.valor_conversoes),\n\t\t\ticone: direcao(totalAtual.valor_conversoes, totalAnterior.valor_conversoes)\n\t\t},\n\n\t\tvalor_todas_conversoes: {\n\t\t\tvariacao: variacao(totalAtual.valor_todas_conversoes, totalAnterior.valor_todas_conversoes),\n\t\t\ticone: direcao(totalAtual.valor_todas_conversoes, totalAnterior.valor_todas_conversoes)\n\t\t}\n\n\t}\n\n};\n\nreturn [\n\t{\n\t\tjson: resultado\n\t}\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,208],"id":"f9a33352-c4c7-42cf-98b6-31ea337d57af","name":"Code in JavaScript2"},{"parameters":{"assignments":{"assignments":[{"id":"754f753f-1723-4545-af7d-5a55cd35037c","name":"mensagem_google","value":"=**FUNIL GOOGLE**\n{{\n(() => {\n\nconst dias = $('GET DIAS').item.json.dias;\nlet mensagem = '';\n\nfor (const nome of Object.keys($json)) {\n\n    const c = $json[nome];\n\n    const nomeLimpo = nome\n      .replace(/^(\\[[^\\]]+\\]\\s*)+/, '')\n      .replace(/\\s+\\d{4}\\.\\d{2}\\.\\d{2}$/, '')\n      .trim();\n\n    const taxaAtual =\n      Number(c.atual?.cliques ?? 0) > 0\n        ? (Number(c.atual?.conversoes ?? 0) / Number(c.atual.cliques)) * 100\n        : 0;\n    \n    const taxaAnterior =\n      Number(c.anterior?.cliques ?? 0) > 0\n        ? (Number(c.anterior?.conversoes ?? 0) / Number(c.anterior.cliques)) * 100\n        : 0;\n    \n    const variacaoTaxa = taxaAtual - taxaAnterior;\n    \n    const iconeTaxa =\n      Math.abs(variacaoTaxa) <= 2\n        ? \"➖\"\n        : variacaoTaxa > 0\n          ? \"⬆️\"\n          : \"⬇️\";\n\n    mensagem += `\n\n*FUNIL ${nomeLimpo}*\nGargalo: 🦆 | Está bom: 🦅\n• Impressões: ${Number(c.atual?.impressoes ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.impressoes?.icone ?? '➖'} ${Number(c.comparativo?.impressoes?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Cliques: ${Number(c.atual?.cliques ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.cliques?.icone ?? '➖'} ${Number(c.comparativo?.cliques?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• CTR: ${Number(c.atual?.ctr ?? 0).toFixed(2).replace('.',',')}% | ${c.comparativo?.ctr?.icone ?? '➖'} ${(c.comparativo?.ctr?.variacao_pp ?? 0).toFixed(2).replace('.',',')} pp (${Number(c.atual?.ctr ?? 0)>3?'🦅':'🦆'})\n• CPC: R$ ${Number(c.atual?.cpc ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.cpc?.icone ?? '➖'} ${Number(c.comparativo?.cpc?.variacao ?? 0).toFixed(1).replace('.',',')}% (${Number(c.atual?.cpc ?? 999)<3?'🦅':'🦆'})\n• CPM: R$ ${Number(c.atual?.cpm ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.cpm?.icone ?? '➖'} ${Number(c.comparativo?.cpm?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Conversões: ${Number(c.atual?.conversoes ?? 0).toLocaleString('pt-BR')} | ${c.comparativo?.conversoes?.icone ?? '➖'} ${Number(c.comparativo?.conversoes?.variacao ?? 0).toFixed(1).replace('.',',')}%\n• Taxa de Conversão: ${taxaAtual.toFixed(1).replace('.',',')}% | ${iconeTaxa} ${(variacaoTaxa>0?'+':'')}${variacaoTaxa.toFixed(1).replace('.',',')} pp (${taxaAtual>10?'🦅':'🦆'})\n• Investimento: R$ ${Number(c.atual?.investimento ?? 0).toFixed(2).replace('.',',')} | ${c.comparativo?.investimento?.icone ?? '➖'} ${Number(c.comparativo?.investimento?.variacao ?? 0).toFixed(1).replace('.',',')}%\n\n`;\n\n}\n\nreturn mensagem.trim();\n\n})()\n}}","type":"string"},{"id":"45849b13-40b9-4084-a1be-3472de9b5001","name":"task_id","value":"86a5watqh","type":"string"},{"id":"60108a35-6d29-4b95-b79f-181cf1b0d9af","name":"google_ad.atual.investimento","value":"={{ $json.TOTAL.atual.investimento }}","type":"number"},{"id":"968d0275-bb6e-46dc-bf0e-5afc26722cb9","name":"google_ad.atual.investimento_mes","value":"={{ $json.TOTAL.atual.investimento_mes }}","type":"number"},{"id":"eb89c828-c710-49bb-b6ba-465b4fa5f0c9","name":"google_ad.anterior.investimento","value":"={{ $json.TOTAL.anterior.investimento }}","type":"number"},{"id":"e079c810-3d53-416c-8201-f5ea2a606c39","name":"date.atual.inicio","value":"={{ $json.TOTAL.atual.inicio }}","type":"string"},{"id":"5c094f69-baf8-4448-9a8a-70ac0ee3ef37","name":"date.atual.fim","value":"={{ $json.TOTAL.atual.fim }}","type":"string"},{"id":"298eae2d-b005-41f7-9303-6a1080bd6d64","name":"date.anterior.inicio","value":"={{ $json.TOTAL.anterior.inicio }}","type":"string"},{"id":"d6557277-02cd-47ae-a9ef-98998443876c","name":"date.anterior.fim","value":"={{ $json.TOTAL.anterior.fim }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2160,208],"id":"76d89538-faa1-4373-8479-410999900cff","name":"Mensagem13"},{"parameters":{"resource":"comment","commentOn":"task","id":"={{ $json.task_id }}","commentText":"=💻 **FEEDBACK SEMANAL - {{ $json.date.atual.fim }}**","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-1264,-80],"id":"72f148b1-f40c-4329-bb8c-137dda0cdca1","name":"Create a comment11","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3504,400],"id":"90d2b329-ca27-455b-b462-4323437f54d8","name":"LILIAN"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1936,304],"id":"1c61013a-1b26-4892-9a30-c4922eaa559b","name":"Merge4"},{"parameters":{"method":"POST","url":"=https://googleads.googleapis.com/v24/customers/{{ $json.google_ads_id }}/googleAds:search","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"developer-token","value":"={{ $vars.GGADS_DEVTOKEN }}"},{"name":"login-customer-id","value":"={{ $vars.GGADS_MCC_ID }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"=SELECT\n  metrics.cost_micros\n\nFROM campaign\n\nWHERE\n  segments.date BETWEEN\n    '{{ $json.start_date.toDateTime().startOf(\"month\").format(\"yyyy-MM-dd\") }}'\n    AND\n    '{{ $json.start_date.toDateTime().endOf(\"month\").format(\"yyyy-MM-dd\") }}'\n\n  AND campaign.name LIKE '%[[]{{ $json.SIGLA }}[]]%'"}]},"options":{}},"id":"05bd008a-7880-4b33-958f-4a383c1c7cf9","name":"Google Ads: Campaign8","type":"n8n-nodes-base.httpRequest","position":[-3056,400],"typeVersion":4.2,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleAdsOAuth2Api":{"id":"rKw1KOcsXOIyTlJA","name":"Google Ads ASSESSORIA MCC"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2832,592],"id":"fa41b15a-ec48-410d-a2be-9e543ed2487a","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"2a070673-1498-45f8-9fa7-b47a55f80865","name":"mensagem","value":"=📊 Passando para deixar o nosso Feedback das campanhas dessa semana:\nPeríodo: {{ $json.date.atual.inicio }} a {{ $json.date.atual.fim }} ({{ $('GET DIAS').item.json.dias }} dias) | Comparativo com {{ $json.date.anterior.inicio }} a {{ $json.date.anterior.fim }}\n\nInvestimento total da semana: R$ {{ Math.round($json?.google_ad?.atual?.investimento + $json?.meta_ads?.atual?.investimento) }} | semana anterior : R$ {{ Math.round($json?.google_ad?.anterior?.investimento + $json?.meta_ads?.anterior?.investimento) }}\nInvestimento total do mês atual: R$ {{ Math.round($json?.google_ad?.atual?.investimento_mes + $json?.meta_ads?.atual?.investimento_mes) }} (Projeção {{ $now.format('LLL') }}: R$ 3k)","type":"string"},{"id":"04e0520b-951e-418b-9ed9-abfb1e8e8ffe","name":"task_id","value":"={{ $json.task_id }}","type":"string"},{"id":"2b260665-a5fd-4f7c-ae6b-3ddaf8d0254e","name":"groupID_whats","value":"={{ $('Get row(s)1').first().json.groupID_whats }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1712,304],"id":"33f636a5-e740-429c-932f-fe55ddb0249a","name":"Lilian Mensagem Final"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_meta_captura }}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-816,-80],"id":"33340af6-77e5-41e1-b9ad-cea76fb747cc","name":"Meta Ads - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_google}}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-368,-80],"id":"64cf11bb-9e9c-4a30-8c04-c386d284eada","name":"Google Ads - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"= 🧭Leitura Geral da Semana\n* análise 1\n* análise 2\n\n\n❌ PENDENCIA\n\n\n🦜 Me conta: "},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-144,-80],"id":"09b1424a-ccc5-44e0-934f-86b711870144","name":"Me conta - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"=📊 Passando para deixar o nosso Feedback das campanhas dessa semana:\nPeríodo: {{ $('Lilian Mensagem Final').item.json.date.atual.inicio }} a {{ $('Lilian Mensagem Final').item.json.date.atual.fim }} ({{ $('GET DIAS').first().json.dias }} dias) | Comparativo com {{ $('Lilian Mensagem Final').item.json.date.anterior.inicio }} a {{ $('Lilian Mensagem Final').item.json.date.anterior.fim }}\n\nInvestimento total da semana: R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.atual?.investimento + $('Lilian Mensagem Final').item.json?.meta_ads?.atual?.investimento) }} | semana anterior : R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.anterior?.investimento + $('Lilian Mensagem Final').item.json?.meta_ads?.anterior?.investimento) }}\nInvestimento total do mês atual: R$ {{ Math.round($('Lilian Mensagem Final').item.json?.google_ad?.atual?.investimento_mes + $('Lilian Mensagem Final').item.json?.meta_ads?.atual?.investimento_mes) }} (Projeção {{ $('Lilian Mensagem Final').item.json.date.atual.inicio.toDateTime().format('MMMM/yy') }}: R$ 3k)"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1040,-80],"id":"738fd434-51aa-47d5-83c5-b437ca62d0bb","name":"Feedback - Lilian","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"jsCode":"const input = $input.first().json;\n\nlet costMicros = 0;\n\nfor (const row of input.results || []) {\n  costMicros += Number(row.metrics?.costMicros || 0);\n}\n\nreturn [\n  {\n    json: {\n      costMicros,\n      cost: costMicros / 1_000_000\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2832,400],"id":"fa80a89f-071e-42ee-950b-2282c2b5e43b","name":"costmicros"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fPk6rXXLixzacJu5","mode":"list","cachedResultName":"[CTX] Clientes","cachedResultUrl":"/projects/ANA16Jg870Mj5fq8/datatables/fPk6rXXLixzacJu5"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente_ativo","condition":"isTrue"},{"keyName":"SIGLA","keyValue":"LF"}]},"returnAll":true,"orderBy":true,"orderByColumn":"SIGLA","orderByDirection":"ASC"},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-3952,400],"id":"e24ff69b-4846-4a36-a352-48e15cf8f813","name":"Get row(s)1"},{"parameters":{"assignments":{"assignments":[{"id":"ba800718-cd41-4622-9185-a2635d5168ed","name":"dias","value":"7","type":"string"},{"id":"77c69bdf-6eb5-42b0-bc6a-77d09a411329","name":"data_feedback","value":"={{ $now.minus(1,'days').format('yyyy-MM-dd') }}","type":"string"},{"id":"0066e9ec-2b4f-485e-b5ff-c7fdd71846f4","name":"google_ads_id","value":"={{ $json.google_ads.replaceAll(/\\D/g,\"\") }}","type":"string"},{"id":"6fb62beb-430e-49a3-8745-22f5b9be3761","name":"groupID_whats","value":"={{ $json.groupID_whats }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3728,400],"id":"ca863b59-f216-479d-8302-a73200e84b5a","name":"GET DIAS"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_captura }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,304],"id":"96f5951b-a1de-41cf-8be7-ac4e733ef8a8","name":"META CAPTURA"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_distribuicao }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1264,496],"id":"70256628-a65f-4fa0-9f4c-260ffaaaeeec","name":"META DISTRIBUICAO"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_google }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1488,688],"id":"f8497886-9b86-4fa2-85a5-8dee2d95f624","name":"GOOGLE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eb15309e-5480-454c-85f3-416e2322237c","leftValue":"={{ $('Schedule Trigger').item.json['Day of week'] }}","rightValue":"Friday","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1488,496],"id":"94505a9b-9784-4feb-862d-1cf4c6e75cad","name":"Sexta"},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem_meta_captura }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-4176,-304],"id":"886bceb2-ca34-4484-a512-8fd8f5ef10cd","name":"META CAPTURA1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eb15309e-5480-454c-85f3-416e2322237c","leftValue":"={{ $('Schedule Trigger').item.json['Day of week'] }}","rightValue":"Friday","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-1488,112],"id":"12d7fda6-5593-4b0f-875e-5e6f7b2fefda","name":"Sexta1"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/comment/{{ $('Create a comment11').item.json.id }}/reply","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_text","value":"={{ $('Lilian Mensagem Final').item.json.mensagem_meta_distribuicao }}"},{"name":"notify_all","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-592,-80],"id":"5a6e11a9-938d-4d4d-a68c-6bb422109688","name":"Meta Ads - Lilian1","credentials":{"clickUpApi":{"id":"BUhM2c9H60FBNsww","name":"ClickUp Convertix API"}}},{"parameters":{"workflowId":{"__rl":true,"value":"eHGOdT3XX45MDRap","mode":"list","cachedResultUrl":"/workflow/eHGOdT3XX45MDRap","cachedResultName":"[EVO] [GATEWAY] 01 GUARDA Mensagem ctxoperacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mencao_todos":false,"preview_link":false,"delay":0,"prioridade":0,"whatsapp":"={{ $json.groupID_whats }}","mensagem":"={{ $json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"delay","displayName":"delay","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"responder_mensagem","displayName":"responder_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mencao_todos","displayName":"mencao_todos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"mencao_whatsapp","displayName":"mencao_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"preview_link","displayName":"preview_link","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"prioridade","displayName":"prioridade","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"agendar_para","displayName":"agendar_para","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1264,112],"id":"e8b81a00-b99b-4259-ae34-1614b4d9af44","name":"RESUMO SEMANAL"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s)1","type":"main","index":0}]]},"Mensagem7":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Monta Mensagem5":{"main":[[{"node":"Mensagem7","type":"main","index":0}]]},"GET LF":{"main":[[{"node":"Monta Mensagem5","type":"main","index":0}]]},"Google Ads: Campaign4":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"start end 2":{"main":[[{"node":"Google Ads: Campaign8","type":"main","index":0},{"node":"Google Ads: Campaign5","type":"main","index":0},{"node":"Google Ads: Campaign4","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Google Ads: Campaign5":{"main":[[{"node":"Filter5","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Mensagem13","type":"main","index":0}]]},"Mensagem13":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Create a comment11":{"main":[[{"node":"Feedback - Lilian","type":"main","index":0}]]},"LILIAN":{"main":[[{"node":"start end 2","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Lilian Mensagem Final","type":"main","index":0}]]},"Google Ads: Campaign8":{"main":[[{"node":"costmicros","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"GET LF","type":"main","index":0}]]},"Lilian Mensagem Final":{"main":[[{"node":"META CAPTURA","type":"main","index":0},{"node":"Sexta","type":"main","index":0},{"node":"GOOGLE","type":"main","index":0},{"node":"Sexta1","type":"main","index":0}]]},"Meta Ads - Lilian":{"main":[[{"node":"Meta Ads - Lilian1","type":"main","index":0}]]},"Google Ads - Lilian":{"main":[[{"node":"Me conta - Lilian","type":"main","index":0}]]},"Feedback - Lilian":{"main":[[{"node":"Meta Ads - Lilian","type":"main","index":0}]]},"costmicros":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get row(s)1":{"main":[[{"node":"GET DIAS","type":"main","index":0}]]},"GET DIAS":{"main":[[{"node":"LILIAN","type":"main","index":0}]]},"Sexta":{"main":[[{"node":"META DISTRIBUICAO","type":"main","index":0}]]},"Sexta1":{"main":[[{"node":"RESUMO SEMANAL","type":"main","index":0},{"node":"Create a comment11","type":"main","index":0}]]},"Meta Ads - Lilian1":{"main":[[{"node":"Google Ads - Lilian","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 31b2ebd0","description":"","autosaved":true},"tags":[]}