workflows/HK78wPfwrBA5N7tK.json
{"updatedAt":"2026-04-05T05:01:33.140Z","createdAt":"2026-01-06T04:13:41.487Z","id":"HK78wPfwrBA5N7tK","name":"[CTX] [EVOLUTION] ctxoperacao","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9f3a8fc8-83af-4c99-ac70-e376bf463877","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"0cb1f318-2acc-480f-a865-1be35207b762","name":"senderName","value":"={{ $json.body.data.pushName.substring(0,100) }}","type":"string"},{"id":"8cbd6c14-00fe-4d1c-a1bd-9883931df40f","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"57fbd48d-5cab-489f-a9f7-a85f1418b064","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"00337a58-35fb-41b4-b5cd-580ca8524f1c","name":"participant","value":"={{ $json.body.data.key.participant }}","type":"string"},{"id":"ee26ea70-4f40-4498-ad09-ac5800137b69","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"1b4ee2d6-9145-49b2-9024-be5c6de8c0e5","name":"datetime","value":"={{ $json.body.date_time.toDateTime().format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"e10f54dc-1705-40f1-8463-4166049eb2f1","name":"date","value":"={{ $json.body.date_time.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"12026bb9-389a-49c4-8572-f8fec21e6715","name":"body","value":"={{ $json.body.data.removeField(\"message\").removeField(\"contextInfo\").toJsonString() }},{{ $json.body.removeField(\"data\").toJsonString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,256],"id":"0d66a3e7-d0d1-4ce7-a806-849dc48f2599","name":"Monta fields"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,304],"id":"528100d9-7afa-46b9-afd8-1a5af8f35061","name":"When Executed by Another Workflow"},{"parameters":{"httpMethod":"POST","path":"ctxoperacoes-whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-448,16],"id":"dd379954-0b7b-49de-8ce6-392fdc01a9d6","name":"ctxoperacoes-whatsapp","webhookId":"14f1c574-2773-4ff2-bc77-2a78f69ab68a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"=tarefa","operator":{"type":"string","operation":"regex"},"id":"a04ca29f-25e9-4606-9b71-82607de1fde0"}],"combinator":"and"},"renameOutput":true,"outputKey":"=tarefa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"54a47375-9fdc-44ec-a42e-fc8107afee9d","leftValue":"={{ $json.comando }}","rightValue":"=conteudo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=conteudo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7251a767-d722-4d53-874a-66f25ff6f762","leftValue":"={{ $json.comando }}","rightValue":"=vitoria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=vitoria"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,32],"id":"ac679d39-5e1f-482d-b888-601152c65204","name":"Switch"},{"parameters":{"jsCode":"const input = $json;\nconst body = input.body || {};\nconst text = body?.data?.message?.conversation || '';\n\n// Lista de números permitidos\nconst allowedNumbers = [\"551151925291\", \"153455591211008\"];\n\n// Regex: @numero + espaços + comando\nconst match = text.match(/^@(\\d+)\\s+(\\S+)/);\n\n// Função pra remover acento\nfunction normalize(str) {\n  return (str || '')\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n}\n\nconst numero = match ? match[1] : null;\nconst comandoRaw = match ? match[2] : null;\nconst comando = comandoRaw ? normalize(comandoRaw) : null;\n\n// Verificação\nconst permitido = numero ? allowedNumbers.includes(numero) : false;\n\n// 🔥 EXTRAÇÃO DE DATA\nfunction extrairData(texto) {\n  const regex = /(?:dia\\s*)?(\\d{1,2})[\\/\\-.](\\d{1,2})/i;\n  const match = texto.match(regex);\n\n  if (!match) return null;\n\n  let dia = match[1].padStart(2, '0');\n  let mes = match[2].padStart(2, '0');\n\n  const ano = new Date().getFullYear();\n\n  return `${ano}-${mes}-${dia}`; // YYYY-MM-DD\n}\n\nconst data = extrairData(text);\n\n// Nome da tarefa\nconst nome_tarefa = `${\n  text\n    .split(\"\\n\")[0]\n    .replace(/^@\\d+\\s+\\S+\\s*/i, '')\n    .trim()\n}`;\n\n// Descrição da tarefa\nconst descricao_tarefa = `### Mensagem tarefa\n${text}\n\n### Mensagem citada\n${body?.data?.contextInfo?.quotedMessage?.conversation || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.audioMessage?.url || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.imageMessage?.caption || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.videoMessage?.caption || \"\"}`.trim();\n\n// stanzaId\nconst stanzaId = body?.data?.contextInfo?.stanzaId || null;\n\nreturn [\n  {\n    json: {\n      numero,\n      comando,\n      comando_raw: comandoRaw,\n      permitido,\n      nome_tarefa,\n      descricao_tarefa,\n      data,\n      stanzaId,\n      body: {\n        ...body\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,64],"id":"9837dfbf-ee4c-49bf-a162-292e6e2045b4","name":"Verifica marcação"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3f6dd44f-004b-41cf-9b0f-02614329cc2c","leftValue":"={{ $json.permitido }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[0,64],"id":"20ae56b7-a122-42ae-8273-42c2856c17b0","name":"Marcou Convertix"},{"parameters":{"workflowId":{"__rl":true,"value":"dHebCHfx8E9MpbIR","mode":"list","cachedResultUrl":"/workflow/dHebCHfx8E9MpbIR","cachedResultName":"[FIO] [CONTEUDO] Gera VITORIA no Clickup"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","numero":"={{ $json.numero }}","comando":"={{ $json.comando }}","comando_raw":"={{ $json.comando_raw }}","permitido":"={{ $json.permitido }}","nome_tarefa":"={{ $json.nome_tarefa }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","data":"={{ $json.data }}","stanzaId":"={{ $json.stanzaId }}"},"matchingColumns":["body"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,160],"name":"VITORIA","id":"e96d59d1-c2bb-4535-b34d-530c9e61731e"},{"parameters":{"workflowId":{"__rl":true,"value":"WKRsvpiRmtiweEkd","mode":"list","cachedResultUrl":"/workflow/WKRsvpiRmtiweEkd","cachedResultName":"[FIO] [CONTEUDO] Gera Tarefa no Clickup"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","comando":"={{ $json.comando }}","numero":"={{ $json.numero }}","comando_raw":"={{ $json.comando_raw }}","stanzaId":"={{ $json.stanzaId }}","data":"={{ $json.data }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","nome_tarefa":"={{ $json.nome_tarefa }}","permitido":"={{ $json.permitido }}"},"matchingColumns":["body_data_contextInfo_quotedMessage_audioMessage","body_data_contextInfo_quotedMessage","body_data_message_conversation_split","body_data_message_conversation","body"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,-32],"name":"CONTEUDO","id":"24e6e142-d9c0-4f6f-bc4d-dcb94016aab1"},{"parameters":{"workflowId":{"__rl":true,"value":"WOC5iMtb3up3dMwt","mode":"list","cachedResultUrl":"/workflow/WOC5iMtb3up3dMwt","cachedResultName":"[CTX] [TAREFA] Pedido de tarefa de cliente no grupo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","stanzaId":"={{ $json.stanzaId }}","data":"={{ $json.data }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","nome_tarefa":"={{ $json.nome_tarefa }}","permitido":"={{ $json.permitido }}","comando_raw":"={{ $json.comando_raw }}","comando":"={{ $json.comando }}","numero":"={{ $json.numero }}"},"matchingColumns":["body_data_key_remoteJid","body_data_message_conversation_split","body_data_contextInfo_quotedMessage_conversation","body_data_message_conversation"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,-224],"name":"TAREFA","id":"d6549b31-504c-4847-8395-3c82729e85fa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,352],"id":"f23a57f1-bf49-4fde-a76d-6ee0136c9f82","name":"No Operation, do nothing"}],"connections":{"Monta fields":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Monta fields","type":"main","index":0},{"node":"Verifica marcação","type":"main","index":0}]]},"ctxoperacoes-whatsapp":{"main":[[{"node":"Monta fields","type":"main","index":0},{"node":"Verifica marcação","type":"main","index":0}]]},"Verifica marcação":{"main":[[{"node":"Marcou Convertix","type":"main","index":0}]]},"Marcou Convertix":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"TAREFA","type":"main","index":0}],[{"node":"CONTEUDO","type":"main","index":0}],[{"node":"VITORIA","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"6d50f07e-ff60-4b4d-8222-511342cf1e6f","activeVersionId":"6d50f07e-ff60-4b4d-8222-511342cf1e6f","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:41.487Z","createdAt":"2026-01-06T04:13:41.487Z","role":"workflow:owner","workflowId":"HK78wPfwrBA5N7tK","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-05T05:01:35.303Z","createdAt":"2026-04-05T05:01:33.142Z","versionId":"6d50f07e-ff60-4b4d-8222-511342cf1e6f","workflowId":"HK78wPfwrBA5N7tK","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"9f3a8fc8-83af-4c99-ac70-e376bf463877","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"0cb1f318-2acc-480f-a865-1be35207b762","name":"senderName","value":"={{ $json.body.data.pushName.substring(0,100) }}","type":"string"},{"id":"8cbd6c14-00fe-4d1c-a1bd-9883931df40f","name":"status","value":"={{ $json.body.data.status }}","type":"string"},{"id":"57fbd48d-5cab-489f-a9f7-a85f1418b064","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"00337a58-35fb-41b4-b5cd-580ca8524f1c","name":"participant","value":"={{ $json.body.data.key.participant }}","type":"string"},{"id":"ee26ea70-4f40-4498-ad09-ac5800137b69","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"1b4ee2d6-9145-49b2-9024-be5c6de8c0e5","name":"datetime","value":"={{ $json.body.date_time.toDateTime().format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"e10f54dc-1705-40f1-8463-4166049eb2f1","name":"date","value":"={{ $json.body.date_time.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"12026bb9-389a-49c4-8572-f8fec21e6715","name":"body","value":"={{ $json.body.data.removeField(\"message\").removeField(\"contextInfo\").toJsonString() }},{{ $json.body.removeField(\"data\").toJsonString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,256],"id":"0d66a3e7-d0d1-4ce7-a806-849dc48f2599","name":"Monta fields"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,304],"id":"528100d9-7afa-46b9-afd8-1a5af8f35061","name":"When Executed by Another Workflow"},{"parameters":{"httpMethod":"POST","path":"ctxoperacoes-whatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-448,16],"id":"dd379954-0b7b-49de-8ce6-392fdc01a9d6","name":"ctxoperacoes-whatsapp","webhookId":"14f1c574-2773-4ff2-bc77-2a78f69ab68a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"=tarefa","operator":{"type":"string","operation":"regex"},"id":"a04ca29f-25e9-4606-9b71-82607de1fde0"}],"combinator":"and"},"renameOutput":true,"outputKey":"=tarefa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"54a47375-9fdc-44ec-a42e-fc8107afee9d","leftValue":"={{ $json.comando }}","rightValue":"=conteudo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=conteudo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7251a767-d722-4d53-874a-66f25ff6f762","leftValue":"={{ $json.comando }}","rightValue":"=vitoria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=vitoria"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,32],"id":"ac679d39-5e1f-482d-b888-601152c65204","name":"Switch"},{"parameters":{"jsCode":"const input = $json;\nconst body = input.body || {};\nconst text = body?.data?.message?.conversation || '';\n\n// Lista de números permitidos\nconst allowedNumbers = [\"551151925291\", \"153455591211008\"];\n\n// Regex: @numero + espaços + comando\nconst match = text.match(/^@(\\d+)\\s+(\\S+)/);\n\n// Função pra remover acento\nfunction normalize(str) {\n  return (str || '')\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase();\n}\n\nconst numero = match ? match[1] : null;\nconst comandoRaw = match ? match[2] : null;\nconst comando = comandoRaw ? normalize(comandoRaw) : null;\n\n// Verificação\nconst permitido = numero ? allowedNumbers.includes(numero) : false;\n\n// 🔥 EXTRAÇÃO DE DATA\nfunction extrairData(texto) {\n  const regex = /(?:dia\\s*)?(\\d{1,2})[\\/\\-.](\\d{1,2})/i;\n  const match = texto.match(regex);\n\n  if (!match) return null;\n\n  let dia = match[1].padStart(2, '0');\n  let mes = match[2].padStart(2, '0');\n\n  const ano = new Date().getFullYear();\n\n  return `${ano}-${mes}-${dia}`; // YYYY-MM-DD\n}\n\nconst data = extrairData(text);\n\n// Nome da tarefa\nconst nome_tarefa = `${\n  text\n    .split(\"\\n\")[0]\n    .replace(/^@\\d+\\s+\\S+\\s*/i, '')\n    .trim()\n}`;\n\n// Descrição da tarefa\nconst descricao_tarefa = `### Mensagem tarefa\n${text}\n\n### Mensagem citada\n${body?.data?.contextInfo?.quotedMessage?.conversation || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.audioMessage?.url || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.imageMessage?.caption || \"\"}\n${body?.data?.contextInfo?.quotedMessage?.videoMessage?.caption || \"\"}`.trim();\n\n// stanzaId\nconst stanzaId = body?.data?.contextInfo?.stanzaId || null;\n\nreturn [\n  {\n    json: {\n      numero,\n      comando,\n      comando_raw: comandoRaw,\n      permitido,\n      nome_tarefa,\n      descricao_tarefa,\n      data,\n      stanzaId,\n      body: {\n        ...body\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,64],"id":"9837dfbf-ee4c-49bf-a162-292e6e2045b4","name":"Verifica marcação"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3f6dd44f-004b-41cf-9b0f-02614329cc2c","leftValue":"={{ $json.permitido }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[0,64],"id":"20ae56b7-a122-42ae-8273-42c2856c17b0","name":"Marcou Convertix"},{"parameters":{"workflowId":{"__rl":true,"value":"dHebCHfx8E9MpbIR","mode":"list","cachedResultUrl":"/workflow/dHebCHfx8E9MpbIR","cachedResultName":"[FIO] [CONTEUDO] Gera VITORIA no Clickup"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","numero":"={{ $json.numero }}","comando":"={{ $json.comando }}","comando_raw":"={{ $json.comando_raw }}","permitido":"={{ $json.permitido }}","nome_tarefa":"={{ $json.nome_tarefa }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","data":"={{ $json.data }}","stanzaId":"={{ $json.stanzaId }}"},"matchingColumns":["body"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,160],"name":"VITORIA","id":"e96d59d1-c2bb-4535-b34d-530c9e61731e"},{"parameters":{"workflowId":{"__rl":true,"value":"WKRsvpiRmtiweEkd","mode":"list","cachedResultUrl":"/workflow/WKRsvpiRmtiweEkd","cachedResultName":"[FIO] [CONTEUDO] Gera Tarefa no Clickup"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","comando":"={{ $json.comando }}","numero":"={{ $json.numero }}","comando_raw":"={{ $json.comando_raw }}","stanzaId":"={{ $json.stanzaId }}","data":"={{ $json.data }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","nome_tarefa":"={{ $json.nome_tarefa }}","permitido":"={{ $json.permitido }}"},"matchingColumns":["body_data_contextInfo_quotedMessage_audioMessage","body_data_contextInfo_quotedMessage","body_data_message_conversation_split","body_data_message_conversation","body"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,-32],"name":"CONTEUDO","id":"24e6e142-d9c0-4f6f-bc4d-dcb94016aab1"},{"parameters":{"workflowId":{"__rl":true,"value":"WOC5iMtb3up3dMwt","mode":"list","cachedResultUrl":"/workflow/WOC5iMtb3up3dMwt","cachedResultName":"[CTX] [TAREFA] Pedido de tarefa de cliente no grupo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body":"={{ $json.body }}","stanzaId":"={{ $json.stanzaId }}","data":"={{ $json.data }}","descricao_tarefa":"={{ $json.descricao_tarefa }}","nome_tarefa":"={{ $json.nome_tarefa }}","permitido":"={{ $json.permitido }}","comando_raw":"={{ $json.comando_raw }}","comando":"={{ $json.comando }}","numero":"={{ $json.numero }}"},"matchingColumns":["body_data_key_remoteJid","body_data_message_conversation_split","body_data_contextInfo_quotedMessage_conversation","body_data_message_conversation"],"schema":[{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"numero","displayName":"numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando","displayName":"comando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"comando_raw","displayName":"comando_raw","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"permitido","displayName":"permitido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"nome_tarefa","displayName":"nome_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"descricao_tarefa","displayName":"descricao_tarefa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"stanzaId","displayName":"stanzaId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,-224],"name":"TAREFA","id":"d6549b31-504c-4847-8395-3c82729e85fa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,352],"id":"f23a57f1-bf49-4fde-a76d-6ee0136c9f82","name":"No Operation, do nothing"}],"connections":{"Monta fields":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Monta fields","type":"main","index":0},{"node":"Verifica marcação","type":"main","index":0}]]},"ctxoperacoes-whatsapp":{"main":[[{"node":"Monta fields","type":"main","index":0},{"node":"Verifica marcação","type":"main","index":0}]]},"Verifica marcação":{"main":[[{"node":"Marcou Convertix","type":"main","index":0}]]},"Marcou Convertix":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"TAREFA","type":"main","index":0}],[{"node":"CONTEUDO","type":"main","index":0}],[{"node":"VITORIA","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 6d50f07e","description":"","autosaved":true},"tags":[]}