workflows/iVyPMKfP0FtHfQ0E.json
{"updatedAt":"2026-01-07T12:53:26.402Z","createdAt":"2026-01-06T04:13:40.534Z","id":"iVyPMKfP0FtHfQ0E","name":"[N8N] [BACKUP] insights_metadata (v1.0)","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"insights_metadata","mode":"list","cachedResultName":"insights_metadata"},"returnAll":true,"sort":{"values":[{"column":"metaId","direction":"DESC"}]},"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-144],"id":"e1031970-a3ad-4aa8-a44e-99a54ec52751","name":"N8N: insights_metadata","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"insights_metadata","mode":"list","cachedResultName":"insights_metadata"},"dataMode":"defineBelow","columnToMatchOn":"metaId","valueToMatchOn":"={{ $json.metaId }}","valuesToSend":{"values":[{"column":"workflowId","value":"={{ $json.workflowId }}"},{"column":"projectId","value":"={{ $json.projectId }}"},{"column":"workflowName","value":"={{ $json.workflowName }}"},{"column":"projectName","value":"={{ $json.projectName }}"}]},"options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[336,-144],"id":"07286d8c-7e1b-411a-8807-67e6683f92a5","name":"MySQL: insights_metadata","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6,"triggerAtMinute":10}]}},"id":"1d12e3fd-7c95-4f9e-b79f-24ee7d7259bf","name":"Cron 1h","type":"n8n-nodes-base.scheduleTrigger","position":[-176,-144],"typeVersion":1.2}],"connections":{"N8N: insights_metadata":{"main":[[{"node":"MySQL: insights_metadata","type":"main","index":0}]]},"Cron 1h":{"main":[[{"node":"N8N: insights_metadata","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]},"node:Cron 1h":{"recurrenceRules":[6]},"node:Cron 1h1":{"recurrenceRules":[12]}},"meta":null,"versionId":"84eb6dad-6f33-4354-93e6-1eee76ab9e48","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:40.534Z","createdAt":"2026-01-06T04:13:40.534Z","role":"workflow:owner","workflowId":"iVyPMKfP0FtHfQ0E","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}