workflows/JqvW3KS8nMoA7yEr.json
{"updatedAt":"2026-04-03T21:38:56.288Z","createdAt":"2026-01-06T04:13:41.515Z","id":"JqvW3KS8nMoA7yEr","name":"[N8N] [BACKUP] Executions Errors","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{"activeWorkflows":false},"requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[848,672],"id":"8bb11135-fb88-42f1-a871-874c25bb1e7c","name":"Get an execution","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1744,720],"id":"fae03199-0ecf-4d5d-86f3-c2e7a9dde1b5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a1f2a848-07c9-4165-ae88-6366635dc16d","leftValue":"={{ $json.executionId || $json.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"ea9804b8-3db6-4222-9596-d791eeeef468","leftValue":"={{ $json.executionId || $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8a83eb63-4318-490e-9ac2-1051c5d4759e","leftValue":"={{ $json.executionId || $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,592],"id":"c0322f02-2d17-41e7-9daf-49f95ca78afa","name":"If: exists1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO `n8n_convertix`.`n8n_executions`(`id`, `status`, `finished`, `mode`, `retryOf`, `retrySuccessId`, `createdAt`, `startedAt`, `stoppedAt`, `workflowId`, `waitTill` ) VALUES (\n  {{ $json?.id }},\n    '{{ $('Loop Over Items').item.json.status }}', \n    '{{ $('Loop Over Items').item.json?.finished }}', \n    '{{ $('Loop Over Items').item.json?.mode }}', \n    {{ $json?.retryOf || null }}, \n    {{ $json?.retrySuccessId  || null }}, \n    '{{ $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') \n    || $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') || $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.stoppedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}',\n\n    '{{ $('Loop Over Items').item.json?.workflowId }}', \n\n{{ $('Loop Over Items').item.json?.waitTill?\"'\"+$('Loop Over Items').item.json?.waitTill+\"'\":null }}\n)\nON DUPLICATE KEY UPDATE\n    `status` = VALUES(`status`),\n    `finished` = VALUES(`finished`),\n    `mode` = VALUES(`mode`),\n    `retryOf` = VALUES(`retryOf`),\n    `retrySuccessId` = VALUES(`retrySuccessId`),\n    `createdAt` = VALUES(`createdAt`),\n    `startedAt` = VALUES(`startedAt`),\n    `stoppedAt` = VALUES(`stoppedAt`),\n    `workflowId` = VALUES(`workflowId`),\n    `waitTill` = VALUES(`waitTill`);","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1296,528],"id":"6a951a32-03a2-4a45-a3a2-7d095dd0dc81","name":"Execute a SQL query2","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO `n8n_convertix`.`n8n_executions`(`id`, `status`, `finished`, `mode`, `retryOf`, `retrySuccessId`, `createdAt`, `startedAt`, `stoppedAt`, `workflowId`, `workflowName`, `waitTill`) VALUES (\n  {{ $('If: exists1').item.json?.id }},\n    '{{ $('Loop Over Items').item.json.status }}', \n    '{{ $('Loop Over Items').item.json?.finished }}', \n    '{{ $('Loop Over Items').item.json?.mode }}', \n    {{ $('If: exists1').item.json?.retryOf || null }}, \n    {{ $('If: exists1').item.json?.retrySuccessId  || null }}, \n    '{{ $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') \n    || $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') || $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.stoppedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}',\n\n    '{{ $('Loop Over Items').item.json?.workflowId }}', \n    '{{ $('If: exists').item.json?.workflowData?.name }}',\n\n{{ $('Loop Over Items').item.json?.waitTill?\"'\"+$('Loop Over Items').item.json?.waitTill+\"'\":null }}\n)\nON DUPLICATE KEY UPDATE\n    `status` = VALUES(`status`),\n    `finished` = VALUES(`finished`),\n    `mode` = VALUES(`mode`),\n    `retryOf` = VALUES(`retryOf`),\n    `retrySuccessId` = VALUES(`retrySuccessId`),\n    `createdAt` = VALUES(`createdAt`),\n    `startedAt` = VALUES(`startedAt`),\n    `stoppedAt` = VALUES(`stoppedAt`),\n    `workflowId` = VALUES(`workflowId`),\n    `workflowName` = VALUES(`workflowName`),\n    `waitTill` = VALUES(`waitTill`);","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1520,448],"id":"8986b0cc-db2b-4e3e-a6a2-173b890dc80f","name":"Execute a SQL query3","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[176,736],"id":"bd24a42f-3711-4308-a1fc-1de2629ae83d","name":"Cron 1h1"},{"parameters":{"resource":"execution","returnAll":true,"filters":{"status":"error"},"options":{"activeWorkflows":false},"requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[400,736],"id":"ecf9094f-13a6-40e2-8132-2e785f3b9d08","name":"Get many executions","credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}}},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,736],"id":"4ea45b56-bdef-4c2f-87a2-c73c3b63f165","name":"Loop Over Items"}],"connections":{"Get an execution":{"main":[[{"node":"If: exists1","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: exists1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Cron 1h1":{"main":[[{"node":"Get many executions","type":"main","index":0}]]},"Get many executions":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get an execution","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron Day 2am":{"recurrenceRules":[]},"node:Cron 1min":{"recurrenceRules":[]},"node:Cron":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Cron 2am":{"recurrenceRules":[]},"node:Cron 1h13":{"recurrenceRules":[18]},"node:Cron 20m":{"recurrenceRules":[]},"node:Cron 5m":{"recurrenceRules":[]},"node:Cron 5m1":{"recurrenceRules":[]},"node:Cron 15m":{"recurrenceRules":[]},"node:Cron 15m1":{"recurrenceRules":[]},"node:Cron 1h":{"recurrenceRules":[]},"node:Cron 70m":{"recurrenceRules":[]},"node:Cron 1h1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"ffc72b86-35a0-4c50-b444-79d1267fefbe","activeVersionId":"e7515e88-5dd1-4ceb-b652-c5a821876fda","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:41.515Z","createdAt":"2026-01-06T04:13:41.515Z","role":"workflow:owner","workflowId":"JqvW3KS8nMoA7yEr","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-03T21:38:42.706Z","createdAt":"2026-04-03T21:38:41.742Z","versionId":"e7515e88-5dd1-4ceb-b652-c5a821876fda","workflowId":"JqvW3KS8nMoA7yEr","nodes":[{"parameters":{"resource":"execution","operation":"get","executionId":"={{ $json.id }}","options":{"activeWorkflows":false},"requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[848,672],"id":"8bb11135-fb88-42f1-a871-874c25bb1e7c","name":"Get an execution","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1744,720],"id":"fae03199-0ecf-4d5d-86f3-c2e7a9dde1b5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a1f2a848-07c9-4165-ae88-6366635dc16d","leftValue":"={{ $json.executionId || $json.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"ea9804b8-3db6-4222-9596-d791eeeef468","leftValue":"={{ $json.executionId || $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"8a83eb63-4318-490e-9ac2-1051c5d4759e","leftValue":"={{ $json.executionId || $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,592],"id":"c0322f02-2d17-41e7-9daf-49f95ca78afa","name":"If: exists1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO `n8n_convertix`.`n8n_executions`(`id`, `status`, `finished`, `mode`, `retryOf`, `retrySuccessId`, `createdAt`, `startedAt`, `stoppedAt`, `workflowId`, `waitTill` ) VALUES (\n  {{ $json?.id }},\n    '{{ $('Loop Over Items').item.json.status }}', \n    '{{ $('Loop Over Items').item.json?.finished }}', \n    '{{ $('Loop Over Items').item.json?.mode }}', \n    {{ $json?.retryOf || null }}, \n    {{ $json?.retrySuccessId  || null }}, \n    '{{ $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') \n    || $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') || $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.stoppedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}',\n\n    '{{ $('Loop Over Items').item.json?.workflowId }}', \n\n{{ $('Loop Over Items').item.json?.waitTill?\"'\"+$('Loop Over Items').item.json?.waitTill+\"'\":null }}\n)\nON DUPLICATE KEY UPDATE\n    `status` = VALUES(`status`),\n    `finished` = VALUES(`finished`),\n    `mode` = VALUES(`mode`),\n    `retryOf` = VALUES(`retryOf`),\n    `retrySuccessId` = VALUES(`retrySuccessId`),\n    `createdAt` = VALUES(`createdAt`),\n    `startedAt` = VALUES(`startedAt`),\n    `stoppedAt` = VALUES(`stoppedAt`),\n    `workflowId` = VALUES(`workflowId`),\n    `waitTill` = VALUES(`waitTill`);","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1296,528],"id":"6a951a32-03a2-4a45-a3a2-7d095dd0dc81","name":"Execute a SQL query2","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO `n8n_convertix`.`n8n_executions`(`id`, `status`, `finished`, `mode`, `retryOf`, `retrySuccessId`, `createdAt`, `startedAt`, `stoppedAt`, `workflowId`, `workflowName`, `waitTill`) VALUES (\n  {{ $('If: exists1').item.json?.id }},\n    '{{ $('Loop Over Items').item.json.status }}', \n    '{{ $('Loop Over Items').item.json?.finished }}', \n    '{{ $('Loop Over Items').item.json?.mode }}', \n    {{ $('If: exists1').item.json?.retryOf || null }}, \n    {{ $('If: exists1').item.json?.retrySuccessId  || null }}, \n    '{{ $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') \n    || $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.startedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') || $('Loop Over Items').item.json.createdAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}', \n\n    '{{ $('Loop Over Items').item.json.stoppedAt?.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}',\n\n    '{{ $('Loop Over Items').item.json?.workflowId }}', \n    '{{ $('If: exists').item.json?.workflowData?.name }}',\n\n{{ $('Loop Over Items').item.json?.waitTill?\"'\"+$('Loop Over Items').item.json?.waitTill+\"'\":null }}\n)\nON DUPLICATE KEY UPDATE\n    `status` = VALUES(`status`),\n    `finished` = VALUES(`finished`),\n    `mode` = VALUES(`mode`),\n    `retryOf` = VALUES(`retryOf`),\n    `retrySuccessId` = VALUES(`retrySuccessId`),\n    `createdAt` = VALUES(`createdAt`),\n    `startedAt` = VALUES(`startedAt`),\n    `stoppedAt` = VALUES(`stoppedAt`),\n    `workflowId` = VALUES(`workflowId`),\n    `workflowName` = VALUES(`workflowName`),\n    `waitTill` = VALUES(`waitTill`);","options":{"connectionTimeoutMillis":300,"connectionLimit":20,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1520,448],"id":"8986b0cc-db2b-4e3e-a6a2-173b890dc80f","name":"Execute a SQL query3","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[176,736],"id":"bd24a42f-3711-4308-a1fc-1de2629ae83d","name":"Cron 1h1"},{"parameters":{"resource":"execution","returnAll":true,"filters":{"status":"error"},"options":{"activeWorkflows":false},"requestOptions":{"batching":{"batch":{}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[400,736],"id":"ecf9094f-13a6-40e2-8132-2e785f3b9d08","name":"Get many executions","credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,736],"id":"4ea45b56-bdef-4c2f-87a2-c73c3b63f165","name":"Loop Over Items"}],"connections":{"Get an execution":{"main":[[{"node":"If: exists1","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: exists1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Execute a SQL query3","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Cron 1h1":{"main":[[{"node":"Get many executions","type":"main","index":0}]]},"Get many executions":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get an execution","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version e7515e88","description":"","autosaved":false},"tags":[]}