workflows/LbNN2agRkbPCyZBE.json
{"updatedAt":"2026-01-27T15:55:35.914Z","createdAt":"2026-01-06T04:13:40.583Z","id":"LbNN2agRkbPCyZBE","name":"[FNT] [META] Pixel API B2C (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fbclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"14eb5fe4-9443-47e6-bf32-c007cacc5140"}],"combinator":"and"},"renameOutput":true,"outputKey":"Meta Ads"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ac7129d-420e-4bf6-ae10-9fda89171998","leftValue":"={{ $json.ttclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tiktok Ads"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2adae3d5-6e2b-4693-9b8d-89fd738c4133","leftValue":"={{ $json.gclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Ads"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,-192],"id":"aab9e2b7-8dd9-4ad9-89f2-4404811040af","name":"Switch"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.event }}/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"{{ $json.event }}\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"{{ $json.event }}..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $('fnt-pixelapi-b2c-887028426626853').item.json.body.Body.URL }}\",\n            \"referrer_url\": \"{{ $('fnt-pixelapi-b2c-887028426626853').item.json.body.Body.Referral_Source }}\",\n            \"opt_out\": false,\n          \"value\": 1,\n          \"currency\": \"BRL\",\n            \"user_data\": {\n                {{ ($json.pais == null ? '':'\"country\": [\"'+$json.pais.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.firstname == null ? '':'\"fn\": [\"'+$json.firstname.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.CPF == null ? '':'\"external_id\": [\"'+$json.CPF.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IP_do_usuario == null ? '':'\"client_ip_address\": \"'+$json.IP_do_usuario+'\",') || \"\" }}\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\",\"{{ $json.phone55.replaceAll('+','').toString().hash('sha256') }}\"]\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"8d18c885-38e1-462c-80f4-a74bc9734508","name":"FGTS Pixel B2C","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[672,-160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"Ol20qGzmP4jy7Zna","name":"Facebook Graph Token Usuário"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb4cadd1-d73a-44eb-b791-4af40f0ee0d5","name":"pixel","value":"887028426626853","type":"string"},{"id":"9340a50f-0d28-4666-8a33-5f7f1392a384","name":"event","value":"={{ $json.body.evento }}","type":"string"},{"id":"e64fb4ac-68e8-4275-be2e-1ea162758b81","name":"event_id","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().toSeconds().floor() }}_{{ $json.body.Body.Id_do_formulario }}","type":"string"},{"id":"dda747b0-6cf8-4817-95a8-b9cae234456a","name":"datetime","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}","type":"string"},{"id":"867b1b1a-5810-41cb-ab5b-0c96dd16794e","name":"datetime_unix","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().minus(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"7fb32f93-5884-4503-82d5-fd0f884910e3","name":"campaign_id","value":"={{ $json.body.Body.URL.match(/[?&]campaign_id=([^&]*)/)[1] }}","type":"string"},{"id":"fdf29485-fafa-4b85-b181-3aac9c77ce5f","name":"adset_id","value":"={{ $json.body.Body.URL.match(/[?&]adset_id=([^&]*)/)[1] }}","type":"string"},{"id":"22ccb570-8cdf-4985-bb08-7ec2fadd363c","name":"ad_id","value":"={{ $json.body.Body.URL.match(/[?&]adset_id=([^&]*)/)[1] }}","type":"string"},{"id":"ab516b42-280f-4da6-aebf-9318dff55e49","name":"gclid","value":"={{ $json.body.Body.URL.match(/[?&]gclid=([^&]*)/)[1] }}","type":"string"},{"id":"c882bb58-f2b5-412b-bcba-bdf82e448195","name":"ttclid","value":"={{ $json.body.Body.URL.match(/[?&]ttclid=([^&]*)/)[1] }}","type":"string"},{"id":"059a0c4a-f1d2-4640-9e0b-493179b5583e","name":"fbclid","value":"={{ $json.body.Body.URL.match(/[?&]fbclid=([^&]*)/)[1] }}","type":"string"},{"id":"1cd1c1fd-c669-43f7-9a74-de45685e4349","name":"ga","value":"={{ $json.body.Body.URL.match(/[?&]ga=([^&]*)/)[1] }}","type":"string"},{"id":"6b93113a-aebc-4ce3-bde6-42b243ff2630","name":"IP_do_usuario","value":"={{ $json.body.Body.IP_do_usuario }}","type":"string"},{"id":"d7fad543-9c75-413b-9bf6-676c7ad387bb","name":"pais","value":"={{ $json.body.Body.Pais_do_usuario.toLowerCase() }}","type":"string"},{"id":"d9d8fc47-3f52-447a-8a86-72a7f1d7ed09","name":"estado","value":"={{ $json.body.Body.Regiao_do_usuario.toLowerCase() }}","type":"string"},{"id":"5a2cbff7-118c-4a13-9c92-cf84d0135284","name":"cidade","value":"={{ $json.body.Body.Cidade_do_usuario.toLowerCase() }}","type":"string"},{"id":"1065736e-9478-43da-8680-a7d68c263523","name":"firstname","value":"={{ $json.body.Body.Nome.split(\" \")[0].replaceSpecialChars().toLowerCase() }}","type":"string"},{"id":"d8837df2-accc-4bc0-bf52-17223e1b2ab3","name":"phone55","value":"=55{{ $json.body.Body.Telefone.replaceAll(/\\D/g,\"\") }}","type":"string"},{"id":"d8cec785-0d13-4f94-a90f-8b57c27adb60","name":"CPF","value":"={{ $json.body.Body.CPF.replaceAll(/\\D/g,\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-160],"id":"37598595-799c-428a-aac3-56767b978a93","name":"Campos usuário"},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-160],"id":"21fa57e6-af54-407b-8962-a249ddf7986e","name":"Gera fbp-fbc1","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"errorMessage":"RECEBIDO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[0,32],"id":"c31f2aa4-a906-4a5e-ac1f-9a051344d36a","name":"Stop and Error"},{"parameters":{"httpMethod":"POST","path":"fnt-pixelapi-b2c-887028426626853","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,-112],"id":"41eaa91c-d3b9-4fa1-a62c-b9bb2c7baa19","name":"fnt-pixelapi-b2c-887028426626853","webhookId":"86f6ec79-70a9-42b4-819b-18c862db3f71"}],"connections":{"Switch":{"main":[[{"node":"FGTS Pixel B2C","type":"main","index":0}]]},"Campos usuário":{"main":[[{"node":"Gera fbp-fbc1","type":"main","index":0}]]},"Gera fbp-fbc1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"fnt-pixelapi-b2c-887028426626853":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"Campos usuário","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"1251ddcf-de6c-44a2-a9be-2d974a2b5dc5","activeVersionId":"1251ddcf-de6c-44a2-a9be-2d974a2b5dc5","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:40.583Z","createdAt":"2026-01-06T04:13:40.583Z","role":"workflow:owner","workflowId":"LbNN2agRkbPCyZBE","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T05:35:29.301Z","createdAt":"2026-01-06T05:35:28.006Z","versionId":"1251ddcf-de6c-44a2-a9be-2d974a2b5dc5","workflowId":"LbNN2agRkbPCyZBE","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fbclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"14eb5fe4-9443-47e6-bf32-c007cacc5140"}],"combinator":"and"},"renameOutput":true,"outputKey":"Meta Ads"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ac7129d-420e-4bf6-ae10-9fda89171998","leftValue":"={{ $json.ttclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tiktok Ads"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2adae3d5-6e2b-4693-9b8d-89fd738c4133","leftValue":"={{ $json.gclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Ads"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,-192],"id":"aab9e2b7-8dd9-4ad9-89f2-4404811040af","name":"Switch"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.event }}/events","edge":"=","options":{"queryParametersJson":"={\n    \"data\": [\n        {\n            \"event_name\": \"{{ $json.event }}\",\n            \"event_time\": {{ $json.datetime_unix }},\n            \"action_source\": \"website\",\n            \"event_id\": \"{{ $json.event }}..{{ $json.event_id }}\",\n            \"event_source_url\": \"{{ $('fnt-pixelapi-b2c-887028426626853').item.json.body.Body.URL }}\",\n            \"referrer_url\": \"{{ $('fnt-pixelapi-b2c-887028426626853').item.json.body.Body.Referral_Source }}\",\n            \"opt_out\": false,\n          \"value\": 1,\n          \"currency\": \"BRL\",\n            \"user_data\": {\n                {{ ($json.pais == null ? '':'\"country\": [\"'+$json.pais.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.firstname == null ? '':'\"fn\": [\"'+$json.firstname.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.ln == null ? '':'\"ln\": [\"'+$json.ln.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.CPF == null ? '':'\"external_id\": [\"'+$json.CPF.hash('sha256')+'\"],') || \"\" }}\n                 {{ ($json.IP_do_usuario == null ? '':'\"client_ip_address\": \"'+$json.IP_do_usuario+'\",') || \"\" }}\n                 {{ ($json.user_agent == null ? '':'\"client_user_agent\": \"'+$json.user_agent+'\",') || \"\" }}\n                 {{ ($json.fbc == null ? '':'\"fbc\": \"'+$json.fbc+'\",') || \"\" }}\n                 {{ ($json.fbp == null ? '\"fbp\": '+'\"fb.1.' + Math.floor(new Date().getTime()) + '.' + Math.floor(Math.random() * 10000000000)+'\",':'\"fbp\": \"'+$json.fbp+'\",') || \"\" }}\n                 \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\",\"{{ $json.phone55.replaceAll('+','').toString().hash('sha256') }}\"]\n            },\n            \"attribution_data\": {\n                \"attribution_share\": \"1\",\n                 {{ ($json.ad_id == null ? '':'\"ad_id\": \"'+$json.ad_id+'\",') || \"\" }}\n                 {{ ($json.adset_id == null ? '':'\"adset_id\": \"'+$json.adset_id+'\",') || \"\" }}\n                 {{ ($json.campaign_id == null ? '':'\"campaign_id\": \"'+$json.campaign_id+'\",') || \"\" }}\n                \"attribution_model\": \"customized_multi_touch\",\n                \"visit_time\": {{ $now.toSeconds().floor() }}\n            }\n        }\n    ]\n}"}},"id":"8d18c885-38e1-462c-80f4-a74bc9734508","name":"FGTS Pixel B2C","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[672,-160],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"Ol20qGzmP4jy7Zna","name":"Facebook Graph Token Usuário"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb4cadd1-d73a-44eb-b791-4af40f0ee0d5","name":"pixel","value":"887028426626853","type":"string"},{"id":"9340a50f-0d28-4666-8a33-5f7f1392a384","name":"event","value":"={{ $json.body.evento }}","type":"string"},{"id":"e64fb4ac-68e8-4275-be2e-1ea162758b81","name":"event_id","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().toSeconds().floor() }}_{{ $json.body.Body.Id_do_formulario }}","type":"string"},{"id":"dda747b0-6cf8-4817-95a8-b9cae234456a","name":"datetime","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().minus(3,'hours').format('yyyy-MM-dd TT') }}","type":"string"},{"id":"867b1b1a-5810-41cb-ab5b-0c96dd16794e","name":"datetime_unix","value":"={{ $json.body.Body.Data_da_conversao.toDateTime().minus(3,'hours').toSeconds().floor() }}","type":"string"},{"id":"7fb32f93-5884-4503-82d5-fd0f884910e3","name":"campaign_id","value":"={{ $json.body.Body.URL.match(/[?&]campaign_id=([^&]*)/)[1] }}","type":"string"},{"id":"fdf29485-fafa-4b85-b181-3aac9c77ce5f","name":"adset_id","value":"={{ $json.body.Body.URL.match(/[?&]adset_id=([^&]*)/)[1] }}","type":"string"},{"id":"22ccb570-8cdf-4985-bb08-7ec2fadd363c","name":"ad_id","value":"={{ $json.body.Body.URL.match(/[?&]adset_id=([^&]*)/)[1] }}","type":"string"},{"id":"ab516b42-280f-4da6-aebf-9318dff55e49","name":"gclid","value":"={{ $json.body.Body.URL.match(/[?&]gclid=([^&]*)/)[1] }}","type":"string"},{"id":"c882bb58-f2b5-412b-bcba-bdf82e448195","name":"ttclid","value":"={{ $json.body.Body.URL.match(/[?&]ttclid=([^&]*)/)[1] }}","type":"string"},{"id":"059a0c4a-f1d2-4640-9e0b-493179b5583e","name":"fbclid","value":"={{ $json.body.Body.URL.match(/[?&]fbclid=([^&]*)/)[1] }}","type":"string"},{"id":"1cd1c1fd-c669-43f7-9a74-de45685e4349","name":"ga","value":"={{ $json.body.Body.URL.match(/[?&]ga=([^&]*)/)[1] }}","type":"string"},{"id":"6b93113a-aebc-4ce3-bde6-42b243ff2630","name":"IP_do_usuario","value":"={{ $json.body.Body.IP_do_usuario }}","type":"string"},{"id":"d7fad543-9c75-413b-9bf6-676c7ad387bb","name":"pais","value":"={{ $json.body.Body.Pais_do_usuario.toLowerCase() }}","type":"string"},{"id":"d9d8fc47-3f52-447a-8a86-72a7f1d7ed09","name":"estado","value":"={{ $json.body.Body.Regiao_do_usuario.toLowerCase() }}","type":"string"},{"id":"5a2cbff7-118c-4a13-9c92-cf84d0135284","name":"cidade","value":"={{ $json.body.Body.Cidade_do_usuario.toLowerCase() }}","type":"string"},{"id":"1065736e-9478-43da-8680-a7d68c263523","name":"firstname","value":"={{ $json.body.Body.Nome.split(\" \")[0].replaceSpecialChars().toLowerCase() }}","type":"string"},{"id":"d8837df2-accc-4bc0-bf52-17223e1b2ab3","name":"phone55","value":"=55{{ $json.body.Body.Telefone.replaceAll(/\\D/g,\"\") }}","type":"string"},{"id":"d8cec785-0d13-4f94-a90f-8b57c27adb60","name":"CPF","value":"={{ $json.body.Body.CPF.replaceAll(/\\D/g,\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-160],"id":"37598595-799c-428a-aac3-56767b978a93","name":"Campos usuário"},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.forEach(item => {\n  const b = item.json;\n  if (!b.datetime) return;\n\n  const ms = Date.parse(b.datetime);\n\n  if (!b.fbp) {\n    b.fbp = `fb.1.${ms}.${Math.floor(Math.random() * 1e10)}`;\n  }\n  if (b.fbclid && !b.fbc) {\n    b.fbc = `fb.1.${ms}.${b.fbclid}`;\n  }\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-160],"id":"21fa57e6-af54-407b-8962-a249ddf7986e","name":"Gera fbp-fbc1","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"errorMessage":"RECEBIDO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[0,32],"id":"c31f2aa4-a906-4a5e-ac1f-9a051344d36a","name":"Stop and Error"},{"parameters":{"httpMethod":"POST","path":"fnt-pixelapi-b2c-887028426626853","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,-112],"id":"41eaa91c-d3b9-4fa1-a62c-b9bb2c7baa19","name":"fnt-pixelapi-b2c-887028426626853","webhookId":"86f6ec79-70a9-42b4-819b-18c862db3f71"}],"connections":{"Switch":{"main":[[{"node":"FGTS Pixel B2C","type":"main","index":0}]]},"Campos usuário":{"main":[[{"node":"Gera fbp-fbc1","type":"main","index":0}]]},"Gera fbp-fbc1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"fnt-pixelapi-b2c-887028426626853":{"main":[[{"node":"Stop and Error","type":"main","index":0},{"node":"Campos usuário","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 1251ddcf","description":"","autosaved":false},"tags":[]}