workflows/M8XIY9ZCmOnZtnv6.json
{"updatedAt":"2026-05-06T15:59:30.251Z","createdAt":"2026-05-06T14:48:26.796Z","id":"M8XIY9ZCmOnZtnv6","name":"Pega números de grupos","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-112],"id":"da7a07e6-3553-4e12-89c9-150250747f9f","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"fiorellidigital2","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[224,-112],"id":"5d1ac070-73ee-4212-895b-c24c28775672","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,-112],"id":"bea47955-e836-4e17-8035-77a7c82b9c8b","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0e761db5-9700-4b1f-a68b-9a5f8f43a1e1","leftValue":"={{ $json.subject.toLowerCase() }}","rightValue":"(viral|acso)","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,-112],"id":"f4a6ccdc-ebe4-4084-9f02-1167f233d8fb","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"fd570a56-df52-45b0-9988-5871d77942a7","name":"subject","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-40],"id":"35340781-8755-457d-b39f-d0fc98244d64","name":"Edit Fields"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"fiorellidigital2","groupJid":"={{ $json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1120,-208],"id":"c4fc3560-7259-4d9d-9466-57f85d476db7","name":"Encontrar participantes do grupo","credentials":{"evolutionApi":{"id":"ljdjiKO9JeV2Tkuo","name":"EVO fiorellidigital2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,-232],"id":"550907ae-054f-4566-bc87-d8496d7d4fd1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1344,-184],"id":"0f9090ef-4240-403f-b766-94c97799e5d3","placeholder":true},{"parameters":{"fieldToSplitOut":"data.participants","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1120,-400],"id":"1a5b636d-1981-4e8a-9c97-905f5fd948f6","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"4ef9ffef-84a1-43a2-910d-d6a6133ffe9e","name":"phone55","value":"={{ $json.phoneNumber.replace(/\\D/g,\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,-400],"id":"257aece0-74fc-4c96-8183-adcd745f054a","name":"phone55"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"phone55"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,-400],"id":"2d171d19-8362-4a84-9410-798128483b58","name":"Aggregate"},{"parameters":{"binaryPropertyName":"phone55","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2016,-400],"id":"3be335b4-e8f8-478e-956a-d12e7da05714","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"3ad34c26-2b37-4cb0-9174-132e72d7c9e1","name":"phone55","value":"={{ $json.phone55.toJsonString().replaceAll(\",\",\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,-400],"id":"e91f57c8-1b54-48ac-a3df-bb83f6276444","name":"Edit Fields1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Buscar grupos","type":"main","index":0}]]},"Buscar grupos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"Encontrar participantes do grupo","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Encontrar participantes do grupo":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"phone55","type":"main","index":0}]]},"phone55":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"60eb7ca0-4b97-45a4-8ca0-9abe9d5086f6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-06T14:48:26.796Z","createdAt":"2026-05-06T14:48:26.796Z","role":"workflow:owner","workflowId":"M8XIY9ZCmOnZtnv6","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}