workflows/mrhJ661pjp9CMnK6.json
{"updatedAt":"2026-01-06T05:45:05.302Z","createdAt":"2026-01-06T04:13:39.471Z","id":"mrhJ661pjp9CMnK6","name":"[DA] [TMB] [BTV-NOV25] Aprovada (v1.0)","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12475117"},{"name":"field_value","value":"=+{{ $json.phone55 }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,432],"id":"ed6298ac-1fe0-4df5-90a5-a2d5c592f1d9","name":"Manychat: findByCustomField1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/updateSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data[0].id }},\n  \"first_name\": \"{{ $('Dados Usuário').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Dados Usuário').item.json.last_name }}\",\n  \"phone\": \"{{ $('Dados Usuário').item.json.phone55 }}\",\n  \"whatsapp_phone\": \"{{ $('Dados Usuário').item.json.phone55 }}\",\n  \"gender\": \"\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"Aceito receber mensagens de Debora Alves\"\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,432],"id":"422c56af-006f-47ed-89d5-e527502cd50e","name":"Manychat: updateSubscriber1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data.id }},\n  \"fields\": [\n    {\n      \"field_id\": 13293326,\n      \"field_name\": \"COMPRA_HOTMART_HP1234\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_COMPRA_HP1234 || \"HP\" }}\"\n    },\n    {\n      \"field_id\": 13394971,\n      \"field_name\": \"HOTMART_PRODUTO\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_PRODUTO }}\"\n    },\n    {\n      \"field_id\": 13394975,\n      \"field_name\": \"HOTMART_VALOR_PRODUTO\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_VALOR }}\"\n    }\n  ]\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,432],"id":"4d099f18-e43b-44be-ab16-c3a2dce1b623","name":"Manychat: setCustomFieldByName3"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"phone\": \"{{ $json.phone55 }}\",\n  \"whatsapp_phone\": \"{{ $json.phone55 }}\",\n  \"email\": \"{{ $json.email.toLowerCase() }}\",\n  \"gender\": \"\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"Aceito receber mensagens de Debora Alves\"\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,336],"id":"62cea08a-6219-44a6-b1fd-ce12122c214f","name":"Manychat: Create user1","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"29994e71-6fec-4c87-8986-c45d02b8572c","leftValue":"={{ $json.phone55 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"62693f61-ca19-4dbd-8f3c-0a61121281fb","leftValue":"={{ $json.phone55 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"40bb906c-a5a2-4e73-bb96-e035d5349c6f","leftValue":"={{ $json.phone55 }}","rightValue":"55","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[480,336],"id":"5696f864-ef94-4bbb-92de-18990d979ab7","name":"Tem phone55"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data.id }},\n  \"fields\": [\n    {\n      \"field_id\": 13293326,\n      \"field_name\": \"COMPRA_HOTMART_HP1234\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_COMPRA_HP1234 || \"HP\" }}\"\n    },\n    {\n      \"field_id\": 13394971,\n      \"field_name\": \"HOTMART_PRODUTO\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_PRODUTO }}\"\n    },\n    {\n      \"field_id\": 13394975,\n      \"field_name\": \"HOTMART_VALOR_PRODUTO\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.HOTMART_VALOR }}\"\n    }\n  ]\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,240],"id":"faa2e5be-2352-43ba-8e21-7984cb6b4740","name":"Manychat: setCustomFieldByName2"},{"parameters":{"inputSource":"passthrough"},"id":"93124228-899d-4af5-beb6-6c6cac5b6bee","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[32,336]},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Manychat: updateSubscriber1').item.json.data.id }},\n  \"tag_id\": {{ $('Dados Usuário').item.json.tag_id }}\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,432],"id":"3abdfaaa-4553-49f6-86e1-a11ae773627c","name":"Manychat: addTag [Form. Prof] Pagamento Pendente"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,240],"id":"e3dcf550-8573-4bd6-ba42-b8becd02a239","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,240],"id":"4561bbbb-3b7b-4362-bb7e-18567fa74be8","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"1fbae155-6211-4f6b-af26-646331b74046","name":"dbname","value":"da_deboraalves","type":"string"},{"id":"c9a60f75-6d5c-4bde-b39b-78aff70c12b6","name":"cod_lancamento","value":"btv-nov25","type":"string"},{"id":"20ffa875-fa77-4d08-a100-cbdca86adc97","name":"first_name","value":"={{ $json.cliente.split(' ')[0] }}","type":"string"},{"id":"2b8e5dd0-db73-454d-aef1-3e487f003f7c","name":"last_name","value":"={{ $json.cliente.split(' ').slice(-1)[0] }}","type":"string"},{"id":"022bf17b-9562-4395-9a24-05492acb730b","name":"HOTMART_COMPRA_HP1234","value":"={{ $json.body?.data?.purchase?.transaction || \"TMB\"+$json.pedido_id ||  \"HP\" }}","type":"string"},{"id":"c327d0bc-71d2-4d4b-b68b-014c85e2ee63","name":"HOTMART_PRODUTO","value":"={{ $json?.body?.data?.product?.name || $json?.lancamento }}","type":"string"},{"id":"d4294f09-6d29-4153-9a75-92ac4a879614","name":"HOTMART_VALOR","value":"={{ $json.valor_total\n    ? \"R$ \" + $json.valor_total.format(\"pt-BR\")\n    : \"verificar no link\"\n|| \"verificar no link\" }}","type":"string"},{"id":"b19b55eb-b6f2-4013-a01c-feb20dbfabf9","name":"tag_id","value":"=75820297{{\"\"/*[BTV-NOV25] Compra Aprovada TMB*/}}","type":"string"},{"id":"0d43a238-1dce-4b88-b5cc-3ac379df0e9a","name":"phone55","value":"={{ $json.telefone.replaceAll(/\\D/g,\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,336],"id":"8f089626-eb80-4327-bfcf-046366a015c4","name":"Dados Usuário"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Manychat: Create user1').item.json.data.id }},\n  \"tag_id\": {{ $('Dados Usuário').item.json.tag_id }}\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,240],"id":"ea3a4bae-62ef-4371-bd99-9f61a0ef998f","name":"Manychat: addTag"}],"connections":{"Manychat: findByCustomField1":{"main":[[{"node":"Manychat: updateSubscriber1","type":"main","index":0}]]},"Manychat: updateSubscriber1":{"main":[[{"node":"Manychat: setCustomFieldByName3","type":"main","index":0}]]},"Manychat: setCustomFieldByName3":{"main":[[{"node":"Manychat: addTag [Form. Prof] Pagamento Pendente","type":"main","index":0}]]},"Manychat: Create user1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Manychat: findByCustomField1","type":"main","index":0}]]},"Manychat: setCustomFieldByName2":{"main":[[{"node":"Manychat: addTag","type":"main","index":0}]]},"Tem phone55":{"main":[[{"node":"Manychat: Create user1","type":"main","index":0}]]},"Start":{"main":[[{"node":"Dados Usuário","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Manychat: setCustomFieldByName2","type":"main","index":0}]]},"Dados Usuário":{"main":[[{"node":"Tem phone55","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"e3613eb7-6917-4f9b-ae35-e2aa700709a3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:39.471Z","createdAt":"2026-01-06T04:13:39.471Z","role":"workflow:owner","workflowId":"mrhJ661pjp9CMnK6","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}