workflows/mRTbkR5jL09wL2Jw.json
{"updatedAt":"2026-04-04T01:18:49.499Z","createdAt":"2026-04-04T01:14:25.666Z","id":"mRTbkR5jL09wL2Jw","name":"[SDR] [JULIA] Interpreta Tipo de Mensagem","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"contains"},"id":"c2fc3ce8-4566-464d-b163-7c11c9aaed0a"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ba0fc71-4858-4049-a9e2-81d8722d77bd","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c3684d5-38c4-4ce4-af0c-9c636803439d","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9f4a400-6ad5-49d6-bf08-60b432fd499b","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"video","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VIDEO"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3664,1056],"id":"a73fa9ce-b902-46ca-a7db-3f70c406e860","name":"Tipo de mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"cc1ba41d-3877-47e1-b83e-0374631472ce","name":"text","value":"={{ $json?.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,1008],"id":"f585f9c6-e34c-4670-aae4-99cad9a2a1c8","name":"AUDIO text"},{"parameters":{"assignments":{"assignments":[{"id":"cc1ba41d-3877-47e1-b83e-0374631472ce","name":"text","value":"=Descrição enviada junto com arquivo: {{ $('Start').item.json.message }}","type":"string"},{"id":"23be786b-669a-47b1-b9ec-eb0c99a1f6c0","name":"system_prompt_julia","value":"=falar que não conseguiu entender a {{ $json.content_type || \"mensagem\" }} enviada e pedir para explicar melhor","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,1200],"id":"06837c2e-e803-4e55-9b8a-b4f076c66ddf","name":"OUTROS text"},{"parameters":{"assignments":{"assignments":[{"id":"a61d6a91-af40-4650-938f-8b946efb420d","name":"message","value":"={{ $json?.text || $json?.message || \"\"}}","type":"string"},{"id":"3b34d37e-d00b-4249-92ac-c10d5ce12991","name":"system_prompt_julia","value":"={{ $json.system_prompt_julia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4352,1072],"id":"42a158d0-7f56-4ed3-8977-fd12672dad55","name":"Mensagem"},{"parameters":{"workflowId":{"__rl":true,"value":"PkfIdq5yLvwfEKRi","mode":"list","cachedResultUrl":"/workflow/PkfIdq5yLvwfEKRi","cachedResultName":"[AI] [AUDIO] Transcreve Áudio por URL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"audio_url":"={{ $json.data_url }}","modelo (openai ou groq)":"openai"},"matchingColumns":["audio_url"],"schema":[{"id":"audio_url","displayName":"audio_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"modelo (openai ou groq)","displayName":"modelo (openai ou groq)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3888,1008],"id":"583877bc-1569-408f-af3f-82cd44f95c21","name":"Transcreve AUDIO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4112,1392],"id":"dcaa8926-d2fb-4298-b367-c84497502aaf","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,1200],"id":"a1567881-ebbd-4cfe-80fd-7a4e6cc6f517","name":"IMAGE / VIDEO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,1392],"id":"e9f52556-7034-434f-8b38-0fe8898c7cd1","name":"OUTROS"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,816],"id":"576dd719-fda0-42ca-b3ea-421df81140eb","name":"TEXT_ONLY"},{"parameters":{"jsCode":"const itemsOut = [];\n\nfunction clean(val) {\n  if (val === undefined || val === null) return null;\n  const s = String(val).trim();\n  return s === '' ? null : s;\n}\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  const digits = String(phone).replace(/\\D+/g, '');\n  return digits || null;\n}\n\nfunction extractField(text, labels) {\n  for (const label of labels) {\n    const regex = new RegExp(\n      `${label}\\\\s*:\\\\s*([^\\\\n\\\\r|]+)`,\n      'i'\n    );\n    const match = text.match(regex);\n    if (match && match[1]) return clean(match[1]);\n  }\n  return null;\n}\n\nfunction extractInstagram(text) {\n  const empresa = extractField(text, ['empresa', 'instagram', 'insta', 'ig']);\n  if (empresa && empresa.startsWith('@')) return empresa;\n\n  const atMatch = text.match(/(^|\\s)(@[a-zA-Z0-9._]{3,})\\b/);\n  if (atMatch && atMatch[2]) return clean(atMatch[2]);\n\n  const igUrl = text.match(/https?:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9._]+)/i);\n  if (igUrl && igUrl[2]) return '@' + igUrl[2];\n\n  return null;\n}\n\nfunction buildLeadSummary(currentSummary, parsed) {\n  const fields = {\n    'Nome': parsed.name,\n    'Empresa': parsed.empresa,\n    'Nicho': parsed.nicho,\n    'Serviço de interesse': parsed.servico_interesse,\n    'Objetivo': parsed.objetivo,\n    'Canal atual': parsed.canal_atual,\n    'Vende por': parsed.vende_por,\n    'Equipe': parsed.funcionarios,\n    'Investimento': parsed.investimento,\n    'Instagram': parsed.instagram,\n    'Site': parsed.site,\n    'Google Meu Negócio': parsed.google_meu_negocio,\n    'Momento': parsed.momento,\n    'Objeções': parsed.objecoes,\n    'Último contexto': parsed.ultimo_contexto,\n    'Próxima etapa': parsed.proxima_etapa,\n  };\n\n  const existing = {};\n  if (currentSummary) {\n    const parts = String(currentSummary).split(';');\n    for (const part of parts) {\n      const idx = part.indexOf(':');\n      if (idx > -1) {\n        const k = part.slice(0, idx).trim();\n        const v = part.slice(idx + 1).trim();\n        if (k) existing[k] = v;\n      }\n    }\n  }\n\n  for (const [k, v] of Object.entries(fields)) {\n    if (v !== null && v !== undefined && String(v).trim() !== '') {\n      existing[k] = String(v).trim();\n    }\n  }\n\n  return Object.entries(existing)\n    .map(([k, v]) => `${k}: ${v}`)\n    .join('; ');\n}\n\nfor (const item of items) {\n  const json = item.json;\n\n  const rawMessage =\n    json.message ||\n    json.body ||\n    json.content ||\n    json.text ||\n    json.last_user_message ||\n    '';\n\n  const text = String(rawMessage);\n\n  const name =\n    clean(json.name) ||\n    clean(json.sender_name) ||\n    extractField(text, ['nome', 'name']);\n\n  const empresa =\n    clean(json.empresa) ||\n    extractField(text, ['empresa', 'negócio', 'negocio', 'marca']);\n\n  const telefone =\n    normalizePhone(json.phone) ||\n    normalizePhone(extractField(text, ['telefone', 'phone', 'whatsapp', 'fone']));\n\n  const investimento =\n    clean(json.investimento) ||\n    extractField(text, ['investe', 'investimento', 'tráfego', 'trafego']);\n\n  const funcionarios =\n    clean(json.funcionarios) ||\n    extractField(text, ['funcionários', 'funcionarios', 'equipe', 'colaboradores']);\n\n  const instagram =\n    clean(json.instagram) ||\n    extractInstagram(text) ||\n    (empresa && empresa.startsWith('@') ? empresa : null);\n\n  const site =\n    clean(json.site) ||\n    extractField(text, ['site', 'website']) ||\n    (text.match(/https?:\\/\\/[^\\s]+/i)?.[0] || null);\n\n  const googleMeuNegocio =\n    clean(json.google_meu_negocio) ||\n    extractField(text, ['google meu negócio', 'google meu negocio', 'gmn', 'google business']);\n\n  const parsed = {\n    name,\n    empresa,\n    telefone,\n    investimento,\n    funcionarios,\n    instagram,\n    site,\n    google_meu_negocio: googleMeuNegocio,\n    nicho: clean(json.nicho) || null,\n    servico_interesse: clean(json.servico_interesse) || 'Tráfego pago',\n    objetivo: clean(json.objetivo) || null,\n    canal_atual: clean(json.canal_atual) || null,\n    vende_por: clean(json.vende_por) || null,\n    momento: clean(json.momento) || null,\n    objecoes: clean(json.objecoes) || null,\n    ultimo_contexto: 'dados iniciais extraídos da mensagem/formulário',\n    proxima_etapa: 'validar contexto na conversa',\n  };\n\n  const lead_summary = buildLeadSummary(json.lead_summary, parsed);\n\n  itemsOut.push({\n    json: {\n      ...json,\n      raw_message: text,\n      phone: telefone || json.phone || null,\n      name: name || json.name || json.sender_name || null,\n      empresa,\n      investimento,\n      funcionarios,\n      instagram,\n      site,\n      google_meu_negocio: googleMeuNegocio,\n      parsed_form_data: parsed,\n      lead_summary,\n    },\n  });\n}\n\nreturn itemsOut;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,816],"id":"bb02b313-fdc4-4e80-a7c6-56bf63beffd3","name":"PARSE FORM DATA","disabled":true},{"parameters":{"content":"# INTERPRETA\n## AUDIO OU TEXTO OU FORMULÁRIO\n","height":896,"width":704},"type":"n8n-nodes-base.stickyNote","position":[3600,656],"typeVersion":1,"id":"e9be4980-0d15-4eef-8415-e8b7d6ef49bc","name":"Sticky Note2"},{"parameters":{"content":"# ARRUMAR\n","height":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4048,768],"typeVersion":1,"id":"0dca057b-948a-4e67-bcf1-cc906dc02bf6","name":"ARRUMAR"},{"parameters":{"workflowInputs":{"values":[{"name":"content_type","type":"any"},{"name":"message","type":"any"},{"name":"data_url","type":"any"}]}},"id":"07d79f19-0d18-4985-9474-72102d35cddd","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3456,1104]}],"connections":{"Tipo de mensagem":{"main":[[{"node":"TEXT_ONLY","type":"main","index":0}],[{"node":"Transcreve AUDIO","type":"main","index":0}],[{"node":"IMAGE / VIDEO","type":"main","index":0}],[{"node":"IMAGE / VIDEO","type":"main","index":0}],[{"node":"OUTROS","type":"main","index":0}]]},"AUDIO text":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"OUTROS text":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Transcreve AUDIO":{"main":[[{"node":"AUDIO text","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"IMAGE / VIDEO":{"main":[[{"node":"OUTROS text","type":"main","index":0}]]},"OUTROS":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"TEXT_ONLY":{"main":[[{"node":"PARSE FORM DATA","type":"main","index":0}]]},"PARSE FORM DATA":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Start":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"versionId":"713bc89c-321e-4d02-8e25-61ad2e2b06d6","activeVersionId":"713bc89c-321e-4d02-8e25-61ad2e2b06d6","triggerCount":0,"shared":[{"updatedAt":"2026-04-04T01:14:25.666Z","createdAt":"2026-04-04T01:14:25.666Z","role":"workflow:owner","workflowId":"mRTbkR5jL09wL2Jw","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-04T01:18:50.316Z","createdAt":"2026-04-04T01:18:49.502Z","versionId":"713bc89c-321e-4d02-8e25-61ad2e2b06d6","workflowId":"mRTbkR5jL09wL2Jw","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"contains"},"id":"c2fc3ce8-4566-464d-b163-7c11c9aaed0a"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ba0fc71-4858-4049-a9e2-81d8722d77bd","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c3684d5-38c4-4ce4-af0c-9c636803439d","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9f4a400-6ad5-49d6-bf08-60b432fd499b","leftValue":"={{ $('Start').item.json.content_type }}","rightValue":"video","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VIDEO"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3664,1056],"id":"a73fa9ce-b902-46ca-a7db-3f70c406e860","name":"Tipo de mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"cc1ba41d-3877-47e1-b83e-0374631472ce","name":"text","value":"={{ $json?.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,1008],"id":"f585f9c6-e34c-4670-aae4-99cad9a2a1c8","name":"AUDIO text"},{"parameters":{"assignments":{"assignments":[{"id":"cc1ba41d-3877-47e1-b83e-0374631472ce","name":"text","value":"=Descrição enviada junto com arquivo: {{ $('Start').item.json.message }}","type":"string"},{"id":"23be786b-669a-47b1-b9ec-eb0c99a1f6c0","name":"system_prompt_julia","value":"=falar que não conseguiu entender a {{ $json.content_type || \"mensagem\" }} enviada e pedir para explicar melhor","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4112,1200],"id":"06837c2e-e803-4e55-9b8a-b4f076c66ddf","name":"OUTROS text"},{"parameters":{"assignments":{"assignments":[{"id":"a61d6a91-af40-4650-938f-8b946efb420d","name":"message","value":"={{ $json?.text || $json?.message || \"\"}}","type":"string"},{"id":"3b34d37e-d00b-4249-92ac-c10d5ce12991","name":"system_prompt_julia","value":"={{ $json.system_prompt_julia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4352,1072],"id":"42a158d0-7f56-4ed3-8977-fd12672dad55","name":"Mensagem"},{"parameters":{"workflowId":{"__rl":true,"value":"PkfIdq5yLvwfEKRi","mode":"list","cachedResultUrl":"/workflow/PkfIdq5yLvwfEKRi","cachedResultName":"[AI] [AUDIO] Transcreve Áudio por URL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"audio_url":"={{ $json.data_url }}","modelo (openai ou groq)":"openai"},"matchingColumns":["audio_url"],"schema":[{"id":"audio_url","displayName":"audio_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"modelo (openai ou groq)","displayName":"modelo (openai ou groq)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3888,1008],"id":"583877bc-1569-408f-af3f-82cd44f95c21","name":"Transcreve AUDIO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4112,1392],"id":"dcaa8926-d2fb-4298-b367-c84497502aaf","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,1200],"id":"a1567881-ebbd-4cfe-80fd-7a4e6cc6f517","name":"IMAGE / VIDEO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,1392],"id":"e9f52556-7034-434f-8b38-0fe8898c7cd1","name":"OUTROS"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3888,816],"id":"576dd719-fda0-42ca-b3ea-421df81140eb","name":"TEXT_ONLY"},{"parameters":{"jsCode":"const itemsOut = [];\n\nfunction clean(val) {\n  if (val === undefined || val === null) return null;\n  const s = String(val).trim();\n  return s === '' ? null : s;\n}\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  const digits = String(phone).replace(/\\D+/g, '');\n  return digits || null;\n}\n\nfunction extractField(text, labels) {\n  for (const label of labels) {\n    const regex = new RegExp(\n      `${label}\\\\s*:\\\\s*([^\\\\n\\\\r|]+)`,\n      'i'\n    );\n    const match = text.match(regex);\n    if (match && match[1]) return clean(match[1]);\n  }\n  return null;\n}\n\nfunction extractInstagram(text) {\n  const empresa = extractField(text, ['empresa', 'instagram', 'insta', 'ig']);\n  if (empresa && empresa.startsWith('@')) return empresa;\n\n  const atMatch = text.match(/(^|\\s)(@[a-zA-Z0-9._]{3,})\\b/);\n  if (atMatch && atMatch[2]) return clean(atMatch[2]);\n\n  const igUrl = text.match(/https?:\\/\\/(www\\.)?instagram\\.com\\/([a-zA-Z0-9._]+)/i);\n  if (igUrl && igUrl[2]) return '@' + igUrl[2];\n\n  return null;\n}\n\nfunction buildLeadSummary(currentSummary, parsed) {\n  const fields = {\n    'Nome': parsed.name,\n    'Empresa': parsed.empresa,\n    'Nicho': parsed.nicho,\n    'Serviço de interesse': parsed.servico_interesse,\n    'Objetivo': parsed.objetivo,\n    'Canal atual': parsed.canal_atual,\n    'Vende por': parsed.vende_por,\n    'Equipe': parsed.funcionarios,\n    'Investimento': parsed.investimento,\n    'Instagram': parsed.instagram,\n    'Site': parsed.site,\n    'Google Meu Negócio': parsed.google_meu_negocio,\n    'Momento': parsed.momento,\n    'Objeções': parsed.objecoes,\n    'Último contexto': parsed.ultimo_contexto,\n    'Próxima etapa': parsed.proxima_etapa,\n  };\n\n  const existing = {};\n  if (currentSummary) {\n    const parts = String(currentSummary).split(';');\n    for (const part of parts) {\n      const idx = part.indexOf(':');\n      if (idx > -1) {\n        const k = part.slice(0, idx).trim();\n        const v = part.slice(idx + 1).trim();\n        if (k) existing[k] = v;\n      }\n    }\n  }\n\n  for (const [k, v] of Object.entries(fields)) {\n    if (v !== null && v !== undefined && String(v).trim() !== '') {\n      existing[k] = String(v).trim();\n    }\n  }\n\n  return Object.entries(existing)\n    .map(([k, v]) => `${k}: ${v}`)\n    .join('; ');\n}\n\nfor (const item of items) {\n  const json = item.json;\n\n  const rawMessage =\n    json.message ||\n    json.body ||\n    json.content ||\n    json.text ||\n    json.last_user_message ||\n    '';\n\n  const text = String(rawMessage);\n\n  const name =\n    clean(json.name) ||\n    clean(json.sender_name) ||\n    extractField(text, ['nome', 'name']);\n\n  const empresa =\n    clean(json.empresa) ||\n    extractField(text, ['empresa', 'negócio', 'negocio', 'marca']);\n\n  const telefone =\n    normalizePhone(json.phone) ||\n    normalizePhone(extractField(text, ['telefone', 'phone', 'whatsapp', 'fone']));\n\n  const investimento =\n    clean(json.investimento) ||\n    extractField(text, ['investe', 'investimento', 'tráfego', 'trafego']);\n\n  const funcionarios =\n    clean(json.funcionarios) ||\n    extractField(text, ['funcionários', 'funcionarios', 'equipe', 'colaboradores']);\n\n  const instagram =\n    clean(json.instagram) ||\n    extractInstagram(text) ||\n    (empresa && empresa.startsWith('@') ? empresa : null);\n\n  const site =\n    clean(json.site) ||\n    extractField(text, ['site', 'website']) ||\n    (text.match(/https?:\\/\\/[^\\s]+/i)?.[0] || null);\n\n  const googleMeuNegocio =\n    clean(json.google_meu_negocio) ||\n    extractField(text, ['google meu negócio', 'google meu negocio', 'gmn', 'google business']);\n\n  const parsed = {\n    name,\n    empresa,\n    telefone,\n    investimento,\n    funcionarios,\n    instagram,\n    site,\n    google_meu_negocio: googleMeuNegocio,\n    nicho: clean(json.nicho) || null,\n    servico_interesse: clean(json.servico_interesse) || 'Tráfego pago',\n    objetivo: clean(json.objetivo) || null,\n    canal_atual: clean(json.canal_atual) || null,\n    vende_por: clean(json.vende_por) || null,\n    momento: clean(json.momento) || null,\n    objecoes: clean(json.objecoes) || null,\n    ultimo_contexto: 'dados iniciais extraídos da mensagem/formulário',\n    proxima_etapa: 'validar contexto na conversa',\n  };\n\n  const lead_summary = buildLeadSummary(json.lead_summary, parsed);\n\n  itemsOut.push({\n    json: {\n      ...json,\n      raw_message: text,\n      phone: telefone || json.phone || null,\n      name: name || json.name || json.sender_name || null,\n      empresa,\n      investimento,\n      funcionarios,\n      instagram,\n      site,\n      google_meu_negocio: googleMeuNegocio,\n      parsed_form_data: parsed,\n      lead_summary,\n    },\n  });\n}\n\nreturn itemsOut;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,816],"id":"bb02b313-fdc4-4e80-a7c6-56bf63beffd3","name":"PARSE FORM DATA","disabled":true},{"parameters":{"content":"# INTERPRETA\n## AUDIO OU TEXTO OU FORMULÁRIO\n","height":896,"width":704},"type":"n8n-nodes-base.stickyNote","position":[3600,656],"typeVersion":1,"id":"e9be4980-0d15-4eef-8415-e8b7d6ef49bc","name":"Sticky Note2"},{"parameters":{"content":"# ARRUMAR\n","height":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4048,768],"typeVersion":1,"id":"0dca057b-948a-4e67-bcf1-cc906dc02bf6","name":"ARRUMAR"},{"parameters":{"workflowInputs":{"values":[{"name":"content_type","type":"any"},{"name":"message","type":"any"},{"name":"data_url","type":"any"}]}},"id":"07d79f19-0d18-4985-9474-72102d35cddd","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3456,1104]}],"connections":{"Tipo de mensagem":{"main":[[{"node":"TEXT_ONLY","type":"main","index":0}],[{"node":"Transcreve AUDIO","type":"main","index":0}],[{"node":"IMAGE / VIDEO","type":"main","index":0}],[{"node":"IMAGE / VIDEO","type":"main","index":0}],[{"node":"OUTROS","type":"main","index":0}]]},"AUDIO text":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"OUTROS text":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Transcreve AUDIO":{"main":[[{"node":"AUDIO text","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"IMAGE / VIDEO":{"main":[[{"node":"OUTROS text","type":"main","index":0}]]},"OUTROS":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"TEXT_ONLY":{"main":[[{"node":"PARSE FORM DATA","type":"main","index":0}]]},"PARSE FORM DATA":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Start":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem":{"main":[[]]}},"authors":"Convertix Digital","name":"Version 713bc89c","description":"","autosaved":true},"tags":[]}