workflows/oV0JEH16Uk9W7WGc.json
{"updatedAt":"2026-04-04T00:41:55.119Z","createdAt":"2026-01-06T04:13:42.293Z","id":"oV0JEH16Uk9W7WGc","name":"[CTX] [MetaAds] ads_performance TOTAL","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,1440],"id":"1e3c24a7-9fd9-41ee-919b-89f061806ac3","name":"Execute: performance"},{"parameters":{"url":"={{ $json[\"next_page\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,1728],"id":"4650a81b-6516-4009-aac2-91c6218b240b","name":"GET next-page","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json?.date_preset }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"b2bac7cf-87c3-4014-93d5-30714f54df4b"}],"combinator":"and"},"renameOutput":true,"outputKey":"date_preset"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46b14740-7579-470e-9b21-fcf6d577f86f","leftValue":"={{ $json?.since }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"since-until"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,1536],"id":"b16a95c2-b4bb-41e3-8772-efaa4a60c653","name":"Switch"},{"parameters":{"errorMessage":"Fallback"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[448,1744],"id":"fcab3d21-d3ef-41e1-a91e-bdd336c6bd40","name":"Stop and Error"},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"=500"},{"name":"date_preset","value":"={{ $json.date_preset }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"d17cb79b-f8b7-4586-8875-261ed822b39c","name":"Ad insights - date_preset","type":"n8n-nodes-base.facebookGraphApi","position":[448,1200],"typeVersion":1,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"dataToSave":{"values":[{"key":"=account_name","value":"={{ $json?.data[0]?.account_name || \"\" }}"},{"key":"account_id","value":"=act_{{ $json?.data[0]?.account_id || \"\" }}"},{"key":"=clicks","value":"={{ $json?.summary?.clicks || \"\" }}"},{"key":"=frequency","value":"={{ $json?.summary?.frequency || \"\" }}"},{"key":"=impressions","value":"={{ $json.summary.impressions || \"\" }}"},{"key":"=spend","value":"=R$ {{ $json.summary.spend.toNumber().format('pt-BR') || \"\" }}"},{"key":"=date_start","value":"={{ $json.summary.date_start || \"\" }}"},{"key":"=date_stop","value":"={{ $json.summary.date_stop || \"\" }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[672,976],"id":"018654d5-800b-4471-ad95-3f54ec7f950b","name":"Execution Data"},{"parameters":{"assignments":{"assignments":[{"id":"31c278de-0c37-438f-b66b-0787973d9baf","name":"next_page","value":"={{ ($json?.next_page || $json.paging?.next) || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,1728],"id":"21bbaca6-e780-4c03-af81-bd27dd459501","name":"next_page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd799f63-a755-4e32-8164-8cb0a175bd9c","leftValue":"={{ $json.next_page }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"a158311c-4906-4098-ba88-58a80596095a","leftValue":"={{ $json.next_page }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,1664],"id":"04159f0e-eba3-4954-8ec2-b938466dcea5","name":"If: next_page is NOT null"},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"34eb1879-e7c1-49a6-9b0d-f8aa2dc36e92","name":"data","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1344,1392],"executeOnce":false,"alwaysOutputData":false},{"parameters":{"dataToSave":{"values":[{"key":"=db_name","value":"={{ $json.db_name }}"},{"key":"=process_video_view","value":"={{ $json?.process_video_views.toString() }}"},{"key":"date_since","value":"={{ $json.since || $json.date_preset }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[224,1344],"id":"9e2036ef-9779-4f11-ad09-3daa62cf8385","name":"Execution Data1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2240,1424],"id":"7f2423b0-4c8c-472f-a299-dbf62d5779cc","name":"Remove Duplicates"},{"parameters":{"workflowId":{"__rl":true,"value":"s3PvelLEYmyzgDaZ","mode":"list","cachedResultUrl":"/workflow/s3PvelLEYmyzgDaZ","cachedResultName":"[CTX] [MetaAds] ads_performance VIDEO (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2464,1424],"id":"6e00b1cb-0375-40b7-ac46-c52930785cb9","name":"Execute ads_performance VIDEO","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"fieldsToSummarize":{"values":[{"field":"video_play_actions[0].value"},{"aggregation":"max","field":"date_start"},{"aggregation":"max","field":"date_stop"}]},"fieldsToSplitBy":"ad_id","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1792,1424],"id":"9795ad21-a09b-4172-bd6a-f0db6d35fcd5","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"ba3ad4a1-e7dc-461a-beed-70a4cc5fc62e","name":"db_name","value":"={{ $('Execute: performance').item.json.db_name }}","type":"string"},{"id":"d78b7def-4508-46e1-b7cf-35bd0136091f","name":"act_account_id","value":"={{ $('Execute: performance').item.json.act_account_id }}","type":"string"},{"id":"684de0f2-988a-4fa7-a9c4-f3a0a089a2b7","name":"ad_id","value":"={{ $json.ad_id }}","type":"string"},{"id":"022396c5-4d24-4a9e-87d7-c2fdd4c0bb63","name":"since","value":"={{ $json.max_date_start }}","type":"string"},{"id":"b17f38d9-abcd-482a-87d5-2101448b5506","name":"until","value":"={{ $json.max_date_stop }}","type":"string"},{"id":"6c4d8ead-6de2-487b-be3a-6752090e4246","name":"time_increment","value":"={{ $('Execute: performance').item.json.time_increment }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1424],"id":"dcf79c94-46da-43b2-b537-90a69bb2e227","name":"Arruma dados"},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"50"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_range","value":"={'since':'2025-10-16'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"182110ed-24d5-4917-aa57-c647d94301e7","name":"Ad insights - since-until1","type":"n8n-nodes-base.facebookGraphApi","position":[0,1968],"typeVersion":1,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"100"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"time_range","value":"={'since':'{{ $json.since }}'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"9629df9b-55ca-4b0b-be30-dcf4da6ca604","name":"Ad insights - since-until2","type":"n8n-nodes-base.facebookGraphApi","position":[448,1552],"typeVersion":1,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"50"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_range","value":"={'since':'{{ $json.since }}'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"8935b05d-9cb6-42f3-90a2-2653af7bbf5c","name":"Ad insights - since-until","type":"n8n-nodes-base.facebookGraphApi","position":[0,2192],"typeVersion":1,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query1 }}","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3136,1024],"id":"915e88e7-eb6f-4620-b642-48df0c565fca","name":"MySQL1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"mode":"combineBySql","query":"SELECT i2.*, i1.data\n  FROM input2 as i2 LEFT JOIN input1 as i1 \n  "},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2464,1024],"id":"1d1f1ca0-bf88-4ccb-9393-f10bf64cabee","name":"Merge"},{"parameters":{"jsCode":"// 1. Pega o array de mapeamento da propriedade 'data' do primeiro item de entrada.\n// Assumimos que o nó Merge entregou um único item contendo a estrutura mostrada.\nconst mapping = items[0].json.data;\n\n// 2. Cria um lookup rápido por ID (string) a partir do array de mapeamento\nconst lookup = mapping.reduce((acc, cur) => {\n  // Garante que o ID é tratado como string para a comparação\n  acc[cur.id.toString()] = cur.name_normalize;\n  return acc;\n}, {});\n\n// 3. Prefixo que identifica os campos a renomear\nconst prefix = \"actions_offsite_conversion.custom.\";\n\n// 4. Processa cada item de entrada (agora com dados mesclados)\nconst newItems = items.map(item => {\n  // Faz uma cópia do JSON para não alterar o original\n  const metrics = { ...item.json };\n\n  // Remove a propriedade 'data' que contém o mapeamento, se não for mais necessária no output final\n  // Verifique se 'data' existe antes de tentar deletar\n  if (metrics.data !== undefined) {\n      delete metrics.data;\n  }\n\n  const dynamicColumns = [];\n  const dynamicValues = [];\n  const dynamicUpdateSetParts = [];\n\n  // Cria uma lista das chaves a serem removidas APÓS a iteração\n  const keysToDelete = [];\n\n  // Itera sobre todas as chaves no JSON de entrada\n  Object.keys(metrics).forEach(key => {\n    if (key.startsWith(prefix)) {\n      const id = key.slice(prefix.length);          // extrai \"1550197225663407\"\n      const normalizedName = lookup[id];            // encontra \"FGTS_Contact\", por ex.\n      const columnValue = metrics[key]==0?1:metrics[key];             // O valor da coluna\n\n      if (normalizedName) {\n        // Construa a nova chave com o prefixo e o nome normalizado\n        const newKey = prefix + normalizedName;\n\n        // Adiciona à lista de colunas (usando o nome normalizado para o SQL)\n        dynamicColumns.push(`\\`${normalizedName}\\``);\n\n        // Adiciona à lista de valores (tratando nulos para SQL)\n        dynamicValues.push(columnValue == null ? 'NULL' : columnValue);\n\n        // Adiciona à lista de partes do ON DUPLICATE KEY UPDATE (usando o nome normalizado para o SQL)\n        dynamicUpdateSetParts.push(`\\`${normalizedName}\\`=${columnValue == null ? 'NULL' : columnValue}`);\n\n        // Adiciona o novo campo com a chave formatada corretamente ao objeto metrics\n        metrics[newKey] = columnValue;\n\n        // Marca a chave original para ser deletada após o loop\n        keysToDelete.push(key);\n      } else {\n          // Opcional: Se um ID não for encontrado no mapeamento, você pode querer mantê-lo\n          // ou tratá-lo de alguma forma. Por enquanto, ele será mantido no JSON\n          // e não será incluído nas strings dinâmicas.\n      }\n    }\n  });\n\n  // Remove as chaves originais que foram processadas\n  keysToDelete.forEach(key => {\n      delete metrics[key];\n  });\n\n\n  // Junta as partes em strings separadas por vírgula\n  const dynamicColumnsString = dynamicColumns.join(', ');\n  const dynamicValuesString = dynamicValues.join(', ');\n  const dynamicUpdateSetString = dynamicUpdateSetParts.join(', ');\n\n  // Adiciona as strings geradas DIRETAMENTE AO OBJETO metrics\n  // Elas estarão disponíveis para o próximo nó (MySQL)\n  metrics.dynamicColumns = dynamicColumnsString;\n  metrics.dynamicValues = dynamicValuesString;\n  metrics.dynamicUpdateSet = dynamicUpdateSetString;\n\n  // Retorna o item com o objeto metrics modificado\n  return { json: metrics };\n});\n\n// 5. Retorna os itens processados\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1024],"id":"b712b91a-60d7-44ad-99d6-445f37e1f81f","name":"Json com custom_conversions"},{"parameters":{"assignments":{"assignments":[{"id":"15d8bce4-7b4a-4f39-973e-7734fd984130","name":"query1","value":"=INSERT INTO {{ $('Execute: performance').first().json.db_name }}.`mc_ads_performance`(`date`,`date_start`,`date_stop`, `account_id`, `act_account_id`, `campaign_id`, `adset_id`, `ad_id`, `objective`, `optimization_goal`, `spend`, `impressions`, `clicks_all`, `reach`, `unique_clicks`, `link_click`, `landing_page_view`, `publisher_platform`, `platform_position`, `device_platform`, `impression_device`, `page_engagement`, `post_engagement`, `post_save`, `post_reaction`, `post_comment`, `post`, `post_like`, `messaging_total`, `messaging_conversation_started_7d`, `messaging_block`, `messaging_first_reply`, `messaging_2_message_send`, `messaging_3_message_send`, `messaging_5_message_send`, `contact`, `initiate_checkout`, `initiate_checkout_value`, `lead`, `purchase`, `purchase_value`, `add_to_cart`, `add_to_cart_value`, `complete_registration`, `view_content`, `subscriptions`, `schedule`, `video_avg_time_watched`, `video_p25_watched`, `video_p50_watched`, `video_p75_watched`, `video_p95_watched`, `video_p100_watched`, `video_play`, `video_2s_watched`, `video_3s_watched`,  `video_10s_watched`,  `video_15s_watched`,  `video_30s_watched`,  `video_60s_watched`\n{{ $json.dynamicColumns ? ', ' + $json.dynamicColumns : '' /* Adiciona colunas dinâmicas */}}\n) VALUES (\n'{{ $json.date_start }}',\n'{{ $json.date_start }}',\n'{{ $json.date_stop }}',\n{{ $json.account_id }},\n'act_{{ $json.account_id }}',\n{{ $json.campaign_id }},\n{{ $json.adset_id }},\n{{ $json.ad_id }},\n'{{ $json.objective }}',\n'{{ $json.optimization_goal }}',\n{{ $json.spend || 0 }},\n{{ $json.impressions || 0 }},\n{{ $json.clicks || 0 }},\n{{ $json.reach || 0 }},\n{{ $json.unique_clicks || 0 }},\n{{ $json.actions_link_click || 0 }},\n{{ $json.actions_landing_page_view || 0 }},\n'{{ $json.publisher_platform }}',\n'{{ $json.platform_position }}',\n'{{ $json.device_platform }}',\n'{{ $json.impression_device }}',\n{{ $json.actions_page_engagement || 0 }},\n{{ $json.actions_post_engagement || 0 }},\n{{ $json.actions_onsite_conversion_post_save || 0 }},\n{{ $json.actions_post_reaction || 0 }},\n{{ $json.actions_comment || 0 }},\n{{ $json.actions_post || 0 }},\n{{ $json.actions_like || 0 }},\n{{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n{{ $json.contact_total || 0 }},\n{{ $json.actions_initiate_checkout || 0 }},\n{{ $json.action_values_initiate_checkout || 0 }},\n{{ $json.actions_lead || 0 }},\n{{ $json.actions_purchase || 0 }},\n{{ $json.action_values_purchase || 0 }},\n{{ $json.action_add_to_cart || 0 }},\n{{ $json.action_values_add_to_cart || 0 }},\n{{ $json.actions_complete_registration || 0 }},\n{{ $json.actions_view_content || 0 }},\n{{ $json.actions_subscriptions || 0 }},\n{{ $json.actions_schedule || 0 }},\n{{ $json.video_avg_time_watched || 0 }},\n{{ $json.video_p25_watched || 0 }},\n{{ $json.video_p50_watched || 0 }},\n{{ $json.video_p75_watched || 0 }},\n{{ $json.video_p95_watched || 0 }},\n{{ $json.video_p100_watched || 0 }},\n{{ $json.video_play || 0 }},\n{{ $json.video_2s_watched || 0 }},\n{{ $json.video_view || 0 }},\n{{ $json.video_10s_watched || 0 }},\n{{ $json.video_15s_watched || 0 }},\n{{ $json.video_30s_watched || 0 }},\n{{ $json.video_60s_watched || 0 }}\n{{ $json.dynamicValues ? ', ' + $json.dynamicValues : '' /* Adiciona valores dinâmicos */}}\n) ON DUPLICATE KEY UPDATE\n`date`='{{ $json.date_start }}',\n`date_start`='{{ $json.date_start }}',\n`date_stop`='{{ $json.date_stop }}',\n`account_id`={{ $json.account_id }},\n`act_account_id`='act_{{ $json.account_id }}',\n`campaign_id`={{ $json.campaign_id }},\n`adset_id`={{ $json.adset_id }},\n`ad_id`={{ $json.ad_id }},\n`objective`='{{ $json.objective }}',\n`optimization_goal`='{{ $json.optimization_goal }}',\n`spend`={{ $json.spend || 0 }},\n`impressions`={{ $json.impressions || 0 }},\n`clicks_all`={{ $json.clicks || 0 }},\n`reach`={{ $json.reach || 0 }},\n`unique_clicks`={{ $json.unique_clicks || 0 }},\n`link_click`={{ $json.actions_link_click || 0 }},\n`landing_page_view`={{ $json.actions_landing_page_view || 0 }},\n`publisher_platform`='{{ $json.publisher_platform }}',\n`platform_position`='{{ $json.platform_position }}',\n`device_platform`='{{ $json.device_platform }}',\n`impression_device`='{{ $json.impression_device }}',\n`page_engagement`={{ $json.actions_page_engagement || 0 }},\n`post_engagement`={{ $json.actions_post_engagement || 0 }},\n`post_save`={{ $json.actions_onsite_conversion_post_save || 0 }},\n`post_reaction`={{ $json.actions_post_reaction || 0 }},\n`post_comment`={{ $json.actions_comment || 0 }},\n`post`={{ $json.actions_post || 0 }},\n`post_like`={{ $json.actions_like || 0 }},\n`messaging_total`={{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n`messaging_conversation_started_7d`={{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n`messaging_block`={{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n`messaging_first_reply`={{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n`messaging_2_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n`messaging_3_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n`messaging_5_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n`contact`={{ $json.contact_total || 0 }},\n`initiate_checkout`={{ $json.actions_initiate_checkout || 0 }},\n`initiate_checkout_value`={{ $json.action_values_initiate_checkout || 0 }},\n`lead`={{ $json.actions_lead || 0 }},\n`purchase`={{ $json.actions_purchase || 0 }},\n`purchase_value`={{ $json.action_values_purchase || 0 }},\n`add_to_cart`={{ $json.action_add_to_cart || 0 }},\n`add_to_cart_value`={{ $json.action_values_add_to_cart || 0 }},\n`complete_registration`={{ $json.actions_complete_registration || 0 }},\n`view_content`={{ $json.actions_view_content || 0 }},\n`subscriptions`={{ $json.actions_subscriptions || 0 }},\n`schedule`={{ $json.actions_schedule || 0 }},\n`video_avg_time_watched`={{ $json.video_avg_time_watched || 0 }},\n`video_p25_watched`={{ $json.video_p25_watched || 0 }},\n`video_p50_watched`={{ $json.video_p50_watched || 0 }},\n`video_p75_watched`={{ $json.video_p75_watched || 0 }},\n`video_p95_watched`={{ $json.video_p95_watched || 0 }},\n`video_p100_watched`={{ $json.video_p100_watched || 0 }},\n`video_play`={{ $json.video_play || 0 }},\n`video_2s_watched`={{ $json.video_2s_watched || 0 }},\n`video_3s_watched`={{ $json.video_view || 0 }},\n`video_10s_watched`={{ $json.video_10s_watched || 0 }},\n`video_15s_watched`={{ $json.video_15s_watched || 0 }},\n`video_30s_watched`={{ $json.video_30s_watched || 0 }},\n`video_60s_watched`={{ $json.video_60s_watched || 0 }}\n  {{ $json.dynamicUpdateSet ? ', ' + $json.dynamicUpdateSet : '' /* Adiciona as partes dinâmicas do UPDATE */}}\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,1024],"id":"f80ee877-0d15-453e-9120-0c5b223e1a55","name":"query"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT `id`,`name_normalize` FROM {{ $('Execute: performance').first().json.db_name }}.`mc_custom_conversions`\nWHERE `is_archived`='false'","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,944],"id":"33bdc0c3-12cb-4b01-9b28-410b515c3472","name":"MySQL: SELECT custom_conversions","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2016,944],"id":"be2f30ed-c450-4498-95f5-2a5fb6b2199f","name":"No Operation, do nothing","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca864b1f-5183-4364-bf5b-0ef57ff7016c","leftValue":"={{ Object.keys($json).some(key => key.includes('actions_offsite_conversion.custom.')) }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,1088],"id":"dcf09bce-3cca-40b1-ab17-2b54847cd765","name":"If: custom_conversion"},{"parameters":{"jsCode":"const rawItems = $input.all();\nlet inputData = rawItems.map(item => item.json);\n\n// Campos numéricos para soma/agregação\nconst numericFields = [\n  'spend', 'impressions', 'clicks_all', 'reach', 'unique_clicks', 'link_click', 'landing_page_view',\n  'page_engagement', 'post_engagement', 'post_save', 'post_share', 'post_reaction', 'post_comment', 'post', 'post_like',\n  'messaging_total', 'messaging_conversation_started_7d', 'messaging_block', 'messaging_first_reply',\n  'messaging_2_message_send', 'messaging_3_message_send', 'messaging_5_message_send', 'contact',\n  'initiate_checkout', 'initiate_checkout_value', 'lead', 'purchase', 'purchase_value', 'add_to_cart',\n  'add_to_cart_value', 'complete_registration', 'view_content', 'subscriptions', 'schedule',\n  'video_avg_time_watched', 'video_p25_watched', 'video_p50_watched', 'video_p75_watched',\n  'video_p95_watched', 'video_p100_watched', 'video_play', 'video_view', 'clicks',\n  // métricas adicionais de vídeo (agora calculadas como número absoluto)\n  'video_2s_watched',\n  'video_10s_watched',\n  'video_15s_watched',\n  'video_30s_watched',\n  'video_60s_watched'\n];\n\nconst groupByFields = [\n  'account_id', 'campaign_id', 'account_name', 'account_currency', 'adset_id', 'ad_id',\n  'date_start', 'date_stop', 'publisher_platform', 'platform_position', 'device_platform',\n  'impression_device', 'optimization_goal', 'objective'\n];\n\n// Extrai percentuais da curva de play de vídeo e calcula o número absoluto\nfunction extractVideoWatchMetrics(curveValues, totalVideoPlays) {\n  const indexMap = {\n    video_2s_watched: 2,    // segundo 2\n    video_10s_watched: 10,  // segundo 10\n    video_15s_watched: 15,  // [15,20)\n    video_30s_watched: 18,  // [30,40)\n    video_60s_watched: 21   // >60s\n  };\n  const metrics = {};\n  // Garante que totalVideoPlays seja um número válido, caso contrário, usa 0\n  const validTotalVideoPlays = typeof totalVideoPlays === 'number' && !isNaN(totalVideoPlays) ? totalVideoPlays : 0;\n\n  if (Array.isArray(curveValues) && validTotalVideoPlays > 0) {\n      for (const [key, idx] of Object.entries(indexMap)) {\n          const percentage = curveValues[idx];\n          const numPercentage = typeof percentage === 'string' ? parseFloat(percentage) : percentage;\n          if (idx >= 0 && idx < curveValues.length && typeof numPercentage === 'number' && !isNaN(numPercentage)) {\n              metrics[key] = Math.round((numPercentage / 100) * validTotalVideoPlays);\n          } else {\n              metrics[key] = 0;\n          }\n      }\n  } else {\n       for (const [key, idx] of Object.entries(indexMap)) {\n           metrics[key] = 0;\n       }\n  }\n  return metrics;\n}\n\nfunction processAdData(data) {\n  return data.map(item => {\n    const adData = item;\n    const actions = adData.actions || [];\n    const processedData = {\n      account_currency: adData.account_currency,\n      account_id: adData.account_id,\n      account_name: adData.account_name,\n      campaign_id: adData.campaign_id,\n      campaign_name: adData.campaign_name,\n      adset_id: adData.adset_id,\n      adset_name: adData.adset_name,\n      ad_id: adData.ad_id,\n      ad_name: adData.ad_name,\n      objective: adData.objective,\n      optimization_goal: adData.optimization_goal,\n      date_start: adData.date_start,\n      date_stop: adData.date_stop,\n      publisher_platform: adData.publisher_platform,\n      platform_position: adData.platform_position,\n      device_platform: adData.device_platform,\n      impression_device: adData.impression_device,\n      \n      // Inicializa todos os campos numéricos para 0\n      spend: 0,\n      impressions: 0,\n      clicks: 0,\n      reach: 0,\n      unique_clicks: 0,\n      video_view: 0,\n      video_avg_time_watched: 0,\n      video_p25_watched: 0,\n      video_p50_watched: 0,\n      video_p75_watched: 0,\n      video_p95_watched: 0,\n      video_p100_watched: 0,\n      video_play: 0,\n      video_2s_watched: 0,\n      video_10s_watched: 0,\n      video_15s_watched: 0,\n      video_30s_watched: 0,\n      video_60s_watched: 0,\n    };\n\n    // Processa campos numéricos de nível superior (se existirem)\n    numericFields.forEach(field => {\n        if (adData[field] !== undefined) {\n            processedData[field] = Number(adData[field]) || 0;\n        }\n    });\n\n    // Processa ações\n    actions.forEach(action => {\n      const key = 'actions_' + action.action_type;\n      processedData[key] = Number(action.value) || 0;\n      if (action.action_type === 'video_view') {\n          processedData.video_view = Number(action.value) || 0;\n      }\n    });\n\n    // Processa conversões (se existirem)\n    if (Array.isArray(adData.conversions)) {\n      adData.conversions.forEach(conversion => {\n         const key = 'conversions_' + conversion.action_type;\n         processedData[key] = Number(conversion.value) || 0;\n      });\n    }\n    // Processa os valores das conversões, se existirem\n    if (Array.isArray(adData.conversions_values)) {\n      adData.conversions_values.forEach(conv => {\n         const key = 'conversions_value_' + conv.action_type;\n         processedData[key] = Number(conv.value) || 0;\n      });\n    }\n\n    // Processa métricas específicas de vídeo a partir de seus respectivos arrays de nível superior\n    if (adData.video_avg_time_watched_actions?.length) {\n      processedData.video_avg_time_watched = Number(adData.video_avg_time_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p25_watched_actions?.length) {\n      processedData.video_p25_watched = Number(adData.video_p25_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p50_watched_actions?.length) {\n      processedData.video_p50_watched = Number(adData.video_p50_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p75_watched_actions?.length) {\n      processedData.video_p75_watched = Number(adData.video_p75_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p95_watched_actions?.length) {\n      processedData.video_p95_watched = Number(adData.video_p95_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p100_watched_actions?.length) {\n      processedData.video_p100_watched = Number(adData.video_p100_watched_actions[0].value) || 0;\n    }\n    // Extrai video_play do array de nível superior video_play_actions\n    if (adData.video_play_actions?.length) {\n      processedData.video_play = Number(adData.video_play_actions[0].value) || 0;\n    }\n\n    // Processa métricas da curva de play de vídeo\n    if (adData.video_play_curve_actions?.length && Array.isArray(adData.video_play_curve_actions[0]?.value)) {\n      const curveMetrics = extractVideoWatchMetrics(adData.video_play_curve_actions[0].value, processedData.video_play);\n      Object.assign(processedData, curveMetrics);\n    } else {\n         const curveMetrics = extractVideoWatchMetrics([], 0);\n         Object.assign(processedData, curveMetrics);\n    }\n\n    // Garante que todos os campos numéricos sejam Number (redundante, mas seguro)\n    numericFields.forEach(field => {\n       if (processedData[field] !== undefined) {\n         processedData[field] = Number(processedData[field]) || 0;\n       }\n    });\n\n    return processedData;\n  });\n}\n\nconst outputData = processAdData(inputData);\n\n// Agrupamento e soma\nconst groupedData = {};\noutputData.forEach(item => {\n  const key = groupByFields.map(f => item[f]).join('|');\n  if (!groupedData[key]) {\n    groupedData[key] = { ...item };\n  } else {\n    numericFields.forEach(field => {\n      groupedData[key][field] = (groupedData[key][field] || 0) + (item[field] || 0);\n    });\n    // Soma os campos de ações dinamicamente adicionados\n    Object.keys(item)\n      .filter(k => k.startsWith('actions_'))\n      .forEach(k => {\n        groupedData[key][k] = (groupedData[key][k] || 0) + (item[k] || 0);\n      });\n    // Soma os campos de conversões dinamicamente adicionados (incluindo os de conversion values)\n    Object.keys(item)\n      .filter(k => k.startsWith('conversions_'))\n      .forEach(k => {\n        groupedData[key][k] = (groupedData[key][k] || 0) + (item[k] || 0);\n      });\n  }\n});\n\nconst finalResult = Object.values(groupedData);\nreturn finalResult.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,1088],"id":"b521a22d-b2d1-4661-bac0-6811c377b195","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"15d8bce4-7b4a-4f39-973e-7734fd984130","name":"query1","value":"=INSERT INTO {{ $('Execute: performance').first().json.db_name }}.`mc_ads_performance`(`date`,`date_start`,`date_stop`, `account_id`, `act_account_id`, `campaign_id`, `adset_id`, `ad_id`, `objective`, `optimization_goal`, `spend`, `impressions`, `clicks_all`, `reach`, `unique_clicks`, `link_click`, `landing_page_view`, `publisher_platform`, `platform_position`, `device_platform`, `impression_device`, `page_engagement`, `post_engagement`, `post_save`, `post_reaction`, `post_comment`, `post`, `post_like`, `messaging_total`, `messaging_conversation_started_7d`, `messaging_block`, `messaging_first_reply`, `messaging_2_message_send`, `messaging_3_message_send`, `messaging_5_message_send`, `contact`, `initiate_checkout`, `initiate_checkout_value`, `lead`, `purchase`, `purchase_value`, `add_to_cart`, `add_to_cart_value`, `complete_registration`, `view_content`, `subscriptions`, `schedule`, `video_avg_time_watched`, `video_p25_watched`, `video_p50_watched`, `video_p75_watched`, `video_p95_watched`, `video_p100_watched`, `video_play`, `video_2s_watched`, `video_3s_watched`,  `video_10s_watched`,  `video_15s_watched`,  `video_30s_watched`,  `video_60s_watched`\n) VALUES (\n'{{ $json.date_start }}',\n'{{ $json.date_start }}',\n'{{ $json.date_stop }}',\n{{ $json.account_id }},\n'act_{{ $json.account_id }}',\n{{ $json.campaign_id }},\n{{ $json.adset_id }},\n{{ $json.ad_id }},\n'{{ $json.objective }}',\n'{{ $json.optimization_goal }}',\n{{ $json.spend || 0 }},\n{{ $json.impressions || 0 }},\n{{ $json.clicks || 0 }},\n{{ $json.reach || 0 }},\n{{ $json.unique_clicks || 0 }},\n{{ $json.actions_link_click || 0 }},\n{{ $json.actions_landing_page_view || 0 }},\n'{{ $json.publisher_platform }}',\n'{{ $json.platform_position }}',\n'{{ $json.device_platform }}',\n'{{ $json.impression_device }}',\n{{ $json.actions_page_engagement || 0 }},\n{{ $json.actions_post_engagement || 0 }},\n{{ $json.actions_onsite_conversion_post_save || 0 }},\n{{ $json.actions_post_reaction || 0 }},\n{{ $json.actions_comment || 0 }},\n{{ $json.actions_post || 0 }},\n{{ $json.actions_like || 0 }},\n{{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n{{ $json.conversions_contact_total || 0 }},\n{{ $json.actions_initiate_checkout || 0 }},\n{{ $json.action_values_initiate_checkout || 0 }},\n{{ $json.actions_lead || 0 }},\n{{ $json.actions_purchase || 0 }},\n{{ $json.action_values_purchase || 0 }},\n{{ $json.action_add_to_cart || 0 }},\n{{ $json.action_values_add_to_cart || 0 }},\n{{ $json.actions_complete_registration || 0 }},\n{{ $json.actions_view_content || 0 }},\n{{ $json.actions_subscriptions || 0 }},\n{{ $json.actions_schedule || 0 }},\n{{ $json.video_avg_time_watched || 0 }},\n{{ $json.video_p25_watched || 0 }},\n{{ $json.video_p50_watched || 0 }},\n{{ $json.video_p75_watched || 0 }},\n{{ $json.video_p95_watched || 0 }},\n{{ $json.video_p100_watched || 0 }},\n{{ $json.video_play || 0 }},\n{{ $json.video_2s_watched || 0 }},\n{{ $json.video_view || 0 }},\n{{ $json.video_10s_watched || 0 }},\n{{ $json.video_15s_watched || 0 }},\n{{ $json.video_30s_watched || 0 }},\n{{ $json.video_60s_watched || 0 }}\n) ON DUPLICATE KEY UPDATE\n`date`='{{ $json.date_start }}',\n`date_start`='{{ $json.date_start }}',\n`date_stop`='{{ $json.date_stop }}',\n`account_id`={{ $json.account_id }},\n`act_account_id`='act_{{ $json.account_id }}',\n`campaign_id`={{ $json.campaign_id }},\n`adset_id`={{ $json.adset_id }},\n`ad_id`={{ $json.ad_id }},\n`objective`='{{ $json.objective }}',\n`optimization_goal`='{{ $json.optimization_goal }}',\n`spend`={{ $json.spend || 0 }},\n`impressions`={{ $json.impressions || 0 }},\n`clicks_all`={{ $json.clicks || 0 }},\n`reach`={{ $json.reach || 0 }},\n`unique_clicks`={{ $json.unique_clicks || 0 }},\n`link_click`={{ $json.actions_link_click || 0 }},\n`landing_page_view`={{ $json.actions_landing_page_view || 0 }},\n`publisher_platform`='{{ $json.publisher_platform }}',\n`platform_position`='{{ $json.platform_position }}',\n`device_platform`='{{ $json.device_platform }}',\n`impression_device`='{{ $json.impression_device }}',\n`page_engagement`={{ $json.actions_page_engagement || 0 }},\n`post_engagement`={{ $json.actions_post_engagement || 0 }},\n`post_save`={{ $json.actions_onsite_conversion_post_save || 0 }},\n`post_reaction`={{ $json.actions_post_reaction || 0 }},\n`post_comment`={{ $json.actions_comment || 0 }},\n`post`={{ $json.actions_post || 0 }},\n`post_like`={{ $json.actions_like || 0 }},\n`messaging_total`={{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n`messaging_conversation_started_7d`={{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n`messaging_block`={{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n`messaging_first_reply`={{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n`messaging_2_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n`messaging_3_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n`messaging_5_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n`contact`={{ $json.conversions_contact_total || 0 }},\n`initiate_checkout`={{ $json.actions_initiate_checkout || 0 }},\n`initiate_checkout_value`={{ $json.action_values_initiate_checkout || 0 }},\n`lead`={{ $json.actions_lead || 0 }},\n`purchase`={{ $json.actions_purchase || 0 }},\n`purchase_value`={{ $json.action_values_purchase || 0 }},\n`add_to_cart`={{ $json.action_add_to_cart || 0 }},\n`add_to_cart_value`={{ $json.action_values_add_to_cart || 0 }},\n`complete_registration`={{ $json.actions_complete_registration || 0 }},\n`view_content`={{ $json.actions_view_content || 0 }},\n`subscriptions`={{ $json.actions_subscriptions || 0 }},\n`schedule`={{ $json.actions_schedule || 0 }},\n`video_avg_time_watched`={{ $json.video_avg_time_watched || 0 }},\n`video_p25_watched`={{ $json.video_p25_watched || 0 }},\n`video_p50_watched`={{ $json.video_p50_watched || 0 }},\n`video_p75_watched`={{ $json.video_p75_watched || 0 }},\n`video_p95_watched`={{ $json.video_p95_watched || 0 }},\n`video_p100_watched`={{ $json.video_p100_watched || 0 }},\n`video_play`={{ $json.video_play || 0 }},\n`video_2s_watched`={{ $json.video_2s_watched || 0 }},\n`video_3s_watched`={{ $json.video_view || 0 }},\n`video_10s_watched`={{ $json.video_10s_watched || 0 }},\n`video_15s_watched`={{ $json.video_15s_watched || 0 }},\n`video_30s_watched`={{ $json.video_30s_watched || 0 }},\n`video_60s_watched`={{ $json.video_60s_watched || 0 }}\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1232],"id":"bccc6206-292c-42fd-843b-8fc6e32c1251","name":"query1"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query1 }}","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,1232],"id":"68ecab30-944b-49b3-bf3e-912a9947f211","name":"MySQL","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"39c94136-55e0-4e2c-b16e-e4a2dee4c5c7","leftValue":"={{ $json.video_play_actions[0].value.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"a18c8824-eec3-4e63-8428-eda76dcd49e0","leftValue":"={{ $json.video_play_actions[0].value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"456c0eee-fa42-4665-9def-30a5026ab1ed","leftValue":"={{ $('Execute: performance').item.json?.process_video_views }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,1520],"id":"29ba5055-9e95-4296-a9cf-22d0e332eb1a","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1792,1616],"id":"54028fcc-9900-4c2f-b6a1-e33aaebafa6e","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,1952],"id":"0f7560ac-a76d-4fb3-9a76-0419943dfc91","name":"No Operation, do nothing2"}],"connections":{"Execute: performance":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Execution Data1","type":"main","index":0}]]},"GET next-page":{"main":[[{"node":"next_page","type":"main","index":0},{"node":"data","type":"main","index":0}],[]]},"Switch":{"main":[[{"node":"Ad insights - date_preset","type":"main","index":0}],[{"node":"Ad insights - since-until2","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Ad insights - date_preset":{"main":[[{"node":"data","type":"main","index":0},{"node":"next_page","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"next_page":{"main":[[{"node":"If: next_page is NOT null","type":"main","index":0}]]},"If: next_page is NOT null":{"main":[[{"node":"GET next-page","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"data":{"main":[[{"node":"Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Execute ads_performance VIDEO","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Arruma dados","type":"main","index":0}]]},"Arruma dados":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Execute ads_performance VIDEO":{"main":[[]]},"Ad insights - since-until2":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"data","type":"main","index":0},{"node":"next_page","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Json com custom_conversions","type":"main","index":0}]]},"Json com custom_conversions":{"main":[[{"node":"query","type":"main","index":0}]]},"query":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL: SELECT custom_conversions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"MySQL: SELECT custom_conversions","type":"main","index":0}]]},"If: custom_conversion":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"query1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If: custom_conversion","type":"main","index":0}]]},"query1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","timeSavedMode":"fixed","binaryMode":"separate"},"staticData":{"node:Everyday at 3am":{"recurrenceRules":[]}},"meta":null,"versionId":"844f2684-39cd-4b7d-9f5e-c97ebbd3a30e","activeVersionId":"844f2684-39cd-4b7d-9f5e-c97ebbd3a30e","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:42.293Z","createdAt":"2026-01-06T04:13:42.293Z","role":"workflow:owner","workflowId":"oV0JEH16Uk9W7WGc","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-04T00:41:56.989Z","createdAt":"2026-04-04T00:41:55.121Z","versionId":"844f2684-39cd-4b7d-9f5e-c97ebbd3a30e","workflowId":"oV0JEH16Uk9W7WGc","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,1440],"id":"1e3c24a7-9fd9-41ee-919b-89f061806ac3","name":"Execute: performance"},{"parameters":{"url":"={{ $json[\"next_page\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,1728],"id":"4650a81b-6516-4009-aac2-91c6218b240b","name":"GET next-page","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json?.date_preset }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"b2bac7cf-87c3-4014-93d5-30714f54df4b"}],"combinator":"and"},"renameOutput":true,"outputKey":"date_preset"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46b14740-7579-470e-9b21-fcf6d577f86f","leftValue":"={{ $json?.since }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"since-until"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[224,1536],"id":"b16a95c2-b4bb-41e3-8772-efaa4a60c653","name":"Switch"},{"parameters":{"errorMessage":"Fallback"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[448,1744],"id":"fcab3d21-d3ef-41e1-a91e-bdd336c6bd40","name":"Stop and Error"},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"=500"},{"name":"date_preset","value":"={{ $json.date_preset }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"d17cb79b-f8b7-4586-8875-261ed822b39c","name":"Ad insights - date_preset","type":"n8n-nodes-base.facebookGraphApi","position":[448,1200],"typeVersion":1,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"dataToSave":{"values":[{"key":"=account_name","value":"={{ $json?.data[0]?.account_name || \"\" }}"},{"key":"account_id","value":"=act_{{ $json?.data[0]?.account_id || \"\" }}"},{"key":"=clicks","value":"={{ $json?.summary?.clicks || \"\" }}"},{"key":"=frequency","value":"={{ $json?.summary?.frequency || \"\" }}"},{"key":"=impressions","value":"={{ $json.summary.impressions || \"\" }}"},{"key":"=spend","value":"=R$ {{ $json.summary.spend.toNumber().format('pt-BR') || \"\" }}"},{"key":"=date_start","value":"={{ $json.summary.date_start || \"\" }}"},{"key":"=date_stop","value":"={{ $json.summary.date_stop || \"\" }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[672,976],"id":"018654d5-800b-4471-ad95-3f54ec7f950b","name":"Execution Data"},{"parameters":{"assignments":{"assignments":[{"id":"31c278de-0c37-438f-b66b-0787973d9baf","name":"next_page","value":"={{ ($json?.next_page || $json.paging?.next) || null }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,1728],"id":"21bbaca6-e780-4c03-af81-bd27dd459501","name":"next_page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd799f63-a755-4e32-8164-8cb0a175bd9c","leftValue":"={{ $json.next_page }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"a158311c-4906-4098-ba88-58a80596095a","leftValue":"={{ $json.next_page }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,1664],"id":"04159f0e-eba3-4954-8ec2-b938466dcea5","name":"If: next_page is NOT null"},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"34eb1879-e7c1-49a6-9b0d-f8aa2dc36e92","name":"data","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1344,1392],"executeOnce":false,"alwaysOutputData":false},{"parameters":{"dataToSave":{"values":[{"key":"=db_name","value":"={{ $json.db_name }}"},{"key":"=process_video_view","value":"={{ $json?.process_video_views.toString() }}"},{"key":"date_since","value":"={{ $json.since || $json.date_preset }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1,"position":[224,1344],"id":"9e2036ef-9779-4f11-ad09-3daa62cf8385","name":"Execution Data1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2240,1424],"id":"7f2423b0-4c8c-472f-a299-dbf62d5779cc","name":"Remove Duplicates"},{"parameters":{"workflowId":{"__rl":true,"value":"s3PvelLEYmyzgDaZ","mode":"list","cachedResultUrl":"/workflow/s3PvelLEYmyzgDaZ","cachedResultName":"[CTX] [MetaAds] ads_performance VIDEO (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2464,1424],"id":"6e00b1cb-0375-40b7-ac46-c52930785cb9","name":"Execute ads_performance VIDEO","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"fieldsToSummarize":{"values":[{"field":"video_play_actions[0].value"},{"aggregation":"max","field":"date_start"},{"aggregation":"max","field":"date_stop"}]},"fieldsToSplitBy":"ad_id","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1792,1424],"id":"9795ad21-a09b-4172-bd6a-f0db6d35fcd5","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"ba3ad4a1-e7dc-461a-beed-70a4cc5fc62e","name":"db_name","value":"={{ $('Execute: performance').item.json.db_name }}","type":"string"},{"id":"d78b7def-4508-46e1-b7cf-35bd0136091f","name":"act_account_id","value":"={{ $('Execute: performance').item.json.act_account_id }}","type":"string"},{"id":"684de0f2-988a-4fa7-a9c4-f3a0a089a2b7","name":"ad_id","value":"={{ $json.ad_id }}","type":"string"},{"id":"022396c5-4d24-4a9e-87d7-c2fdd4c0bb63","name":"since","value":"={{ $json.max_date_start }}","type":"string"},{"id":"b17f38d9-abcd-482a-87d5-2101448b5506","name":"until","value":"={{ $json.max_date_stop }}","type":"string"},{"id":"6c4d8ead-6de2-487b-be3a-6752090e4246","name":"time_increment","value":"={{ $('Execute: performance').item.json.time_increment }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1424],"id":"dcf79c94-46da-43b2-b537-90a69bb2e227","name":"Arruma dados"},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"50"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_range","value":"={'since':'2025-10-16'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"182110ed-24d5-4917-aa57-c647d94301e7","name":"Ad insights - since-until1","type":"n8n-nodes-base.facebookGraphApi","position":[0,1968],"typeVersion":1,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"100"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"time_range","value":"={'since':'{{ $json.since }}'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"9629df9b-55ca-4b0b-be30-dcf4da6ca604","name":"Ad insights - since-until2","type":"n8n-nodes-base.facebookGraphApi","position":[448,1552],"typeVersion":1,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.act_account_id }}","edge":"insights","options":{"queryParameters":{"parameter":[{"name":"level","value":"ad"},{"name":"fields","value":"=account_currency,\naccount_id,\naccount_name,\n\ncampaign_id,\ncampaign_name,\n\nadset_id,\nadset_name,\n\nad_id,\nad_name,\nad_click_actions,\nad_impression_actions,\n\nspend,\nimpressions,\nclicks,\nobjective,\nreach,\nactions, action_values,\nunique_clicks,\ndda_results,\noptimization_goal,\ncatalog_segment_actions,\nconversions,conversion_values,\n\nvideo_avg_time_watched_actions,\nvideo_p25_watched_actions,\nvideo_p50_watched_actions,\nvideo_p75_watched_actions,\nvideo_p95_watched_actions,\nvideo_p100_watched_actions,\nvideo_play_actions"},{"name":"limit","value":"50"},{"name":"time_increment","value":"={{ $json.time_increment }}"},{"name":"breakdowns","value":"=publisher_platform,platform_position,device_platform,impression_device"},{"name":"filtering","value":"[{field:\"ad.impressions\",operator:\"GREATER_THAN\",value:0}]"},{"name":"time_range","value":"={'since':'{{ $json.since }}'\n,'until':'{{ $json.until }}'}"},{"name":"summary","value":"clicks,frequency,impressions,spend"}]}}},"id":"8935b05d-9cb6-42f3-90a2-2653af7bbf5c","name":"Ad insights - since-until","type":"n8n-nodes-base.facebookGraphApi","position":[0,2192],"typeVersion":1,"retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"facebookGraphApi":{"id":"BbZcthAM21sIpE7i","name":"Facebook Graph Token Permanente"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query1 }}","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[3136,1024],"id":"915e88e7-eb6f-4620-b642-48df0c565fca","name":"MySQL1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"mode":"combineBySql","query":"SELECT i2.*, i1.data\n  FROM input2 as i2 LEFT JOIN input1 as i1 \n  "},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2464,1024],"id":"1d1f1ca0-bf88-4ccb-9393-f10bf64cabee","name":"Merge"},{"parameters":{"jsCode":"// 1. Pega o array de mapeamento da propriedade 'data' do primeiro item de entrada.\n// Assumimos que o nó Merge entregou um único item contendo a estrutura mostrada.\nconst mapping = items[0].json.data;\n\n// 2. Cria um lookup rápido por ID (string) a partir do array de mapeamento\nconst lookup = mapping.reduce((acc, cur) => {\n  // Garante que o ID é tratado como string para a comparação\n  acc[cur.id.toString()] = cur.name_normalize;\n  return acc;\n}, {});\n\n// 3. Prefixo que identifica os campos a renomear\nconst prefix = \"actions_offsite_conversion.custom.\";\n\n// 4. Processa cada item de entrada (agora com dados mesclados)\nconst newItems = items.map(item => {\n  // Faz uma cópia do JSON para não alterar o original\n  const metrics = { ...item.json };\n\n  // Remove a propriedade 'data' que contém o mapeamento, se não for mais necessária no output final\n  // Verifique se 'data' existe antes de tentar deletar\n  if (metrics.data !== undefined) {\n      delete metrics.data;\n  }\n\n  const dynamicColumns = [];\n  const dynamicValues = [];\n  const dynamicUpdateSetParts = [];\n\n  // Cria uma lista das chaves a serem removidas APÓS a iteração\n  const keysToDelete = [];\n\n  // Itera sobre todas as chaves no JSON de entrada\n  Object.keys(metrics).forEach(key => {\n    if (key.startsWith(prefix)) {\n      const id = key.slice(prefix.length);          // extrai \"1550197225663407\"\n      const normalizedName = lookup[id];            // encontra \"FGTS_Contact\", por ex.\n      const columnValue = metrics[key]==0?1:metrics[key];             // O valor da coluna\n\n      if (normalizedName) {\n        // Construa a nova chave com o prefixo e o nome normalizado\n        const newKey = prefix + normalizedName;\n\n        // Adiciona à lista de colunas (usando o nome normalizado para o SQL)\n        dynamicColumns.push(`\\`${normalizedName}\\``);\n\n        // Adiciona à lista de valores (tratando nulos para SQL)\n        dynamicValues.push(columnValue == null ? 'NULL' : columnValue);\n\n        // Adiciona à lista de partes do ON DUPLICATE KEY UPDATE (usando o nome normalizado para o SQL)\n        dynamicUpdateSetParts.push(`\\`${normalizedName}\\`=${columnValue == null ? 'NULL' : columnValue}`);\n\n        // Adiciona o novo campo com a chave formatada corretamente ao objeto metrics\n        metrics[newKey] = columnValue;\n\n        // Marca a chave original para ser deletada após o loop\n        keysToDelete.push(key);\n      } else {\n          // Opcional: Se um ID não for encontrado no mapeamento, você pode querer mantê-lo\n          // ou tratá-lo de alguma forma. Por enquanto, ele será mantido no JSON\n          // e não será incluído nas strings dinâmicas.\n      }\n    }\n  });\n\n  // Remove as chaves originais que foram processadas\n  keysToDelete.forEach(key => {\n      delete metrics[key];\n  });\n\n\n  // Junta as partes em strings separadas por vírgula\n  const dynamicColumnsString = dynamicColumns.join(', ');\n  const dynamicValuesString = dynamicValues.join(', ');\n  const dynamicUpdateSetString = dynamicUpdateSetParts.join(', ');\n\n  // Adiciona as strings geradas DIRETAMENTE AO OBJETO metrics\n  // Elas estarão disponíveis para o próximo nó (MySQL)\n  metrics.dynamicColumns = dynamicColumnsString;\n  metrics.dynamicValues = dynamicValuesString;\n  metrics.dynamicUpdateSet = dynamicUpdateSetString;\n\n  // Retorna o item com o objeto metrics modificado\n  return { json: metrics };\n});\n\n// 5. Retorna os itens processados\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1024],"id":"b712b91a-60d7-44ad-99d6-445f37e1f81f","name":"Json com custom_conversions"},{"parameters":{"assignments":{"assignments":[{"id":"15d8bce4-7b4a-4f39-973e-7734fd984130","name":"query1","value":"=INSERT INTO {{ $('Execute: performance').first().json.db_name }}.`mc_ads_performance`(`date`,`date_start`,`date_stop`, `account_id`, `act_account_id`, `campaign_id`, `adset_id`, `ad_id`, `objective`, `optimization_goal`, `spend`, `impressions`, `clicks_all`, `reach`, `unique_clicks`, `link_click`, `landing_page_view`, `publisher_platform`, `platform_position`, `device_platform`, `impression_device`, `page_engagement`, `post_engagement`, `post_save`, `post_reaction`, `post_comment`, `post`, `post_like`, `messaging_total`, `messaging_conversation_started_7d`, `messaging_block`, `messaging_first_reply`, `messaging_2_message_send`, `messaging_3_message_send`, `messaging_5_message_send`, `contact`, `initiate_checkout`, `initiate_checkout_value`, `lead`, `purchase`, `purchase_value`, `add_to_cart`, `add_to_cart_value`, `complete_registration`, `view_content`, `subscriptions`, `schedule`, `video_avg_time_watched`, `video_p25_watched`, `video_p50_watched`, `video_p75_watched`, `video_p95_watched`, `video_p100_watched`, `video_play`, `video_2s_watched`, `video_3s_watched`,  `video_10s_watched`,  `video_15s_watched`,  `video_30s_watched`,  `video_60s_watched`\n{{ $json.dynamicColumns ? ', ' + $json.dynamicColumns : '' /* Adiciona colunas dinâmicas */}}\n) VALUES (\n'{{ $json.date_start }}',\n'{{ $json.date_start }}',\n'{{ $json.date_stop }}',\n{{ $json.account_id }},\n'act_{{ $json.account_id }}',\n{{ $json.campaign_id }},\n{{ $json.adset_id }},\n{{ $json.ad_id }},\n'{{ $json.objective }}',\n'{{ $json.optimization_goal }}',\n{{ $json.spend || 0 }},\n{{ $json.impressions || 0 }},\n{{ $json.clicks || 0 }},\n{{ $json.reach || 0 }},\n{{ $json.unique_clicks || 0 }},\n{{ $json.actions_link_click || 0 }},\n{{ $json.actions_landing_page_view || 0 }},\n'{{ $json.publisher_platform }}',\n'{{ $json.platform_position }}',\n'{{ $json.device_platform }}',\n'{{ $json.impression_device }}',\n{{ $json.actions_page_engagement || 0 }},\n{{ $json.actions_post_engagement || 0 }},\n{{ $json.actions_onsite_conversion_post_save || 0 }},\n{{ $json.actions_post_reaction || 0 }},\n{{ $json.actions_comment || 0 }},\n{{ $json.actions_post || 0 }},\n{{ $json.actions_like || 0 }},\n{{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n{{ $json.contact_total || 0 }},\n{{ $json.actions_initiate_checkout || 0 }},\n{{ $json.action_values_initiate_checkout || 0 }},\n{{ $json.actions_lead || 0 }},\n{{ $json.actions_purchase || 0 }},\n{{ $json.action_values_purchase || 0 }},\n{{ $json.action_add_to_cart || 0 }},\n{{ $json.action_values_add_to_cart || 0 }},\n{{ $json.actions_complete_registration || 0 }},\n{{ $json.actions_view_content || 0 }},\n{{ $json.actions_subscriptions || 0 }},\n{{ $json.actions_schedule || 0 }},\n{{ $json.video_avg_time_watched || 0 }},\n{{ $json.video_p25_watched || 0 }},\n{{ $json.video_p50_watched || 0 }},\n{{ $json.video_p75_watched || 0 }},\n{{ $json.video_p95_watched || 0 }},\n{{ $json.video_p100_watched || 0 }},\n{{ $json.video_play || 0 }},\n{{ $json.video_2s_watched || 0 }},\n{{ $json.video_view || 0 }},\n{{ $json.video_10s_watched || 0 }},\n{{ $json.video_15s_watched || 0 }},\n{{ $json.video_30s_watched || 0 }},\n{{ $json.video_60s_watched || 0 }}\n{{ $json.dynamicValues ? ', ' + $json.dynamicValues : '' /* Adiciona valores dinâmicos */}}\n) ON DUPLICATE KEY UPDATE\n`date`='{{ $json.date_start }}',\n`date_start`='{{ $json.date_start }}',\n`date_stop`='{{ $json.date_stop }}',\n`account_id`={{ $json.account_id }},\n`act_account_id`='act_{{ $json.account_id }}',\n`campaign_id`={{ $json.campaign_id }},\n`adset_id`={{ $json.adset_id }},\n`ad_id`={{ $json.ad_id }},\n`objective`='{{ $json.objective }}',\n`optimization_goal`='{{ $json.optimization_goal }}',\n`spend`={{ $json.spend || 0 }},\n`impressions`={{ $json.impressions || 0 }},\n`clicks_all`={{ $json.clicks || 0 }},\n`reach`={{ $json.reach || 0 }},\n`unique_clicks`={{ $json.unique_clicks || 0 }},\n`link_click`={{ $json.actions_link_click || 0 }},\n`landing_page_view`={{ $json.actions_landing_page_view || 0 }},\n`publisher_platform`='{{ $json.publisher_platform }}',\n`platform_position`='{{ $json.platform_position }}',\n`device_platform`='{{ $json.device_platform }}',\n`impression_device`='{{ $json.impression_device }}',\n`page_engagement`={{ $json.actions_page_engagement || 0 }},\n`post_engagement`={{ $json.actions_post_engagement || 0 }},\n`post_save`={{ $json.actions_onsite_conversion_post_save || 0 }},\n`post_reaction`={{ $json.actions_post_reaction || 0 }},\n`post_comment`={{ $json.actions_comment || 0 }},\n`post`={{ $json.actions_post || 0 }},\n`post_like`={{ $json.actions_like || 0 }},\n`messaging_total`={{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n`messaging_conversation_started_7d`={{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n`messaging_block`={{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n`messaging_first_reply`={{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n`messaging_2_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n`messaging_3_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n`messaging_5_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n`contact`={{ $json.contact_total || 0 }},\n`initiate_checkout`={{ $json.actions_initiate_checkout || 0 }},\n`initiate_checkout_value`={{ $json.action_values_initiate_checkout || 0 }},\n`lead`={{ $json.actions_lead || 0 }},\n`purchase`={{ $json.actions_purchase || 0 }},\n`purchase_value`={{ $json.action_values_purchase || 0 }},\n`add_to_cart`={{ $json.action_add_to_cart || 0 }},\n`add_to_cart_value`={{ $json.action_values_add_to_cart || 0 }},\n`complete_registration`={{ $json.actions_complete_registration || 0 }},\n`view_content`={{ $json.actions_view_content || 0 }},\n`subscriptions`={{ $json.actions_subscriptions || 0 }},\n`schedule`={{ $json.actions_schedule || 0 }},\n`video_avg_time_watched`={{ $json.video_avg_time_watched || 0 }},\n`video_p25_watched`={{ $json.video_p25_watched || 0 }},\n`video_p50_watched`={{ $json.video_p50_watched || 0 }},\n`video_p75_watched`={{ $json.video_p75_watched || 0 }},\n`video_p95_watched`={{ $json.video_p95_watched || 0 }},\n`video_p100_watched`={{ $json.video_p100_watched || 0 }},\n`video_play`={{ $json.video_play || 0 }},\n`video_2s_watched`={{ $json.video_2s_watched || 0 }},\n`video_3s_watched`={{ $json.video_view || 0 }},\n`video_10s_watched`={{ $json.video_10s_watched || 0 }},\n`video_15s_watched`={{ $json.video_15s_watched || 0 }},\n`video_30s_watched`={{ $json.video_30s_watched || 0 }},\n`video_60s_watched`={{ $json.video_60s_watched || 0 }}\n  {{ $json.dynamicUpdateSet ? ', ' + $json.dynamicUpdateSet : '' /* Adiciona as partes dinâmicas do UPDATE */}}\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,1024],"id":"f80ee877-0d15-453e-9120-0c5b223e1a55","name":"query"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT `id`,`name_normalize` FROM {{ $('Execute: performance').first().json.db_name }}.`mc_custom_conversions`\nWHERE `is_archived`='false'","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,944],"id":"33bdc0c3-12cb-4b01-9b28-410b515c3472","name":"MySQL: SELECT custom_conversions","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2016,944],"id":"be2f30ed-c450-4498-95f5-2a5fb6b2199f","name":"No Operation, do nothing","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca864b1f-5183-4364-bf5b-0ef57ff7016c","leftValue":"={{ Object.keys($json).some(key => key.includes('actions_offsite_conversion.custom.')) }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,1088],"id":"dcf09bce-3cca-40b1-ab17-2b54847cd765","name":"If: custom_conversion"},{"parameters":{"jsCode":"const rawItems = $input.all();\nlet inputData = rawItems.map(item => item.json);\n\n// Campos numéricos para soma/agregação\nconst numericFields = [\n  'spend', 'impressions', 'clicks_all', 'reach', 'unique_clicks', 'link_click', 'landing_page_view',\n  'page_engagement', 'post_engagement', 'post_save', 'post_share', 'post_reaction', 'post_comment', 'post', 'post_like',\n  'messaging_total', 'messaging_conversation_started_7d', 'messaging_block', 'messaging_first_reply',\n  'messaging_2_message_send', 'messaging_3_message_send', 'messaging_5_message_send', 'contact',\n  'initiate_checkout', 'initiate_checkout_value', 'lead', 'purchase', 'purchase_value', 'add_to_cart',\n  'add_to_cart_value', 'complete_registration', 'view_content', 'subscriptions', 'schedule',\n  'video_avg_time_watched', 'video_p25_watched', 'video_p50_watched', 'video_p75_watched',\n  'video_p95_watched', 'video_p100_watched', 'video_play', 'video_view', 'clicks',\n  // métricas adicionais de vídeo (agora calculadas como número absoluto)\n  'video_2s_watched',\n  'video_10s_watched',\n  'video_15s_watched',\n  'video_30s_watched',\n  'video_60s_watched'\n];\n\nconst groupByFields = [\n  'account_id', 'campaign_id', 'account_name', 'account_currency', 'adset_id', 'ad_id',\n  'date_start', 'date_stop', 'publisher_platform', 'platform_position', 'device_platform',\n  'impression_device', 'optimization_goal', 'objective'\n];\n\n// Extrai percentuais da curva de play de vídeo e calcula o número absoluto\nfunction extractVideoWatchMetrics(curveValues, totalVideoPlays) {\n  const indexMap = {\n    video_2s_watched: 2,    // segundo 2\n    video_10s_watched: 10,  // segundo 10\n    video_15s_watched: 15,  // [15,20)\n    video_30s_watched: 18,  // [30,40)\n    video_60s_watched: 21   // >60s\n  };\n  const metrics = {};\n  // Garante que totalVideoPlays seja um número válido, caso contrário, usa 0\n  const validTotalVideoPlays = typeof totalVideoPlays === 'number' && !isNaN(totalVideoPlays) ? totalVideoPlays : 0;\n\n  if (Array.isArray(curveValues) && validTotalVideoPlays > 0) {\n      for (const [key, idx] of Object.entries(indexMap)) {\n          const percentage = curveValues[idx];\n          const numPercentage = typeof percentage === 'string' ? parseFloat(percentage) : percentage;\n          if (idx >= 0 && idx < curveValues.length && typeof numPercentage === 'number' && !isNaN(numPercentage)) {\n              metrics[key] = Math.round((numPercentage / 100) * validTotalVideoPlays);\n          } else {\n              metrics[key] = 0;\n          }\n      }\n  } else {\n       for (const [key, idx] of Object.entries(indexMap)) {\n           metrics[key] = 0;\n       }\n  }\n  return metrics;\n}\n\nfunction processAdData(data) {\n  return data.map(item => {\n    const adData = item;\n    const actions = adData.actions || [];\n    const processedData = {\n      account_currency: adData.account_currency,\n      account_id: adData.account_id,\n      account_name: adData.account_name,\n      campaign_id: adData.campaign_id,\n      campaign_name: adData.campaign_name,\n      adset_id: adData.adset_id,\n      adset_name: adData.adset_name,\n      ad_id: adData.ad_id,\n      ad_name: adData.ad_name,\n      objective: adData.objective,\n      optimization_goal: adData.optimization_goal,\n      date_start: adData.date_start,\n      date_stop: adData.date_stop,\n      publisher_platform: adData.publisher_platform,\n      platform_position: adData.platform_position,\n      device_platform: adData.device_platform,\n      impression_device: adData.impression_device,\n      \n      // Inicializa todos os campos numéricos para 0\n      spend: 0,\n      impressions: 0,\n      clicks: 0,\n      reach: 0,\n      unique_clicks: 0,\n      video_view: 0,\n      video_avg_time_watched: 0,\n      video_p25_watched: 0,\n      video_p50_watched: 0,\n      video_p75_watched: 0,\n      video_p95_watched: 0,\n      video_p100_watched: 0,\n      video_play: 0,\n      video_2s_watched: 0,\n      video_10s_watched: 0,\n      video_15s_watched: 0,\n      video_30s_watched: 0,\n      video_60s_watched: 0,\n    };\n\n    // Processa campos numéricos de nível superior (se existirem)\n    numericFields.forEach(field => {\n        if (adData[field] !== undefined) {\n            processedData[field] = Number(adData[field]) || 0;\n        }\n    });\n\n    // Processa ações\n    actions.forEach(action => {\n      const key = 'actions_' + action.action_type;\n      processedData[key] = Number(action.value) || 0;\n      if (action.action_type === 'video_view') {\n          processedData.video_view = Number(action.value) || 0;\n      }\n    });\n\n    // Processa conversões (se existirem)\n    if (Array.isArray(adData.conversions)) {\n      adData.conversions.forEach(conversion => {\n         const key = 'conversions_' + conversion.action_type;\n         processedData[key] = Number(conversion.value) || 0;\n      });\n    }\n    // Processa os valores das conversões, se existirem\n    if (Array.isArray(adData.conversions_values)) {\n      adData.conversions_values.forEach(conv => {\n         const key = 'conversions_value_' + conv.action_type;\n         processedData[key] = Number(conv.value) || 0;\n      });\n    }\n\n    // Processa métricas específicas de vídeo a partir de seus respectivos arrays de nível superior\n    if (adData.video_avg_time_watched_actions?.length) {\n      processedData.video_avg_time_watched = Number(adData.video_avg_time_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p25_watched_actions?.length) {\n      processedData.video_p25_watched = Number(adData.video_p25_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p50_watched_actions?.length) {\n      processedData.video_p50_watched = Number(adData.video_p50_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p75_watched_actions?.length) {\n      processedData.video_p75_watched = Number(adData.video_p75_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p95_watched_actions?.length) {\n      processedData.video_p95_watched = Number(adData.video_p95_watched_actions[0].value) || 0;\n    }\n    if (adData.video_p100_watched_actions?.length) {\n      processedData.video_p100_watched = Number(adData.video_p100_watched_actions[0].value) || 0;\n    }\n    // Extrai video_play do array de nível superior video_play_actions\n    if (adData.video_play_actions?.length) {\n      processedData.video_play = Number(adData.video_play_actions[0].value) || 0;\n    }\n\n    // Processa métricas da curva de play de vídeo\n    if (adData.video_play_curve_actions?.length && Array.isArray(adData.video_play_curve_actions[0]?.value)) {\n      const curveMetrics = extractVideoWatchMetrics(adData.video_play_curve_actions[0].value, processedData.video_play);\n      Object.assign(processedData, curveMetrics);\n    } else {\n         const curveMetrics = extractVideoWatchMetrics([], 0);\n         Object.assign(processedData, curveMetrics);\n    }\n\n    // Garante que todos os campos numéricos sejam Number (redundante, mas seguro)\n    numericFields.forEach(field => {\n       if (processedData[field] !== undefined) {\n         processedData[field] = Number(processedData[field]) || 0;\n       }\n    });\n\n    return processedData;\n  });\n}\n\nconst outputData = processAdData(inputData);\n\n// Agrupamento e soma\nconst groupedData = {};\noutputData.forEach(item => {\n  const key = groupByFields.map(f => item[f]).join('|');\n  if (!groupedData[key]) {\n    groupedData[key] = { ...item };\n  } else {\n    numericFields.forEach(field => {\n      groupedData[key][field] = (groupedData[key][field] || 0) + (item[field] || 0);\n    });\n    // Soma os campos de ações dinamicamente adicionados\n    Object.keys(item)\n      .filter(k => k.startsWith('actions_'))\n      .forEach(k => {\n        groupedData[key][k] = (groupedData[key][k] || 0) + (item[k] || 0);\n      });\n    // Soma os campos de conversões dinamicamente adicionados (incluindo os de conversion values)\n    Object.keys(item)\n      .filter(k => k.startsWith('conversions_'))\n      .forEach(k => {\n        groupedData[key][k] = (groupedData[key][k] || 0) + (item[k] || 0);\n      });\n  }\n});\n\nconst finalResult = Object.values(groupedData);\nreturn finalResult.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,1088],"id":"b521a22d-b2d1-4661-bac0-6811c377b195","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"15d8bce4-7b4a-4f39-973e-7734fd984130","name":"query1","value":"=INSERT INTO {{ $('Execute: performance').first().json.db_name }}.`mc_ads_performance`(`date`,`date_start`,`date_stop`, `account_id`, `act_account_id`, `campaign_id`, `adset_id`, `ad_id`, `objective`, `optimization_goal`, `spend`, `impressions`, `clicks_all`, `reach`, `unique_clicks`, `link_click`, `landing_page_view`, `publisher_platform`, `platform_position`, `device_platform`, `impression_device`, `page_engagement`, `post_engagement`, `post_save`, `post_reaction`, `post_comment`, `post`, `post_like`, `messaging_total`, `messaging_conversation_started_7d`, `messaging_block`, `messaging_first_reply`, `messaging_2_message_send`, `messaging_3_message_send`, `messaging_5_message_send`, `contact`, `initiate_checkout`, `initiate_checkout_value`, `lead`, `purchase`, `purchase_value`, `add_to_cart`, `add_to_cart_value`, `complete_registration`, `view_content`, `subscriptions`, `schedule`, `video_avg_time_watched`, `video_p25_watched`, `video_p50_watched`, `video_p75_watched`, `video_p95_watched`, `video_p100_watched`, `video_play`, `video_2s_watched`, `video_3s_watched`,  `video_10s_watched`,  `video_15s_watched`,  `video_30s_watched`,  `video_60s_watched`\n) VALUES (\n'{{ $json.date_start }}',\n'{{ $json.date_start }}',\n'{{ $json.date_stop }}',\n{{ $json.account_id }},\n'act_{{ $json.account_id }}',\n{{ $json.campaign_id }},\n{{ $json.adset_id }},\n{{ $json.ad_id }},\n'{{ $json.objective }}',\n'{{ $json.optimization_goal }}',\n{{ $json.spend || 0 }},\n{{ $json.impressions || 0 }},\n{{ $json.clicks || 0 }},\n{{ $json.reach || 0 }},\n{{ $json.unique_clicks || 0 }},\n{{ $json.actions_link_click || 0 }},\n{{ $json.actions_landing_page_view || 0 }},\n'{{ $json.publisher_platform }}',\n'{{ $json.platform_position }}',\n'{{ $json.device_platform }}',\n'{{ $json.impression_device }}',\n{{ $json.actions_page_engagement || 0 }},\n{{ $json.actions_post_engagement || 0 }},\n{{ $json.actions_onsite_conversion_post_save || 0 }},\n{{ $json.actions_post_reaction || 0 }},\n{{ $json.actions_comment || 0 }},\n{{ $json.actions_post || 0 }},\n{{ $json.actions_like || 0 }},\n{{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n{{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n{{ $json.conversions_contact_total || 0 }},\n{{ $json.actions_initiate_checkout || 0 }},\n{{ $json.action_values_initiate_checkout || 0 }},\n{{ $json.actions_lead || 0 }},\n{{ $json.actions_purchase || 0 }},\n{{ $json.action_values_purchase || 0 }},\n{{ $json.action_add_to_cart || 0 }},\n{{ $json.action_values_add_to_cart || 0 }},\n{{ $json.actions_complete_registration || 0 }},\n{{ $json.actions_view_content || 0 }},\n{{ $json.actions_subscriptions || 0 }},\n{{ $json.actions_schedule || 0 }},\n{{ $json.video_avg_time_watched || 0 }},\n{{ $json.video_p25_watched || 0 }},\n{{ $json.video_p50_watched || 0 }},\n{{ $json.video_p75_watched || 0 }},\n{{ $json.video_p95_watched || 0 }},\n{{ $json.video_p100_watched || 0 }},\n{{ $json.video_play || 0 }},\n{{ $json.video_2s_watched || 0 }},\n{{ $json.video_view || 0 }},\n{{ $json.video_10s_watched || 0 }},\n{{ $json.video_15s_watched || 0 }},\n{{ $json.video_30s_watched || 0 }},\n{{ $json.video_60s_watched || 0 }}\n) ON DUPLICATE KEY UPDATE\n`date`='{{ $json.date_start }}',\n`date_start`='{{ $json.date_start }}',\n`date_stop`='{{ $json.date_stop }}',\n`account_id`={{ $json.account_id }},\n`act_account_id`='act_{{ $json.account_id }}',\n`campaign_id`={{ $json.campaign_id }},\n`adset_id`={{ $json.adset_id }},\n`ad_id`={{ $json.ad_id }},\n`objective`='{{ $json.objective }}',\n`optimization_goal`='{{ $json.optimization_goal }}',\n`spend`={{ $json.spend || 0 }},\n`impressions`={{ $json.impressions || 0 }},\n`clicks_all`={{ $json.clicks || 0 }},\n`reach`={{ $json.reach || 0 }},\n`unique_clicks`={{ $json.unique_clicks || 0 }},\n`link_click`={{ $json.actions_link_click || 0 }},\n`landing_page_view`={{ $json.actions_landing_page_view || 0 }},\n`publisher_platform`='{{ $json.publisher_platform }}',\n`platform_position`='{{ $json.platform_position }}',\n`device_platform`='{{ $json.device_platform }}',\n`impression_device`='{{ $json.impression_device }}',\n`page_engagement`={{ $json.actions_page_engagement || 0 }},\n`post_engagement`={{ $json.actions_post_engagement || 0 }},\n`post_save`={{ $json.actions_onsite_conversion_post_save || 0 }},\n`post_reaction`={{ $json.actions_post_reaction || 0 }},\n`post_comment`={{ $json.actions_comment || 0 }},\n`post`={{ $json.actions_post || 0 }},\n`post_like`={{ $json.actions_like || 0 }},\n`messaging_total`={{ $json['actions_onsite_conversion.total_messaging_connection'] || 0 }},\n`messaging_conversation_started_7d`={{ $json['actions_onsite_conversion.messaging_conversation_started_7d'] || 0 }},\n`messaging_block`={{ $json['actions_onsite_conversion.messaging_block'] || 0 }},\n`messaging_first_reply`={{ $json['actions_onsite_conversion.messaging_first_reply'] || 0 }},\n`messaging_2_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_2_message_send'] || 0 }},\n`messaging_3_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_3_message_send'] || 0 }},\n`messaging_5_message_send`={{ $json['actions_onsite_conversion.messaging_user_depth_5_message_send'] || 0 }},\n`contact`={{ $json.conversions_contact_total || 0 }},\n`initiate_checkout`={{ $json.actions_initiate_checkout || 0 }},\n`initiate_checkout_value`={{ $json.action_values_initiate_checkout || 0 }},\n`lead`={{ $json.actions_lead || 0 }},\n`purchase`={{ $json.actions_purchase || 0 }},\n`purchase_value`={{ $json.action_values_purchase || 0 }},\n`add_to_cart`={{ $json.action_add_to_cart || 0 }},\n`add_to_cart_value`={{ $json.action_values_add_to_cart || 0 }},\n`complete_registration`={{ $json.actions_complete_registration || 0 }},\n`view_content`={{ $json.actions_view_content || 0 }},\n`subscriptions`={{ $json.actions_subscriptions || 0 }},\n`schedule`={{ $json.actions_schedule || 0 }},\n`video_avg_time_watched`={{ $json.video_avg_time_watched || 0 }},\n`video_p25_watched`={{ $json.video_p25_watched || 0 }},\n`video_p50_watched`={{ $json.video_p50_watched || 0 }},\n`video_p75_watched`={{ $json.video_p75_watched || 0 }},\n`video_p95_watched`={{ $json.video_p95_watched || 0 }},\n`video_p100_watched`={{ $json.video_p100_watched || 0 }},\n`video_play`={{ $json.video_play || 0 }},\n`video_2s_watched`={{ $json.video_2s_watched || 0 }},\n`video_3s_watched`={{ $json.video_view || 0 }},\n`video_10s_watched`={{ $json.video_10s_watched || 0 }},\n`video_15s_watched`={{ $json.video_15s_watched || 0 }},\n`video_30s_watched`={{ $json.video_30s_watched || 0 }},\n`video_60s_watched`={{ $json.video_60s_watched || 0 }}\n;","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1232],"id":"bccc6206-292c-42fd-843b-8fc6e32c1251","name":"query1"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query1 }}","options":{"connectionTimeoutMillis":300,"connectionLimit":30,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2240,1232],"id":"68ecab30-944b-49b3-bf3e-912a9947f211","name":"MySQL","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"39c94136-55e0-4e2c-b16e-e4a2dee4c5c7","leftValue":"={{ $json.video_play_actions[0].value.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"a18c8824-eec3-4e63-8428-eda76dcd49e0","leftValue":"={{ $json.video_play_actions[0].value }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"456c0eee-fa42-4665-9def-30a5026ab1ed","leftValue":"={{ $('Execute: performance').item.json?.process_video_views }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,1520],"id":"29ba5055-9e95-4296-a9cf-22d0e332eb1a","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1792,1616],"id":"54028fcc-9900-4c2f-b6a1-e33aaebafa6e","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1008,1952],"id":"0f7560ac-a76d-4fb3-9a76-0419943dfc91","name":"No Operation, do nothing2"}],"connections":{"Execute: performance":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Execution Data1","type":"main","index":0}]]},"GET next-page":{"main":[[{"node":"next_page","type":"main","index":0},{"node":"data","type":"main","index":0}],[]]},"Switch":{"main":[[{"node":"Ad insights - date_preset","type":"main","index":0}],[{"node":"Ad insights - since-until2","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Ad insights - date_preset":{"main":[[{"node":"data","type":"main","index":0},{"node":"next_page","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"next_page":{"main":[[{"node":"If: next_page is NOT null","type":"main","index":0}]]},"If: next_page is NOT null":{"main":[[{"node":"GET next-page","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"data":{"main":[[{"node":"Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Execute ads_performance VIDEO","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Arruma dados","type":"main","index":0}]]},"Arruma dados":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Execute ads_performance VIDEO":{"main":[[]]},"Ad insights - since-until2":{"main":[[{"node":"Execution Data","type":"main","index":0},{"node":"data","type":"main","index":0},{"node":"next_page","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Json com custom_conversions","type":"main","index":0}]]},"Json com custom_conversions":{"main":[[{"node":"query","type":"main","index":0}]]},"query":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL: SELECT custom_conversions":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"MySQL: SELECT custom_conversions","type":"main","index":0}]]},"If: custom_conversion":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"query1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If: custom_conversion","type":"main","index":0}]]},"query1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 844f2684","description":"","autosaved":true},"tags":[]}