workflows/P81ny9344i6Zc52y.json
{"updatedAt":"2026-04-28T12:23:54.613Z","createdAt":"2026-04-18T15:01:00.307Z","id":"P81ny9344i6Zc52y","name":"[AUAU] [BRUNA] Guarda Transcrição da Conversa","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"Transcrição da conversa Powered by Chatwoot","sender":"Ricardo Fiorelli de ctxvendas <assessoria@convertix.digital>"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,288],"id":"3235d038-bde1-47f4-9679-b770ee045037","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}},"disabled":true},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,192],"id":"3e8cc975-d5a3-47a0-99b1-2e2ed65d72e4","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"f1e8cc95-f5ac-4751-94ba-33babb305895","name":"text","value":"={{ $json.text.replaceAll(\"Ricardo Fiorelli\",\"Agente: Julia Gabriela\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,192],"id":"b0169521-1bce-4679-826a-94317d466570","name":"Edit Fields"},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,384],"id":"d2546d39-0e51-4412-9fd0-ca58b0b11568","name":"Delete a message","webhookId":"4c3dddc3-27cf-4da7-a7b3-520401748fcd","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"name":"={{ $('Gmail Trigger').item.json.subject }}.txt","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,192],"id":"6397f4eb-cd71-49aa-b8ed-4ff7007da22b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"httpMethod":"POST","path":"auau-chatwoot-transcricao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"ac5922a3-1af2-4382-a3fa-55cec172590c","name":"Webhook","webhookId":"4283b071-b1fb-4d5e-8afe-208b7a749d5e"},{"parameters":{"operation":"toText","sourceProperty":"=text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2448,-112],"id":"88de4855-b9a9-4423-9eeb-788642a0b93a","name":"Convert to File1"},{"parameters":{"name":"=[AUAU] {{ $now.format('yyyy-MM-dd') }} [#{{ $('Webhook').item.json.body.messages[0].conversation_id }}] Transcrição da Conversa {{ $('Webhook').item.json.body.meta.sender.name }}.json","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1hm9x4SmaZEl8vcU3H7bMFIStEEd5Mt5u","mode":"list","cachedResultName":"[AUAU] Transcrição conversas","cachedResultUrl":"https://drive.google.com/drive/folders/1hm9x4SmaZEl8vcU3H7bMFIStEEd5Mt5u"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2672,-112],"id":"31d5a9b3-c05e-4bd0-ac43-f81ac047e361","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b69f7b2-4749-419e-a362-b1818f735f29","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_inbox.contact_id }}","type":"number"},{"id":"06fa8dbf-e4e4-414f-b96e-a5e894440578","name":"conversation_id","value":"={{ $('Webhook').item.json.body.messages[0].conversation_id }}","type":"number"},{"id":"8794cb40-989c-4651-9cbc-cf0a332f20c2","name":"labels","value":"={{ $('Webhook').item.json.body.labels.toJsonString() }}","type":"string"},{"id":"9d4cac01-0fa9-4621-ae95-9a9e743932fa","name":"lead_name","value":"={{ $('Webhook').item.json.body.meta.sender.name }}","type":"string"},{"id":"ff29556a-55d0-49ed-a7fa-41682388581e","name":"lead_phone","value":"={{ $('Webhook').item.json.body.meta.sender.phone_number }}","type":"string"},{"id":"73cee0c8-6c2f-4065-8246-81986f3874a4","name":"account_id","value":"={{ $('Webhook').item.json.body.messages[0].account_id }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-112],"id":"88ef3526-15b2-4963-9d3c-e3416bff8feb","name":"Dados do Lead"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,-112],"id":"41b7aa4a-6dd3-44cf-9b12-15912ec31f6d","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"wGoIefUUmutlAaKW","mode":"list","cachedResultUrl":"/workflow/wGoIefUUmutlAaKW","cachedResultName":"[AUAU] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"processar_IA":true,"account_id":"={{ $json.body.messages[0].account_id }}","conversation_id":"={{ $json.body.messages[0].conversation_id }}","qtd_messages":120,"nome_agente":"Bruna Auau"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"qtd_messages","displayName":"qtd_messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"nome_agente","displayName":"nome_agente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,-112],"id":"04b6b15f-c052-4304-af24-2c906fb020c9","name":"Gera Resumo Histórico Longo"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Dados do Lead').item.json.account_id }}/conversations/{{ $('Dados do Lead').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Conversa transcrita pela Bruna para auto-aprendizado.\",\n  \"message_type\": \"outgoing\",\n  \"private\": true,\n  \"content_type\": \"text\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2896,-112],"id":"cf3803a8-b8b9-4993-968e-9d92614ff2f0","name":"message","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_historico_leads","mode":"list","cachedResultName":"bruna_historico_leads"},"limit":20,"where":{"values":[{"column":"phone","condition":"LIKE","value":"=%{{ $json.lead_phone.slice(-8) }}%"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1552,-48],"id":"5565ff1b-3c2c-44c9-95e2-6468157f08fd","name":"History1","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_memoria_leads","mode":"list","cachedResultName":"bruna_memoria_leads"},"returnAll":true,"where":{"values":[{"column":"phone","value":"={{ $('Dados do Lead').item.json.lead_phone }}"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[672,-48],"id":"80d1fe8a-ab50-4fbb-9ced-5f59862573fb","name":"Memory","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"assignments":{"assignments":[{"id":"91aa24cb-03d5-4e32-93a7-ebdcfc204ee6","name":"memory","value":"={{ $json\n    .removeField(\"resumo_lead_json\")\n    .removeField(\"payload_ultima_resposta_json\") \n    .removeField(\"resumo_interno_repasse_json\") \n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-48],"id":"918b2207-084b-4a8c-8229-f199d61bb7e9","name":"memory"},{"parameters":{"jsCode":"// Remove payload_bruto_json de todas as linhas\n// Junta tudo em uma única variável chamada history\n// Saída: 1 item apenas\n\nconst inputItems = $input.all();\n\nfunction removePayloadBrutoJsonDeep(value) {\n  if (Array.isArray(value)) {\n    return value.map(removePayloadBrutoJsonDeep);\n  }\n\n  if (value && typeof value === 'object') {\n    const cleaned = {};\n\n    for (const [key, val] of Object.entries(value)) {\n      if (key === 'payload_bruto_json') continue;\n\n      cleaned[key] = removePayloadBrutoJsonDeep(val);\n    }\n\n    return cleaned;\n  }\n\n  return value;\n}\n\n// Suporta dois cenários:\n// 1. Várias linhas vindo como vários items do n8n\n// 2. Um único item contendo um array direto\nlet rows = [];\n\nif (inputItems.length === 1 && Array.isArray(inputItems[0].json)) {\n  rows = inputItems[0].json;\n} else if (inputItems.length === 1 && Array.isArray(inputItems[0].json.history)) {\n  rows = inputItems[0].json.history;\n} else if (inputItems.length === 1 && Array.isArray(inputItems[0].json.data)) {\n  rows = inputItems[0].json.data;\n} else {\n  rows = inputItems.map(item => item.json);\n}\n\n// Ordena cronologicamente, se tiver criado_em ou id\nrows.sort((a, b) => {\n  const dateA = a.criado_em ? new Date(a.criado_em).getTime() : 0;\n  const dateB = b.criado_em ? new Date(b.criado_em).getTime() : 0;\n\n  if (dateA !== dateB) return dateA - dateB;\n\n  const idA = Number(a.id || 0);\n  const idB = Number(b.id || 0);\n\n  return idA - idB;\n});\n\nconst history = rows.map(row => removePayloadBrutoJsonDeep(row));\n\nreturn [\n  {\n    json: {\n      history\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-48],"id":"f56c840c-de81-4f80-9f6c-3208355f5d2e","name":"history"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,-112],"id":"79800b37-80f4-4ae6-ac94-8f100bb9ae94","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"b2a8cbca-fe9f-453e-bef1-24dd314444a9","name":"text","value":"={{ $json.toJsonString().replaceAll(\"Julia Gabriela\",\"Bruna Auau\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,-112],"id":"b56ee91b-d4ea-4434-bf7e-8fcbc10332fa","name":"Gera text"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-112],"id":"a37b0681-2f63-4340-825f-922c1d3b557b","name":"No Operation, do nothing","executeOnce":true}],"connections":{"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Delete a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Gera Resumo Histórico Longo","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Dados do Lead":{"main":[[{"node":"Memory","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"No Operation, do nothing","type":"main","index":0}]]},"Gera Resumo Histórico Longo":{"main":[[{"node":"Dados do Lead","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"message","type":"main","index":0}]]},"Memory":{"main":[[{"node":"memory","type":"main","index":0}]]},"memory":{"main":[[{"node":"Merge","type":"main","index":1}]]},"History1":{"main":[[{"node":"history","type":"main","index":0}]]},"history":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Gera text","type":"main","index":0}]]},"Gera text":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"History1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1775606849,"possibleDuplicates":["19d6a6a71dd5a5e7"]}}},"meta":{"templateCredsSetupCompleted":true},"versionId":"0894d6b7-3159-43a9-bd5a-e171d037c5f1","activeVersionId":"f4988bad-6edf-43ce-8c76-a7188c561c8f","triggerCount":1,"shared":[{"updatedAt":"2026-04-18T15:01:00.307Z","createdAt":"2026-04-18T15:01:00.307Z","role":"workflow:owner","workflowId":"P81ny9344i6Zc52y","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-25T00:09:34.632Z","createdAt":"2026-04-25T00:09:32.488Z","versionId":"f4988bad-6edf-43ce-8c76-a7188c561c8f","workflowId":"P81ny9344i6Zc52y","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"Transcrição da conversa Powered by Chatwoot","sender":"Ricardo Fiorelli de ctxvendas <assessoria@convertix.digital>"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[0,288],"id":"3235d038-bde1-47f4-9679-b770ee045037","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}},"disabled":true},{"parameters":{"operation":"toText","sourceProperty":"text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,192],"id":"3e8cc975-d5a3-47a0-99b1-2e2ed65d72e4","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"f1e8cc95-f5ac-4751-94ba-33babb305895","name":"text","value":"={{ $json.text.replaceAll(\"Ricardo Fiorelli\",\"Agente: Julia Gabriela\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,192],"id":"b0169521-1bce-4679-826a-94317d466570","name":"Edit Fields"},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,384],"id":"d2546d39-0e51-4412-9fd0-ca58b0b11568","name":"Delete a message","webhookId":"4c3dddc3-27cf-4da7-a7b3-520401748fcd","credentials":{"gmailOAuth2":{"id":"rJfhqfips4xQrlDO","name":"Gmail RICARDO"}}},{"parameters":{"name":"={{ $('Gmail Trigger').item.json.subject }}.txt","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1rca5G5jr6a14nFowbZiPHq0Dr_ubDSW9","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[672,192],"id":"6397f4eb-cd71-49aa-b8ed-4ff7007da22b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"httpMethod":"POST","path":"auau-chatwoot-transcricao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"ac5922a3-1af2-4382-a3fa-55cec172590c","name":"Webhook","webhookId":"4283b071-b1fb-4d5e-8afe-208b7a749d5e"},{"parameters":{"operation":"toText","sourceProperty":"=text","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2240,-112],"id":"88de4855-b9a9-4423-9eeb-788642a0b93a","name":"Convert to File1"},{"parameters":{"name":"=[AUAU] {{ $now.format('yyyy-MM-dd') }} [#{{ $('Webhook').item.json.body.messages[0].conversation_id }}] Transcrição da Conversa {{ $('Webhook').item.json.body.meta.sender.name }}.json","driveId":{"__rl":true,"value":"0ABSLDtOpfoLOUk9PVA","mode":"list","cachedResultName":"CTX - Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/0ABSLDtOpfoLOUk9PVA"},"folderId":{"__rl":true,"value":"1hm9x4SmaZEl8vcU3H7bMFIStEEd5Mt5u","mode":"list","cachedResultName":"[AUAU] Transcrição conversas","cachedResultUrl":"https://drive.google.com/drive/folders/1hm9x4SmaZEl8vcU3H7bMFIStEEd5Mt5u"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,-112],"id":"31d5a9b3-c05e-4bd0-ac43-f81ac047e361","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"WukTuUz4URPrhmR8","name":"Google Drive ASSESSORIA"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b69f7b2-4749-419e-a362-b1818f735f29","name":"contact_id","value":"={{ $('Webhook').item.json.body.contact_inbox.contact_id }}","type":"number"},{"id":"06fa8dbf-e4e4-414f-b96e-a5e894440578","name":"conversation_id","value":"={{ $('Webhook').item.json.body.messages[0].conversation_id }}","type":"number"},{"id":"8794cb40-989c-4651-9cbc-cf0a332f20c2","name":"labels","value":"={{ $('Webhook').item.json.body.labels.toJsonString() }}","type":"string"},{"id":"9d4cac01-0fa9-4621-ae95-9a9e743932fa","name":"lead_name","value":"={{ $('Webhook').item.json.body.meta.sender.name }}","type":"string"},{"id":"ff29556a-55d0-49ed-a7fa-41682388581e","name":"lead_phone","value":"={{ $('Webhook').item.json.body.meta.sender.phone_number }}","type":"string"},{"id":"73cee0c8-6c2f-4065-8246-81986f3874a4","name":"account_id","value":"={{ $('Webhook').item.json.body.messages[0].account_id }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-112],"id":"88ef3526-15b2-4963-9d3c-e3416bff8feb","name":"Dados do Lead"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,-112],"id":"41b7aa4a-6dd3-44cf-9b12-15912ec31f6d","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"wGoIefUUmutlAaKW","mode":"list","cachedResultUrl":"/workflow/wGoIefUUmutlAaKW","cachedResultName":"[AUAU] [CHATWOOT] Gera Resumo Histórico Longo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"processar_IA":true,"account_id":"={{ $json.body.messages[0].account_id }}","conversation_id":"={{ $json.body.messages[0].conversation_id }}","qtd_messages":120,"nome_agente":"Bruna Auau"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"processar_IA","displayName":"processar_IA","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"},{"id":"qtd_messages","displayName":"qtd_messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"nome_agente","displayName":"nome_agente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[224,-112],"id":"04b6b15f-c052-4304-af24-2c906fb020c9","name":"Gera Resumo Histórico Longo"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Dados do Lead').item.json.account_id }}/conversations/{{ $('Dados do Lead').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Conversa transcrita pela Bruna para auto-aprendizado.\",\n  \"message_type\": \"outgoing\",\n  \"private\": true,\n  \"content_type\": \"text\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2688,-112],"id":"cf3803a8-b8b9-4993-968e-9d92614ff2f0","name":"message","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_historico_leads","mode":"list","cachedResultName":"bruna_historico_leads"},"limit":20,"where":{"values":[{"column":"phone","condition":"LIKE","value":"=%{{ $json.lead_phone.slice(-8) }}%"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1344,-48],"id":"5565ff1b-3c2c-44c9-95e2-6468157f08fd","name":"History1","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"bruna_memoria_leads","mode":"list","cachedResultName":"bruna_memoria_leads"},"returnAll":true,"where":{"values":[{"column":"phone","value":"={{ $('Dados do Lead').item.json.lead_phone }}"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[672,-48],"id":"80d1fe8a-ab50-4fbb-9ced-5f59862573fb","name":"Memory","credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"assignments":{"assignments":[{"id":"91aa24cb-03d5-4e32-93a7-ebdcfc204ee6","name":"memory","value":"={{ $json\n    .removeField(\"resumo_lead_json\")\n    .removeField(\"payload_ultima_resposta_json\") \n    .removeField(\"resumo_interno_repasse_json\") \n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-48],"id":"918b2207-084b-4a8c-8229-f199d61bb7e9","name":"memory"},{"parameters":{"jsCode":"// Remove payload_bruto_json de todas as linhas\n// Junta tudo em uma única variável chamada history\n// Saída: 1 item apenas\n\nconst inputItems = $input.all();\n\nfunction removePayloadBrutoJsonDeep(value) {\n  if (Array.isArray(value)) {\n    return value.map(removePayloadBrutoJsonDeep);\n  }\n\n  if (value && typeof value === 'object') {\n    const cleaned = {};\n\n    for (const [key, val] of Object.entries(value)) {\n      if (key === 'payload_bruto_json') continue;\n\n      cleaned[key] = removePayloadBrutoJsonDeep(val);\n    }\n\n    return cleaned;\n  }\n\n  return value;\n}\n\n// Suporta dois cenários:\n// 1. Várias linhas vindo como vários items do n8n\n// 2. Um único item contendo um array direto\nlet rows = [];\n\nif (inputItems.length === 1 && Array.isArray(inputItems[0].json)) {\n  rows = inputItems[0].json;\n} else if (inputItems.length === 1 && Array.isArray(inputItems[0].json.history)) {\n  rows = inputItems[0].json.history;\n} else if (inputItems.length === 1 && Array.isArray(inputItems[0].json.data)) {\n  rows = inputItems[0].json.data;\n} else {\n  rows = inputItems.map(item => item.json);\n}\n\n// Ordena cronologicamente, se tiver criado_em ou id\nrows.sort((a, b) => {\n  const dateA = a.criado_em ? new Date(a.criado_em).getTime() : 0;\n  const dateB = b.criado_em ? new Date(b.criado_em).getTime() : 0;\n\n  if (dateA !== dateB) return dateA - dateB;\n\n  const idA = Number(a.id || 0);\n  const idB = Number(b.id || 0);\n\n  return idA - idB;\n});\n\nconst history = rows.map(row => removePayloadBrutoJsonDeep(row));\n\nreturn [\n  {\n    json: {\n      history\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,-48],"id":"f56c840c-de81-4f80-9f6c-3208355f5d2e","name":"history"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1792,-112],"id":"79800b37-80f4-4ae6-ac94-8f100bb9ae94","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"b2a8cbca-fe9f-453e-bef1-24dd314444a9","name":"text","value":"={{ $json.toJsonString().replaceAll(\"Julia Gabriela\",\"Bruna Auau\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,-112],"id":"b56ee91b-d4ea-4434-bf7e-8fcbc10332fa","name":"Gera text"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Delete a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Gera Resumo Histórico Longo","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Dados do Lead":{"main":[[{"node":"Memory","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"History1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Gera Resumo Histórico Longo":{"main":[[{"node":"Dados do Lead","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"message","type":"main","index":0}]]},"Memory":{"main":[[{"node":"memory","type":"main","index":0}]]},"memory":{"main":[[{"node":"Merge","type":"main","index":1}]]},"History1":{"main":[[{"node":"history","type":"main","index":0}]]},"history":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Gera text","type":"main","index":0}]]},"Gera text":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version f4988bad","description":"","autosaved":true},"tags":[]}