workflows/PkfIdq5yLvwfEKRi.json
{"updatedAt":"2026-07-21T21:21:23.419Z","createdAt":"2026-03-10T13:03:10.168Z","id":"PkfIdq5yLvwfEKRi","name":"[AI] [AUDIO] Transcreve Áudio por URL","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"toBinary","sourceProperty":"mp3","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"id":"6957b605-5ab7-45e1-a654-3fcd6566a2a4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3968,-2512]},{"parameters":{"operation":"binaryToPropery","destinationKey":"mp3","options":{"encoding":"base64"}},"id":"f6cdf686-7656-44fe-af9a-2ebdae758965","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3744,-2512]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"},{"name":"temperature","value":"0.5"},{"name":"response_format","value":"json"},{"name":"language","value":"pt"}]},"options":{}},"id":"92ae7cce-a2b1-4fa9-a89e-ac5f058a1193","name":"Transcreve audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,-2416],"retryOnFail":false,"credentials":{"groqApi":{"id":"OTYiRFSjp7rZrahC","name":"Groq Convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"audio_url"},{"name":"modelo (openai ou groq)"}]}},"id":"44133a25-d726-4634-88b6-b0c35e966940","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3072,-2512]},{"parameters":{"url":"={{ $json.audio_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3520,-2512],"id":"821ff92a-8242-44bc-9ac4-397516e1a86e","name":"Baixa Audio","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Dados').item.json.modelo }}","rightValue":"openai","operator":{"type":"string","operation":"equals"},"id":"0b0108b2-846a-4723-b780-3e7460ea4e03"}],"combinator":"and"},"renameOutput":true,"outputKey":"openai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c08aab37-5514-4c5f-8616-17f73282ce72","leftValue":"={{ $('Dados').item.json.modelo }}","rightValue":"groq","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"groq"}]},"options":{"fallbackOutput":1}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[4192,-2512],"id":"ebbb9e8c-d328-4164-baa8-20735b2fff91","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"e4e21465-3a38-4a72-8a61-0ce20f080413","name":"audio_url","value":"={{ $json.audio_url }}","type":"string"},{"id":"50479ee8-492f-442a-a371-a0f7d79216f0","name":"modelo","value":"={{ $json['modelo (openai ou groq)'] || \"groq\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3296,-2512],"id":"5c1438be-f524-49b7-aa5a-3c07767cb212","name":"Dados"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4672,-2656],"id":"8b47cf3c-a6ee-4f46-96e7-c9c6ed1dd5c4","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bb769ad5-17b6-4682-bf6f-9d2a0df63679","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0dab4a32-0b1b-400e-a227-5ef4d56a11a3","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4624,-2416],"id":"f88ce6a0-e1e8-4197-ae05-8d49cd9d4e29","name":"Deu certo?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4832,-2512],"id":"0d796730-674a-4bd7-b3a0-a9d6752dad6e","name":"No Operation, do nothing"},{"parameters":{"errorMessage":"ERRO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4832,-2320],"id":"a579e93e-7a04-4c0b-8342-bba92ab5a2b7","name":"Stop and Error"}],"connections":{"Convert to File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcreve audio":{"main":[[{"node":"Deu certo?","type":"main","index":0}],[]]},"Extract from File1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Start":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Baixa Audio":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}],[{"node":"Transcreve audio","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Baixa Audio","type":"main","index":0}]]},"Transcribe a recording":{"main":[[]]},"Deu certo?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"saveExecutionProgress":true,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"47b66aa0-4fa7-415a-a57e-e33d30748033","activeVersionId":"47b66aa0-4fa7-415a-a57e-e33d30748033","triggerCount":0,"shared":[{"updatedAt":"2026-03-10T13:03:10.168Z","createdAt":"2026-03-10T13:03:10.168Z","role":"workflow:owner","workflowId":"PkfIdq5yLvwfEKRi","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-21T21:38:55.261Z","createdAt":"2026-07-21T21:21:23.426Z","versionId":"47b66aa0-4fa7-415a-a57e-e33d30748033","workflowId":"PkfIdq5yLvwfEKRi","nodes":[{"parameters":{"operation":"toBinary","sourceProperty":"mp3","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"id":"6957b605-5ab7-45e1-a654-3fcd6566a2a4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3968,-2512]},{"parameters":{"operation":"binaryToPropery","destinationKey":"mp3","options":{"encoding":"base64"}},"id":"f6cdf686-7656-44fe-af9a-2ebdae758965","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3744,-2512]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-large-v3"},{"name":"temperature","value":"0.5"},{"name":"response_format","value":"json"},{"name":"language","value":"pt"}]},"options":{}},"id":"92ae7cce-a2b1-4fa9-a89e-ac5f058a1193","name":"Transcreve audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,-2416],"retryOnFail":false,"credentials":{"groqApi":{"id":"OTYiRFSjp7rZrahC","name":"Groq Convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"audio_url"},{"name":"modelo (openai ou groq)"}]}},"id":"44133a25-d726-4634-88b6-b0c35e966940","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3072,-2512]},{"parameters":{"url":"={{ $json.audio_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3520,-2512],"id":"821ff92a-8242-44bc-9ac4-397516e1a86e","name":"Baixa Audio","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Dados').item.json.modelo }}","rightValue":"openai","operator":{"type":"string","operation":"equals"},"id":"0b0108b2-846a-4723-b780-3e7460ea4e03"}],"combinator":"and"},"renameOutput":true,"outputKey":"openai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c08aab37-5514-4c5f-8616-17f73282ce72","leftValue":"={{ $('Dados').item.json.modelo }}","rightValue":"groq","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"groq"}]},"options":{"fallbackOutput":1}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[4192,-2512],"id":"ebbb9e8c-d328-4164-baa8-20735b2fff91","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"e4e21465-3a38-4a72-8a61-0ce20f080413","name":"audio_url","value":"={{ $json.audio_url }}","type":"string"},{"id":"50479ee8-492f-442a-a371-a0f7d79216f0","name":"modelo","value":"={{ $json['modelo (openai ou groq)'] || \"groq\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3296,-2512],"id":"5c1438be-f524-49b7-aa5a-3c07767cb212","name":"Dados"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4672,-2656],"id":"8b47cf3c-a6ee-4f46-96e7-c9c6ed1dd5c4","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bb769ad5-17b6-4682-bf6f-9d2a0df63679","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0dab4a32-0b1b-400e-a227-5ef4d56a11a3","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4624,-2416],"id":"f88ce6a0-e1e8-4197-ae05-8d49cd9d4e29","name":"Deu certo?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4832,-2512],"id":"0d796730-674a-4bd7-b3a0-a9d6752dad6e","name":"No Operation, do nothing"},{"parameters":{"errorMessage":"ERRO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4832,-2320],"id":"a579e93e-7a04-4c0b-8342-bba92ab5a2b7","name":"Stop and Error"}],"connections":{"Convert to File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Transcreve audio":{"main":[[{"node":"Deu certo?","type":"main","index":0}],[]]},"Extract from File1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Start":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Baixa Audio":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}],[{"node":"Transcreve audio","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Baixa Audio","type":"main","index":0}]]},"Transcribe a recording":{"main":[[]]},"Deu certo?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 47b66aa0","description":"","autosaved":true},"tags":[]}