workflows/Q8fSlB2M5iXHasbF.json
{"updatedAt":"2026-03-16T11:31:52.806Z","createdAt":"2026-02-24T11:32:12.594Z","id":"Q8fSlB2M5iXHasbF","name":"[MON] [DISPARO] Whatsapp Evolution","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"Instance","mode":"list","cachedResultName":"Instance"},"returnAll":true,"where":{"values":[{"column":"name","condition":"LIKE","value":"monica%"},{"column":"ownerJid","condition":"!=","value":"551142106253@s.whatsapp.net"},{"column":"connectionStatus","value":"open"}]},"sort":{"values":[{"column":"name"}]},"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single","outputColumns":["id","name","ownerJid","number","token","connectionStatus"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1296,-1136],"id":"7bb56ec5-a78f-47f3-a480-23ae4cd8355d","name":"EVO: Instance","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"LMwOwrPcr080SLUs","name":"Postgres evolution"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1744,-1216],"id":"3a83bd91-4172-4665-b5e1-47120d9d27b7","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2192,-1216],"id":"eb8a6e75-2de6-407c-b5e3-4db72109796b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[3312,-1040],"id":"d3cf1c40-c149-4b07-a961-69a453ac261c"},{"parameters":{"assignments":{"assignments":[{"id":"2bc97103-960f-47d2-bc83-bdc537cc53e5","name":"whatsapp","value":"={{ $json.UserPhone }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,-1216],"id":"6a86dd14-306b-4be7-8f6d-990cbc59f5b9","name":"Arruma campos"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.name }}","remoteJid":"={{ $json.whatsapp }}","messageText":"={{ $json.mensagem.mensagem }}","options_message":{"delay":"={{ Math.floor(Math.random()*300000) }}"}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2640,-1184],"id":"32c8f249-2eb3-419e-a0c8-3ba91eb156ba","name":"Enviar texto","credentials":{"evolutionApi":{"id":"z1cYQfEZDyGUy09S","name":"EVO {{ TOKEN }}"}}},{"parameters":{"amount":"={{ 25 + Math.random()*10 }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3088,-1184],"id":"c8b82401-5e0f-4def-9622-a3b848009e9a","name":"Wait1","webhookId":"ae5446b1-80ab-49c8-9c16-f8f2b118eec6"},{"parameters":{"resource":"messages-api","instanceName":"ctxoperacoes","remoteJid":"=120363417179974709@g.us","messageText":"=Fim de envio das mensagens","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2640,-1376],"id":"4216eb01-ef64-40e9-a649-73a85045d614","name":"Avisa que criou o grupo1","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2416,-1376],"id":"ce96e8a9-f738-42ef-9bef-5efaa4fd1c1a","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2864,-1376],"id":"6465146c-a00b-452b-b09b-2f49d5f34220","name":"No Operation, do nothing"},{"parameters":{"jsCode":"const mensagens = [\n  {\n    mensagem: \"Oi Nutri, tudo bem? É a Monica Lameza falando aqui 😍 \\n\\nOlha, estou fazendo este contato contigo porque você está na nossa lista de espera da Formação em Nutrição Hospitalar, e por alguma razão não efetivou sua inscrição. \\n\\nEu quero muito te ajudar a melhorar seus processos para atuar de maneira mais assertiva, além de ser mais vista e valorizada.\\n\\nExiste algo em que possa te ajudar a efetivar sua matrícula com a gente ou tirar qualquer outra dúvida? ♥️\"\n  },\n  {\n    mensagem: \"Oi Nutri, tudo bem? É a Monica Lameza falando aqui 😍 \\n\\nOlha, vim aqui falar contigo porque você está na nossa lista de espera da Formação em Nutrição Hospitalar, e por alguma razão não está na nossa lista de alunos inscritos.\\n\\nJá passou o carnaval e o ano oficialmente começou! Chegou a hora de você ser vista e valorizada em 2026 🚀\\n\\nExiste algo em que possa te ajudar a efetivar sua matrícula com a gente ou tirar qualquer outra dúvida? 🥰\"\n  },\n  {\n    mensagem: \"Oi Nutri, tudo bem? É a Monica Lameza falando aqui 😍\\n\\nO ano oficialmente começou e chegou a hora de você ser mais vista e valorizada, e eu quero muito te ajudar a melhorar seus processos para atuar de maneira mais assertiva.\\n\\nOlha, estou fazendo este contato contigo porque você está na nossa lista de espera da Formação em Nutrição Hospitalar, e por alguma razão não efetivou sua inscrição.\\n\\nExiste algo em que possa te ajudar a efetivar sua matrícula com a gente ou tirar qualquer outra dúvida? ☺️\"\n  }\n];\n\n// sorteia uma mensagem\nconst mensagem = mensagens[Math.floor(Math.random() * mensagens.length)];\n\n// pega o item anterior\nconst dadosAnteriores = $json;\n\n// retorna tudo que já existia + nova mensagem\nreturn {\n  ...dadosAnteriores,\n  mensagem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-1184],"id":"717be7e1-d603-4f3a-9c7f-94a6697fcbe0","name":"Abordagens Enviada1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1072,-1040],"id":"446eb6f7-1c1e-4bc9-9279-fc0e16b5599e","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q","mode":"list","cachedResultName":"2 Lista de espera FNH 2.0✨💫12_02 (group info) (1)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Foi enviado?"},{"lookupColumn":"Data Envio","lookupValue":"={{ $now.format('dd/MM/yyyy') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,-1408],"id":"c415fc20-9dd9-483f-8908-9f3e952507ef","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EREEwbFQeKfmOnKI","name":"Sheets RICARDO"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q","mode":"list","cachedResultName":"2 Lista de espera FNH 2.0✨💫12_02 (group info) (1)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12cO3INfFdefZoxvF5h6kZhpRO_W0-8cqynOO9xQML-Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","UserDisplayName":"={{ $('Loop Over Items').item.json.UserDisplayName }}","UserNotifyName":"={{ $('Loop Over Items').item.json.UserNotifyName }}","UserPhone":"={{ $('Loop Over Items').item.json.UserPhone }}","IsAdmin":"={{ $('Loop Over Items').item.json.IsAdmin }}","IsSuperAdmin":"={{ $('Loop Over Items').item.json.IsSuperAdmin }}","Foi enviado?":"={{ $('Abordagens Enviada1').item.json.mensagem.mensagem }}","Data Envio":"={{ $('Loop Over Items').item.json['Data Envio'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"UserDisplayName","displayName":"UserDisplayName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UserNotifyName","displayName":"UserNotifyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UserPhone","displayName":"UserPhone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsAdmin","displayName":"IsAdmin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IsSuperAdmin","displayName":"IsSuperAdmin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Foi enviado?","displayName":"Foi enviado?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Envio","displayName":"Data Envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2864,-1184],"id":"8aa237d2-01d1-4425-bb93-83f2482089d9","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EREEwbFQeKfmOnKI","name":"Sheets RICARDO"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1072,-1424],"id":"b0694fc4-017c-49c3-958e-cc2f347690c9","name":"Schedule Trigger"},{"parameters":{"resource":"messages-api","instanceName":"ctxoperacoes","remoteJid":"=120363417179974709@g.us","messageText":"=Comecei o envio das mensagens.\nSerão {{ $json.count_row_number }}.","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1968,-1424],"id":"0aacc65c-3f92-404d-8bec-6ca8f4589c2c","name":"Avisa que criou o grupo","credentials":{"evolutionApi":{"id":"YetnRlRJ2NuSYY8K","name":"EVO ctxoperacoes"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"row_number"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1744,-1424],"id":"53b41a5c-e42b-422f-b4d0-913081056594","name":"Summarize"},{"parameters":{"amount":"={{ Math.random()*30 }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,-1408],"id":"48baae6c-9bd9-489b-a4be-de49c4f528d4","name":"Wait","webhookId":"7bc2f5c5-1bc4-4e44-b9f7-952098e13718"}],"connections":{"EVO: Instance":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Arruma campos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Abordagens Enviada1","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Arruma campos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[]]},"Wait1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Avisa que criou o grupo1","type":"main","index":0}]]},"Avisa que criou o grupo1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Abordagens Enviada1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"EVO: Instance","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Summarize","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Summarize":{"main":[[{"node":"Avisa que criou o grupo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","timeSavedMode":"fixed","executionTimeout":7200},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron 5 vezes/dia semana":{"recurrenceRules":[]},"node:hora a hora":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"4f434e7f-a869-4b58-964a-9d060cb63fd4","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T11:32:12.594Z","createdAt":"2026-02-24T11:32:12.594Z","role":"workflow:owner","workflowId":"Q8fSlB2M5iXHasbF","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}