workflows/qsTVlIvwDJuWl6GP.json
{"updatedAt":"2026-02-20T12:05:27.253Z","createdAt":"2026-01-06T04:13:41.896Z","id":"qsTVlIvwDJuWl6GP","name":"[CTX] [ONBOARDING] Clickup (v1.7)","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"c13613c3-7585-476e-8009-5bdf60a4a210","name":"Wait10","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[13968,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{},"id":"3d1b08ec-3887-4fad-acc9-605d678f5241","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[15760,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"method":"POST","url":"https://api.clickup.com/api/v3/workspaces/37013204/docs","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Feedbacks Semanais\",\n  \"parent\": {\n    \"id\": \"{{ $('ClickUp: Create Folder Cliente').item.json[\"id\"] }}\",\n    \"type\": 5\n  },\n  \"visibility\": \"PUBLIC\",\n  \"create_page\": true\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"2765934c-9181-4e1b-b40e-72a37f35c229","name":"ClickUp: Create Feedbacks Semanais","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15536,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"https://api.clickup.com/api/v3/workspaces/37013204/docs","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Docs Importantes\",\n  \"parent\": {\n    \"id\": \"{{ $('ClickUp: Create Folder Cliente').item.json[\"id\"] }}\",\n    \"type\": 5\n  },\n  \"visibility\": \"PUBLIC\",\n  \"create_page\": true\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"510b2f6b-1241-4631-98ef-8e4f6fa11585","name":"ClickUp: Create Docs Importantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13744,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Checklist de Acessos\",\n    \"sub_title\": null,\n    \"content\": \"Duplicar e mover daqui: https://app.clickup.com/37013204/v/dc/139hpm-2447/139hpm-7873\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"ecee46bd-c56d-4c98-9986-9194d095ae03","name":"ClickUp: Create Page Acessos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[14192,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16432,-512],"id":"cd4c53e8-233c-4dc0-9d14-748f5799b0ab","name":"No Operation, do nothing4","alwaysOutputData":true,"executeOnce":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.Discord_Create_Text_item }}","mode":"id"},"content":"=5) Criei estrutura Clickup Docs\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[16208,-512],"id":"4373e0e8-fcda-4918-b1ea-0918f4726428","name":"Discord: Criei estrutura4","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"29234b1c-55f0-4acd-be82-4dd8a17a8871","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[14416,-512],"id":"05706352-9c7f-4965-b8a9-e09b1f776235","name":"Wait21","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Onboarding {{ $('Start').item.json.arroba }}","additionalFields":{"content":"","parentId":""}},"id":"168976f8-750e-429e-8ed6-38c9280256d1","name":"ClickUp: Create Task Onboarding","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8816,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059884","folder":"90131874887","list":"901303457914","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{"assignees":[54983155],"notifyAll":true,"startDateTime":true,"status":"onboarding","tags":[]}},"id":"6aaff1f1-f688-4c24-954a-77e6c02651b6","name":"ClickUp: Create a task Mapa dos Clientes","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11056,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"list","operation":"create","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create Folder Cliente').item.json.id }}","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{}},"id":"94347dc9-394c-4135-98eb-e4fd8c279df9","name":"ClickUp: Create List Cliente","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8144,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Feedback Semanal","additionalFields":{"content":"","parentId":""}},"id":"165bd67c-8836-469f-a8e1-220cde7738df","name":"ClickUp: Create Task Feedback Semanal","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9712,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} [GOOGLE ADS] Otimização","additionalFields":{"dueDate":"={{ $now }}"}},"id":"824315d8-db49-4b69-8298-c95676a25d2f","name":"ClickUp: Create Task Otimização Diária Google","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[10608,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"amount":1},"id":"1d84d45a-7512-4b13-8437-a8298a99a1da","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7920,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"3255533f-98b1-4896-a694-3b3edfcf70b9","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8592,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"712c6e95-1874-49c1-982d-85792c4e3398","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9040,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"0d5f0b94-67d5-42da-ae06-7f5a8d707047","name":"Wait6","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"f94ac4ad-51fc-4fcd-9529-20adaa34b9de","name":"Wait7","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10384,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"dbb9d9f8-c8a2-4cf9-a0b0-e3b2dc9b5afb","name":"Wait8","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10832,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"9be8f8f8-d385-4f51-bedf-c5f3e7a3bade","name":"Wait12","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9488,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Atualizar Públicos Meta Ads","additionalFields":{"content":"=1) Público de Lista\n2) Público de Video View","dueDate":"={{ $now.format('yyyy-MM') }}-01","parentId":""}},"id":"ac98ba12-2f28-4b40-bb07-2220d7bfb58d","name":"ClickUp: Create Task Atualizar Públicos Meta Ads","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9264,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Add Automação formulário","additionalFields":{"content":"={{ $('Pasta Guild').item.json.pasta_guild_mensagem }}","dueDate":"={{ $now }}"}},"id":"7dfe8437-ba06-4952-b661-694a79f7dc47","name":"ClickUp: Create Task Add Automação Formulário","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11504,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/list/{{ $json.id }}/view","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Tarefas (Visão Cliente)\",\n  \"type\": \"list\",\n  \"visibility\": \"public\",\n  \"grouping\": {\n    \"ignore\": false,\n    \"field\": \"status\",\n    \"dir\": 1\n  },\n  \"filters\": {\n    \"op\": \"AND\",\n    \"fields\": [\n      {\n        \"field\": \"cf_1a8a63ed-73ed-42e7-b15b-050a7c736479\",\n        \"op\": \"NOT\",\n        \"determinor\": null,\n        \"idx\": 0,\n        \"values\": null\n      }\n    ],\n    \"search\": \"\",\n    \"search_custom_fields\": true,\n    \"search_description\": true,\n    \"search_name\": true,\n    \"show_closed\": false\n  },\n  \"columns\": {\n    \"fields\": [\n      {\n        \"field\": \"assignee\",\n        \"idx\": 0,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dueDate\",\n        \"idx\": 1,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"priority\",\n        \"idx\": 2,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"name\",\n        \"idx\": 3,\n        \"width\": null,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"status\",\n        \"idx\": 4,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"id\",\n        \"idx\": 5,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"customId\",\n        \"idx\": 6,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateCreated\",\n        \"idx\": 7,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateDone\",\n        \"idx\": 8,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateUpdated\",\n        \"idx\": 9,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"startDate\",\n        \"idx\": 10,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"duration\",\n        \"idx\": 11,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"timeLogged\",\n        \"idx\": 12,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"sprints\",\n        \"idx\": 13,\n        \"width\": 185,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateClosed\",\n        \"idx\": 14,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"createdBy\",\n        \"idx\": 15,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"latestComment\",\n        \"idx\": 16,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"commentCount\",\n        \"idx\": 17,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"lists\",\n        \"idx\": 18,\n        \"width\": 185,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"pullRequests\",\n        \"idx\": 19,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"incompleteCommentCount\",\n        \"idx\": 20,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"linked\",\n        \"idx\": 21,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dependencies\",\n        \"idx\": 22,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"pages\",\n        \"idx\": 23,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_1a8a63ed-73ed-42e7-b15b-050a7c736479\",\n        \"idx\": 24,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_a18d2d25-1d56-4380-bec6-771768a1b55e\",\n        \"idx\": 25,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_bb93fefa-26e8-4fa2-bd55-621b4c6ff517\",\n        \"idx\": 26,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_a3270fdb-dc92-48b3-933e-d07ea40fb02e\",\n        \"idx\": 27,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      }\n    ]\n  },\n  \"team_sidebar\": {\n    \"assigned_comments\": false,\n    \"unassigned_tasks\": false\n  },\n  \"settings\": {\n    \"show_task_locations\": false,\n    \"show_subtask_parent_names\": false,\n    \"show_closed_subtasks\": false,\n    \"show_assignees\": false,\n    \"show_images\": false,\n    \"me_comments\": false,\n    \"me_subtasks\": false,\n    \"me_checklists\": false,\n    \"show_subtasks\": 1\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"acbadc74-f0fa-4fcd-828e-0a9560f4e95e","name":"ClickUp: List View","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8368,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13296,-512],"id":"320e2246-1122-4be5-8cb2-ffadeaf685c1","name":"No Operation, do nothing3"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.id }}","mode":"id"},"content":"=4) Criei estrutura Clickup\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[13072,-512],"id":"76f3f042-e937-42fa-b70e-7b14d38d8973","name":"Discord: Criei estrutura3","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"cf467661-a63c-42cb-8eda-7c487b2200f9","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11728,-512],"id":"acb58871-1025-4e9f-9407-613437215f70","name":"Wait20","webhookId":"fe625553-92c9-4fcb-a3c4-8fca08fe66f8"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11280,-512],"id":"9b25b554-d4d1-40da-a6b8-0f35f547cc66","name":"Wait","webhookId":"a5586eba-3e07-4266-ab70-74fe72097975"},{"parameters":{"amount":1},"id":"0ccee332-87ff-4a76-bf38-20a13be4fecd","name":"Wait32","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12176,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Liberar Acesso Gestor Discord","additionalFields":{"assignees":[],"dueDate":"={{ $now }}"}},"id":"93bf15b1-4ae1-4701-aec7-270c4418d95c","name":"ClickUp: Create Task Liberar Acesso Gestor Discord","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11952,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Liberar Acesso Gestor Clickup","additionalFields":{"dueDate":"={{ $now }}"}},"id":"89403e50-1441-4f03-a242-bb475c045adf","name":"ClickUp: Create Task Liberar Acesso Gestor Clickup","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[12400,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"amount":1},"id":"66a988e2-eed9-4792-94c7-002017da90fb","name":"Wait33","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12624,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Automação Tintim Lead","additionalFields":{"content":"=,{dbName: \"{{ $('Start').item.json.NOME_cliente }}\",     idPlanilha: \"\"}\n\nAdd no https://n8n.convertix.app/workflow/Amcebq3V0It6ikpZ","dueDate":"={{ $now }}"}},"id":"071e4dad-5687-48f4-b73c-e76f86a958fd","name":"ClickUp: Tarefa Automação Tintim Lead","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[12848,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","team":"37013204","space":"90130059914","name":"={{ $('Start').item.json.nomeCliente }}"},"id":"6aa6cfba-13f7-4090-9a9e-fdfc2e913d52","name":"ClickUp: Create Folder Cliente","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[7472,-608],"alwaysOutputData":false,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"90131778525","list":"901303457914","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{"assignees":[54983155],"content":"=","parentId":"","status":"onboarding"}},"id":"4ef946e3-c882-4d99-8caa-585eefe225db","name":"ClickUp: Cliente Mapa de Clientes","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[7248,-608],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.id }}","mode":"id"},"content":"={{ $('Pasta Guild').item.json.pasta_guild_mensagem }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7920,-704],"id":"ac0de16e-9eb0-4e68-b257-be534eb126af","name":"Mensagem ação Pasta Guild","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"4e5f8d26-856c-4fab-ab14-067649d07df9","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"arroba","type":"any"},{"name":"sigla","type":"any"},{"name":"nomeCliente","type":"any"},{"name":"google_drive_id","type":"any"},{"name":"siglaLimpa_toLowerCase","type":"any"},{"name":"id","type":"any"},{"name":"Discord_Create_Text_item","type":"any"},{"name":"NOME_cliente","type":"any"}]}},"id":"8ec324fb-1ee8-47fa-9778-ce3bf56630d5","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[7024,-608]},{"parameters":{"assignments":{"assignments":[{"id":"d4e8b621-2ed9-46e0-a3cd-29b6fe31285f","name":"clickup_folder","value":"={{ $('ClickUp: Create Folder Cliente').item.json.id }}","type":"string"},{"id":"78c4729c-3ff2-4dd9-8edf-4dd0bb47f7bb","name":"clickup_list","value":"={{ $('ClickUp: Create List Cliente').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16656,-512],"id":"8709268f-12ff-4683-9845-2c1a7f3cba2c","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"066049ec-0746-4308-b424-33eb91308359","name":"pasta_guild_mensagem","value":"=Adicionar na etapa \"Pasta CK e Guild Discord\" em Link: https://n8n.convertix.app/workflow/Gyx12NhVgpsNm4K0\n\nEm ordem alfabética\n\n,{pastaClickup: \"{{ $('ClickUp: Create Folder Cliente').item.json.name }}\", GuildId: \"{{ $('Start').item.json.id }}\"}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7696,-608],"id":"2efcb86d-2914-4046-9b83-391e9488fac4","name":"Pasta Guild"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[14864,-512],"id":"b2282e7c-8218-442c-b75a-13efcc978c1e","name":"Wait22","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Acessos e Senhas\",\n    \"sub_title\": null,\n    \"content\": \"Criar páginas de senhas aqui\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"d44f6243-387b-446a-8b30-2c26d316d815","name":"ClickUp: Create Page Senhas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[14640,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[15312,-512],"id":"04cd0bf3-5c31-4755-8ca6-536a4cb906af","name":"Wait23","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Reuniões\",\n    \"sub_title\": null,\n    \"content\": \"Subir as reuniões aqui.\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"e100d38a-d6f5-4dfe-b783-9109e9b9e5e6","name":"ClickUp: Create Page Reuniões","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15088,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[13520,-512],"id":"1d8b12ff-011e-4ea1-a23b-dcb054ce0df1","name":"Wait24","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} [META ADS] Otimização","additionalFields":{"dueDate":"={{ $now }}"}},"id":"4bc838ea-9625-4481-9271-af9bb6879d26","name":"ClickUp: Create Task Otimização Meta","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[10160,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Feedbacks Semanais').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $now.format('yyyy.MM.dd') }} - Feedback Semanal {{ $('Start').item.json.nomeCliente }}\",\n    \"sub_title\": null,\n    \"content\": \"Escrever o feedback semanal aqui\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"fd5602f1-07ce-434c-adf2-3bdac625b3dd","name":"ClickUp: Create Page Feedback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15984,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}}],"connections":{"ClickUp: Create Task Onboarding":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"ClickUp: Create a task Mapa dos Clientes":{"main":[[{"node":"Wait","type":"main","index":0}]]},"ClickUp: Create Folder Cliente":{"main":[[{"node":"Pasta Guild","type":"main","index":0}]]},"ClickUp: Create List Cliente":{"main":[[{"node":"ClickUp: List View","type":"main","index":0}]]},"ClickUp: Create Task Feedback Semanal":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"ClickUp: Create Task Otimização Diária Google":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"ClickUp: Create List Cliente","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"ClickUp: Create Task Onboarding","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"ClickUp: Create Task Atualizar Públicos Meta Ads","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"ClickUp: Create Task Otimização Meta","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"ClickUp: Create Task Otimização Diária Google","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"ClickUp: Create a task Mapa dos Clientes","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"ClickUp: Create Page Acessos","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"ClickUp: Create Page Feedback","type":"main","index":0}]]},"ClickUp: Create Feedbacks Semanais":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"ClickUp: Create Docs Importantes":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"ClickUp: Create Page Acessos":{"main":[[{"node":"Wait21","type":"main","index":0}]]},"Wait12":{"main":[[{"node":"ClickUp: Create Task Feedback Semanal","type":"main","index":0}]]},"ClickUp: Create Task Atualizar Públicos Meta Ads":{"main":[[{"node":"Wait12","type":"main","index":0}]]},"ClickUp: Cliente Mapa de Clientes":{"main":[[{"node":"ClickUp: Create Folder Cliente","type":"main","index":0}]]},"ClickUp: Create Task Add Automação Formulário":{"main":[[{"node":"Wait20","type":"main","index":0}]]},"ClickUp: List View":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Wait24","type":"main","index":0}]]},"Discord: Criei estrutura3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Discord: Criei estrutura4":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Wait20":{"main":[[{"node":"ClickUp: Create Task Liberar Acesso Gestor Discord","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"ClickUp: Create Page Senhas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ClickUp: Create Task Add Automação Formulário","type":"main","index":0}]]},"Wait32":{"main":[[{"node":"ClickUp: Create Task Liberar Acesso Gestor Clickup","type":"main","index":0}]]},"ClickUp: Create Task Liberar Acesso Gestor Discord":{"main":[[{"node":"Wait32","type":"main","index":0}]]},"ClickUp: Create Task Liberar Acesso Gestor Clickup":{"main":[[{"node":"Wait33","type":"main","index":0}]]},"Wait33":{"main":[[{"node":"ClickUp: Tarefa Automação Tintim Lead","type":"main","index":0}]]},"ClickUp: Tarefa Automação Tintim Lead":{"main":[[{"node":"Discord: Criei estrutura3","type":"main","index":0}]]},"Start":{"main":[[{"node":"ClickUp: Cliente Mapa de Clientes","type":"main","index":0}]]},"Pasta Guild":{"main":[[{"node":"Mensagem ação Pasta Guild","type":"main","index":0},{"node":"Wait3","type":"main","index":0}]]},"Mensagem ação Pasta Guild":{"main":[[]]},"ClickUp: Create Page Senhas":{"main":[[{"node":"Wait22","type":"main","index":0}]]},"Wait22":{"main":[[{"node":"ClickUp: Create Page Reuniões","type":"main","index":0}]]},"ClickUp: Create Page Reuniões":{"main":[[{"node":"Wait23","type":"main","index":0}]]},"Wait24":{"main":[[{"node":"ClickUp: Create Docs Importantes","type":"main","index":0}]]},"Wait23":{"main":[[{"node":"ClickUp: Create Feedbacks Semanais","type":"main","index":0}]]},"ClickUp: Create Task Otimização Meta":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"ClickUp: Create Page Feedback":{"main":[[{"node":"Discord: Criei estrutura4","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"f365af3a-7516-4953-b14e-5e706569c724","activeVersionId":"f365af3a-7516-4953-b14e-5e706569c724","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:41.896Z","createdAt":"2026-01-06T04:13:41.896Z","role":"workflow:owner","workflowId":"qsTVlIvwDJuWl6GP","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-02-20T12:05:59.471Z","createdAt":"2026-02-20T12:05:27.256Z","versionId":"f365af3a-7516-4953-b14e-5e706569c724","workflowId":"qsTVlIvwDJuWl6GP","nodes":[{"parameters":{},"id":"c13613c3-7585-476e-8009-5bdf60a4a210","name":"Wait10","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[13968,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{},"id":"3d1b08ec-3887-4fad-acc9-605d678f5241","name":"Wait9","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[15760,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"method":"POST","url":"https://api.clickup.com/api/v3/workspaces/37013204/docs","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Feedbacks Semanais\",\n  \"parent\": {\n    \"id\": \"{{ $('ClickUp: Create Folder Cliente').item.json[\"id\"] }}\",\n    \"type\": 5\n  },\n  \"visibility\": \"PUBLIC\",\n  \"create_page\": true\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"2765934c-9181-4e1b-b40e-72a37f35c229","name":"ClickUp: Create Feedbacks Semanais","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15536,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"https://api.clickup.com/api/v3/workspaces/37013204/docs","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Docs Importantes\",\n  \"parent\": {\n    \"id\": \"{{ $('ClickUp: Create Folder Cliente').item.json[\"id\"] }}\",\n    \"type\": 5\n  },\n  \"visibility\": \"PUBLIC\",\n  \"create_page\": true\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"510b2f6b-1241-4631-98ef-8e4f6fa11585","name":"ClickUp: Create Docs Importantes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13744,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Checklist de Acessos\",\n    \"sub_title\": null,\n    \"content\": \"Duplicar e mover daqui: https://app.clickup.com/37013204/v/dc/139hpm-2447/139hpm-7873\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"ecee46bd-c56d-4c98-9986-9194d095ae03","name":"ClickUp: Create Page Acessos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[14192,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16432,-512],"id":"cd4c53e8-233c-4dc0-9d14-748f5799b0ab","name":"No Operation, do nothing4","alwaysOutputData":true,"executeOnce":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.Discord_Create_Text_item }}","mode":"id"},"content":"=5) Criei estrutura Clickup Docs\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[16208,-512],"id":"4373e0e8-fcda-4918-b1ea-0918f4726428","name":"Discord: Criei estrutura4","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"29234b1c-55f0-4acd-be82-4dd8a17a8871","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[14416,-512],"id":"05706352-9c7f-4965-b8a9-e09b1f776235","name":"Wait21","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Onboarding {{ $('Start').item.json.arroba }}","additionalFields":{"content":"","parentId":""}},"id":"168976f8-750e-429e-8ed6-38c9280256d1","name":"ClickUp: Create Task Onboarding","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8816,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059884","folder":"90131874887","list":"901303457914","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{"assignees":[54983155],"notifyAll":true,"startDateTime":true,"status":"onboarding","tags":[]}},"id":"6aaff1f1-f688-4c24-954a-77e6c02651b6","name":"ClickUp: Create a task Mapa dos Clientes","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11056,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"list","operation":"create","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create Folder Cliente').item.json.id }}","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{}},"id":"94347dc9-394c-4135-98eb-e4fd8c279df9","name":"ClickUp: Create List Cliente","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8144,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Feedback Semanal","additionalFields":{"content":"","parentId":""}},"id":"165bd67c-8836-469f-a8e1-220cde7738df","name":"ClickUp: Create Task Feedback Semanal","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9712,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} [GOOGLE ADS] Otimização","additionalFields":{"dueDate":"={{ $now }}"}},"id":"824315d8-db49-4b69-8298-c95676a25d2f","name":"ClickUp: Create Task Otimização Diária Google","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[10608,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"amount":1},"id":"1d84d45a-7512-4b13-8437-a8298a99a1da","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7920,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"3255533f-98b1-4896-a694-3b3edfcf70b9","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8592,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"712c6e95-1874-49c1-982d-85792c4e3398","name":"Wait5","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9040,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"0d5f0b94-67d5-42da-ae06-7f5a8d707047","name":"Wait6","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"f94ac4ad-51fc-4fcd-9529-20adaa34b9de","name":"Wait7","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10384,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"dbb9d9f8-c8a2-4cf9-a0b0-e3b2dc9b5afb","name":"Wait8","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10832,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"amount":1},"id":"9be8f8f8-d385-4f51-bedf-c5f3e7a3bade","name":"Wait12","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9488,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Atualizar Públicos Meta Ads","additionalFields":{"content":"=1) Público de Lista\n2) Público de Video View","dueDate":"={{ $now.format('yyyy-MM') }}-01","parentId":""}},"id":"ac98ba12-2f28-4b40-bb07-2220d7bfb58d","name":"ClickUp: Create Task Atualizar Públicos Meta Ads","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9264,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Add Automação formulário","additionalFields":{"content":"={{ $('Pasta Guild').item.json.pasta_guild_mensagem }}","dueDate":"={{ $now }}"}},"id":"7dfe8437-ba06-4952-b661-694a79f7dc47","name":"ClickUp: Create Task Add Automação Formulário","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11504,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v2/list/{{ $json.id }}/view","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Start').item.json.sigla }} Tarefas (Visão Cliente)\",\n  \"type\": \"list\",\n  \"visibility\": \"public\",\n  \"grouping\": {\n    \"ignore\": false,\n    \"field\": \"status\",\n    \"dir\": 1\n  },\n  \"filters\": {\n    \"op\": \"AND\",\n    \"fields\": [\n      {\n        \"field\": \"cf_1a8a63ed-73ed-42e7-b15b-050a7c736479\",\n        \"op\": \"NOT\",\n        \"determinor\": null,\n        \"idx\": 0,\n        \"values\": null\n      }\n    ],\n    \"search\": \"\",\n    \"search_custom_fields\": true,\n    \"search_description\": true,\n    \"search_name\": true,\n    \"show_closed\": false\n  },\n  \"columns\": {\n    \"fields\": [\n      {\n        \"field\": \"assignee\",\n        \"idx\": 0,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dueDate\",\n        \"idx\": 1,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"priority\",\n        \"idx\": 2,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"name\",\n        \"idx\": 3,\n        \"width\": null,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"status\",\n        \"idx\": 4,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"id\",\n        \"idx\": 5,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"customId\",\n        \"idx\": 6,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateCreated\",\n        \"idx\": 7,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateDone\",\n        \"idx\": 8,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateUpdated\",\n        \"idx\": 9,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"startDate\",\n        \"idx\": 10,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"duration\",\n        \"idx\": 11,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"timeLogged\",\n        \"idx\": 12,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"sprints\",\n        \"idx\": 13,\n        \"width\": 185,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dateClosed\",\n        \"idx\": 14,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"createdBy\",\n        \"idx\": 15,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"latestComment\",\n        \"idx\": 16,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"commentCount\",\n        \"idx\": 17,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"lists\",\n        \"idx\": 18,\n        \"width\": 185,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"pullRequests\",\n        \"idx\": 19,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"incompleteCommentCount\",\n        \"idx\": 20,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"linked\",\n        \"idx\": 21,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"dependencies\",\n        \"idx\": 22,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"pages\",\n        \"idx\": 23,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_1a8a63ed-73ed-42e7-b15b-050a7c736479\",\n        \"idx\": 24,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_a18d2d25-1d56-4380-bec6-771768a1b55e\",\n        \"idx\": 25,\n        \"width\": 160,\n        \"hidden\": false,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_bb93fefa-26e8-4fa2-bd55-621b4c6ff517\",\n        \"idx\": 26,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      },\n      {\n        \"field\": \"cf_a3270fdb-dc92-48b3-933e-d07ea40fb02e\",\n        \"idx\": 27,\n        \"width\": 160,\n        \"hidden\": true,\n        \"name\": null,\n        \"display\": null\n      }\n    ]\n  },\n  \"team_sidebar\": {\n    \"assigned_comments\": false,\n    \"unassigned_tasks\": false\n  },\n  \"settings\": {\n    \"show_task_locations\": false,\n    \"show_subtask_parent_names\": false,\n    \"show_closed_subtasks\": false,\n    \"show_assignees\": false,\n    \"show_images\": false,\n    \"me_comments\": false,\n    \"me_subtasks\": false,\n    \"me_checklists\": false,\n    \"show_subtasks\": 1\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"acbadc74-f0fa-4fcd-828e-0a9560f4e95e","name":"ClickUp: List View","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8368,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13296,-512],"id":"320e2246-1122-4be5-8cb2-ffadeaf685c1","name":"No Operation, do nothing3"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.id }}","mode":"id"},"content":"=4) Criei estrutura Clickup\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[13072,-512],"id":"76f3f042-e937-42fa-b70e-7b14d38d8973","name":"Discord: Criei estrutura3","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"cf467661-a63c-42cb-8eda-7c487b2200f9","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11728,-512],"id":"acb58871-1025-4e9f-9407-613437215f70","name":"Wait20","webhookId":"fe625553-92c9-4fcb-a3c4-8fca08fe66f8"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11280,-512],"id":"9b25b554-d4d1-40da-a6b8-0f35f547cc66","name":"Wait","webhookId":"a5586eba-3e07-4266-ab70-74fe72097975"},{"parameters":{"amount":1},"id":"0ccee332-87ff-4a76-bf38-20a13be4fecd","name":"Wait32","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12176,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Liberar Acesso Gestor Discord","additionalFields":{"assignees":[],"dueDate":"={{ $now }}"}},"id":"93bf15b1-4ae1-4701-aec7-270c4418d95c","name":"ClickUp: Create Task Liberar Acesso Gestor Discord","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[11952,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Liberar Acesso Gestor Clickup","additionalFields":{"dueDate":"={{ $now }}"}},"id":"89403e50-1441-4f03-a242-bb475c045adf","name":"ClickUp: Create Task Liberar Acesso Gestor Clickup","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[12400,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"amount":1},"id":"66a988e2-eed9-4792-94c7-002017da90fb","name":"Wait33","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[12624,-512],"webhookId":"ef4f81b2-a440-4785-b43d-51b2703f7008"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} Automação Tintim Lead","additionalFields":{"content":"=,{dbName: \"{{ $('Start').item.json.NOME_cliente }}\",     idPlanilha: \"\"}\n\nAdd no https://n8n.convertix.app/workflow/Amcebq3V0It6ikpZ","dueDate":"={{ $now }}"}},"id":"071e4dad-5687-48f4-b73c-e76f86a958fd","name":"ClickUp: Tarefa Automação Tintim Lead","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[12848,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","resource":"folder","team":"37013204","space":"90130059914","name":"={{ $('Start').item.json.nomeCliente }}"},"id":"6aa6cfba-13f7-4090-9a9e-fdfc2e913d52","name":"ClickUp: Create Folder Cliente","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[7472,-608],"alwaysOutputData":false,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"90131778525","list":"901303457914","name":"={{ $('Start').item.json.nomeCliente }}","additionalFields":{"assignees":[54983155],"content":"=","parentId":"","status":"onboarding"}},"id":"4ef946e3-c882-4d99-8caa-585eefe225db","name":"ClickUp: Cliente Mapa de Clientes","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[7248,-608],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.id }}","mode":"id"},"content":"={{ $('Pasta Guild').item.json.pasta_guild_mensagem }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7920,-704],"id":"ac0de16e-9eb0-4e68-b257-be534eb126af","name":"Mensagem ação Pasta Guild","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"4e5f8d26-856c-4fab-ab14-067649d07df9","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"arroba","type":"any"},{"name":"sigla","type":"any"},{"name":"nomeCliente","type":"any"},{"name":"google_drive_id","type":"any"},{"name":"siglaLimpa_toLowerCase","type":"any"},{"name":"id","type":"any"},{"name":"Discord_Create_Text_item","type":"any"},{"name":"NOME_cliente","type":"any"}]}},"id":"8ec324fb-1ee8-47fa-9778-ce3bf56630d5","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[7024,-608]},{"parameters":{"assignments":{"assignments":[{"id":"d4e8b621-2ed9-46e0-a3cd-29b6fe31285f","name":"clickup_folder","value":"={{ $('ClickUp: Create Folder Cliente').item.json.id }}","type":"string"},{"id":"78c4729c-3ff2-4dd9-8edf-4dd0bb47f7bb","name":"clickup_list","value":"={{ $('ClickUp: Create List Cliente').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16656,-512],"id":"8709268f-12ff-4683-9845-2c1a7f3cba2c","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"066049ec-0746-4308-b424-33eb91308359","name":"pasta_guild_mensagem","value":"=Adicionar na etapa \"Pasta CK e Guild Discord\" em Link: https://n8n.convertix.app/workflow/Gyx12NhVgpsNm4K0\n\nEm ordem alfabética\n\n,{pastaClickup: \"{{ $('ClickUp: Create Folder Cliente').item.json.name }}\", GuildId: \"{{ $('Start').item.json.id }}\"}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7696,-608],"id":"2efcb86d-2914-4046-9b83-391e9488fac4","name":"Pasta Guild"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[14864,-512],"id":"b2282e7c-8218-442c-b75a-13efcc978c1e","name":"Wait22","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Acessos e Senhas\",\n    \"sub_title\": null,\n    \"content\": \"Criar páginas de senhas aqui\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"d44f6243-387b-446a-8b30-2c26d316d815","name":"ClickUp: Create Page Senhas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[14640,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[15312,-512],"id":"04cd0bf3-5c31-4755-8ca6-536a4cb906af","name":"Wait23","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Docs Importantes').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $('Start').item.json.sigla }} Reuniões\",\n    \"sub_title\": null,\n    \"content\": \"Subir as reuniões aqui.\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"e100d38a-d6f5-4dfe-b783-9109e9b9e5e6","name":"ClickUp: Create Page Reuniões","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15088,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[13520,-512],"id":"1d8b12ff-011e-4ea1-a23b-dcb054ce0df1","name":"Wait24","webhookId":"3ee1fdd4-0f5d-4086-8f6b-f93190144ff6"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('ClickUp: Create List Cliente').item.json.folder.id }}","list":"={{ $('ClickUp: Create List Cliente').item.json.id }}","name":"={{ $('Start').item.json.sigla }} [META ADS] Otimização","additionalFields":{"dueDate":"={{ $now }}"}},"id":"4bc838ea-9625-4481-9271-af9bb6879d26","name":"ClickUp: Create Task Otimização Meta","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[10160,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"method":"POST","url":"=https://api.clickup.com/api/v3/workspaces/37013204/docs/{{ $('ClickUp: Create Feedbacks Semanais').item.json.body.id }}/pages","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"pk_54983155_3IK25PPP2G05GIC609RFD43JGDK3BSBQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"parent_page_id\": null,\n    \"name\": \"{{ $now.format('yyyy.MM.dd') }} - Feedback Semanal {{ $('Start').item.json.nomeCliente }}\",\n    \"sub_title\": null,\n    \"content\": \"Escrever o feedback semanal aqui\",\n    \"content_format\": \"text/md\"\n  }","options":{}},"id":"fd5602f1-07ce-434c-adf2-3bdac625b3dd","name":"ClickUp: Create Page Feedback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[15984,-512],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}}],"connections":{"ClickUp: Create Task Onboarding":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"ClickUp: Create a task Mapa dos Clientes":{"main":[[{"node":"Wait","type":"main","index":0}]]},"ClickUp: Create Folder Cliente":{"main":[[{"node":"Pasta Guild","type":"main","index":0}]]},"ClickUp: Create List Cliente":{"main":[[{"node":"ClickUp: List View","type":"main","index":0}]]},"ClickUp: Create Task Feedback Semanal":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"ClickUp: Create Task Otimização Diária Google":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"ClickUp: Create List Cliente","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"ClickUp: Create Task Onboarding","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"ClickUp: Create Task Atualizar Públicos Meta Ads","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"ClickUp: Create Task Otimização Meta","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"ClickUp: Create Task Otimização Diária Google","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"ClickUp: Create a task Mapa dos Clientes","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"ClickUp: Create Page Acessos","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"ClickUp: Create Page Feedback","type":"main","index":0}]]},"ClickUp: Create Feedbacks Semanais":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"ClickUp: Create Docs Importantes":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"ClickUp: Create Page Acessos":{"main":[[{"node":"Wait21","type":"main","index":0}]]},"Wait12":{"main":[[{"node":"ClickUp: Create Task Feedback Semanal","type":"main","index":0}]]},"ClickUp: Create Task Atualizar Públicos Meta Ads":{"main":[[{"node":"Wait12","type":"main","index":0}]]},"ClickUp: Cliente Mapa de Clientes":{"main":[[{"node":"ClickUp: Create Folder Cliente","type":"main","index":0}]]},"ClickUp: Create Task Add Automação Formulário":{"main":[[{"node":"Wait20","type":"main","index":0}]]},"ClickUp: List View":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Wait24","type":"main","index":0}]]},"Discord: Criei estrutura3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"No Operation, do nothing4":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Discord: Criei estrutura4":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Wait20":{"main":[[{"node":"ClickUp: Create Task Liberar Acesso Gestor Discord","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"ClickUp: Create Page Senhas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"ClickUp: Create Task Add Automação Formulário","type":"main","index":0}]]},"Wait32":{"main":[[{"node":"ClickUp: Create Task Liberar Acesso Gestor Clickup","type":"main","index":0}]]},"ClickUp: Create Task Liberar Acesso Gestor Discord":{"main":[[{"node":"Wait32","type":"main","index":0}]]},"ClickUp: Create Task Liberar Acesso Gestor Clickup":{"main":[[{"node":"Wait33","type":"main","index":0}]]},"Wait33":{"main":[[{"node":"ClickUp: Tarefa Automação Tintim Lead","type":"main","index":0}]]},"ClickUp: Tarefa Automação Tintim Lead":{"main":[[{"node":"Discord: Criei estrutura3","type":"main","index":0}]]},"Start":{"main":[[{"node":"ClickUp: Cliente Mapa de Clientes","type":"main","index":0}]]},"Pasta Guild":{"main":[[{"node":"Mensagem ação Pasta Guild","type":"main","index":0},{"node":"Wait3","type":"main","index":0}]]},"Mensagem ação Pasta Guild":{"main":[[]]},"ClickUp: Create Page Senhas":{"main":[[{"node":"Wait22","type":"main","index":0}]]},"Wait22":{"main":[[{"node":"ClickUp: Create Page Reuniões","type":"main","index":0}]]},"ClickUp: Create Page Reuniões":{"main":[[{"node":"Wait23","type":"main","index":0}]]},"Wait24":{"main":[[{"node":"ClickUp: Create Docs Importantes","type":"main","index":0}]]},"Wait23":{"main":[[{"node":"ClickUp: Create Feedbacks Semanais","type":"main","index":0}]]},"ClickUp: Create Task Otimização Meta":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"ClickUp: Create Page Feedback":{"main":[[{"node":"Discord: Criei estrutura4","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version f365af3a","description":"","autosaved":true},"tags":[]}