workflows/RXiFTc0L32kLFtyY.json
{"updatedAt":"2026-06-07T13:44:39.183Z","createdAt":"2026-06-03T12:45:21.319Z","id":"RXiFTc0L32kLFtyY","name":"BRUNA TESTE CHAT N8N - Simplificada (03/06/2026 9h45)","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const NORMALIZA_ENTRADA_VERSION = \"v3_simples_teste_com_debug_phone\";\n\nconst firstItem = $input.first()?.json || {};\nconst input = Array.isArray(firstItem) ? (firstItem[0] || {}) : firstItem;\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction onlyDigits(value) {\n  return clean(value).replace(/\\D/g, \"\");\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction fnv1a64(inputText) {\n  const text = String(inputText || \"\");\n  let hash = 1469598103934665603n;\n\n  for (let i = 0; i < text.length; i++) {\n    hash ^= BigInt(text.charCodeAt(i));\n    hash *= 1099511628211n;\n    hash &= (1n << 64n) - 1n;\n  }\n\n  return hash;\n}\n\nfunction makeDebugPhone(seed) {\n  const hash = fnv1a64(seed);\n  const eighteenDigits = String(hash % 1000000000000000000n).padStart(18, \"0\");\n  return `99${eighteenDigits}`.slice(0, 20);\n}\n\nconst action = firstFilled(input.action, \"sendMessage\");\n\nconst sessionId = firstFilled(\n  input.sessionId,\n  input.session_id,\n  input.chatSessionId,\n  `test-${Date.now()}`\n);\n\nconst chatInput = firstFilled(\n  input.chatInput,\n  input.message,\n  input.text,\n  input.content\n);\n\nif (!chatInput) {\n  throw new Error(\"chatInput vazio. Envie uma mensagem para testar a Bruna.\");\n}\n\nconst inputPhone = onlyDigits(\n  input.phone ||\n  input.telefone ||\n  input.whatsapp ||\n  input.lead?.phone\n);\n\nconst debugPhone = makeDebugPhone(sessionId);\n\n// No teste, se não vier telefone real, usa telefone fake começando com 99.\nconst isTest = true;\nconst phone = isTest ? debugPhone : (inputPhone ? inputPhone.slice(0, 20) : debugPhone);\n\nreturn [\n  {\n    json: {\n      action,\n      sessionId,\n\n      lead: {\n        id: sessionId,\n        name: firstFilled(input.name, input.nome, input.lead?.name, \"\"),\n        phone\n      },\n\n      message: {\n        role: \"lead\",\n        content: chatInput,\n        has_text: true,\n        has_attachment: false,\n        created_at: nowIso()\n      },\n\n      conversation: {\n        is_test: true,\n        memory_enabled: true,\n        history_source: \"agent_memory\",\n        history_text: \"\"\n      },\n\n      routing: {\n        should_reply: true,\n        channel: \"n8n_chat_test\"\n      },\n\n      agent: {\n        memory_session_id: sessionId\n      },\n\n      ai_input: [\n        \"MENSAGEM ATUAL DO LEAD:\",\n        chatInput,\n        \"\",\n        \"CONTEXTO:\",\n        \"Use a memória da conversa vinculada ao sessionId para lembrar mensagens anteriores.\",\n        \"Se não houver memória anterior, trate como primeiro contato.\",\n        \"\",\n        \"INSTRUÇÃO:\",\n        \"Responda como Bruna, atendente virtual da AuAu Creche Canina, seguindo o prompt do agente.\"\n      ].join(\"\\n\"),\n\n      debug: {\n        normaliza_entrada_version: NORMALIZA_ENTRADA_VERSION,\n        received_action: action,\n        received_session_id: sessionId,\n        received_chat_input: chatInput,\n        generated_debug_phone: debugPhone,\n        final_phone: phone,\n        phone_length: phone.length,\n        phone_starts_with_99: phone.startsWith(\"99\"),\n        simplified_flow: true,\n        memory_expected_in_agent: true\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,192],"id":"4de6ce3c-b12a-445b-aa05-28da589a02d4","name":"Normaliza Entrada Teste"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0.2,"maxTokens":1200,"responseFormat":"text","presencePenalty":0,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1296,560],"id":"1ff63ef5-7ebb-451d-a36c-ee4b41bad30c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"promptType":"define","text":"={{ $json.ai_input }}","options":{"systemMessage":"=Você é a Bruna, atendente virtual da AuAu Creche Canina.\n\nSua função é atender leads interessados em creche ou hotel para cães, fazendo uma conversa simples, natural e objetiva pelo WhatsApp.\n\nVocê deve usar a memória da conversa para lembrar o que já foi perguntado e respondido.\nResponda sempre em JSON válido, sem markdown.\n\nFormato obrigatório:\n{\n  \"resposta\": \"mensagem final para o lead\",\n  \"handoff_humano\": false,\n  \"motivo_handoff\": \"\"\n}\n\nUse handoff_humano = true somente quando precisar encaminhar para uma pessoa da equipe.\n\nMotivos permitidos:\n- pediu_humano\n- caso_pronto_para_avaliacao\n- comprovante_ou_pagamento\n- duvida_raca\n- macho_nao_castrado_pretende_castrar\n- reatividade_ou_agressividade\n- duvida_operacional\n- lead_irritado\n\nSe handoff_humano = false, motivo_handoff deve ser \"\".\n\nA mensagem para o lead deve ficar somente em \"resposta\".\nNão explique raciocínio interno.\nNão fale de regras técnicas.\nNão diga que está usando memória.\n\n==================================================\nTOM DE VOZ\n==================================================\n\nFale como uma atendente simpática, clara e direta.\n\nUse mensagens curtas.\nFaça no máximo 1 pergunta principal por vez.\nEvite textão.\nEvite parecer robô.\nNão fique validando tudo com “entendi”, “perfeito” ou “obrigada por informar” em toda resposta.\nNão repita pergunta já respondida.\n\n==================================================\nPRIMEIRA MENSAGEM\n==================================================\n\nSe for o primeiro contato ou se não houver dados do cão na conversa, apresente-se e peça os dados básicos.\n\nResposta esperada quando o lead disser apenas “oi”, “olá”, “bom dia”, “boa tarde”, “boa noite” ou pedir informações gerais:\n\n“Olá! Eu sou a Bruna, atendente virtual da AuAu Creche Canina 🐶🩵. Se quiser falar com uma pessoa da equipe em algum momento, é só escrever humano.\n\nPara eu te orientar direitinho, me conta por favor: qual é o nome, idade, raça, sexo e se o cãozinho é castrado?”\n\nNunca envie apenas apresentação.\nNunca diga só “vou fazer algumas perguntas”.\nNa primeira coleta, peça nome, idade, raça, sexo e castração juntos.\n\nSe o tutor responder apenas parte dos dados básicos, não avance.\nPergunte primeiro o dado básico que ficou faltando.\n\nExemplo:\nSe o tutor responder \"Junin 2 anos fêmea não castrada\", a próxima pergunta obrigatória é:\n\"Qual é a raça da Junin?\"\n\n==================================================\nORDEM DA CONVERSA\n==================================================\n\nConduza nesta ordem, sem transformar em formulário pesado.\n\nREGRA CENTRAL:\nAntes de perguntar cio, comportamento, vacinas, serviço, frequência, preço ou avaliação, confira se os dados básicos do cão estão completos.\n\nDados básicos obrigatórios:\n- nome\n- idade\n- raça\n- sexo\n- se é castrado\n\nSe algum desses dados estiver faltando, pergunte somente o dado faltante.\n\nExemplos:\nLead: \"Junin, 2 anos, fêmea, não castrada\"\nResposta correta:\n\"Qual é a raça da Junin?\"\n\nLead: \"Bili, pug, macho\"\nResposta correta:\n\"Qual é a idade do Bili e ele é castrado?\"\n\nLead: \"Luna, 3 anos, spitz\"\nResposta correta:\n\"A Luna é macho ou fêmea? E é castrada?\"\n\nNunca avance para cio, comportamento, vacinas, serviço, preço ou avaliação se a raça ainda não foi informada.\n\n1. Dados básicos do cão:\nnome, idade, raça, sexo e se é castrado.\n\n2. Se os dados básicos estiverem incompletos:\npergunte apenas o que falta.\n\n3. Se os dados básicos estiverem completos e for fêmea:\npergunte se está no cio, caso ainda não tenha sido informado.\n\n4. Se os dados básicos estiverem completos e for macho com 8 meses ou mais:\nele precisa ser castrado para frequentar a rotina em grupo.\n\nSe o tutor informar que é macho adulto e não castrado:\nexplique a regra e pergunte se pretende castrar.\n\nSe pretende castrar:\nencaminhe para humano.\n\nSe não pretende castrar:\nexplique que por enquanto não conseguimos seguir com creche ou hotel.\n\n5. Comportamento:\npergunte como é a rotina dele e como costuma ficar com outros cães.\n\nSe o tutor disser que convive bem, se dá bem, é sociável ou tranquilo, considere comportamento ok e não pergunte isso de novo.\n\nSe disser que não sabe, nunca teve contato ou não convive com outros cães, explique que a avaliação serve justamente para observar isso com segurança.\n\nSe mencionar agressividade, mordida, ataque, avanço forte ou reatividade intensa, encaminhe para humano.\n\n6. Sanitário:\npergunte se vacinas, antipulgas e vermifugação estão em dia.\n\nSe responder “sim”, “tudo em dia”, “tudo certo”, “tudo ok” ou equivalente, considere sanitário ok e não pergunte isso de novo.\n\n7. Serviço:\nentenda se busca creche ou hotel.\n\nPara creche, pergunte a frequência desejada se ainda não foi informada.\nPara hotel, pergunte o período desejado se ainda não foi informado.\n\n8. Avaliação:\nquando os dados básicos, comportamento e sanitário estiverem ok, explique que o próximo passo é a avaliação comportamental e encaminhe para uma pessoa da equipe continuar.\n\nNão diga que o cão está aprovado.\nNão confirme vaga.\nNão confirme hospedagem.\nNão ofereça horário.\n\n==================================================\nPREÇO\n==================================================\n\nNão responda preço seco logo de cara.\n\nSe o lead pedir preço na primeira mensagem, apresente-se e peça os dados do cão antes.\n\nSe o lead insistir no preço depois, responda com os valores conhecidos:\n\nCreche:\n- Diária avulsa: R$ 100\n- Mensal 1x por semana: R$ 325\n- Mensal 2x por semana: R$ 560\n- Mensal 3x por semana: R$ 760\n- Mensal 4x por semana: R$ 950\n- Mensal 5x por semana: R$ 1.020\n\nHotel:\n- Baixa temporada: R$ 165 por diária\n- Alta temporada: R$ 180 por diária\n- Pacote 10 diárias: R$ 1.430\n- Pacote 20 diárias: R$ 2.530\n- Pacote 30 diárias: R$ 3.400\n\nAvaliação comportamental:\n- R$ 100\n\nNão peça PIX.\nNão envie dados de pagamento.\nNão ofereça desconto.\n\n==================================================\nREGRAS IMPORTANTES\n==================================================\n\nA Bruna não agenda.\nA Bruna não consulta agenda.\nA Bruna não cria pré-reserva.\nA Bruna não confirma hospedagem.\nA Bruna não confirma disponibilidade.\nA Bruna não valida pagamento.\nA Bruna não envia chave PIX, CNPJ, recebedor ou dados bancários.\nA Bruna não inventa regra, preço, exceção ou disponibilidade.\n\nSe o lead pedir humano, diga:\n“Claro. Vou encaminhar para uma pessoa da equipe continuar com você. O atendimento humano acontece em horário comercial.”\n\nEncaminhe para humano quando:\n- o lead pedir humano;\n- houver dúvida sobre raça;\n- houver agressividade, mordida ou caso sensível;\n- macho adulto não castrado, mas tutor pretende castrar;\n- o caso estiver pronto para avaliação;\n- comprovante ou pagamento for mencionado;\n- você não souber responder com segurança.\n\n==================================================\nFINALIZAÇÃO\n==================================================\n\nSe você perguntar “Posso ajudar com mais alguma informação?” e o lead responder “não obrigado”, “por enquanto não”, “só isso” ou similar, não continue fazendo perguntas.\n\nResponda:\n“Tudo certo. Vou deixar seu atendimento encaminhado para a equipe, caso precisem seguir com algum próximo passo por aqui.”"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1280,336],"id":"c7ae97f9-9cff-4b2e-a260-c2a21ef7faa0","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[608,672],"id":"40a83d9b-2c12-43f8-b3e8-88fcd436726c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=A base_conhecimento_bruna é fonte de fatos oficiais da AuAu Creche Canina, não é fonte de decisão conversacional.\n\nUse esta base para confirmar informações operacionais como:\n- valores;\n- planos;\n- pacotes;\n- diária;\n- mensalidade;\n- localização;\n- unidades;\n- funcionamento da creche;\n- funcionamento do hotel;\n- avaliação comportamental;\n- adaptação;\n- regras sanitárias;\n- castração;\n- cio;\n- vacinas;\n- antipulgas;\n- vermifugação;\n- visita;\n- material institucional;\n- objeções comerciais.\n\nA base pode confirmar fatos, mas quem decide quando falar preço, quando qualificar, quando repassar humano e quando encerrar é o System Prompt da Bruna.\n\nRegra comercial atual sobre preço:\n- no primeiro pedido de preço, a Bruna deve qualificar antes e não abrir tabela logo de cara;\n- se o lead insistir em preço, a Bruna pode responder valores de forma objetiva;\n- se já houver dados suficientes do cão e o lead pedir preço, a Bruna pode responder valores;\n- para creche, não abrir tabela completa logo de cara no primeiro pedido;\n- para hotel, perguntar o período quando ainda não houver período;\n- se houver período e insistência, responder valores de hotel e explicar avaliação/adaptação.\n\nNão use a avaliação como resposta padrão para tudo.\nNão responda preço específico apenas porque encontrou preço na base.\nNão invente valores, endereços, regras, disponibilidade, exceções, descontos ou condições comerciais.\nNunca retorne chave PIX, CNPJ, recebedor ou dados bancários.","tableName":{"__rl":true,"value":"auau_bruna_documents","mode":"list","cachedResultName":"auau_bruna_documents"},"options":{"queryName":"auau_bruna_match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[816,672],"id":"190cfcd5-c52f-4c1e-8eaf-e46db80a7a82","name":"base_conhecimento_bruna","credentials":{"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"jsCode":"const NORMALIZA_SAIDA_BRUNA_VERSION = \"v2_simples_json_handoff\";\n\nconst agentItem = $input.first()?.json || {};\n\nlet entrada = {};\ntry {\n  entrada = $(\"Normaliza Entrada Teste\").first().json || {};\n} catch (error) {\n  entrada = {};\n}\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction tryParseJson(value) {\n  try {\n    return JSON.parse(value);\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction extractRawOutput(value) {\n  if (value && typeof value === \"object\") {\n    if (value.output !== undefined) return value.output;\n    if (value.text !== undefined) return value.text;\n    if (value.content !== undefined) return value.content;\n  }\n\n  return value;\n}\n\nconst rawOutput = extractRawOutput(agentItem);\nconst parsed = typeof rawOutput === \"string\" ? tryParseJson(rawOutput.trim()) : rawOutput;\n\nlet resposta = \"\";\nlet handoffHumano = false;\nlet motivoHandoff = \"\";\n\nif (parsed && typeof parsed === \"object\") {\n  resposta = clean(parsed.resposta || parsed.reply || parsed.text || parsed.content || \"\");\n  handoffHumano = parsed.handoff_humano === true;\n  motivoHandoff = handoffHumano ? clean(parsed.motivo_handoff) : \"\";\n} else {\n  resposta = clean(rawOutput);\n  handoffHumano = /encaminhar|pessoa da equipe|atendimento humano/i.test(resposta);\n  motivoHandoff = handoffHumano ? \"inferido_por_texto\" : \"\";\n}\n\nif (!resposta) {\n  throw new Error(\"Resposta da Bruna veio vazia.\");\n}\n\nreturn [\n  {\n    json: {\n      action: \"sendReply\",\n      sessionId: entrada.sessionId || \"\",\n      lead: entrada.lead || {},\n      message_in: entrada.message || {},\n      reply: {\n        role: \"bruna\",\n        content: resposta,\n        created_at: new Date().toISOString()\n      },\n      handoff: {\n        should_handoff: handoffHumano,\n        motivo: motivoHandoff,\n        responsavel: handoffHumano ? \"Flavia\" : \"\"\n      },\n      routing: {\n        should_send: true,\n        should_handoff: handoffHumano,\n        channel: entrada.routing?.channel || \"n8n_chat_test\"\n      },\n      debug: {\n        normaliza_saida_bruna_version: NORMALIZA_SAIDA_BRUNA_VERSION,\n        agent_raw_output: agentItem,\n        parsed_output: parsed || null,\n        simplified_flow: true\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,336],"id":"889fdb66-b920-46d2-9db7-c3f3d4840c85","name":"NORMALIZA BRUNA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fbd6d67-860b-46d5-893f-e71e98318512","leftValue":"={{ String($json.message?.content || \"\").toLowerCase() }}","rightValue":"melhoria bruna","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1056,192],"id":"1be8e5c0-df72-43d4-83a1-90e26426215e","name":"Melhoria Bruna"},{"parameters":{"assignments":{"assignments":[{"id":"f4d11c43-627e-48b8-9dea-fef9c2338af1","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"f9fed910-f532-479a-a0fc-0049cc8ee7f9","name":"lead.phone","value":"={{ $json.lead.phone }}","type":"string"},{"id":"5d5a101c-a123-4147-8d5b-1edf2ecff927","name":"message.last_bruna_message_before_current_block","value":"=Ultima mensagem da Bruna: {{ $json.message.last_bruna_message_before_current_block }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,0],"id":"c7b58354-286b-4346-bfb5-36aa035cf83c","name":"Edit Fields"},{"parameters":{"message":"=Melhoria recebida. Continue a conversa com a Bruna normalmente.","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.3,"position":[1856,0],"id":"b9ddfa89-26f5-4c65-8472-448be326b610","name":"Chat","webhookId":"efa65f32-00ba-4700-a584-a5706c4acdb3"},{"parameters":{"table":{"__rl":true,"value":"bruna_melhorias_conversas","mode":"list","cachedResultName":"bruna_melhorias_conversas"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"comentarios","value":"={{ $json.toJsonString() }}"},{"column":"phone","value":"={{ $json.lead.phone }}"}]},"options":{"priority":"LOW_PRIORITY"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1632,0],"id":"9ff6a65c-0f9e-4ce2-a8bd-a92f505c0f81","name":"Insert rows in a table","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.agent.memory_session_id || $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.4,"position":[1424,560],"id":"10e7016d-4403-45d2-96fe-8823762fab9f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"B9lJKE7PuydHccSF","name":"Postgres auau_bruna"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_memoria_leads (\n  phone,\n  chat_history_uuid,\n  nome_tutor,\n  quantidade_caes,\n  caes_json,\n  unidade_preferida,\n  servico_interesse,\n  origem_lead,\n  origem_detalhada,\n  status_lead,\n  apto_para_avaliacao,\n  status_pagamento,\n  comprovante_recebido,\n  tipo_comprovante,\n  pre_reserva_criada,\n  responsavel_humano,\n  deve_repassar_humano,\n  guia_enviado,\n  encerrado,\n  mensagem_ultima_lead,\n  mensagem_ultima_bruna,\n  data_ultima_mensagem_lead,\n  data_ultima_mensagem_bruna,\n  data_ultima_interacao,\n  payload_ultima_resposta_json,\n  memoria_schema_version\n)\nVALUES (\n  '{{ String($json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.lead?.name || \"\").replace(/'/g, \"''\") }}',\n  0,\n  JSON_ARRAY(),\n  'nao_definida',\n  'nao_definido',\n  'outro',\n  'n8n_chat_test',\n  'NOVO_LEAD',\n  'pendente',\n  'nao_solicitado',\n  0,\n  'nao_informado',\n  0,\n  '',\n  0,\n  0,\n  0,\n  '{{ String($json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW(),\n  NOW(),\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'sessionId', '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'normaliza_saida_version', '{{ String($json.debug?.normaliza_saida_bruna_version || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'mvp_debug_v1'\n)\nON DUPLICATE KEY UPDATE\n  chat_history_uuid = VALUES(chat_history_uuid),\n  nome_tutor = VALUES(nome_tutor),\n  mensagem_ultima_lead = VALUES(mensagem_ultima_lead),\n  mensagem_ultima_bruna = VALUES(mensagem_ultima_bruna),\n  data_ultima_mensagem_lead = NOW(),\n  data_ultima_mensagem_bruna = NOW(),\n  data_ultima_interacao = NOW(),\n  payload_ultima_resposta_json = VALUES(payload_ultima_resposta_json),\n  memoria_schema_version = VALUES(memoria_schema_version),\n  atualizado_em = NOW();","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1856,240],"id":"b5a141fb-b527-4a5f-95c5-41d7135499b8","name":"Upsert Memória Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id AS lead_id,\n  phone,\n  chat_history_uuid\nFROM bruna_memoria_leads\nWHERE phone = '{{ String($('NORMALIZA BRUNA').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2080,240],"id":"2f126603-c584-48f4-a8b1-2fa6ac4c308f","name":"Buscar Lead ID Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_historico_leads (\n  lead_id,\n  phone,\n  account_id_chatwoot,\n  contact_id_chatwoot,\n  conversation_id_chatwoot,\n  id_mensagem_origem,\n  tipo_registro,\n  origem_registro,\n  status_lead_anterior,\n  status_lead_novo,\n  ultima_intencao_anterior,\n  ultima_intencao_nova,\n  evento_sistema,\n  mensagem_texto,\n  anexo_referencia,\n  payload_bruto_json,\n  run_mode,\n  prompt_version,\n  guard_aprovado,\n  guard_erros_json,\n  qa_tags_json,\n  motivo_bloqueio_envio\n)\nVALUES\n(\n  {{ $json.lead_id }},\n  '{{ String($json.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}_lead_{{ Date.now() }}',\n  'mensagem_lead',\n  'n8n',\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'direction', 'in',\n    'sessionId', '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($(\"NORMALIZA BRUNA\").first().json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($(\"NORMALIZA BRUNA\").first().json.message_in?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'sandbox',\n  'mvp_bruna_simples_v1',\n  1,\n  NULL,\n  JSON_ARRAY('mvp_debug', 'mensagem_lead'),\n  NULL\n),\n(\n  {{ $json.lead_id }},\n  '{{ String($json.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}_bruna_{{ Date.now() }}',\n  'mensagem_bruna',\n  'n8n',\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'direction', 'out',\n    'sessionId', '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($(\"NORMALIZA BRUNA\").first().json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($(\"NORMALIZA BRUNA\").first().json.reply?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'sandbox',\n  'mvp_bruna_simples_v1',\n  1,\n  NULL,\n  JSON_ARRAY('mvp_debug', 'mensagem_bruna'),\n  NULL\n);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2304,240],"id":"9b064c2f-6143-4b39-8fdb-1fe340284e30","name":"Inserir Histórico Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"message":"=DADOS INTERNOS PARA DEBUG\n- phone: {{ $json.lead.phone }}\n- handoff humano: {{ $json.handoff.should_handoff }}\n- motivo: {{ $json.handoff.motivo }}\n- responsável: {{ $json.handoff.responsavel }}\n\n--\n\nMENSAGEM BRUNA:\n\n{{ $json.reply.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.3,"position":[1856,432],"id":"263514e9-c8fb-4fc2-a459-43f7f147e0b1","name":"Resposta Chat","webhookId":"20ae2326-f694-4014-877a-6a32640d9b47","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"public":true,"initialMessages":"=Fale com a Bruna - versão testes internos","options":{"inputPlaceholder":"Digite sua mensagem...","loadPreviousSession":"notSupported","showWelcomeScreen":true,"subtitle":"Este é um ambiente de testes, a Bruna irá responder todas as mensagens, por isso envie tudo em uma mensagem só e aguarde a resposta.","title":"BRUNA AUAU CRECHE CANINA ","responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[608,192],"id":"55f08373-2f17-4518-ad11-0eafea49b646","name":"Entrada Chat","webhookId":"af5e94ce-93a6-4e48-b7a9-6fbc5d22369a"}],"connections":{"Normaliza Entrada Teste":{"main":[[{"node":"Melhoria Bruna","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"Bruna Auau":{"main":[[{"node":"NORMALIZA BRUNA","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"base_conhecimento_bruna","type":"ai_embedding","index":0}]]},"base_conhecimento_bruna":{"ai_tool":[[]]},"NORMALIZA BRUNA":{"main":[[{"node":"Resposta Chat","type":"main","index":0},{"node":"Upsert Memória Debug","type":"main","index":0}]]},"Melhoria Bruna":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Bruna Auau","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Chat","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Bruna Auau","type":"ai_memory","index":0}]]},"Upsert Memória Debug":{"main":[[{"node":"Buscar Lead ID Debug","type":"main","index":0}]]},"Buscar Lead ID Debug":{"main":[[{"node":"Inserir Histórico Debug","type":"main","index":0}]]},"Entrada Chat":{"main":[[{"node":"Normaliza Entrada Teste","type":"main","index":0}]]}},"settings":{"availableInMCP":false,"executionOrder":"v1","saveExecutionProgress":true,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner","binaryMode":"separate","timeSavedMode":"fixed","saveDataSuccessExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"8dd1d614-f729-4fb6-974d-f0367459074e","activeVersionId":"8dd1d614-f729-4fb6-974d-f0367459074e","triggerCount":1,"shared":[{"updatedAt":"2026-06-03T12:45:21.319Z","createdAt":"2026-06-03T12:45:21.319Z","role":"workflow:owner","workflowId":"RXiFTc0L32kLFtyY","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-06-07T13:44:41.209Z","createdAt":"2026-06-07T13:44:39.186Z","versionId":"8dd1d614-f729-4fb6-974d-f0367459074e","workflowId":"RXiFTc0L32kLFtyY","nodes":[{"parameters":{"jsCode":"const NORMALIZA_ENTRADA_VERSION = \"v3_simples_teste_com_debug_phone\";\n\nconst firstItem = $input.first()?.json || {};\nconst input = Array.isArray(firstItem) ? (firstItem[0] || {}) : firstItem;\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction onlyDigits(value) {\n  return clean(value).replace(/\\D/g, \"\");\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction fnv1a64(inputText) {\n  const text = String(inputText || \"\");\n  let hash = 1469598103934665603n;\n\n  for (let i = 0; i < text.length; i++) {\n    hash ^= BigInt(text.charCodeAt(i));\n    hash *= 1099511628211n;\n    hash &= (1n << 64n) - 1n;\n  }\n\n  return hash;\n}\n\nfunction makeDebugPhone(seed) {\n  const hash = fnv1a64(seed);\n  const eighteenDigits = String(hash % 1000000000000000000n).padStart(18, \"0\");\n  return `99${eighteenDigits}`.slice(0, 20);\n}\n\nconst action = firstFilled(input.action, \"sendMessage\");\n\nconst sessionId = firstFilled(\n  input.sessionId,\n  input.session_id,\n  input.chatSessionId,\n  `test-${Date.now()}`\n);\n\nconst chatInput = firstFilled(\n  input.chatInput,\n  input.message,\n  input.text,\n  input.content\n);\n\nif (!chatInput) {\n  throw new Error(\"chatInput vazio. Envie uma mensagem para testar a Bruna.\");\n}\n\nconst inputPhone = onlyDigits(\n  input.phone ||\n  input.telefone ||\n  input.whatsapp ||\n  input.lead?.phone\n);\n\nconst debugPhone = makeDebugPhone(sessionId);\n\n// No teste, se não vier telefone real, usa telefone fake começando com 99.\nconst isTest = true;\nconst phone = isTest ? debugPhone : (inputPhone ? inputPhone.slice(0, 20) : debugPhone);\n\nreturn [\n  {\n    json: {\n      action,\n      sessionId,\n\n      lead: {\n        id: sessionId,\n        name: firstFilled(input.name, input.nome, input.lead?.name, \"\"),\n        phone\n      },\n\n      message: {\n        role: \"lead\",\n        content: chatInput,\n        has_text: true,\n        has_attachment: false,\n        created_at: nowIso()\n      },\n\n      conversation: {\n        is_test: true,\n        memory_enabled: true,\n        history_source: \"agent_memory\",\n        history_text: \"\"\n      },\n\n      routing: {\n        should_reply: true,\n        channel: \"n8n_chat_test\"\n      },\n\n      agent: {\n        memory_session_id: sessionId\n      },\n\n      ai_input: [\n        \"MENSAGEM ATUAL DO LEAD:\",\n        chatInput,\n        \"\",\n        \"CONTEXTO:\",\n        \"Use a memória da conversa vinculada ao sessionId para lembrar mensagens anteriores.\",\n        \"Se não houver memória anterior, trate como primeiro contato.\",\n        \"\",\n        \"INSTRUÇÃO:\",\n        \"Responda como Bruna, atendente virtual da AuAu Creche Canina, seguindo o prompt do agente.\"\n      ].join(\"\\n\"),\n\n      debug: {\n        normaliza_entrada_version: NORMALIZA_ENTRADA_VERSION,\n        received_action: action,\n        received_session_id: sessionId,\n        received_chat_input: chatInput,\n        generated_debug_phone: debugPhone,\n        final_phone: phone,\n        phone_length: phone.length,\n        phone_starts_with_99: phone.startsWith(\"99\"),\n        simplified_flow: true,\n        memory_expected_in_agent: true\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,192],"id":"4de6ce3c-b12a-445b-aa05-28da589a02d4","name":"Normaliza Entrada Teste"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0.2,"maxTokens":1200,"responseFormat":"text","presencePenalty":0,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1296,560],"id":"1ff63ef5-7ebb-451d-a36c-ee4b41bad30c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"promptType":"define","text":"={{ $json.ai_input }}","options":{"systemMessage":"=Você é a Bruna, atendente virtual da AuAu Creche Canina.\n\nSua função é atender leads interessados em creche ou hotel para cães, fazendo uma conversa simples, natural e objetiva pelo WhatsApp.\n\nVocê deve usar a memória da conversa para lembrar o que já foi perguntado e respondido.\nResponda sempre em JSON válido, sem markdown.\n\nFormato obrigatório:\n{\n  \"resposta\": \"mensagem final para o lead\",\n  \"handoff_humano\": false,\n  \"motivo_handoff\": \"\"\n}\n\nUse handoff_humano = true somente quando precisar encaminhar para uma pessoa da equipe.\n\nMotivos permitidos:\n- pediu_humano\n- caso_pronto_para_avaliacao\n- comprovante_ou_pagamento\n- duvida_raca\n- macho_nao_castrado_pretende_castrar\n- reatividade_ou_agressividade\n- duvida_operacional\n- lead_irritado\n\nSe handoff_humano = false, motivo_handoff deve ser \"\".\n\nA mensagem para o lead deve ficar somente em \"resposta\".\nNão explique raciocínio interno.\nNão fale de regras técnicas.\nNão diga que está usando memória.\n\n==================================================\nTOM DE VOZ\n==================================================\n\nFale como uma atendente simpática, clara e direta.\n\nUse mensagens curtas.\nFaça no máximo 1 pergunta principal por vez.\nEvite textão.\nEvite parecer robô.\nNão fique validando tudo com “entendi”, “perfeito” ou “obrigada por informar” em toda resposta.\nNão repita pergunta já respondida.\n\n==================================================\nPRIMEIRA MENSAGEM\n==================================================\n\nSe for o primeiro contato ou se não houver dados do cão na conversa, apresente-se e peça os dados básicos.\n\nResposta esperada quando o lead disser apenas “oi”, “olá”, “bom dia”, “boa tarde”, “boa noite” ou pedir informações gerais:\n\n“Olá! Eu sou a Bruna, atendente virtual da AuAu Creche Canina 🐶🩵. Se quiser falar com uma pessoa da equipe em algum momento, é só escrever humano.\n\nPara eu te orientar direitinho, me conta por favor: qual é o nome, idade, raça, sexo e se o cãozinho é castrado?”\n\nNunca envie apenas apresentação.\nNunca diga só “vou fazer algumas perguntas”.\nNa primeira coleta, peça nome, idade, raça, sexo e castração juntos.\n\nSe o tutor responder apenas parte dos dados básicos, não avance.\nPergunte primeiro o dado básico que ficou faltando.\n\nExemplo:\nSe o tutor responder \"Junin 2 anos fêmea não castrada\", a próxima pergunta obrigatória é:\n\"Qual é a raça da Junin?\"\n\n==================================================\nORDEM DA CONVERSA\n==================================================\n\nConduza nesta ordem, sem transformar em formulário pesado.\n\nREGRA CENTRAL:\nAntes de perguntar cio, comportamento, vacinas, serviço, frequência, preço ou avaliação, confira se os dados básicos do cão estão completos.\n\nDados básicos obrigatórios:\n- nome\n- idade\n- raça\n- sexo\n- se é castrado\n\nSe algum desses dados estiver faltando, pergunte somente o dado faltante.\n\nExemplos:\nLead: \"Junin, 2 anos, fêmea, não castrada\"\nResposta correta:\n\"Qual é a raça da Junin?\"\n\nLead: \"Bili, pug, macho\"\nResposta correta:\n\"Qual é a idade do Bili e ele é castrado?\"\n\nLead: \"Luna, 3 anos, spitz\"\nResposta correta:\n\"A Luna é macho ou fêmea? E é castrada?\"\n\nNunca avance para cio, comportamento, vacinas, serviço, preço ou avaliação se a raça ainda não foi informada.\n\n1. Dados básicos do cão:\nnome, idade, raça, sexo e se é castrado.\n\n2. Se os dados básicos estiverem incompletos:\npergunte apenas o que falta.\n\n3. Se os dados básicos estiverem completos e for fêmea:\npergunte se está no cio, caso ainda não tenha sido informado.\n\n4. Se os dados básicos estiverem completos e for macho com 8 meses ou mais:\nele precisa ser castrado para frequentar a rotina em grupo.\n\nSe o tutor informar que é macho adulto e não castrado:\nexplique a regra e pergunte se pretende castrar.\n\nSe pretende castrar:\nencaminhe para humano.\n\nSe não pretende castrar:\nexplique que por enquanto não conseguimos seguir com creche ou hotel.\n\n5. Comportamento:\npergunte como é a rotina dele e como costuma ficar com outros cães.\n\nSe o tutor disser que convive bem, se dá bem, é sociável ou tranquilo, considere comportamento ok e não pergunte isso de novo.\n\nSe disser que não sabe, nunca teve contato ou não convive com outros cães, explique que a avaliação serve justamente para observar isso com segurança.\n\nSe mencionar agressividade, mordida, ataque, avanço forte ou reatividade intensa, encaminhe para humano.\n\n6. Sanitário:\npergunte se vacinas, antipulgas e vermifugação estão em dia.\n\nSe responder “sim”, “tudo em dia”, “tudo certo”, “tudo ok” ou equivalente, considere sanitário ok e não pergunte isso de novo.\n\n7. Serviço:\nentenda se busca creche ou hotel.\n\nPara creche, pergunte a frequência desejada se ainda não foi informada.\nPara hotel, pergunte o período desejado se ainda não foi informado.\n\n8. Avaliação:\nquando os dados básicos, comportamento e sanitário estiverem ok, explique que o próximo passo é a avaliação comportamental e encaminhe para uma pessoa da equipe continuar.\n\nNão diga que o cão está aprovado.\nNão confirme vaga.\nNão confirme hospedagem.\nNão ofereça horário.\n\n==================================================\nPREÇO\n==================================================\n\nNão responda preço seco logo de cara.\n\nSe o lead pedir preço na primeira mensagem, apresente-se e peça os dados do cão antes.\n\nSe o lead insistir no preço depois, responda com os valores conhecidos:\n\nCreche:\n- Diária avulsa: R$ 100\n- Mensal 1x por semana: R$ 325\n- Mensal 2x por semana: R$ 560\n- Mensal 3x por semana: R$ 760\n- Mensal 4x por semana: R$ 950\n- Mensal 5x por semana: R$ 1.020\n\nHotel:\n- Baixa temporada: R$ 165 por diária\n- Alta temporada: R$ 180 por diária\n- Pacote 10 diárias: R$ 1.430\n- Pacote 20 diárias: R$ 2.530\n- Pacote 30 diárias: R$ 3.400\n\nAvaliação comportamental:\n- R$ 100\n\nNão peça PIX.\nNão envie dados de pagamento.\nNão ofereça desconto.\n\n==================================================\nREGRAS IMPORTANTES\n==================================================\n\nA Bruna não agenda.\nA Bruna não consulta agenda.\nA Bruna não cria pré-reserva.\nA Bruna não confirma hospedagem.\nA Bruna não confirma disponibilidade.\nA Bruna não valida pagamento.\nA Bruna não envia chave PIX, CNPJ, recebedor ou dados bancários.\nA Bruna não inventa regra, preço, exceção ou disponibilidade.\n\nSe o lead pedir humano, diga:\n“Claro. Vou encaminhar para uma pessoa da equipe continuar com você. O atendimento humano acontece em horário comercial.”\n\nEncaminhe para humano quando:\n- o lead pedir humano;\n- houver dúvida sobre raça;\n- houver agressividade, mordida ou caso sensível;\n- macho adulto não castrado, mas tutor pretende castrar;\n- o caso estiver pronto para avaliação;\n- comprovante ou pagamento for mencionado;\n- você não souber responder com segurança.\n\n==================================================\nFINALIZAÇÃO\n==================================================\n\nSe você perguntar “Posso ajudar com mais alguma informação?” e o lead responder “não obrigado”, “por enquanto não”, “só isso” ou similar, não continue fazendo perguntas.\n\nResponda:\n“Tudo certo. Vou deixar seu atendimento encaminhado para a equipe, caso precisem seguir com algum próximo passo por aqui.”"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1280,336],"id":"c7ae97f9-9cff-4b2e-a260-c2a21ef7faa0","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[608,672],"id":"40a83d9b-2c12-43f8-b3e8-88fcd436726c","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=A base_conhecimento_bruna é fonte de fatos oficiais da AuAu Creche Canina, não é fonte de decisão conversacional.\n\nUse esta base para confirmar informações operacionais como:\n- valores;\n- planos;\n- pacotes;\n- diária;\n- mensalidade;\n- localização;\n- unidades;\n- funcionamento da creche;\n- funcionamento do hotel;\n- avaliação comportamental;\n- adaptação;\n- regras sanitárias;\n- castração;\n- cio;\n- vacinas;\n- antipulgas;\n- vermifugação;\n- visita;\n- material institucional;\n- objeções comerciais.\n\nA base pode confirmar fatos, mas quem decide quando falar preço, quando qualificar, quando repassar humano e quando encerrar é o System Prompt da Bruna.\n\nRegra comercial atual sobre preço:\n- no primeiro pedido de preço, a Bruna deve qualificar antes e não abrir tabela logo de cara;\n- se o lead insistir em preço, a Bruna pode responder valores de forma objetiva;\n- se já houver dados suficientes do cão e o lead pedir preço, a Bruna pode responder valores;\n- para creche, não abrir tabela completa logo de cara no primeiro pedido;\n- para hotel, perguntar o período quando ainda não houver período;\n- se houver período e insistência, responder valores de hotel e explicar avaliação/adaptação.\n\nNão use a avaliação como resposta padrão para tudo.\nNão responda preço específico apenas porque encontrou preço na base.\nNão invente valores, endereços, regras, disponibilidade, exceções, descontos ou condições comerciais.\nNunca retorne chave PIX, CNPJ, recebedor ou dados bancários.","tableName":{"__rl":true,"value":"auau_bruna_documents","mode":"list","cachedResultName":"auau_bruna_documents"},"options":{"queryName":"auau_bruna_match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[816,672],"id":"190cfcd5-c52f-4c1e-8eaf-e46db80a7a82","name":"base_conhecimento_bruna","credentials":{"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"jsCode":"const NORMALIZA_SAIDA_BRUNA_VERSION = \"v2_simples_json_handoff\";\n\nconst agentItem = $input.first()?.json || {};\n\nlet entrada = {};\ntry {\n  entrada = $(\"Normaliza Entrada Teste\").first().json || {};\n} catch (error) {\n  entrada = {};\n}\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction tryParseJson(value) {\n  try {\n    return JSON.parse(value);\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction extractRawOutput(value) {\n  if (value && typeof value === \"object\") {\n    if (value.output !== undefined) return value.output;\n    if (value.text !== undefined) return value.text;\n    if (value.content !== undefined) return value.content;\n  }\n\n  return value;\n}\n\nconst rawOutput = extractRawOutput(agentItem);\nconst parsed = typeof rawOutput === \"string\" ? tryParseJson(rawOutput.trim()) : rawOutput;\n\nlet resposta = \"\";\nlet handoffHumano = false;\nlet motivoHandoff = \"\";\n\nif (parsed && typeof parsed === \"object\") {\n  resposta = clean(parsed.resposta || parsed.reply || parsed.text || parsed.content || \"\");\n  handoffHumano = parsed.handoff_humano === true;\n  motivoHandoff = handoffHumano ? clean(parsed.motivo_handoff) : \"\";\n} else {\n  resposta = clean(rawOutput);\n  handoffHumano = /encaminhar|pessoa da equipe|atendimento humano/i.test(resposta);\n  motivoHandoff = handoffHumano ? \"inferido_por_texto\" : \"\";\n}\n\nif (!resposta) {\n  throw new Error(\"Resposta da Bruna veio vazia.\");\n}\n\nreturn [\n  {\n    json: {\n      action: \"sendReply\",\n      sessionId: entrada.sessionId || \"\",\n      lead: entrada.lead || {},\n      message_in: entrada.message || {},\n      reply: {\n        role: \"bruna\",\n        content: resposta,\n        created_at: new Date().toISOString()\n      },\n      handoff: {\n        should_handoff: handoffHumano,\n        motivo: motivoHandoff,\n        responsavel: handoffHumano ? \"Flavia\" : \"\"\n      },\n      routing: {\n        should_send: true,\n        should_handoff: handoffHumano,\n        channel: entrada.routing?.channel || \"n8n_chat_test\"\n      },\n      debug: {\n        normaliza_saida_bruna_version: NORMALIZA_SAIDA_BRUNA_VERSION,\n        agent_raw_output: agentItem,\n        parsed_output: parsed || null,\n        simplified_flow: true\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,336],"id":"889fdb66-b920-46d2-9db7-c3f3d4840c85","name":"NORMALIZA BRUNA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fbd6d67-860b-46d5-893f-e71e98318512","leftValue":"={{ String($json.message?.content || \"\").toLowerCase() }}","rightValue":"melhoria bruna","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1056,192],"id":"1be8e5c0-df72-43d4-83a1-90e26426215e","name":"Melhoria Bruna"},{"parameters":{"assignments":{"assignments":[{"id":"f4d11c43-627e-48b8-9dea-fef9c2338af1","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"f9fed910-f532-479a-a0fc-0049cc8ee7f9","name":"lead.phone","value":"={{ $json.lead.phone }}","type":"string"},{"id":"5d5a101c-a123-4147-8d5b-1edf2ecff927","name":"message.last_bruna_message_before_current_block","value":"=Ultima mensagem da Bruna: {{ $json.message.last_bruna_message_before_current_block }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,0],"id":"c7b58354-286b-4346-bfb5-36aa035cf83c","name":"Edit Fields"},{"parameters":{"message":"=Melhoria recebida. Continue a conversa com a Bruna normalmente.","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.3,"position":[1856,0],"id":"b9ddfa89-26f5-4c65-8472-448be326b610","name":"Chat","webhookId":"efa65f32-00ba-4700-a584-a5706c4acdb3"},{"parameters":{"table":{"__rl":true,"value":"bruna_melhorias_conversas","mode":"list","cachedResultName":"bruna_melhorias_conversas"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"comentarios","value":"={{ $json.toJsonString() }}"},{"column":"phone","value":"={{ $json.lead.phone }}"}]},"options":{"priority":"LOW_PRIORITY"}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1632,0],"id":"9ff6a65c-0f9e-4ce2-a8bd-a92f505c0f81","name":"Insert rows in a table","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.agent.memory_session_id || $json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.4,"position":[1424,560],"id":"10e7016d-4403-45d2-96fe-8823762fab9f","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"B9lJKE7PuydHccSF","name":"Postgres auau_bruna"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_memoria_leads (\n  phone,\n  chat_history_uuid,\n  nome_tutor,\n  quantidade_caes,\n  caes_json,\n  unidade_preferida,\n  servico_interesse,\n  origem_lead,\n  origem_detalhada,\n  status_lead,\n  apto_para_avaliacao,\n  status_pagamento,\n  comprovante_recebido,\n  tipo_comprovante,\n  pre_reserva_criada,\n  responsavel_humano,\n  deve_repassar_humano,\n  guia_enviado,\n  encerrado,\n  mensagem_ultima_lead,\n  mensagem_ultima_bruna,\n  data_ultima_mensagem_lead,\n  data_ultima_mensagem_bruna,\n  data_ultima_interacao,\n  payload_ultima_resposta_json,\n  memoria_schema_version\n)\nVALUES (\n  '{{ String($json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.lead?.name || \"\").replace(/'/g, \"''\") }}',\n  0,\n  JSON_ARRAY(),\n  'nao_definida',\n  'nao_definido',\n  'outro',\n  'n8n_chat_test',\n  'NOVO_LEAD',\n  'pendente',\n  'nao_solicitado',\n  0,\n  'nao_informado',\n  0,\n  '',\n  0,\n  0,\n  0,\n  '{{ String($json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW(),\n  NOW(),\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'sessionId', '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'normaliza_saida_version', '{{ String($json.debug?.normaliza_saida_bruna_version || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'mvp_debug_v1'\n)\nON DUPLICATE KEY UPDATE\n  chat_history_uuid = VALUES(chat_history_uuid),\n  nome_tutor = VALUES(nome_tutor),\n  mensagem_ultima_lead = VALUES(mensagem_ultima_lead),\n  mensagem_ultima_bruna = VALUES(mensagem_ultima_bruna),\n  data_ultima_mensagem_lead = NOW(),\n  data_ultima_mensagem_bruna = NOW(),\n  data_ultima_interacao = NOW(),\n  payload_ultima_resposta_json = VALUES(payload_ultima_resposta_json),\n  memoria_schema_version = VALUES(memoria_schema_version),\n  atualizado_em = NOW();","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1856,240],"id":"b5a141fb-b527-4a5f-95c5-41d7135499b8","name":"Upsert Memória Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id AS lead_id,\n  phone,\n  chat_history_uuid\nFROM bruna_memoria_leads\nWHERE phone = '{{ String($('NORMALIZA BRUNA').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2080,240],"id":"2f126603-c584-48f4-a8b1-2fa6ac4c308f","name":"Buscar Lead ID Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_historico_leads (\n  lead_id,\n  phone,\n  account_id_chatwoot,\n  contact_id_chatwoot,\n  conversation_id_chatwoot,\n  id_mensagem_origem,\n  tipo_registro,\n  origem_registro,\n  status_lead_anterior,\n  status_lead_novo,\n  ultima_intencao_anterior,\n  ultima_intencao_nova,\n  evento_sistema,\n  mensagem_texto,\n  anexo_referencia,\n  payload_bruto_json,\n  run_mode,\n  prompt_version,\n  guard_aprovado,\n  guard_erros_json,\n  qa_tags_json,\n  motivo_bloqueio_envio\n)\nVALUES\n(\n  {{ $json.lead_id }},\n  '{{ String($json.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}_lead_{{ Date.now() }}',\n  'mensagem_lead',\n  'n8n',\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'direction', 'in',\n    'sessionId', '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($(\"NORMALIZA BRUNA\").first().json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($(\"NORMALIZA BRUNA\").first().json.message_in?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'sandbox',\n  'mvp_bruna_simples_v1',\n  1,\n  NULL,\n  JSON_ARRAY('mvp_debug', 'mensagem_lead'),\n  NULL\n),\n(\n  {{ $json.lead_id }},\n  '{{ String($json.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}_bruna_{{ Date.now() }}',\n  'mensagem_bruna',\n  'n8n',\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  NULL,\n  '{{ String($(\"NORMALIZA BRUNA\").first().json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'mvp_bruna_simples',\n    'direction', 'out',\n    'sessionId', '{{ String($(\"NORMALIZA BRUNA\").first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($(\"NORMALIZA BRUNA\").first().json.routing?.channel || \"n8n_chat_test\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($(\"NORMALIZA BRUNA\").first().json.reply?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'sandbox',\n  'mvp_bruna_simples_v1',\n  1,\n  NULL,\n  JSON_ARRAY('mvp_debug', 'mensagem_bruna'),\n  NULL\n);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2304,240],"id":"9b064c2f-6143-4b39-8fdb-1fe340284e30","name":"Inserir Histórico Debug","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}}},{"parameters":{"message":"=DADOS INTERNOS PARA DEBUG\n- phone: {{ $json.lead.phone }}\n- handoff humano: {{ $json.handoff.should_handoff }}\n- motivo: {{ $json.handoff.motivo }}\n- responsável: {{ $json.handoff.responsavel }}\n\n--\n\nMENSAGEM BRUNA:\n\n{{ $json.reply.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1.3,"position":[1856,432],"id":"263514e9-c8fb-4fc2-a459-43f7f147e0b1","name":"Resposta Chat","webhookId":"20ae2326-f694-4014-877a-6a32640d9b47","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"public":true,"initialMessages":"=Fale com a Bruna - versão testes internos","options":{"inputPlaceholder":"Digite sua mensagem...","loadPreviousSession":"notSupported","showWelcomeScreen":true,"subtitle":"Este é um ambiente de testes, a Bruna irá responder todas as mensagens, por isso envie tudo em uma mensagem só e aguarde a resposta.","title":"BRUNA AUAU CRECHE CANINA ","responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[608,192],"id":"55f08373-2f17-4518-ad11-0eafea49b646","name":"Entrada Chat","webhookId":"af5e94ce-93a6-4e48-b7a9-6fbc5d22369a"}],"connections":{"Normaliza Entrada Teste":{"main":[[{"node":"Melhoria Bruna","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"Bruna Auau":{"main":[[{"node":"NORMALIZA BRUNA","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"base_conhecimento_bruna","type":"ai_embedding","index":0}]]},"base_conhecimento_bruna":{"ai_tool":[[]]},"NORMALIZA BRUNA":{"main":[[{"node":"Resposta Chat","type":"main","index":0},{"node":"Upsert Memória Debug","type":"main","index":0}]]},"Melhoria Bruna":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Bruna Auau","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Chat","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Bruna Auau","type":"ai_memory","index":0}]]},"Upsert Memória Debug":{"main":[[{"node":"Buscar Lead ID Debug","type":"main","index":0}]]},"Buscar Lead ID Debug":{"main":[[{"node":"Inserir Histórico Debug","type":"main","index":0}]]},"Entrada Chat":{"main":[[{"node":"Normaliza Entrada Teste","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 8dd1d614","description":"","autosaved":true},"tags":[]}