workflows/SbAq3tj5uAk2esxP.json
{"updatedAt":"2026-03-20T02:22:59.433Z","createdAt":"2026-01-19T16:17:20.025Z","id":"SbAq3tj5uAk2esxP","name":"[N8N] [BACKUP] Data Tables","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_datatables_data","mode":"list","cachedResultName":"n8n_datatables_data"},"columnToMatchOn":"row_id","options":{"connectionTimeoutMillis":300,"connectionLimit":100,"queryBatching":"independently","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,-2272],"id":"047574c6-29b9-4298-a261-4522904e3ac5","name":"Insert or update rows in a table","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"resource":"table","options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-304,-2400],"id":"fa8dc0f3-6869-4d74-88d5-1cb07bd12f03","name":"List data tables"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nfunction stable(obj) {\n  const keys = [];\n  JSON.stringify(obj, (k, v) => (keys.push(k), v));\n  keys.sort();\n  return JSON.stringify(obj, keys);\n}\n\nreturn items.map(i => {\n  const p = i.json;\n  const stableJson = stable(p);\n  const hash = crypto.createHash('sha256').update(stableJson).digest('hex');\n\n  return {\n    json: {\n      table_id: $json.table_id,\n      table_name: $json.table_name,\n      project_id: $json.project_id,\n      row_id: p.id || p._id || p.row_id,\n      payload: stableJson,\n      payload_hash: hash,\n      row_created_at: p.createdAt || null,\n      row_updated_at: p.updatedAt || null,\n      is_deleted: p.is_deleted,\n      synced_at: p.synced_at\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-2272],"id":"1969bb16-2ea9-478f-bf9a-be320365dfcb","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1040,-2112],"id":"4a66b8b1-55a7-43b0-b2c2-ebad16766100"},{"parameters":{"assignments":{"assignments":[{"id":"6b894d40-8593-4b72-afda-1062de42cdbf","name":"table_id","value":"={{ $('Loop Over Items').item.json.id }}","type":"string"},{"id":"bea883a4-a8e8-467f-ac2d-a7b209a11137","name":"table_name","value":"={{ $('Loop Over Items').item.json.name }}","type":"string"},{"id":"a0f85f7e-41c1-4c75-a4d9-5df2b20641c6","name":"","value":"=`id`, `table_id`, `table_name`, `project_id`, `row_id`, `payload`, `payload_hash`, `is_deleted`, `row_created_at`, `row_updated_at`, `synced_at`","type":"string"},{"id":"da08c63c-55da-49f0-a42b-133686b771a7","name":"project_id","value":"={{ $('Loop Over Items').item.json.projectId }}","type":"string"},{"id":"6823a9fe-819f-4203-8158-13e192fa7c4b","name":"row_id","value":"={{ $json.id }}","type":"string"},{"id":"a9daf0ff-c7b5-4932-aab0-62f2d7079f93","name":"payload","value":"={{ $json.toJsonString() }}","type":"string"},{"id":"94a94ed1-7b22-40ff-a231-adfa60679486","name":"createdAt","value":"={{ $json.createdAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"ae4c4964-b293-455c-8ffb-f52e13a6936d","name":"updatedAt","value":"={{ $json.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"78cabf32-b97c-4c05-8f7b-4f149ea29c20","name":"is_deleted","value":"0","type":"string"},{"id":"51e9fbb5-5588-4b89-a84a-e76f9f18afd3","name":"synced_at","value":"={{ $now.format('yyyy-MM-dd TT') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-2272],"id":"825d1202-dfd4-4edf-b568-417bcc8befb6","name":"Edit Fields"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_datatables_schema","mode":"list","cachedResultName":"n8n_datatables_schema"},"columnToMatchOn":"id","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[144,-2848],"id":"fc01d929-1590-4fd0-8d5b-d6f8ce39334a","name":"Insert or update rows in a table1","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[144,-2464],"id":"efd63d2b-33b3-405f-a202-d5696249eef1","name":"Tabelas Existentes"},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_datatables_schema\n  SET is_deleted = 1\nWHERE id NOT IN {{ $json.id.toJsonString().replace(\"[\",\"(\").replace(\"]\",\")\") }};\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[368,-2464],"id":"53a8e00d-aa11-4b87-8581-7252d76239e8","name":"is_deleted=1 - Tabelas Deletadas","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,-2208],"id":"d0433be0-f02a-4c18-af47-2f0b0acef5d7","name":"Loop Over Items"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[144,-2272],"id":"0dea951c-02ef-4a35-a3a4-d3d4122a9dd6","name":"Get row(s)"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-528,-2400],"id":"eae8ba89-ee8e-4eae-b3e4-37918e290cd4","name":"Schedule Trigger"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"row_id","renameField":true,"outputFieldName":"row_id_array"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,-2384],"id":"ff54d7db-b4cb-4868-b523-17c09bebaa4a","name":"Tabelas Existentes1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-2544],"id":"a8d41330-57f2-4343-a830-a95db1684f0b","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_datatables_data\n  SET is_deleted = 1\nWHERE row_id NOT IN {{ $json.row_id_array.toJsonString().replace(\"[\",\"(\").replace(\"]\",\")\") }}\n  AND table_id = '{{ $json.table_id }}'\n  AND project_id = '{{ $json.project_id }}'\n  AND row_updated_at='{{ $json.row_updated_at }}'\n  ;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1264,-2544],"id":"4f7f4778-ad5c-44dd-a6a6-0a7e72d09eaa","name":"is_deleted=1 - Tabelas Deletadas1","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"assignments":{"assignments":[{"id":"209cbebf-553b-4670-9ce2-6c8b2e31cdff","name":"updatedAt","value":"={{ $json.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"e2c07768-448f-4915-b615-890902eee848","name":"createdAt","value":"={{ $json.createdAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"483e662c-ce8a-46b6-ad7c-f53f44f519a7","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ab30a32c-f3c6-4869-b80f-d26e085d30d1","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"bbc2a86f-fa43-438a-81e4-d408a6a58adb","name":"columns","value":"={{ $json.columns.toJsonString() }}","type":"string"},{"id":"92e8825b-f680-48e4-ad9a-62ee38e9ee91","name":"projectId","value":"={{ $json.projectId }}","type":"string"},{"id":"31956bf8-c59a-495b-8887-61d7cc2fc305","name":"is_deleted","value":"0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-2752],"id":"a92ff6e2-9826-45e7-b34a-7a117d562f83","name":"payload"}],"connections":{"Insert or update rows in a table":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"List data tables":{"main":[[{"node":"payload","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0},{"node":"Tabelas Existentes1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Tabelas Existentes":{"main":[[{"node":"is_deleted=1 - Tabelas Deletadas","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List data tables","type":"main","index":0}]]},"Tabelas Existentes1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"is_deleted=1 - Tabelas Deletadas1","type":"main","index":0}]]},"payload":{"main":[[{"node":"Insert or update rows in a table1","type":"main","index":0},{"node":"Tabelas Existentes","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw","timeSavedMode":"fixed","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron 1h":{"recurrenceRules":[]},"node:Cron 43min":{"recurrenceRules":[]},"node:Cron 43min1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"f7de6f05-9581-48cc-a389-87b070a41346","activeVersionId":"f7de6f05-9581-48cc-a389-87b070a41346","triggerCount":1,"shared":[{"updatedAt":"2026-01-19T16:17:20.025Z","createdAt":"2026-01-19T16:17:20.025Z","role":"workflow:owner","workflowId":"SbAq3tj5uAk2esxP","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-20T02:23:00.491Z","createdAt":"2026-03-20T02:22:51.450Z","versionId":"f7de6f05-9581-48cc-a389-87b070a41346","workflowId":"SbAq3tj5uAk2esxP","nodes":[{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_datatables_data","mode":"list","cachedResultName":"n8n_datatables_data"},"columnToMatchOn":"row_id","options":{"connectionTimeoutMillis":300,"connectionLimit":100,"queryBatching":"independently","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[816,-2272],"id":"047574c6-29b9-4298-a261-4522904e3ac5","name":"Insert or update rows in a table","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"resource":"table","options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-304,-2400],"id":"fa8dc0f3-6869-4d74-88d5-1cb07bd12f03","name":"List data tables"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nfunction stable(obj) {\n  const keys = [];\n  JSON.stringify(obj, (k, v) => (keys.push(k), v));\n  keys.sort();\n  return JSON.stringify(obj, keys);\n}\n\nreturn items.map(i => {\n  const p = i.json;\n  const stableJson = stable(p);\n  const hash = crypto.createHash('sha256').update(stableJson).digest('hex');\n\n  return {\n    json: {\n      table_id: $json.table_id,\n      table_name: $json.table_name,\n      project_id: $json.project_id,\n      row_id: p.id || p._id || p.row_id,\n      payload: stableJson,\n      payload_hash: hash,\n      row_created_at: p.createdAt || null,\n      row_updated_at: p.updatedAt || null,\n      is_deleted: p.is_deleted,\n      synced_at: p.synced_at\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-2272],"id":"1969bb16-2ea9-478f-bf9a-be320365dfcb","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1040,-2112],"id":"4a66b8b1-55a7-43b0-b2c2-ebad16766100"},{"parameters":{"assignments":{"assignments":[{"id":"6b894d40-8593-4b72-afda-1062de42cdbf","name":"table_id","value":"={{ $('Loop Over Items').item.json.id }}","type":"string"},{"id":"bea883a4-a8e8-467f-ac2d-a7b209a11137","name":"table_name","value":"={{ $('Loop Over Items').item.json.name }}","type":"string"},{"id":"a0f85f7e-41c1-4c75-a4d9-5df2b20641c6","name":"","value":"=`id`, `table_id`, `table_name`, `project_id`, `row_id`, `payload`, `payload_hash`, `is_deleted`, `row_created_at`, `row_updated_at`, `synced_at`","type":"string"},{"id":"da08c63c-55da-49f0-a42b-133686b771a7","name":"project_id","value":"={{ $('Loop Over Items').item.json.projectId }}","type":"string"},{"id":"6823a9fe-819f-4203-8158-13e192fa7c4b","name":"row_id","value":"={{ $json.id }}","type":"string"},{"id":"a9daf0ff-c7b5-4932-aab0-62f2d7079f93","name":"payload","value":"={{ $json.toJsonString() }}","type":"string"},{"id":"94a94ed1-7b22-40ff-a231-adfa60679486","name":"createdAt","value":"={{ $json.createdAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"ae4c4964-b293-455c-8ffb-f52e13a6936d","name":"updatedAt","value":"={{ $json.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"78cabf32-b97c-4c05-8f7b-4f149ea29c20","name":"is_deleted","value":"0","type":"string"},{"id":"51e9fbb5-5588-4b89-a84a-e76f9f18afd3","name":"synced_at","value":"={{ $now.format('yyyy-MM-dd TT') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-2272],"id":"825d1202-dfd4-4edf-b568-417bcc8befb6","name":"Edit Fields"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_datatables_schema","mode":"list","cachedResultName":"n8n_datatables_schema"},"columnToMatchOn":"id","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[144,-2848],"id":"fc01d929-1590-4fd0-8d5b-d6f8ce39334a","name":"Insert or update rows in a table1","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"id"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[144,-2464],"id":"efd63d2b-33b3-405f-a202-d5696249eef1","name":"Tabelas Existentes"},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_datatables_schema\n  SET is_deleted = 1\nWHERE id NOT IN {{ $json.id.toJsonString().replace(\"[\",\"(\").replace(\"]\",\")\") }};\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[368,-2464],"id":"53a8e00d-aa11-4b87-8581-7252d76239e8","name":"is_deleted=1 - Tabelas Deletadas","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,-2208],"id":"d0433be0-f02a-4c18-af47-2f0b0acef5d7","name":"Loop Over Items"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[144,-2272],"id":"0dea951c-02ef-4a35-a3a4-d3d4122a9dd6","name":"Get row(s)"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-528,-2400],"id":"eae8ba89-ee8e-4eae-b3e4-37918e290cd4","name":"Schedule Trigger"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"row_id","renameField":true,"outputFieldName":"row_id_array"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,-2384],"id":"ff54d7db-b4cb-4868-b523-17c09bebaa4a","name":"Tabelas Existentes1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-2544],"id":"a8d41330-57f2-4343-a830-a95db1684f0b","name":"Merge"},{"parameters":{"operation":"executeQuery","query":"UPDATE n8n_datatables_data\n  SET is_deleted = 1\nWHERE row_id NOT IN {{ $json.row_id_array.toJsonString().replace(\"[\",\"(\").replace(\"]\",\")\") }}\n  AND table_id = '{{ $json.table_id }}'\n  AND project_id = '{{ $json.project_id }}'\n  AND row_updated_at='{{ $json.row_updated_at }}'\n  ;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1264,-2544],"id":"4f7f4778-ad5c-44dd-a6a6-0a7e72d09eaa","name":"is_deleted=1 - Tabelas Deletadas1","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"assignments":{"assignments":[{"id":"209cbebf-553b-4670-9ce2-6c8b2e31cdff","name":"updatedAt","value":"={{ $json.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"e2c07768-448f-4915-b615-890902eee848","name":"createdAt","value":"={{ $json.createdAt.toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"483e662c-ce8a-46b6-ad7c-f53f44f519a7","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ab30a32c-f3c6-4869-b80f-d26e085d30d1","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"bbc2a86f-fa43-438a-81e4-d408a6a58adb","name":"columns","value":"={{ $json.columns.toJsonString() }}","type":"string"},{"id":"92e8825b-f680-48e4-ad9a-62ee38e9ee91","name":"projectId","value":"={{ $json.projectId }}","type":"string"},{"id":"31956bf8-c59a-495b-8887-61d7cc2fc305","name":"is_deleted","value":"0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-2752],"id":"a92ff6e2-9826-45e7-b34a-7a117d562f83","name":"payload"}],"connections":{"Insert or update rows in a table":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"List data tables":{"main":[[{"node":"payload","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0},{"node":"Tabelas Existentes1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Tabelas Existentes":{"main":[[{"node":"is_deleted=1 - Tabelas Deletadas","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List data tables","type":"main","index":0}]]},"Tabelas Existentes1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"is_deleted=1 - Tabelas Deletadas1","type":"main","index":0}]]},"payload":{"main":[[{"node":"Insert or update rows in a table1","type":"main","index":0},{"node":"Tabelas Existentes","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version f7de6f05","description":"","autosaved":true},"tags":[]}