workflows/sUqVh9bGOMTwouW5.json
{"updatedAt":"2026-01-27T15:50:34.981Z","createdAt":"2026-01-06T04:09:39.931Z","id":"sUqVh9bGOMTwouW5","name":"[CTX] [CLICKUP] Demandas pro Fio (v1.1)","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","operation":"get","id":"={{ $json.task_id }}"},"id":"7177ea66-ffcc-4d5d-a01c-4a3aeceba204","name":"ClickUp","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[560,240],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"authentication":"oAuth2","operation":"update","id":"={{ $json.id }}","updateFields":{"addAssignees":"54983155"}},"id":"270967cc-d840-4b6a-89f5-acd01e2f89f2","name":"ClickUp: Add Fio","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[832,160],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'priorityLED' to the JSON of each one\nfor (const item of $input.all()) {\n  // Verifica se o campo priority existe e não é nulo\n  if (item.json.priority && item.json.priority.priority) {\n    switch (item.json.priority.priority) {\n      case 'normal':\n        item.json.priorityLED = '🔵';\n        break;\n      case 'high':\n        item.json.priorityLED = '🟠';\n        break;\n      case 'urgent':\n        item.json.priorityLED = '🔴';\n        break;\n      case 'low':\n        item.json.priorityLED = '⚪';\n        break;\n      default:\n        item.json.priorityLED = '⚫';\n    }\n  } else {\n    // Se o campo priority for nulo ou não existir, defina um valor padrão\n    item.json.priorityLED = '⚫'; // Valor padrão se não houver prioridade\n  }\n}\n\nreturn $input.all();\n"},"id":"b9e365dd-22bc-486b-b041-55e2e82d73b4","name":"Code: Prioridade1","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,240]},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"id"},"channelId":{"__rl":true,"value":"1258876404037193831","mode":"list","cachedResultName":"clickup-demandas-fio","cachedResultUrl":"https://discord.com/channels/1083176019504140348/1258876404037193831"},"content":"=Nova demanda em {{ $node['ClickUp: Add Fio'].json.list.name }}\n\nTarefa: {{ $node['ClickUp: Add Fio'].json.name }}\n\n**Descrição:**\n{{ $node['ClickUp: Add Fio'].json.description }}\n\nPrioridade:  {{ $node['ClickUp: Add Fio'].json.priority }} ({{ $node['Code: Prioridade1'].json.priorityLED }})\n\nLink Tarefa:  {{ $node['ClickUp: Add Fio'].json.url }}\n\n<@1039302176775876711>","options":{}},"id":"e5832b6d-9270-4dda-8b5d-545198e88baf","name":"Discord: Fio Demanda Chegando","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1184,240],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"7c8b1399-f3bc-4ebb-a088-a5213fdc1faa","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}}},{"parameters":{"authentication":"oAuth2","team":"37013204","events":["taskCreated"],"filters":{"listId":"901305003748"}},"type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[320,240],"id":"1f57681a-164a-44dc-a613-6926e1be7e1a","name":"ClickUp Trigger","webhookId":"f959e94a-67de-48c5-9e1e-18eb09083803","credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}}],"connections":{"ClickUp":{"main":[[{"node":"ClickUp: Add Fio","type":"main","index":0}]]},"ClickUp: Add Fio":{"main":[[{"node":"Code: Prioridade1","type":"main","index":0}]]},"Code: Prioridade1":{"main":[[{"node":"Discord: Fio Demanda Chegando","type":"main","index":0}]]},"ClickUp Trigger":{"main":[[{"node":"ClickUp","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:ClickUp Task Created: Fio":{"webhookId":"dfc174cb-ee64-44a9-bbc4-597d81b03e0d","secret":"UK7ZKB1DX3LRVX9KASGSRZXQKAMS94BZPYZKSG7YI253YUGJLM8JZHCEPRQ14L4H"},"node:ClickUp Comment":{"webhookId":"c410cf75-9c3f-4497-9641-ab2dbcf14942","secret":"BE2LZSQVW8IXYY1J1ZBTNV5LOT6IR3SQAPB8JOU4OUB3LR9YC1EZHFBR4U8REH3X"},"node:ClickUp Trigger":{}},"meta":null,"versionId":"5ff6d465-de2a-4301-8c89-dff8efb69feb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:09:39.931Z","createdAt":"2026-01-06T04:09:39.931Z","role":"workflow:owner","workflowId":"sUqVh9bGOMTwouW5","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}