workflows/TIBkI61gqRJcYmHX.json
{"updatedAt":"2026-07-23T17:27:53.892Z","createdAt":"2026-03-31T21:01:38.792Z","id":"TIBkI61gqRJcYmHX","name":"[UMC] [CHATWOOT] 01 Mensagens Agendadas","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"[UMC] Agendamento Whatsapp","formDescription":"Escreva os dados de agendamento aqui no formulário.","formFields":{"values":[{"fieldLabel":"Data do envio","fieldType":"date","fieldName":"data_envio","defaultValue":"={{ $now.toFormat('yyyy-MM-dd') }}","requiredField":true},{"fieldLabel":"Hora do envio (24h)","fieldType":"number","fieldName":"hora_envio","placeholder":"Ex.: 14","requiredField":true},{"fieldLabel":"Minuto","fieldType":"number","fieldName":"minuto_envio","placeholder":"Ex.: 30","requiredField":true},{"fieldLabel":"Mensagem","fieldType":"textarea","fieldName":"mensagem","placeholder":"Escreva a mensagem aqui como seria no WhatsApp","requiredField":true},{"fieldLabel":"WhatsApp","fieldName":"whatsapp","placeholder":"Ex.: 71987654321 ou +55 (71) 98765-4321 ou (71) 98765-4321 ou +5571987654321","requiredField":true},{"fieldLabel":"Link CRM (copiar a URL da conversa)","fieldName":"link_crm","placeholder":"https://chat.convertix.app/app/accounts/2/conversations/2","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Agendar Mensagem","path":"umc-whatsapp-agendamento","customCss":".inputs-wrapper {\n\tdisplay: grid;\n\tgrid-template-columns: 1fr 1fr;\n\tgap: 16px;\n}\n\n.inputs-wrapper .form-group:nth-child(1) {\n\tgrid-column: 1 / -1;\n}\n\n.inputs-wrapper .form-group:nth-child(2),\n.inputs-wrapper .form-group:nth-child(3) {\n\tgrid-column: span 1;\n}\n\n.inputs-wrapper .form-group:nth-child(4),\n.inputs-wrapper .form-group:nth-child(5),\n.inputs-wrapper .form-group:nth-child(6) {\n\tgrid-column: 1 / -1;\n}\n\n@media only screen and (max-width: 500px) {\n\t.inputs-wrapper {\n\t\tgrid-template-columns: 1fr;\n\t}\n\n\t.inputs-wrapper .form-group {\n\t\tgrid-column: 1 / -1;\n\t}\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-1568,320],"id":"f07bf686-db54-4fdf-8e09-0090f19b0b10","name":"On form submission1","webhookId":"76db7455-40b7-4c83-839a-33fa6fedaea1"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nfunction formatWhatsAppBR(input) {\n  const digits = String(input || '').replace(/\\D/g, '');\n\n  let clean = digits;\n\n  if (clean.startsWith('55')) {\n    clean = clean.slice(2);\n  }\n\n  if (!/^\\d{10,11}$/.test(clean)) {\n    throw new Error('WhatsApp inválido Use DDD número Ex 7193673276 ou 71987654321');\n  }\n\n  const ddd = clean.slice(0, 2);\n  const numero = clean.slice(2);\n\n  const formatado = numero.length === 9\n    ? `+55 (${ddd}) ${numero.slice(0, 5)}-${numero.slice(5)}`\n    : `+55 (${ddd}) ${numero.slice(0, 4)}-${numero.slice(4)}`;\n\n  return {\n    formatado,\n    e164: `55${clean}`\n  };\n}\n\nfunction validarData(data) {\n  const valor = String(data || '').trim();\n\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(valor)) {\n    throw new Error('Data inválida Use uma data válida no formulário');\n  }\n\n  return valor;\n}\n\nfunction validarHoraParte(valor, nome, min, max) {\n  const texto = String(valor ?? '').trim();\n\n  if (!/^\\d{1,2}$/.test(texto)) {\n    throw new Error(`${nome} inválido Use apenas números`);\n  }\n\n  const numero = Number(texto);\n\n  if (Number.isNaN(numero) || numero < min || numero > max) {\n    throw new Error(`${nome} inválido. Deve estar entre ${min} e ${max}.`);\n  }\n\n  return String(numero).padStart(2, '0');\n}\n\nfunction extrairIdsCrm(link) {\n  const valor = String(link || '').trim();\n\n  const matchConversation = valor.match(/\\/conversations\\/(\\d+)/);\n  const matchContact = valor.match(/\\/contacts\\/(\\d+)/);\n\n  return {\n    conversation_id: matchConversation ? matchConversation[1] : '',\n    contact_id: matchContact ? matchContact[1] : ''\n  };\n}\n\nconst dataEnvio = validarData(item.data_envio);\nconst hora = validarHoraParte(item.hora_envio, 'Hora', 0, 23);\nconst minuto = validarHoraParte(item.minuto_envio, 'Minuto', 0, 59);\nconst whatsapp = formatWhatsAppBR(item.whatsapp);\nconst idsCrm = extrairIdsCrm(item.link_crm);\n\nconst horaEnvio = `${hora}:${minuto}`;\nconst dataHoraLocal = `${dataEnvio} ${horaEnvio}:00`;\nconst dataHoraISO = `${dataEnvio}T${horaEnvio}:00-03:00`;\n\nreturn [\n  {\n    json: {\n      ...item,\n      link_crm: item.link_crm.split(\"?\")[0],\n      hora_envio_normalizada: horaEnvio,\n      whatsapp_formatado: whatsapp.formatado,\n      whatsapp_e164: whatsapp.e164,\n      data_hora_envio: dataHoraLocal,\n      data_hora_envio_iso: dataHoraISO,\n      conversation_id: idsCrm.conversation_id,\n      contact_id: idsCrm.contact_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,320],"id":"de021404-b464-4d60-b96a-0963b5f6348f","name":"PARSE Agendamento","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,-256],"id":"12b348a5-a94e-4afa-a95b-4ba475ab5184","name":"No Operation, do nothing","executeOnce":true,"alwaysOutputData":true},{"parameters":{"operation":"completion","completionTitle":"Agendamento realizado com sucesso!","completionMessage":"Você pode conferir todos os agendamentos aqui: <br/>\n<a href=\"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit?pli=1&gid=0#gid=0\">[UMC] Agendamentos de Mensagem Whatsapp</a>","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[0,-256],"id":"81730508-595b-410b-bb6b-b84568d2e7cb","name":"FORM SUCESSO","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc","mode":"list","cachedResultName":"[UMC] Agendamentos de Mensagem Whatsapp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data de envio":"={{ $('PARSE Agendamento').item.json.data_hora_envio }}","Phone55":"={{ $('PARSE Agendamento').item.json.whatsapp_e164 }}","Mensagem":"={{ $('PARSE Agendamento').item.json.mensagem }}","Status":"=Agendado ⏳","Link CRM":"={{ $('PARSE Agendamento').item.json.link_crm }}"},"matchingColumns":[],"schema":[{"id":"Data de envio","displayName":"Data de envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone55","displayName":"Phone55","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link CRM","displayName":"Link CRM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alerta","displayName":"Alerta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,-160],"id":"9c4c23c1-2c45-416b-946b-fbc4f86f44e8","name":"Agendado ⏳","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"sLQyekp3CUIswNCr","name":"Sheets ASSESSORIA"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente:<br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n<br/><br/>\n<b>Informações parecem corretas, mas deu erro ao subir na planilha, refaça o agendamento.</b>\nERRO: {{ $json.toJsonString() }}\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,-64],"id":"db446a0f-0b9c-4825-a9a0-7173ec34ecef","name":"FORM ERRO","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n\n<br/>Mensagem de erro: {{ $json.error }}\n\n<br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,512],"id":"95c7035a-3686-4d13-8050-7e3aa96f11da","name":"FORM ERRO3","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"errorMessage":"=ERRO  {{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[0,176],"id":"01f491f2-b50f-42be-abe5-3cd445b0cfd0","name":"Stop and Error"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n<br/>\n<br/>\nVocê colocou o número  {{ $('PARSE Agendamento').item.json.whatsapp }}\n<br/>\nMas, ele é diferente do número cadastrado na conversa <a href=\"{{ $('PARSE Agendamento').item.json.link_crm }}\">{{ $('PARSE Agendamento').item.json.link_crm }}</a>\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-448,112],"id":"4a62c5e8-7537-4da8-9351-186e67a2c96b","name":"FORM ERRO1","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,512],"id":"d6f599f4-8b6d-4a89-9507-eb7c32611366","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,512],"id":"b0ad7114-cedb-4c2b-92cf-c32ae4c84286","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,512],"id":"06faef45-f0a4-42cc-917b-93797a20c500","name":"No Operation, do nothing3"},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/2/conversations/{{ $json.conversation_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,-208],"id":"b3834a07-35d3-429c-b1ec-13fe7eea6e38","name":"Busca Contato do Conversation","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"580fb287-01bd-409d-be4b-1c2b069d9b7b","leftValue":"={{ ($json.meta.sender.phone_number || '').replace(/\\D/g, '').slice(-8) }}","rightValue":"={{ ($('PARSE Agendamento').item.json.whatsapp_e164 || '').replace(/\\D/g, '').slice(-8) }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-672,-208],"id":"59d8908a-55ee-455c-ba21-ad4f80fa7259","name":"Número igual ao do Conversation?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.link_crm }}","rightValue":"https://chat.convertix.app/app/accounts/2/conversations/","operator":{"type":"string","operation":"contains"},"id":"d7eb7b92-4539-4d5b-a5e3-ae43f4c05645"}],"combinator":"and"},"renameOutput":true,"outputKey":"conversations"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c477259-5ce5-4e70-bedb-4a67d76fb802","leftValue":"={{ $json.link_crm }}","rightValue":"https://chat.convertix.app/app/accounts/2/contacts/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"contacts"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1120,144],"id":"9ec540d2-b786-411e-a6eb-cdbdc2c6e684","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"580fb287-01bd-409d-be4b-1c2b069d9b7b","leftValue":"={{ ($json.payload.phone_number || '').replace(/\\D/g, '').slice(-8) }}","rightValue":"={{ ($('PARSE Agendamento').item.json.whatsapp_e164 || '').replace(/\\D/g, '').slice(-8) }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-672,160],"id":"d3d33deb-8abd-40f4-b739-5616680e9a00","name":"Número igual ao do Contact"},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/2/contacts/{{ $json.contact_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,160],"id":"548cb202-0317-4679-9fdf-341dca7db923","name":"Busca Contato","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/><br/>\nERRO NO LINK do Chat.<br/>br/>\n- Você colocou: {{ $json.link_crm }}br/>br/>\n- Deveria ser algo parecido com:\n    - https://chat.convertix.app/app/accounts/2/conversations/2\n    - https://chat.convertix.app/app/accounts/2/contacts/2\n\n<br/><br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,320],"id":"5e30becf-d3e0-4b3c-98b5-300a9bb77bed","name":"FORM ERRO2","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"}],"connections":{"On form submission1":{"main":[[{"node":"PARSE Agendamento","type":"main","index":0}]]},"PARSE Agendamento":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"FORM SUCESSO","type":"main","index":0}]]},"Agendado ⏳":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"FORM ERRO","type":"main","index":0}]]},"FORM ERRO3":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"FORM ERRO":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"FORM ERRO3","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Busca Contato do Conversation":{"main":[[{"node":"Número igual ao do Conversation?","type":"main","index":0}]]},"FORM ERRO1":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Número igual ao do Conversation?":{"main":[[{"node":"Agendado ⏳","type":"main","index":0}],[{"node":"FORM ERRO1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Busca Contato do Conversation","type":"main","index":0}],[{"node":"Busca Contato","type":"main","index":0}],[{"node":"FORM ERRO2","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Número igual ao do Contact","type":"main","index":0}]]},"Número igual ao do Contact":{"main":[[{"node":"Agendado ⏳","type":"main","index":0}],[{"node":"FORM ERRO1","type":"main","index":0}]]},"FORM ERRO2":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataSuccessExecution":"all"},"staticData":{"node:5min":{"recurrenceRules":[]},"node:15min":{"recurrenceRules":[null],"recurrenceRuleSignatures":[null]},"node:30min":{"recurrenceRules":[null],"recurrenceRuleSignatures":[null]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"versionId":"e826edf9-9bd5-4e58-ae32-4bc001e3af3f","activeVersionId":"e826edf9-9bd5-4e58-ae32-4bc001e3af3f","triggerCount":1,"shared":[{"updatedAt":"2026-03-31T21:01:38.792Z","createdAt":"2026-03-31T21:01:38.792Z","role":"workflow:owner","workflowId":"TIBkI61gqRJcYmHX","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-07-23T17:27:47.914Z","createdAt":"2026-07-23T17:27:46.412Z","versionId":"e826edf9-9bd5-4e58-ae32-4bc001e3af3f","workflowId":"TIBkI61gqRJcYmHX","nodes":[{"parameters":{"formTitle":"[UMC] Agendamento Whatsapp","formDescription":"Escreva os dados de agendamento aqui no formulário.","formFields":{"values":[{"fieldLabel":"Data do envio","fieldType":"date","fieldName":"data_envio","defaultValue":"={{ $now.toFormat('yyyy-MM-dd') }}","requiredField":true},{"fieldLabel":"Hora do envio (24h)","fieldType":"number","fieldName":"hora_envio","placeholder":"Ex.: 14","requiredField":true},{"fieldLabel":"Minuto","fieldType":"number","fieldName":"minuto_envio","placeholder":"Ex.: 30","requiredField":true},{"fieldLabel":"Mensagem","fieldType":"textarea","fieldName":"mensagem","placeholder":"Escreva a mensagem aqui como seria no WhatsApp","requiredField":true},{"fieldLabel":"WhatsApp","fieldName":"whatsapp","placeholder":"Ex.: 71987654321 ou +55 (71) 98765-4321 ou (71) 98765-4321 ou +5571987654321","requiredField":true},{"fieldLabel":"Link CRM (copiar a URL da conversa)","fieldName":"link_crm","placeholder":"https://chat.convertix.app/app/accounts/2/conversations/2","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Agendar Mensagem","path":"umc-whatsapp-agendamento","customCss":".inputs-wrapper {\n\tdisplay: grid;\n\tgrid-template-columns: 1fr 1fr;\n\tgap: 16px;\n}\n\n.inputs-wrapper .form-group:nth-child(1) {\n\tgrid-column: 1 / -1;\n}\n\n.inputs-wrapper .form-group:nth-child(2),\n.inputs-wrapper .form-group:nth-child(3) {\n\tgrid-column: span 1;\n}\n\n.inputs-wrapper .form-group:nth-child(4),\n.inputs-wrapper .form-group:nth-child(5),\n.inputs-wrapper .form-group:nth-child(6) {\n\tgrid-column: 1 / -1;\n}\n\n@media only screen and (max-width: 500px) {\n\t.inputs-wrapper {\n\t\tgrid-template-columns: 1fr;\n\t}\n\n\t.inputs-wrapper .form-group {\n\t\tgrid-column: 1 / -1;\n\t}\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-1568,320],"id":"f07bf686-db54-4fdf-8e09-0090f19b0b10","name":"On form submission1","webhookId":"76db7455-40b7-4c83-839a-33fa6fedaea1"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nfunction formatWhatsAppBR(input) {\n  const digits = String(input || '').replace(/\\D/g, '');\n\n  let clean = digits;\n\n  if (clean.startsWith('55')) {\n    clean = clean.slice(2);\n  }\n\n  if (!/^\\d{10,11}$/.test(clean)) {\n    throw new Error('WhatsApp inválido Use DDD número Ex 7193673276 ou 71987654321');\n  }\n\n  const ddd = clean.slice(0, 2);\n  const numero = clean.slice(2);\n\n  const formatado = numero.length === 9\n    ? `+55 (${ddd}) ${numero.slice(0, 5)}-${numero.slice(5)}`\n    : `+55 (${ddd}) ${numero.slice(0, 4)}-${numero.slice(4)}`;\n\n  return {\n    formatado,\n    e164: `55${clean}`\n  };\n}\n\nfunction validarData(data) {\n  const valor = String(data || '').trim();\n\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(valor)) {\n    throw new Error('Data inválida Use uma data válida no formulário');\n  }\n\n  return valor;\n}\n\nfunction validarHoraParte(valor, nome, min, max) {\n  const texto = String(valor ?? '').trim();\n\n  if (!/^\\d{1,2}$/.test(texto)) {\n    throw new Error(`${nome} inválido Use apenas números`);\n  }\n\n  const numero = Number(texto);\n\n  if (Number.isNaN(numero) || numero < min || numero > max) {\n    throw new Error(`${nome} inválido. Deve estar entre ${min} e ${max}.`);\n  }\n\n  return String(numero).padStart(2, '0');\n}\n\nfunction extrairIdsCrm(link) {\n  const valor = String(link || '').trim();\n\n  const matchConversation = valor.match(/\\/conversations\\/(\\d+)/);\n  const matchContact = valor.match(/\\/contacts\\/(\\d+)/);\n\n  return {\n    conversation_id: matchConversation ? matchConversation[1] : '',\n    contact_id: matchContact ? matchContact[1] : ''\n  };\n}\n\nconst dataEnvio = validarData(item.data_envio);\nconst hora = validarHoraParte(item.hora_envio, 'Hora', 0, 23);\nconst minuto = validarHoraParte(item.minuto_envio, 'Minuto', 0, 59);\nconst whatsapp = formatWhatsAppBR(item.whatsapp);\nconst idsCrm = extrairIdsCrm(item.link_crm);\n\nconst horaEnvio = `${hora}:${minuto}`;\nconst dataHoraLocal = `${dataEnvio} ${horaEnvio}:00`;\nconst dataHoraISO = `${dataEnvio}T${horaEnvio}:00-03:00`;\n\nreturn [\n  {\n    json: {\n      ...item,\n      link_crm: item.link_crm.split(\"?\")[0],\n      hora_envio_normalizada: horaEnvio,\n      whatsapp_formatado: whatsapp.formatado,\n      whatsapp_e164: whatsapp.e164,\n      data_hora_envio: dataHoraLocal,\n      data_hora_envio_iso: dataHoraISO,\n      conversation_id: idsCrm.conversation_id,\n      contact_id: idsCrm.contact_id\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,320],"id":"de021404-b464-4d60-b96a-0963b5f6348f","name":"PARSE Agendamento","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,-256],"id":"12b348a5-a94e-4afa-a95b-4ba475ab5184","name":"No Operation, do nothing","executeOnce":true,"alwaysOutputData":true},{"parameters":{"operation":"completion","completionTitle":"Agendamento realizado com sucesso!","completionMessage":"Você pode conferir todos os agendamentos aqui: <br/>\n<a href=\"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit?pli=1&gid=0#gid=0\">[UMC] Agendamentos de Mensagem Whatsapp</a>","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[0,-256],"id":"81730508-595b-410b-bb6b-b84568d2e7cb","name":"FORM SUCESSO","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc","mode":"list","cachedResultName":"[UMC] Agendamentos de Mensagem Whatsapp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"agendamentos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Moym0gYtU0Qqv561BbqkQXbgDbyzB_xBmjTcldFn0Lc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data de envio":"={{ $('PARSE Agendamento').item.json.data_hora_envio }}","Phone55":"={{ $('PARSE Agendamento').item.json.whatsapp_e164 }}","Mensagem":"={{ $('PARSE Agendamento').item.json.mensagem }}","Status":"=Agendado ⏳","Link CRM":"={{ $('PARSE Agendamento').item.json.link_crm }}"},"matchingColumns":[],"schema":[{"id":"Data de envio","displayName":"Data de envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone55","displayName":"Phone55","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link CRM","displayName":"Link CRM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Alerta","displayName":"Alerta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,-160],"id":"9c4c23c1-2c45-416b-946b-fbc4f86f44e8","name":"Agendado ⏳","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"sLQyekp3CUIswNCr","name":"Sheets ASSESSORIA"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente:<br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n<br/><br/>\n<b>Informações parecem corretas, mas deu erro ao subir na planilha, refaça o agendamento.</b>\nERRO: {{ $json.toJsonString() }}\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,-64],"id":"db446a0f-0b9c-4825-a9a0-7173ec34ecef","name":"FORM ERRO","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n\n<br/>Mensagem de erro: {{ $json.error }}\n\n<br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,512],"id":"95c7035a-3686-4d13-8050-7e3aa96f11da","name":"FORM ERRO3","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{"errorMessage":"=ERRO  {{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[0,176],"id":"01f491f2-b50f-42be-abe5-3cd445b0cfd0","name":"Stop and Error"},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n<br/>\n<br/>\nVocê colocou o número  {{ $('PARSE Agendamento').item.json.whatsapp }}\n<br/>\nMas, ele é diferente do número cadastrado na conversa <a href=\"{{ $('PARSE Agendamento').item.json.link_crm }}\">{{ $('PARSE Agendamento').item.json.link_crm }}</a>\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-448,112],"id":"4a62c5e8-7537-4da8-9351-186e67a2c96b","name":"FORM ERRO1","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-448,512],"id":"d6f599f4-8b6d-4a89-9507-eb7c32611366","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,512],"id":"b0ad7114-cedb-4c2b-92cf-c32ae4c84286","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,512],"id":"06faef45-f0a4-42cc-917b-93797a20c500","name":"No Operation, do nothing3"},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/2/conversations/{{ $json.conversation_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,-208],"id":"b3834a07-35d3-429c-b1ec-13fe7eea6e38","name":"Busca Contato do Conversation","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"580fb287-01bd-409d-be4b-1c2b069d9b7b","leftValue":"={{ ($json.meta.sender.phone_number || '').replace(/\\D/g, '').slice(-8) }}","rightValue":"={{ ($('PARSE Agendamento').item.json.whatsapp_e164 || '').replace(/\\D/g, '').slice(-8) }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-672,-208],"id":"59d8908a-55ee-455c-ba21-ad4f80fa7259","name":"Número igual ao do Conversation?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.link_crm }}","rightValue":"https://chat.convertix.app/app/accounts/2/conversations/","operator":{"type":"string","operation":"contains"},"id":"d7eb7b92-4539-4d5b-a5e3-ae43f4c05645"}],"combinator":"and"},"renameOutput":true,"outputKey":"conversations"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7c477259-5ce5-4e70-bedb-4a67d76fb802","leftValue":"={{ $json.link_crm }}","rightValue":"https://chat.convertix.app/app/accounts/2/contacts/","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"contacts"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1120,144],"id":"9ec540d2-b786-411e-a6eb-cdbdc2c6e684","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"580fb287-01bd-409d-be4b-1c2b069d9b7b","leftValue":"={{ ($json.payload.phone_number || '').replace(/\\D/g, '').slice(-8) }}","rightValue":"={{ ($('PARSE Agendamento').item.json.whatsapp_e164 || '').replace(/\\D/g, '').slice(-8) }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-672,160],"id":"d3d33deb-8abd-40f4-b739-5616680e9a00","name":"Número igual ao do Contact"},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/2/contacts/{{ $json.contact_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-896,160],"id":"548cb202-0317-4679-9fdf-341dca7db923","name":"Busca Contato","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"operation":"completion","completionTitle":"❌ ERRO ❌","completionMessage":"=Aconteceu um erro no agendamento, tente novamente: <br/><br/>\nERRO NO LINK do Chat.<br/>br/>\n- Você colocou: {{ $json.link_crm }}br/>br/>\n- Deveria ser algo parecido com:\n    - https://chat.convertix.app/app/accounts/2/conversations/2\n    - https://chat.convertix.app/app/accounts/2/contacts/2\n\n<br/><br/>\n<a href=\"https://n8n.convertix.app/form/umc-whatsapp-agendamento\">[UMC] Agendamentos de Mensagem Whatsapp</a>\n\n<br/><br/>-----------<br/><b>Revise os dados</b>\n<br/><br/>- Whatsapp: {{ $('On form submission1').item.json.whatsapp }}\n<br/><br/>- Link CRM: {{ $('On form submission1').item.json.link_crm }}\n<br/><br/>- Hora: {{ $('On form submission1').item.json.hora_envio }}\n<br/><br/>- Minuto: {{ $('On form submission1').item.json.minuto_envio }}\n<br/><br/>- Mensagem: <br/>\n{{ $('On form submission1').item.json.mensagem }}","options":{"formTitle":"[UMC] Agendamentos de Mensagem Whatsapp","customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.form","typeVersion":2.5,"position":[-224,320],"id":"5e30becf-d3e0-4b3c-98b5-300a9bb77bed","name":"FORM ERRO2","webhookId":"a406f3e6-67a2-44ce-beee-7d5d827ca817"}],"connections":{"On form submission1":{"main":[[{"node":"PARSE Agendamento","type":"main","index":0}]]},"PARSE Agendamento":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"FORM SUCESSO","type":"main","index":0}]]},"Agendado ⏳":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"FORM ERRO","type":"main","index":0}]]},"FORM ERRO3":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"FORM ERRO":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"FORM ERRO3","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Busca Contato do Conversation":{"main":[[{"node":"Número igual ao do Conversation?","type":"main","index":0}]]},"FORM ERRO1":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Número igual ao do Conversation?":{"main":[[{"node":"Agendado ⏳","type":"main","index":0}],[{"node":"FORM ERRO1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Busca Contato do Conversation","type":"main","index":0}],[{"node":"Busca Contato","type":"main","index":0}],[{"node":"FORM ERRO2","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Número igual ao do Contact","type":"main","index":0}]]},"Número igual ao do Contact":{"main":[[{"node":"Agendado ⏳","type":"main","index":0}],[{"node":"FORM ERRO1","type":"main","index":0}]]},"FORM ERRO2":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version e826edf9","description":"","autosaved":true},"tags":[]}