workflows/UwPhouZMfanYA0a2.json
{"updatedAt":"2026-03-14T15:59:30.658Z","createdAt":"2026-01-06T04:13:41.108Z","id":"UwPhouZMfanYA0a2","name":"[N8N] [BACKUP] Workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":43}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,-2608],"id":"c2136ea6-7a78-4540-847d-ee5703545a33","name":"Cron 43min1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_workflows","mode":"list","cachedResultName":"n8n_workflows"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.id }}","valuesToSend":{"values":[{"column":"name","value":"={{ $json?.name }}"},{"column":"active","value":"={{ $json?.active }}"},{"column":"versionId","value":"={{ $json?.versionId }}"},{"column":"triggerCount","value":"={{ $json?.triggerCount }}"},{"column":"createdAt","value":"={{ $json?.createdAt.toDateTime().format('yyyy-MM-dd TT') }}"},{"column":"updatedAt","value":"={{ $json?.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}"},{"column":"settings","value":"={{ $json.settings?.toJsonString() }}"},{"column":"nodes","value":"={{ $json.nodes?.toJsonString() }}"},{"column":"json","value":"={{ $json?.removeField('pinData')?.toJsonString() }}"},{"column":"connections","value":"={{ $json.connections?.toJsonString() }}"},{"column":"deleted","value":"={{ $json?.isArchived }}"},{"column":"parentFolderId","value":"="},{"column":"meta","value":"={{ $json?.meta?.toJsonString() || null }}"}]},"options":{"connectionTimeoutMillis":300,"connectionLimit":100,"queryBatching":"independently","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-96,-2704],"id":"61f829ef-ba24-40e2-b243-5f824e2f3f21","name":"Insert or update rows in a table","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"workflow_entity","mode":"list","cachedResultName":"workflow_entity"},"returnAll":true,"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,-2928],"id":"6dccffa3-8760-4bda-8b27-e6fbc17e80e9","name":"Select rows from a table","credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"filters":{"excludePinnedData":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-320,-2608],"id":"27cc7912-f6ae-4f29-85a2-b1276d69b2ba","name":"Get many workflows","credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"027174c2-6e30-43d3-a339-cba50f7ff18f","name":"payload","value":"={{ (() => {\n  return {\n    operation: \"upsert\",\n    schema: \"n8n_convertix\",\n    table: \"n8n_workflows\",\n    match: {\n      id: $json.id\n    },\n    data: {\n      name: $json?.name,\n      active: $json?.active,\n      versionId: $json?.activeVersionId,\n      triggerCount: $json?.triggerCount,\n      createdAt: $json?.createdAt.toDateTime().format('yyyy-MM-dd TT'),\n      updatedAt: $json?.updatedAt.toDateTime().format('yyyy-MM-dd TT'),\n      settings: $json.settings?.toJsonString(),\n      nodes: $json.nodes?.toJsonString(),\n      json: $json?.removeField('pinData')?.toJsonString(),\n      connections: $json.connections?.toJsonString(),\n      deleted: $json?.isArchived,\n      parentFolderId: \"\",\n      meta: $json?.meta?.toJsonString() || null\n    }\n  };\n})() }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-2512],"id":"6aae9291-a1f3-49b7-a68f-9fd5d535aeeb","name":"payload","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"slB-4KMRscfuPUIy8YRiw","mode":"list","cachedResultUrl":"/workflow/slB-4KMRscfuPUIy8YRiw","cachedResultName":"[CTX] [MYSQL] DB_WRITE_GATEWAY"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query_operation":"={{ $json.payload.operation }}","queue_name (realtime, business ou analytics)":"business","target_db":"={{ $json.payload.schema }}","target_table":"={{ $json.payload.table }}","dedup_key":"={{ $json.payload.match.id }}","payload":"={{ $json.payload.data }}"},"matchingColumns":[],"schema":[{"id":"queue_name (realtime, business ou analytics)","displayName":"queue_name (realtime, business ou analytics)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query_operation","displayName":"query_operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_db","displayName":"target_db","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_table","displayName":"target_table","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dedup_key","displayName":"dedup_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[128,-2512],"id":"9f057cb9-73c7-402b-a6b8-e973a4afb5c4","name":"Call '[CTX] [MYSQL] DB_WRITE_GATEWAY'","disabled":true}],"connections":{"Cron 43min1":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"Select rows from a table":{"main":[[]]},"Get many workflows":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0},{"node":"payload","type":"main","index":0}]]},"payload":{"main":[[{"node":"Call '[CTX] [MYSQL] DB_WRITE_GATEWAY'","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Cron 1h":{"recurrenceRules":[]},"node:Cron 43min":{"recurrenceRules":[]},"node:Cron 43min1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"97d980f6-0faf-4d1e-9f75-912b6614381d","activeVersionId":"97d980f6-0faf-4d1e-9f75-912b6614381d","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:41.108Z","createdAt":"2026-01-06T04:13:41.108Z","role":"workflow:owner","workflowId":"UwPhouZMfanYA0a2","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-03-14T15:59:32.293Z","createdAt":"2026-03-14T15:59:30.660Z","versionId":"97d980f6-0faf-4d1e-9f75-912b6614381d","workflowId":"UwPhouZMfanYA0a2","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":43}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,-2608],"id":"c2136ea6-7a78-4540-847d-ee5703545a33","name":"Cron 43min1"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"n8n_workflows","mode":"list","cachedResultName":"n8n_workflows"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"={{ $json.id }}","valuesToSend":{"values":[{"column":"name","value":"={{ $json?.name }}"},{"column":"active","value":"={{ $json?.active }}"},{"column":"versionId","value":"={{ $json?.versionId }}"},{"column":"triggerCount","value":"={{ $json?.triggerCount }}"},{"column":"createdAt","value":"={{ $json?.createdAt.toDateTime().format('yyyy-MM-dd TT') }}"},{"column":"updatedAt","value":"={{ $json?.updatedAt.toDateTime().format('yyyy-MM-dd TT') }}"},{"column":"settings","value":"={{ $json.settings?.toJsonString() }}"},{"column":"nodes","value":"={{ $json.nodes?.toJsonString() }}"},{"column":"json","value":"={{ $json?.removeField('pinData')?.toJsonString() }}"},{"column":"connections","value":"={{ $json.connections?.toJsonString() }}"},{"column":"deleted","value":"={{ $json?.isArchived }}"},{"column":"parentFolderId","value":"="},{"column":"meta","value":"={{ $json?.meta?.toJsonString() || null }}"}]},"options":{"connectionTimeoutMillis":300,"connectionLimit":100,"queryBatching":"independently","replaceEmptyStrings":true,"detailedOutput":false}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-96,-2704],"id":"61f829ef-ba24-40e2-b243-5f824e2f3f21","name":"Insert or update rows in a table","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"workflow_entity","mode":"list","cachedResultName":"workflow_entity"},"returnAll":true,"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,-2928],"id":"6dccffa3-8760-4bda-8b27-e6fbc17e80e9","name":"Select rows from a table","credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"filters":{"excludePinnedData":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-320,-2608],"id":"27cc7912-f6ae-4f29-85a2-b1276d69b2ba","name":"Get many workflows","credentials":{"n8nApi":{"id":"JhckWF4A1j6sdcH0","name":"n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"027174c2-6e30-43d3-a339-cba50f7ff18f","name":"payload","value":"={{ (() => {\n  return {\n    operation: \"upsert\",\n    schema: \"n8n_convertix\",\n    table: \"n8n_workflows\",\n    match: {\n      id: $json.id\n    },\n    data: {\n      name: $json?.name,\n      active: $json?.active,\n      versionId: $json?.activeVersionId,\n      triggerCount: $json?.triggerCount,\n      createdAt: $json?.createdAt.toDateTime().format('yyyy-MM-dd TT'),\n      updatedAt: $json?.updatedAt.toDateTime().format('yyyy-MM-dd TT'),\n      settings: $json.settings?.toJsonString(),\n      nodes: $json.nodes?.toJsonString(),\n      json: $json?.removeField('pinData')?.toJsonString(),\n      connections: $json.connections?.toJsonString(),\n      deleted: $json?.isArchived,\n      parentFolderId: \"\",\n      meta: $json?.meta?.toJsonString() || null\n    }\n  };\n})() }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-2512],"id":"6aae9291-a1f3-49b7-a68f-9fd5d535aeeb","name":"payload","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"slB-4KMRscfuPUIy8YRiw","mode":"list","cachedResultUrl":"/workflow/slB-4KMRscfuPUIy8YRiw","cachedResultName":"[CTX] [MYSQL] DB_WRITE_GATEWAY"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query_operation":"={{ $json.payload.operation }}","queue_name (realtime, business ou analytics)":"business","target_db":"={{ $json.payload.schema }}","target_table":"={{ $json.payload.table }}","dedup_key":"={{ $json.payload.match.id }}","payload":"={{ $json.payload.data }}"},"matchingColumns":[],"schema":[{"id":"queue_name (realtime, business ou analytics)","displayName":"queue_name (realtime, business ou analytics)","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query_operation","displayName":"query_operation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_db","displayName":"target_db","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_table","displayName":"target_table","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dedup_key","displayName":"dedup_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[128,-2512],"id":"9f057cb9-73c7-402b-a6b8-e973a4afb5c4","name":"Call '[CTX] [MYSQL] DB_WRITE_GATEWAY'","disabled":true}],"connections":{"Cron 43min1":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"Select rows from a table":{"main":[[]]},"Get many workflows":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0},{"node":"payload","type":"main","index":0}]]},"payload":{"main":[[{"node":"Call '[CTX] [MYSQL] DB_WRITE_GATEWAY'","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 97d980f6","description":"","autosaved":true},"tags":[]}