workflows/uZArgnP8gRzvdcKw.json
{"updatedAt":"2026-06-06T14:54:40.909Z","createdAt":"2026-05-28T19:11:09.857Z","id":"uZArgnP8gRzvdcKw","name":"[AL] [CLOUDIA] Muda tags","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"al-cloudia-mudatags","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,112],"id":"3da98375-381e-426e-9daf-a92bf7cf54a0","name":"Webhook","webhookId":"e6f70f1c-93b3-44c7-a8f1-6e30090e943b"},{"parameters":{"dataToSave":{"values":[{"key":"tags","value":"={{ $json.body.data.tags.toJsonString() }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-192,160],"id":"bbd705b4-b986-4613-bf12-884980bac7d6","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef615795-973c-47d4-8225-11b08aa0cead","leftValue":"={{ $json.body.data.tags.toJsonString() }}","rightValue":"lead","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-192,352],"id":"b514f572-8aaa-4cac-8430-7c2a82aa8fb5","name":"Tem tag"},{"parameters":{"errorMessage":"OUTRO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1152,640],"id":"29986bf8-3da0-4c82-be5f-c85424fa9f20","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"SELECT cl.*,cc.whatsapp_do_contato,cc.ctwa_clid,cc.fbclid,cc.gclid,cc.id_da_campanha_de_anuncio,cc.id_do_conjunto_de_anuncio,cc.id_do_anuncio, cc.order_id, cc.data_da_ultima_mensagem\nFROM `chatwoot_labels` as cl\n\tLEFT JOIN ttconversa_criada as cc\n    \tON RIGHT(cl.phone55,8) = RIGHT(cc.whatsapp_do_contato,8)\n   WHERE RIGHT(cl.phone55,8)='{{ $json.lead.phone55.slice(-8) }}'\nAND (fbclid is not null or ctwa_clid is not null or gclid is not null)\nORDER BY cc.data_da_ultima_mensagem DESC\nLIMIT 1;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,448],"id":"cb92c5f8-7aaf-4d18-9bf5-fc7ca62ed4c7","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"570b8215-ff93-4a82-9a0b-338e9bc551de","name":"ViewContent","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,256],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"=814877494370593/events","edge":"=","options":{"queryParametersJson":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"Purchase\",\n      \"event_time\": {{ $json.updated_dt.toDateTime().toSeconds().floor() }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\",\n               \"{{ (\"+\"+$json.phone55.toString()).hash('sha256') }}\"],\n\n        \"ctwa_clid\": \"{{ $json.ctwa_clid }}\",\n        \"page_id\": \"155967771739034\"\n      },\n      \"custom_data\": {\n        \"currency\": \"BRL\",\n        \"value\": 20\n      }\n    }\n  ]\n}"}},"id":"1a8b4d3e-2aea-4114-b3dc-246e08371aa1","name":"Purchase","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1152,448],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.label }}","rightValue":"lead-qualificado","operator":{"type":"string","operation":"contains"},"id":"b64c92be-c86c-4abe-987a-e2faf1421365"}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ea0190a6-63ed-4bd3-970a-ebdfd8fa7740","leftValue":"={{ $json.label }}","rightValue":"lead-alto","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-alto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e9f648d2-421b-407c-a71d-74898be0fcc4","leftValue":"={{ $json.label }}","rightValue":"lead-desqualificado","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-desqualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2a691cd5-d0bd-41be-9c07-82edc1c01c8b","leftValue":"={{ $json.label }}","rightValue":"consulta","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consulta"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[928,208],"id":"269b221b-dd20-4b4b-b037-8f5fc52dd00d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"87dc7356-bbf9-471b-9359-8cefb60e62a5","name":"label_current","value":"={{ $json.body.data.tags }}","type":"array"},{"id":"09c54100-4c45-4c2f-b243-442b9e66b2df","name":"updated_at","value":"={{ ($json.body.data.last_updated_at || $json.body.data.created_at).toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"9c9b29fd-9185-474a-8d8b-759507337b62","name":"lead.phone55","value":"={{ $json.body.data.phone }}","type":"string"},{"id":"6ad6790c-a7d8-4cd4-8b34-c87e18729130","name":"cliente.id","value":"={{ $json.body.data.id }}","type":"string"},{"id":"67c9c8dd-7a4c-49b6-a353-bfd384f72757","name":"cliente.clinic_id","value":"={{ $json.body.data.clinic_id }}","type":"string"},{"id":"d5c215b3-e871-4b78-91a7-662a99d9062d","name":"cliente.name","value":"={{ $json.body.data.name }}","type":"string"},{"id":"aef61883-0130-4f64-855d-8ef24e7a63e3","name":"cliente.email","value":"={{ $json.body.data.email.toLowerCase() }}","type":"string"},{"id":"7445033b-4d83-4230-a3a8-c3188f2636aa","name":"cliente.cpf","value":"={{ $json.body.data.cpf }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,352],"id":"c4cc0179-1be7-40db-ab43-e761a6a4276d","name":"Dados Cliente"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"chatwoot_labels","mode":"list","cachedResultName":"chatwoot_labels"},"dataMode":"defineBelow","columnToMatchOn":"phone55","valueToMatchOn":"={{ $json.lead.phone55 }}","valuesToSend":{"values":[{"column":"label","value":"={{ $json.label_current.toJsonString() }}"},{"column":"updated_dt","value":"={{ $json.updated_at }}"},{"column":"updated_d","value":"={{ $json.updated_at.toDateTime().format('yyyy-MM-dd') }}"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,256],"id":"ff0aa5b5-b3b7-447b-be03-af2cec46a683","name":"UPSERT chatwoot_labels","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.2,"position":[-416,400],"id":"936ff4e2-749d-4613-bd42-e83201a62000","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,544],"id":"48990913-6fb0-4039-a667-50b7cf427d24","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"52bb5859-2fbc-4540-a52f-9ead0a4fd8dc","name":"pixel.id","value":"=1464142214189804","type":"string"},{"id":"60f1eaf4-bf37-4e0a-b73b-08d0a69d052d","name":"pixel.page","value":"100112260335240","type":"string"},{"id":"5d6953a0-546b-47e0-aac7-f9fd7b350541","name":"cliente","value":"={{ $('Dados Cliente').item.json.cliente }}","type":"object"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,256],"id":"9e14a61d-1fce-4291-b6a8-998320abce0b","name":"Pixel"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"ViewContent","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,256],"id":"4cf8ef54-faaf-4122-8f40-731ef29adcea","name":"Event - ViewContent"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"AddToCart","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-128],"id":"c072e48e-dc78-4f50-a342-2e1bc88a3147","name":"Event - AddToCart"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"InitiateCheckout","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,64],"id":"977b85e4-dfef-427b-aac6-b4766ac1653a","name":"Event - InitiateCheckout"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"7785e11d-d2a4-49a1-bf23-db3a18c1d031","name":"AddToCart","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,-128],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"1ca61e7e-9033-4eb6-ba75-c27f317c68f1","name":"InitiateCheckout","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,64],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"527e204f-609c-4eff-822d-4aaecba62343","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,448],"id":"2c6e9f2d-5a8c-4659-9626-6482846a0433","name":"Tem correspondencia"}],"connections":{"Webhook":{"main":[[{"node":"Tem tag","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"Tem tag":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Tem correspondencia","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Event - AddToCart","type":"main","index":0}],[{"node":"Event - InitiateCheckout","type":"main","index":0}],[{"node":"Event - ViewContent","type":"main","index":0}],[{"node":"Purchase","type":"main","index":0},{"node":"Stop and Error","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"UPSERT chatwoot_labels","type":"main","index":0},{"node":"Execute a SQL query","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Tem tag","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"Pixel":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Event - ViewContent":{"main":[[{"node":"ViewContent","type":"main","index":0}]]},"Event - AddToCart":{"main":[[{"node":"AddToCart","type":"main","index":0}]]},"Event - InitiateCheckout":{"main":[[{"node":"InitiateCheckout","type":"main","index":0}]]},"Tem correspondencia":{"main":[[{"node":"Pixel","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"versionId":"b2434bd5-dc58-40b9-88dc-9695f03b5b30","activeVersionId":"b2434bd5-dc58-40b9-88dc-9695f03b5b30","triggerCount":1,"shared":[{"updatedAt":"2026-05-28T19:11:09.857Z","createdAt":"2026-05-28T19:11:09.857Z","role":"workflow:owner","workflowId":"uZArgnP8gRzvdcKw","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-06-06T14:50:52.935Z","createdAt":"2026-06-06T14:50:50.905Z","versionId":"b2434bd5-dc58-40b9-88dc-9695f03b5b30","workflowId":"uZArgnP8gRzvdcKw","nodes":[{"parameters":{"httpMethod":"POST","path":"al-cloudia-mudatags","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,112],"id":"3da98375-381e-426e-9daf-a92bf7cf54a0","name":"Webhook","webhookId":"e6f70f1c-93b3-44c7-a8f1-6e30090e943b"},{"parameters":{"dataToSave":{"values":[{"key":"tags","value":"={{ $json.body.data.tags.toJsonString() }}"}]}},"type":"n8n-nodes-base.executionData","typeVersion":1.1,"position":[-192,160],"id":"bbd705b4-b986-4613-bf12-884980bac7d6","name":"Execution Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef615795-973c-47d4-8225-11b08aa0cead","leftValue":"={{ $json.body.data.tags.toJsonString() }}","rightValue":"lead","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-192,352],"id":"b514f572-8aaa-4cac-8430-7c2a82aa8fb5","name":"Tem tag"},{"parameters":{"errorMessage":"OUTRO"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1152,640],"id":"29986bf8-3da0-4c82-be5f-c85424fa9f20","name":"Stop and Error"},{"parameters":{"operation":"executeQuery","query":"SELECT cl.*,cc.whatsapp_do_contato,cc.ctwa_clid,cc.fbclid,cc.gclid,cc.id_da_campanha_de_anuncio,cc.id_do_conjunto_de_anuncio,cc.id_do_anuncio, cc.order_id, cc.data_da_ultima_mensagem\nFROM `chatwoot_labels` as cl\n\tLEFT JOIN ttconversa_criada as cc\n    \tON RIGHT(cl.phone55,8) = RIGHT(cc.whatsapp_do_contato,8)\n   WHERE RIGHT(cl.phone55,8)='{{ $json.lead.phone55.slice(-8) }}'\nAND (fbclid is not null or ctwa_clid is not null or gclid is not null)\nORDER BY cc.data_da_ultima_mensagem DESC\nLIMIT 1;","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,448],"id":"cb92c5f8-7aaf-4d18-9bf5-fc7ca62ed4c7","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"570b8215-ff93-4a82-9a0b-338e9bc551de","name":"ViewContent","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,256],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"=814877494370593/events","edge":"=","options":{"queryParametersJson":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"Purchase\",\n      \"event_time\": {{ $json.updated_dt.toDateTime().toSeconds().floor() }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": [\"{{ $json.phone55.toString().hash('sha256') }}\",\n               \"{{ (\"+\"+$json.phone55.toString()).hash('sha256') }}\"],\n\n        \"ctwa_clid\": \"{{ $json.ctwa_clid }}\",\n        \"page_id\": \"155967771739034\"\n      },\n      \"custom_data\": {\n        \"currency\": \"BRL\",\n        \"value\": 20\n      }\n    }\n  ]\n}"}},"id":"1a8b4d3e-2aea-4114-b3dc-246e08371aa1","name":"Purchase","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1152,448],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.label }}","rightValue":"lead-qualificado","operator":{"type":"string","operation":"contains"},"id":"b64c92be-c86c-4abe-987a-e2faf1421365"}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-qualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ea0190a6-63ed-4bd3-970a-ebdfd8fa7740","leftValue":"={{ $json.label }}","rightValue":"lead-alto","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-alto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e9f648d2-421b-407c-a71d-74898be0fcc4","leftValue":"={{ $json.label }}","rightValue":"lead-desqualificado","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"lead-desqualificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2a691cd5-d0bd-41be-9c07-82edc1c01c8b","leftValue":"={{ $json.label }}","rightValue":"consulta","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consulta"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[928,208],"id":"269b221b-dd20-4b4b-b037-8f5fc52dd00d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"87dc7356-bbf9-471b-9359-8cefb60e62a5","name":"label_current","value":"={{ $json.body.data.tags }}","type":"array"},{"id":"09c54100-4c45-4c2f-b243-442b9e66b2df","name":"updated_at","value":"={{ ($json.body.data.last_updated_at || $json.body.data.created_at).toDateTime().format('yyyy-MM-dd TT') }}","type":"string"},{"id":"9c9b29fd-9185-474a-8d8b-759507337b62","name":"lead.phone55","value":"={{ $json.body.data.phone }}","type":"string"},{"id":"6ad6790c-a7d8-4cd4-8b34-c87e18729130","name":"cliente.id","value":"={{ $json.body.data.id }}","type":"string"},{"id":"67c9c8dd-7a4c-49b6-a353-bfd384f72757","name":"cliente.clinic_id","value":"={{ $json.body.data.clinic_id }}","type":"string"},{"id":"d5c215b3-e871-4b78-91a7-662a99d9062d","name":"cliente.name","value":"={{ $json.body.data.name }}","type":"string"},{"id":"aef61883-0130-4f64-855d-8ef24e7a63e3","name":"cliente.email","value":"={{ $json.body.data.email.toLowerCase() }}","type":"string"},{"id":"7445033b-4d83-4230-a3a8-c3188f2636aa","name":"cliente.cpf","value":"={{ $json.body.data.cpf }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,352],"id":"c4cc0179-1be7-40db-ab43-e761a6a4276d","name":"Dados Cliente"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"chatwoot_labels","mode":"list","cachedResultName":"chatwoot_labels"},"dataMode":"defineBelow","columnToMatchOn":"phone55","valueToMatchOn":"={{ $json.lead.phone55 }}","valuesToSend":{"values":[{"column":"label","value":"={{ $json.label_current.toJsonString() }}"},{"column":"updated_dt","value":"={{ $json.updated_at }}"},{"column":"updated_d","value":"={{ $json.updated_at.toDateTime().format('yyyy-MM-dd') }}"}]},"options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,256],"id":"ff0aa5b5-b3b7-447b-be03-af2cec46a683","name":"UPSERT chatwoot_labels","credentials":{"mySql":{"id":"UwpD5Z5Lz8bVfdKz","name":"MySQL al_clinicaalira"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.2,"position":[-416,400],"id":"936ff4e2-749d-4613-bd42-e83201a62000","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,544],"id":"48990913-6fb0-4039-a667-50b7cf427d24","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"52bb5859-2fbc-4540-a52f-9ead0a4fd8dc","name":"pixel.id","value":"=1464142214189804","type":"string"},{"id":"60f1eaf4-bf37-4e0a-b73b-08d0a69d052d","name":"pixel.page","value":"100112260335240","type":"string"},{"id":"5d6953a0-546b-47e0-aac7-f9fd7b350541","name":"cliente","value":"={{ $('Dados Cliente').item.json.cliente }}","type":"object"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,256],"id":"9e14a61d-1fce-4291-b6a8-998320abce0b","name":"Pixel"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"ViewContent","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,256],"id":"4cf8ef54-faaf-4122-8f40-731ef29adcea","name":"Event - ViewContent"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"AddToCart","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-128],"id":"c072e48e-dc78-4f50-a342-2e1bc88a3147","name":"Event - AddToCart"},{"parameters":{"assignments":{"assignments":[{"id":"be4e6465-5194-47b1-a6f6-1b49f0c2a99c","name":"event","value":"InitiateCheckout","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,64],"id":"977b85e4-dfef-427b-aac6-b4766ac1653a","name":"Event - InitiateCheckout"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"7785e11d-d2a4-49a1-bf23-db3a18c1d031","name":"AddToCart","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,-128],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"={{ $vars.FB_API_VERSION }}","node":"={{ $json.pixel.id }}/events","edge":"=","options":{"queryParameters":{"parameter":[{"name":"data","value":"={{ JSON.stringify([\n  $json.ctwa_clid\n    ? {\n        action_source: \"business_messaging\",\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        messaging_channel: \"whatsapp\",\n        user_data: {\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n          ctwa_clid: $json.ctwa_clid,\n          page_id: $json.pixel.page\n        }\n      }\n    : {\n        event_name: $json.event || \"ViewContent\",\n        event_time: Math.floor($now.toSeconds()),\n        action_source: \"website\",\n        event_id: ($json.event || \"ViewContent\") + \"..\" + $json.order_id,\n        event_source_url: \"https://aliraclinica.com.br/\",\n        opt_out: false,\n        value: 1,\n        currency: \"BRL\",\n        user_data: {\n          ...($json?.cliente?.email ? { em: [$json.cliente.email.hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name ? { fn: [$json.cliente.name.split(\" \")[0].hash(\"sha256\")] } : {}),\n          ...($json?.cliente?.name?.split(\" \")[1] ? { ln: [$json.cliente.name.split(\" \")[1].hash(\"sha256\")] } : {}),\n          ...($json?.IDUsuarioWPP ? { subscription_id: $json.IDUsuarioWPP } : {}),\n          ...($json?.cliente?.id ? { external_id: [$json.cliente.id.toString().hash(\"sha256\")] } : {}),\n          ...($json?.user_agent ? { client_user_agent: $json.user_agent } : {}),\n\n          ...($json?.fbclid ? {\n            fbc: \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + $json.fbclid\n          } : {}),\n\n          fbp: $json.fbp\n            ? $json.fbp\n            : \"fb.1.\" + Math.floor(Date.now() / 1000) + \".\" + Math.floor(Math.random() * 10000000000),\n\n          ph: [\n            $json.phone55.toString().hash(\"sha256\"),\n            (\"+\" + $json.phone55.toString()).hash(\"sha256\")\n          ],\n\n          page_id: $json.pixel.page\n        },\n        attribution_data: {\n          attribution_share: \"1\",\n          ...($json?.id_do_anuncio ? { ad_id: $json.id_do_anuncio } : {}),\n          ...($json?.id_do_conjunto_de_anuncio ? { adset_id: $json.id_do_conjunto_de_anuncio } : {}),\n          ...($json?.id_da_campanha_de_anuncio ? { campaign_id: $json.id_da_campanha_de_anuncio } : {}),\n          attribution_model: \"customized_multi_touch\",\n          visit_time: Math.floor($json.data_da_ultima_mensagem.toDateTime().toSeconds())\n        }\n      }\n]) }}"}]}}},"id":"1ca61e7e-9033-4eb6-ba75-c27f317c68f1","name":"InitiateCheckout","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1376,64],"retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"facebookGraphApi":{"id":"H6PFvm9bXWMhKITz","name":"Facebook Access Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"527e204f-609c-4eff-822d-4aaecba62343","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,448],"id":"2c6e9f2d-5a8c-4659-9626-6482846a0433","name":"Tem correspondencia"}],"connections":{"Webhook":{"main":[[{"node":"Tem tag","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"Tem tag":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Tem correspondencia","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Event - AddToCart","type":"main","index":0}],[{"node":"Event - InitiateCheckout","type":"main","index":0}],[{"node":"Event - ViewContent","type":"main","index":0}],[{"node":"Purchase","type":"main","index":0},{"node":"Stop and Error","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Dados Cliente":{"main":[[{"node":"UPSERT chatwoot_labels","type":"main","index":0},{"node":"Execute a SQL query","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Tem tag","type":"main","index":0},{"node":"Execution Data","type":"main","index":0}]]},"Pixel":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Event - ViewContent":{"main":[[{"node":"ViewContent","type":"main","index":0}]]},"Event - AddToCart":{"main":[[{"node":"AddToCart","type":"main","index":0}]]},"Event - InitiateCheckout":{"main":[[{"node":"InitiateCheckout","type":"main","index":0}]]},"Tem correspondencia":{"main":[[{"node":"Pixel","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version b2434bd5","description":"","autosaved":true},"tags":[]}