workflows/vXJm0l1hBzDoxDMI.json
{"updatedAt":"2026-01-06T05:47:43.285Z","createdAt":"2026-01-06T04:13:38.529Z","id":"vXJm0l1hBzDoxDMI","name":"[DA] [HOTMART] [VDP-JUL25] Recuperação (v1.0)","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.manychat.com/fb/subscriber/findByCustomField","sendQuery":true,"queryParameters":{"parameters":[{"name":"field_id","value":"=12475117"},{"name":"field_value","value":"=+{{ $json.phone55 }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,432],"id":"c8dc93bf-11b3-47f3-8d41-bb0d23f454f0","name":"Manychat: findByCustomField1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/updateSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data[0].id }},\n  \"first_name\": \"{{ $('Dados Usuário').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Dados Usuário').item.json.last_name }}\",\n  \"phone\": \"{{ $('Dados Usuário').item.json.phone55 }}\",\n  \"whatsapp_phone\": \"{{ $('Dados Usuário').item.json.phone55 }}\",\n  \"gender\": \"\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"Aceito receber mensagens de Debora Alves\"\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,432],"id":"56d98d66-5e6f-476e-bdcb-b0eaa174ae12","name":"Manychat: updateSubscriber1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data.id }},\n  \"fields\": [\n    {\n      \"field_id\": 13293326,\n      \"field_name\": \"COMPRA_HOTMART_HP1234\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.body.id }}\"\n    },\n    {\n      \"field_id\": 13100284,\n      \"field_name\": \"Nome do Evento\",\n      \"field_value\": \"Vida de Professora - Método Turbinado\"\n    },\n    {\n      \"field_id\": 13100286,\n      \"field_name\": \"Data do Evento\",\n      \"field_value\": \"25/07 às 19h00\"\n    }\n  ]\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,432],"id":"1e71f81b-5f96-433a-bfb6-53ccf29dfd54","name":"Manychat: setCustomFieldByName3"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Manychat: updateSubscriber1').item.json.data.id }},\n  \"tag_id\": 68504795\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,432],"id":"7a815cdf-c994-4187-82d1-f93bb32ce3ac","name":"Manychat: addTag [VDP-JUL25] Recuperação de Vendas"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"phone\": \"{{ $json.phone55 }}\",\n  \"whatsapp_phone\": \"{{ $json.phone55 }}\",\n  \"email\": \"{{ $json.email.toLowerCase() }}\",\n  \"gender\": \"\",\n  \"has_opt_in_sms\": true,\n  \"has_opt_in_email\": true,\n  \"consent_phrase\": \"Aceito receber mensagens de Debora Alves\"\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,336],"id":"ae9c0e66-064f-4c3e-a35c-110d0ec0d0dd","name":"Manychat: Create user1","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1fbae155-6211-4f6b-af26-646331b74046","name":"dbname","value":"da_deboraalves","type":"string"},{"id":"c9a60f75-6d5c-4bde-b39b-78aff70c12b6","name":"cod_lancamento","value":"vdp-jul25","type":"string"},{"id":"8aaca443-2caf-4665-bcba-1b3df8272918","name":"email","value":"={{ $json.body_data_buyer_email }}","type":"string"},{"id":"20ffa875-fa77-4d08-a100-cbdca86adc97","name":"first_name","value":"={{ $json.body_data_buyer_name_split(' ')[0] }}","type":"string"},{"id":"2b8e5dd0-db73-454d-aef1-3e487f003f7c","name":"last_name","value":"={{ $json.body_data_buyer_name_split(' ').slice(-1)[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,336],"id":"b78ac2de-246a-4fdb-9c06-6da4de3859dd","name":"Dados Usuário"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"29994e71-6fec-4c87-8986-c45d02b8572c","leftValue":"={{ $json.phone55 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"62693f61-ca19-4dbd-8f3c-0a61121281fb","leftValue":"={{ $json.phone55 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"40bb906c-a5a2-4e73-bb96-e035d5349c6f","leftValue":"={{ $json.phone55 }}","rightValue":"55","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,336],"id":"5fa5527a-55e9-4cd2-8231-7b9419a9917c","name":"Tem phone55"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.data.id }},\n  \"fields\": [\n    {\n      \"field_id\": 13293326,\n      \"field_name\": \"COMPRA_HOTMART_HP1234\",\n      \"field_value\": \"{{ $('Dados Usuário').item.json.body.id }}\"\n    },\n    {\n      \"field_id\": 13100284,\n      \"field_name\": \"Nome do Evento\",\n      \"field_value\": \"Vida de Professora - Método Turbinado\"\n    },\n    {\n      \"field_id\": 13100286,\n      \"field_name\": \"Data do Evento\",\n      \"field_value\": \"25/07 às 19h00\"\n    }\n  ]\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,240],"id":"ba9c6bb9-e71e-4663-a263-d21a2ca46b94","name":"Manychat: setCustomFieldByName2"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 463804:74237e4ec60bf6233c7087c9e656eaf2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Manychat: Create user1').item.json.data.id }},\n  \"tag_id\": 68504795\n}","options":{"batching":{"batch":{"batchSize":8}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,240],"id":"9f27b2d3-35b3-4634-a331-f3a4333f6c08","name":"Manychat: addTag [VDP-JUL25] Recuperação de Vendas1"},{"parameters":{"workflowInputs":{"values":[{"name":"body_data_buyer_email","type":"any"},{"name":"body_data_buyer_name_split","type":"any"}]}},"id":"d82aed55-c9a6-4c84-a592-80c2721f988c","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[32,336]}],"connections":{"Manychat: findByCustomField1":{"main":[[{"node":"Manychat: updateSubscriber1","type":"main","index":0}]]},"Manychat: updateSubscriber1":{"main":[[{"node":"Manychat: setCustomFieldByName3","type":"main","index":0}]]},"Manychat: setCustomFieldByName3":{"main":[[{"node":"Manychat: addTag [VDP-JUL25] Recuperação de Vendas","type":"main","index":0}]]},"Manychat: Create user1":{"main":[[{"node":"Manychat: setCustomFieldByName2","type":"main","index":0}],[{"node":"Manychat: findByCustomField1","type":"main","index":0}]]},"Manychat: setCustomFieldByName2":{"main":[[{"node":"Manychat: addTag [VDP-JUL25] Recuperação de Vendas1","type":"main","index":0}]]},"Dados Usuário":{"main":[[{"node":"Tem phone55","type":"main","index":0}]]},"Tem phone55":{"main":[[{"node":"Manychat: Create user1","type":"main","index":0}]]},"Start":{"main":[[{"node":"Dados Usuário","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":true,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"32ff06fa-7e49-478f-a6eb-983746985f1b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:38.529Z","createdAt":"2026-01-06T04:13:38.529Z","role":"workflow:owner","workflowId":"vXJm0l1hBzDoxDMI","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":null,"tags":[]}