workflows/w4EZfgHnkot6dcXD.json
{"updatedAt":"2026-01-27T15:51:05.261Z","createdAt":"2026-01-06T04:13:41.516Z","id":"w4EZfgHnkot6dcXD","name":"[CTX] [ONBOARDING] Switchy (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.switchy.io/v1/links/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"link\": {\n    \"title\": \"{{ $('Start').item.json.nomeCliente }} Pedidos de Demandas\",\n    \"description\": \"{{ $('Start').item.json.arroba }}. Aqui será feita todas as suas demandas\",\n    \"url\": \"https://forms.clickup.com/37013204/f/139hpm-15693/I3O6XKOOJASKKY2SA5?Cliente%20(escreva%20seu%20@%20do%20instagram)={{ $('Start').item.json.nomeCliente_replaceAll }}\",\n    \"image\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"tags\": [\n      \"{{ $('Start').item.json.nomeCliente }}\"\n    ],\n    \"domain\": \"convertix.link\",\n    \"id\": \"{{ $('Start').item.json.siglaLimpa_toLowerCase }}-pedidos\",\n    \"folderId\": 69178,\n    \"favicon\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8560,704],"id":"a508c2a1-104c-4a53-a80e-f9a241474b97","name":"Switchy: Pedidos de Demandas","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.switchy.io/v1/links/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"link\": {\n    \"title\": \"{{ $('Start').item.json.nomeCliente }} Tarefa em Andamento\",\n    \"description\": \"{{ $('Start').item.json.arroba }}. Aqui estão os status de todas as suas demandas\",\n    \"url\": \"https://app.clickup.com/37013204/v/l/{{ $('Start').item.json.clickup_list }}\",\n    \"image\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"tags\": [\n      \"{{ $('Start').item.json.nomeCliente }}\"\n    ],\n    \"domain\": \"convertix.link\",\n    \"id\": \"{{ $('Start').item.json.siglaLimpa_toLowerCase }}-tarefas\",\n    \"folderId\": 69178,\n    \"favicon\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"note\": \"{{ $('Start').item.json.contrato }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9008,704],"id":"e23433c7-1034-46de-ba07-084ba8a4c7ec","name":"Switchy: Tarefas Clickup","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('Start').item.json.clickup_folder }}","list":"={{ $('Start').item.json.clickup_list }}","name":"={{ $('Start').item.json.sigla }} Arruma Link Switchy (From Pedidos))","additionalFields":{"content":"=Adicionar o link direto para a lista, após criar a View de formulário\n\nhttps://www.switchy.io/{{ $('Switchy: Pedidos de Demandas').item.json.workspaceId }}/create/links.convertix.digital/{{ $('Switchy: Pedidos de Demandas').item.json.id }}","dueDate":"={{ $now }}"}},"id":"bd0539c7-45c5-4311-b17c-e94b243b81c9","name":"ClickUp: Arruma Link Switchy Form Pedido","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8784,704],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.discord_channel_id }}","mode":"id"},"content":"=7) Criei estrutura Switchy\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[9456,704],"id":"e67875f5-83f1-4d6a-bb5e-10fd78b1bd2a","name":"Discord: Criei estrutura6","retryOnFail":true,"alwaysOutputData":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"a171eccf-252b-4c74-8be8-809c699ace45","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('Start').item.json.clickup_folder }}","list":"={{ $('Start').item.json.clickup_list }}","name":"={{ $('Start').item.json.sigla }} Arruma Link Switchy (Tarefas)","additionalFields":{"content":"=Adicionar o link direto para a lista, após criar a View de formulário\n\nhttps://www.switchy.io/{{ $('Switchy: Pedidos de Demandas').item.json.workspaceId }}/create/links.convertix.digital/{{ $('Switchy: Tarefas Clickup').item.json.id }}","dueDate":"={{ $now }}"}},"id":"b41f75de-0120-4ba1-839a-667e95aa5f8f","name":"ClickUp: Arruma Link Switchy Tarefas","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9232,704],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"content":"## Cria links no Switchy","height":288,"width":1671},"id":"aab45ea5-8a0d-4f29-9cc3-c9d784b60952","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8220.5,576]},{"parameters":{"workflowInputs":{"values":[{"name":"siglaLimpa_toLowerCase","type":"any"},{"name":"nomeCliente","type":"any"},{"name":"arroba","type":"any"},{"name":"contrato","type":"any"},{"name":"sigla","type":"any"},{"name":"discord_channel_id","type":"any"},{"name":"clickup_folder"},{"name":"clickup_list"}]}},"id":"ffd3c67d-7426-4730-8a29-867fdf995a08","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[8336,704]},{"parameters":{"assignments":{"assignments":[{"id":"8cd4e7c3-1c32-4f09-9a33-f85ab55efb9f","name":"link_PedidoDemandas","value":"=https://{{ $('Switchy: Pedidos de Demandas').item.json.domain }}/{{ $('Switchy: Pedidos de Demandas').item.json.id }}","type":"string"},{"id":"d9588da7-491a-45df-949b-27307c48086b","name":"link_Tarefas","value":"=https://{{ $('Switchy: Tarefas Clickup').item.json.domain }}/{{ $('Switchy: Tarefas Clickup').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9680,704],"id":"386e00d8-ec57-4805-bb8f-c90823c53479","name":"Edit Fields"}],"connections":{"Switchy: Pedidos de Demandas":{"main":[[{"node":"ClickUp: Arruma Link Switchy Form Pedido","type":"main","index":0}]]},"Switchy: Tarefas Clickup":{"main":[[{"node":"ClickUp: Arruma Link Switchy Tarefas","type":"main","index":0}]]},"ClickUp: Arruma Link Switchy Form Pedido":{"main":[[{"node":"Switchy: Tarefas Clickup","type":"main","index":0}]]},"Discord: Criei estrutura6":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ClickUp: Arruma Link Switchy Tarefas":{"main":[[{"node":"Discord: Criei estrutura6","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switchy: Pedidos de Demandas","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"240f3311-318c-477f-868b-7294721dd83c","activeVersionId":"240f3311-318c-477f-868b-7294721dd83c","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:41.516Z","createdAt":"2026-01-06T04:13:41.516Z","role":"workflow:owner","workflowId":"w4EZfgHnkot6dcXD","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-19T15:43:58.823Z","createdAt":"2026-01-19T15:43:57.757Z","versionId":"240f3311-318c-477f-868b-7294721dd83c","workflowId":"w4EZfgHnkot6dcXD","nodes":[{"parameters":{"method":"POST","url":"https://api.switchy.io/v1/links/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"link\": {\n    \"title\": \"{{ $('Start').item.json.nomeCliente }} Pedidos de Demandas\",\n    \"description\": \"{{ $('Start').item.json.arroba }}. Aqui será feita todas as suas demandas\",\n    \"url\": \"https://forms.clickup.com/37013204/f/139hpm-15693/I3O6XKOOJASKKY2SA5?Cliente%20(escreva%20seu%20@%20do%20instagram)={{ $('Start').item.json.nomeCliente_replaceAll }}\",\n    \"image\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"tags\": [\n      \"{{ $('Start').item.json.nomeCliente }}\"\n    ],\n    \"domain\": \"convertix.link\",\n    \"id\": \"{{ $('Start').item.json.siglaLimpa_toLowerCase }}-pedidos\",\n    \"folderId\": 69178,\n    \"favicon\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8560,704],"id":"a508c2a1-104c-4a53-a80e-f9a241474b97","name":"Switchy: Pedidos de Demandas","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.switchy.io/v1/links/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"link\": {\n    \"title\": \"{{ $('Start').item.json.nomeCliente }} Tarefa em Andamento\",\n    \"description\": \"{{ $('Start').item.json.arroba }}. Aqui estão os status de todas as suas demandas\",\n    \"url\": \"https://app.clickup.com/37013204/v/l/{{ $('Start').item.json.clickup_list }}\",\n    \"image\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"tags\": [\n      \"{{ $('Start').item.json.nomeCliente }}\"\n    ],\n    \"domain\": \"convertix.link\",\n    \"id\": \"{{ $('Start').item.json.siglaLimpa_toLowerCase }}-tarefas\",\n    \"folderId\": 69178,\n    \"favicon\": \"https://financasparadois.com/wp-content/uploads/sites/13/2022/06/logo_ctx_mini_azul.jpg\",\n    \"note\": \"{{ $('Start').item.json.contrato }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9008,704],"id":"e23433c7-1034-46de-ba07-084ba8a4c7ec","name":"Switchy: Tarefas Clickup","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"709jnk7F1Crsxr0E","name":"Switchy.io CONVERTIX"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('Start').item.json.clickup_folder }}","list":"={{ $('Start').item.json.clickup_list }}","name":"={{ $('Start').item.json.sigla }} Arruma Link Switchy (From Pedidos))","additionalFields":{"content":"=Adicionar o link direto para a lista, após criar a View de formulário\n\nhttps://www.switchy.io/{{ $('Switchy: Pedidos de Demandas').item.json.workspaceId }}/create/links.convertix.digital/{{ $('Switchy: Pedidos de Demandas').item.json.id }}","dueDate":"={{ $now }}"}},"id":"bd0539c7-45c5-4311-b17c-e94b243b81c9","name":"ClickUp: Arruma Link Switchy Form Pedido","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[8784,704],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1083176019504140348","mode":"list","cachedResultName":"Convertix Marketing Digital","cachedResultUrl":"https://discord.com/channels/1083176019504140348"},"channelId":{"__rl":true,"value":"={{ $('Start').item.json.discord_channel_id }}","mode":"id"},"content":"=7) Criei estrutura Switchy\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[9456,704],"id":"e67875f5-83f1-4d6a-bb5e-10fd78b1bd2a","name":"Discord: Criei estrutura6","retryOnFail":true,"alwaysOutputData":true,"maxTries":5,"waitBetweenTries":5000,"webhookId":"a171eccf-252b-4c74-8be8-809c699ace45","credentials":{"discordBotApi":{"id":"A9tA5uuPFQ9v3P7c","name":"Discord Bot Convertix"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","team":"37013204","space":"90130059914","folder":"={{ $('Start').item.json.clickup_folder }}","list":"={{ $('Start').item.json.clickup_list }}","name":"={{ $('Start').item.json.sigla }} Arruma Link Switchy (Tarefas)","additionalFields":{"content":"=Adicionar o link direto para a lista, após criar a View de formulário\n\nhttps://www.switchy.io/{{ $('Switchy: Pedidos de Demandas').item.json.workspaceId }}/create/links.convertix.digital/{{ $('Switchy: Tarefas Clickup').item.json.id }}","dueDate":"={{ $now }}"}},"id":"b41f75de-0120-4ba1-839a-667e95aa5f8f","name":"ClickUp: Arruma Link Switchy Tarefas","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[9232,704],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"clickUpOAuth2Api":{"id":"JtBih6teXSwBbyK9","name":"ClickUp Convertix"}}},{"parameters":{"content":"## Cria links no Switchy","height":288,"width":1671},"id":"aab45ea5-8a0d-4f29-9cc3-c9d784b60952","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8220.5,576]},{"parameters":{"workflowInputs":{"values":[{"name":"siglaLimpa_toLowerCase","type":"any"},{"name":"nomeCliente","type":"any"},{"name":"arroba","type":"any"},{"name":"contrato","type":"any"},{"name":"sigla","type":"any"},{"name":"discord_channel_id","type":"any"},{"name":"clickup_folder"},{"name":"clickup_list"}]}},"id":"ffd3c67d-7426-4730-8a29-867fdf995a08","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[8336,704]},{"parameters":{"assignments":{"assignments":[{"id":"8cd4e7c3-1c32-4f09-9a33-f85ab55efb9f","name":"link_PedidoDemandas","value":"=https://{{ $('Switchy: Pedidos de Demandas').item.json.domain }}/{{ $('Switchy: Pedidos de Demandas').item.json.id }}","type":"string"},{"id":"d9588da7-491a-45df-949b-27307c48086b","name":"link_Tarefas","value":"=https://{{ $('Switchy: Tarefas Clickup').item.json.domain }}/{{ $('Switchy: Tarefas Clickup').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[9680,704],"id":"386e00d8-ec57-4805-bb8f-c90823c53479","name":"Edit Fields"}],"connections":{"Switchy: Pedidos de Demandas":{"main":[[{"node":"ClickUp: Arruma Link Switchy Form Pedido","type":"main","index":0}]]},"Switchy: Tarefas Clickup":{"main":[[{"node":"ClickUp: Arruma Link Switchy Tarefas","type":"main","index":0}]]},"ClickUp: Arruma Link Switchy Form Pedido":{"main":[[{"node":"Switchy: Tarefas Clickup","type":"main","index":0}]]},"Discord: Criei estrutura6":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ClickUp: Arruma Link Switchy Tarefas":{"main":[[{"node":"Discord: Criei estrutura6","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switchy: Pedidos de Demandas","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 240f3311","description":"","autosaved":false},"tags":[]}