workflows/wGoIefUUmutlAaKW.json
{"updatedAt":"2026-04-24T19:13:14.686Z","createdAt":"2026-04-18T20:55:15.893Z","id":"wGoIefUUmutlAaKW","name":"[AUAU] [CHATWOOT] Gera Resumo Histórico Longo","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('CW_account_id').first().json.account_id }}/conversations/{{ $('CW_account_id').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"after","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4272,-992],"id":"452878b4-7def-43bb-84be-2f73afe93228","name":"Busca histórico Longo","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $('CW_account_id').first().json.account_id }}/conversations/{{ $('CW_account_id').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"before","value":"={{ $json.min_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4944,-912],"id":"d078601b-3d5c-4719-a70e-3a9d37f7df68","name":"Busca histórico Longo2","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"min","field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[4720,-912],"id":"aecec1d4-e4b9-433e-b6b0-d29536825255","name":"min_id"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4496,-992],"id":"570c27d7-93f0-4285-bf60-cd728fc8d78b","name":"Split 1"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5168,-912],"id":"c9e60a94-4139-4172-b15d-fd1128ab5d42","name":"Split 2"},{"parameters":{"jsCode":"// Histórico longo para CRM\n// Usa apenas Merge2\n// Pega últimas mensagens úteis\n// Corrige speaker de transcrição interna de áudio\n// Evita duplicar áudio nulo + transcrição\n// Saída única\n\nconst LIMIT = $input.first().json.qtd_historico || 30;\nconst OUTGOING_NAME = $('CW_account_id').first().json.nome_agente;\n\n// Pega todos os itens do Merge2\nconst inputItems = $input.all();\n\nfunction normalizeContent(text) {\n  return String(text || '')\n    .replace(/\\r/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction isInternalAudioTranscript(msg) {\n  const content = String(msg.content || '');\n  return content.startsWith('[TRANSCRIÇÃO INTERNA DO ÁUDIO');\n}\n\nfunction extractReferencedMessageId(msg) {\n  const inReplyTo = msg?.content_attributes?.in_reply_to;\n  if (inReplyTo) return Number(inReplyTo);\n\n  const content = String(msg.content || '');\n  const match = content.match(/msg_id\\s+(\\d+)/i);\n  return match ? Number(match[1]) : null;\n}\n\nfunction getSpeakerFromType(messageType) {\n  const type = Number(messageType);\n  if (type === 0) return 'Lead';\n  if (type === 1) return OUTGOING_NAME;\n  return 'Sistema';\n}\n\nfunction getSpeaker(msg, messageMap) {\n  if (isInternalAudioTranscript(msg)) {\n    const referencedId = extractReferencedMessageId(msg);\n    const originalMsg = referencedId ? messageMap.get(referencedId) : null;\n\n    if (originalMsg) {\n      return getSpeakerFromType(originalMsg.message_type);\n    }\n  }\n\n  return getSpeakerFromType(msg.message_type);\n}\n\nfunction cleanTranscriptContent(text) {\n  const content = String(text || '');\n\n  if (!content.startsWith('[TRANSCRIÇÃO INTERNA DO ÁUDIO')) {\n    return normalizeContent(content);\n  }\n\n  return normalizeContent(\n    content\n      .replace(/^\\[TRANSCRIÇÃO INTERNA DO ÁUDIO[^\\n]*\\]\\n?/i, '')\n      .replace(/^⬇️Transcrição do áudio⬇️[^\\n]*\\n?/i, '')\n  );\n}\n\n// 1. Extrair mensagens\nconst rawMessages = inputItems\n  .map(item => item.json)\n  .filter(j => j && typeof j === 'object' && j.id);\n\n// 2. Remover duplicados por id\nconst uniqueMap = new Map();\nfor (const msg of rawMessages) {\n  uniqueMap.set(Number(msg.id), msg);\n}\n\nlet messages = Array.from(uniqueMap.values());\n\n// 3. Ordenar por id crescente primeiro\nmessages.sort((a, b) => Number(a.id) - Number(b.id));\n\n// 4. Criar mapa completo por id\nconst messageMap = new Map();\nfor (const msg of messages) {\n  messageMap.set(Number(msg.id), msg);\n}\n\n// 5. Descobrir quais mensagens de áudio possuem transcrição interna\nconst transcribedOriginalIds = new Set();\n\nfor (const msg of messages) {\n  if (isInternalAudioTranscript(msg)) {\n    const referencedId = extractReferencedMessageId(msg);\n    if (referencedId) {\n      transcribedOriginalIds.add(referencedId);\n    }\n  }\n}\n\n// 6. Filtrar mensagens úteis\nmessages = messages.filter(msg => {\n  const type = Number(msg.message_type);\n\n  // Só mantém type 0 e 1\n  if (!(type === 0 || type === 1)) return false;\n\n  // Remove mensagens privadas, exceto transcrição interna\n  if (msg.private === true && !isInternalAudioTranscript(msg)) return false;\n\n  // Remove o áudio original sem conteúdo quando já existe transcrição\n  const hasEmptyContent = !normalizeContent(msg.content);\n  if (hasEmptyContent && transcribedOriginalIds.has(Number(msg.id))) return false;\n\n  // Remove mensagens vazias comuns\n  if (hasEmptyContent && !isInternalAudioTranscript(msg)) return false;\n\n  return true;\n});\n\n// 7. Pegar só as últimas N\nconst lastMessages = messages.slice(-LIMIT);\n\n// 8. Montar texto pro CRM\nconst historyText = lastMessages\n  .map(msg => {\n    const speaker = getSpeaker(msg, messageMap);\n    const content = cleanTranscriptContent(msg.content);\n\n    return `${speaker}: ${content}`;\n  })\n  .join('\\n');\n\n// 9. Saída única\nreturn [\n  {\n    json: {\n      messages_total_received: rawMessages.length,\n      messages_total_unique: uniqueMap.size,\n      messages_total_filtered: messages.length,\n      messages_sent_to_crm: lastMessages.length,\n      first_message_id: lastMessages.length ? lastMessages[0].id : null,\n      last_message_id: lastMessages.length ? lastMessages[lastMessages.length - 1].id : null,\n      history_for_crm: historyText,\n      messages_for_crm: lastMessages\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5840,-992],"id":"5b604db4-24f8-4005-9028-a35c4842b336","name":"Junta histórico"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5392,-992],"id":"83311cfd-f91b-4db8-8556-54a165ccaf5e","name":"Merge2"},{"parameters":{"workflowInputs":{"values":[{"name":"account_id","type":"number"},{"name":"conversation_id","type":"number"},{"name":"processar_IA","type":"boolean"},{"name":"qtd_messages","type":"number"},{"name":"nome_agente"}]}},"id":"bca15d93-b16f-4a0d-8266-6e17c1baea2a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3824,-992]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fda8cc3-2be8-4659-ac13-6f1239abba22","leftValue":"={{ $('Start').item.json.processar_IA }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6288,-992],"id":"afaeb391-e752-4881-8821-806acc8b50b0","name":"Processar IA?"},{"parameters":{"assignments":{"assignments":[{"id":"0e644c8e-a66c-4c43-b0b4-8aa5233b39ec","name":"qtd_historico","value":"={{ $('Start').item.json.processar_IA\n  ?30\n  :$('Start').item.json['qtd_messages']\n}}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5616,-992],"id":"e7159765-d805-4598-968d-632ef44b8386","name":"qtd_his'tórico"},{"parameters":{"assignments":{"assignments":[{"id":"16c2e5df-8566-4d68-b74d-57d5afb7f127","name":"message.historico","value":"historico","type":"string"},{"id":"86cfbfd6-27bc-42fd-8c0a-2c79863e1d99","name":"message.history_for_crm","value":"={{ $json.history_for_crm }}","type":"string"},{"id":"9678b3a8-6f84-410f-855b-92b2b3b52e7e","name":"message.first_message_id","value":"={{ $json.first_message_id }}","type":"number"},{"id":"790cb865-5714-465f-8211-8da1e35bf884","name":"message.last_message_id","value":"={{ $json.last_message_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6576,-848],"id":"773d0cd3-eb48-4d89-8da3-43522c199c54","name":"historico sem IA"},{"parameters":{"assignments":{"assignments":[{"id":"076b3cd2-4b8b-461b-bb2d-1994b0e44e20","name":"account_id","value":"={{ $json?.account_id || 1 }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4048,-992],"id":"7e40701d-2426-49f4-bea7-5ca795bae876","name":"CW_account_id"},{"parameters":{"assignments":{"assignments":[{"id":"16c2e5df-8566-4d68-b74d-57d5afb7f127","name":"message.historico","value":"historico","type":"string"},{"id":"86cfbfd6-27bc-42fd-8c0a-2c79863e1d99","name":"message.history_for_crm","value":"={{ $('Processar IA?').item.json.history_for_crm }}","type":"string"},{"id":"9678b3a8-6f84-410f-855b-92b2b3b52e7e","name":"message.first_message_id","value":"={{ $('Processar IA?').item.json.first_message_id }}","type":"number"},{"id":"790cb865-5714-465f-8211-8da1e35bf884","name":"message.last_message_id","value":"={{ $('Processar IA?').item.json.last_message_id }}","type":"number"},{"id":"3f971265-83c7-4792-9a5c-c516c8714af4","name":"inputs","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7088,-1136],"id":"42e01d84-a2f0-460e-94d2-9ab99e116a4d","name":"historico com IA"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst messages = Array.isArray(item?.messages_for_crm) ? item.messages_for_crm : [];\n\nconst isLeadMessage = (msg) => Number(msg?.message_type) === 0;\nconst isBrunaMessage = (msg) => Number(msg?.message_type) === 1;\n\nconst clean = (v) =>\n  String(v || '')\n    .replace(/\\[object Object\\]/gi, '')\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\nconst relevant = (text) => {\n  const t = clean(text);\n  if (!t) return false;\n  if (/^(ok|obrigado|obg|valeu|👍|👌|🙏|kkk|rs|rsrs)$/i.test(t)) return false;\n  return true;\n};\n\nconst leadMessages = messages.filter(isLeadMessage).filter(m => relevant(m?.content));\nconst brunaMessages = messages.filter(isBrunaMessage).filter(m => relevant(m?.content));\n\nconst lastLeadMessage = leadMessages.length\n  ? clean(leadMessages[leadMessages.length - 1].content)\n  : clean(item?.last_lead_message);\n\nconst lastBrunaMessage = brunaMessages.length\n  ? clean(brunaMessages[brunaMessages.length - 1].content)\n  : clean(item?.last_bruna_message);\n\nitem.last_lead_message = lastLeadMessage;\nitem.last_bruna_message = lastBrunaMessage;\nitem.history_for_crm = clean(item?.history_for_crm || '');\n\nreturn [{ json: item }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6064,-992],"id":"e86d2d96-e840-4999-9cdd-f021fb83d6ce","name":"RELEVANT MESSAGE"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst out = item?.output || {};\n\nconst lastLead = String(item?.last_lead_message || '').trim();\n\nconst asksPriceOrInfo = /(quanto|valor|di[aá]ria|estadia|hospedagem|hotel|mais informa[cç][õo]es|como funciona|pacote|datas?)/i.test(lastLead);\nconst explicitAcceptEval = /(pode mandar o pix|manda o pix|pode enviar o pix|quero seguir com a avalia[cç][ãa]o|quero fazer a avalia[cç][ãa]o|vamos seguir com a avalia[cç][ãa]o|vamos fazer a avalia[cç][ãa]o|pode agendar|quero dar continuidade|vamos prosseguir)/i.test(lastLead);\n\nif (asksPriceOrInfo && !explicitAcceptEval) {\n  out.status_lead = 'QUALIFICANDO';\n  out.ultima_intencao = 'PEDIU_VALOR';\n\n  if (out.evento_sistema === 'PIX_SOLICITADO') {\n    out.evento_sistema = '';\n  }\n\n  out.deve_solicitar_pagamento = false;\n  out.deve_consultar_agenda = false;\n  out.deve_criar_pre_reserva = false;\n\n  if (/pagamento|pix|comprovante|taxa/i.test(String(out.proxima_acao || ''))) {\n    out.proxima_acao = 'responder dúvida e seguir qualificação com suavidade';\n  }\n\n  item.guard_crm_reason = 'ultima_mensagem_do_lead_indica_duvida_de_valor_ou_informacao';\n}\n\nitem.output = out;\n\nreturn [{ json: item }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6864,-1136],"id":"e6d4d6f8-4407-457d-b773-4cc84c2b6bc6","name":"GUARD_CRM_BRUNA"},{"parameters":{"promptType":"define","text":"=********************************************\nENTRADA DO ANALISTA DE CRM\n********************************************\n\nÚltima mensagem relevante do lead:\n{{ $json.last_lead_message }}\n\nÚltima mensagem relevante da Bruna:\n{{ $json.last_bruna_message }}\n\nHistórico recente da conversa:\n{{ $json.history_for_crm }}\n\nReconstrua o estado operacional atual do lead para continuidade da {{ $('Start').item.json.nome_agente }}.\n\nRetorne SOMENTE um objeto JSON válido.\nNão use markdown.\nNão use bloco de código.\nNão use explicações.\nNão use texto fora do JSON.\nPreencha todos os campos do schema.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=********************************************\nANALISTA DE CRM DA BRUNA\n********************************************\n\nVocê é um analista de CRM da Bruna, responsável por reconstruir o estado operacional atual de um lead da AuAu Creche Canina a partir do histórico da conversa.\n\nSua tarefa é ler o contexto recebido e retornar UM ÚNICO OBJETO JSON válido, seguindo exatamente o schema do Structured Output Parser.\n\nRetorne apenas JSON.\nNão use markdown.\nNão use comentários.\nNão escreva texto antes ou depois.\nNão use array como resposta principal.\nNão explique nada.\n\n********************************************\nOBJETIVO\n********************************************\n\nReconstruir o estado operacional atual do lead para continuidade da Bruna, preservando coerência com:\n1. a taxonomia oficial de status, intenções e eventos\n2. as regras de qualificação da AuAu\n3. a trilha operacional de avaliação, pagamento, agenda, pré-reserva, encerramento e repasse humano\n\nDATA_DE_REFERENCIA: {{ $now }}\nTIMEZONE: America/Sao_Paulo\n\n********************************************\nREGRA CENTRAL\n********************************************\n\nReconstrua o ESTADO VIVO ATUAL da conversa.\n\nNão misture:\n- evento histórico antigo\n- com próxima ação atual\n\nExemplo de erro proibido:\n- Bruna já enviou PIX antes\n- depois o lead perguntou valor, tirou dúvida ou ficou indeciso\n- e você mantém evento_sistema = PIX_SOLICITADO e deve_solicitar_pagamento = true\n\nIsso está errado.\n\nSe a última mensagem relevante do lead for:\n- dúvida de valor\n- pedido de informação\n- comparação\n- indecisão\n- objeção de preço\n\nEntão o estado atual normalmente deve refletir isso, e não uma cobrança antiga.\n\n********************************************\nPRIORIDADE DE LEITURA\n********************************************\n\nPriorize nesta ordem:\n1. última mensagem relevante do lead\n2. última mensagem relevante da Bruna\n3. histórico recente da conversa\n4. contexto anterior ainda compatível\n\nSe houver conflito entre uma cobrança antiga e uma dúvida mais recente do lead, a dúvida mais recente prevalece.\n\n********************************************\nREGRAS GERAIS\n********************************************\n\nNão invente dados.\nSe não souber, use string vazia.\nNunca use null para texto.\nUse false para boolean quando não houver evidência explícita.\nIgnore ruído, cordialidades vazias, emojis isolados, despedidas e mensagens sem efeito operacional.\nNão use valores fora da taxonomia oficial.\n\n********************************************\nTAXONOMIA OFICIAL DE STATUS\n********************************************\n\nUse apenas estes valores em status_lead:\n\nNOVO_LEAD\nCOLETANDO_DADOS\nQUALIFICANDO\nPRE_REPROVADO\nAPTO_PARA_AVALIACAO\nAGUARDANDO_PAGAMENTO\nCOMPROVANTE_RECEBIDO\nAGUARDANDO_ESCOLHA_HORARIO\nPRE_RESERVA_CRIADA\nTRANSFERIDO_FLAVIA\nENCERRADO_NAO_PERFIL\nENCERRADO_SEM_RESPOSTA\nENCERRADO\n\n********************************************\nREGRAS DE STATUS\n********************************************\n\nUse o estado atual mais coerente.\n\nSe o lead estiver:\n- tirando dúvida\n- perguntando preço\n- informando dados\n- entendendo o processo\n- decidindo se vai seguir\n\nUse QUALIFICANDO, salvo evidência mais forte em contrário.\n\nSó use AGUARDANDO_PAGAMENTO quando a etapa ativa atual ainda for cobrança.\nNão use AGUARDANDO_PAGAMENTO apenas porque o PIX já foi enviado no passado.\n\nUse COMPROVANTE_RECEBIDO somente se houver evidência de comprovante enviado.\nUse AGUARDANDO_ESCOLHA_HORARIO somente se houver contexto real de agenda.\nUse PRE_RESERVA_CRIADA somente se houver avanço operacional real para isso.\nUse TRANSFERIDO_FLAVIA somente se houver repasse claro.\nUse ENCERRADO_NAO_PERFIL somente se houver não perfil objetivo claro.\n\n********************************************\nTAXONOMIA OFICIAL DE INTENÇÃO\n********************************************\n\nUse apenas estes valores em ultima_intencao:\n\nINTERESSE_CRECHE\nINTERESSE_HOTEL\nPEDIU_VALOR\nPEDIU_LOCALIZACAO\nPEDIU_VISITA\nINFORMOU_DADOS_CAO\nINFORMOU_DADOS_TUTOR\nACEITOU_AVALIACAO\nRECEBEU_PIX\nENVIOU_COMPROVANTE\nESCOLHEU_HORARIO\nPEDIU_HUMANO\nFORA_DO_PERFIL\nURGENCIA_FERIADO\nOBJECAO_PRECO\nSUMIU\n\n********************************************\nREGRAS DE INTENÇÃO\n********************************************\n\nultima_intencao representa o movimento mais recente e relevante.\n\nSe o lead perguntou preço, use PEDIU_VALOR.\nSe houve objeção sobre preço, use OBJECAO_PRECO.\nSe pediu localização, use PEDIU_LOCALIZACAO.\nSe pediu visita, use PEDIU_VISITA.\nSe passou dados do cão, use INFORMOU_DADOS_CAO.\nSe passou dados do tutor, use INFORMOU_DADOS_TUTOR.\nSe aceitou seguir com a avaliação de forma explícita, use ACEITOU_AVALIACAO.\nSe enviou comprovante, use ENVIOU_COMPROVANTE.\nSe escolheu horário, use ESCOLHEU_HORARIO.\nSe pediu humano, use PEDIU_HUMANO.\nSe estiver fora do perfil, use FORA_DO_PERFIL.\n\nSe a última mensagem do lead for dúvida de valor, informação ou indecisão, não use ACEITOU_AVALIACAO.\n\n********************************************\nTAXONOMIA OFICIAL DE EVENTOS\n********************************************\n\nUse apenas estes valores em evento_sistema:\n\nFORMULARIO_RECEBIDO\nGUIA_ENVIADO\nPIX_SOLICITADO\nANEXO_RECEBIDO\nCOMPROVANTE_IDENTIFICADO\nAGENDA_CONSULTADA\nHORARIOS_ENVIADOS\nPRE_RESERVA_CRIADA\nREPASSE_FLAVIA\nFOLLOWUP_DISPARADO\nCONVERSA_ENCERRADA\n\n********************************************\nREGRAS DE EVENTO\n********************************************\n\nevento_sistema deve representar o evento operacional ativo atual.\n\nNão use PIX_SOLICITADO se a conversa já mudou de fase depois disso.\n\nSe não houver evento atual claramente ativo, retorne string vazia.\n\n********************************************\nREGRAS DE CONSISTÊNCIA\n********************************************\n\nNão produza combinações incoerentes.\n\nExemplos proibidos:\n- ultima_intencao = PEDIU_VALOR com deve_solicitar_pagamento = true\n- evento_sistema = PIX_SOLICITADO quando a última mensagem do lead é dúvida de valor\n- status_lead = QUALIFICANDO com deve_consultar_agenda = true sem contexto real\n- PRE_RESERVA_CRIADA sem avanço operacional compatível\n\nSe a última mensagem relevante do lead for dúvida de valor ou informação:\n- deve_solicitar_pagamento = false\n- deve_consultar_agenda = false\n- deve_criar_pre_reserva = false\n\n********************************************\nREGRAS OPERACIONAIS DA AUAU\n********************************************\n\nConsidere como verdade operacional:\n- avaliação comportamental é obrigatória\n- hotel exige avaliação e adaptação\n- agendamento da avaliação só acontece após pagamento\n- Bruna não valida pagamento real\n- Bruna não confirma hospedagem final\n- AuAuzin aceita apenas cães mini e pequenos\n- fêmeas não podem estar no cio\n- machos precisam ser castrados a partir de 8 meses\n- casos de não perfil objetivo devem ser encerrados, não repassados por padrão\n\n********************************************\nRESUMO_LEAD\n********************************************\n\nresumo_lead representa a memória operacional viva do lead.\n\nPreencha apenas com base no histórico.\nNão invente dados.\nNão apague dado bom por falta de evidência nova.\nobservacoes deve resumir o ponto operacional mais relevante e recente.\n\n********************************************\nSAÍDA\n********************************************\n\nRetorne um único JSON válido, seguindo exatamente o schema do Structured Output Parser.\nSem texto fora do JSON."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[6512,-1248],"id":"cada2ae9-f58a-478c-ba7c-2ff3516f744f","name":"Basic LLM Chain","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"maxTokens":1000,"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6528,-1024],"id":"7637593b-ad56-46a5-8e13-772c41b2134b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"jsonSchemaExample":"{\n  \"status_lead\": \"\",\n  \"ultima_intencao\": \"\",\n  \"evento_sistema\": \"\",\n  \"resumo_lead\": {\n    \"tutor_nome\": \"\",\n    \"tutor_telefone\": \"\",\n    \"cao_nome\": \"\",\n    \"cao_idade_anos\": \"\",\n    \"cao_raca\": \"\",\n    \"cao_porte\": \"\",\n    \"cao_sexo\": \"\",\n    \"cao_castrado\": \"\",\n    \"cao_no_cio\": \"\",\n    \"cao_vacinas_ok\": \"\",\n    \"cao_antipulgas_ok\": \"\",\n    \"cao_vermifugacao_ok\": \"\",\n    \"cao_sociavel\": \"\",\n    \"cao_reativo\": \"\",\n    \"possui_relatorio_veterinario\": \"\",\n    \"unidade_preferida\": \"\",\n    \"servico_interesse\": \"\",\n    \"periodo_desejado\": \"\",\n    \"data_desejada\": \"\",\n    \"origem_lead\": \"\",\n    \"comprovante_recebido\": false,\n    \"tipo_comprovante\": \"\",\n    \"data_hora_pre_reserva\": \"\",\n    \"responsavel_humano\": \"\",\n    \"observacoes\": \"\"\n  },\n  \"proxima_acao\": \"\",\n  \"deve_repassar_humano\": false,\n  \"motivo_repasse\": \"\",\n  \"deve_enviar_guia\": false,\n  \"deve_solicitar_pagamento\": false,\n  \"deve_consultar_agenda\": false,\n  \"deve_criar_pre_reserva\": false,\n  \"deve_encerrar_conversa\": false,\n  \"resumo_interno_repasse\": {\n    \"repassar_para\": \"\",\n    \"motivo\": \"\",\n    \"tutor_nome\": \"\",\n    \"tutor_telefone\": \"\",\n    \"cao_nome\": \"\",\n    \"cao_idade_anos\": \"\",\n    \"cao_raca\": \"\",\n    \"cao_porte\": \"\",\n    \"cao_sexo\": \"\",\n    \"cao_castrado\": \"\",\n    \"cao_vacinas_ok\": \"\",\n    \"cao_antipulgas_ok\": \"\",\n    \"cao_sociavel\": \"\",\n    \"cao_reativo\": \"\",\n    \"unidade_preferida\": \"\",\n    \"servico_interesse\": \"\",\n    \"data_hora_avaliacao\": \"\",\n    \"comprovante_recebido\": false,\n    \"tipo_comprovante\": \"\",\n    \"observacoes\": \"\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[6656,-1024],"id":"a8c64aec-869b-446b-873d-6dc2fe28921d","name":"Structured Output Parser"}],"connections":{"Busca histórico Longo":{"main":[[{"node":"Split 1","type":"main","index":0}]]},"Busca histórico Longo2":{"main":[[{"node":"Split 2","type":"main","index":0}]]},"min_id":{"main":[[{"node":"Busca histórico Longo2","type":"main","index":0}]]},"Split 1":{"main":[[{"node":"min_id","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Split 2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Junta histórico":{"main":[[{"node":"RELEVANT MESSAGE","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"qtd_his'tórico","type":"main","index":0}]]},"Start":{"main":[[{"node":"CW_account_id","type":"main","index":0}]]},"Processar IA?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"historico sem IA","type":"main","index":0}]]},"qtd_his'tórico":{"main":[[{"node":"Junta histórico","type":"main","index":0}]]},"CW_account_id":{"main":[[{"node":"Busca histórico Longo","type":"main","index":0}]]},"RELEVANT MESSAGE":{"main":[[{"node":"Processar IA?","type":"main","index":0}]]},"GUARD_CRM_BRUNA":{"main":[[{"node":"historico com IA","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"GUARD_CRM_BRUNA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"9a0aaf45-1d61-4692-917b-c1b1471e2d1c","activeVersionId":"9a0aaf45-1d61-4692-917b-c1b1471e2d1c","triggerCount":0,"shared":[{"updatedAt":"2026-04-18T20:55:15.893Z","createdAt":"2026-04-18T20:55:15.893Z","role":"workflow:owner","workflowId":"wGoIefUUmutlAaKW","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-04-24T19:13:16.300Z","createdAt":"2026-04-24T19:13:14.688Z","versionId":"9a0aaf45-1d61-4692-917b-c1b1471e2d1c","workflowId":"wGoIefUUmutlAaKW","nodes":[{"parameters":{"url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('CW_account_id').first().json.account_id }}/conversations/{{ $('CW_account_id').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"after","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4272,-992],"id":"452878b4-7def-43bb-84be-2f73afe93228","name":"Busca histórico Longo","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"url":"={{ $vars.CHATWOOT_URL }}/api/v1/accounts/{{ $('CW_account_id').first().json.account_id }}/conversations/{{ $('CW_account_id').first().json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"before","value":"={{ $json.min_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4944,-912],"id":"d078601b-3d5c-4719-a70e-3a9d37f7df68","name":"Busca histórico Longo2","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"min","field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[4720,-912],"id":"aecec1d4-e4b9-433e-b6b0-d29536825255","name":"min_id"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4496,-992],"id":"570c27d7-93f0-4285-bf60-cd728fc8d78b","name":"Split 1"},{"parameters":{"fieldToSplitOut":"payload","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5168,-912],"id":"c9e60a94-4139-4172-b15d-fd1128ab5d42","name":"Split 2"},{"parameters":{"jsCode":"// Histórico longo para CRM\n// Usa apenas Merge2\n// Pega últimas mensagens úteis\n// Corrige speaker de transcrição interna de áudio\n// Evita duplicar áudio nulo + transcrição\n// Saída única\n\nconst LIMIT = $input.first().json.qtd_historico || 30;\nconst OUTGOING_NAME = $('CW_account_id').first().json.nome_agente;\n\n// Pega todos os itens do Merge2\nconst inputItems = $input.all();\n\nfunction normalizeContent(text) {\n  return String(text || '')\n    .replace(/\\r/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction isInternalAudioTranscript(msg) {\n  const content = String(msg.content || '');\n  return content.startsWith('[TRANSCRIÇÃO INTERNA DO ÁUDIO');\n}\n\nfunction extractReferencedMessageId(msg) {\n  const inReplyTo = msg?.content_attributes?.in_reply_to;\n  if (inReplyTo) return Number(inReplyTo);\n\n  const content = String(msg.content || '');\n  const match = content.match(/msg_id\\s+(\\d+)/i);\n  return match ? Number(match[1]) : null;\n}\n\nfunction getSpeakerFromType(messageType) {\n  const type = Number(messageType);\n  if (type === 0) return 'Lead';\n  if (type === 1) return OUTGOING_NAME;\n  return 'Sistema';\n}\n\nfunction getSpeaker(msg, messageMap) {\n  if (isInternalAudioTranscript(msg)) {\n    const referencedId = extractReferencedMessageId(msg);\n    const originalMsg = referencedId ? messageMap.get(referencedId) : null;\n\n    if (originalMsg) {\n      return getSpeakerFromType(originalMsg.message_type);\n    }\n  }\n\n  return getSpeakerFromType(msg.message_type);\n}\n\nfunction cleanTranscriptContent(text) {\n  const content = String(text || '');\n\n  if (!content.startsWith('[TRANSCRIÇÃO INTERNA DO ÁUDIO')) {\n    return normalizeContent(content);\n  }\n\n  return normalizeContent(\n    content\n      .replace(/^\\[TRANSCRIÇÃO INTERNA DO ÁUDIO[^\\n]*\\]\\n?/i, '')\n      .replace(/^⬇️Transcrição do áudio⬇️[^\\n]*\\n?/i, '')\n  );\n}\n\n// 1. Extrair mensagens\nconst rawMessages = inputItems\n  .map(item => item.json)\n  .filter(j => j && typeof j === 'object' && j.id);\n\n// 2. Remover duplicados por id\nconst uniqueMap = new Map();\nfor (const msg of rawMessages) {\n  uniqueMap.set(Number(msg.id), msg);\n}\n\nlet messages = Array.from(uniqueMap.values());\n\n// 3. Ordenar por id crescente primeiro\nmessages.sort((a, b) => Number(a.id) - Number(b.id));\n\n// 4. Criar mapa completo por id\nconst messageMap = new Map();\nfor (const msg of messages) {\n  messageMap.set(Number(msg.id), msg);\n}\n\n// 5. Descobrir quais mensagens de áudio possuem transcrição interna\nconst transcribedOriginalIds = new Set();\n\nfor (const msg of messages) {\n  if (isInternalAudioTranscript(msg)) {\n    const referencedId = extractReferencedMessageId(msg);\n    if (referencedId) {\n      transcribedOriginalIds.add(referencedId);\n    }\n  }\n}\n\n// 6. Filtrar mensagens úteis\nmessages = messages.filter(msg => {\n  const type = Number(msg.message_type);\n\n  // Só mantém type 0 e 1\n  if (!(type === 0 || type === 1)) return false;\n\n  // Remove mensagens privadas, exceto transcrição interna\n  if (msg.private === true && !isInternalAudioTranscript(msg)) return false;\n\n  // Remove o áudio original sem conteúdo quando já existe transcrição\n  const hasEmptyContent = !normalizeContent(msg.content);\n  if (hasEmptyContent && transcribedOriginalIds.has(Number(msg.id))) return false;\n\n  // Remove mensagens vazias comuns\n  if (hasEmptyContent && !isInternalAudioTranscript(msg)) return false;\n\n  return true;\n});\n\n// 7. Pegar só as últimas N\nconst lastMessages = messages.slice(-LIMIT);\n\n// 8. Montar texto pro CRM\nconst historyText = lastMessages\n  .map(msg => {\n    const speaker = getSpeaker(msg, messageMap);\n    const content = cleanTranscriptContent(msg.content);\n\n    return `${speaker}: ${content}`;\n  })\n  .join('\\n');\n\n// 9. Saída única\nreturn [\n  {\n    json: {\n      messages_total_received: rawMessages.length,\n      messages_total_unique: uniqueMap.size,\n      messages_total_filtered: messages.length,\n      messages_sent_to_crm: lastMessages.length,\n      first_message_id: lastMessages.length ? lastMessages[0].id : null,\n      last_message_id: lastMessages.length ? lastMessages[lastMessages.length - 1].id : null,\n      history_for_crm: historyText,\n      messages_for_crm: lastMessages\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5840,-992],"id":"5b604db4-24f8-4005-9028-a35c4842b336","name":"Junta histórico"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5392,-992],"id":"83311cfd-f91b-4db8-8556-54a165ccaf5e","name":"Merge2"},{"parameters":{"workflowInputs":{"values":[{"name":"account_id","type":"number"},{"name":"conversation_id","type":"number"},{"name":"processar_IA","type":"boolean"},{"name":"qtd_messages","type":"number"},{"name":"nome_agente"}]}},"id":"bca15d93-b16f-4a0d-8266-6e17c1baea2a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[3824,-992]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fda8cc3-2be8-4659-ac13-6f1239abba22","leftValue":"={{ $('Start').item.json.processar_IA }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6288,-992],"id":"afaeb391-e752-4881-8821-806acc8b50b0","name":"Processar IA?"},{"parameters":{"assignments":{"assignments":[{"id":"0e644c8e-a66c-4c43-b0b4-8aa5233b39ec","name":"qtd_historico","value":"={{ $('Start').item.json.processar_IA\n  ?30\n  :$('Start').item.json['qtd_messages']\n}}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5616,-992],"id":"e7159765-d805-4598-968d-632ef44b8386","name":"qtd_his'tórico"},{"parameters":{"assignments":{"assignments":[{"id":"16c2e5df-8566-4d68-b74d-57d5afb7f127","name":"message.historico","value":"historico","type":"string"},{"id":"86cfbfd6-27bc-42fd-8c0a-2c79863e1d99","name":"message.history_for_crm","value":"={{ $json.history_for_crm }}","type":"string"},{"id":"9678b3a8-6f84-410f-855b-92b2b3b52e7e","name":"message.first_message_id","value":"={{ $json.first_message_id }}","type":"number"},{"id":"790cb865-5714-465f-8211-8da1e35bf884","name":"message.last_message_id","value":"={{ $json.last_message_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6576,-848],"id":"773d0cd3-eb48-4d89-8da3-43522c199c54","name":"historico sem IA"},{"parameters":{"assignments":{"assignments":[{"id":"076b3cd2-4b8b-461b-bb2d-1994b0e44e20","name":"account_id","value":"={{ $json?.account_id || 1 }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4048,-992],"id":"7e40701d-2426-49f4-bea7-5ca795bae876","name":"CW_account_id"},{"parameters":{"assignments":{"assignments":[{"id":"16c2e5df-8566-4d68-b74d-57d5afb7f127","name":"message.historico","value":"historico","type":"string"},{"id":"86cfbfd6-27bc-42fd-8c0a-2c79863e1d99","name":"message.history_for_crm","value":"={{ $('Processar IA?').item.json.history_for_crm }}","type":"string"},{"id":"9678b3a8-6f84-410f-855b-92b2b3b52e7e","name":"message.first_message_id","value":"={{ $('Processar IA?').item.json.first_message_id }}","type":"number"},{"id":"790cb865-5714-465f-8211-8da1e35bf884","name":"message.last_message_id","value":"={{ $('Processar IA?').item.json.last_message_id }}","type":"number"},{"id":"3f971265-83c7-4792-9a5c-c516c8714af4","name":"inputs","value":"={{ $json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7088,-1136],"id":"42e01d84-a2f0-460e-94d2-9ab99e116a4d","name":"historico com IA"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst messages = Array.isArray(item?.messages_for_crm) ? item.messages_for_crm : [];\n\nconst isLeadMessage = (msg) => Number(msg?.message_type) === 0;\nconst isBrunaMessage = (msg) => Number(msg?.message_type) === 1;\n\nconst clean = (v) =>\n  String(v || '')\n    .replace(/\\[object Object\\]/gi, '')\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\nconst relevant = (text) => {\n  const t = clean(text);\n  if (!t) return false;\n  if (/^(ok|obrigado|obg|valeu|👍|👌|🙏|kkk|rs|rsrs)$/i.test(t)) return false;\n  return true;\n};\n\nconst leadMessages = messages.filter(isLeadMessage).filter(m => relevant(m?.content));\nconst brunaMessages = messages.filter(isBrunaMessage).filter(m => relevant(m?.content));\n\nconst lastLeadMessage = leadMessages.length\n  ? clean(leadMessages[leadMessages.length - 1].content)\n  : clean(item?.last_lead_message);\n\nconst lastBrunaMessage = brunaMessages.length\n  ? clean(brunaMessages[brunaMessages.length - 1].content)\n  : clean(item?.last_bruna_message);\n\nitem.last_lead_message = lastLeadMessage;\nitem.last_bruna_message = lastBrunaMessage;\nitem.history_for_crm = clean(item?.history_for_crm || '');\n\nreturn [{ json: item }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6064,-992],"id":"e86d2d96-e840-4999-9cdd-f021fb83d6ce","name":"RELEVANT MESSAGE"},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst out = item?.output || {};\n\nconst lastLead = String(item?.last_lead_message || '').trim();\n\nconst asksPriceOrInfo = /(quanto|valor|di[aá]ria|estadia|hospedagem|hotel|mais informa[cç][õo]es|como funciona|pacote|datas?)/i.test(lastLead);\nconst explicitAcceptEval = /(pode mandar o pix|manda o pix|pode enviar o pix|quero seguir com a avalia[cç][ãa]o|quero fazer a avalia[cç][ãa]o|vamos seguir com a avalia[cç][ãa]o|vamos fazer a avalia[cç][ãa]o|pode agendar|quero dar continuidade|vamos prosseguir)/i.test(lastLead);\n\nif (asksPriceOrInfo && !explicitAcceptEval) {\n  out.status_lead = 'QUALIFICANDO';\n  out.ultima_intencao = 'PEDIU_VALOR';\n\n  if (out.evento_sistema === 'PIX_SOLICITADO') {\n    out.evento_sistema = '';\n  }\n\n  out.deve_solicitar_pagamento = false;\n  out.deve_consultar_agenda = false;\n  out.deve_criar_pre_reserva = false;\n\n  if (/pagamento|pix|comprovante|taxa/i.test(String(out.proxima_acao || ''))) {\n    out.proxima_acao = 'responder dúvida e seguir qualificação com suavidade';\n  }\n\n  item.guard_crm_reason = 'ultima_mensagem_do_lead_indica_duvida_de_valor_ou_informacao';\n}\n\nitem.output = out;\n\nreturn [{ json: item }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6864,-1136],"id":"e6d4d6f8-4407-457d-b773-4cc84c2b6bc6","name":"GUARD_CRM_BRUNA"},{"parameters":{"promptType":"define","text":"=********************************************\nENTRADA DO ANALISTA DE CRM\n********************************************\n\nÚltima mensagem relevante do lead:\n{{ $json.last_lead_message }}\n\nÚltima mensagem relevante da Bruna:\n{{ $json.last_bruna_message }}\n\nHistórico recente da conversa:\n{{ $json.history_for_crm }}\n\nReconstrua o estado operacional atual do lead para continuidade da {{ $('Start').item.json.nome_agente }}.\n\nRetorne SOMENTE um objeto JSON válido.\nNão use markdown.\nNão use bloco de código.\nNão use explicações.\nNão use texto fora do JSON.\nPreencha todos os campos do schema.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=********************************************\nANALISTA DE CRM DA BRUNA\n********************************************\n\nVocê é um analista de CRM da Bruna, responsável por reconstruir o estado operacional atual de um lead da AuAu Creche Canina a partir do histórico da conversa.\n\nSua tarefa é ler o contexto recebido e retornar UM ÚNICO OBJETO JSON válido, seguindo exatamente o schema do Structured Output Parser.\n\nRetorne apenas JSON.\nNão use markdown.\nNão use comentários.\nNão escreva texto antes ou depois.\nNão use array como resposta principal.\nNão explique nada.\n\n********************************************\nOBJETIVO\n********************************************\n\nReconstruir o estado operacional atual do lead para continuidade da Bruna, preservando coerência com:\n1. a taxonomia oficial de status, intenções e eventos\n2. as regras de qualificação da AuAu\n3. a trilha operacional de avaliação, pagamento, agenda, pré-reserva, encerramento e repasse humano\n\nDATA_DE_REFERENCIA: {{ $now }}\nTIMEZONE: America/Sao_Paulo\n\n********************************************\nREGRA CENTRAL\n********************************************\n\nReconstrua o ESTADO VIVO ATUAL da conversa.\n\nNão misture:\n- evento histórico antigo\n- com próxima ação atual\n\nExemplo de erro proibido:\n- Bruna já enviou PIX antes\n- depois o lead perguntou valor, tirou dúvida ou ficou indeciso\n- e você mantém evento_sistema = PIX_SOLICITADO e deve_solicitar_pagamento = true\n\nIsso está errado.\n\nSe a última mensagem relevante do lead for:\n- dúvida de valor\n- pedido de informação\n- comparação\n- indecisão\n- objeção de preço\n\nEntão o estado atual normalmente deve refletir isso, e não uma cobrança antiga.\n\n********************************************\nPRIORIDADE DE LEITURA\n********************************************\n\nPriorize nesta ordem:\n1. última mensagem relevante do lead\n2. última mensagem relevante da Bruna\n3. histórico recente da conversa\n4. contexto anterior ainda compatível\n\nSe houver conflito entre uma cobrança antiga e uma dúvida mais recente do lead, a dúvida mais recente prevalece.\n\n********************************************\nREGRAS GERAIS\n********************************************\n\nNão invente dados.\nSe não souber, use string vazia.\nNunca use null para texto.\nUse false para boolean quando não houver evidência explícita.\nIgnore ruído, cordialidades vazias, emojis isolados, despedidas e mensagens sem efeito operacional.\nNão use valores fora da taxonomia oficial.\n\n********************************************\nTAXONOMIA OFICIAL DE STATUS\n********************************************\n\nUse apenas estes valores em status_lead:\n\nNOVO_LEAD\nCOLETANDO_DADOS\nQUALIFICANDO\nPRE_REPROVADO\nAPTO_PARA_AVALIACAO\nAGUARDANDO_PAGAMENTO\nCOMPROVANTE_RECEBIDO\nAGUARDANDO_ESCOLHA_HORARIO\nPRE_RESERVA_CRIADA\nTRANSFERIDO_FLAVIA\nENCERRADO_NAO_PERFIL\nENCERRADO_SEM_RESPOSTA\nENCERRADO\n\n********************************************\nREGRAS DE STATUS\n********************************************\n\nUse o estado atual mais coerente.\n\nSe o lead estiver:\n- tirando dúvida\n- perguntando preço\n- informando dados\n- entendendo o processo\n- decidindo se vai seguir\n\nUse QUALIFICANDO, salvo evidência mais forte em contrário.\n\nSó use AGUARDANDO_PAGAMENTO quando a etapa ativa atual ainda for cobrança.\nNão use AGUARDANDO_PAGAMENTO apenas porque o PIX já foi enviado no passado.\n\nUse COMPROVANTE_RECEBIDO somente se houver evidência de comprovante enviado.\nUse AGUARDANDO_ESCOLHA_HORARIO somente se houver contexto real de agenda.\nUse PRE_RESERVA_CRIADA somente se houver avanço operacional real para isso.\nUse TRANSFERIDO_FLAVIA somente se houver repasse claro.\nUse ENCERRADO_NAO_PERFIL somente se houver não perfil objetivo claro.\n\n********************************************\nTAXONOMIA OFICIAL DE INTENÇÃO\n********************************************\n\nUse apenas estes valores em ultima_intencao:\n\nINTERESSE_CRECHE\nINTERESSE_HOTEL\nPEDIU_VALOR\nPEDIU_LOCALIZACAO\nPEDIU_VISITA\nINFORMOU_DADOS_CAO\nINFORMOU_DADOS_TUTOR\nACEITOU_AVALIACAO\nRECEBEU_PIX\nENVIOU_COMPROVANTE\nESCOLHEU_HORARIO\nPEDIU_HUMANO\nFORA_DO_PERFIL\nURGENCIA_FERIADO\nOBJECAO_PRECO\nSUMIU\n\n********************************************\nREGRAS DE INTENÇÃO\n********************************************\n\nultima_intencao representa o movimento mais recente e relevante.\n\nSe o lead perguntou preço, use PEDIU_VALOR.\nSe houve objeção sobre preço, use OBJECAO_PRECO.\nSe pediu localização, use PEDIU_LOCALIZACAO.\nSe pediu visita, use PEDIU_VISITA.\nSe passou dados do cão, use INFORMOU_DADOS_CAO.\nSe passou dados do tutor, use INFORMOU_DADOS_TUTOR.\nSe aceitou seguir com a avaliação de forma explícita, use ACEITOU_AVALIACAO.\nSe enviou comprovante, use ENVIOU_COMPROVANTE.\nSe escolheu horário, use ESCOLHEU_HORARIO.\nSe pediu humano, use PEDIU_HUMANO.\nSe estiver fora do perfil, use FORA_DO_PERFIL.\n\nSe a última mensagem do lead for dúvida de valor, informação ou indecisão, não use ACEITOU_AVALIACAO.\n\n********************************************\nTAXONOMIA OFICIAL DE EVENTOS\n********************************************\n\nUse apenas estes valores em evento_sistema:\n\nFORMULARIO_RECEBIDO\nGUIA_ENVIADO\nPIX_SOLICITADO\nANEXO_RECEBIDO\nCOMPROVANTE_IDENTIFICADO\nAGENDA_CONSULTADA\nHORARIOS_ENVIADOS\nPRE_RESERVA_CRIADA\nREPASSE_FLAVIA\nFOLLOWUP_DISPARADO\nCONVERSA_ENCERRADA\n\n********************************************\nREGRAS DE EVENTO\n********************************************\n\nevento_sistema deve representar o evento operacional ativo atual.\n\nNão use PIX_SOLICITADO se a conversa já mudou de fase depois disso.\n\nSe não houver evento atual claramente ativo, retorne string vazia.\n\n********************************************\nREGRAS DE CONSISTÊNCIA\n********************************************\n\nNão produza combinações incoerentes.\n\nExemplos proibidos:\n- ultima_intencao = PEDIU_VALOR com deve_solicitar_pagamento = true\n- evento_sistema = PIX_SOLICITADO quando a última mensagem do lead é dúvida de valor\n- status_lead = QUALIFICANDO com deve_consultar_agenda = true sem contexto real\n- PRE_RESERVA_CRIADA sem avanço operacional compatível\n\nSe a última mensagem relevante do lead for dúvida de valor ou informação:\n- deve_solicitar_pagamento = false\n- deve_consultar_agenda = false\n- deve_criar_pre_reserva = false\n\n********************************************\nREGRAS OPERACIONAIS DA AUAU\n********************************************\n\nConsidere como verdade operacional:\n- avaliação comportamental é obrigatória\n- hotel exige avaliação e adaptação\n- agendamento da avaliação só acontece após pagamento\n- Bruna não valida pagamento real\n- Bruna não confirma hospedagem final\n- AuAuzin aceita apenas cães mini e pequenos\n- fêmeas não podem estar no cio\n- machos precisam ser castrados a partir de 8 meses\n- casos de não perfil objetivo devem ser encerrados, não repassados por padrão\n\n********************************************\nRESUMO_LEAD\n********************************************\n\nresumo_lead representa a memória operacional viva do lead.\n\nPreencha apenas com base no histórico.\nNão invente dados.\nNão apague dado bom por falta de evidência nova.\nobservacoes deve resumir o ponto operacional mais relevante e recente.\n\n********************************************\nSAÍDA\n********************************************\n\nRetorne um único JSON válido, seguindo exatamente o schema do Structured Output Parser.\nSem texto fora do JSON."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[6512,-1248],"id":"cada2ae9-f58a-478c-ba7c-2ff3516f744f","name":"Basic LLM Chain","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"maxTokens":1000,"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[6528,-1024],"id":"7637593b-ad56-46a5-8e13-772c41b2134b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"pJdFCq2ATzcN75GC","name":"OpenAi RICARDO"}}},{"parameters":{"jsonSchemaExample":"{\n  \"status_lead\": \"\",\n  \"ultima_intencao\": \"\",\n  \"evento_sistema\": \"\",\n  \"resumo_lead\": {\n    \"tutor_nome\": \"\",\n    \"tutor_telefone\": \"\",\n    \"cao_nome\": \"\",\n    \"cao_idade_anos\": \"\",\n    \"cao_raca\": \"\",\n    \"cao_porte\": \"\",\n    \"cao_sexo\": \"\",\n    \"cao_castrado\": \"\",\n    \"cao_no_cio\": \"\",\n    \"cao_vacinas_ok\": \"\",\n    \"cao_antipulgas_ok\": \"\",\n    \"cao_vermifugacao_ok\": \"\",\n    \"cao_sociavel\": \"\",\n    \"cao_reativo\": \"\",\n    \"possui_relatorio_veterinario\": \"\",\n    \"unidade_preferida\": \"\",\n    \"servico_interesse\": \"\",\n    \"periodo_desejado\": \"\",\n    \"data_desejada\": \"\",\n    \"origem_lead\": \"\",\n    \"comprovante_recebido\": false,\n    \"tipo_comprovante\": \"\",\n    \"data_hora_pre_reserva\": \"\",\n    \"responsavel_humano\": \"\",\n    \"observacoes\": \"\"\n  },\n  \"proxima_acao\": \"\",\n  \"deve_repassar_humano\": false,\n  \"motivo_repasse\": \"\",\n  \"deve_enviar_guia\": false,\n  \"deve_solicitar_pagamento\": false,\n  \"deve_consultar_agenda\": false,\n  \"deve_criar_pre_reserva\": false,\n  \"deve_encerrar_conversa\": false,\n  \"resumo_interno_repasse\": {\n    \"repassar_para\": \"\",\n    \"motivo\": \"\",\n    \"tutor_nome\": \"\",\n    \"tutor_telefone\": \"\",\n    \"cao_nome\": \"\",\n    \"cao_idade_anos\": \"\",\n    \"cao_raca\": \"\",\n    \"cao_porte\": \"\",\n    \"cao_sexo\": \"\",\n    \"cao_castrado\": \"\",\n    \"cao_vacinas_ok\": \"\",\n    \"cao_antipulgas_ok\": \"\",\n    \"cao_sociavel\": \"\",\n    \"cao_reativo\": \"\",\n    \"unidade_preferida\": \"\",\n    \"servico_interesse\": \"\",\n    \"data_hora_avaliacao\": \"\",\n    \"comprovante_recebido\": false,\n    \"tipo_comprovante\": \"\",\n    \"observacoes\": \"\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[6656,-1024],"id":"a8c64aec-869b-446b-873d-6dc2fe28921d","name":"Structured Output Parser"}],"connections":{"Busca histórico Longo":{"main":[[{"node":"Split 1","type":"main","index":0}]]},"Busca histórico Longo2":{"main":[[{"node":"Split 2","type":"main","index":0}]]},"min_id":{"main":[[{"node":"Busca histórico Longo2","type":"main","index":0}]]},"Split 1":{"main":[[{"node":"min_id","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Split 2":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Junta histórico":{"main":[[{"node":"RELEVANT MESSAGE","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"qtd_his'tórico","type":"main","index":0}]]},"Start":{"main":[[{"node":"CW_account_id","type":"main","index":0}]]},"Processar IA?":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"historico sem IA","type":"main","index":0}]]},"qtd_his'tórico":{"main":[[{"node":"Junta histórico","type":"main","index":0}]]},"CW_account_id":{"main":[[{"node":"Busca histórico Longo","type":"main","index":0}]]},"RELEVANT MESSAGE":{"main":[[{"node":"Processar IA?","type":"main","index":0}]]},"GUARD_CRM_BRUNA":{"main":[[{"node":"historico com IA","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"GUARD_CRM_BRUNA","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 9a0aaf45","description":"","autosaved":true},"tags":[]}