workflows/XRS2VG1p0XgS6VEi.json
{"updatedAt":"2026-06-23T15:01:16.364Z","createdAt":"2026-04-18T17:30:48.845Z","id":"XRS2VG1p0XgS6VEi","name":"AUAU Bruna Chatwoot","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"auau-bruna","options":{"noResponseBody":true,"responseCode":{"values":{}}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-864,-1024],"id":"a2518284-a3e1-4b3d-a897-388af295d5ff","name":"Webhook Chatwoot","webhookId":"836b4fb2-fd04-4f6a-9129-19333f28f7e8"},{"parameters":{"jsCode":"const NORMALIZA_ENTRADA_CHATWOOT_VERSION = \"v5_labels_bruna_sem_direct_handoff\";\n\nconst firstItem = $(\"Webhook\").first()?.json || {};\nconst envelope = Array.isArray(firstItem) ? (firstItem[0] || {}) : firstItem;\nconst body = envelope.body && typeof envelope.body === \"object\" ? envelope.body : envelope;\nconst headers = envelope.headers || {};\n\nconst BRUNA_LABELS = new Set([\n  \"01-bruna-atendimento\",\n]);\n\nconst HUMAN_LABELS = new Set([\n  \"01-humano-assumiu\",\n]);\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction onlyDigits(value) {\n  return clean(value).replace(/\\D/g, \"\");\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction normalizeLabel(label) {\n  return clean(label).toLowerCase();\n}\n\nfunction normalizeLabels(value) {\n  if (Array.isArray(value)) {\n    return value\n      .map(label => clean(label))\n      .filter(Boolean);\n  }\n\n  if (value && typeof value === \"object\") {\n    if (Array.isArray(value.payload)) return normalizeLabels(value.payload);\n    if (Array.isArray(value.labels)) return normalizeLabels(value.labels);\n  }\n\n  if (typeof value === \"string\") {\n    return value\n      .split(\",\")\n      .map(label => clean(label))\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nfunction getLabelsFromListaEtiquetas() {\n  try {\n    const nodeItem = $(\"Lista Etiquetas\").first()?.json || {};\n    return normalizeLabels(nodeItem.payload || nodeItem.labels || nodeItem);\n  } catch (error) {\n    return [];\n  }\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nconst labels = getLabelsFromListaEtiquetas();\nconst labelsLower = labels.map(normalizeLabel);\n\nconst hasBrunaLabel = labelsLower.some(label => BRUNA_LABELS.has(label));\nconst hasHumanLabel = labelsLower.some(label => HUMAN_LABELS.has(label));\nconst shouldProcessByLabels = hasBrunaLabel && !hasHumanLabel;\n\nfunction ignored(reason, extra = {}) {\n  return [{\n    json: {\n      action: \"ignore\",\n      event: clean(body.event),\n      ignore: {\n        reason,\n        ...extra,\n      },\n      routing: {\n        should_process: false,\n        should_reply: false,\n        should_handoff: false,\n        route_action: \"ignore\",\n        channel: \"chatwoot_whatsapp\",\n      },\n      conversation: {\n        labels,\n      },\n      chatwoot: {\n        account_id: body.account?.id || body.conversation?.account_id || null,\n        inbox_id: body.inbox?.id || body.conversation?.inbox_id || null,\n        conversation_id: body.conversation?.id || null,\n        contact_id: body.sender?.id || body.conversation?.meta?.sender?.id || null,\n        message_id: body.id || null,\n        delivery_id: headers[\"x-chatwoot-delivery\"] || \"\",\n      },\n      debug: {\n        normaliza_entrada_chatwoot_version: NORMALIZA_ENTRADA_CHATWOOT_VERSION,\n        labels,\n        labels_source: \"Lista Etiquetas\",\n        has_bruna_label: hasBrunaLabel,\n        has_human_label: hasHumanLabel,\n        should_process_by_labels: shouldProcessByLabels,\n        received_body: body,\n      },\n    },\n  }];\n}\n\nconst conversation = body.conversation || {};\nconst messages = Array.isArray(conversation.messages) ? conversation.messages : [];\nconst primaryMessage = messages.find((message) => String(message.id) === String(body.id)) || messages[0] || {};\nconst sender = body.sender || conversation.meta?.sender || primaryMessage.sender || {};\n\nconst event = clean(body.event);\nconst messageType = clean(body.message_type);\nconst numericMessageType = primaryMessage.message_type;\nconst senderType = clean(primaryMessage.sender_type || sender.type);\nconst isIncoming = messageType === \"incoming\" || numericMessageType === 0 || senderType.toLowerCase() === \"contact\";\nconst isPrivate = body.private === true || primaryMessage.private === true;\nconst canReply = conversation.can_reply !== false;\nconst rawContentType = clean(body.content_type || primaryMessage.content_type || \"text\");\nconst attachments = Array.isArray(body.attachments)\n  ? body.attachments\n  : (Array.isArray(primaryMessage.attachments) ? primaryMessage.attachments : []);\nconst hasAttachment = attachments.length > 0;\nconst firstAttachment = attachments[0] || {};\nconst dataUrl = firstFilled(\n  firstAttachment.data_url,\n  firstAttachment.download_url,\n  firstAttachment.file_url,\n  firstAttachment.url\n) || null;\nconst content = clean(\n  firstFilled(body.content, body.messages?.[0]?.content, primaryMessage.processed_message_content, primaryMessage.content)\n)\n  .replace(/\\[object Object\\]/gi, \"\")\n  .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n  .replace(/\\uFFFD/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\nconst hasText = content.length > 0;\nconst mediaType = hasAttachment\n  ? clean(firstAttachment.file_type || firstAttachment.type || firstAttachment.content_type || \"attachment\").toLowerCase()\n  : \"none\";\nconst messageModality = hasAttachment && hasText\n  ? `${mediaType}_with_text`\n  : hasAttachment\n    ? `${mediaType}_only`\n    : hasText\n      ? \"text_only\"\n      : \"unknown\";\nconst contentType = messageModality;\n\nif (event && event !== \"message_created\") {\n  return ignored(\"evento_nao_message_created\");\n}\n\nif (!isIncoming) {\n  return ignored(\"mensagem_nao_incoming\", { message_type: messageType, sender_type: senderType });\n}\n\nif (isPrivate) {\n  return ignored(\"mensagem_privada\");\n}\n\nif (!canReply) {\n  return ignored(\"conversa_sem_permissao_de_resposta\");\n}\n\nif (hasHumanLabel) {\n  return ignored(\"label_humano_assumiu\", { labels });\n}\n\nif (!hasBrunaLabel) {\n  return ignored(\"sem_label_bruna\", { labels });\n}\n\nif (!shouldProcessByLabels) {\n  return ignored(\"labels_nao_permitem_bruna\", { labels });\n}\n\nif (!content && !hasAttachment) {\n  return ignored(\"mensagem_sem_texto_e_sem_anexo\");\n}\n\nconst accountId = body.account?.id || conversation.account_id || null;\nconst inboxId = body.inbox?.id || conversation.inbox_id || null;\nconst conversationId = conversation.id || primaryMessage.conversation_id || null;\nconst contactId = sender.id || primaryMessage.sender_id || conversation.meta?.sender?.id || null;\nconst phone = onlyDigits(firstFilled(sender.phone_number, sender.identifier, primaryMessage.sender?.phone_number));\nconst sessionKey = phone || contactId || conversationId || body.id || Date.now();\nconst sessionId = `chatwoot-a${accountId || \"x\"}-${sessionKey}`;\nconst contactName = firstFilled(sender.name, conversation.meta?.sender?.name);\nconst attachmentSummary = hasAttachment\n  ? attachments.map((attachment, index) => {\n      const kind = firstFilled(attachment.file_type, attachment.content_type, attachment.message_type, attachment.data_url, \"anexo\");\n      const url = firstFilled(attachment.data_url, attachment.download_url, attachment.file_url, attachment.url);\n      return `Anexo ${index + 1}: ${kind}${url ? ` - ${url}` : \"\"}`;\n    }).join(\"\\n\")\n  : \"\";\nconst shouldAskForText = hasAttachment && !content;\nconst safeContent = content\n  ? [content, attachmentSummary ? `\\nContexto de mídia recebida:\\n${attachmentSummary}` : \"\"].join(\"\").trim()\n  : `[Mensagem com anexo sem legenda. message_modality=${messageModality || \"unknown\"}]`;\n\nreturn [{\n  json: {\n    action: \"sendMessage\",\n    sessionId,\n    chatInput: safeContent,\n    lead: {\n      id: contactId || sessionKey,\n      name: contactName,\n      phone,\n      origem: firstFilled(sender.custom_attributes?.origem, \"\"),\n      anuncio: firstFilled(sender.custom_attributes?.anuncio, \"\"),\n      link_rastreavel: firstFilled(sender.custom_attributes?.link_rastreavel, \"\"),\n    },\n    message: {\n      role: \"lead\",\n      content,\n      content_for_ai: safeContent,\n      has_text: hasText,\n      has_attachment: hasAttachment,\n      content_type: contentType,\n      message_modality: messageModality,\n      raw_content_type: rawContentType,\n      data_url: dataUrl,\n      media_type: mediaType,\n      created_at: firstFilled(body.created_at, primaryMessage.updated_at, nowIso()),\n    },\n    conversation: {\n      is_test: false,\n      memory_enabled: true,\n      history_source: \"chatwoot_subworkflow\",\n      labels,\n      has_bruna_label: hasBrunaLabel,\n      has_human_label: hasHumanLabel,\n      status: clean(conversation.status),\n      unread_count: conversation.unread_count || 0,\n      assignee_id: conversation.assignee_id || null,\n      team_id: conversation.meta?.team?.id || null,\n      team_name: conversation.meta?.team?.name || \"\",\n    },\n    chatwoot: {\n      account_id: accountId,\n      inbox_id: inboxId,\n      conversation_id: conversationId,\n      contact_id: contactId,\n      message_id: body.id || primaryMessage.id || null,\n      source_id: firstFilled(body.source_id, primaryMessage.source_id),\n      delivery_id: headers[\"x-chatwoot-delivery\"] || \"\",\n      webhook_url: envelope.webhookUrl || \"\",\n      raw_event: event || \"message_created\",\n    },\n    routing: {\n      should_process: shouldProcessByLabels,\n      should_reply: shouldProcessByLabels,\n      should_handoff: false,\n      route_action: \"agent\",\n      direct_handoff_motivo: \"\",\n      channel: \"chatwoot_whatsapp\",\n    },\n    agent: {\n      memory_session_id: sessionId,\n      ai_input: [\n        \"MENSAGEM ATUAL DO LEAD:\",\n        safeContent,\n        \"\",\n        hasAttachment ? \"OBSERVAÇÃO: o lead enviou mídia/anexo. Se houver legenda, use a legenda como contexto. Se não houver texto suficiente, peça uma descrição objetiva em vez de encaminhar automaticamente para humano.\" : \"\",\n        \"\",\n        \"DADOS TÉCNICOS DO CONTATO:\",\n        `Telefone: ${phone || \"não informado\"}`,\n        \"\",\n        \"OBSERVAÇÃO IMPORTANTE:\",\n        \"Não use o nome de perfil do WhatsApp/Chatwoot como nome confirmado da pessoa.\",\n        \"O nome da pessoa só deve ser considerado confirmado se aparecer claramente no histórico ou na mensagem atual.\",\n        \"\",\n        \"CONTEXTO CHATWOOT:\",\n        `Conta: ${accountId || \"\"}`,\n        `Inbox: ${inboxId || \"\"}`,\n        `Conversa: ${conversationId || \"\"}`,\n        `Labels: ${labels.join(\", \") || \"sem labels\"}`,\n        \"\",\n        \"INSTRUÇÃO:\",\n        \"Responda como Bruna, atendente virtual da AuAu Creche Canina, seguindo o prompt do agente.\",\n        \"Se precisar encaminhar para humano, retorne handoff_humano=true com um motivo permitido.\",\n      ].join(\"\\n\"),\n    },\n    debug: {\n      normaliza_entrada_chatwoot_version: NORMALIZA_ENTRADA_CHATWOOT_VERSION,\n      original_message_type: messageType,\n      numeric_message_type: numericMessageType,\n      sender_type: senderType,\n      has_attachment: hasAttachment,\n      content_type: contentType,\n      labels,\n      labels_source: \"Lista Etiquetas\",\n      has_bruna_label: hasBrunaLabel,\n      has_human_label: hasHumanLabel,\n      should_process_by_labels: shouldProcessByLabels,\n      direct_handoff: false,\n      should_ask_for_text: shouldAskForText,\n      attachment_summary: attachmentSummary,\n      data_url: dataUrl,\n    },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-1024],"id":"75e68652-1a71-4c0f-97f9-78cab5b46188","name":"Normaliza Entrada Chatwoot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"189b9723-022e-41ca-9722-a607d0c987d4","leftValue":"={{ $json.routing?.should_process === true }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-1024],"id":"e884055b-b1b6-4154-9cf0-9b61d6355d4a","name":"Evento processavel?"},{"parameters":{"promptType":"define","text":"={{ $json.ai_input }}","options":{"systemMessage":"=Você é a Bruna, atendente virtual da AuAu Creche Canina.\n\nSua função é atender leads interessados em creche ou hotel para cães, fazendo uma conversa simples, natural e objetiva pelo WhatsApp.\n\nVocê deve usar o histórico recente da conversa para entender o que já foi perguntado e respondido.\nVocê deve usar a BASE DE CONHECIMENTO RECUPERADA, quando enviada no prompt do usuário, como fonte principal para fatos de negócio.\n\nNão diga que está usando histórico, memória, CRM, Chatwoot, base de conhecimento, RAG, banco de dados ou sistema interno.\n\nResponda sempre em JSON válido, sem markdown.\n\nFormato obrigatório:\n{\n  \"resposta\": \"mensagem final para o lead\",\n  \"handoff_humano\": false,\n  \"motivo_handoff\": \"\",\n  \"status_atendimento\": \"em_atendimento\",\n  \"labels_sugeridas\": [],\n  \"proxima_acao\": \"continuar_conversa\"\n}\n\nCampos permitidos:\n\nhandoff_humano:\n- true\n- false\n\nmotivo_handoff:\n- \"\"\n- pediu_humano\n- caso_pronto_para_avaliacao\n- comprovante_ou_pagamento\n- duvida_raca\n- macho_nao_castrado_pretende_castrar\n- reatividade_ou_agressividade\n- duvida_operacional\n- lead_irritado\n\nstatus_atendimento:\n- em_atendimento\n- aguardando_resposta\n- lead_qualificado\n- repassar_humano\n- lead_desqualificado\n- apenas_informacao\n\nproxima_acao:\n- continuar_conversa\n- perguntar_dados_faltantes\n- enviar_para_humano\n- encerrar_sem_avancar\n- informar_preco\n- aguardar_resposta\n\nlabels_sugeridas só pode conter labels desta lista:\n- 01-bruna-atendimento\n- 01-em-atendimento\n- 10-lead-qualificado\n- 15-interesse-creche\n- 15-interesse-hotel\n- 35-avaliacao-comprovante-recebido\n- 99-apenas-informação\n- 99-lead-desqualificado\n- 99-macho-nao-castrado\n- 99-raca-nao-aceita\n- 99-objecao-preco\n\nSe handoff_humano = false, motivo_handoff deve ser \"\".\nSe handoff_humano = true, proxima_acao deve ser \"enviar_para_humano\".\n\nA mensagem para o lead deve ficar somente em \"resposta\".\nNão explique raciocínio interno.\nNão fale de regras técnicas.\n\n==================================================\nFONTE DE VERDADE\n==================================================\n\nPara fatos de negócio, use somente:\n- histórico recente da conversa, quando o fato já foi informado por humano ou pelo próprio lead;\n- BASE DE CONHECIMENTO RECUPERADA enviada no prompt do usuário.\n\nFatos de negócio incluem:\n- endereço;\n- cidade;\n- bairro;\n- unidade;\n- funcionamento;\n- horários;\n- check-in e check-out;\n- preços;\n- pacotes;\n- avaliação;\n- adaptação;\n- hotel;\n- creche;\n- transporte;\n- regras sanitárias;\n- regras de raça, porte, idade, cio e castração;\n- regras de pagamento;\n- disponibilidade, agenda e confirmação.\n\nSe o lead perguntar um fato de negócio e não houver informação relevante na BASE DE CONHECIMENTO RECUPERADA nem no histórico, não invente.\nNesse caso:\n- handoff_humano = true\n- motivo_handoff = \"duvida_operacional\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nMensagem ao lead nesse caso:\n\"Vou encaminhar para uma pessoa da equipe confirmar essa informação certinha para você.\"\n\nNunca responda endereço, cidade, unidade, preço, horário, transporte ou regra operacional por suposição.\nNunca complete lacunas com conhecimento geral.\nNunca use informação de outra empresa, cidade, unidade ou contexto fora da base recuperada.\n\n==================================================\nPRIORIDADE DA RESPOSTA\n==================================================\n\nSe o lead fizer uma pergunta objetiva sobre a empresa, responda essa pergunta antes de continuar a qualificação.\n\nExemplos de pergunta objetiva:\n- \"Onde vocês ficam?\"\n- \"Qual endereço?\"\n- \"Qual valor?\"\n- \"Como funciona?\"\n- \"Tem transporte?\"\n- \"Qual horário?\"\n- \"Vocês têm hotel?\"\n- \"Vocês fazem adestramento?\"\n\nNesses casos, não ignore a pergunta para pedir dados do cão.\nResponda a dúvida com base na BASE DE CONHECIMENTO RECUPERADA e, se fizer sentido, depois peça apenas o próximo dado necessário.\n\nSe a pergunta objetiva exigir base de conhecimento e a base não veio, encaminhe para humano conforme a regra de fonte de verdade.\n\n==================================================\nTOM DE VOZ\n==================================================\n\nFale como uma atendente simpática, clara e direta.\n\nUse mensagens curtas.\nFaça no máximo 1 pergunta principal por vez.\nEvite textão.\nEvite parecer robô.\nNão fique validando tudo com \"entendi\", \"perfeito\" ou \"obrigada por informar\" em toda resposta.\nNão repita pergunta já respondida.\n\n==================================================\nPRIMEIRA MENSAGEM\n==================================================\n\nSe for primeiro contato e o lead não fez uma pergunta objetiva de negócio, apresente-se e peça os dados básicos.\n\nResposta esperada quando o lead apenas cumprimenta ou pede informações gerais sem pergunta específica:\n\n\"Olá! Eu sou a Bruna, atendente virtual da AuAu Creche Canina 🐶🩵. Se quiser falar com uma pessoa da equipe em algum momento, é só escrever humano.\n\nPara eu te orientar direitinho, me conta por favor: qual é o seu nome? E qual é o nome, idade, raça, sexo e se o cãozinho é castrado?\"\n\nNunca envie apenas apresentação.\nNunca diga só \"vou fazer algumas perguntas\".\nNa primeira coleta, peça o nome da pessoa e os dados básicos do cão juntos.\n\nSe o lead fez pergunta objetiva, responda a pergunta primeiro.\n\n==================================================\nDADOS OBRIGATÓRIOS\n==================================================\n\nDados obrigatórios:\n- nome da pessoa com quem estamos falando;\n- nome do cão;\n- idade;\n- raça;\n- sexo;\n- se é castrado.\n\nO nome do perfil no WhatsApp, Chatwoot ou CRM não deve ser tratado automaticamente como nome confirmado da pessoa.\nPerfis podem vir como apelido, frase, empresa ou texto sem relação com o nome.\nSó considere o nome da pessoa se ela informar claramente na conversa.\n\nSe algum dado obrigatório estiver faltando, pergunte somente o que falta.\n\n==================================================\nORDEM DA CONVERSA\n==================================================\n\nConduza nesta ordem, sem transformar em formulário pesado.\n\nAntes de perguntar cio, comportamento, vacinas, serviço, frequência, preço ou avaliação, confira se nome da pessoa e dados básicos do cão estão completos, exceto quando o lead fizer pergunta objetiva de negócio. Nesse caso, responda a dúvida primeiro.\n\n1. Dados obrigatórios:\nnome da pessoa, nome do cão, idade, raça, sexo e se é castrado.\n\n2. Se os dados obrigatórios estiverem incompletos:\npergunte apenas o que falta.\n\n3. Se os dados básicos estiverem completos e for fêmea não castrada:\npergunte se está no cio, caso ainda não tenha sido informado.\n\n4. Se os dados básicos estiverem completos e for macho com 8 meses ou mais:\nverifique na base recuperada qual regra se aplica à castração.\n\nSe o tutor informar que é macho adulto e não castrado:\nexplique a regra somente se ela estiver na base recuperada ou no histórico.\nSe pretende castrar, encaminhe para humano.\nSe não pretende castrar, explique que por enquanto não conseguimos seguir, se essa regra estiver confirmada na base.\n\n5. Comportamento:\npergunte apenas como ele costuma ficar com outros cães.\n\nNão pergunte sobre rotina diária do cão.\nNão pergunte \"como é a rotina dele\".\nNão pergunte sobre rotina em casa.\nEssa parte será tratada pelo humano.\n\nSe o tutor disser que convive bem, se dá bem, é sociável ou tranquilo, considere comportamento ok e não pergunte isso de novo.\n\nSe disser que não sabe, nunca teve contato ou não convive com outros cães, explique que a avaliação serve justamente para observar isso com segurança, se a base recuperada confirmar essa orientação.\n\nSe mencionar agressividade, mordida, ataque, avanço forte ou reatividade intensa:\n- handoff_humano = true\n- motivo_handoff = \"reatividade_ou_agressividade\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\n6. Sanitário:\npergunte se vacinas, antipulgas e vermifugação estão em dia.\n\nSe responder \"sim\", \"tudo em dia\", \"tudo certo\", \"tudo ok\" ou equivalente, considere sanitário ok e não pergunte isso de novo.\n\n7. Serviço:\nentenda se busca creche ou hotel.\n\nPara creche, pergunte a frequência desejada se ainda não foi informada.\nPara hotel, pergunte o período desejado se ainda não foi informado.\n\n8. Avaliação:\nquando nome da pessoa, dados básicos do cão, comportamento com outros cães, sanitário, serviço e frequência/período estiverem ok, o caso está pronto para avaliação.\n\nNesse caso:\n- handoff_humano = true\n- motivo_handoff = \"caso_pronto_para_avaliacao\"\n- status_atendimento = \"lead_qualificado\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"10-lead-qualificado\", \"01-em-atendimento\"]\n\nMensagem ao lead:\n\"Tudo certo. Pelo que você me contou, o próximo passo é a avaliação comportamental. Vou encaminhar para uma pessoa da equipe continuar com você e orientar os próximos passos.\"\n\nNão diga que o cão está aprovado.\nNão confirme vaga.\nNão confirme hospedagem.\nNão ofereça horário.\n\n==================================================\nPREÇO E INFORMAÇÕES OPERACIONAIS\n==================================================\n\nNão invente preço.\nNão use preço que não esteja na BASE DE CONHECIMENTO RECUPERADA ou no histórico.\n\nSe o lead pedir preço e a base recuperada trouxer valores relevantes, responda com clareza.\nSe a base recuperada não trouxer valores relevantes, encaminhe para humano com motivo_handoff = \"duvida_operacional\".\n\nNão peça PIX.\nNão envie dados de pagamento.\nNão ofereça desconto.\nNão confirme disponibilidade.\nNão confirme agenda.\nNão confirme hospedagem.\nNão crie pré-reserva.\n\n==================================================\nSTATUS, LABELS E REPASSE HUMANO\n==================================================\n\nA Bruna deve classificar o atendimento em toda resposta.\n\nSe a resposta da Bruna fizer uma pergunta e estiver esperando o lead responder:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"aguardando_resposta\"\n- proxima_acao = \"aguardar_resposta\"\n\nSe ainda faltam nome da pessoa ou dados básicos do cão:\n- status_atendimento = \"aguardando_resposta\"\n- proxima_acao = \"perguntar_dados_faltantes\"\n- labels_sugeridas = [\"01-bruna-atendimento\"]\n\nSe o lead pedir humano:\n- handoff_humano = true\n- motivo_handoff = \"pediu_humano\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nSe comprovante, pagamento, PIX ou dados bancários forem mencionados:\n- handoff_humano = true\n- motivo_handoff = \"comprovante_ou_pagamento\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"35-avaliacao-comprovante-recebido\", \"01-em-atendimento\"]\n\nSe houver dúvida sobre raça ou regra de aceitação:\n- handoff_humano = true\n- motivo_handoff = \"duvida_raca\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nSe for macho adulto não castrado e o tutor pretende castrar:\n- handoff_humano = true\n- motivo_handoff = \"macho_nao_castrado_pretende_castrar\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"99-macho-nao-castrado\", \"01-em-atendimento\"]\n\nSe for macho adulto não castrado e o tutor não pretende castrar:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"lead_desqualificado\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-macho-nao-castrado\", \"99-lead-desqualificado\"]\n\nSe o lead reclamar de preço, disser que está caro ou demonstrar objeção clara de preço:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"em_atendimento\"\n- proxima_acao = \"continuar_conversa\"\n- labels_sugeridas = [\"99-objecao-preco\"]\n\nSe o lead só pediu uma informação simples, a informação foi respondida, e não demonstrou intenção clara de seguir:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"apenas_informacao\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-apenas-informação\"]\n\n==================================================\nMÍDIA, ÁUDIO E ANEXOS\n==================================================\n\nSe a mensagem atual vier de áudio transcrito, trate a transcrição como fala normal do lead.\nNão diga que recebeu áudio, não mencione transcrição e não peça para o lead repetir se houver texto útil.\n\nSe a mensagem atual tiver imagem, anexo, legenda ou interpretação de mídia, use essas informações como parte da mensagem.\nNão encaminhe para humano só porque existe foto, imagem ou anexo.\nSó encaminhe para humano se o conteúdo do anexo ou da legenda cair em uma regra de repasse.\n\n==================================================\nFINALIZAÇÃO\n==================================================\n\nSe você perguntar \"Posso ajudar com mais alguma informação?\" e o lead responder \"não obrigado\", \"por enquanto não\", \"só isso\" ou similar, não continue fazendo perguntas.\n\nResponda:\n\"Tudo certo. Se precisar de mais alguma informação, é só me chamar por aqui.\"\n\nNesse caso:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"apenas_informacao\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-apenas-informação\"]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3168,-1216],"id":"41fb1fc6-b3c7-4e6d-9e39-b2f8150ab9e1","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const NORMALIZA_SAIDA_CHATWOOT_VERSION = \"v2_parse_agent_output_status_labels\";\n\nconst agentItem = $input.first()?.json || {};\n\nfunction readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nconst preBruna = readNode(\"NORMALIZA PRE BRUNA\");\nconst entrada = Object.keys(preBruna).length ? preBruna : readNode(\"Normaliza Entrada Chatwoot\");\n\nconst ALLOWED_MOTIVOS = new Set([\n  \"\",\n  \"pediu_humano\",\n  \"caso_pronto_para_avaliacao\",\n  \"comprovante_ou_pagamento\",\n  \"duvida_raca\",\n  \"macho_nao_castrado_pretende_castrar\",\n  \"reatividade_ou_agressividade\",\n  \"duvida_operacional\",\n  \"lead_irritado\",\n]);\n\nconst ALLOWED_STATUS = new Set([\n  \"em_atendimento\",\n  \"aguardando_resposta\",\n  \"lead_qualificado\",\n  \"repassar_humano\",\n  \"lead_desqualificado\",\n  \"apenas_informacao\",\n]);\n\nconst ALLOWED_ACTIONS = new Set([\n  \"continuar_conversa\",\n  \"perguntar_dados_faltantes\",\n  \"enviar_para_humano\",\n  \"encerrar_sem_avancar\",\n  \"informar_preco\",\n  \"aguardar_resposta\",\n]);\n\nconst ALLOWED_LABELS = new Set([\n  \"01-bruna-atendimento\",\n  \"01-em-atendimento\",\n  \"10-lead-qualificado\",\n  \"15-interesse-creche\",\n  \"15-interesse-hotel\",\n  \"35-avaliacao-comprovante-recebido\",\n  \"99-apenas-informação\",\n  \"99-lead-desqualificado\",\n  \"99-macho-nao-castrado\",\n  \"99-raca-nao-aceita\",\n  \"99-objecao-preco\",\n]);\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value)\n    .replace(/\\[object Object\\]/gi, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n    .replace(/\\uFFFD/g, \" \")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .trim();\n}\n\nfunction cleanOneLine(value) {\n  return clean(value).replace(/\\s+/g, \" \").trim();\n}\n\nfunction stripCodeFence(text) {\n  const value = clean(text);\n  return value\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/\\s*```$/i, \"\")\n    .trim();\n}\n\nfunction extractRawOutput(value) {\n  if (value && typeof value === \"object\" && !Array.isArray(value)) {\n    if (value.output !== undefined) return value.output;\n    if (value.text !== undefined) return value.text;\n    if (value.content !== undefined) return value.content;\n    if (value.response !== undefined) return value.response;\n    if (value.result !== undefined) return value.result;\n  }\n\n  return value;\n}\n\nfunction tryParseJson(value) {\n  if (value && typeof value === \"object\" && !Array.isArray(value)) return value;\n\n  const text = stripCodeFence(value);\n  if (!text) return null;\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    const first = text.indexOf(\"{\");\n    const last = text.lastIndexOf(\"}\");\n\n    if (first >= 0 && last > first) {\n      const possibleJson = text.slice(first, last + 1);\n      try {\n        return JSON.parse(possibleJson);\n      } catch (innerError) {\n        return null;\n      }\n    }\n  }\n\n  return null;\n}\n\nfunction toBoolean(value) {\n  if (value === true) return true;\n  if (value === false) return false;\n  const text = cleanOneLine(value).toLowerCase();\n  return [\"true\", \"sim\", \"yes\", \"1\"].includes(text);\n}\n\nfunction normalizeEnum(value, allowed, fallback) {\n  const normalized = cleanOneLine(value);\n  return allowed.has(normalized) ? normalized : fallback;\n}\n\nfunction normalizeLabels(value) {\n  const rawLabels = Array.isArray(value)\n    ? value\n    : clean(value)\n      ? clean(value).split(\",\")\n      : [];\n\n  const labels = [];\n\n  for (const item of rawLabels) {\n    const label = cleanOneLine(item);\n    if (ALLOWED_LABELS.has(label) && !labels.includes(label)) {\n      labels.push(label);\n    }\n  }\n\n  return labels;\n}\n\nfunction addLabel(labels, label) {\n  if (ALLOWED_LABELS.has(label) && !labels.includes(label)) labels.push(label);\n}\n\nfunction inferHandoffFromText(text) {\n  return /encaminh(ar|o)|pessoa da equipe|atendimento humano|vou passar|vou repassar/i.test(clean(text));\n}\n\nconst rawOutput = extractRawOutput(agentItem);\nlet parsed = tryParseJson(rawOutput);\n\nif (parsed?.output !== undefined) {\n  parsed = tryParseJson(parsed.output) || parsed;\n}\n\nconst parsedIsObject = parsed && typeof parsed === \"object\" && !Array.isArray(parsed);\n\nlet resposta = \"\";\nlet handoffHumano = false;\nlet motivoHandoff = \"\";\nlet statusAtendimento = \"em_atendimento\";\nlet proximaAcao = \"continuar_conversa\";\nlet labelsSugeridas = [];\n\nif (parsedIsObject) {\n  resposta = clean(parsed.resposta || parsed.reply || parsed.text || parsed.content || parsed.message || \"\");\n  handoffHumano = toBoolean(parsed.handoff_humano);\n  motivoHandoff = cleanOneLine(parsed.motivo_handoff);\n  statusAtendimento = normalizeEnum(parsed.status_atendimento, ALLOWED_STATUS, \"em_atendimento\");\n  proximaAcao = normalizeEnum(parsed.proxima_acao, ALLOWED_ACTIONS, \"continuar_conversa\");\n  labelsSugeridas = normalizeLabels(parsed.labels_sugeridas);\n} else {\n  resposta = clean(rawOutput);\n  handoffHumano = inferHandoffFromText(resposta);\n  motivoHandoff = handoffHumano ? \"duvida_operacional\" : \"\";\n  statusAtendimento = handoffHumano ? \"repassar_humano\" : \"em_atendimento\";\n  proximaAcao = handoffHumano ? \"enviar_para_humano\" : \"continuar_conversa\";\n}\n\nif (!resposta) {\n  throw new Error(\"Resposta da Bruna veio vazia ou em formato inválido.\");\n}\n\nif (!ALLOWED_MOTIVOS.has(motivoHandoff)) {\n  motivoHandoff = handoffHumano ? \"duvida_operacional\" : \"\";\n}\n\nif (!handoffHumano) {\n  motivoHandoff = \"\";\n}\n\nif (handoffHumano && !motivoHandoff) {\n  motivoHandoff = \"duvida_operacional\";\n}\n\nif (handoffHumano) {\n  proximaAcao = \"enviar_para_humano\";\n  if (statusAtendimento === \"em_atendimento\" || statusAtendimento === \"aguardando_resposta\") {\n    statusAtendimento = \"repassar_humano\";\n  }\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (statusAtendimento === \"lead_qualificado\") {\n  handoffHumano = true;\n  motivoHandoff = \"caso_pronto_para_avaliacao\";\n  proximaAcao = \"enviar_para_humano\";\n  addLabel(labelsSugeridas, \"10-lead-qualificado\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (motivoHandoff === \"comprovante_ou_pagamento\") {\n  addLabel(labelsSugeridas, \"35-avaliacao-comprovante-recebido\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (motivoHandoff === \"macho_nao_castrado_pretende_castrar\") {\n  addLabel(labelsSugeridas, \"99-macho-nao-castrado\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (statusAtendimento === \"lead_desqualificado\") {\n  proximaAcao = \"encerrar_sem_avancar\";\n  addLabel(labelsSugeridas, \"99-lead-desqualificado\");\n}\n\nif (statusAtendimento === \"apenas_informacao\") {\n  addLabel(labelsSugeridas, \"99-apenas-informação\");\n}\n\nif (\n  statusAtendimento === \"aguardando_resposta\" ||\n  proximaAcao === \"perguntar_dados_faltantes\" ||\n  proximaAcao === \"aguardar_resposta\"\n) {\n  if (!handoffHumano) {\n    addLabel(labelsSugeridas, \"01-bruna-atendimento\");\n    statusAtendimento = \"aguardando_resposta\";\n  }\n}\n\nconst routeAction = handoffHumano ? \"agent_handoff\" : \"agent_reply\";\n\nreturn [{\n  json: {\n    action: \"sendReply\",\n    sessionId: entrada.sessionId || \"\",\n    lead: entrada.lead || {},\n    message_in: entrada.message || {},\n    conversation: entrada.conversation || {},\n    chatwoot: entrada.chatwoot || {},\n    reply: {\n      role: \"bruna\",\n      content: resposta,\n      created_at: new Date().toISOString(),\n    },\n    bruna_result: {\n      resposta,\n      handoff_humano: handoffHumano,\n      motivo_handoff: motivoHandoff,\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n    },\n    handoff: {\n      should_handoff: handoffHumano,\n      motivo: motivoHandoff,\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n      responsavel: handoffHumano ? \"Flavia\" : \"\",\n    },\n    routing: {\n      should_send: true,\n      should_handoff: handoffHumano,\n      route_action: routeAction,\n      channel: entrada.routing?.channel || \"chatwoot_whatsapp\",\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n    },\n    debug: {\n      normaliza_saida_chatwoot_version: NORMALIZA_SAIDA_CHATWOOT_VERSION,\n      agent_raw_output: agentItem,\n      raw_output: rawOutput,\n      parsed_output: parsed || null,\n      parsed_ok: parsedIsObject,\n    },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,-1216],"id":"7cee237b-3ef1-4cea-a4ac-b6aa826cdd1e","name":"Normaliza Saída Chatwoot"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ $('Normaliza Saída Chatwoot').item.json.reply.content.toJsonString() }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4416,-1408],"id":"02fb61f3-35d2-47ba-969c-b5f80e62bc6b","name":"Enviar Resposta Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"434753d5-280b-4365-8c4f-01536f037b04","leftValue":"={{ $('Normaliza Saída Chatwoot').item.json.handoff?.should_handoff === true }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4416,-1216],"id":"4eb8ff0e-cc5e-4769-9be6-031efb7955ff","name":"Handoff?"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($('Normaliza Saída Chatwoot').item.json.conversation.labels || []),\n        \"01-humano-assumiu\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4640,-1312],"id":"1531a881-5d22-4d65-892e-6a06fb317080","name":"Adicionar Labels Handoff","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Handoff solicitado pela Bruna.\\nMotivo: {{ $json.handoff.motivo || 'sem_motivo' }}\\nResponsável sugerido: {{ $('Normaliza Saída Chatwoot').item.json.handoff.responsavel || 'equipe' }}\\n\\nÚltima mensagem do lead: {{ $('Normaliza Saída Chatwoot').item.json.message_in.content || '' }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4640,-1120],"id":"31ea8bf9-6565-4b54-8e6a-3ef0b7eda38c","name":"Nota Interna Handoff","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_memoria_leads (\n  phone,\n  chat_history_uuid,\n  nome_tutor,\n  quantidade_caes,\n  caes_json,\n  unidade_preferida,\n  servico_interesse,\n  origem_lead,\n  origem_detalhada,\n  status_lead,\n  apto_para_avaliacao,\n  status_pagamento,\n  comprovante_recebido,\n  tipo_comprovante,\n  pre_reserva_criada,\n  responsavel_humano,\n  deve_repassar_humano,\n  guia_enviado,\n  encerrado,\n  mensagem_ultima_lead,\n  mensagem_ultima_bruna,\n  data_ultima_mensagem_lead,\n  data_ultima_mensagem_bruna,\n  data_ultima_interacao,\n  payload_ultima_resposta_json,\n  memoria_schema_version\n)\nVALUES (\n  '{{ String($json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.lead?.name || \"\").replace(/'/g, \"''\") }}',\n  0,\n  JSON_ARRAY(),\n  'nao_definida',\n  'nao_definido',\n  '{{ String($json.lead?.origem || \"chatwoot\").replace(/'/g, \"''\") }}',\n  'chatwoot_webhook',\n  '{{ $json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  'pendente',\n  'nao_solicitado',\n  {{ $json.handoff?.motivo === \"comprovante_ou_pagamento\" ? 1 : 0 }},\n  '{{ $json.handoff?.motivo === \"comprovante_ou_pagamento\" ? \"anexo_ou_pagamento\" : \"nao_informado\" }}',\n  0,\n  '{{ String($json.handoff?.responsavel || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.handoff?.should_handoff ? 1 : 0 }},\n  0,\n  0,\n  '{{ String($json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW(),\n  NOW(),\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'sessionId', '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'route_action', '{{ String($json.routing?.route_action || \"\").replace(/'/g, \"''\") }}',\n    'handoff', {{ $json.handoff?.should_handoff ? 1 : 0 }},\n    'motivo_handoff', '{{ String($json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n    'account_id_chatwoot', {{ Number($json.chatwoot?.account_id || 0) }},\n    'contact_id_chatwoot', {{ Number($json.chatwoot?.contact_id || 0) }},\n    'conversation_id_chatwoot', {{ Number($json.chatwoot?.conversation_id || 0) }},\n    'message_id_chatwoot', {{ Number($json.chatwoot?.message_id || 0) }}\n  ),\n  'chatwoot_v1'\n)\nON DUPLICATE KEY UPDATE\n  chat_history_uuid = VALUES(chat_history_uuid),\n  nome_tutor = VALUES(nome_tutor),\n  origem_lead = VALUES(origem_lead),\n  origem_detalhada = VALUES(origem_detalhada),\n  status_lead = VALUES(status_lead),\n  comprovante_recebido = VALUES(comprovante_recebido),\n  tipo_comprovante = VALUES(tipo_comprovante),\n  responsavel_humano = VALUES(responsavel_humano),\n  deve_repassar_humano = VALUES(deve_repassar_humano),\n  mensagem_ultima_lead = VALUES(mensagem_ultima_lead),\n  mensagem_ultima_bruna = VALUES(mensagem_ultima_bruna),\n  data_ultima_mensagem_lead = NOW(),\n  data_ultima_mensagem_bruna = NOW(),\n  data_ultima_interacao = NOW(),\n  payload_ultima_resposta_json = VALUES(payload_ultima_resposta_json),\n  memoria_schema_version = VALUES(memoria_schema_version),\n  atualizado_em = NOW();","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4416,-928],"id":"96d3ee0c-d512-4f17-9e74-c84a5e748b3d","name":"Upsert Memória Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0.2,"maxTokens":1200,"responseFormat":"text","presencePenalty":0,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3248,-992],"id":"a61dbe0d-4982-426b-8960-4b460f9216e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1152,-1120],"id":"56723b21-f45a-4082-a54d-14aaf31f1e7d","name":"Devo responder?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,-1024],"id":"e09bb53d-7e92-44fd-a93c-1c2ad5cf2793","name":"Sem resposta1"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[AUAU] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[928,-1120],"name":"Verifica Última Mensagem1","id":"380ca3f8-1155-4f5c-84df-b8beb6afbbfa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-928],"id":"d49b269f-f92f-44f4-b9b9-f0bfca8c97cb","name":"Sem resposta2"},{"parameters":{"workflowId":{"__rl":true,"value":"nRxOa3e7CNL8upBX","mode":"list","cachedResultUrl":"/workflow/nRxOa3e7CNL8upBX","cachedResultName":"[CTX] [CHATWOOT] Busca Histórico Chatwoot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('Normaliza Entrada Chatwoot').item.json.chatwoot.account_id }}","conversation_id":"={{ $('Normaliza Entrada Chatwoot').item.json.chatwoot.conversation_id }}","qtd_messages":120,"agent":"Bruna"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"qtd_messages","displayName":"qtd_messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"agent","displayName":"agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1600,-1216],"name":"Busca Histórico Chatwoot","id":"55e6865c-387a-44e9-8f31-e87a216e6b46"},{"parameters":{"workflowId":{"__rl":true,"value":"mRTbkR5jL09wL2Jw","mode":"list","cachedResultUrl":"/workflow/mRTbkR5jL09wL2Jw","cachedResultName":"[SDR] [JULIA] Interpreta Tipo de Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"content_type":"={{ $('Normaliza Entrada Chatwoot').item.json.message.message_modality }}","message":"={{ $('Normaliza Entrada Chatwoot').item.json.message.content }}","data_url":"={{ $('Normaliza Entrada Chatwoot').item.json.message.data_url }}"},"matchingColumns":["content_type","message","_firstItem","Webhook__firstItem","body_conversation_contact_inbox_contact_id_firstItem","body_conversation_contact_inbox_inbox_id_firstItem","body_conversation_messages_firstItem","event_firstItem","message_type_firstItem"],"schema":[{"id":"content_type","displayName":"content_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data_url","displayName":"data_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1376,-1216],"name":"Interpreta Audio ou Texto","id":"4fccab5c-cdca-49d0-af04-79340f2aa49d"},{"parameters":{"jsCode":"const PRE_BRUNA_VERSION = \"v2_contexto_base_conhecimento\";\n\nfunction readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nconst entrada = readNode(\"Normaliza Entrada Chatwoot\");\nconst interpretacao = readNode(\"Interpreta Audio ou Texto\");\nconst historico = readNode(\"Busca Histórico Chatwoot\");\n\nfunction clean(value, preserveNewLines = false) {\n  let text = \"\";\n\n  if (value === undefined || value === null) {\n    text = \"\";\n  } else if (typeof value === \"object\") {\n    try {\n      text = JSON.stringify(value);\n    } catch (error) {\n      text = \"\";\n    }\n  } else {\n    text = String(value);\n  }\n\n  text = text\n    .replace(/\\[object Object\\]/gi, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n    .replace(/\\uFFFD/g, \" \")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\");\n\n  if (preserveNewLines) {\n    return text\n      .split(\"\\n\")\n      .map(line => line.replace(/[ \\t]+/g, \" \").trim())\n      .filter(Boolean)\n      .join(\"\\n\")\n      .trim();\n  }\n\n  return text.replace(/\\s+/g, \" \").trim();\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value, true);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nfunction extractInterpretedMessage(data) {\n  const msg = data?.message;\n\n  if (typeof msg === \"string\") {\n    return { content: clean(msg, true) };\n  }\n\n  if (msg && typeof msg === \"object\") {\n    return {\n      ...msg,\n      content: firstFilled(\n        msg.content,\n        msg.text,\n        msg.transcription,\n        msg.transcribed_text,\n        msg.message\n      )\n    };\n  }\n\n  return {\n    content: firstFilled(\n      data?.content,\n      data?.text,\n      data?.transcription,\n      data?.transcribed_text,\n      data?.output,\n      data?.message\n    )\n  };\n}\n\nfunction extractRows(value) {\n  if (!value) return [];\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === \"object\") {\n    for (const key of [\"matches\", \"data\", \"rows\", \"documents\", \"payload\", \"result\", \"results\"]) {\n      if (Array.isArray(value[key])) return value[key];\n    }\n  }\n\n  return [value];\n}\n\nfunction formatKnowledgeRow(row, index) {\n  if (row === undefined || row === null) return \"\";\n\n  if (typeof row === \"string\") {\n    const text = clean(row, true);\n    return text ? `[${index + 1}] ${text}` : \"\";\n  }\n\n  if (typeof row !== \"object\") {\n    const text = clean(row, true);\n    return text ? `[${index + 1}] ${text}` : \"\";\n  }\n\n  const title = firstFilled(row.titulo, row.title, row.pergunta, row.question, row.assunto, row.topic);\n  const content = firstFilled(row.conteudo, row.content, row.texto, row.text, row.resposta, row.answer, row.document);\n  const source = firstFilled(row.arquivo_origem, row.source, row.origem, row.metadata?.source);\n  const score = firstFilled(row.score, row.similarity, row.distance);\n\n  if (!content && !title) return \"\";\n\n  return [\n    `[${index + 1}]${title ? ` ${title}` : \"\"}`,\n    source ? `Fonte: ${source}` : \"\",\n    score ? `Score: ${score}` : \"\",\n    content\n  ].filter(Boolean).join(\"\\n\");\n}\n\nfunction readKnowledgeContext() {\n  const currentAgent = asObject($json.agent);\n\n  const currentContext = firstFilled(\n    currentAgent.knowledge_base_text,\n    currentAgent.knowledge_context,\n    $json.knowledge_base_text,\n    $json.knowledge_context\n  );\n\n  if (currentContext) {\n    return {\n      source_node: \"input_atual\",\n      context: currentContext,\n      rows_count: Number(currentAgent.knowledge_base_count || $json.knowledge_base_count || 1)\n    };\n  }\n\n  const candidates = [\n    \"Formata Base Conhecimento\",\n    \"Busca Base Conhecimento\",\n    \"Busca Base de Conhecimento\",\n    \"Busca FAQ Bruna\",\n    \"Consulta Base Bruna\",\n    \"Supabase Busca Base\",\n    \"Supabase FAQ\"\n  ];\n\n  for (const nodeName of candidates) {\n    const data = readNode(nodeName);\n    if (!Object.keys(data).length) continue;\n\n    const direct = firstFilled(\n      data.agent?.knowledge_base_text,\n      data.knowledge_base_text,\n      data.knowledge_context,\n      data.context,\n      data.contexto,\n      data.conteudo,\n      data.content,\n      data.text\n    );\n\n    if (direct) {\n      return {\n        source_node: nodeName,\n        context: direct,\n        rows_count: Number(data.agent?.knowledge_base_count || data.knowledge_base_count || 1)\n      };\n    }\n\n    const rows = extractRows(data);\n    const formatted = rows\n      .map(formatKnowledgeRow)\n      .filter(Boolean)\n      .slice(0, 8)\n      .join(\"\\n\\n\");\n\n    if (formatted) {\n      return {\n        source_node: nodeName,\n        context: formatted,\n        rows_count: rows.length\n      };\n    }\n  }\n\n  return {\n    source_node: \"\",\n    context: \"\",\n    rows_count: 0\n  };\n}\n\nfunction classifyBusinessKnowledgeNeed(text) {\n  const value = clean(text).toLowerCase();\n\n  const checks = [\n    [\"localizacao_endereco\", /\\b(onde fica|onde vocês ficam|localiza|localização|endereço|bairro|cidade|unidade|patamares|amaralina|pituba)\\b/i],\n    [\"preco_valor\", /\\b(preço|valor|diária|diaria|mensal|plano|pacote|quanto custa|custa quanto|taxa|avaliação|avaliacao)\\b/i],\n    [\"horario_funcionamento\", /\\b(horário|horario|funciona|funcionamento|abre|fecha|check[- ]?in|check[- ]?out)\\b/i],\n    [\"servicos_regras\", /\\b(creche|hotel|hospedagem|adaptação|adaptacao|adestramento|transporte|buscar|levar|pegar|trazer|vacina|antipulgas|vermifug)\\b/i],\n    [\"racas_restricoes\", /\\b(raça|raca|porte|pitbull|rottweiler|akita|american bully|macho não castrado|castrado|cio|idoso)\\b/i],\n    [\"pagamento\", /\\b(pix|pagamento|paguei|comprovante|boleto|depósito|deposito|transferência|transferencia)\\b/i]\n  ];\n\n  const matched = checks\n    .filter(([, regex]) => regex.test(value))\n    .map(([name]) => name);\n\n  return {\n    needs_business_knowledge: matched.length > 0,\n    intents: matched\n  };\n}\n\nconst baseMessage = asObject(entrada.message);\nconst interpretedMessage = extractInterpretedMessage(interpretacao);\n\nconst interpretedContent = clean(interpretedMessage.content, true);\nconst baseContent = clean(baseMessage.content, true);\nconst baseContentForAi = clean(baseMessage.content_for_ai, true);\n\nconst finalContent = firstFilled(\n  interpretedContent,\n  baseContent,\n  baseContentForAi,\n  entrada.chatInput\n);\n\nconst message = {\n  ...baseMessage,\n  ...interpretedMessage,\n  content: finalContent,\n  content_raw: baseContent,\n  content_before_interpretation: baseContent,\n  content_for_ai: finalContent,\n  has_text: Boolean(finalContent),\n  has_attachment: baseMessage.has_attachment === true,\n  content_type: baseMessage.content_type || baseMessage.message_modality || interpretedMessage.content_type || \"text_only\",\n  message_modality: baseMessage.message_modality || baseMessage.content_type || interpretedMessage.message_modality || \"text_only\",\n  data_url: baseMessage.data_url || interpretedMessage.data_url || null,\n  media_type: baseMessage.media_type || interpretedMessage.media_type || \"\",\n  interpretation: {\n    used: Boolean(interpretedContent),\n    source_node: \"Interpreta Audio ou Texto\",\n    raw_output: interpretacao\n  }\n};\n\nconst historyText = clean(historico.history_text, true);\nconst historyForBruna = clean(historico.history_for_agent, true);\nconst knowledge = readKnowledgeContext();\nconst businessNeed = classifyBusinessKnowledgeNeed(finalContent);\n\nconst knowledgeQuery = [\n  finalContent,\n  businessNeed.intents.length ? `Intenções: ${businessNeed.intents.join(\", \")}` : \"\",\n  historyForBruna ? `Contexto recente: ${historyForBruna.split(\"\\n\").slice(-6).join(\" | \")}` : \"\"\n].filter(Boolean).join(\"\\n\");\n\nconst agent = {\n  ...asObject(entrada.agent),\n  ...asObject($json.agent),\n  history_text: historyText,\n  history_for_agent: historyForBruna,\n  history_source: \"chatwoot_subworkflow\",\n  current_message_after_interpretation: finalContent,\n  needs_business_knowledge: businessNeed.needs_business_knowledge,\n  business_knowledge_intents: businessNeed.intents,\n  knowledge_query: knowledgeQuery,\n  knowledge_context: knowledge.context,\n  knowledge_source_node: knowledge.source_node,\n  knowledge_rows_count: knowledge.rows_count\n};\n\nconst aiInput = [\n  \"HISTÓRICO RECENTE DA CONVERSA:\",\n  historyForBruna || \"Sem histórico recente disponível.\",\n  \"\",\n  \"MENSAGEM ATUAL DO LEAD:\",\n  finalContent || \"[Mensagem sem texto útil]\",\n  \"\",\n  \"INTERPRETAÇÃO DA MENSAGEM ATUAL:\",\n  `Modalidade: ${message.message_modality || \"unknown\"}`,\n  `Tem anexo: ${message.has_attachment ? \"sim\" : \"não\"}`,\n  message.data_url ? `URL do anexo: ${message.data_url}` : \"\",\n  \"\",\n  \"NECESSIDADE DE BASE DE CONHECIMENTO:\",\n  businessNeed.needs_business_knowledge ? \"sim\" : \"não\",\n  businessNeed.intents.length ? `Assuntos detectados: ${businessNeed.intents.join(\", \")}` : \"Assuntos detectados: nenhum\",\n  \"\",\n  \"BASE DE CONHECIMENTO RECUPERADA:\",\n  knowledge.context || \"Nenhum trecho de base de conhecimento foi recuperado para esta mensagem.\",\n  \"\",\n  \"DADOS TÉCNICOS DO CONTATO:\",\n  `Telefone: ${entrada.lead?.phone || \"não informado\"}`,\n  \"\",\n  \"OBSERVAÇÃO IMPORTANTE:\",\n  \"Não use o nome de perfil do WhatsApp/Chatwoot como nome confirmado da pessoa.\",\n  \"O nome da pessoa só deve ser considerado confirmado se aparecer claramente no histórico ou na mensagem atual.\",\n  \"\",\n  \"REGRAS PARA ESTA RESPOSTA:\",\n  \"Use o histórico da conversa como fonte principal para o que já foi dito.\",\n  \"Use a BASE DE CONHECIMENTO RECUPERADA como fonte principal para fatos de negócio, como endereço, unidade, preço, horário, transporte, regras, serviços, avaliação, hotel e creche.\",\n  \"Se o lead fizer uma pergunta objetiva de negócio, responda essa pergunta antes de continuar a qualificação.\",\n  \"Se a pergunta exigir fato de negócio e não houver base recuperada relevante, não chute; encaminhe para humano com motivo_handoff='duvida_operacional'.\",\n  \"Não pergunte sobre rotina diária do cão.\",\n  \"Se precisar falar de comportamento, pergunte apenas como o cão costuma ficar com outros cães.\",\n  \"Classifique sempre status_atendimento, proxima_acao e labels_sugeridas.\",\n  \"Responda somente no JSON obrigatório do system prompt.\"\n].filter(Boolean).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      action: entrada.action || \"sendMessage\",\n      sessionId: entrada.sessionId || \"\",\n      chatInput: finalContent,\n      lead: entrada.lead || {},\n      message,\n      conversation: entrada.conversation || {},\n      chatwoot: entrada.chatwoot || {},\n      routing: entrada.routing || {},\n      agent,\n      ai_input: aiInput,\n      debug: {\n        pre_bruna_version: PRE_BRUNA_VERSION,\n        base_message: baseMessage,\n        interpreted_message: interpretedMessage,\n        history_messages_returned: historico.messages_returned || 0,\n        history_found_total: historico.messages_found_total || 0,\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n        knowledge_source_node: knowledge.source_node,\n        knowledge_rows_count: knowledge.rows_count,\n        has_knowledge_context: Boolean(knowledge.context)\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,-1216],"id":"7328323c-6375-4d93-8597-68f8dcaca190","name":"NORMALIZA PRE BRUNA"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id AS lead_id,\n  phone,\n  chat_history_uuid\nFROM bruna_memoria_leads\nWHERE phone = '{{ String($('Normaliza Entrada Chatwoot').first().json.lead.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4640,-928],"id":"f81d49d9-c598-4a1a-ae3e-00eceb57971b","name":"Buscar Lead ID Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_historico_leads (\n  lead_id,\n  phone,\n  account_id_chatwoot,\n  contact_id_chatwoot,\n  conversation_id_chatwoot,\n  id_mensagem_origem,\n  tipo_registro,\n  origem_registro,\n  status_lead_anterior,\n  status_lead_novo,\n  ultima_intencao_anterior,\n  ultima_intencao_nova,\n  evento_sistema,\n  mensagem_texto,\n  anexo_referencia,\n  payload_bruto_json,\n  run_mode,\n  prompt_version,\n  guard_aprovado,\n  guard_erros_json,\n  qa_tags_json,\n  motivo_bloqueio_envio\n)\nVALUES\n(\n  {{ Number($json.lead_id || 0) }},\n  '{{ String($json.phone || $('Normaliza Saída Chatwoot').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) || 'NULL' }},\n  '{{ String($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || $('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}_lead',\n  'mensagem_lead',\n  'chatwoot',\n  NULL,\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  NULL,\n  NULL,\n  'message_created',\n  '{{ String($('Normaliza Saída Chatwoot').first().json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'direction', 'in',\n    'sessionId', '{{ String($('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'account_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) }},\n    'contact_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) }},\n    'conversation_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) }},\n    'message_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || 0) }},\n    'created_at', '{{ String($('Normaliza Saída Chatwoot').first().json.message_in?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'production',\n  'bruna_chatwoot_v1',\n  1,\n  NULL,\n  JSON_ARRAY('chatwoot', 'mensagem_lead'),\n  NULL\n),\n(\n  {{ Number($json.lead_id || 0) }},\n  '{{ String($json.phone || $('Normaliza Saída Chatwoot').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) || 'NULL' }},\n  '{{ String($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || $('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}_bruna_{{ Date.now() }}',\n  'mensagem_bruna',\n  'n8n',\n  NULL,\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  NULL,\n  '{{ String($('Normaliza Saída Chatwoot').first().json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"handoff_humano\" : \"resposta_automatica\" }}',\n  '{{ String($('Normaliza Saída Chatwoot').first().json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'direction', 'out',\n    'sessionId', '{{ String($('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'route_action', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.route_action || \"\").replace(/'/g, \"''\") }}',\n    'handoff', {{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? 1 : 0 }},\n    'motivo_handoff', '{{ String($('Normaliza Saída Chatwoot').first().json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($('Normaliza Saída Chatwoot').first().json.reply?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'production',\n  'bruna_chatwoot_v1',\n  1,\n  NULL,\n  JSON_ARRAY('chatwoot', 'mensagem_bruna'),\n  NULL\n);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4864,-928],"id":"7c8653e2-3349-411a-8955-7935686d61a5","name":"Inserir Histórico Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3968,-1216],"id":"b26d045d-effb-4124-9e95-6bcbc0d594ef","name":"Devo responder?"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3744,-1216],"name":"Verifica Última Mensagem","id":"e21c1e2c-6390-4e6c-8a95-f8c4e531de00"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-1120],"id":"df650882-e401-4b36-b5fd-4da4f6844748","name":"60s","webhookId":"dc560f98-fd86-409b-9409-f030085fcf39"},{"parameters":{"assignments":{"assignments":[{"id":"3fdc5127-1a50-4481-9a62-dc6318ab53ac","name":"action","value":"={{ $('Normaliza Saída Chatwoot').item.json.action }}","type":"string"},{"id":"2cccd6bb-5e28-429a-aebd-767d796787da","name":"sessionId","value":"={{ $('Normaliza Saída Chatwoot').item.json.sessionId }}","type":"string"},{"id":"61f75f32-558f-4ca7-af72-3a9cbfb0329f","name":"lead","value":"={{ $('Normaliza Saída Chatwoot').item.json.lead }}","type":"object"},{"id":"0c4bb87f-658f-4489-b326-20554f5d7b09","name":"message_in","value":"={{ $('Normaliza Saída Chatwoot').item.json.message_in }}","type":"object"},{"id":"983033e9-a681-446e-86a1-717fb4873370","name":"conversation","value":"={{ $('Normaliza Saída Chatwoot').item.json.conversation }}","type":"object"},{"id":"3258f2c4-a477-4d12-b92a-5f6542c5e981","name":"chatwoot","value":"={{ $('Normaliza Saída Chatwoot').item.json.chatwoot }}","type":"object"},{"id":"ff7a81a5-ca02-4986-9198-0dc775881366","name":"reply","value":"={{ $('Normaliza Saída Chatwoot').item.json.reply }}","type":"object"},{"id":"2c1804f1-bd78-42f6-b2f1-d5c5373d90ba","name":"bruna_result","value":"={{ $('Normaliza Saída Chatwoot').item.json.bruna_result }}","type":"object"},{"id":"dd2096b5-9349-4fbf-a512-ace5e11d24c1","name":"handoff","value":"={{ $('Normaliza Saída Chatwoot').item.json.handoff }}","type":"object"},{"id":"5fbfb2c3-3a26-4355-aac8-c982ab000590","name":"routing","value":"={{ $('Normaliza Saída Chatwoot').item.json.routing }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4192,-1216],"id":"b8136033-6b9c-45ef-8f1e-141aa6d5eb42","name":"RESPONDER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"417394aa-1770-4b04-8afb-c5c999ae0481","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}},{"id":"f00ae7e7-8f2e-4171-8f20-d4a6e3b9b807","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"ea83fec4-b29c-42b7-b456-0b6c3734cbbe","leftValue":"={{ $json.body.sender.name }}","rightValue":"(GROUP)","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-416,-1024],"id":"76bcee26-4cc6-4eab-af7f-bff8a19beab4","name":"message_created"},{"parameters":{"url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[32,-1024],"id":"47ac569c-4300-4afc-9b6a-d541b4ade3d2","name":"Lista Etiquetas","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"239dbed1-6807-4cfa-98e6-58fd9a2ee477","leftValue":"={{ $json.message.toLowerCase() }}","rightValue":"={{ $json.frases_chatbot.toLowerCase().split('|').map(f => f.trim()).join('|') }}","operator":{"type":"string","operation":"regex"}},{"id":"eb3f9eb7-7d96-4998-9ae4-a401d44ff849","leftValue":"={{ $json.labels_atual.toJsonString() }}","rightValue":" 50","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-1312],"id":"f99430c1-539e-470b-9843-62c1d12c1f5c","name":"Mensagem de início"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[928,-1312],"id":"b4f29886-a833-4299-bd92-b70ad57aba11","name":"1s","webhookId":"a33d7d19-e5ed-4318-8fed-4ee2362d7d6e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"46eb0ea6-838d-47f5-b554-86d6935b7a9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"ADICIONA BRUNA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d8c9b564-b1cd-43e0-a600-1393dff50f62","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSA BRUNA"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,-1040],"id":"d135de51-0ece-4086-a5e6-b69348ff817e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a47ad960-d13d-4978-b576-82a3359838ba","name":"frases_chatbot","value":"={{     \"vim do formulário no site\"\n  +\"|\"+\"vim do formulario\" \n  +\"|\"+\"vim do formulário\"\n  +\"|\"+\"Preenchi seu formulário\"\n\n  +\"|\"+\"vim do anúncio\"\n  +\"|\"+\"vim do anunci\" \n  +\"|\"+\"vim do anun\" \n  +\"|\"+\"vim pelo anuncio\" \n  +\"|\"+\"cliquei no anuncio\" \n  +\"|\"+\"anuncio\" \n  +\"|\"+\"anúncio\" \n\n  +\"|\"+\"vim do link da bio\"\n  +\"|\"+\"vim do instagram\"\n  +\"|\"+\"vim da bio\"\n\n  +\"|\"+\"vim do google\"\n\n  +\"|\"+\"vim do site\" \n\n  +\"|\"+\"interesse e queria mais informações, por favor\" \n  +\"|\"+\"poderia me passar mais informações sobre a creche canina\" \n\n  + \"\" }}","type":"string"},{"id":"f98c0d6a-fdde-495c-8baa-05a8f263cd3c","name":"message","value":"={{ $json.body.content }}","type":"string"},{"id":"00434f05-fd5c-4d19-ba8f-81be66f360c1","name":"account_id","value":"={{ $('Webhook').item.json.body.account.id }}","type":"number"},{"id":"f451c7a0-97a3-4a08-994d-4d5f40f5a737","name":"contact_id","value":"={{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}","type":"number"},{"id":"d2fbcb7a-7d02-4551-aad4-c16308ef3f6f","name":"conversation_id","value":"={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}","type":"number"},{"id":"aacb73e8-eb1a-423b-ac42-78c666c2f89b","name":"labels_new","value":"={{ (() => {\n  const labelsAtuais = Array.isArray($json.chatwoot?.labels) ? $json.chatwoot.labels : [];\n  const ultimaIntencao = String($json.inputs?.ultima_intencao || '');\n\n  // RETIRAR LABELS\n  const labels = labelsAtuais.filter(label =>\n    ![\n      ''\n    ].includes(label)\n  );\n\n  // ADICIONAR LABELS\n  labels.push('01-bruna-atendimento');\n\n  return [...new Set(labels)];\n})() }}","type":"array"},{"id":"f9e3b541-2da1-4365-84b2-25975103869d","name":"labels_atual","value":"={{ $json.body.conversation.labels }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-1312],"id":"4ccf018f-8a41-42ef-97f0-491cad29c3e4","name":"Verifica mensagem"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Verifica mensagem').item.json.account_id }}/conversations/{{ $('Verifica mensagem').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify((() => {\n  function normalizeLabels(value) {\n    return (Array.isArray(value) ? value : [value])\n      .flat(Infinity)\n      .map(label => {\n        if (typeof label === 'string') return label;\n\n        if (label && typeof label === 'object') {\n          return label.title || label.name || label.value || label.label || '';\n        }\n\n        return '';\n      })\n      .map(label => String(label).trim())\n      .filter(Boolean);\n  }\n\n  const labelsAtuais = normalizeLabels(\n    $('Webhook').first().json.body?.conversation?.labels || []\n  );\n\n  const labelsNovas = normalizeLabels(\n    $json.labels_new || []\n  );\n\n  const labels = [...new Set([\n    ...labelsAtuais,\n    ...labelsNovas,\n  ])];\n\n  return {\n    labels,\n  };\n})())\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,-1312],"id":"e6d52e7c-8034-42fd-91c1-9e811fdb6350","name":"add_labels início","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Verifica mensagem').item.json.account_id }}/conversations/{{ $('Verifica mensagem').item.json.conversation_id }}/assignments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"team_id\": 12\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,-1312],"id":"5da0e62e-790e-4234-9cd3-74eadbda06a2","name":"Assign Time Bruna","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-1024],"id":"7dce49bf-18ae-44d5-ab18-fc9b55a7dab0","name":"Webhook"},{"parameters":{"errorMessage":"FALSE"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[32,-832],"id":"052ca005-3630-46a9-9c0e-31370b7157ea","name":"Stop and Error1"},{"parameters":{"jsCode":"function readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nfunction clean(value, preserveNewLines = false) {\n  let text = '';\n\n  if (value === undefined || value === null) {\n    text = '';\n  } else if (typeof value === 'object') {\n    try {\n      text = JSON.stringify(value);\n    } catch (error) {\n      text = '';\n    }\n  } else {\n    text = String(value);\n  }\n\n  text = text\n    .replace(/\\[object Object\\]/gi, '')\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n');\n\n  if (preserveNewLines) {\n    return text\n      .split('\\n')\n      .map(line => line.replace(/[ \\t]+/g, ' ').trim())\n      .filter(Boolean)\n      .join('\\n')\n      .trim();\n  }\n\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value, true);\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction extractInterpretedMessage(data) {\n  const msg = data?.message;\n\n  if (typeof msg === 'string') {\n    return {\n      content: clean(msg, true),\n    };\n  }\n\n  if (msg && typeof msg === 'object') {\n    return {\n      ...msg,\n      content: firstFilled(\n        msg.content,\n        msg.text,\n        msg.transcription,\n        msg.transcribed_text,\n        msg.interpreted_message,\n        msg.message\n      ),\n    };\n  }\n\n  return {\n    content: firstFilled(\n      data?.content,\n      data?.text,\n      data?.transcription,\n      data?.transcribed_text,\n      data?.interpreted_message,\n      data?.output,\n      data?.message\n    ),\n  };\n}\n\nfunction classifyBusinessKnowledgeNeed(text) {\n  const value = clean(text)\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n\n  const looksLikeQuestion =\n    /[?？]/.test(value) ||\n    /\\b(onde|qual|quais|quanto|quando|como|pode|posso|vocês|voces|tem|aceita|funciona|fica|abre|fecha|custa|valor|preço|preco)\\b/i.test(value);\n  \n  const looksLikePetDataOnly =\n    !looksLikeQuestion &&\n    /\\b(anos?|meses?|macho|fêmea|femea|castrado|castrada|não castrado|nao castrado|raça|raca|porte|pequeno|médio|medio|grande|dachshund|shihtzu|shih tzu|spitz|vira-lata|srd)\\b/i.test(value);\n  \n  if (looksLikePetDataOnly) {\n    return {\n      needs_business_knowledge: false,\n      intents: [],\n    };\n  }\n\n  const checks = [\n    ['localizacao_endereco', /\\b(onde fica|onde vocês ficam|localiza|localização|endereço|bairro|cidade|unidade|patamares|amaralina|pituba|salvador)\\b/i],\n    ['preco_valor', /\\b(preco|valor|diaria|mensal|plano|pacote|quanto custa|custa quanto|taxa|avaliacao)\\b/i],\n    ['horario_funcionamento', /\\b(horário|horario|funciona|funcionamento|abre|fecha|check[- ]?in|check[- ]?out)\\b/i],\n    ['servicos_regras', /\\b(creche|hotel|hospedagem|adaptação|adaptacao|adestramento|transporte|buscar|levar|pegar|trazer|vacina|antipulgas|vermifug)\\b/i],\n    ['racas_restricoes', /\\b(raça|raca|porte|pitbull|rottweiler|akita|american bully|macho não castrado|castrado|cio|idoso)\\b/i],\n    ['pagamento', /\\b(pix|pagamento|paguei|comprovante|boleto|depósito|deposito|transferência|transferencia)\\b/i],\n  ];\n\n  const intents = checks\n    .filter(([, regex]) => regex.test(value))\n    .map(([name]) => name);\n\n  return {\n    needs_business_knowledge: intents.length > 0,\n    intents,\n  };\n}\n\nconst entrada = readNode('Normaliza Entrada Chatwoot');\nconst interpretacao = readNode('Interpreta Audio ou Texto');\nconst historico = readNode('Busca Histórico Chatwoot');\n\nconst baseMessage = asObject(entrada.message || $json.message);\nconst interpretedMessage = extractInterpretedMessage(interpretacao);\n\nconst baseContent = clean(baseMessage.content, true);\nconst baseContentForAi = clean(baseMessage.content_for_ai, true);\nconst interpretedContent = clean(interpretedMessage.content, true);\n\nconst finalContent = firstFilled(\n  interpretedContent,\n  baseContent,\n  baseContentForAi,\n  entrada.chatInput,\n  $json.chatInput\n);\n\nconst message = {\n  ...baseMessage,\n  ...interpretedMessage,\n  content: finalContent,\n  content_raw: baseContent,\n  content_before_interpretation: baseContent,\n  content_for_ai: finalContent,\n  has_text: Boolean(finalContent),\n  has_attachment: baseMessage.has_attachment === true,\n  content_type: baseMessage.content_type || baseMessage.message_modality || interpretedMessage.content_type || interpretedMessage.message_modality || 'text_only',\n  message_modality: baseMessage.message_modality || baseMessage.content_type || interpretedMessage.message_modality || interpretedMessage.content_type || 'text_only',\n  data_url: baseMessage.data_url || interpretedMessage.data_url || null,\n  media_type: baseMessage.media_type || interpretedMessage.media_type || '',\n};\n\nconst historyText = clean(historico.history_text || $json.agent?.history_text, true);\nconst historyForBruna = clean(historico.history_for_agent || $json.agent?.history_for_agent, true);\n\nconst currentForIntent = [\n  finalContent,\n  baseContent && baseContent !== finalContent ? baseContent : '',\n  interpretedContent && interpretedContent !== finalContent ? interpretedContent : '',\n].filter(Boolean).join('\\n');\n\nconst businessNeed = classifyBusinessKnowledgeNeed(currentForIntent);\n\nconst queryParts = businessNeed.needs_business_knowledge\n  ? [\n      finalContent ? `Mensagem atual: ${finalContent}` : '',\n      baseContent && baseContent !== finalContent ? `Texto/legenda original: ${baseContent}` : '',\n      interpretedContent && interpretedContent !== finalContent ? `Interpretação da mídia: ${interpretedContent}` : '',\n      businessNeed.intents.length ? `Assuntos detectados: ${businessNeed.intents.join(', ')}` : '',\n      historyForBruna ? `Contexto recente curto: ${historyForBruna.split('\\n').slice(-5).join(' | ')}` : '',\n    ]\n  : [\n      finalContent ? `Mensagem atual: ${finalContent}` : '',\n    ];\n\nconst baseSearchQuery = queryParts\n  .filter(Boolean)\n  .map(value => clean(value, true))\n  .filter(Boolean)\n  .join('\\n\\n')\n  .slice(0, 2500);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      ...entrada,\n      message,\n      agent: {\n        ...asObject(entrada.agent),\n        ...asObject($json.agent),\n        history_text: historyText,\n        history_for_agent: historyForBruna,\n        current_message_after_interpretation: finalContent,\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n        knowledge_query: baseSearchQuery,\n      },\n      chatInput: finalContent,\n      should_search_knowledge_base: businessNeed.needs_business_knowledge,\n      base_search_query: businessNeed.needs_business_knowledge\n        ? baseSearchQuery\n        : '',\n      debug: {\n        ...asObject($json.debug),\n        monta_query_base_version: 'v1_merge_normaliza_interpretacao_historico',\n        base_content: baseContent,\n        interpreted_content: interpretedContent,\n        final_content: finalContent,\n        has_history_for_agent: Boolean(historyForBruna),\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n      },\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-1216],"id":"bbc861e6-2e82-4294-af90-11877ba31b57","name":"Monta Query Base Conhecimento"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-large\",\n  \"input\": {{ JSON.stringify(String($json.base_search_query || \"AuAu Creche Canina informações gerais\").slice(0, 4000)) }},\n  \"dimensions\": 1536\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2272,-1280],"id":"a40c65fc-d949-4fb4-a819-a978deecced9","name":"Gera Embedding Base Conhecimento","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"method":"POST","url":"https://supbase.convertix.app/rest/v1/rpc/auau_bruna_match_documents","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  query_embedding: $('Gera Embedding Base Conhecimento').item.json.data[0].embedding,\n  match_count: 6,\n  filter: {\n    ativo: true\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2496,-1280],"id":"860d336c-0b91-4b1e-bb21-b985b073f687","name":"Busca Base Conhecimento","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"},"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"jsCode":"const original = $('Monta Query Base Conhecimento').item.json;\nconst docs = $input.all().map(item => item.json);\n\nconst knowledgeBaseText = docs\n  .filter(doc => doc.content)\n  .map((doc, index) => {\n    const metadata = doc.metadata || {};\n    const tipo = metadata.tipo_documento || 'documento';\n    const unidade = metadata.unidade || 'não informado';\n    const arquivo = metadata.arquivo_origem || 'origem não informada';\n    const similarity = typeof doc.similarity === 'number'\n      ? ` | similaridade: ${doc.similarity.toFixed(3)}`\n      : '';\n\n    return [\n      `${index + 1}. [${tipo} | ${unidade} | ${arquivo}${similarity}]`,\n      String(doc.content).trim(),\n    ].join('\\n');\n  })\n  .join('\\n\\n---\\n\\n');\n\nreturn [\n  {\n    json: {\n      ...original,\n      agent: {\n        ...(original.agent || {}),\n        knowledge_base_text: knowledgeBaseText || 'Nenhuma informação relevante encontrada na base de conhecimento.',\n        knowledge_base_count: docs.length,\n        knowledge_base_strategy: 'supabase_rpc_vector_search',\n      },\n      base_conhecimento_docs: docs.map(doc => ({\n        id: doc.id,\n        content: doc.content,\n        metadata: doc.metadata,\n        similarity: doc.similarity,\n      })),\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,-1280],"id":"06b85a27-732b-4c13-a404-da4513ec6a12","name":"Formata Base Conhecimento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b16aa69e-39be-4fb7-8237-2e98c7cfb612","leftValue":"={{ $json.should_search_knowledge_base }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2048,-1216],"id":"1b2048ff-26e5-49c6-80f5-f87040ef834a","name":"If"}],"connections":{"Webhook Chatwoot":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"Normaliza Entrada Chatwoot":{"main":[[{"node":"Evento processavel?","type":"main","index":0}]]},"Evento processavel?":{"main":[[{"node":"60s","type":"main","index":0}],[{"node":"Sem resposta2","type":"main","index":0}]]},"Bruna Auau":{"main":[[{"node":"Normaliza Saída Chatwoot","type":"main","index":0}]]},"Normaliza Saída Chatwoot":{"main":[[{"node":"Verifica Última Mensagem","type":"main","index":0}]]},"Handoff?":{"main":[[{"node":"Adicionar Labels Handoff","type":"main","index":0},{"node":"Nota Interna Handoff","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"Devo responder?1":{"main":[[{"node":"Interpreta Audio ou Texto","type":"main","index":0}],[{"node":"Sem resposta1","type":"main","index":0}]]},"Verifica Última Mensagem1":{"main":[[{"node":"Devo responder?1","type":"main","index":0}]]},"Busca Histórico Chatwoot":{"main":[[{"node":"Monta Query Base Conhecimento","type":"main","index":0}]]},"Interpreta Audio ou Texto":{"main":[[{"node":"Busca Histórico Chatwoot","type":"main","index":0}]]},"NORMALIZA PRE BRUNA":{"main":[[{"node":"Bruna Auau","type":"main","index":0}]]},"Buscar Lead ID Chatwoot":{"main":[[{"node":"Inserir Histórico Chatwoot","type":"main","index":0}],[{"node":"Inserir Histórico Chatwoot","type":"main","index":0}]]},"Upsert Memória Chatwoot":{"main":[[{"node":"Buscar Lead ID Chatwoot","type":"main","index":0}],[{"node":"Buscar Lead ID Chatwoot","type":"main","index":0}]]},"Verifica Última Mensagem":{"main":[[{"node":"Devo responder?","type":"main","index":0}]]},"Devo responder?":{"main":[[{"node":"RESPONDER","type":"main","index":0}]]},"60s":{"main":[[{"node":"Verifica Última Mensagem1","type":"main","index":0}]]},"RESPONDER":{"main":[[{"node":"Enviar Resposta Chatwoot","type":"main","index":0},{"node":"Handoff?","type":"main","index":0},{"node":"Upsert Memória Chatwoot","type":"main","index":0}]]},"message_created":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Mensagem de início":{"main":[[{"node":"add_labels início","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Verifica mensagem","type":"main","index":0}],[{"node":"Lista Etiquetas","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"Verifica mensagem":{"main":[[{"node":"Mensagem de início","type":"main","index":0}]]},"add_labels início":{"main":[[{"node":"Assign Time Bruna","type":"main","index":0}]]},"Assign Time Bruna":{"main":[[{"node":"1s","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"message_created","type":"main","index":0}]]},"Lista Etiquetas":{"main":[[{"node":"Normaliza Entrada Chatwoot","type":"main","index":0}]]},"Monta Query Base Conhecimento":{"main":[[{"node":"If","type":"main","index":0}]]},"Gera Embedding Base Conhecimento":{"main":[[{"node":"Busca Base Conhecimento","type":"main","index":0}]]},"Busca Base Conhecimento":{"main":[[{"node":"Formata Base Conhecimento","type":"main","index":0}]]},"If":{"main":[[{"node":"Gera Embedding Base Conhecimento","type":"main","index":0}],[{"node":"NORMALIZA PRE BRUNA","type":"main","index":0}]]},"Formata Base Conhecimento":{"main":[[{"node":"NORMALIZA PRE BRUNA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"j1bCsXJ1Cv9zjSjw","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"redactionPolicy":"none"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"58b224e4-9610-4fe1-a991-884aa748fb56","activeVersionId":"1ca57257-de37-4ca7-97e4-325c9b0e8ae0","triggerCount":1,"shared":[{"updatedAt":"2026-04-18T17:30:48.845Z","createdAt":"2026-04-18T17:30:48.845Z","role":"workflow:owner","workflowId":"XRS2VG1p0XgS6VEi","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-06-22T21:06:42.721Z","createdAt":"2026-06-22T21:06:39.367Z","versionId":"1ca57257-de37-4ca7-97e4-325c9b0e8ae0","workflowId":"XRS2VG1p0XgS6VEi","nodes":[{"parameters":{"httpMethod":"POST","path":"auau-bruna","options":{"noResponseBody":true,"responseCode":{"values":{}}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-864,-1024],"id":"a2518284-a3e1-4b3d-a897-388af295d5ff","name":"Webhook Chatwoot","webhookId":"836b4fb2-fd04-4f6a-9129-19333f28f7e8"},{"parameters":{"jsCode":"const NORMALIZA_ENTRADA_CHATWOOT_VERSION = \"v5_labels_bruna_sem_direct_handoff\";\n\nconst firstItem = $(\"Webhook\").first()?.json || {};\nconst envelope = Array.isArray(firstItem) ? (firstItem[0] || {}) : firstItem;\nconst body = envelope.body && typeof envelope.body === \"object\" ? envelope.body : envelope;\nconst headers = envelope.headers || {};\n\nconst BRUNA_LABELS = new Set([\n  \"01-bruna-atendimento\",\n]);\n\nconst HUMAN_LABELS = new Set([\n  \"01-humano-assumiu\",\n]);\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value).trim();\n}\n\nfunction onlyDigits(value) {\n  return clean(value).replace(/\\D/g, \"\");\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction normalizeLabel(label) {\n  return clean(label).toLowerCase();\n}\n\nfunction normalizeLabels(value) {\n  if (Array.isArray(value)) {\n    return value\n      .map(label => clean(label))\n      .filter(Boolean);\n  }\n\n  if (value && typeof value === \"object\") {\n    if (Array.isArray(value.payload)) return normalizeLabels(value.payload);\n    if (Array.isArray(value.labels)) return normalizeLabels(value.labels);\n  }\n\n  if (typeof value === \"string\") {\n    return value\n      .split(\",\")\n      .map(label => clean(label))\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nfunction getLabelsFromListaEtiquetas() {\n  try {\n    const nodeItem = $(\"Lista Etiquetas\").first()?.json || {};\n    return normalizeLabels(nodeItem.payload || nodeItem.labels || nodeItem);\n  } catch (error) {\n    return [];\n  }\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nconst labels = getLabelsFromListaEtiquetas();\nconst labelsLower = labels.map(normalizeLabel);\n\nconst hasBrunaLabel = labelsLower.some(label => BRUNA_LABELS.has(label));\nconst hasHumanLabel = labelsLower.some(label => HUMAN_LABELS.has(label));\nconst shouldProcessByLabels = hasBrunaLabel && !hasHumanLabel;\n\nfunction ignored(reason, extra = {}) {\n  return [{\n    json: {\n      action: \"ignore\",\n      event: clean(body.event),\n      ignore: {\n        reason,\n        ...extra,\n      },\n      routing: {\n        should_process: false,\n        should_reply: false,\n        should_handoff: false,\n        route_action: \"ignore\",\n        channel: \"chatwoot_whatsapp\",\n      },\n      conversation: {\n        labels,\n      },\n      chatwoot: {\n        account_id: body.account?.id || body.conversation?.account_id || null,\n        inbox_id: body.inbox?.id || body.conversation?.inbox_id || null,\n        conversation_id: body.conversation?.id || null,\n        contact_id: body.sender?.id || body.conversation?.meta?.sender?.id || null,\n        message_id: body.id || null,\n        delivery_id: headers[\"x-chatwoot-delivery\"] || \"\",\n      },\n      debug: {\n        normaliza_entrada_chatwoot_version: NORMALIZA_ENTRADA_CHATWOOT_VERSION,\n        labels,\n        labels_source: \"Lista Etiquetas\",\n        has_bruna_label: hasBrunaLabel,\n        has_human_label: hasHumanLabel,\n        should_process_by_labels: shouldProcessByLabels,\n        received_body: body,\n      },\n    },\n  }];\n}\n\nconst conversation = body.conversation || {};\nconst messages = Array.isArray(conversation.messages) ? conversation.messages : [];\nconst primaryMessage = messages.find((message) => String(message.id) === String(body.id)) || messages[0] || {};\nconst sender = body.sender || conversation.meta?.sender || primaryMessage.sender || {};\n\nconst event = clean(body.event);\nconst messageType = clean(body.message_type);\nconst numericMessageType = primaryMessage.message_type;\nconst senderType = clean(primaryMessage.sender_type || sender.type);\nconst isIncoming = messageType === \"incoming\" || numericMessageType === 0 || senderType.toLowerCase() === \"contact\";\nconst isPrivate = body.private === true || primaryMessage.private === true;\nconst canReply = conversation.can_reply !== false;\nconst rawContentType = clean(body.content_type || primaryMessage.content_type || \"text\");\nconst attachments = Array.isArray(body.attachments)\n  ? body.attachments\n  : (Array.isArray(primaryMessage.attachments) ? primaryMessage.attachments : []);\nconst hasAttachment = attachments.length > 0;\nconst firstAttachment = attachments[0] || {};\nconst dataUrl = firstFilled(\n  firstAttachment.data_url,\n  firstAttachment.download_url,\n  firstAttachment.file_url,\n  firstAttachment.url\n) || null;\nconst content = clean(\n  firstFilled(body.content, body.messages?.[0]?.content, primaryMessage.processed_message_content, primaryMessage.content)\n)\n  .replace(/\\[object Object\\]/gi, \"\")\n  .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n  .replace(/\\uFFFD/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\nconst hasText = content.length > 0;\nconst mediaType = hasAttachment\n  ? clean(firstAttachment.file_type || firstAttachment.type || firstAttachment.content_type || \"attachment\").toLowerCase()\n  : \"none\";\nconst messageModality = hasAttachment && hasText\n  ? `${mediaType}_with_text`\n  : hasAttachment\n    ? `${mediaType}_only`\n    : hasText\n      ? \"text_only\"\n      : \"unknown\";\nconst contentType = messageModality;\n\nif (event && event !== \"message_created\") {\n  return ignored(\"evento_nao_message_created\");\n}\n\nif (!isIncoming) {\n  return ignored(\"mensagem_nao_incoming\", { message_type: messageType, sender_type: senderType });\n}\n\nif (isPrivate) {\n  return ignored(\"mensagem_privada\");\n}\n\nif (!canReply) {\n  return ignored(\"conversa_sem_permissao_de_resposta\");\n}\n\nif (hasHumanLabel) {\n  return ignored(\"label_humano_assumiu\", { labels });\n}\n\nif (!hasBrunaLabel) {\n  return ignored(\"sem_label_bruna\", { labels });\n}\n\nif (!shouldProcessByLabels) {\n  return ignored(\"labels_nao_permitem_bruna\", { labels });\n}\n\nif (!content && !hasAttachment) {\n  return ignored(\"mensagem_sem_texto_e_sem_anexo\");\n}\n\nconst accountId = body.account?.id || conversation.account_id || null;\nconst inboxId = body.inbox?.id || conversation.inbox_id || null;\nconst conversationId = conversation.id || primaryMessage.conversation_id || null;\nconst contactId = sender.id || primaryMessage.sender_id || conversation.meta?.sender?.id || null;\nconst phone = onlyDigits(firstFilled(sender.phone_number, sender.identifier, primaryMessage.sender?.phone_number));\nconst sessionKey = phone || contactId || conversationId || body.id || Date.now();\nconst sessionId = `chatwoot-a${accountId || \"x\"}-${sessionKey}`;\nconst contactName = firstFilled(sender.name, conversation.meta?.sender?.name);\nconst attachmentSummary = hasAttachment\n  ? attachments.map((attachment, index) => {\n      const kind = firstFilled(attachment.file_type, attachment.content_type, attachment.message_type, attachment.data_url, \"anexo\");\n      const url = firstFilled(attachment.data_url, attachment.download_url, attachment.file_url, attachment.url);\n      return `Anexo ${index + 1}: ${kind}${url ? ` - ${url}` : \"\"}`;\n    }).join(\"\\n\")\n  : \"\";\nconst shouldAskForText = hasAttachment && !content;\nconst safeContent = content\n  ? [content, attachmentSummary ? `\\nContexto de mídia recebida:\\n${attachmentSummary}` : \"\"].join(\"\").trim()\n  : `[Mensagem com anexo sem legenda. message_modality=${messageModality || \"unknown\"}]`;\n\nreturn [{\n  json: {\n    action: \"sendMessage\",\n    sessionId,\n    chatInput: safeContent,\n    lead: {\n      id: contactId || sessionKey,\n      name: contactName,\n      phone,\n      origem: firstFilled(sender.custom_attributes?.origem, \"\"),\n      anuncio: firstFilled(sender.custom_attributes?.anuncio, \"\"),\n      link_rastreavel: firstFilled(sender.custom_attributes?.link_rastreavel, \"\"),\n    },\n    message: {\n      role: \"lead\",\n      content,\n      content_for_ai: safeContent,\n      has_text: hasText,\n      has_attachment: hasAttachment,\n      content_type: contentType,\n      message_modality: messageModality,\n      raw_content_type: rawContentType,\n      data_url: dataUrl,\n      media_type: mediaType,\n      created_at: firstFilled(body.created_at, primaryMessage.updated_at, nowIso()),\n    },\n    conversation: {\n      is_test: false,\n      memory_enabled: true,\n      history_source: \"chatwoot_subworkflow\",\n      labels,\n      has_bruna_label: hasBrunaLabel,\n      has_human_label: hasHumanLabel,\n      status: clean(conversation.status),\n      unread_count: conversation.unread_count || 0,\n      assignee_id: conversation.assignee_id || null,\n      team_id: conversation.meta?.team?.id || null,\n      team_name: conversation.meta?.team?.name || \"\",\n    },\n    chatwoot: {\n      account_id: accountId,\n      inbox_id: inboxId,\n      conversation_id: conversationId,\n      contact_id: contactId,\n      message_id: body.id || primaryMessage.id || null,\n      source_id: firstFilled(body.source_id, primaryMessage.source_id),\n      delivery_id: headers[\"x-chatwoot-delivery\"] || \"\",\n      webhook_url: envelope.webhookUrl || \"\",\n      raw_event: event || \"message_created\",\n    },\n    routing: {\n      should_process: shouldProcessByLabels,\n      should_reply: shouldProcessByLabels,\n      should_handoff: false,\n      route_action: \"agent\",\n      direct_handoff_motivo: \"\",\n      channel: \"chatwoot_whatsapp\",\n    },\n    agent: {\n      memory_session_id: sessionId,\n      ai_input: [\n        \"MENSAGEM ATUAL DO LEAD:\",\n        safeContent,\n        \"\",\n        hasAttachment ? \"OBSERVAÇÃO: o lead enviou mídia/anexo. Se houver legenda, use a legenda como contexto. Se não houver texto suficiente, peça uma descrição objetiva em vez de encaminhar automaticamente para humano.\" : \"\",\n        \"\",\n        \"DADOS TÉCNICOS DO CONTATO:\",\n        `Telefone: ${phone || \"não informado\"}`,\n        \"\",\n        \"OBSERVAÇÃO IMPORTANTE:\",\n        \"Não use o nome de perfil do WhatsApp/Chatwoot como nome confirmado da pessoa.\",\n        \"O nome da pessoa só deve ser considerado confirmado se aparecer claramente no histórico ou na mensagem atual.\",\n        \"\",\n        \"CONTEXTO CHATWOOT:\",\n        `Conta: ${accountId || \"\"}`,\n        `Inbox: ${inboxId || \"\"}`,\n        `Conversa: ${conversationId || \"\"}`,\n        `Labels: ${labels.join(\", \") || \"sem labels\"}`,\n        \"\",\n        \"INSTRUÇÃO:\",\n        \"Responda como Bruna, atendente virtual da AuAu Creche Canina, seguindo o prompt do agente.\",\n        \"Se precisar encaminhar para humano, retorne handoff_humano=true com um motivo permitido.\",\n      ].join(\"\\n\"),\n    },\n    debug: {\n      normaliza_entrada_chatwoot_version: NORMALIZA_ENTRADA_CHATWOOT_VERSION,\n      original_message_type: messageType,\n      numeric_message_type: numericMessageType,\n      sender_type: senderType,\n      has_attachment: hasAttachment,\n      content_type: contentType,\n      labels,\n      labels_source: \"Lista Etiquetas\",\n      has_bruna_label: hasBrunaLabel,\n      has_human_label: hasHumanLabel,\n      should_process_by_labels: shouldProcessByLabels,\n      direct_handoff: false,\n      should_ask_for_text: shouldAskForText,\n      attachment_summary: attachmentSummary,\n      data_url: dataUrl,\n    },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-1024],"id":"75e68652-1a71-4c0f-97f9-78cab5b46188","name":"Normaliza Entrada Chatwoot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"189b9723-022e-41ca-9722-a607d0c987d4","leftValue":"={{ $json.routing?.should_process === true }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,-1024],"id":"e884055b-b1b6-4154-9cf0-9b61d6355d4a","name":"Evento processavel?"},{"parameters":{"promptType":"define","text":"={{ $json.ai_input }}","options":{"systemMessage":"=Você é a Bruna, atendente virtual da AuAu Creche Canina.\n\nSua função é atender leads interessados em creche ou hotel para cães, fazendo uma conversa simples, natural e objetiva pelo WhatsApp.\n\nVocê deve usar o histórico recente da conversa para entender o que já foi perguntado e respondido.\nVocê deve usar a BASE DE CONHECIMENTO RECUPERADA, quando enviada no prompt do usuário, como fonte principal para fatos de negócio.\n\nNão diga que está usando histórico, memória, CRM, Chatwoot, base de conhecimento, RAG, banco de dados ou sistema interno.\n\nResponda sempre em JSON válido, sem markdown.\n\nFormato obrigatório:\n{\n  \"resposta\": \"mensagem final para o lead\",\n  \"handoff_humano\": false,\n  \"motivo_handoff\": \"\",\n  \"status_atendimento\": \"em_atendimento\",\n  \"labels_sugeridas\": [],\n  \"proxima_acao\": \"continuar_conversa\"\n}\n\nCampos permitidos:\n\nhandoff_humano:\n- true\n- false\n\nmotivo_handoff:\n- \"\"\n- pediu_humano\n- caso_pronto_para_avaliacao\n- comprovante_ou_pagamento\n- duvida_raca\n- macho_nao_castrado_pretende_castrar\n- reatividade_ou_agressividade\n- duvida_operacional\n- lead_irritado\n\nstatus_atendimento:\n- em_atendimento\n- aguardando_resposta\n- lead_qualificado\n- repassar_humano\n- lead_desqualificado\n- apenas_informacao\n\nproxima_acao:\n- continuar_conversa\n- perguntar_dados_faltantes\n- enviar_para_humano\n- encerrar_sem_avancar\n- informar_preco\n- aguardar_resposta\n\nlabels_sugeridas só pode conter labels desta lista:\n- 01-bruna-atendimento\n- 01-em-atendimento\n- 10-lead-qualificado\n- 15-interesse-creche\n- 15-interesse-hotel\n- 35-avaliacao-comprovante-recebido\n- 99-apenas-informação\n- 99-lead-desqualificado\n- 99-macho-nao-castrado\n- 99-raca-nao-aceita\n- 99-objecao-preco\n\nSe handoff_humano = false, motivo_handoff deve ser \"\".\nSe handoff_humano = true, proxima_acao deve ser \"enviar_para_humano\".\n\nA mensagem para o lead deve ficar somente em \"resposta\".\nNão explique raciocínio interno.\nNão fale de regras técnicas.\n\n==================================================\nFONTE DE VERDADE\n==================================================\n\nPara fatos de negócio, use somente:\n- histórico recente da conversa, quando o fato já foi informado por humano ou pelo próprio lead;\n- BASE DE CONHECIMENTO RECUPERADA enviada no prompt do usuário.\n\nFatos de negócio incluem:\n- endereço;\n- cidade;\n- bairro;\n- unidade;\n- funcionamento;\n- horários;\n- check-in e check-out;\n- preços;\n- pacotes;\n- avaliação;\n- adaptação;\n- hotel;\n- creche;\n- transporte;\n- regras sanitárias;\n- regras de raça, porte, idade, cio e castração;\n- regras de pagamento;\n- disponibilidade, agenda e confirmação.\n\nSe o lead perguntar um fato de negócio e não houver informação relevante na BASE DE CONHECIMENTO RECUPERADA nem no histórico, não invente.\nNesse caso:\n- handoff_humano = true\n- motivo_handoff = \"duvida_operacional\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nMensagem ao lead nesse caso:\n\"Vou encaminhar para uma pessoa da equipe confirmar essa informação certinha para você.\"\n\nNunca responda endereço, cidade, unidade, preço, horário, transporte ou regra operacional por suposição.\nNunca complete lacunas com conhecimento geral.\nNunca use informação de outra empresa, cidade, unidade ou contexto fora da base recuperada.\n\n==================================================\nPRIORIDADE DA RESPOSTA\n==================================================\n\nSe o lead fizer uma pergunta objetiva sobre a empresa, responda essa pergunta antes de continuar a qualificação.\n\nExemplos de pergunta objetiva:\n- \"Onde vocês ficam?\"\n- \"Qual endereço?\"\n- \"Qual valor?\"\n- \"Como funciona?\"\n- \"Tem transporte?\"\n- \"Qual horário?\"\n- \"Vocês têm hotel?\"\n- \"Vocês fazem adestramento?\"\n\nNesses casos, não ignore a pergunta para pedir dados do cão.\nResponda a dúvida com base na BASE DE CONHECIMENTO RECUPERADA e, se fizer sentido, depois peça apenas o próximo dado necessário.\n\nSe a pergunta objetiva exigir base de conhecimento e a base não veio, encaminhe para humano conforme a regra de fonte de verdade.\n\n==================================================\nTOM DE VOZ\n==================================================\n\nFale como uma atendente simpática, clara e direta.\n\nUse mensagens curtas.\nFaça no máximo 1 pergunta principal por vez.\nEvite textão.\nEvite parecer robô.\nNão fique validando tudo com \"entendi\", \"perfeito\" ou \"obrigada por informar\" em toda resposta.\nNão repita pergunta já respondida.\n\n==================================================\nPRIMEIRA MENSAGEM\n==================================================\n\nSe for primeiro contato e o lead não fez uma pergunta objetiva de negócio, apresente-se e peça os dados básicos.\n\nResposta esperada quando o lead apenas cumprimenta ou pede informações gerais sem pergunta específica:\n\n\"Olá! Eu sou a Bruna, atendente virtual da AuAu Creche Canina 🐶🩵. Se quiser falar com uma pessoa da equipe em algum momento, é só escrever humano.\n\nPara eu te orientar direitinho, me conta por favor: qual é o seu nome? E qual é o nome, idade, raça, sexo e se o cãozinho é castrado?\"\n\nNunca envie apenas apresentação.\nNunca diga só \"vou fazer algumas perguntas\".\nNa primeira coleta, peça o nome da pessoa e os dados básicos do cão juntos.\n\nSe o lead fez pergunta objetiva, responda a pergunta primeiro.\n\n==================================================\nDADOS OBRIGATÓRIOS\n==================================================\n\nDados obrigatórios:\n- nome da pessoa com quem estamos falando;\n- nome do cão;\n- idade;\n- raça;\n- sexo;\n- se é castrado.\n\nO nome do perfil no WhatsApp, Chatwoot ou CRM não deve ser tratado automaticamente como nome confirmado da pessoa.\nPerfis podem vir como apelido, frase, empresa ou texto sem relação com o nome.\nSó considere o nome da pessoa se ela informar claramente na conversa.\n\nSe algum dado obrigatório estiver faltando, pergunte somente o que falta.\n\n==================================================\nORDEM DA CONVERSA\n==================================================\n\nConduza nesta ordem, sem transformar em formulário pesado.\n\nAntes de perguntar cio, comportamento, vacinas, serviço, frequência, preço ou avaliação, confira se nome da pessoa e dados básicos do cão estão completos, exceto quando o lead fizer pergunta objetiva de negócio. Nesse caso, responda a dúvida primeiro.\n\n1. Dados obrigatórios:\nnome da pessoa, nome do cão, idade, raça, sexo e se é castrado.\n\n2. Se os dados obrigatórios estiverem incompletos:\npergunte apenas o que falta.\n\n3. Se os dados básicos estiverem completos e for fêmea não castrada:\npergunte se está no cio, caso ainda não tenha sido informado.\n\n4. Se os dados básicos estiverem completos e for macho com 8 meses ou mais:\nverifique na base recuperada qual regra se aplica à castração.\n\nSe o tutor informar que é macho adulto e não castrado:\nexplique a regra somente se ela estiver na base recuperada ou no histórico.\nSe pretende castrar, encaminhe para humano.\nSe não pretende castrar, explique que por enquanto não conseguimos seguir, se essa regra estiver confirmada na base.\n\n5. Comportamento:\npergunte apenas como ele costuma ficar com outros cães.\n\nNão pergunte sobre rotina diária do cão.\nNão pergunte \"como é a rotina dele\".\nNão pergunte sobre rotina em casa.\nEssa parte será tratada pelo humano.\n\nSe o tutor disser que convive bem, se dá bem, é sociável ou tranquilo, considere comportamento ok e não pergunte isso de novo.\n\nSe disser que não sabe, nunca teve contato ou não convive com outros cães, explique que a avaliação serve justamente para observar isso com segurança, se a base recuperada confirmar essa orientação.\n\nSe mencionar agressividade, mordida, ataque, avanço forte ou reatividade intensa:\n- handoff_humano = true\n- motivo_handoff = \"reatividade_ou_agressividade\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\n6. Sanitário:\npergunte se vacinas, antipulgas e vermifugação estão em dia.\n\nSe responder \"sim\", \"tudo em dia\", \"tudo certo\", \"tudo ok\" ou equivalente, considere sanitário ok e não pergunte isso de novo.\n\n7. Serviço:\nentenda se busca creche ou hotel.\n\nPara creche, pergunte a frequência desejada se ainda não foi informada.\nPara hotel, pergunte o período desejado se ainda não foi informado.\n\n8. Avaliação:\nquando nome da pessoa, dados básicos do cão, comportamento com outros cães, sanitário, serviço e frequência/período estiverem ok, o caso está pronto para avaliação.\n\nNesse caso:\n- handoff_humano = true\n- motivo_handoff = \"caso_pronto_para_avaliacao\"\n- status_atendimento = \"lead_qualificado\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"10-lead-qualificado\", \"01-em-atendimento\"]\n\nMensagem ao lead:\n\"Tudo certo. Pelo que você me contou, o próximo passo é a avaliação comportamental. Vou encaminhar para uma pessoa da equipe continuar com você e orientar os próximos passos.\"\n\nNão diga que o cão está aprovado.\nNão confirme vaga.\nNão confirme hospedagem.\nNão ofereça horário.\n\n==================================================\nPREÇO E INFORMAÇÕES OPERACIONAIS\n==================================================\n\nNão invente preço.\nNão use preço que não esteja na BASE DE CONHECIMENTO RECUPERADA ou no histórico.\n\nSe o lead pedir preço e a base recuperada trouxer valores relevantes, responda com clareza.\nSe a base recuperada não trouxer valores relevantes, encaminhe para humano com motivo_handoff = \"duvida_operacional\".\n\nNão peça PIX.\nNão envie dados de pagamento.\nNão ofereça desconto.\nNão confirme disponibilidade.\nNão confirme agenda.\nNão confirme hospedagem.\nNão crie pré-reserva.\n\n==================================================\nSTATUS, LABELS E REPASSE HUMANO\n==================================================\n\nA Bruna deve classificar o atendimento em toda resposta.\n\nSe a resposta da Bruna fizer uma pergunta e estiver esperando o lead responder:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"aguardando_resposta\"\n- proxima_acao = \"aguardar_resposta\"\n\nSe ainda faltam nome da pessoa ou dados básicos do cão:\n- status_atendimento = \"aguardando_resposta\"\n- proxima_acao = \"perguntar_dados_faltantes\"\n- labels_sugeridas = [\"01-bruna-atendimento\"]\n\nSe o lead pedir humano:\n- handoff_humano = true\n- motivo_handoff = \"pediu_humano\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nSe comprovante, pagamento, PIX ou dados bancários forem mencionados:\n- handoff_humano = true\n- motivo_handoff = \"comprovante_ou_pagamento\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"35-avaliacao-comprovante-recebido\", \"01-em-atendimento\"]\n\nSe houver dúvida sobre raça ou regra de aceitação:\n- handoff_humano = true\n- motivo_handoff = \"duvida_raca\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"01-em-atendimento\"]\n\nSe for macho adulto não castrado e o tutor pretende castrar:\n- handoff_humano = true\n- motivo_handoff = \"macho_nao_castrado_pretende_castrar\"\n- status_atendimento = \"repassar_humano\"\n- proxima_acao = \"enviar_para_humano\"\n- labels_sugeridas = [\"99-macho-nao-castrado\", \"01-em-atendimento\"]\n\nSe for macho adulto não castrado e o tutor não pretende castrar:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"lead_desqualificado\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-macho-nao-castrado\", \"99-lead-desqualificado\"]\n\nSe o lead reclamar de preço, disser que está caro ou demonstrar objeção clara de preço:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"em_atendimento\"\n- proxima_acao = \"continuar_conversa\"\n- labels_sugeridas = [\"99-objecao-preco\"]\n\nSe o lead só pediu uma informação simples, a informação foi respondida, e não demonstrou intenção clara de seguir:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"apenas_informacao\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-apenas-informação\"]\n\n==================================================\nMÍDIA, ÁUDIO E ANEXOS\n==================================================\n\nSe a mensagem atual vier de áudio transcrito, trate a transcrição como fala normal do lead.\nNão diga que recebeu áudio, não mencione transcrição e não peça para o lead repetir se houver texto útil.\n\nSe a mensagem atual tiver imagem, anexo, legenda ou interpretação de mídia, use essas informações como parte da mensagem.\nNão encaminhe para humano só porque existe foto, imagem ou anexo.\nSó encaminhe para humano se o conteúdo do anexo ou da legenda cair em uma regra de repasse.\n\n==================================================\nFINALIZAÇÃO\n==================================================\n\nSe você perguntar \"Posso ajudar com mais alguma informação?\" e o lead responder \"não obrigado\", \"por enquanto não\", \"só isso\" ou similar, não continue fazendo perguntas.\n\nResponda:\n\"Tudo certo. Se precisar de mais alguma informação, é só me chamar por aqui.\"\n\nNesse caso:\n- handoff_humano = false\n- motivo_handoff = \"\"\n- status_atendimento = \"apenas_informacao\"\n- proxima_acao = \"encerrar_sem_avancar\"\n- labels_sugeridas = [\"99-apenas-informação\"]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3168,-1216],"id":"41fb1fc6-b3c7-4e6d-9e39-b2f8150ab9e1","name":"Bruna Auau","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"jsCode":"const NORMALIZA_SAIDA_CHATWOOT_VERSION = \"v2_parse_agent_output_status_labels\";\n\nconst agentItem = $input.first()?.json || {};\n\nfunction readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nconst preBruna = readNode(\"NORMALIZA PRE BRUNA\");\nconst entrada = Object.keys(preBruna).length ? preBruna : readNode(\"Normaliza Entrada Chatwoot\");\n\nconst ALLOWED_MOTIVOS = new Set([\n  \"\",\n  \"pediu_humano\",\n  \"caso_pronto_para_avaliacao\",\n  \"comprovante_ou_pagamento\",\n  \"duvida_raca\",\n  \"macho_nao_castrado_pretende_castrar\",\n  \"reatividade_ou_agressividade\",\n  \"duvida_operacional\",\n  \"lead_irritado\",\n]);\n\nconst ALLOWED_STATUS = new Set([\n  \"em_atendimento\",\n  \"aguardando_resposta\",\n  \"lead_qualificado\",\n  \"repassar_humano\",\n  \"lead_desqualificado\",\n  \"apenas_informacao\",\n]);\n\nconst ALLOWED_ACTIONS = new Set([\n  \"continuar_conversa\",\n  \"perguntar_dados_faltantes\",\n  \"enviar_para_humano\",\n  \"encerrar_sem_avancar\",\n  \"informar_preco\",\n  \"aguardar_resposta\",\n]);\n\nconst ALLOWED_LABELS = new Set([\n  \"01-bruna-atendimento\",\n  \"01-em-atendimento\",\n  \"10-lead-qualificado\",\n  \"15-interesse-creche\",\n  \"15-interesse-hotel\",\n  \"35-avaliacao-comprovante-recebido\",\n  \"99-apenas-informação\",\n  \"99-lead-desqualificado\",\n  \"99-macho-nao-castrado\",\n  \"99-raca-nao-aceita\",\n  \"99-objecao-preco\",\n]);\n\nfunction clean(value) {\n  if (value === undefined || value === null) return \"\";\n  return String(value)\n    .replace(/\\[object Object\\]/gi, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n    .replace(/\\uFFFD/g, \" \")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .trim();\n}\n\nfunction cleanOneLine(value) {\n  return clean(value).replace(/\\s+/g, \" \").trim();\n}\n\nfunction stripCodeFence(text) {\n  const value = clean(text);\n  return value\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/\\s*```$/i, \"\")\n    .trim();\n}\n\nfunction extractRawOutput(value) {\n  if (value && typeof value === \"object\" && !Array.isArray(value)) {\n    if (value.output !== undefined) return value.output;\n    if (value.text !== undefined) return value.text;\n    if (value.content !== undefined) return value.content;\n    if (value.response !== undefined) return value.response;\n    if (value.result !== undefined) return value.result;\n  }\n\n  return value;\n}\n\nfunction tryParseJson(value) {\n  if (value && typeof value === \"object\" && !Array.isArray(value)) return value;\n\n  const text = stripCodeFence(value);\n  if (!text) return null;\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    const first = text.indexOf(\"{\");\n    const last = text.lastIndexOf(\"}\");\n\n    if (first >= 0 && last > first) {\n      const possibleJson = text.slice(first, last + 1);\n      try {\n        return JSON.parse(possibleJson);\n      } catch (innerError) {\n        return null;\n      }\n    }\n  }\n\n  return null;\n}\n\nfunction toBoolean(value) {\n  if (value === true) return true;\n  if (value === false) return false;\n  const text = cleanOneLine(value).toLowerCase();\n  return [\"true\", \"sim\", \"yes\", \"1\"].includes(text);\n}\n\nfunction normalizeEnum(value, allowed, fallback) {\n  const normalized = cleanOneLine(value);\n  return allowed.has(normalized) ? normalized : fallback;\n}\n\nfunction normalizeLabels(value) {\n  const rawLabels = Array.isArray(value)\n    ? value\n    : clean(value)\n      ? clean(value).split(\",\")\n      : [];\n\n  const labels = [];\n\n  for (const item of rawLabels) {\n    const label = cleanOneLine(item);\n    if (ALLOWED_LABELS.has(label) && !labels.includes(label)) {\n      labels.push(label);\n    }\n  }\n\n  return labels;\n}\n\nfunction addLabel(labels, label) {\n  if (ALLOWED_LABELS.has(label) && !labels.includes(label)) labels.push(label);\n}\n\nfunction inferHandoffFromText(text) {\n  return /encaminh(ar|o)|pessoa da equipe|atendimento humano|vou passar|vou repassar/i.test(clean(text));\n}\n\nconst rawOutput = extractRawOutput(agentItem);\nlet parsed = tryParseJson(rawOutput);\n\nif (parsed?.output !== undefined) {\n  parsed = tryParseJson(parsed.output) || parsed;\n}\n\nconst parsedIsObject = parsed && typeof parsed === \"object\" && !Array.isArray(parsed);\n\nlet resposta = \"\";\nlet handoffHumano = false;\nlet motivoHandoff = \"\";\nlet statusAtendimento = \"em_atendimento\";\nlet proximaAcao = \"continuar_conversa\";\nlet labelsSugeridas = [];\n\nif (parsedIsObject) {\n  resposta = clean(parsed.resposta || parsed.reply || parsed.text || parsed.content || parsed.message || \"\");\n  handoffHumano = toBoolean(parsed.handoff_humano);\n  motivoHandoff = cleanOneLine(parsed.motivo_handoff);\n  statusAtendimento = normalizeEnum(parsed.status_atendimento, ALLOWED_STATUS, \"em_atendimento\");\n  proximaAcao = normalizeEnum(parsed.proxima_acao, ALLOWED_ACTIONS, \"continuar_conversa\");\n  labelsSugeridas = normalizeLabels(parsed.labels_sugeridas);\n} else {\n  resposta = clean(rawOutput);\n  handoffHumano = inferHandoffFromText(resposta);\n  motivoHandoff = handoffHumano ? \"duvida_operacional\" : \"\";\n  statusAtendimento = handoffHumano ? \"repassar_humano\" : \"em_atendimento\";\n  proximaAcao = handoffHumano ? \"enviar_para_humano\" : \"continuar_conversa\";\n}\n\nif (!resposta) {\n  throw new Error(\"Resposta da Bruna veio vazia ou em formato inválido.\");\n}\n\nif (!ALLOWED_MOTIVOS.has(motivoHandoff)) {\n  motivoHandoff = handoffHumano ? \"duvida_operacional\" : \"\";\n}\n\nif (!handoffHumano) {\n  motivoHandoff = \"\";\n}\n\nif (handoffHumano && !motivoHandoff) {\n  motivoHandoff = \"duvida_operacional\";\n}\n\nif (handoffHumano) {\n  proximaAcao = \"enviar_para_humano\";\n  if (statusAtendimento === \"em_atendimento\" || statusAtendimento === \"aguardando_resposta\") {\n    statusAtendimento = \"repassar_humano\";\n  }\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (statusAtendimento === \"lead_qualificado\") {\n  handoffHumano = true;\n  motivoHandoff = \"caso_pronto_para_avaliacao\";\n  proximaAcao = \"enviar_para_humano\";\n  addLabel(labelsSugeridas, \"10-lead-qualificado\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (motivoHandoff === \"comprovante_ou_pagamento\") {\n  addLabel(labelsSugeridas, \"35-avaliacao-comprovante-recebido\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (motivoHandoff === \"macho_nao_castrado_pretende_castrar\") {\n  addLabel(labelsSugeridas, \"99-macho-nao-castrado\");\n  addLabel(labelsSugeridas, \"01-em-atendimento\");\n}\n\nif (statusAtendimento === \"lead_desqualificado\") {\n  proximaAcao = \"encerrar_sem_avancar\";\n  addLabel(labelsSugeridas, \"99-lead-desqualificado\");\n}\n\nif (statusAtendimento === \"apenas_informacao\") {\n  addLabel(labelsSugeridas, \"99-apenas-informação\");\n}\n\nif (\n  statusAtendimento === \"aguardando_resposta\" ||\n  proximaAcao === \"perguntar_dados_faltantes\" ||\n  proximaAcao === \"aguardar_resposta\"\n) {\n  if (!handoffHumano) {\n    addLabel(labelsSugeridas, \"01-bruna-atendimento\");\n    statusAtendimento = \"aguardando_resposta\";\n  }\n}\n\nconst routeAction = handoffHumano ? \"agent_handoff\" : \"agent_reply\";\n\nreturn [{\n  json: {\n    action: \"sendReply\",\n    sessionId: entrada.sessionId || \"\",\n    lead: entrada.lead || {},\n    message_in: entrada.message || {},\n    conversation: entrada.conversation || {},\n    chatwoot: entrada.chatwoot || {},\n    reply: {\n      role: \"bruna\",\n      content: resposta,\n      created_at: new Date().toISOString(),\n    },\n    bruna_result: {\n      resposta,\n      handoff_humano: handoffHumano,\n      motivo_handoff: motivoHandoff,\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n    },\n    handoff: {\n      should_handoff: handoffHumano,\n      motivo: motivoHandoff,\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n      responsavel: handoffHumano ? \"Flavia\" : \"\",\n    },\n    routing: {\n      should_send: true,\n      should_handoff: handoffHumano,\n      route_action: routeAction,\n      channel: entrada.routing?.channel || \"chatwoot_whatsapp\",\n      status_atendimento: statusAtendimento,\n      labels_sugeridas: labelsSugeridas,\n      proxima_acao: proximaAcao,\n    },\n    debug: {\n      normaliza_saida_chatwoot_version: NORMALIZA_SAIDA_CHATWOOT_VERSION,\n      agent_raw_output: agentItem,\n      raw_output: rawOutput,\n      parsed_output: parsed || null,\n      parsed_ok: parsedIsObject,\n    },\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,-1216],"id":"7cee237b-3ef1-4cea-a4ac-b6aa826cdd1e","name":"Normaliza Saída Chatwoot"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": {{ $('Normaliza Saída Chatwoot').item.json.reply.content.toJsonString() }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4416,-1408],"id":"02fb61f3-35d2-47ba-969c-b5f80e62bc6b","name":"Enviar Resposta Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"434753d5-280b-4365-8c4f-01536f037b04","leftValue":"={{ $('Normaliza Saída Chatwoot').item.json.handoff?.should_handoff === true }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[4416,-1216],"id":"4eb8ff0e-cc5e-4769-9be6-031efb7955ff","name":"Handoff?"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    labels: [\n      ...new Set([\n        ...($('Normaliza Saída Chatwoot').item.json.conversation.labels || []),\n        \"01-humano-assumiu\"\n      ])\n    ]\n  }\n}}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4640,-1312],"id":"1531a881-5d22-4d65-892e-6a06fb317080","name":"Adicionar Labels Handoff","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}}},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.account_id }}/conversations/{{ $('Normaliza Saída Chatwoot').item.json.chatwoot.conversation_id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Handoff solicitado pela Bruna.\\nMotivo: {{ $json.handoff.motivo || 'sem_motivo' }}\\nResponsável sugerido: {{ $('Normaliza Saída Chatwoot').item.json.handoff.responsavel || 'equipe' }}\\n\\nÚltima mensagem do lead: {{ $('Normaliza Saída Chatwoot').item.json.message_in.content || '' }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4640,-1120],"id":"31ea8bf9-6565-4b54-8e6a-3ef0b7eda38c","name":"Nota Interna Handoff","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"},"chatwootApi":{"id":"zFpwV1tSTRNEkbTI","name":"ChatWoot CONVERTIX"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_memoria_leads (\n  phone,\n  chat_history_uuid,\n  nome_tutor,\n  quantidade_caes,\n  caes_json,\n  unidade_preferida,\n  servico_interesse,\n  origem_lead,\n  origem_detalhada,\n  status_lead,\n  apto_para_avaliacao,\n  status_pagamento,\n  comprovante_recebido,\n  tipo_comprovante,\n  pre_reserva_criada,\n  responsavel_humano,\n  deve_repassar_humano,\n  guia_enviado,\n  encerrado,\n  mensagem_ultima_lead,\n  mensagem_ultima_bruna,\n  data_ultima_mensagem_lead,\n  data_ultima_mensagem_bruna,\n  data_ultima_interacao,\n  payload_ultima_resposta_json,\n  memoria_schema_version\n)\nVALUES (\n  '{{ String($json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.lead?.name || \"\").replace(/'/g, \"''\") }}',\n  0,\n  JSON_ARRAY(),\n  'nao_definida',\n  'nao_definido',\n  '{{ String($json.lead?.origem || \"chatwoot\").replace(/'/g, \"''\") }}',\n  'chatwoot_webhook',\n  '{{ $json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  'pendente',\n  'nao_solicitado',\n  {{ $json.handoff?.motivo === \"comprovante_ou_pagamento\" ? 1 : 0 }},\n  '{{ $json.handoff?.motivo === \"comprovante_ou_pagamento\" ? \"anexo_ou_pagamento\" : \"nao_informado\" }}',\n  0,\n  '{{ String($json.handoff?.responsavel || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.handoff?.should_handoff ? 1 : 0 }},\n  0,\n  0,\n  '{{ String($json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW(),\n  NOW(),\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'sessionId', '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'route_action', '{{ String($json.routing?.route_action || \"\").replace(/'/g, \"''\") }}',\n    'handoff', {{ $json.handoff?.should_handoff ? 1 : 0 }},\n    'motivo_handoff', '{{ String($json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n    'account_id_chatwoot', {{ Number($json.chatwoot?.account_id || 0) }},\n    'contact_id_chatwoot', {{ Number($json.chatwoot?.contact_id || 0) }},\n    'conversation_id_chatwoot', {{ Number($json.chatwoot?.conversation_id || 0) }},\n    'message_id_chatwoot', {{ Number($json.chatwoot?.message_id || 0) }}\n  ),\n  'chatwoot_v1'\n)\nON DUPLICATE KEY UPDATE\n  chat_history_uuid = VALUES(chat_history_uuid),\n  nome_tutor = VALUES(nome_tutor),\n  origem_lead = VALUES(origem_lead),\n  origem_detalhada = VALUES(origem_detalhada),\n  status_lead = VALUES(status_lead),\n  comprovante_recebido = VALUES(comprovante_recebido),\n  tipo_comprovante = VALUES(tipo_comprovante),\n  responsavel_humano = VALUES(responsavel_humano),\n  deve_repassar_humano = VALUES(deve_repassar_humano),\n  mensagem_ultima_lead = VALUES(mensagem_ultima_lead),\n  mensagem_ultima_bruna = VALUES(mensagem_ultima_bruna),\n  data_ultima_mensagem_lead = NOW(),\n  data_ultima_mensagem_bruna = NOW(),\n  data_ultima_interacao = NOW(),\n  payload_ultima_resposta_json = VALUES(payload_ultima_resposta_json),\n  memoria_schema_version = VALUES(memoria_schema_version),\n  atualizado_em = NOW();","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4416,-928],"id":"96d3ee0c-d512-4f17-9e74-c84a5e748b3d","name":"Upsert Memória Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{"frequencyPenalty":0.2,"maxTokens":1200,"responseFormat":"text","presencePenalty":0,"temperature":0.2,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3248,-992],"id":"a61dbe0d-4982-426b-8960-4b460f9216e5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1152,-1120],"id":"56723b21-f45a-4082-a54d-14aaf31f1e7d","name":"Devo responder?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,-1024],"id":"e09bb53d-7e92-44fd-a93c-1c2ad5cf2793","name":"Sem resposta1"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[928,-1120],"name":"Verifica Última Mensagem1","id":"380ca3f8-1155-4f5c-84df-b8beb6afbbfa"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,-928],"id":"d49b269f-f92f-44f4-b9b9-f0bfca8c97cb","name":"Sem resposta2"},{"parameters":{"workflowId":{"__rl":true,"value":"nRxOa3e7CNL8upBX","mode":"list","cachedResultUrl":"/workflow/nRxOa3e7CNL8upBX","cachedResultName":"[CTX] [CHATWOOT] Busca Histórico Chatwoot"},"workflowInputs":{"mappingMode":"defineBelow","value":{"account_id":"={{ $('Normaliza Entrada Chatwoot').item.json.chatwoot.account_id }}","conversation_id":"={{ $('Normaliza Entrada Chatwoot').item.json.chatwoot.conversation_id }}","qtd_messages":120,"agent":"Bruna"},"matchingColumns":[],"schema":[{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"qtd_messages","displayName":"qtd_messages","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"agent","displayName":"agent","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1600,-1216],"name":"Busca Histórico Chatwoot","id":"55e6865c-387a-44e9-8f31-e87a216e6b46"},{"parameters":{"workflowId":{"__rl":true,"value":"mRTbkR5jL09wL2Jw","mode":"list","cachedResultUrl":"/workflow/mRTbkR5jL09wL2Jw","cachedResultName":"[SDR] [JULIA] Interpreta Tipo de Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"content_type":"={{ $('Normaliza Entrada Chatwoot').item.json.message.message_modality }}","message":"={{ $('Normaliza Entrada Chatwoot').item.json.message.content }}","data_url":"={{ $('Normaliza Entrada Chatwoot').item.json.message.data_url }}"},"matchingColumns":["content_type","message","_firstItem","Webhook__firstItem","body_conversation_contact_inbox_contact_id_firstItem","body_conversation_contact_inbox_inbox_id_firstItem","body_conversation_messages_firstItem","event_firstItem","message_type_firstItem"],"schema":[{"id":"content_type","displayName":"content_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"data_url","displayName":"data_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1376,-1216],"name":"Interpreta Audio ou Texto","id":"4fccab5c-cdca-49d0-af04-79340f2aa49d"},{"parameters":{"jsCode":"const PRE_BRUNA_VERSION = \"v2_contexto_base_conhecimento\";\n\nfunction readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nconst entrada = readNode(\"Normaliza Entrada Chatwoot\");\nconst interpretacao = readNode(\"Interpreta Audio ou Texto\");\nconst historico = readNode(\"Busca Histórico Chatwoot\");\n\nfunction clean(value, preserveNewLines = false) {\n  let text = \"\";\n\n  if (value === undefined || value === null) {\n    text = \"\";\n  } else if (typeof value === \"object\") {\n    try {\n      text = JSON.stringify(value);\n    } catch (error) {\n      text = \"\";\n    }\n  } else {\n    text = String(value);\n  }\n\n  text = text\n    .replace(/\\[object Object\\]/gi, \"\")\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \" \")\n    .replace(/\\uFFFD/g, \" \")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\");\n\n  if (preserveNewLines) {\n    return text\n      .split(\"\\n\")\n      .map(line => line.replace(/[ \\t]+/g, \" \").trim())\n      .filter(Boolean)\n      .join(\"\\n\")\n      .trim();\n  }\n\n  return text.replace(/\\s+/g, \" \").trim();\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value, true);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nfunction asObject(value) {\n  return value && typeof value === \"object\" && !Array.isArray(value) ? value : {};\n}\n\nfunction extractInterpretedMessage(data) {\n  const msg = data?.message;\n\n  if (typeof msg === \"string\") {\n    return { content: clean(msg, true) };\n  }\n\n  if (msg && typeof msg === \"object\") {\n    return {\n      ...msg,\n      content: firstFilled(\n        msg.content,\n        msg.text,\n        msg.transcription,\n        msg.transcribed_text,\n        msg.message\n      )\n    };\n  }\n\n  return {\n    content: firstFilled(\n      data?.content,\n      data?.text,\n      data?.transcription,\n      data?.transcribed_text,\n      data?.output,\n      data?.message\n    )\n  };\n}\n\nfunction extractRows(value) {\n  if (!value) return [];\n  if (Array.isArray(value)) return value;\n\n  if (typeof value === \"object\") {\n    for (const key of [\"matches\", \"data\", \"rows\", \"documents\", \"payload\", \"result\", \"results\"]) {\n      if (Array.isArray(value[key])) return value[key];\n    }\n  }\n\n  return [value];\n}\n\nfunction formatKnowledgeRow(row, index) {\n  if (row === undefined || row === null) return \"\";\n\n  if (typeof row === \"string\") {\n    const text = clean(row, true);\n    return text ? `[${index + 1}] ${text}` : \"\";\n  }\n\n  if (typeof row !== \"object\") {\n    const text = clean(row, true);\n    return text ? `[${index + 1}] ${text}` : \"\";\n  }\n\n  const title = firstFilled(row.titulo, row.title, row.pergunta, row.question, row.assunto, row.topic);\n  const content = firstFilled(row.conteudo, row.content, row.texto, row.text, row.resposta, row.answer, row.document);\n  const source = firstFilled(row.arquivo_origem, row.source, row.origem, row.metadata?.source);\n  const score = firstFilled(row.score, row.similarity, row.distance);\n\n  if (!content && !title) return \"\";\n\n  return [\n    `[${index + 1}]${title ? ` ${title}` : \"\"}`,\n    source ? `Fonte: ${source}` : \"\",\n    score ? `Score: ${score}` : \"\",\n    content\n  ].filter(Boolean).join(\"\\n\");\n}\n\nfunction readKnowledgeContext() {\n  const currentAgent = asObject($json.agent);\n\n  const currentContext = firstFilled(\n    currentAgent.knowledge_base_text,\n    currentAgent.knowledge_context,\n    $json.knowledge_base_text,\n    $json.knowledge_context\n  );\n\n  if (currentContext) {\n    return {\n      source_node: \"input_atual\",\n      context: currentContext,\n      rows_count: Number(currentAgent.knowledge_base_count || $json.knowledge_base_count || 1)\n    };\n  }\n\n  const candidates = [\n    \"Formata Base Conhecimento\",\n    \"Busca Base Conhecimento\",\n    \"Busca Base de Conhecimento\",\n    \"Busca FAQ Bruna\",\n    \"Consulta Base Bruna\",\n    \"Supabase Busca Base\",\n    \"Supabase FAQ\"\n  ];\n\n  for (const nodeName of candidates) {\n    const data = readNode(nodeName);\n    if (!Object.keys(data).length) continue;\n\n    const direct = firstFilled(\n      data.agent?.knowledge_base_text,\n      data.knowledge_base_text,\n      data.knowledge_context,\n      data.context,\n      data.contexto,\n      data.conteudo,\n      data.content,\n      data.text\n    );\n\n    if (direct) {\n      return {\n        source_node: nodeName,\n        context: direct,\n        rows_count: Number(data.agent?.knowledge_base_count || data.knowledge_base_count || 1)\n      };\n    }\n\n    const rows = extractRows(data);\n    const formatted = rows\n      .map(formatKnowledgeRow)\n      .filter(Boolean)\n      .slice(0, 8)\n      .join(\"\\n\\n\");\n\n    if (formatted) {\n      return {\n        source_node: nodeName,\n        context: formatted,\n        rows_count: rows.length\n      };\n    }\n  }\n\n  return {\n    source_node: \"\",\n    context: \"\",\n    rows_count: 0\n  };\n}\n\nfunction classifyBusinessKnowledgeNeed(text) {\n  const value = clean(text).toLowerCase();\n\n  const checks = [\n    [\"localizacao_endereco\", /\\b(onde fica|onde vocês ficam|localiza|localização|endereço|bairro|cidade|unidade|patamares|amaralina|pituba)\\b/i],\n    [\"preco_valor\", /\\b(preço|valor|diária|diaria|mensal|plano|pacote|quanto custa|custa quanto|taxa|avaliação|avaliacao)\\b/i],\n    [\"horario_funcionamento\", /\\b(horário|horario|funciona|funcionamento|abre|fecha|check[- ]?in|check[- ]?out)\\b/i],\n    [\"servicos_regras\", /\\b(creche|hotel|hospedagem|adaptação|adaptacao|adestramento|transporte|buscar|levar|pegar|trazer|vacina|antipulgas|vermifug)\\b/i],\n    [\"racas_restricoes\", /\\b(raça|raca|porte|pitbull|rottweiler|akita|american bully|macho não castrado|castrado|cio|idoso)\\b/i],\n    [\"pagamento\", /\\b(pix|pagamento|paguei|comprovante|boleto|depósito|deposito|transferência|transferencia)\\b/i]\n  ];\n\n  const matched = checks\n    .filter(([, regex]) => regex.test(value))\n    .map(([name]) => name);\n\n  return {\n    needs_business_knowledge: matched.length > 0,\n    intents: matched\n  };\n}\n\nconst baseMessage = asObject(entrada.message);\nconst interpretedMessage = extractInterpretedMessage(interpretacao);\n\nconst interpretedContent = clean(interpretedMessage.content, true);\nconst baseContent = clean(baseMessage.content, true);\nconst baseContentForAi = clean(baseMessage.content_for_ai, true);\n\nconst finalContent = firstFilled(\n  interpretedContent,\n  baseContent,\n  baseContentForAi,\n  entrada.chatInput\n);\n\nconst message = {\n  ...baseMessage,\n  ...interpretedMessage,\n  content: finalContent,\n  content_raw: baseContent,\n  content_before_interpretation: baseContent,\n  content_for_ai: finalContent,\n  has_text: Boolean(finalContent),\n  has_attachment: baseMessage.has_attachment === true,\n  content_type: baseMessage.content_type || baseMessage.message_modality || interpretedMessage.content_type || \"text_only\",\n  message_modality: baseMessage.message_modality || baseMessage.content_type || interpretedMessage.message_modality || \"text_only\",\n  data_url: baseMessage.data_url || interpretedMessage.data_url || null,\n  media_type: baseMessage.media_type || interpretedMessage.media_type || \"\",\n  interpretation: {\n    used: Boolean(interpretedContent),\n    source_node: \"Interpreta Audio ou Texto\",\n    raw_output: interpretacao\n  }\n};\n\nconst historyText = clean(historico.history_text, true);\nconst historyForBruna = clean(historico.history_for_agent, true);\nconst knowledge = readKnowledgeContext();\nconst businessNeed = classifyBusinessKnowledgeNeed(finalContent);\n\nconst knowledgeQuery = [\n  finalContent,\n  businessNeed.intents.length ? `Intenções: ${businessNeed.intents.join(\", \")}` : \"\",\n  historyForBruna ? `Contexto recente: ${historyForBruna.split(\"\\n\").slice(-6).join(\" | \")}` : \"\"\n].filter(Boolean).join(\"\\n\");\n\nconst agent = {\n  ...asObject(entrada.agent),\n  ...asObject($json.agent),\n  history_text: historyText,\n  history_for_agent: historyForBruna,\n  history_source: \"chatwoot_subworkflow\",\n  current_message_after_interpretation: finalContent,\n  needs_business_knowledge: businessNeed.needs_business_knowledge,\n  business_knowledge_intents: businessNeed.intents,\n  knowledge_query: knowledgeQuery,\n  knowledge_context: knowledge.context,\n  knowledge_source_node: knowledge.source_node,\n  knowledge_rows_count: knowledge.rows_count\n};\n\nconst aiInput = [\n  \"HISTÓRICO RECENTE DA CONVERSA:\",\n  historyForBruna || \"Sem histórico recente disponível.\",\n  \"\",\n  \"MENSAGEM ATUAL DO LEAD:\",\n  finalContent || \"[Mensagem sem texto útil]\",\n  \"\",\n  \"INTERPRETAÇÃO DA MENSAGEM ATUAL:\",\n  `Modalidade: ${message.message_modality || \"unknown\"}`,\n  `Tem anexo: ${message.has_attachment ? \"sim\" : \"não\"}`,\n  message.data_url ? `URL do anexo: ${message.data_url}` : \"\",\n  \"\",\n  \"NECESSIDADE DE BASE DE CONHECIMENTO:\",\n  businessNeed.needs_business_knowledge ? \"sim\" : \"não\",\n  businessNeed.intents.length ? `Assuntos detectados: ${businessNeed.intents.join(\", \")}` : \"Assuntos detectados: nenhum\",\n  \"\",\n  \"BASE DE CONHECIMENTO RECUPERADA:\",\n  knowledge.context || \"Nenhum trecho de base de conhecimento foi recuperado para esta mensagem.\",\n  \"\",\n  \"DADOS TÉCNICOS DO CONTATO:\",\n  `Telefone: ${entrada.lead?.phone || \"não informado\"}`,\n  \"\",\n  \"OBSERVAÇÃO IMPORTANTE:\",\n  \"Não use o nome de perfil do WhatsApp/Chatwoot como nome confirmado da pessoa.\",\n  \"O nome da pessoa só deve ser considerado confirmado se aparecer claramente no histórico ou na mensagem atual.\",\n  \"\",\n  \"REGRAS PARA ESTA RESPOSTA:\",\n  \"Use o histórico da conversa como fonte principal para o que já foi dito.\",\n  \"Use a BASE DE CONHECIMENTO RECUPERADA como fonte principal para fatos de negócio, como endereço, unidade, preço, horário, transporte, regras, serviços, avaliação, hotel e creche.\",\n  \"Se o lead fizer uma pergunta objetiva de negócio, responda essa pergunta antes de continuar a qualificação.\",\n  \"Se a pergunta exigir fato de negócio e não houver base recuperada relevante, não chute; encaminhe para humano com motivo_handoff='duvida_operacional'.\",\n  \"Não pergunte sobre rotina diária do cão.\",\n  \"Se precisar falar de comportamento, pergunte apenas como o cão costuma ficar com outros cães.\",\n  \"Classifique sempre status_atendimento, proxima_acao e labels_sugeridas.\",\n  \"Responda somente no JSON obrigatório do system prompt.\"\n].filter(Boolean).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      action: entrada.action || \"sendMessage\",\n      sessionId: entrada.sessionId || \"\",\n      chatInput: finalContent,\n      lead: entrada.lead || {},\n      message,\n      conversation: entrada.conversation || {},\n      chatwoot: entrada.chatwoot || {},\n      routing: entrada.routing || {},\n      agent,\n      ai_input: aiInput,\n      debug: {\n        pre_bruna_version: PRE_BRUNA_VERSION,\n        base_message: baseMessage,\n        interpreted_message: interpretedMessage,\n        history_messages_returned: historico.messages_returned || 0,\n        history_found_total: historico.messages_found_total || 0,\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n        knowledge_source_node: knowledge.source_node,\n        knowledge_rows_count: knowledge.rows_count,\n        has_knowledge_context: Boolean(knowledge.context)\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,-1216],"id":"7328323c-6375-4d93-8597-68f8dcaca190","name":"NORMALIZA PRE BRUNA"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  id AS lead_id,\n  phone,\n  chat_history_uuid\nFROM bruna_memoria_leads\nWHERE phone = '{{ String($('Normaliza Entrada Chatwoot').first().json.lead.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4640,-928],"id":"f81d49d9-c598-4a1a-ae3e-00eceb57971b","name":"Buscar Lead ID Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bruna_historico_leads (\n  lead_id,\n  phone,\n  account_id_chatwoot,\n  contact_id_chatwoot,\n  conversation_id_chatwoot,\n  id_mensagem_origem,\n  tipo_registro,\n  origem_registro,\n  status_lead_anterior,\n  status_lead_novo,\n  ultima_intencao_anterior,\n  ultima_intencao_nova,\n  evento_sistema,\n  mensagem_texto,\n  anexo_referencia,\n  payload_bruto_json,\n  run_mode,\n  prompt_version,\n  guard_aprovado,\n  guard_erros_json,\n  qa_tags_json,\n  motivo_bloqueio_envio\n)\nVALUES\n(\n  {{ Number($json.lead_id || 0) }},\n  '{{ String($json.phone || $('Normaliza Saída Chatwoot').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) || 'NULL' }},\n  '{{ String($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || $('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}_lead',\n  'mensagem_lead',\n  'chatwoot',\n  NULL,\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  NULL,\n  NULL,\n  'message_created',\n  '{{ String($('Normaliza Saída Chatwoot').first().json.message_in?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'direction', 'in',\n    'sessionId', '{{ String($('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'account_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) }},\n    'contact_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) }},\n    'conversation_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) }},\n    'message_id_chatwoot', {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || 0) }},\n    'created_at', '{{ String($('Normaliza Saída Chatwoot').first().json.message_in?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'production',\n  'bruna_chatwoot_v1',\n  1,\n  NULL,\n  JSON_ARRAY('chatwoot', 'mensagem_lead'),\n  NULL\n),\n(\n  {{ Number($json.lead_id || 0) }},\n  '{{ String($json.phone || $('Normaliza Saída Chatwoot').first().json.lead?.phone || \"\").replace(/'/g, \"''\").slice(0, 20) }}',\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.account_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.contact_id || 0) || 'NULL' }},\n  {{ Number($('Normaliza Saída Chatwoot').first().json.chatwoot?.conversation_id || 0) || 'NULL' }},\n  '{{ String($('Normaliza Saída Chatwoot').first().json.chatwoot?.message_id || $('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}_bruna_{{ Date.now() }}',\n  'mensagem_bruna',\n  'n8n',\n  NULL,\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"REPASSAR_HUMANO\" : \"EM_ATENDIMENTO\" }}',\n  NULL,\n  '{{ String($('Normaliza Saída Chatwoot').first().json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n  '{{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? \"handoff_humano\" : \"resposta_automatica\" }}',\n  '{{ String($('Normaliza Saída Chatwoot').first().json.reply?.content || \"\").replace(/'/g, \"''\") }}',\n  NULL,\n  JSON_OBJECT(\n    'flow', 'auau_bruna_chatwoot',\n    'direction', 'out',\n    'sessionId', '{{ String($('Normaliza Saída Chatwoot').first().json.sessionId || \"\").replace(/'/g, \"''\") }}',\n    'channel', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.channel || \"chatwoot_whatsapp\").replace(/'/g, \"''\") }}',\n    'route_action', '{{ String($('Normaliza Saída Chatwoot').first().json.routing?.route_action || \"\").replace(/'/g, \"''\") }}',\n    'handoff', {{ $('Normaliza Saída Chatwoot').first().json.handoff?.should_handoff ? 1 : 0 }},\n    'motivo_handoff', '{{ String($('Normaliza Saída Chatwoot').first().json.handoff?.motivo || \"\").replace(/'/g, \"''\") }}',\n    'created_at', '{{ String($('Normaliza Saída Chatwoot').first().json.reply?.created_at || \"\").replace(/'/g, \"''\") }}'\n  ),\n  'production',\n  'bruna_chatwoot_v1',\n  1,\n  NULL,\n  JSON_ARRAY('chatwoot', 'mensagem_bruna'),\n  NULL\n);","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4864,-928],"id":"7c8653e2-3349-411a-8955-7935686d61a5","name":"Inserir Histórico Chatwoot","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"EMewYPhcayeOVOjG","name":"MySQL auau_auaucrechecanina"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e4952312-cda5-452c-8d4b-430c0fb5cdbe","leftValue":"={{ $json.should_reply }}","rightValue":"={{ 0 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3968,-1216],"id":"b26d045d-effb-4124-9e95-6bcbc0d594ef","name":"Devo responder?"},{"parameters":{"workflowId":{"__rl":true,"value":"V8SLWO94n9dKYUMZ","mode":"list","cachedResultUrl":"/workflow/V8SLWO94n9dKYUMZ","cachedResultName":"[SDR] [CHATWOOT] Verifica Última Mensagem"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message_id":"={{ $json.chatwoot.message_id }}","conversation_id":"={{ $json.chatwoot.conversation_id }}","account_id":"={{ $json.chatwoot.account_id }}"},"matchingColumns":["_firstItem","conversation_id_firstItem","message_id_firstItem"],"schema":[{"id":"message_id","displayName":"message_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3744,-1216],"name":"Verifica Última Mensagem","id":"e21c1e2c-6390-4e6c-8a95-f8c4e531de00"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,-1120],"id":"df650882-e401-4b36-b5fd-4da4f6844748","name":"60s","webhookId":"dc560f98-fd86-409b-9409-f030085fcf39"},{"parameters":{"assignments":{"assignments":[{"id":"3fdc5127-1a50-4481-9a62-dc6318ab53ac","name":"action","value":"={{ $('Normaliza Saída Chatwoot').item.json.action }}","type":"string"},{"id":"2cccd6bb-5e28-429a-aebd-767d796787da","name":"sessionId","value":"={{ $('Normaliza Saída Chatwoot').item.json.sessionId }}","type":"string"},{"id":"61f75f32-558f-4ca7-af72-3a9cbfb0329f","name":"lead","value":"={{ $('Normaliza Saída Chatwoot').item.json.lead }}","type":"object"},{"id":"0c4bb87f-658f-4489-b326-20554f5d7b09","name":"message_in","value":"={{ $('Normaliza Saída Chatwoot').item.json.message_in }}","type":"object"},{"id":"983033e9-a681-446e-86a1-717fb4873370","name":"conversation","value":"={{ $('Normaliza Saída Chatwoot').item.json.conversation }}","type":"object"},{"id":"3258f2c4-a477-4d12-b92a-5f6542c5e981","name":"chatwoot","value":"={{ $('Normaliza Saída Chatwoot').item.json.chatwoot }}","type":"object"},{"id":"ff7a81a5-ca02-4986-9198-0dc775881366","name":"reply","value":"={{ $('Normaliza Saída Chatwoot').item.json.reply }}","type":"object"},{"id":"2c1804f1-bd78-42f6-b2f1-d5c5373d90ba","name":"bruna_result","value":"={{ $('Normaliza Saída Chatwoot').item.json.bruna_result }}","type":"object"},{"id":"dd2096b5-9349-4fbf-a512-ace5e11d24c1","name":"handoff","value":"={{ $('Normaliza Saída Chatwoot').item.json.handoff }}","type":"object"},{"id":"5fbfb2c3-3a26-4355-aac8-c982ab000590","name":"routing","value":"={{ $('Normaliza Saída Chatwoot').item.json.routing }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4192,-1216],"id":"b8136033-6b9c-45ef-8f1e-141aa6d5eb42","name":"RESPONDER"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"417394aa-1770-4b04-8afb-c5c999ae0481","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}},{"id":"f00ae7e7-8f2e-4171-8f20-d4a6e3b9b807","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"ea83fec4-b29c-42b7-b456-0b6c3734cbbe","leftValue":"={{ $json.body.sender.name }}","rightValue":"(GROUP)","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-416,-1024],"id":"76bcee26-4cc6-4eab-af7f-bff8a19beab4","name":"message_created"},{"parameters":{"url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Webhook').item.json.body.account.id }}/conversations/{{ $('Webhook').item.json.body.conversation.id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[32,-1024],"id":"47ac569c-4300-4afc-9b6a-d541b4ade3d2","name":"Lista Etiquetas","credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"239dbed1-6807-4cfa-98e6-58fd9a2ee477","leftValue":"={{ $json.message.toLowerCase() }}","rightValue":"={{ $json.frases_chatbot.toLowerCase().split('|').map(f => f.trim()).join('|') }}","operator":{"type":"string","operation":"regex"}},{"id":"eb3f9eb7-7d96-4998-9ae4-a401d44ff849","leftValue":"={{ $json.labels_atual.toJsonString() }}","rightValue":" 50","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[256,-1312],"id":"f99430c1-539e-470b-9843-62c1d12c1f5c","name":"Mensagem de início"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[928,-1312],"id":"b4f29886-a833-4299-bd92-b70ad57aba11","name":"1s","webhookId":"a33d7d19-e5ed-4318-8fed-4ee2362d7d6e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"46eb0ea6-838d-47f5-b554-86d6935b7a9c"}],"combinator":"and"},"renameOutput":true,"outputKey":"ADICIONA BRUNA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d8c9b564-b1cd-43e0-a600-1393dff50f62","leftValue":true,"rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROCESSA BRUNA"}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-192,-1040],"id":"d135de51-0ece-4086-a5e6-b69348ff817e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"a47ad960-d13d-4978-b576-82a3359838ba","name":"frases_chatbot","value":"={{     \"vim do formulário no site\"\n  +\"|\"+\"vim do formulario\" \n  +\"|\"+\"vim do formulário\"\n  +\"|\"+\"Preenchi seu formulário\"\n\n  +\"|\"+\"vim do anúncio\"\n  +\"|\"+\"vim do anunci\" \n  +\"|\"+\"vim do anun\" \n  +\"|\"+\"vim pelo anuncio\" \n  +\"|\"+\"cliquei no anuncio\" \n  +\"|\"+\"anuncio\" \n  +\"|\"+\"anúncio\" \n\n  +\"|\"+\"vim do link da bio\"\n  +\"|\"+\"vim do instagram\"\n  +\"|\"+\"vim da bio\"\n\n  +\"|\"+\"vim do google\"\n\n  +\"|\"+\"vim do site\" \n\n  +\"|\"+\"interesse e queria mais informações, por favor\" \n  +\"|\"+\"poderia me passar mais informações sobre a creche canina\" \n\n  + \"\" }}","type":"string"},{"id":"f98c0d6a-fdde-495c-8baa-05a8f263cd3c","name":"message","value":"={{ $json.body.content }}","type":"string"},{"id":"00434f05-fd5c-4d19-ba8f-81be66f360c1","name":"account_id","value":"={{ $('Webhook').item.json.body.account.id }}","type":"number"},{"id":"f451c7a0-97a3-4a08-994d-4d5f40f5a737","name":"contact_id","value":"={{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}","type":"number"},{"id":"d2fbcb7a-7d02-4551-aad4-c16308ef3f6f","name":"conversation_id","value":"={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}","type":"number"},{"id":"aacb73e8-eb1a-423b-ac42-78c666c2f89b","name":"labels_new","value":"={{ (() => {\n  const labelsAtuais = Array.isArray($json.chatwoot?.labels) ? $json.chatwoot.labels : [];\n  const ultimaIntencao = String($json.inputs?.ultima_intencao || '');\n\n  // RETIRAR LABELS\n  const labels = labelsAtuais.filter(label =>\n    ![\n      ''\n    ].includes(label)\n  );\n\n  // ADICIONAR LABELS\n  labels.push('01-bruna-atendimento');\n\n  return [...new Set(labels)];\n})() }}","type":"array"},{"id":"f9e3b541-2da1-4365-84b2-25975103869d","name":"labels_atual","value":"={{ $json.body.conversation.labels }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-1312],"id":"4ccf018f-8a41-42ef-97f0-491cad29c3e4","name":"Verifica mensagem"},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Verifica mensagem').item.json.account_id }}/conversations/{{ $('Verifica mensagem').item.json.conversation_id }}/labels","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{\nJSON.stringify((() => {\n  function normalizeLabels(value) {\n    return (Array.isArray(value) ? value : [value])\n      .flat(Infinity)\n      .map(label => {\n        if (typeof label === 'string') return label;\n\n        if (label && typeof label === 'object') {\n          return label.title || label.name || label.value || label.label || '';\n        }\n\n        return '';\n      })\n      .map(label => String(label).trim())\n      .filter(Boolean);\n  }\n\n  const labelsAtuais = normalizeLabels(\n    $('Webhook').first().json.body?.conversation?.labels || []\n  );\n\n  const labelsNovas = normalizeLabels(\n    $json.labels_new || []\n  );\n\n  const labels = [...new Set([\n    ...labelsAtuais,\n    ...labelsNovas,\n  ])];\n\n  return {\n    labels,\n  };\n})())\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[480,-1312],"id":"e6d52e7c-8034-42fd-91c1-9e811fdb6350","name":"add_labels início","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}}},{"parameters":{"method":"POST","url":"={{ $vars.CHATWOOT_API_URL }}/{{ $('Verifica mensagem').item.json.account_id }}/conversations/{{ $('Verifica mensagem').item.json.conversation_id }}/assignments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"team_id\": 12\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[704,-1312],"id":"5da0e62e-790e-4234-9cd3-74eadbda06a2","name":"Assign Time Bruna","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yQoDBf9JAmS15Rwh","name":"[CTX] Chatwoot"}},"onError":"continueRegularOutput"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-1024],"id":"7dce49bf-18ae-44d5-ab18-fc9b55a7dab0","name":"Webhook"},{"parameters":{"errorMessage":"FALSE"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[32,-832],"id":"052ca005-3630-46a9-9c0e-31370b7157ea","name":"Stop and Error1"},{"parameters":{"jsCode":"function readNode(name) {\n  try {\n    return $(name).first().json || {};\n  } catch (error) {\n    return {};\n  }\n}\n\nfunction clean(value, preserveNewLines = false) {\n  let text = '';\n\n  if (value === undefined || value === null) {\n    text = '';\n  } else if (typeof value === 'object') {\n    try {\n      text = JSON.stringify(value);\n    } catch (error) {\n      text = '';\n    }\n  } else {\n    text = String(value);\n  }\n\n  text = text\n    .replace(/\\[object Object\\]/gi, '')\n    .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, ' ')\n    .replace(/\\uFFFD/g, ' ')\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n');\n\n  if (preserveNewLines) {\n    return text\n      .split('\\n')\n      .map(line => line.replace(/[ \\t]+/g, ' ').trim())\n      .filter(Boolean)\n      .join('\\n')\n      .trim();\n  }\n\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\nfunction asObject(value) {\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n}\n\nfunction firstFilled(...values) {\n  for (const value of values) {\n    const text = clean(value, true);\n    if (text) return text;\n  }\n  return '';\n}\n\nfunction extractInterpretedMessage(data) {\n  const msg = data?.message;\n\n  if (typeof msg === 'string') {\n    return {\n      content: clean(msg, true),\n    };\n  }\n\n  if (msg && typeof msg === 'object') {\n    return {\n      ...msg,\n      content: firstFilled(\n        msg.content,\n        msg.text,\n        msg.transcription,\n        msg.transcribed_text,\n        msg.interpreted_message,\n        msg.message\n      ),\n    };\n  }\n\n  return {\n    content: firstFilled(\n      data?.content,\n      data?.text,\n      data?.transcription,\n      data?.transcribed_text,\n      data?.interpreted_message,\n      data?.output,\n      data?.message\n    ),\n  };\n}\n\nfunction classifyBusinessKnowledgeNeed(text) {\n  const value = clean(text)\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n\n  const looksLikeQuestion =\n    /[?？]/.test(value) ||\n    /\\b(onde|qual|quais|quanto|quando|como|pode|posso|vocês|voces|tem|aceita|funciona|fica|abre|fecha|custa|valor|preço|preco)\\b/i.test(value);\n  \n  const looksLikePetDataOnly =\n    !looksLikeQuestion &&\n    /\\b(anos?|meses?|macho|fêmea|femea|castrado|castrada|não castrado|nao castrado|raça|raca|porte|pequeno|médio|medio|grande|dachshund|shihtzu|shih tzu|spitz|vira-lata|srd)\\b/i.test(value);\n  \n  if (looksLikePetDataOnly) {\n    return {\n      needs_business_knowledge: false,\n      intents: [],\n    };\n  }\n\n  const checks = [\n    ['localizacao_endereco', /\\b(onde fica|onde vocês ficam|localiza|localização|endereço|bairro|cidade|unidade|patamares|amaralina|pituba|salvador)\\b/i],\n    ['preco_valor', /\\b(preco|valor|diaria|mensal|plano|pacote|quanto custa|custa quanto|taxa|avaliacao)\\b/i],\n    ['horario_funcionamento', /\\b(horário|horario|funciona|funcionamento|abre|fecha|check[- ]?in|check[- ]?out)\\b/i],\n    ['servicos_regras', /\\b(creche|hotel|hospedagem|adaptação|adaptacao|adestramento|transporte|buscar|levar|pegar|trazer|vacina|antipulgas|vermifug)\\b/i],\n    ['racas_restricoes', /\\b(raça|raca|porte|pitbull|rottweiler|akita|american bully|macho não castrado|castrado|cio|idoso)\\b/i],\n    ['pagamento', /\\b(pix|pagamento|paguei|comprovante|boleto|depósito|deposito|transferência|transferencia)\\b/i],\n  ];\n\n  const intents = checks\n    .filter(([, regex]) => regex.test(value))\n    .map(([name]) => name);\n\n  return {\n    needs_business_knowledge: intents.length > 0,\n    intents,\n  };\n}\n\nconst entrada = readNode('Normaliza Entrada Chatwoot');\nconst interpretacao = readNode('Interpreta Audio ou Texto');\nconst historico = readNode('Busca Histórico Chatwoot');\n\nconst baseMessage = asObject(entrada.message || $json.message);\nconst interpretedMessage = extractInterpretedMessage(interpretacao);\n\nconst baseContent = clean(baseMessage.content, true);\nconst baseContentForAi = clean(baseMessage.content_for_ai, true);\nconst interpretedContent = clean(interpretedMessage.content, true);\n\nconst finalContent = firstFilled(\n  interpretedContent,\n  baseContent,\n  baseContentForAi,\n  entrada.chatInput,\n  $json.chatInput\n);\n\nconst message = {\n  ...baseMessage,\n  ...interpretedMessage,\n  content: finalContent,\n  content_raw: baseContent,\n  content_before_interpretation: baseContent,\n  content_for_ai: finalContent,\n  has_text: Boolean(finalContent),\n  has_attachment: baseMessage.has_attachment === true,\n  content_type: baseMessage.content_type || baseMessage.message_modality || interpretedMessage.content_type || interpretedMessage.message_modality || 'text_only',\n  message_modality: baseMessage.message_modality || baseMessage.content_type || interpretedMessage.message_modality || interpretedMessage.content_type || 'text_only',\n  data_url: baseMessage.data_url || interpretedMessage.data_url || null,\n  media_type: baseMessage.media_type || interpretedMessage.media_type || '',\n};\n\nconst historyText = clean(historico.history_text || $json.agent?.history_text, true);\nconst historyForBruna = clean(historico.history_for_agent || $json.agent?.history_for_agent, true);\n\nconst currentForIntent = [\n  finalContent,\n  baseContent && baseContent !== finalContent ? baseContent : '',\n  interpretedContent && interpretedContent !== finalContent ? interpretedContent : '',\n].filter(Boolean).join('\\n');\n\nconst businessNeed = classifyBusinessKnowledgeNeed(currentForIntent);\n\nconst queryParts = businessNeed.needs_business_knowledge\n  ? [\n      finalContent ? `Mensagem atual: ${finalContent}` : '',\n      baseContent && baseContent !== finalContent ? `Texto/legenda original: ${baseContent}` : '',\n      interpretedContent && interpretedContent !== finalContent ? `Interpretação da mídia: ${interpretedContent}` : '',\n      businessNeed.intents.length ? `Assuntos detectados: ${businessNeed.intents.join(', ')}` : '',\n      historyForBruna ? `Contexto recente curto: ${historyForBruna.split('\\n').slice(-5).join(' | ')}` : '',\n    ]\n  : [\n      finalContent ? `Mensagem atual: ${finalContent}` : '',\n    ];\n\nconst baseSearchQuery = queryParts\n  .filter(Boolean)\n  .map(value => clean(value, true))\n  .filter(Boolean)\n  .join('\\n\\n')\n  .slice(0, 2500);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      ...entrada,\n      message,\n      agent: {\n        ...asObject(entrada.agent),\n        ...asObject($json.agent),\n        history_text: historyText,\n        history_for_agent: historyForBruna,\n        current_message_after_interpretation: finalContent,\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n        knowledge_query: baseSearchQuery,\n      },\n      chatInput: finalContent,\n      should_search_knowledge_base: businessNeed.needs_business_knowledge,\n      base_search_query: businessNeed.needs_business_knowledge\n        ? baseSearchQuery\n        : '',\n      debug: {\n        ...asObject($json.debug),\n        monta_query_base_version: 'v1_merge_normaliza_interpretacao_historico',\n        base_content: baseContent,\n        interpreted_content: interpretedContent,\n        final_content: finalContent,\n        has_history_for_agent: Boolean(historyForBruna),\n        needs_business_knowledge: businessNeed.needs_business_knowledge,\n        business_knowledge_intents: businessNeed.intents,\n      },\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-1216],"id":"bbc861e6-2e82-4294-af90-11877ba31b57","name":"Monta Query Base Conhecimento"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-large\",\n  \"input\": {{ JSON.stringify(String($json.base_search_query || \"AuAu Creche Canina informações gerais\").slice(0, 4000)) }},\n  \"dimensions\": 1536\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2272,-1280],"id":"a40c65fc-d949-4fb4-a819-a978deecced9","name":"Gera Embedding Base Conhecimento","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"}}},{"parameters":{"method":"POST","url":"https://supbase.convertix.app/rest/v1/rpc/auau_bruna_match_documents","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  query_embedding: $('Gera Embedding Base Conhecimento').item.json.data[0].embedding,\n  match_count: 6,\n  filter: {\n    ativo: true\n  }\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2496,-1280],"id":"860d336c-0b91-4b1e-bb21-b985b073f687","name":"Busca Base Conhecimento","credentials":{"openAiApi":{"id":"kbmnhGOe6IHQ2rnz","name":"OpenAI AUAU Bruna"},"supabaseApi":{"id":"bdmHgcMIBu3K1MAR","name":"supabase.convertix.app SERVICE_KEY"}}},{"parameters":{"jsCode":"const original = $('Monta Query Base Conhecimento').item.json;\nconst docs = $input.all().map(item => item.json);\n\nconst knowledgeBaseText = docs\n  .filter(doc => doc.content)\n  .map((doc, index) => {\n    const metadata = doc.metadata || {};\n    const tipo = metadata.tipo_documento || 'documento';\n    const unidade = metadata.unidade || 'não informado';\n    const arquivo = metadata.arquivo_origem || 'origem não informada';\n    const similarity = typeof doc.similarity === 'number'\n      ? ` | similaridade: ${doc.similarity.toFixed(3)}`\n      : '';\n\n    return [\n      `${index + 1}. [${tipo} | ${unidade} | ${arquivo}${similarity}]`,\n      String(doc.content).trim(),\n    ].join('\\n');\n  })\n  .join('\\n\\n---\\n\\n');\n\nreturn [\n  {\n    json: {\n      ...original,\n      agent: {\n        ...(original.agent || {}),\n        knowledge_base_text: knowledgeBaseText || 'Nenhuma informação relevante encontrada na base de conhecimento.',\n        knowledge_base_count: docs.length,\n        knowledge_base_strategy: 'supabase_rpc_vector_search',\n      },\n      base_conhecimento_docs: docs.map(doc => ({\n        id: doc.id,\n        content: doc.content,\n        metadata: doc.metadata,\n        similarity: doc.similarity,\n      })),\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,-1280],"id":"06b85a27-732b-4c13-a404-da4513ec6a12","name":"Formata Base Conhecimento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b16aa69e-39be-4fb7-8237-2e98c7cfb612","leftValue":"={{ $json.should_search_knowledge_base }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2048,-1216],"id":"1b2048ff-26e5-49c6-80f5-f87040ef834a","name":"If"}],"connections":{"Webhook Chatwoot":{"main":[[{"node":"Webhook","type":"main","index":0}]]},"Normaliza Entrada Chatwoot":{"main":[[{"node":"Evento processavel?","type":"main","index":0}]]},"Evento processavel?":{"main":[[{"node":"60s","type":"main","index":0}],[{"node":"Sem resposta2","type":"main","index":0}]]},"Bruna Auau":{"main":[[{"node":"Normaliza Saída Chatwoot","type":"main","index":0}]]},"Normaliza Saída Chatwoot":{"main":[[{"node":"Verifica Última Mensagem","type":"main","index":0}]]},"Handoff?":{"main":[[{"node":"Adicionar Labels Handoff","type":"main","index":0},{"node":"Nota Interna Handoff","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Bruna Auau","type":"ai_languageModel","index":0}]]},"Devo responder?1":{"main":[[{"node":"Interpreta Audio ou Texto","type":"main","index":0}],[{"node":"Sem resposta1","type":"main","index":0}]]},"Verifica Última Mensagem1":{"main":[[{"node":"Devo responder?1","type":"main","index":0}]]},"Busca Histórico Chatwoot":{"main":[[{"node":"Monta Query Base Conhecimento","type":"main","index":0}]]},"Interpreta Audio ou Texto":{"main":[[{"node":"Busca Histórico Chatwoot","type":"main","index":0}]]},"NORMALIZA PRE BRUNA":{"main":[[{"node":"Bruna Auau","type":"main","index":0}]]},"Buscar Lead ID Chatwoot":{"main":[[{"node":"Inserir Histórico Chatwoot","type":"main","index":0}],[{"node":"Inserir Histórico Chatwoot","type":"main","index":0}]]},"Upsert Memória Chatwoot":{"main":[[{"node":"Buscar Lead ID Chatwoot","type":"main","index":0}],[{"node":"Buscar Lead ID Chatwoot","type":"main","index":0}]]},"Verifica Última Mensagem":{"main":[[{"node":"Devo responder?","type":"main","index":0}]]},"Devo responder?":{"main":[[{"node":"RESPONDER","type":"main","index":0}]]},"60s":{"main":[[{"node":"Verifica Última Mensagem1","type":"main","index":0}]]},"RESPONDER":{"main":[[{"node":"Enviar Resposta Chatwoot","type":"main","index":0},{"node":"Handoff?","type":"main","index":0},{"node":"Upsert Memória Chatwoot","type":"main","index":0}]]},"message_created":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Mensagem de início":{"main":[[{"node":"add_labels início","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Verifica mensagem","type":"main","index":0}],[{"node":"Lista Etiquetas","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"Verifica mensagem":{"main":[[{"node":"Mensagem de início","type":"main","index":0}]]},"add_labels início":{"main":[[{"node":"Assign Time Bruna","type":"main","index":0}]]},"Assign Time Bruna":{"main":[[{"node":"1s","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"message_created","type":"main","index":0}]]},"Lista Etiquetas":{"main":[[{"node":"Normaliza Entrada Chatwoot","type":"main","index":0}]]},"Monta Query Base Conhecimento":{"main":[[{"node":"If","type":"main","index":0}]]},"Gera Embedding Base Conhecimento":{"main":[[{"node":"Busca Base Conhecimento","type":"main","index":0}]]},"Busca Base Conhecimento":{"main":[[{"node":"Formata Base Conhecimento","type":"main","index":0}]]},"If":{"main":[[{"node":"Gera Embedding Base Conhecimento","type":"main","index":0}],[{"node":"NORMALIZA PRE BRUNA","type":"main","index":0}]]},"Formata Base Conhecimento":{"main":[[{"node":"NORMALIZA PRE BRUNA","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Convertix Digital","name":"Version 1ca57257","description":"","autosaved":true},"tags":[]}