workflows/yfLL5JvuA2Tvf5KC.json
{"updatedAt":"2026-01-27T15:53:15.204Z","createdAt":"2026-01-06T04:13:40.019Z","id":"yfLL5JvuA2Tvf5KC","name":"[CTX] [TINTIM] Fluxo Lead Subida Arquivo (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"binaryPropertyName":"=Arquivo_csv_","options":{"delimiter":",","headerRow":true,"includeEmptyCells":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,-368],"id":"6af842fa-eebf-484b-9ea4-6c88c9748052","name":"Extract from File","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"ttconversa_criada","mode":"name"},"columnToMatchOn":"=datahoraphonestatus","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1120,-272],"id":"eabb93ee-2c33-4d5c-b674-db95756d66a1","name":"MySQL: TTconversa_criada1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"CJcllN2p3F1aryzr","name":"MySQL TINTIM: Form"}}},{"parameters":{"assignments":{"assignments":[{"id":"6fcb0e98-5f91-47c1-8d03-beef7818a54e","name":"datahoraphonestatus","value":"={{ $json['Data da Primeira Mensagem'] }}{{ $json['WhatsApp do Contato'] }}{{ $json['Etapa da Jornada'] }}","type":"string"},{"id":"event_type","name":"event_type","value":"lead.create","type":"string"},{"id":"origem","name":"origem","value":"={{ $json.Origem.replaceAll(\" via Link Rastreável\",\"\")\n.replaceAll(\"Link Rastreável\",\"Outras\")\n.replaceAll(\"Não Rastreada\",\"Não rastreada\")\n}}","type":"string"},{"id":"codigo_da_conta","name":"codigo_da_conta","value":"={{ $json['Código da Conta'] }}","type":"string"},{"id":"nome_da_conta","name":"nome_da_conta","value":"={{ $json['Nome da Conta'] }}","type":"string"},{"id":"conta_ativa","name":"conta_ativa","value":"={{ $json['Conta ativa?'] }}","type":"string"},{"id":"facebook_pixel","name":"facebook_pixel","value":"={{ $json['Facebook Pixel'] }}","type":"string"},{"id":"nome_do_contato","name":"nome_do_contato","value":"={{ $json['Nome do Contato'] }}","type":"string"},{"id":"whatsapp_do_contato","name":"whatsapp_do_contato","value":"={{ $json['WhatsApp do Contato'] }}","type":"string"},{"id":"etapa_da_jornada","name":"etapa_da_jornada","value":"={{ $json['Etapa da Jornada'] }}","type":"string"},{"id":"data_da_primeira_mensagem","name":"data_da_primeira_mensagem","value":"={{ $json['Data da Primeira Mensagem'] }}","type":"string"},{"id":"data_da_ultima_mensagem","name":"data_da_ultima_mensagem","value":"={{ $json['Data da Última Mensagem'] }}","type":"string"},{"id":"valor_da_venda","name":"valor_da_venda","value":"={{ $json['Valor da Venda'] }}","type":"string"},{"id":"link_rastreavel","name":"link_rastreavel","value":"={{ $json['Link Rastreável'] }}","type":"string"},{"id":"id_da_campanha_de_anuncio","name":"id_da_campanha_de_anuncio","value":"={{ $json['ID da Campanha de Anúncio'] }}","type":"string"},{"id":"id_do_conjunto_de_anuncio","name":"id_do_conjunto_de_anuncio","value":"={{ $json['ID do Conjunto de Anúncio'] }}","type":"string"},{"id":"id_do_anuncio","name":"id_do_anuncio","value":"={{ $json['ID do Anúncio'] }}","type":"string"},{"id":"nome_da_campanha_de_anuncio","name":"nome_da_campanha_de_anuncio","value":"={{ $json['Nome da Campanha de Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"nome_do_conjunto_de_anuncio","name":"nome_do_conjunto_de_anuncio","value":"={{ $json['Nome do Conjunto de Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"nome_do_anuncio","name":"nome_do_anuncio","value":"={{ $json['Nome do Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"utm_source","name":"utm_source","value":"={{ $json.utm_source?.urlDecode() || null }}","type":"string"},{"id":"utm_medium","name":"utm_medium","value":"={{ $json.utm_medium?.urlDecode() || null }}","type":"string"},{"id":"utm_campaign","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"utm_term","name":"utm_term","value":"={{ $json.utm_term?.urlDecode() || null }}","type":"string"},{"id":"utm_content","name":"utm_content","value":"={{ $json.utm_content?.urlDecode() || null }}","type":"string"},{"id":"utm_publico","name":"utm_publico","value":"={{ $json.utm_publico?.urlDecode() || null }}","type":"string"},{"id":"utm_url","name":"utm_url","value":"={{ $json.utm_url?.urlDecode() || null }}","type":"string"},{"id":"fbclid","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"tintim_fbid","name":"tintim_fbid","value":"={{ $json.tintim_fbid }}","type":"string"},{"id":"hsctatracking","name":"hsctatracking","value":"={{ $json.hsCtaTracking?.urlDecode() || null }}","type":"string"},{"id":"utm_id","name":"utm_id","value":"={{ $json.adid }}","type":"string"},{"id":"gclid","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"gad_source","name":"gad_source","value":"={{ $json.gad_source }}","type":"string"},{"id":"ad","name":"ad","value":"={{ $json.ad }}","type":"string"},{"id":"adid","name":"adid","value":"={{ $json.adid }}","type":"string"},{"id":"groupid","name":"groupid","value":"={{ $json.groupid }}","type":"string"},{"id":"adcampaign","name":"adcampaign","value":"={{ $json.adcampaign }}","type":"string"},{"id":"text","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"gad","name":"gad","value":"={{ $json.gad }}","type":"string"},{"id":"data_da_venda","name":"data_da_venda","value":"={{ $json['Data da venda'] }}","type":"string"},{"id":"ctwa_clid","name":"ctwa_clid","value":"={{ $json.ctwa_clid }}","type":"string"},{"id":"_gl","name":"_gl","value":"={{ $json._gl }}","type":"string"},{"id":"order_id","name":"order_id","value":"={{ $json.order_id }}","type":"string"},{"id":"currency_code","name":"currency_code","value":"={{ $json.currency_code }}","type":"string"},{"id":"visit_meta_http_referer","name":"visit_meta_http_referer","value":"","type":"string"},{"id":"visit_meta_http_user_agent_browser_family","name":"visit_meta_http_user_agent_browser_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_browser_version","name":"visit_meta_http_user_agent_browser_version","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_brand","name":"visit_meta_http_user_agent_device_brand","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_family","name":"visit_meta_http_user_agent_device_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_has_touch_capability","name":"visit_meta_http_user_agent_device_has_touch_capability","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_model","name":"visit_meta_http_user_agent_device_model","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_type","name":"visit_meta_http_user_agent_device_type","value":"","type":"string"},{"id":"visit_meta_http_user_agent_os_family","name":"visit_meta_http_user_agent_os_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_os_version","name":"visit_meta_http_user_agent_os_version","value":"","type":"string"},{"id":"visit_meta_http_user_agent_raw","name":"visit_meta_http_user_agent_raw","value":"","type":"string"},{"id":"visit_meta_remote_addr_ipv6","name":"visit_meta_remote_addr_ipv6","value":"","type":"string"},{"id":"visit_meta_remote_addr_ipv4","name":"visit_meta_remote_addr_ipv4","value":"","type":"string"},{"id":"headers","name":"headers","value":"","type":"string"},{"id":"params","name":"params","value":"","type":"string"},{"id":"query","name":"query","value":"","type":"string"},{"id":"body","name":"body","value":"","type":"string"},{"id":"webhookurl","name":"webhookurl","value":"","type":"string"},{"id":"executionmode","name":"executionmode","value":"","type":"string"},{"id":"f59ba05f-e83b-4d01-b026-5ced865acd11","name":"datetime_unix","value":"={{ $json['Data da Primeira Mensagem'].toDateTime().toSeconds().floor() }}","type":"string"},{"id":"c4399161-a4af-46d1-bf76-e03b91d3595b","name":"phone_hash256","value":"={{ $json['WhatsApp do Contato'].toJsonString().substring(1,$json['WhatsApp do Contato'].toJsonString().length-1).hash('sha256') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-368],"id":"646d2ec8-4bbf-4c5f-b5e7-fbe44ba9f80c","name":"Campos ttconversa_criada"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,-368],"id":"a96829b7-7ea5-4e1a-b0d4-da2dff3ace5d","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1344,-208],"id":"c491ed45-8471-409e-af20-b84c4e9cea3e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c928a366-7e05-4c1f-9c24-64b06181b999","leftValue":"={{ $json['WhatsApp do Contato'] }}","rightValue":"944934328","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-224,-880],"id":"f0d31e56-219f-4504-a758-1f13f3976199","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.nome_da_conta }}","rightValue":"al_clinicaalira","operator":{"type":"string","operation":"equals"},"id":"582731c6-cfa0-4d3d-b8d7-22f007ce68bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"al_clinicaalira"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,-464],"id":"3233a7ac-97b5-4c7f-b1fe-8019441e0437","name":"CLIENTE"},{"parameters":{"workflowId":{"__rl":true,"value":"PR8gmApDUVl82DVz","mode":"list","cachedResultUrl":"/workflow/PR8gmApDUVl82DVz","cachedResultName":"[AL] [CLOUDIA] Adiciona Tags (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1568,-464],"name":"Call [AL] [CLOUDIA] Adiciona Tags (v1.0)","id":"af379be0-cac5-42c6-bebe-bf073683982d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8612a7f-77bf-4d1d-99ff-180dcfe5eb48","leftValue":"={{ $json.origem }}","rightValue":"Meta Ads|Google Ads","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1344,-464],"id":"f705100d-48ce-406d-8471-873246b315e4","name":"Filter1"},{"parameters":{"formTitle":"Subir Arquivo Tintim","formDescription":"Subir Conversas Tintim","formFields":{"values":[{"fieldLabel":"Arquivo csv.","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true},{"fieldLabel":"database_name","requiredField":true}]},"options":{"appendAttribution":true,"buttonLabel":"Enviar","path":"tintim-subir-conversas","ignoreBots":true,"useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-224,-416],"id":"66dfa87e-a8bf-4a1a-88a2-2f5b7544af47","name":"TINTIM: Arquivo Conversas","webhookId":"203a317b-cb7e-43fd-972b-752bd4cf025b"},{"parameters":{"assignments":{"assignments":[{"id":"10022cb7-b26a-4d7a-938f-d63a77b0e303","name":"database_name","value":"={{ $json['Nome da Conta'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-368],"id":"5c7316e2-95ff-4cec-ac54-220282cdd981","name":"TINTIM: DB Lead"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-656],"id":"33d07366-3423-46ad-94ab-249db1088c45","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdce58c5-4b0b-4fe1-893a-4b8f0376a147","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Consulta","operator":{"type":"string","operation":"notEquals"}},{"id":"96030c27-05b8-4b3b-906b-5083dda7b7c5","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Cirurgia","operator":{"type":"string","operation":"notEquals"}},{"id":"69284555-a50b-4297-85aa-22d0c2217411","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Procedimento","operator":{"type":"string","operation":"notEquals"}},{"id":"48436a2d-df56-4e0b-ae93-9b95b4cf05cb","leftValue":"={{ $json['Data da Primeira Mensagem'].toDateTime() }}","rightValue":"2025-08-01T00:00:00","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,-368],"id":"1f5aaa36-f199-483c-ad4d-ae83a491516a","name":"Filter: NOT ETAPAS + 30D"}],"connections":{"Extract from File":{"main":[[{"node":"Filter: NOT ETAPAS + 30D","type":"main","index":0}]]},"MySQL: TTconversa_criada1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Campos ttconversa_criada":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"MySQL: TTconversa_criada1","type":"main","index":0},{"node":"CLIENTE","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CLIENTE":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Call [AL] [CLOUDIA] Adiciona Tags (v1.0)","type":"main","index":0}]]},"TINTIM: Arquivo Conversas":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"TINTIM: DB Lead":{"main":[[{"node":"Campos ttconversa_criada","type":"main","index":0}]]},"Filter: NOT ETAPAS + 30D":{"main":[[{"node":"TINTIM: DB Lead","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Form":{"119347-Form":{"completionTitle":"Sucesso","completionMessage":"Arquivo subido com sucesso.","redirectUrl":"","pageTitle":"Arquivo subido com sucesso."},"119478-Form":{"completionTitle":"Sucesso","completionMessage":"Arquivo subido com sucesso.","redirectUrl":"","pageTitle":"Arquivo subido com sucesso."}}},"meta":null,"versionId":"8927a0b0-4431-475d-a939-bd67120a6842","activeVersionId":"8927a0b0-4431-475d-a939-bd67120a6842","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:40.019Z","createdAt":"2026-01-06T04:13:40.019Z","role":"workflow:owner","workflowId":"yfLL5JvuA2Tvf5KC","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T05:46:21.973Z","createdAt":"2026-01-06T05:46:20.952Z","versionId":"8927a0b0-4431-475d-a939-bd67120a6842","workflowId":"yfLL5JvuA2Tvf5KC","nodes":[{"parameters":{"binaryPropertyName":"=Arquivo_csv_","options":{"delimiter":",","headerRow":true,"includeEmptyCells":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,-368],"id":"6af842fa-eebf-484b-9ea4-6c88c9748052","name":"Extract from File","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"ttconversa_criada","mode":"name"},"columnToMatchOn":"=datahoraphonestatus","options":{"connectionTimeoutMillis":30,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1120,-272],"id":"eabb93ee-2c33-4d5c-b674-db95756d66a1","name":"MySQL: TTconversa_criada1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"mySql":{"id":"CJcllN2p3F1aryzr","name":"MySQL TINTIM: Form"}}},{"parameters":{"assignments":{"assignments":[{"id":"6fcb0e98-5f91-47c1-8d03-beef7818a54e","name":"datahoraphonestatus","value":"={{ $json['Data da Primeira Mensagem'] }}{{ $json['WhatsApp do Contato'] }}{{ $json['Etapa da Jornada'] }}","type":"string"},{"id":"event_type","name":"event_type","value":"lead.create","type":"string"},{"id":"origem","name":"origem","value":"={{ $json.Origem.replaceAll(\" via Link Rastreável\",\"\")\n.replaceAll(\"Link Rastreável\",\"Outras\")\n.replaceAll(\"Não Rastreada\",\"Não rastreada\")\n}}","type":"string"},{"id":"codigo_da_conta","name":"codigo_da_conta","value":"={{ $json['Código da Conta'] }}","type":"string"},{"id":"nome_da_conta","name":"nome_da_conta","value":"={{ $json['Nome da Conta'] }}","type":"string"},{"id":"conta_ativa","name":"conta_ativa","value":"={{ $json['Conta ativa?'] }}","type":"string"},{"id":"facebook_pixel","name":"facebook_pixel","value":"={{ $json['Facebook Pixel'] }}","type":"string"},{"id":"nome_do_contato","name":"nome_do_contato","value":"={{ $json['Nome do Contato'] }}","type":"string"},{"id":"whatsapp_do_contato","name":"whatsapp_do_contato","value":"={{ $json['WhatsApp do Contato'] }}","type":"string"},{"id":"etapa_da_jornada","name":"etapa_da_jornada","value":"={{ $json['Etapa da Jornada'] }}","type":"string"},{"id":"data_da_primeira_mensagem","name":"data_da_primeira_mensagem","value":"={{ $json['Data da Primeira Mensagem'] }}","type":"string"},{"id":"data_da_ultima_mensagem","name":"data_da_ultima_mensagem","value":"={{ $json['Data da Última Mensagem'] }}","type":"string"},{"id":"valor_da_venda","name":"valor_da_venda","value":"={{ $json['Valor da Venda'] }}","type":"string"},{"id":"link_rastreavel","name":"link_rastreavel","value":"={{ $json['Link Rastreável'] }}","type":"string"},{"id":"id_da_campanha_de_anuncio","name":"id_da_campanha_de_anuncio","value":"={{ $json['ID da Campanha de Anúncio'] }}","type":"string"},{"id":"id_do_conjunto_de_anuncio","name":"id_do_conjunto_de_anuncio","value":"={{ $json['ID do Conjunto de Anúncio'] }}","type":"string"},{"id":"id_do_anuncio","name":"id_do_anuncio","value":"={{ $json['ID do Anúncio'] }}","type":"string"},{"id":"nome_da_campanha_de_anuncio","name":"nome_da_campanha_de_anuncio","value":"={{ $json['Nome da Campanha de Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"nome_do_conjunto_de_anuncio","name":"nome_do_conjunto_de_anuncio","value":"={{ $json['Nome do Conjunto de Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"nome_do_anuncio","name":"nome_do_anuncio","value":"={{ $json['Nome do Anúncio']?.urlDecode() || null }}","type":"string"},{"id":"utm_source","name":"utm_source","value":"={{ $json.utm_source?.urlDecode() || null }}","type":"string"},{"id":"utm_medium","name":"utm_medium","value":"={{ $json.utm_medium?.urlDecode() || null }}","type":"string"},{"id":"utm_campaign","name":"utm_campaign","value":"={{ $json.utm_campaign }}","type":"string"},{"id":"utm_term","name":"utm_term","value":"={{ $json.utm_term?.urlDecode() || null }}","type":"string"},{"id":"utm_content","name":"utm_content","value":"={{ $json.utm_content?.urlDecode() || null }}","type":"string"},{"id":"utm_publico","name":"utm_publico","value":"={{ $json.utm_publico?.urlDecode() || null }}","type":"string"},{"id":"utm_url","name":"utm_url","value":"={{ $json.utm_url?.urlDecode() || null }}","type":"string"},{"id":"fbclid","name":"fbclid","value":"={{ $json.fbclid }}","type":"string"},{"id":"tintim_fbid","name":"tintim_fbid","value":"={{ $json.tintim_fbid }}","type":"string"},{"id":"hsctatracking","name":"hsctatracking","value":"={{ $json.hsCtaTracking?.urlDecode() || null }}","type":"string"},{"id":"utm_id","name":"utm_id","value":"={{ $json.adid }}","type":"string"},{"id":"gclid","name":"gclid","value":"={{ $json.gclid }}","type":"string"},{"id":"gad_source","name":"gad_source","value":"={{ $json.gad_source }}","type":"string"},{"id":"ad","name":"ad","value":"={{ $json.ad }}","type":"string"},{"id":"adid","name":"adid","value":"={{ $json.adid }}","type":"string"},{"id":"groupid","name":"groupid","value":"={{ $json.groupid }}","type":"string"},{"id":"adcampaign","name":"adcampaign","value":"={{ $json.adcampaign }}","type":"string"},{"id":"text","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"gad","name":"gad","value":"={{ $json.gad }}","type":"string"},{"id":"data_da_venda","name":"data_da_venda","value":"={{ $json['Data da venda'] }}","type":"string"},{"id":"ctwa_clid","name":"ctwa_clid","value":"={{ $json.ctwa_clid }}","type":"string"},{"id":"_gl","name":"_gl","value":"={{ $json._gl }}","type":"string"},{"id":"order_id","name":"order_id","value":"={{ $json.order_id }}","type":"string"},{"id":"currency_code","name":"currency_code","value":"={{ $json.currency_code }}","type":"string"},{"id":"visit_meta_http_referer","name":"visit_meta_http_referer","value":"","type":"string"},{"id":"visit_meta_http_user_agent_browser_family","name":"visit_meta_http_user_agent_browser_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_browser_version","name":"visit_meta_http_user_agent_browser_version","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_brand","name":"visit_meta_http_user_agent_device_brand","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_family","name":"visit_meta_http_user_agent_device_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_has_touch_capability","name":"visit_meta_http_user_agent_device_has_touch_capability","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_model","name":"visit_meta_http_user_agent_device_model","value":"","type":"string"},{"id":"visit_meta_http_user_agent_device_type","name":"visit_meta_http_user_agent_device_type","value":"","type":"string"},{"id":"visit_meta_http_user_agent_os_family","name":"visit_meta_http_user_agent_os_family","value":"","type":"string"},{"id":"visit_meta_http_user_agent_os_version","name":"visit_meta_http_user_agent_os_version","value":"","type":"string"},{"id":"visit_meta_http_user_agent_raw","name":"visit_meta_http_user_agent_raw","value":"","type":"string"},{"id":"visit_meta_remote_addr_ipv6","name":"visit_meta_remote_addr_ipv6","value":"","type":"string"},{"id":"visit_meta_remote_addr_ipv4","name":"visit_meta_remote_addr_ipv4","value":"","type":"string"},{"id":"headers","name":"headers","value":"","type":"string"},{"id":"params","name":"params","value":"","type":"string"},{"id":"query","name":"query","value":"","type":"string"},{"id":"body","name":"body","value":"","type":"string"},{"id":"webhookurl","name":"webhookurl","value":"","type":"string"},{"id":"executionmode","name":"executionmode","value":"","type":"string"},{"id":"f59ba05f-e83b-4d01-b026-5ced865acd11","name":"datetime_unix","value":"={{ $json['Data da Primeira Mensagem'].toDateTime().toSeconds().floor() }}","type":"string"},{"id":"c4399161-a4af-46d1-bf76-e03b91d3595b","name":"phone_hash256","value":"={{ $json['WhatsApp do Contato'].toJsonString().substring(1,$json['WhatsApp do Contato'].toJsonString().length-1).hash('sha256') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-368],"id":"646d2ec8-4bbf-4c5f-b5e7-fbe44ba9f80c","name":"Campos ttconversa_criada"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,-368],"id":"a96829b7-7ea5-4e1a-b0d4-da2dff3ace5d","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1344,-208],"id":"c491ed45-8471-409e-af20-b84c4e9cea3e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c928a366-7e05-4c1f-9c24-64b06181b999","leftValue":"={{ $json['WhatsApp do Contato'] }}","rightValue":"944934328","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-224,-880],"id":"f0d31e56-219f-4504-a758-1f13f3976199","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.nome_da_conta }}","rightValue":"al_clinicaalira","operator":{"type":"string","operation":"equals"},"id":"582731c6-cfa0-4d3d-b8d7-22f007ce68bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"al_clinicaalira"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,-464],"id":"3233a7ac-97b5-4c7f-b1fe-8019441e0437","name":"CLIENTE"},{"parameters":{"workflowId":{"__rl":true,"value":"PR8gmApDUVl82DVz","mode":"list","cachedResultUrl":"/workflow/PR8gmApDUVl82DVz","cachedResultName":"[AL] [CLOUDIA] Adiciona Tags (v1.0)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1568,-464],"name":"Call [AL] [CLOUDIA] Adiciona Tags (v1.0)","id":"af379be0-cac5-42c6-bebe-bf073683982d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8612a7f-77bf-4d1d-99ff-180dcfe5eb48","leftValue":"={{ $json.origem }}","rightValue":"Meta Ads|Google Ads","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1344,-464],"id":"f705100d-48ce-406d-8471-873246b315e4","name":"Filter1"},{"parameters":{"formTitle":"Subir Arquivo Tintim","formDescription":"Subir Conversas Tintim","formFields":{"values":[{"fieldLabel":"Arquivo csv.","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true},{"fieldLabel":"database_name","requiredField":true}]},"options":{"appendAttribution":true,"buttonLabel":"Enviar","path":"tintim-subir-conversas","ignoreBots":true,"useWorkflowTimezone":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-224,-416],"id":"66dfa87e-a8bf-4a1a-88a2-2f5b7544af47","name":"TINTIM: Arquivo Conversas","webhookId":"203a317b-cb7e-43fd-972b-752bd4cf025b"},{"parameters":{"assignments":{"assignments":[{"id":"10022cb7-b26a-4d7a-938f-d63a77b0e303","name":"database_name","value":"={{ $json['Nome da Conta'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-368],"id":"5c7316e2-95ff-4cec-ac54-220282cdd981","name":"TINTIM: DB Lead"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-656],"id":"33d07366-3423-46ad-94ab-249db1088c45","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fdce58c5-4b0b-4fe1-893a-4b8f0376a147","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Consulta","operator":{"type":"string","operation":"notEquals"}},{"id":"96030c27-05b8-4b3b-906b-5083dda7b7c5","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Cirurgia","operator":{"type":"string","operation":"notEquals"}},{"id":"69284555-a50b-4297-85aa-22d0c2217411","leftValue":"={{ $json['Etapa da Jornada'] }}","rightValue":"[AL] Procedimento","operator":{"type":"string","operation":"notEquals"}},{"id":"48436a2d-df56-4e0b-ae93-9b95b4cf05cb","leftValue":"={{ $json['Data da Primeira Mensagem'].toDateTime() }}","rightValue":"2025-08-01T00:00:00","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[224,-368],"id":"1f5aaa36-f199-483c-ad4d-ae83a491516a","name":"Filter: NOT ETAPAS + 30D"}],"connections":{"Extract from File":{"main":[[{"node":"Filter: NOT ETAPAS + 30D","type":"main","index":0}]]},"MySQL: TTconversa_criada1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Campos ttconversa_criada":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"MySQL: TTconversa_criada1","type":"main","index":0},{"node":"CLIENTE","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CLIENTE":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Call [AL] [CLOUDIA] Adiciona Tags (v1.0)","type":"main","index":0}]]},"TINTIM: Arquivo Conversas":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"TINTIM: DB Lead":{"main":[[{"node":"Campos ttconversa_criada","type":"main","index":0}]]},"Filter: NOT ETAPAS + 30D":{"main":[[{"node":"TINTIM: DB Lead","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version 8927a0b0","description":"","autosaved":false},"tags":[]}