workflows/YOYdsLOMpifeyuPa.json
{"updatedAt":"2026-02-19T12:32:26.342Z","createdAt":"2026-01-06T04:13:40.345Z","id":"YOYdsLOMpifeyuPa","name":"[CTX] [ONBOARDING] Gera MySQL (v1.6)","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"-- Define o modo SQL para não atribuir automaticamente valores zero a colunas AUTO_INCREMENT\nSET SQL_MODE = \"NO_AUTO_VALUE_ON_ZERO\";\n\n-- Desativa o autocommit para iniciar transações manualmente\nSET AUTOCOMMIT = 0;\n\n-- Inicia uma transação\nSTART TRANSACTION;\n\n-- Define o fuso horário para -03:00\nSET time_zone = \"-03:00\";\n\n-- Criação do banco de dados, se não existir\nCREATE DATABASE IF NOT EXISTS {{ $json.NOME_cliente }}\n  DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;\n\n-- Finaliza a transação\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-768],"id":"cc5926be-2aaf-49ef-816a-9700e3a6be68","name":"MySQL: CREATE DATABASE1","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`TTconversa_criada` (\n  `datahoraphonestatus` VARCHAR(255) NOT NULL,\n  `event_type` varchar(50) DEFAULT NULL,\n  `origem` varchar(50) DEFAULT NULL,\n  `codigo_da_conta` varchar(50) DEFAULT NULL,\n  `nome_da_conta` varchar(50) DEFAULT NULL,\n  `conta_ativa` varchar(50) DEFAULT NULL,\n  `facebook_pixel` varchar(50) DEFAULT NULL,\n  `nome_do_contato` varchar(100) DEFAULT NULL,\n  `whatsapp_do_contato` bigint DEFAULT NULL,\n  `etapa_da_jornada` varchar(50) DEFAULT NULL,\n  `data_da_primeira_mensagem` datetime DEFAULT NULL,\n  `data_da_ultima_mensagem` datetime DEFAULT NULL,\n  `valor_da_venda` decimal(10,2) DEFAULT NULL,\n  `link_rastreavel` varchar(50) DEFAULT NULL,\n  `id_da_campanha_de_anuncio` varchar(50) DEFAULT NULL,\n  `id_do_conjunto_de_anuncio` varchar(50) DEFAULT NULL,\n  `id_do_anuncio` varchar(50) DEFAULT NULL,\n  `nome_da_campanha_de_anuncio` text DEFAULT NULL,\n  `nome_do_conjunto_de_anuncio` text DEFAULT NULL,\n  `nome_do_anuncio` text DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_publico` text DEFAULT NULL,\n  `utm_url` text DEFAULT NULL,\n  `fbclid` varchar(255) DEFAULT NULL,\n  `ttclid` varchar(255) DEFAULT NULL,\n  `gclid` varchar(255) DEFAULT NULL,\n  `ttp` varchar(255) DEFAULT NULL,\n  `fbc` varchar(255) DEFAULT NULL,\n  `fbp` varchar(255) DEFAULT NULL,\n  `ga` varchar(255) DEFAULT NULL,\n  `tintim_fbid` varchar(255) DEFAULT NULL,\n  `hsctatracking` varchar(255) DEFAULT NULL,\n  `utm_id` varchar(255) DEFAULT NULL,\n  `gad_source` varchar(255) DEFAULT NULL,\n  `ad` text DEFAULT NULL,\n  `adid` varchar(50) DEFAULT NULL,\n  `groupid` varchar(50) DEFAULT NULL,\n  `adcampaign` varchar(50) DEFAULT NULL,\n  `text` text DEFAULT NULL,\n  `gad` varchar(50) DEFAULT NULL,\n  `data_da_venda` datetime DEFAULT NULL,\n  `ctwa_clid` varchar(255) DEFAULT NULL,\n  `order_id` varchar(255) DEFAULT NULL,\n  `currency_code` varchar(255) DEFAULT NULL,\n  `_gl`  text DEFAULT NULL,\n  `visit_meta_http_referer` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_brand` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_has_touch_capability` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_model` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_type` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_raw`  text DEFAULT NULL,\n  `visit_meta_remote_addr_ipv6` varchar(50) DEFAULT NULL,\n  `visit_meta_remote_addr_ipv4` varchar(50) DEFAULT NULL,\n  `datetime_unix` INT NOT NULL,\n  `phone_hash256` VARCHAR(256) NOT NULL,\n  `headers` text DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `query` text DEFAULT NULL,\n  `body` text DEFAULT NULL,\n  `webhookurl` varchar(100) DEFAULT NULL,\n  `executionmode` varchar(50) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD PRIMARY KEY(`datahoraphonestatus`);\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD UNIQUE(`datahoraphonestatus`);\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD INDEX(`datahoraphonestatus`);\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-576],"id":"52b532ad-fbf5-4977-91c7-50a5d2a47668","name":"TTconversa_criada","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`TTnova_mensagem` (\n  `event_type` varchar(50) DEFAULT NULL,\n  `origem` varchar(50) DEFAULT NULL,\n  `codigo_da_conta` varchar(50) DEFAULT NULL,\n  `nome_da_conta` varchar(100) DEFAULT NULL,\n  `conta_ativa` varchar(50) DEFAULT NULL,\n  `facebook_pixel` varchar(50) DEFAULT NULL,\n  `nome_do_contato` varchar(100) DEFAULT NULL,\n  `whatsapp_do_contato` bigint DEFAULT NULL,\n  `etapa_da_jornada` varchar(50) DEFAULT NULL,\n  `data_da_primeira_mensagem` datetime DEFAULT NULL,\n  `data_da_ultima_mensagem` datetime DEFAULT NULL,\n  `valor_da_venda` int DEFAULT NULL,\n  `link_rastreavel` varchar(200) DEFAULT NULL,\n  `sale_amount` decimal(10,2) DEFAULT NULL,\n  `message` text DEFAULT NULL,\n  `message_id` varchar(250) DEFAULT NULL,\n  `total_messages` int DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `visit_params_ad` varchar(255) DEFAULT NULL,\n  `visit_params_adcampaign` varchar(255) DEFAULT NULL,\n  `visit_params_adid` varchar(255) DEFAULT NULL,\n  `visit_params_fbclid` varchar(255) DEFAULT NULL,\n  `visit_params_ttclid` varchar(255) DEFAULT NULL,\n  `visit_params_gclid` varchar(255) DEFAULT NULL,\n  `visit_params_ttp` varchar(255) DEFAULT NULL,\n  `visit_params_fbc` varchar(255) DEFAULT NULL,\n  `visit_params_fbp` varchar(255) DEFAULT NULL,\n  `visit_params_gad_source` varchar(255) DEFAULT NULL,\n  `visit_params_groupid` varchar(255) DEFAULT NULL,\n  `visit_meta_http_referer` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_brand` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_has_touch_capability` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_model` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_type` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_raw`  text DEFAULT NULL,\n  `visit_meta_remote_addr_ipv6` varchar(50) DEFAULT NULL,\n  `visit_meta_remote_addr_ipv4` varchar(50) DEFAULT NULL,\n  `headers` text DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `query` text DEFAULT NULL,\n  `body` text DEFAULT NULL,\n  `webhookurl` varchar(100) DEFAULT NULL,\n  `executionmode` varchar(50) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-384],"id":"23dbd17c-6fcd-4416-a715-6a625098af73","name":"TTnova_mensagem","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`hotmart20` (\n  `codigo_da_transacao` varchar(20) PRIMARY KEY,\n  `status_da_transacao` varchar(50) DEFAULT NULL,\n  `data_da_transacao` datetime DEFAULT NULL,\n  `confirmacao_do_pagamento` datetime DEFAULT NULL,\n  `produtor` varchar(50) DEFAULT NULL,\n  `codigo_do_produto` varchar(10) DEFAULT NULL,\n  `produto` varchar(100) DEFAULT NULL,\n  `codigo_do_preco` varchar(15) DEFAULT NULL,\n  `nome_deste_preco` varchar(255) DEFAULT NULL,\n  `taxa_de_conversao_moeda_de_compra` float DEFAULT NULL,\n  `moeda_de_compra` varchar(5) DEFAULT NULL,\n  `valor_de_compra_com_impostos` float DEFAULT NULL,\n  `impostos_locais_de_compra_e_taxa_de_parcelamento` float DEFAULT NULL,\n  `valor_de_compra_sem_impostos` float DEFAULT NULL,\n  `taxa_de_conversao_moeda_da_comissao` float DEFAULT NULL,\n  `moeda_da_comissao` varchar(5) DEFAULT NULL,\n  `comissao_bruta_sem_impostos` float DEFAULT NULL,\n  `minha_comissao` float DEFAULT NULL,\n  `venda_feita_como` varchar(20) DEFAULT NULL,\n  `comissao_do_produtor` float DEFAULT NULL,\n  `comissao_do_afiliado` float DEFAULT NULL,\n  `comissao_do_coprodutor` float DEFAULT NULL,\n  `moeda_das_taxas` varchar(10) DEFAULT NULL,\n  `taxa_de_processamento` float DEFAULT NULL,\n  `taxa_de_streaming` float DEFAULT NULL,\n  `outras_taxas` float DEFAULT NULL,\n  `nome_do_afiliado` varchar(50) DEFAULT NULL,\n  `canal_usado_para_venda` varchar(20) DEFAULT NULL,\n  `codigo_src` text DEFAULT NULL,\n  `codigo_sck` text DEFAULT NULL,\n  `metodo_de_pagamento` varchar(20) DEFAULT NULL,\n  `tipo_de_cobranca` varchar(20) DEFAULT NULL,\n  `quantidade_total_de_parcelas` int DEFAULT NULL,\n  `quantidade_de_cobrancas` int DEFAULT NULL,\n  `data_de_vencimento_vouchers` datetime DEFAULT NULL,\n  `codigo_de_cupom` varchar(20) DEFAULT NULL,\n  `periodo_gratuito_trial` varchar(20) DEFAULT NULL,\n  `quantidade_de_itens` varchar(20) DEFAULT NULL,\n  `comprador` varchar(100) DEFAULT NULL,\n  `email_do_comprador` varchar(50) DEFAULT NULL,\n  `pais` varchar(20) DEFAULT NULL,\n  `telefone` varchar(20) DEFAULT NULL,\n  `documento` varchar(20) DEFAULT NULL,\n  `codigo_postal` varchar(20) DEFAULT NULL,\n  `cidade` varchar(50) DEFAULT NULL,\n  `estado_provincia` varchar(20) DEFAULT NULL,\n  `endereco` varchar(255) DEFAULT NULL,\n  `bairro` varchar(50) DEFAULT NULL,\n  `numero` varchar(20) DEFAULT NULL,\n  `complemento` varchar(100) DEFAULT NULL,\n  `instagram` varchar(20) DEFAULT NULL,\n  `codigo_do_assinante` varchar(20) DEFAULT NULL,\n  `tax_solutions` varchar(20) DEFAULT NULL,\n  `tax_collected` varchar(20) DEFAULT NULL,\n  `tax_jurisdiction` varchar(20) DEFAULT NULL,\n  `tipo_do_order_bump` varchar(20) DEFAULT NULL,\n  `transacao_do_order_bump` varchar(20) DEFAULT NULL,\n  `tipo_da_antecipacao_de_assinatura` varchar(20) DEFAULT NULL,\n  `motivo_de_recusa_de_cartao` varchar(255) DEFAULT NULL,\n  `ip` varchar(50) DEFAULT NULL,\n  `hottok` varchar(50) DEFAULT NULL,\n  `version` varchar(10) DEFAULT NULL,\n  `id` varchar(20) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-192],"id":"8d17b6e9-5cce-4140-bb44-f8bbbb3e1964","name":"hotmart20","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`eduzz` (\n  `fatura` int DEFAULT NULL,\n  `status` varchar(20) DEFAULT NULL,\n  `forma_de_pagamento` varchar(20) DEFAULT NULL,\n  `n_parcelas` int DEFAULT NULL,\n  `moeda` varchar(10) DEFAULT NULL,\n  `contrato` varchar(10) DEFAULT NULL,\n  `parcelamento_sem_limite` varchar(50) DEFAULT NULL,\n  `data_de_criacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_de_pagamento` datetime DEFAULT NULL,\n  `data_de_reembolso` datetime DEFAULT NULL,\n  `tipo_de_reembolso` varchar(10) DEFAULT NULL,\n  `sku` varchar(10) DEFAULT NULL,\n  `id_do_produto` int DEFAULT NULL,\n  `produto` varchar(100) DEFAULT NULL,\n  `quantidade` int DEFAULT NULL,\n  `afiliado_principal` varchar(100) DEFAULT NULL,\n  `cupom` varchar(10) DEFAULT NULL,\n  `valor_do_cupom` float DEFAULT NULL,\n  `valor_da_venda` float DEFAULT NULL,\n  `valor_da_venda_com_juros` float DEFAULT NULL,\n  `valor_do_item` float DEFAULT NULL,\n  `valor_reembolsado` float DEFAULT NULL,\n  `valor_de_frete` float DEFAULT NULL,\n  `parceiro` VARCHAR(255) DEFAULT NULL,\n  `ganho_liquido` float DEFAULT NULL,\n  `cliente_nome` varchar(50) DEFAULT NULL,\n  `cliente_email` varchar(50) DEFAULT NULL,\n  `cliente_fones` varchar(20) DEFAULT NULL,\n  `cliente_tipo_documento` varchar(20) DEFAULT NULL,\n  `cliente_documento` varchar(20) DEFAULT NULL,\n  `endereco` varchar(50) DEFAULT NULL,\n  `numero` varchar(20) DEFAULT NULL,\n  `complemento` varchar(20) DEFAULT NULL,\n  `bairro` varchar(20) DEFAULT NULL,\n  `cep` varchar(20) DEFAULT NULL,\n  `cidade` varchar(20) DEFAULT NULL,\n  `ibge` varchar(20) DEFAULT NULL,\n  `uf` varchar(5) DEFAULT NULL,\n  `utm_source` varchar(255) DEFAULT NULL,\n  `utm_campaign` varchar(255) DEFAULT NULL,\n  `utm_medium` varchar(255) DEFAULT NULL,\n  `utm_content` varchar(255) DEFAULT NULL,\n  `url_boleto` varchar(100) DEFAULT NULL,\n  `url_checkout` varchar(100) DEFAULT NULL,\n  `url_checkout_preenchido` varchar(255) DEFAULT NULL,\n  `utm_trk1` varchar(255) DEFAULT NULL,\n  `utm_trk2` varchar(255) DEFAULT NULL,\n  `utm_trk3` varchar(255) DEFAULT NULL,\n  `boleto_linha_digitavel` varchar(255) DEFAULT NULL,\n  `tipo_fatura` varchar(10) DEFAULT NULL,\n  `student_cod` varchar(20) DEFAULT NULL,\n  `student_taxnumber` varchar(20) DEFAULT NULL,\n  `student_name` varchar(20) DEFAULT NULL,\n  `student_email` varchar(30) DEFAULT NULL,\n  `student_tel` varchar(20) DEFAULT NULL,\n  `student_tel2` varchar(20) DEFAULT NULL,\n  `student_cel` varchar(20) DEFAULT NULL,\n  `cus_cel` varchar(20) DEFAULT NULL,\n  `cus_tel2` varchar(20) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,0],"id":"28e6eb4a-b04f-4b42-8c27-37b135f28c98","name":"eduzz","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`email_abriu` (\n  `cod_lancamento` VARCHAR(10) NOT NULL,\n  `email` VARCHAR(255) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`email_devolvidos` (\n  `cod_lancamento` VARCHAR(10) NOT NULL,\n  `email` VARCHAR(255) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`googleads` (\n  `ad_id` int NOT NULL,\n  `ad_name` varchar(100) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,2112],"id":"2cea7e2b-722e-495b-acd7-582c1fd2145e","name":"MySQL: Tabelas Adicionais","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`lista_leads` (\n  `lead_counter` INT NOT NULL AUTO_INCREMENT,\n  `datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `date` date NOT NULL,\n  `email` varchar(250) DEFAULT NULL,\n  `nome` varchar(250) DEFAULT NULL,\n  `phone` varchar(20) DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_publico` text DEFAULT NULL,\n  `utm_urlcompleta` text DEFAULT NULL,\n  `utm_url` text DEFAULT NULL,\n  `utm_referring` text DEFAULT NULL,\n  `utm_pagina` varchar(100) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `fbclid` text DEFAULT NULL,\n  `gclid` text DEFAULT NULL,\n  `ttclid` text DEFAULT NULL,\n  `_ttp` varchar(250) DEFAULT NULL,\n  `_fbp` varchar(250) DEFAULT NULL,\n  `_fbc`  varchar(250) DEFAULT NULL,\n  `_ga`  varchar(250) DEFAULT NULL,\n  `visitorapicitylatlong`  varchar(50) DEFAULT NULL,\n  `visitorapicity` varchar(100) DEFAULT NULL,\n  `visitorapiregion` varchar(100) DEFAULT NULL,\n  `visitorapicountrycode` varchar(5) DEFAULT NULL,\n  `visitorapiipaddress` varchar(50) DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL DEFAULT '',\n  `email_cod_lancamento` varchar(255) NOT NULL DEFAULT '',\n  PRIMARY KEY (lead_counter)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,192],"id":"e34f5abb-141a-4612-91a8-68021d601b3c","name":"lista_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"COMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,2496],"id":"b0440ffc-5c80-4181-9d64-c30562d5bf64","name":"MySQL: COMMIT","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Estrutura da tabela `sendflow`\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`sendflow_leads` (\n  `id` varchar(30) NOT NULL PRIMARY KEY,\n  `event` varchar(50) DEFAULT NULL,\n  `data_campaignid` varchar(50) DEFAULT NULL,\n  `data_createdat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_groupname` varchar(150) DEFAULT NULL,\n  `data_numero` varchar(20) DEFAULT NULL,\n  `versao` varchar(10) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL,\n  `sendtok` varchar(50) NOT NULL,\n  `date` date NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1920],"id":"db896653-7100-49fa-aa1c-b7516f2038d0","name":"sendflow_leads","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Estrutura da tabela `sendflow`\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`sendflow_campanha` (\n  `id` varchar(30) NOT NULL PRIMARY KEY,\n  `event` varchar(50) DEFAULT NULL,\n  `campaignid` varchar(50) DEFAULT NULL,\n  `createdat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_clicksTotalCount` INT DEFAULT 0,\n  `data_groupsFullAmount` INT DEFAULT 0,\n  `data_groupsOpenAmount` INT DEFAULT 0,\n  `data_groupsTotalAmount` INT DEFAULT 0,\n  `data_inputAmount` INT DEFAULT 0,\n  `data_outputAmount` INT DEFAULT 0,\n  `data_participantsAmount` INT DEFAULT 0,\n  `versao` varchar(10) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL,\n  `sendtok` varchar(50) NOT NULL,\n  `date` date NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,2304],"id":"96b806ee-b17d-4e32-995e-d1327eb54ecc","name":"sendflow_campanha","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"\n-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n\n-- DROP VIEW IF EXISTS leads_e_vendasFIRST;\n\nCREATE VIEW `leads_e_vendasFIRST` AS\nSELECT L.cod_lancamento,L.date,L.email,L.`utm_source`,L.`utm_campaign`,L.`utm_medium`,L.`utm_content`,L.`utm_publico`,L.`utm_term` , V.`email_do_comprador`, V.`valor_de_compra_sem_impostos`, V.`comissao_bruta_sem_impostos`\nFROM `first_leads` AS L LEFT JOIN `hotmart20` AS V ON L.email = V.`email_do_comprador`;\n\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1536],"id":"8affd791-226e-4401-bdd9-47501fa7338a","name":"MySQL: VIEW leads_e_vendasFIRST","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"\n-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n\n-- DROP VIEW IF EXISTS leads_e_vendasLAST;\n\nCREATE VIEW `leads_e_vendasLAST` AS\nSELECT L.cod_lancamento,L.date,L.email,L.`utm_source`,L.`utm_campaign`,L.`utm_medium`,L.`utm_content`,L.`utm_publico`,L.`utm_term` , V.`email_do_comprador`, V.`valor_de_compra_sem_impostos`, V.`comissao_bruta_sem_impostos`\nFROM `last_leads` AS L LEFT JOIN `hotmart20` AS V ON L.email = V.`email_do_comprador`;\n\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1728],"id":"308791e7-7ef0-420f-bd6c-3f4a868c0ade","name":"MySQL: VIEW leads_e_vendasLAST","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n-- DROP VIEW IF EXISTS `first_leads`;\nCREATE VIEW first_leads AS\nWITH RankedLeads AS (\n    SELECT \n        L1.*,\n        ROW_NUMBER() OVER (PARTITION BY L1.email_cod_lancamento ORDER BY L1.datetime DESC, L1.lead_counter ASC) AS rn\n    FROM `lista_leads` AS L1\n    INNER JOIN (\n        SELECT email_cod_lancamento, MAX(`datetime`) AS max_datetime\n        FROM `lista_leads`\n        GROUP BY email_cod_lancamento\n    ) AS L2 ON L1.email_cod_lancamento = L2.email_cod_lancamento\n        AND L1.datetime = L2.max_datetime\n)\nSELECT *\nFROM RankedLeads\nWHERE rn = 1;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1152],"id":"65d3aa04-6207-468d-a35d-1f73c228a011","name":"MySQL: CREATE VIEW - first_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n-- DROP VIEW IF EXISTS last_leads;\nCREATE VIEW last_leads AS\nWITH RankedLeads AS (\n    SELECT \n        L1.*,\n        ROW_NUMBER() OVER (PARTITION BY L1.email_cod_lancamento ORDER BY L1.datetime DESC, L1.lead_counter DESC) AS rn\n    FROM `lista_leads` AS L1\n    INNER JOIN (\n        SELECT email_cod_lancamento, MAX(`datetime`) AS max_datetime\n        FROM `lista_leads`\n        GROUP BY email_cod_lancamento\n    ) AS L2 ON L1.email_cod_lancamento = L2.email_cod_lancamento\n        AND L1.datetime = L2.max_datetime\n)\nSELECT *\nFROM RankedLeads\nWHERE rn = 1;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1344],"id":"3cebddb3-ee6b-47c7-8bda-348ffa1ec6fa","name":"MySQL: CREATE VIEW - last_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Criação da tabela adcreative\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_creatives (\n    id bigint PRIMARY KEY,  -- ID único do post\n    name TEXT,  -- Nome do post\n    account_id bigint NOT NULL,  -- ID da conta associada\n    actor_id bigint NOT NULL,  -- ID do ator que publicou\n    instagram_user_id bigint,  -- ID do usuário do Instagram\n    instagram_permalink_url TEXT,  -- URL do post no Instagram\n    effective_instagram_media_id bigint,  -- ID da mídia no Instagram\n    call_to_action_type VARCHAR(50),  -- Tipo de call-to-action (ex: LEARN_MORE)\n    object_type VARCHAR(50),  -- Tipo do objeto (ex: VIDEO, SHARE)\n    status VARCHAR(20),  -- Status do post (ex: ACTIVE)\n    thumbnail_url TEXT,  -- URL da thumbnail\n    thumbnail_id bigint,  -- ID da thumbnail\n    title VARCHAR(500),  -- Título do post\n    video_id bigint,  -- ID do vídeo (se for um post de vídeo)\n    image_url TEXT,  -- URL da imagem (se for um post de imagem)\n    body TEXT NOT NULL  -- Conteúdo do post\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ads (\n    ad_id BIGINT PRIMARY KEY,\n    account_id BIGINT NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    adset_id BIGINT NOT NULL,\n    name VARCHAR(500) NOT NULL,\n    preview_shareable_link TEXT,\n    creative_id BIGINT NOT NULL,\n    issues_level VARCHAR(50),\n    issues_error_code INT,\n    issues_error_summary TEXT,\n    issues_error_message TEXT,\n    issues_error_type VARCHAR(50),\n    effective_status VARCHAR(50)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_accounts (\n    act_account_id VARCHAR(50) PRIMARY KEY,         -- ID da conta (chave primária)\n    name VARCHAR(500) NOT NULL,         -- Nome da conta\n    account_id BIGINT NOT NULL,    -- ID da conta (pode ser usado para relacionamentos)\n    account_status INT NOT NULL,        -- Status numérico da conta\n    account_status_name VARCHAR(50),    -- Nome do status da conta\n    age FLOAT,                  -- Idade da conta (com precisão decimal)\n    business_name VARCHAR(255),         -- Nome do negócio\n    currency VARCHAR(10),               -- Moeda usada na conta\n    is_prepay_account varchar(5),          -- Indica se é uma conta pré-paga\n    owner VARCHAR(50),                  -- ID do dono da conta\n    timezone_name VARCHAR(100),         -- Fuso horário da conta\n    amount_spent FLOAT,         -- Quantia gasta (convertido para decimal)\n    balance FLOAT,              -- Saldo da conta\n    spend_cap FLOAT             -- Limite de gastos\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_custom_conversions (\n    id BIGINT PRIMARY KEY,  -- ID único do evento\n    name VARCHAR(255) NOT NULL,  -- Nome do evento\n    name_normalize VARCHAR(255) NOT NULL,  -- Nome do evento\n    is_unavailable varchar(5) NOT NULL,  -- Indica se está indisponível\n    is_archived varchar(5) NOT NULL,  -- Indica se está arquivado\n    custom_event_type VARCHAR(255), -- Tipo de evento (limitado a 'OTHER' conforme os dados fornecidos)\n\t`rule` TEXT DEFAULT NULL,\n\t`description` VARCHAR(255) NULL,\n\t`data_sources` VARCHAR(255) NULL,\n\t`event_source_type` VARCHAR(100) NULL,\n\t`pixel` VARCHAR(100) NULL,\n\t`default_conversion_value` VARCHAR(100) NULL,\n\t`retention_days` VARCHAR(100) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\n-- Criação da tabela facebook_ads_performance\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ads_performance (\n    `date` DATE NOT NULL,\n    `date_start` DATE NOT NULL,\n    `date_stop` DATE NOT NULL,\n    account_id BIGINT NOT NULL,\n    `act_account_id` VARCHAR(100) NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    adset_id BIGINT NOT NULL,\n    ad_id BIGINT NOT NULL,\n    objective VARCHAR(50) NOT NULL,\n    optimization_goal VARCHAR(50) NOT NULL,\n    publisher_platform VARCHAR(50) NOT NULL,\n    platform_position VARCHAR(50) NOT NULL,\n    device_platform VARCHAR(50) NOT NULL,\n    impression_device VARCHAR(50) NOT NULL,\n    spend FLOAT NOT NULL,\n    impressions INT NOT NULL,\n    clicks_all INT NOT NULL, -- clicks\n    reach INT NOT NULL,\n    unique_clicks INT NOT NULL,\n    link_click INT NOT NULL, -- actions_link_click\n    landing_page_view INT NOT NULL, -- actions_landing_page_view\n    page_engagement INT NOT NULL, -- actions_page_engagement\n    post_engagement INT NOT NULL, -- actions_post_engagement\n    post_save INT NOT NULL, -- actions_onsite_conversion.post_save\n    post_reaction INT NOT NULL, -- actions_post_reaction\n    post_comment INT NOT NULL, -- actions_comment\n    post INT NOT NULL, -- actions_post\n    post_like INT NOT NULL, -- actions_like\n    messaging_total INT NOT NULL, -- actions_onsite_conversion.total_messaging_connection\n    messaging_conversation_started_7d INT NOT NULL, -- actions_onsite_conversion.messaging_conversation_started_7d\n    messaging_block INT NOT NULL, -- actions_onsite_conversion.messaging_block\n    messaging_first_reply INT NOT NULL, -- actions_onsite_conversion.messaging_first_reply\n    messaging_2_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_2_message_send\n    messaging_3_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_3_message_send\n    messaging_5_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_5_message_send\n    contact INT NOT NULL, -- contact_total\n    initiate_checkout INT NOT NULL, -- actions_initiate_checkout\n    initiate_checkout_value INT NOT NULL, -- action_values_initiate_checkout\n    `lead` INT NOT NULL, -- actions_lead\n    purchase INT NOT NULL, -- actions_purchase\n    purchase_value INT NOT NULL, -- action_values_purchase\n    add_to_cart INT NOT NULL, -- action_add_to_cart\n    add_to_cart_value INT NOT NULL, -- action_values_add_to_cart\n    complete_registration INT NOT NULL, -- actions_complete_registration\n    view_content INT NOT NULL, -- actions_view_content\n    subscriptions INT NOT NULL, -- actions_subscriptions\n    schedule INT NOT NULL, -- actions_schedule\n    video_avg_time_watched FLOAT NOT NULL,\n    video_p25_watched INT NOT NULL,\n    video_p50_watched INT NOT NULL,\n    video_p75_watched INT NOT NULL,\n    video_p95_watched INT NOT NULL,\n    video_p100_watched INT NOT NULL,\n    video_play INT NOT NULL,\n    video_2s_watched INT NOT NULL,\n    video_3s_watched INT NOT NULL, -- actions_video_view\n    video_10s_watched INT NOT NULL,\n    video_15s_watched INT NOT NULL,\n    video_30s_watched INT NOT NULL,\n    video_60s_watched INT NOT NULL,\n-- única chave composta garantindo unicidade na combinação:\n    UNIQUE KEY idx_unique_performance (\n        `date`,\n        date_start,\n        date_stop,\n        account_id,\n        `act_account_id`,\n        campaign_id,\n        adset_id,\n        ad_id,\n        objective,\n        optimization_goal,\n        publisher_platform,\n        platform_position,\n        device_platform,\n        impression_device\n    )\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_sets (\n    adset_id BIGINT PRIMARY KEY,\n    adset_name VARCHAR(500) NOT NULL,\n\tact_account_id VARCHAR(50) NOT NULL,\n    account_id BIGINT NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    created_time DATETIME NOT NULL,\n    start_time DATETIME NOT NULL,\n    end_time DATETIME NULL,\n    billing_event VARCHAR(50) NOT NULL,\n    budget_remaining FLOAT NOT NULL,\n    daily_budget FLOAT NULL,\n    destination_type VARCHAR(50) NOT NULL,\n    is_dynamic_creative varchar(5) NOT NULL,\n    effective_status VARCHAR(50) NOT NULL,\n    optimization_goal VARCHAR(100) NOT NULL,\n    learning_attribution_windows VARCHAR(255) NULL,\n    learning_conversions INT NULL,\n    learning_last_sig_edit_ts BIGINT NULL,\n    learning_status VARCHAR(50) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_campaigns (\n    campaign_id BIGINT NOT NULL PRIMARY KEY,  -- ID único da campanha\n    campaign_name VARCHAR(500) NOT NULL,               -- Nome da campanha\n    account_id BIGINT NOT NULL,      -- ID da conta associada\n    act_account_id VARCHAR(50) NOT NULL,      -- ID da conta associada\n    created_time DATETIME NOT NULL,           -- Data e hora de criação da campanha\n    start_time DATETIME NOT NULL,             -- Data e hora de início da campanha\n    stop_time DATETIME NULL,\n    updated_time DATETIME NOT NULL,\n    budget_remaining FLOAT DEFAULT 0, -- Orçamento restante da campanha\n    daily_budget FLOAT DEFAULT 0,     -- Orçamento diário da campanha\n\tlifetime_budget FLOAT DEFAULT 0,\n    effective_status VARCHAR(100) NOT NULL, -- Status da campanha\n    pacing_type VARCHAR(100) NULL,                 -- Tipo de ritmo da campanha\n    topline_id BIGINT NULL,              -- ID de referência para relatórios\n\tbid_strategy VARCHAR(50) NULL,\n\tobjective VARCHAR(50) NULL,\n\tprimary_attribution VARCHAR(50) NULL,\n\tspecial_ad_category VARCHAR(50) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCOMMIT;","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,384],"id":"ce8ec27f-4d1e-4d4f-a692-c4c828bdeec3","name":"MySQL: MC Conector","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"assignments":{"assignments":[{"id":"421b5172-9434-472e-b641-72f8cdc5cd93","name":"NOME_cliente","value":"={{ $json.NOME_cliente.replaceAll(\".\",\"\") }}","type":"string"},{"id":"dfcaff66-f963-4ee4-819b-08bbf2d1d5ba","name":"db_name","value":"={{ $json.NOME_cliente.replaceAll(\".\",\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,864],"id":"3f647205-3eb6-4761-bfe2-294c765f292d","name":"db_name"},{"parameters":{"operation":"executeQuery","query":"USE {{ $json.db_name }};\n-- DROP VIEW IF EXISTS {{ $json.db_name }}.MC_CTX_{{ $json.db_name }};\n\nCREATE VIEW {{ $json.db_name }}.MC_CTX_{{ $json.db_name }} AS\nWITH RECURSIVE\n  -- Define os limites dinâmicos com base nos registros existentes\n  bounds AS (\n    SELECT \n      DATE_SUB(MAX(`date`), INTERVAL 90 DAY) AS start_dt, -- Calcula a data de início (últimos 60 dias) ==MIN(`date`) AS start_dt, \n      MAX(`date`) AS end_dt\n    FROM {{ $json.db_name }}.`MC_ads_performance`\n  ),\n  -- Gera o intervalo de datas a partir dos limites dinâmicos\n  date_range AS (\n    SELECT start_dt AS dt\n    FROM bounds\n    UNION ALL\n    SELECT DATE_ADD(dt, INTERVAL 1 DAY)\n    FROM date_range CROSS JOIN bounds\n    WHERE dt < bounds.end_dt\n  )\nSELECT \n  -- Exibe todas as datas geradas\n  dr.dt AS `Data`,\n  \n  -- Dados da Conta de Anúncio\n  adc.name AS ad_account_name,                              -- Nome da conta\n  adc.account_status AS ad_account_status,                  -- Status numérico da conta\n  adc.account_status_name AS ad_account_status_name,        -- Nome do status\n  adc.age AS ad_account_age,                                -- Idade da conta\n  adc.business_name AS business_manager,                  -- Nome do negócio\n  adc.currency AS ad_account_currency,                    -- Moeda usada na conta\n  adc.is_prepay_account AS is_prepay_ad_account,          -- Conta pré-paga\n  adc.owner AS ad_account_owner,                          -- ID do dono da conta\n  adc.timezone_name AS ad_account_timezone_name,          -- Fuso horário\n  adc.amount_spent AS ad_account_amount_spent,            -- Quantia gasta\n  adc.balance AS ad_account_balance,                      -- Saldo da conta\n  adc.spend_cap AS ad_account_spend_cap,                  -- Limite de gastos\n\n  -- Dados das Campanhas\n  cp.campaign_name AS campaign_name,                      -- Nome da campanha\n  cp.created_time AS campaign_created_time,              -- Data de criação\n  cp.start_time AS campaign_start_time,                  -- Início da campanha\n  cp.stop_time AS campaign_stop_time,                    -- Término da campanha\n  cp.updated_time AS campaign_updated_time,              -- Última atualização\n  cp.budget_remaining AS campaign_budget_remaining,      -- Orçamento restante\n  cp.daily_budget AS campaign_daily_budget,              -- Orçamento diário\n  cp.lifetime_budget AS campaign_lifetime_budget,        -- Orçamento vitalício\n  cp.effective_status AS campaign_effective_status,      -- Status da campanha\n  cp.pacing_type AS campaign_pacing_type,                -- Tipo de ritmo\n  cp.topline_id AS campaign_topline_id,                  -- ID para relatórios\n  cp.bid_strategy AS campaign_bid_strategy,              -- Estratégia de lance\n  cp.objective AS campaign_objective,                    -- Objetivo da campanha\n  cp.primary_attribution AS campaign_primary_attribution,-- Atribuição primária\n  cp.special_ad_category AS campaign_special_ad_category, -- Categoria especial\n\n  -- Dados do Conjunto de anúncios\n  ast.adset_name AS adset_name,                          -- Nome do conjunto\n  ast.created_time AS adset_created_time,                -- Data de criação\n  ast.start_time AS adset_start_time,                    -- Início do conjunto\n  ast.end_time AS adset_end_time,                        -- Término do conjunto\n  ast.billing_event AS adset_billing_event,              -- Evento de cobrança\n  ast.budget_remaining AS adset_budget_remaining,        -- Orçamento restante\n  ast.daily_budget AS adset_daily_budget,                -- Orçamento diário\n  ast.destination_type AS adset_destination_type,        -- Tipo de destino\n  ast.is_dynamic_creative AS adset_is_dynamic_creative,  -- Criativo dinâmico\n  ast.effective_status AS adset_effective_status,        -- Status efetivo\n  ast.optimization_goal AS adset_optimization_goal,      -- Objetivo de otimização\n  ast.learning_attribution_windows AS adset_learning_attribution_windows, -- Janelas de atribuição\n  ast.learning_conversions AS adset_learning_conversions,-- Conversões\n  ast.learning_last_sig_edit_ts AS adset_learning_last_edit, -- Última edição relevante\n  ast.learning_status AS adset_learning_status,          -- Status de aprendizado\n\n  -- Dados dos Anúncios\n  ad.name AS ad_name,                                    -- Nome do anúncio\n  ad.preview_shareable_link AS ad_preview_link,          -- Link de visualização\n  ad.issues_level AS ad_issues_error_level,              -- Nível de problemas\n  ad.issues_error_code AS ad_issues_error_code,          -- Código de erro\n  ad.issues_error_summary AS ad_issues_error_summary,    -- Resumo do erro\n  ad.issues_error_message AS ad_issues_error_message,    -- Mensagem de erro\n  ad.issues_error_type AS ad_issues_error_type,          -- Tipo de erro\n  ad.effective_status AS ad_effective_status,        \t -- Status efetivo\n\n  -- Dados do Ad Creative\n  ad.creative_id AS ad_creative_id,                      -- ID do criativo\n  ac.name AS ad_creative_name,                           -- Nome do post\n  ac.actor_id AS ad_creative_actor_id,                   -- ID do ator\n  ac.instagram_user_id AS ad_creative_instagram_user_id, -- ID do Instagram\n  ac.instagram_permalink_url AS ad_creative_instagram_permalink_url, -- URL do post\n  ac.effective_instagram_media_id AS ad_creative_instagram_media_id,   -- ID da mídia\n  ac.call_to_action_type AS ad_creative_call_to_action_type,           -- Tipo de CTA\n  ac.object_type AS ad_creative_object_type,             -- Tipo do objeto\n  ac.status AS ad_creative_status,                       -- Status do post\n  ac.thumbnail_url AS ad_creative_thumbnail_url,         -- URL da thumbnail\n  ac.thumbnail_id AS ad_creative_thumbnail_id,           -- ID da thumbnail\n  ac.title AS ad_creative_title,                         -- Título do post\n  ac.video_id AS ad_creative_video_id,                   -- ID do vídeo\n  ac.image_url AS ad_creative_image_url,                 -- URL da imagem\n  ac.body AS ad_creative_body,                           -- Conteúdo do post\n  \n  -- Dados de Performance (se não houver registro, as métricas serão zero)\n  ap.*\n\nFROM date_range dr\nLEFT JOIN {{ $json.db_name }}.`MC_ads_performance` AS ap \n       ON ap.date = dr.dt\nLEFT JOIN {{ $json.db_name }}.`MC_ad_accounts` AS adc \n       ON ap.account_id = adc.account_id\nLEFT JOIN {{ $json.db_name }}.`MC_campaigns` AS cp  \n       ON ap.account_id = cp.account_id AND ap.campaign_id = cp.campaign_id\nLEFT JOIN {{ $json.db_name }}.`MC_ad_sets` AS ast    \n       ON ap.account_id = ast.account_id AND ap.campaign_id = ast.campaign_id AND ap.adset_id = ast.adset_id\nLEFT JOIN {{ $json.db_name }}.`MC_ads` AS ad         \n       ON ap.account_id = ad.account_id AND ap.campaign_id = ad.campaign_id \n          AND ap.adset_id = ad.adset_id AND ap.ad_id = ad.ad_id\nLEFT JOIN {{ $json.db_name }}.`MC_ad_creatives` AS ac \n       ON ap.account_id = ac.account_id AND ad.creative_id = ac.id;\n","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,768],"id":"3a145eb4-abc9-45b1-aef4-7866d086f48f","name":"MySQL: MC Conector VIEW","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"NOME_cliente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1984,864],"id":"e2471275-3cc5-4d43-ab89-fa0667e6055b","name":"Code"},{"parameters":{"operation":"executeQuery","query":"CREATE VIEW {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }}_view AS\n WITH RECURSIVE\n  bounds AS (\n    SELECT\n        '2025-01-01'\n            AS start_dt,\n        CAST(MAX(mp.`date`) AS DATE) \n            AS end_dt\n    FROM {{ $json.db_name }}.mc_ads_performance mp\n  ),\n  date_range AS (\n    SELECT b.start_dt AS dt\n    FROM bounds b\n    UNION ALL\n    SELECT DATE_ADD(dr.dt, INTERVAL 1 DAY)\n    FROM date_range dr\n    JOIN bounds b ON dr.dt < b.end_dt\n  )\n SELECT\n    dr.dt                                  AS Data,\n    adc.name                               AS ad_account_name,\n    adc.account_status_name                AS ad_account_status_name,\n    cp.campaign_name                       AS campaign_name,\n    cp.effective_status                    AS campaign_effective_status,\n    cp.pacing_type                         AS campaign_pacing_type,\n    cp.bid_strategy                        AS campaign_bid_strategy,\n    cp.objective                           AS campaign_objective,\n    cp.special_ad_category                 AS campaign_special_ad_category,\n\t\n    ast.adset_name                         AS adset_name,\n    ast.destination_type                   AS adset_destination_type,\n    ast.effective_status                   AS adset_effective_status,\n    ast.optimization_goal                  AS adset_optimization_goal,\n    ad.name                                AS ad_name,\n    ad.preview_shareable_link              AS ad_preview_link,\n    ad.issues_level                        AS ad_issues_error_level,\n    ad.creative_id                         AS ad_creative_id,\n    ad.effective_status                    AS ad_effective_status,\n    \n    ac.name                                AS ad_creative_name,\n    ac.instagram_user_id                   AS ad_creative_instagram_user_id,\n    ac.instagram_permalink_url             AS ad_creative_instagram_permalink_url,\n    ac.effective_instagram_media_id        AS ad_creative_instagram_media_id,\n    ac.call_to_action_type                 AS ad_creative_call_to_action_type,\n    ac.object_type                         AS ad_creative_object_type,\n    ac.thumbnail_url                       AS ad_creative_thumbnail_url,\n    ac.thumbnail_id                        AS ad_creative_thumbnail_id,\n    ac.title                               AS ad_creative_title,\n    ac.video_id                            AS ad_creative_video_id,\n    ac.image_url                           AS ad_creative_image_url,\n    ac.body                                AS ad_creative_body,\n\t\n    ap.date                                AS date,\n    ap.date_start                          AS date_start,\n    ap.date_stop                           AS date_stop,\n    ap.account_id                          AS account_id,\n    ap.act_account_id                      AS act_account_id,\n    ap.campaign_id                         AS campaign_id,\n    ap.adset_id                            AS adset_id,\n    ap.ad_id                               AS ad_id,\n    ap.objective                           AS objective,\n    ap.optimization_goal                   AS optimization_goal,\n\tSUM(ap.spend) AS spend,\n\tSUM(ap.impressions) AS impressions,\n\tSUM(ap.clicks_all) AS clicks_all,\n\tSUM(ap.reach) AS reach,\n\tSUM(ap.unique_clicks) AS unique_clicks,\n\tSUM(ap.link_click) AS link_click,\n\tSUM(ap.landing_page_view) AS landing_page_view,\n\tSUM(ap.post_engagement) AS post_engagement,\n\tSUM(ap.post_save) AS post_save,\n\tSUM(ap.post_reaction) AS post_reaction,\n\tSUM(ap.post_comment) AS post_comment,\n\tSUM(ap.post) AS post,\n\tSUM(ap.post_like) AS post_like,\n\tSUM(ap.messaging_total) AS messaging_total,\n\tSUM(ap.messaging_conversation_started_7d) AS messaging_conversation_started_7d,\n\tSUM(ap.contact) AS contact_all,\n\tSUM(ap.initiate_checkout) AS initiate_checkout_all,\n\tSUM(ap.initiate_checkout_value) AS initiate_checkout_value,\n\tSUM(ap.lead) AS lead_all,\n\tSUM(ap.purchase) AS purchase_all,\n\tSUM(ap.purchase_value) AS purchase_value,\n\tSUM(ap.add_to_cart) AS add_to_cart_all,\n\tSUM(ap.add_to_cart_value) AS add_to_cart_value,\n\tSUM(ap.complete_registration) AS complete_registration_all,\n\tAVG(ap.video_avg_time_watched) AS video_avg_time_watched,\n\tSUM(ap.video_p25_watched) AS video_p25_watched,\n\tSUM(ap.video_p50_watched) AS video_p50_watched,\n\tSUM(ap.video_p75_watched) AS video_p75_watched,\n\tSUM(ap.video_p95_watched) AS video_p95_watched,\n\tSUM(ap.video_p100_watched) AS video_p100_watched,\n\tSUM(ap.video_play) AS video_play,\n\tSUM(ap.video_2s_watched) AS video_2s_watched,\n\tSUM(ap.video_3s_watched) AS video_3s_watched,\n\tSUM(ap.video_10s_watched) AS video_10s_watched,\n\tSUM(ap.video_15s_watched) AS video_15s_watched,\n\tSUM(ap.video_30s_watched) AS video_30s_watched,\n\tSUM(ap.video_60s_watched) AS video_60s_watched\n\n  \nFROM\n    date_range dr\n\n  LEFT JOIN {{ $json.db_name }}.mc_ads_performance ap\n    ON ap.date = dr.dt\n\n  LEFT JOIN {{ $json.db_name }}.mc_ad_accounts adc\n    ON ap.account_id = adc.account_id\n\n  LEFT JOIN {{ $json.db_name }}.mc_campaigns cp\n    ON ap.account_id = cp.account_id\n   AND ap.campaign_id = cp.campaign_id\n\n  LEFT JOIN {{ $json.db_name }}.mc_ad_sets ast\n    ON ap.account_id = ast.account_id\n   AND ap.campaign_id = ast.campaign_id\n   AND ap.adset_id = ast.adset_id\n LEFT JOIN {{ $json.db_name }}.mc_ads ad\n    ON ap.account_id = ad.account_id\n   AND ap.campaign_id = ad.campaign_id\n   AND ap.adset_id = ad.adset_id\n   AND ap.ad_id = ad.ad_id\n LEFT JOIN {{ $json.db_name }}.mc_ad_creatives ac\n    ON ap.account_id = ac.account_id\n   AND ad.creative_id = ac.id\n\nGROUP BY\n    dr.dt,\n    adc.name,\n    adc.account_status_name,\n    cp.campaign_name,\n    cp.effective_status,\n    cp.pacing_type,\n    cp.bid_strategy,\n    cp.objective,\n    cp.special_ad_category,\n    ast.adset_name,\n    ast.destination_type,\n    ast.effective_status,\n    ast.optimization_goal,\n    ad.name,\n    ad.preview_shareable_link,\n    ad.issues_level,\n    ad.creative_id,\n    ad.effective_status,\n    ac.name,\n    ac.instagram_user_id,\n    ac.instagram_permalink_url,\n    ac.effective_instagram_media_id,\n    ac.call_to_action_type,\n    ac.object_type,\n    ac.thumbnail_url,\n    ac.thumbnail_id,\n    ac.title,\n    ac.video_id,\n    ac.image_url,\n    ac.body,\n    ap.date,\n    ap.date_start,\n    ap.date_stop,\n    ap.account_id,\n    ap.act_account_id,\n    ap.campaign_id,\n    ap.adset_id,\n    ap.ad_id,\n    ap.objective,\n    ap.optimization_goal;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1536,960],"id":"def3b118-e39e-475b-98b6-878be21a2eea","name":"Create View - Conector Meta","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- 1) Totais diários (1 linha por métrica por dia por conta)\nCREATE TABLE {{ $json.NOME_cliente }}.ig_insights_daily_metric (\n  metric_date DATE NOT NULL,\n  ig_user_id BIGINT UNSIGNED NOT NULL,\n\n  metric_name VARCHAR(64) NOT NULL,     -- ex: reach, views, likes...\n  period ENUM('day') NOT NULL DEFAULT 'day',\n\n  -- o total \"do topo\"\n  total_value BIGINT SIGNED NULL,\n\n  -- metadados úteis\n  metric_id VARCHAR(255) NULL,          -- ex: 1784.../insights/reach/day\n  title VARCHAR(255) NULL,\n  description TEXT NULL,\n\n  raw_json JSON NULL,\n  created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\n  PRIMARY KEY (ig_user_id, metric_date, metric_name),\n  KEY idx_metric_date (metric_date),\n  KEY idx_metric_name (metric_name)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n-- 2) Breakdowns (1 linha por dimensão/valor)\nCREATE TABLE {{ $json.NOME_cliente }}.ig_insights_daily_breakdown (\n  metric_date DATE NOT NULL,\n  ig_user_id BIGINT UNSIGNED NOT NULL,\n\n  metric_name VARCHAR(64) NOT NULL,      -- ex: reach\n  period ENUM('day') NOT NULL DEFAULT 'day',\n\n  dimension_key VARCHAR(64) NOT NULL,    -- ex: follow_type, media_product_type\n  dimension_value VARCHAR(64) NOT NULL,  -- ex: FOLLOWER, REEL, STORY...\n\n  metric_value BIGINT SIGNED NOT NULL,   -- valor daquela fatia\n\n  created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\n  PRIMARY KEY (ig_user_id, metric_date, metric_name, dimension_key, dimension_value),\n  KEY idx_metric_date (metric_date),\n  KEY idx_metric_name (metric_name),\n  KEY idx_dimension (dimension_key, dimension_value)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCOMMIT;","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,576],"id":"292d0461-8615-4c83-9126-09aa08e1994b","name":"MySQL: IG Conector","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}}],"connections":{"TTconversa_criada":{"main":[[]]},"TTnova_mensagem":{"main":[[]]},"hotmart20":{"main":[[]]},"eduzz":{"main":[[]]},"MySQL: Tabelas Adicionais":{"main":[[]]},"lista_leads":{"main":[[]]},"sendflow_leads":{"main":[[]]},"sendflow_campanha":{"main":[[]]},"MySQL: CREATE VIEW - first_leads":{"main":[[]]},"MySQL: CREATE VIEW - last_leads":{"main":[[]]},"db_name":{"main":[[{"node":"MySQL: MC Conector","type":"main","index":0},{"node":"MySQL: CREATE VIEW - first_leads","type":"main","index":0},{"node":"MySQL: CREATE VIEW - last_leads","type":"main","index":0},{"node":"MySQL: VIEW leads_e_vendasFIRST","type":"main","index":0},{"node":"MySQL: VIEW leads_e_vendasLAST","type":"main","index":0},{"node":"MySQL: COMMIT","type":"main","index":0},{"node":"MySQL: MC Conector VIEW","type":"main","index":0},{"node":"MySQL: CREATE DATABASE1","type":"main","index":0},{"node":"TTconversa_criada","type":"main","index":0},{"node":"TTnova_mensagem","type":"main","index":0},{"node":"hotmart20","type":"main","index":0},{"node":"eduzz","type":"main","index":0},{"node":"lista_leads","type":"main","index":0},{"node":"sendflow_leads","type":"main","index":0},{"node":"MySQL: Tabelas Adicionais","type":"main","index":0},{"node":"sendflow_campanha","type":"main","index":0},{"node":"Create View - Conector Meta","type":"main","index":0},{"node":"MySQL: IG Conector","type":"main","index":0}]]},"Code":{"main":[[{"node":"db_name","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":null,"meta":null,"versionId":"b837a0e8-0d9c-4ead-96cb-3170e4b3a7e1","activeVersionId":"d0330a05-a487-4c9b-a157-44037caef674","triggerCount":0,"shared":[{"updatedAt":"2026-01-06T04:13:40.345Z","createdAt":"2026-01-06T04:13:40.345Z","role":"workflow:owner","workflowId":"YOYdsLOMpifeyuPa","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-02-19T12:32:22.394Z","createdAt":"2026-02-19T12:32:20.538Z","versionId":"d0330a05-a487-4c9b-a157-44037caef674","workflowId":"YOYdsLOMpifeyuPa","nodes":[{"parameters":{"operation":"executeQuery","query":"-- Define o modo SQL para não atribuir automaticamente valores zero a colunas AUTO_INCREMENT\nSET SQL_MODE = \"NO_AUTO_VALUE_ON_ZERO\";\n\n-- Desativa o autocommit para iniciar transações manualmente\nSET AUTOCOMMIT = 0;\n\n-- Inicia uma transação\nSTART TRANSACTION;\n\n-- Define o fuso horário para -03:00\nSET time_zone = \"-03:00\";\n\n-- Criação do banco de dados, se não existir\nCREATE DATABASE IF NOT EXISTS {{ $json.NOME_cliente }}\n  DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;\n\n-- Finaliza a transação\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-768],"id":"cc5926be-2aaf-49ef-816a-9700e3a6be68","name":"MySQL: CREATE DATABASE1","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`TTconversa_criada` (\n  `datahoraphonestatus` VARCHAR(255) NOT NULL,\n  `event_type` varchar(50) DEFAULT NULL,\n  `origem` varchar(50) DEFAULT NULL,\n  `codigo_da_conta` varchar(50) DEFAULT NULL,\n  `nome_da_conta` varchar(50) DEFAULT NULL,\n  `conta_ativa` varchar(50) DEFAULT NULL,\n  `facebook_pixel` varchar(50) DEFAULT NULL,\n  `nome_do_contato` varchar(100) DEFAULT NULL,\n  `whatsapp_do_contato` bigint DEFAULT NULL,\n  `etapa_da_jornada` varchar(50) DEFAULT NULL,\n  `data_da_primeira_mensagem` datetime DEFAULT NULL,\n  `data_da_ultima_mensagem` datetime DEFAULT NULL,\n  `valor_da_venda` decimal(10,2) DEFAULT NULL,\n  `link_rastreavel` varchar(50) DEFAULT NULL,\n  `id_da_campanha_de_anuncio` varchar(50) DEFAULT NULL,\n  `id_do_conjunto_de_anuncio` varchar(50) DEFAULT NULL,\n  `id_do_anuncio` varchar(50) DEFAULT NULL,\n  `nome_da_campanha_de_anuncio` text DEFAULT NULL,\n  `nome_do_conjunto_de_anuncio` text DEFAULT NULL,\n  `nome_do_anuncio` text DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_publico` text DEFAULT NULL,\n  `utm_url` text DEFAULT NULL,\n  `fbclid` varchar(255) DEFAULT NULL,\n  `ttclid` varchar(255) DEFAULT NULL,\n  `gclid` varchar(255) DEFAULT NULL,\n  `ttp` varchar(255) DEFAULT NULL,\n  `fbc` varchar(255) DEFAULT NULL,\n  `fbp` varchar(255) DEFAULT NULL,\n  `ga` varchar(255) DEFAULT NULL,\n  `tintim_fbid` varchar(255) DEFAULT NULL,\n  `hsctatracking` varchar(255) DEFAULT NULL,\n  `utm_id` varchar(255) DEFAULT NULL,\n  `gad_source` varchar(255) DEFAULT NULL,\n  `ad` text DEFAULT NULL,\n  `adid` varchar(50) DEFAULT NULL,\n  `groupid` varchar(50) DEFAULT NULL,\n  `adcampaign` varchar(50) DEFAULT NULL,\n  `text` text DEFAULT NULL,\n  `gad` varchar(50) DEFAULT NULL,\n  `data_da_venda` datetime DEFAULT NULL,\n  `ctwa_clid` varchar(255) DEFAULT NULL,\n  `order_id` varchar(255) DEFAULT NULL,\n  `currency_code` varchar(255) DEFAULT NULL,\n  `_gl`  text DEFAULT NULL,\n  `visit_meta_http_referer` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_brand` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_has_touch_capability` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_model` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_type` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_raw`  text DEFAULT NULL,\n  `visit_meta_remote_addr_ipv6` varchar(50) DEFAULT NULL,\n  `visit_meta_remote_addr_ipv4` varchar(50) DEFAULT NULL,\n  `datetime_unix` INT NOT NULL,\n  `phone_hash256` VARCHAR(256) NOT NULL,\n  `headers` text DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `query` text DEFAULT NULL,\n  `body` text DEFAULT NULL,\n  `webhookurl` varchar(100) DEFAULT NULL,\n  `executionmode` varchar(50) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD PRIMARY KEY(`datahoraphonestatus`);\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD UNIQUE(`datahoraphonestatus`);\n\nALTER TABLE {{ $json.NOME_cliente }}.`ttconversa_criada` ADD INDEX(`datahoraphonestatus`);\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-576],"id":"52b532ad-fbf5-4977-91c7-50a5d2a47668","name":"TTconversa_criada","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`TTnova_mensagem` (\n  `event_type` varchar(50) DEFAULT NULL,\n  `origem` varchar(50) DEFAULT NULL,\n  `codigo_da_conta` varchar(50) DEFAULT NULL,\n  `nome_da_conta` varchar(100) DEFAULT NULL,\n  `conta_ativa` varchar(50) DEFAULT NULL,\n  `facebook_pixel` varchar(50) DEFAULT NULL,\n  `nome_do_contato` varchar(100) DEFAULT NULL,\n  `whatsapp_do_contato` bigint DEFAULT NULL,\n  `etapa_da_jornada` varchar(50) DEFAULT NULL,\n  `data_da_primeira_mensagem` datetime DEFAULT NULL,\n  `data_da_ultima_mensagem` datetime DEFAULT NULL,\n  `valor_da_venda` int DEFAULT NULL,\n  `link_rastreavel` varchar(200) DEFAULT NULL,\n  `sale_amount` decimal(10,2) DEFAULT NULL,\n  `message` text DEFAULT NULL,\n  `message_id` varchar(250) DEFAULT NULL,\n  `total_messages` int DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `visit_params_ad` varchar(255) DEFAULT NULL,\n  `visit_params_adcampaign` varchar(255) DEFAULT NULL,\n  `visit_params_adid` varchar(255) DEFAULT NULL,\n  `visit_params_fbclid` varchar(255) DEFAULT NULL,\n  `visit_params_ttclid` varchar(255) DEFAULT NULL,\n  `visit_params_gclid` varchar(255) DEFAULT NULL,\n  `visit_params_ttp` varchar(255) DEFAULT NULL,\n  `visit_params_fbc` varchar(255) DEFAULT NULL,\n  `visit_params_fbp` varchar(255) DEFAULT NULL,\n  `visit_params_gad_source` varchar(255) DEFAULT NULL,\n  `visit_params_groupid` varchar(255) DEFAULT NULL,\n  `visit_meta_http_referer` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_browser_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_brand` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_has_touch_capability` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_model` text DEFAULT NULL,\n  `visit_meta_http_user_agent_device_type` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_family` text DEFAULT NULL,\n  `visit_meta_http_user_agent_os_version` text DEFAULT NULL,\n  `visit_meta_http_user_agent_raw`  text DEFAULT NULL,\n  `visit_meta_remote_addr_ipv6` varchar(50) DEFAULT NULL,\n  `visit_meta_remote_addr_ipv4` varchar(50) DEFAULT NULL,\n  `headers` text DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `query` text DEFAULT NULL,\n  `body` text DEFAULT NULL,\n  `webhookurl` varchar(100) DEFAULT NULL,\n  `executionmode` varchar(50) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-384],"id":"23dbd17c-6fcd-4416-a715-6a625098af73","name":"TTnova_mensagem","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`hotmart20` (\n  `codigo_da_transacao` varchar(20) PRIMARY KEY,\n  `status_da_transacao` varchar(50) DEFAULT NULL,\n  `data_da_transacao` datetime DEFAULT NULL,\n  `confirmacao_do_pagamento` datetime DEFAULT NULL,\n  `produtor` varchar(50) DEFAULT NULL,\n  `codigo_do_produto` varchar(10) DEFAULT NULL,\n  `produto` varchar(100) DEFAULT NULL,\n  `codigo_do_preco` varchar(15) DEFAULT NULL,\n  `nome_deste_preco` varchar(255) DEFAULT NULL,\n  `taxa_de_conversao_moeda_de_compra` float DEFAULT NULL,\n  `moeda_de_compra` varchar(5) DEFAULT NULL,\n  `valor_de_compra_com_impostos` float DEFAULT NULL,\n  `impostos_locais_de_compra_e_taxa_de_parcelamento` float DEFAULT NULL,\n  `valor_de_compra_sem_impostos` float DEFAULT NULL,\n  `taxa_de_conversao_moeda_da_comissao` float DEFAULT NULL,\n  `moeda_da_comissao` varchar(5) DEFAULT NULL,\n  `comissao_bruta_sem_impostos` float DEFAULT NULL,\n  `minha_comissao` float DEFAULT NULL,\n  `venda_feita_como` varchar(20) DEFAULT NULL,\n  `comissao_do_produtor` float DEFAULT NULL,\n  `comissao_do_afiliado` float DEFAULT NULL,\n  `comissao_do_coprodutor` float DEFAULT NULL,\n  `moeda_das_taxas` varchar(10) DEFAULT NULL,\n  `taxa_de_processamento` float DEFAULT NULL,\n  `taxa_de_streaming` float DEFAULT NULL,\n  `outras_taxas` float DEFAULT NULL,\n  `nome_do_afiliado` varchar(50) DEFAULT NULL,\n  `canal_usado_para_venda` varchar(20) DEFAULT NULL,\n  `codigo_src` text DEFAULT NULL,\n  `codigo_sck` text DEFAULT NULL,\n  `metodo_de_pagamento` varchar(20) DEFAULT NULL,\n  `tipo_de_cobranca` varchar(20) DEFAULT NULL,\n  `quantidade_total_de_parcelas` int DEFAULT NULL,\n  `quantidade_de_cobrancas` int DEFAULT NULL,\n  `data_de_vencimento_vouchers` datetime DEFAULT NULL,\n  `codigo_de_cupom` varchar(20) DEFAULT NULL,\n  `periodo_gratuito_trial` varchar(20) DEFAULT NULL,\n  `quantidade_de_itens` varchar(20) DEFAULT NULL,\n  `comprador` varchar(100) DEFAULT NULL,\n  `email_do_comprador` varchar(50) DEFAULT NULL,\n  `pais` varchar(20) DEFAULT NULL,\n  `telefone` varchar(20) DEFAULT NULL,\n  `documento` varchar(20) DEFAULT NULL,\n  `codigo_postal` varchar(20) DEFAULT NULL,\n  `cidade` varchar(50) DEFAULT NULL,\n  `estado_provincia` varchar(20) DEFAULT NULL,\n  `endereco` varchar(255) DEFAULT NULL,\n  `bairro` varchar(50) DEFAULT NULL,\n  `numero` varchar(20) DEFAULT NULL,\n  `complemento` varchar(100) DEFAULT NULL,\n  `instagram` varchar(20) DEFAULT NULL,\n  `codigo_do_assinante` varchar(20) DEFAULT NULL,\n  `tax_solutions` varchar(20) DEFAULT NULL,\n  `tax_collected` varchar(20) DEFAULT NULL,\n  `tax_jurisdiction` varchar(20) DEFAULT NULL,\n  `tipo_do_order_bump` varchar(20) DEFAULT NULL,\n  `transacao_do_order_bump` varchar(20) DEFAULT NULL,\n  `tipo_da_antecipacao_de_assinatura` varchar(20) DEFAULT NULL,\n  `motivo_de_recusa_de_cartao` varchar(255) DEFAULT NULL,\n  `ip` varchar(50) DEFAULT NULL,\n  `hottok` varchar(50) DEFAULT NULL,\n  `version` varchar(10) DEFAULT NULL,\n  `id` varchar(20) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,-192],"id":"8d17b6e9-5cce-4140-bb44-f8bbbb3e1964","name":"hotmart20","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`eduzz` (\n  `fatura` int DEFAULT NULL,\n  `status` varchar(20) DEFAULT NULL,\n  `forma_de_pagamento` varchar(20) DEFAULT NULL,\n  `n_parcelas` int DEFAULT NULL,\n  `moeda` varchar(10) DEFAULT NULL,\n  `contrato` varchar(10) DEFAULT NULL,\n  `parcelamento_sem_limite` varchar(50) DEFAULT NULL,\n  `data_de_criacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_de_pagamento` datetime DEFAULT NULL,\n  `data_de_reembolso` datetime DEFAULT NULL,\n  `tipo_de_reembolso` varchar(10) DEFAULT NULL,\n  `sku` varchar(10) DEFAULT NULL,\n  `id_do_produto` int DEFAULT NULL,\n  `produto` varchar(100) DEFAULT NULL,\n  `quantidade` int DEFAULT NULL,\n  `afiliado_principal` varchar(100) DEFAULT NULL,\n  `cupom` varchar(10) DEFAULT NULL,\n  `valor_do_cupom` float DEFAULT NULL,\n  `valor_da_venda` float DEFAULT NULL,\n  `valor_da_venda_com_juros` float DEFAULT NULL,\n  `valor_do_item` float DEFAULT NULL,\n  `valor_reembolsado` float DEFAULT NULL,\n  `valor_de_frete` float DEFAULT NULL,\n  `parceiro` VARCHAR(255) DEFAULT NULL,\n  `ganho_liquido` float DEFAULT NULL,\n  `cliente_nome` varchar(50) DEFAULT NULL,\n  `cliente_email` varchar(50) DEFAULT NULL,\n  `cliente_fones` varchar(20) DEFAULT NULL,\n  `cliente_tipo_documento` varchar(20) DEFAULT NULL,\n  `cliente_documento` varchar(20) DEFAULT NULL,\n  `endereco` varchar(50) DEFAULT NULL,\n  `numero` varchar(20) DEFAULT NULL,\n  `complemento` varchar(20) DEFAULT NULL,\n  `bairro` varchar(20) DEFAULT NULL,\n  `cep` varchar(20) DEFAULT NULL,\n  `cidade` varchar(20) DEFAULT NULL,\n  `ibge` varchar(20) DEFAULT NULL,\n  `uf` varchar(5) DEFAULT NULL,\n  `utm_source` varchar(255) DEFAULT NULL,\n  `utm_campaign` varchar(255) DEFAULT NULL,\n  `utm_medium` varchar(255) DEFAULT NULL,\n  `utm_content` varchar(255) DEFAULT NULL,\n  `url_boleto` varchar(100) DEFAULT NULL,\n  `url_checkout` varchar(100) DEFAULT NULL,\n  `url_checkout_preenchido` varchar(255) DEFAULT NULL,\n  `utm_trk1` varchar(255) DEFAULT NULL,\n  `utm_trk2` varchar(255) DEFAULT NULL,\n  `utm_trk3` varchar(255) DEFAULT NULL,\n  `boleto_linha_digitavel` varchar(255) DEFAULT NULL,\n  `tipo_fatura` varchar(10) DEFAULT NULL,\n  `student_cod` varchar(20) DEFAULT NULL,\n  `student_taxnumber` varchar(20) DEFAULT NULL,\n  `student_name` varchar(20) DEFAULT NULL,\n  `student_email` varchar(30) DEFAULT NULL,\n  `student_tel` varchar(20) DEFAULT NULL,\n  `student_tel2` varchar(20) DEFAULT NULL,\n  `student_cel` varchar(20) DEFAULT NULL,\n  `cus_cel` varchar(20) DEFAULT NULL,\n  `cus_tel2` varchar(20) DEFAULT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,0],"id":"28e6eb4a-b04f-4b42-8c27-37b135f28c98","name":"eduzz","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`email_abriu` (\n  `cod_lancamento` VARCHAR(10) NOT NULL,\n  `email` VARCHAR(255) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`email_devolvidos` (\n  `cod_lancamento` VARCHAR(10) NOT NULL,\n  `email` VARCHAR(255) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`googleads` (\n  `ad_id` int NOT NULL,\n  `ad_name` varchar(100) NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1920],"id":"2cea7e2b-722e-495b-acd7-582c1fd2145e","name":"MySQL: Tabelas Adicionais","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`lista_leads` (\n  `lead_counter` INT NOT NULL AUTO_INCREMENT,\n  `datetime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `date` date NOT NULL,\n  `email` varchar(250) DEFAULT NULL,\n  `nome` varchar(250) DEFAULT NULL,\n  `phone` varchar(20) DEFAULT NULL,\n  `utm_source` text DEFAULT NULL,\n  `utm_campaign` text DEFAULT NULL,\n  `utm_medium` text DEFAULT NULL,\n  `utm_term` text DEFAULT NULL,\n  `utm_content` text DEFAULT NULL,\n  `utm_publico` text DEFAULT NULL,\n  `utm_urlcompleta` text DEFAULT NULL,\n  `utm_url` text DEFAULT NULL,\n  `utm_referring` text DEFAULT NULL,\n  `utm_pagina` varchar(100) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `fbclid` text DEFAULT NULL,\n  `gclid` text DEFAULT NULL,\n  `ttclid` text DEFAULT NULL,\n  `_ttp` varchar(250) DEFAULT NULL,\n  `_fbp` varchar(250) DEFAULT NULL,\n  `_fbc`  varchar(250) DEFAULT NULL,\n  `_ga`  varchar(250) DEFAULT NULL,\n  `visitorapicitylatlong`  varchar(50) DEFAULT NULL,\n  `visitorapicity` varchar(100) DEFAULT NULL,\n  `visitorapiregion` varchar(100) DEFAULT NULL,\n  `visitorapicountrycode` varchar(5) DEFAULT NULL,\n  `visitorapiipaddress` varchar(50) DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL DEFAULT '',\n  `email_cod_lancamento` varchar(255) NOT NULL DEFAULT '',\n  PRIMARY KEY (lead_counter)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,192],"id":"e34f5abb-141a-4612-91a8-68021d601b3c","name":"lista_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"COMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,2304],"id":"b0440ffc-5c80-4181-9d64-c30562d5bf64","name":"MySQL: COMMIT","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Estrutura da tabela `sendflow`\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`sendflow_leads` (\n  `id` varchar(30) NOT NULL PRIMARY KEY,\n  `event` varchar(50) DEFAULT NULL,\n  `data_campaignid` varchar(50) DEFAULT NULL,\n  `data_createdat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_groupname` varchar(150) DEFAULT NULL,\n  `data_numero` varchar(20) DEFAULT NULL,\n  `versao` varchar(10) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL,\n  `sendtok` varchar(50) NOT NULL,\n  `date` date NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1728],"id":"db896653-7100-49fa-aa1c-b7516f2038d0","name":"sendflow_leads","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Estrutura da tabela `sendflow`\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.`sendflow_campanha` (\n  `id` varchar(30) NOT NULL PRIMARY KEY,\n  `event` varchar(50) DEFAULT NULL,\n  `campaignid` varchar(50) DEFAULT NULL,\n  `createdat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  `data_clicksTotalCount` INT DEFAULT 0,\n  `data_groupsFullAmount` INT DEFAULT 0,\n  `data_groupsOpenAmount` INT DEFAULT 0,\n  `data_groupsTotalAmount` INT DEFAULT 0,\n  `data_inputAmount` INT DEFAULT 0,\n  `data_outputAmount` INT DEFAULT 0,\n  `data_participantsAmount` INT DEFAULT 0,\n  `versao` varchar(10) DEFAULT NULL,\n  `params` text DEFAULT NULL,\n  `cod_lancamento` varchar(20) NOT NULL,\n  `sendtok` varchar(50) NOT NULL,\n  `date` date NOT NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,2112],"id":"96b806ee-b17d-4e32-995e-d1327eb54ecc","name":"sendflow_campanha","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"\n-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n\n-- DROP VIEW IF EXISTS leads_e_vendasFIRST;\n\nCREATE VIEW `leads_e_vendasFIRST` AS\nSELECT L.cod_lancamento,L.date,L.email,L.`utm_source`,L.`utm_campaign`,L.`utm_medium`,L.`utm_content`,L.`utm_publico`,L.`utm_term` , V.`email_do_comprador`, V.`valor_de_compra_sem_impostos`, V.`comissao_bruta_sem_impostos`\nFROM `first_leads` AS L LEFT JOIN `hotmart20` AS V ON L.email = V.`email_do_comprador`;\n\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1344],"id":"8affd791-226e-4401-bdd9-47501fa7338a","name":"MySQL: VIEW leads_e_vendasFIRST","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"\n-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n\n-- DROP VIEW IF EXISTS leads_e_vendasLAST;\n\nCREATE VIEW `leads_e_vendasLAST` AS\nSELECT L.cod_lancamento,L.date,L.email,L.`utm_source`,L.`utm_campaign`,L.`utm_medium`,L.`utm_content`,L.`utm_publico`,L.`utm_term` , V.`email_do_comprador`, V.`valor_de_compra_sem_impostos`, V.`comissao_bruta_sem_impostos`\nFROM `last_leads` AS L LEFT JOIN `hotmart20` AS V ON L.email = V.`email_do_comprador`;\n\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1536],"id":"308791e7-7ef0-420f-bd6c-3f4a868c0ade","name":"MySQL: VIEW leads_e_vendasLAST","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n-- DROP VIEW IF EXISTS `first_leads`;\nCREATE VIEW first_leads AS\nWITH RankedLeads AS (\n    SELECT \n        L1.*,\n        ROW_NUMBER() OVER (PARTITION BY L1.email_cod_lancamento ORDER BY L1.datetime DESC, L1.lead_counter ASC) AS rn\n    FROM `lista_leads` AS L1\n    INNER JOIN (\n        SELECT email_cod_lancamento, MAX(`datetime`) AS max_datetime\n        FROM `lista_leads`\n        GROUP BY email_cod_lancamento\n    ) AS L2 ON L1.email_cod_lancamento = L2.email_cod_lancamento\n        AND L1.datetime = L2.max_datetime\n)\nSELECT *\nFROM RankedLeads\nWHERE rn = 1;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,960],"id":"65d3aa04-6207-468d-a35d-1f73c228a011","name":"MySQL: CREATE VIEW - first_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o banco de dados para uso\nUSE {{ $json.NOME_cliente }};\n-- DROP VIEW IF EXISTS last_leads;\nCREATE VIEW last_leads AS\nWITH RankedLeads AS (\n    SELECT \n        L1.*,\n        ROW_NUMBER() OVER (PARTITION BY L1.email_cod_lancamento ORDER BY L1.datetime DESC, L1.lead_counter DESC) AS rn\n    FROM `lista_leads` AS L1\n    INNER JOIN (\n        SELECT email_cod_lancamento, MAX(`datetime`) AS max_datetime\n        FROM `lista_leads`\n        GROUP BY email_cod_lancamento\n    ) AS L2 ON L1.email_cod_lancamento = L2.email_cod_lancamento\n        AND L1.datetime = L2.max_datetime\n)\nSELECT *\nFROM RankedLeads\nWHERE rn = 1;\n\nCOMMIT;","options":{"connectionTimeoutMillis":300,"connectionLimit":10,"queryBatching":"single","replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,1152],"id":"3cebddb3-ee6b-47c7-8bda-348ffa1ec6fa","name":"MySQL: CREATE VIEW - last_leads","retryOnFail":false,"waitBetweenTries":5000,"maxTries":5,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- Criação da tabela adcreative\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_creatives (\n    id bigint PRIMARY KEY,  -- ID único do post\n    name TEXT,  -- Nome do post\n    account_id bigint NOT NULL,  -- ID da conta associada\n    actor_id bigint NOT NULL,  -- ID do ator que publicou\n    instagram_user_id bigint,  -- ID do usuário do Instagram\n    instagram_permalink_url TEXT,  -- URL do post no Instagram\n    effective_instagram_media_id bigint,  -- ID da mídia no Instagram\n    call_to_action_type VARCHAR(50),  -- Tipo de call-to-action (ex: LEARN_MORE)\n    object_type VARCHAR(50),  -- Tipo do objeto (ex: VIDEO, SHARE)\n    status VARCHAR(20),  -- Status do post (ex: ACTIVE)\n    thumbnail_url TEXT,  -- URL da thumbnail\n    thumbnail_id bigint,  -- ID da thumbnail\n    title VARCHAR(500),  -- Título do post\n    video_id bigint,  -- ID do vídeo (se for um post de vídeo)\n    image_url TEXT,  -- URL da imagem (se for um post de imagem)\n    body TEXT NOT NULL  -- Conteúdo do post\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ads (\n    ad_id BIGINT PRIMARY KEY,\n    account_id BIGINT NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    adset_id BIGINT NOT NULL,\n    name VARCHAR(500) NOT NULL,\n    preview_shareable_link TEXT,\n    creative_id BIGINT NOT NULL,\n    issues_level VARCHAR(50),\n    issues_error_code INT,\n    issues_error_summary TEXT,\n    issues_error_message TEXT,\n    issues_error_type VARCHAR(50),\n    effective_status VARCHAR(50)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_accounts (\n    act_account_id VARCHAR(50) PRIMARY KEY,         -- ID da conta (chave primária)\n    name VARCHAR(500) NOT NULL,         -- Nome da conta\n    account_id BIGINT NOT NULL,    -- ID da conta (pode ser usado para relacionamentos)\n    account_status INT NOT NULL,        -- Status numérico da conta\n    account_status_name VARCHAR(50),    -- Nome do status da conta\n    age FLOAT,                  -- Idade da conta (com precisão decimal)\n    business_name VARCHAR(255),         -- Nome do negócio\n    currency VARCHAR(10),               -- Moeda usada na conta\n    is_prepay_account varchar(5),          -- Indica se é uma conta pré-paga\n    owner VARCHAR(50),                  -- ID do dono da conta\n    timezone_name VARCHAR(100),         -- Fuso horário da conta\n    amount_spent FLOAT,         -- Quantia gasta (convertido para decimal)\n    balance FLOAT,              -- Saldo da conta\n    spend_cap FLOAT             -- Limite de gastos\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_custom_conversions (\n    id BIGINT PRIMARY KEY,  -- ID único do evento\n    name VARCHAR(255) NOT NULL,  -- Nome do evento\n    name_normalize VARCHAR(255) NOT NULL,  -- Nome do evento\n    is_unavailable varchar(5) NOT NULL,  -- Indica se está indisponível\n    is_archived varchar(5) NOT NULL,  -- Indica se está arquivado\n    custom_event_type VARCHAR(255), -- Tipo de evento (limitado a 'OTHER' conforme os dados fornecidos)\n\t`rule` TEXT DEFAULT NULL,\n\t`description` VARCHAR(255) NULL,\n\t`data_sources` VARCHAR(255) NULL,\n\t`event_source_type` VARCHAR(100) NULL,\n\t`pixel` VARCHAR(100) NULL,\n\t`default_conversion_value` VARCHAR(100) NULL,\n\t`retention_days` VARCHAR(100) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\n-- Criação da tabela facebook_ads_performance\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ads_performance (\n    `date` DATE NOT NULL,\n    `date_start` DATE NOT NULL,\n    `date_stop` DATE NOT NULL,\n    account_id BIGINT NOT NULL,\n    `act_account_id` VARCHAR(100) NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    adset_id BIGINT NOT NULL,\n    ad_id BIGINT NOT NULL,\n    objective VARCHAR(50) NOT NULL,\n    optimization_goal VARCHAR(50) NOT NULL,\n    publisher_platform VARCHAR(50) NOT NULL,\n    platform_position VARCHAR(50) NOT NULL,\n    device_platform VARCHAR(50) NOT NULL,\n    impression_device VARCHAR(50) NOT NULL,\n    spend FLOAT NOT NULL,\n    impressions INT NOT NULL,\n    clicks_all INT NOT NULL, -- clicks\n    reach INT NOT NULL,\n    unique_clicks INT NOT NULL,\n    link_click INT NOT NULL, -- actions_link_click\n    landing_page_view INT NOT NULL, -- actions_landing_page_view\n    page_engagement INT NOT NULL, -- actions_page_engagement\n    post_engagement INT NOT NULL, -- actions_post_engagement\n    post_save INT NOT NULL, -- actions_onsite_conversion.post_save\n    post_reaction INT NOT NULL, -- actions_post_reaction\n    post_comment INT NOT NULL, -- actions_comment\n    post INT NOT NULL, -- actions_post\n    post_like INT NOT NULL, -- actions_like\n    messaging_total INT NOT NULL, -- actions_onsite_conversion.total_messaging_connection\n    messaging_conversation_started_7d INT NOT NULL, -- actions_onsite_conversion.messaging_conversation_started_7d\n    messaging_block INT NOT NULL, -- actions_onsite_conversion.messaging_block\n    messaging_first_reply INT NOT NULL, -- actions_onsite_conversion.messaging_first_reply\n    messaging_2_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_2_message_send\n    messaging_3_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_3_message_send\n    messaging_5_message_send INT NOT NULL, -- actions_onsite_conversion.messaging_user_depth_5_message_send\n    contact INT NOT NULL, -- contact_total\n    initiate_checkout INT NOT NULL, -- actions_initiate_checkout\n    initiate_checkout_value INT NOT NULL, -- action_values_initiate_checkout\n    `lead` INT NOT NULL, -- actions_lead\n    purchase INT NOT NULL, -- actions_purchase\n    purchase_value INT NOT NULL, -- action_values_purchase\n    add_to_cart INT NOT NULL, -- action_add_to_cart\n    add_to_cart_value INT NOT NULL, -- action_values_add_to_cart\n    complete_registration INT NOT NULL, -- actions_complete_registration\n    view_content INT NOT NULL, -- actions_view_content\n    subscriptions INT NOT NULL, -- actions_subscriptions\n    schedule INT NOT NULL, -- actions_schedule\n    video_avg_time_watched FLOAT NOT NULL,\n    video_p25_watched INT NOT NULL,\n    video_p50_watched INT NOT NULL,\n    video_p75_watched INT NOT NULL,\n    video_p95_watched INT NOT NULL,\n    video_p100_watched INT NOT NULL,\n    video_play INT NOT NULL,\n    video_2s_watched INT NOT NULL,\n    video_3s_watched INT NOT NULL, -- actions_video_view\n    video_10s_watched INT NOT NULL,\n    video_15s_watched INT NOT NULL,\n    video_30s_watched INT NOT NULL,\n    video_60s_watched INT NOT NULL,\n-- única chave composta garantindo unicidade na combinação:\n    UNIQUE KEY idx_unique_performance (\n        `date`,\n        date_start,\n        date_stop,\n        account_id,\n        `act_account_id`,\n        campaign_id,\n        adset_id,\n        ad_id,\n        objective,\n        optimization_goal,\n        publisher_platform,\n        platform_position,\n        device_platform,\n        impression_device\n    )\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_ad_sets (\n    adset_id BIGINT PRIMARY KEY,\n    adset_name VARCHAR(500) NOT NULL,\n\tact_account_id VARCHAR(50) NOT NULL,\n    account_id BIGINT NOT NULL,\n    campaign_id BIGINT NOT NULL,\n    created_time DATETIME NOT NULL,\n    start_time DATETIME NOT NULL,\n    end_time DATETIME NULL,\n    billing_event VARCHAR(50) NOT NULL,\n    budget_remaining FLOAT NOT NULL,\n    daily_budget FLOAT NULL,\n    destination_type VARCHAR(50) NOT NULL,\n    is_dynamic_creative varchar(5) NOT NULL,\n    effective_status VARCHAR(50) NOT NULL,\n    optimization_goal VARCHAR(100) NOT NULL,\n    learning_attribution_windows VARCHAR(255) NULL,\n    learning_conversions INT NULL,\n    learning_last_sig_edit_ts BIGINT NULL,\n    learning_status VARCHAR(50) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCREATE TABLE IF NOT EXISTS {{ $json.NOME_cliente }}.MC_campaigns (\n    campaign_id BIGINT NOT NULL PRIMARY KEY,  -- ID único da campanha\n    campaign_name VARCHAR(500) NOT NULL,               -- Nome da campanha\n    account_id BIGINT NOT NULL,      -- ID da conta associada\n    act_account_id VARCHAR(50) NOT NULL,      -- ID da conta associada\n    created_time DATETIME NOT NULL,           -- Data e hora de criação da campanha\n    start_time DATETIME NOT NULL,             -- Data e hora de início da campanha\n    stop_time DATETIME NULL,\n    updated_time DATETIME NOT NULL,\n    budget_remaining FLOAT DEFAULT 0, -- Orçamento restante da campanha\n    daily_budget FLOAT DEFAULT 0,     -- Orçamento diário da campanha\n\tlifetime_budget FLOAT DEFAULT 0,\n    effective_status VARCHAR(100) NOT NULL, -- Status da campanha\n    pacing_type VARCHAR(100) NULL,                 -- Tipo de ritmo da campanha\n    topline_id BIGINT NULL,              -- ID de referência para relatórios\n\tbid_strategy VARCHAR(50) NULL,\n\tobjective VARCHAR(50) NULL,\n\tprimary_attribution VARCHAR(50) NULL,\n\tspecial_ad_category VARCHAR(50) NULL\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCOMMIT;","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,384],"id":"ce8ec27f-4d1e-4d4f-a692-c4c828bdeec3","name":"MySQL: MC Conector","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"assignments":{"assignments":[{"id":"421b5172-9434-472e-b641-72f8cdc5cd93","name":"NOME_cliente","value":"={{ $json.NOME_cliente.replaceAll(\".\",\"\") }}","type":"string"},{"id":"dfcaff66-f963-4ee4-819b-08bbf2d1d5ba","name":"db_name","value":"={{ $json.NOME_cliente.replaceAll(\".\",\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,768],"id":"3f647205-3eb6-4761-bfe2-294c765f292d","name":"db_name"},{"parameters":{"operation":"executeQuery","query":"USE {{ $json.db_name }};\n-- DROP VIEW IF EXISTS {{ $json.db_name }}.MC_CTX_{{ $json.db_name }};\n\nCREATE VIEW {{ $json.db_name }}.MC_CTX_{{ $json.db_name }} AS\nWITH RECURSIVE\n  -- Define os limites dinâmicos com base nos registros existentes\n  bounds AS (\n    SELECT \n      DATE_SUB(MAX(`date`), INTERVAL 90 DAY) AS start_dt, -- Calcula a data de início (últimos 60 dias) ==MIN(`date`) AS start_dt, \n      MAX(`date`) AS end_dt\n    FROM {{ $json.db_name }}.`MC_ads_performance`\n  ),\n  -- Gera o intervalo de datas a partir dos limites dinâmicos\n  date_range AS (\n    SELECT start_dt AS dt\n    FROM bounds\n    UNION ALL\n    SELECT DATE_ADD(dt, INTERVAL 1 DAY)\n    FROM date_range CROSS JOIN bounds\n    WHERE dt < bounds.end_dt\n  )\nSELECT \n  -- Exibe todas as datas geradas\n  dr.dt AS `Data`,\n  \n  -- Dados da Conta de Anúncio\n  adc.name AS ad_account_name,                              -- Nome da conta\n  adc.account_status AS ad_account_status,                  -- Status numérico da conta\n  adc.account_status_name AS ad_account_status_name,        -- Nome do status\n  adc.age AS ad_account_age,                                -- Idade da conta\n  adc.business_name AS business_manager,                  -- Nome do negócio\n  adc.currency AS ad_account_currency,                    -- Moeda usada na conta\n  adc.is_prepay_account AS is_prepay_ad_account,          -- Conta pré-paga\n  adc.owner AS ad_account_owner,                          -- ID do dono da conta\n  adc.timezone_name AS ad_account_timezone_name,          -- Fuso horário\n  adc.amount_spent AS ad_account_amount_spent,            -- Quantia gasta\n  adc.balance AS ad_account_balance,                      -- Saldo da conta\n  adc.spend_cap AS ad_account_spend_cap,                  -- Limite de gastos\n\n  -- Dados das Campanhas\n  cp.campaign_name AS campaign_name,                      -- Nome da campanha\n  cp.created_time AS campaign_created_time,              -- Data de criação\n  cp.start_time AS campaign_start_time,                  -- Início da campanha\n  cp.stop_time AS campaign_stop_time,                    -- Término da campanha\n  cp.updated_time AS campaign_updated_time,              -- Última atualização\n  cp.budget_remaining AS campaign_budget_remaining,      -- Orçamento restante\n  cp.daily_budget AS campaign_daily_budget,              -- Orçamento diário\n  cp.lifetime_budget AS campaign_lifetime_budget,        -- Orçamento vitalício\n  cp.effective_status AS campaign_effective_status,      -- Status da campanha\n  cp.pacing_type AS campaign_pacing_type,                -- Tipo de ritmo\n  cp.topline_id AS campaign_topline_id,                  -- ID para relatórios\n  cp.bid_strategy AS campaign_bid_strategy,              -- Estratégia de lance\n  cp.objective AS campaign_objective,                    -- Objetivo da campanha\n  cp.primary_attribution AS campaign_primary_attribution,-- Atribuição primária\n  cp.special_ad_category AS campaign_special_ad_category, -- Categoria especial\n\n  -- Dados do Conjunto de anúncios\n  ast.adset_name AS adset_name,                          -- Nome do conjunto\n  ast.created_time AS adset_created_time,                -- Data de criação\n  ast.start_time AS adset_start_time,                    -- Início do conjunto\n  ast.end_time AS adset_end_time,                        -- Término do conjunto\n  ast.billing_event AS adset_billing_event,              -- Evento de cobrança\n  ast.budget_remaining AS adset_budget_remaining,        -- Orçamento restante\n  ast.daily_budget AS adset_daily_budget,                -- Orçamento diário\n  ast.destination_type AS adset_destination_type,        -- Tipo de destino\n  ast.is_dynamic_creative AS adset_is_dynamic_creative,  -- Criativo dinâmico\n  ast.effective_status AS adset_effective_status,        -- Status efetivo\n  ast.optimization_goal AS adset_optimization_goal,      -- Objetivo de otimização\n  ast.learning_attribution_windows AS adset_learning_attribution_windows, -- Janelas de atribuição\n  ast.learning_conversions AS adset_learning_conversions,-- Conversões\n  ast.learning_last_sig_edit_ts AS adset_learning_last_edit, -- Última edição relevante\n  ast.learning_status AS adset_learning_status,          -- Status de aprendizado\n\n  -- Dados dos Anúncios\n  ad.name AS ad_name,                                    -- Nome do anúncio\n  ad.preview_shareable_link AS ad_preview_link,          -- Link de visualização\n  ad.issues_level AS ad_issues_error_level,              -- Nível de problemas\n  ad.issues_error_code AS ad_issues_error_code,          -- Código de erro\n  ad.issues_error_summary AS ad_issues_error_summary,    -- Resumo do erro\n  ad.issues_error_message AS ad_issues_error_message,    -- Mensagem de erro\n  ad.issues_error_type AS ad_issues_error_type,          -- Tipo de erro\n  ad.effective_status AS ad_effective_status,        \t -- Status efetivo\n\n  -- Dados do Ad Creative\n  ad.creative_id AS ad_creative_id,                      -- ID do criativo\n  ac.name AS ad_creative_name,                           -- Nome do post\n  ac.actor_id AS ad_creative_actor_id,                   -- ID do ator\n  ac.instagram_user_id AS ad_creative_instagram_user_id, -- ID do Instagram\n  ac.instagram_permalink_url AS ad_creative_instagram_permalink_url, -- URL do post\n  ac.effective_instagram_media_id AS ad_creative_instagram_media_id,   -- ID da mídia\n  ac.call_to_action_type AS ad_creative_call_to_action_type,           -- Tipo de CTA\n  ac.object_type AS ad_creative_object_type,             -- Tipo do objeto\n  ac.status AS ad_creative_status,                       -- Status do post\n  ac.thumbnail_url AS ad_creative_thumbnail_url,         -- URL da thumbnail\n  ac.thumbnail_id AS ad_creative_thumbnail_id,           -- ID da thumbnail\n  ac.title AS ad_creative_title,                         -- Título do post\n  ac.video_id AS ad_creative_video_id,                   -- ID do vídeo\n  ac.image_url AS ad_creative_image_url,                 -- URL da imagem\n  ac.body AS ad_creative_body,                           -- Conteúdo do post\n  \n  -- Dados de Performance (se não houver registro, as métricas serão zero)\n  ap.*\n\nFROM date_range dr\nLEFT JOIN {{ $json.db_name }}.`MC_ads_performance` AS ap \n       ON ap.date = dr.dt\nLEFT JOIN {{ $json.db_name }}.`MC_ad_accounts` AS adc \n       ON ap.account_id = adc.account_id\nLEFT JOIN {{ $json.db_name }}.`MC_campaigns` AS cp  \n       ON ap.account_id = cp.account_id AND ap.campaign_id = cp.campaign_id\nLEFT JOIN {{ $json.db_name }}.`MC_ad_sets` AS ast    \n       ON ap.account_id = ast.account_id AND ap.campaign_id = ast.campaign_id AND ap.adset_id = ast.adset_id\nLEFT JOIN {{ $json.db_name }}.`MC_ads` AS ad         \n       ON ap.account_id = ad.account_id AND ap.campaign_id = ad.campaign_id \n          AND ap.adset_id = ad.adset_id AND ap.ad_id = ad.ad_id\nLEFT JOIN {{ $json.db_name }}.`MC_ad_creatives` AS ac \n       ON ap.account_id = ac.account_id AND ad.creative_id = ac.id;\n","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1536,576],"id":"3a145eb4-abc9-45b1-aef4-7866d086f48f","name":"MySQL: MC Conector VIEW","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"workflowInputs":{"values":[{"name":"NOME_cliente"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1984,768],"id":"e2471275-3cc5-4d43-ab89-fa0667e6055b","name":"Code"},{"parameters":{"operation":"executeQuery","query":"CREATE VIEW {{ $json.db_name }}.mc_ctx_ls_{{ $json.db_name }}_view AS\n WITH RECURSIVE\n  bounds AS (\n    SELECT\n        '2025-01-01'\n            AS start_dt,\n        CAST(MAX(mp.`date`) AS DATE) \n            AS end_dt\n    FROM {{ $json.db_name }}.mc_ads_performance mp\n  ),\n  date_range AS (\n    SELECT b.start_dt AS dt\n    FROM bounds b\n    UNION ALL\n    SELECT DATE_ADD(dr.dt, INTERVAL 1 DAY)\n    FROM date_range dr\n    JOIN bounds b ON dr.dt < b.end_dt\n  )\n SELECT\n    dr.dt                                  AS Data,\n    adc.name                               AS ad_account_name,\n    adc.account_status_name                AS ad_account_status_name,\n    cp.campaign_name                       AS campaign_name,\n    cp.effective_status                    AS campaign_effective_status,\n    cp.pacing_type                         AS campaign_pacing_type,\n    cp.bid_strategy                        AS campaign_bid_strategy,\n    cp.objective                           AS campaign_objective,\n    cp.special_ad_category                 AS campaign_special_ad_category,\n\t\n    ast.adset_name                         AS adset_name,\n    ast.destination_type                   AS adset_destination_type,\n    ast.effective_status                   AS adset_effective_status,\n    ast.optimization_goal                  AS adset_optimization_goal,\n    ad.name                                AS ad_name,\n    ad.preview_shareable_link              AS ad_preview_link,\n    ad.issues_level                        AS ad_issues_error_level,\n    ad.creative_id                         AS ad_creative_id,\n    ad.effective_status                    AS ad_effective_status,\n    \n    ac.name                                AS ad_creative_name,\n    ac.instagram_user_id                   AS ad_creative_instagram_user_id,\n    ac.instagram_permalink_url             AS ad_creative_instagram_permalink_url,\n    ac.effective_instagram_media_id        AS ad_creative_instagram_media_id,\n    ac.call_to_action_type                 AS ad_creative_call_to_action_type,\n    ac.object_type                         AS ad_creative_object_type,\n    ac.thumbnail_url                       AS ad_creative_thumbnail_url,\n    ac.thumbnail_id                        AS ad_creative_thumbnail_id,\n    ac.title                               AS ad_creative_title,\n    ac.video_id                            AS ad_creative_video_id,\n    ac.image_url                           AS ad_creative_image_url,\n    ac.body                                AS ad_creative_body,\n\t\n    ap.date                                AS date,\n    ap.date_start                          AS date_start,\n    ap.date_stop                           AS date_stop,\n    ap.account_id                          AS account_id,\n    ap.act_account_id                      AS act_account_id,\n    ap.campaign_id                         AS campaign_id,\n    ap.adset_id                            AS adset_id,\n    ap.ad_id                               AS ad_id,\n    ap.objective                           AS objective,\n    ap.optimization_goal                   AS optimization_goal,\n\tSUM(ap.spend) AS spend,\n\tSUM(ap.impressions) AS impressions,\n\tSUM(ap.clicks_all) AS clicks_all,\n\tSUM(ap.reach) AS reach,\n\tSUM(ap.unique_clicks) AS unique_clicks,\n\tSUM(ap.link_click) AS link_click,\n\tSUM(ap.landing_page_view) AS landing_page_view,\n\tSUM(ap.post_engagement) AS post_engagement,\n\tSUM(ap.post_save) AS post_save,\n\tSUM(ap.post_reaction) AS post_reaction,\n\tSUM(ap.post_comment) AS post_comment,\n\tSUM(ap.post) AS post,\n\tSUM(ap.post_like) AS post_like,\n\tSUM(ap.messaging_total) AS messaging_total,\n\tSUM(ap.messaging_conversation_started_7d) AS messaging_conversation_started_7d,\n\tSUM(ap.contact) AS contact_all,\n\tSUM(ap.initiate_checkout) AS initiate_checkout_all,\n\tSUM(ap.initiate_checkout_value) AS initiate_checkout_value,\n\tSUM(ap.lead) AS lead_all,\n\tSUM(ap.purchase) AS purchase_all,\n\tSUM(ap.purchase_value) AS purchase_value,\n\tSUM(ap.add_to_cart) AS add_to_cart_all,\n\tSUM(ap.add_to_cart_value) AS add_to_cart_value,\n\tSUM(ap.complete_registration) AS complete_registration_all,\n\tAVG(ap.video_avg_time_watched) AS video_avg_time_watched,\n\tSUM(ap.video_p25_watched) AS video_p25_watched,\n\tSUM(ap.video_p50_watched) AS video_p50_watched,\n\tSUM(ap.video_p75_watched) AS video_p75_watched,\n\tSUM(ap.video_p95_watched) AS video_p95_watched,\n\tSUM(ap.video_p100_watched) AS video_p100_watched,\n\tSUM(ap.video_play) AS video_play,\n\tSUM(ap.video_2s_watched) AS video_2s_watched,\n\tSUM(ap.video_3s_watched) AS video_3s_watched,\n\tSUM(ap.video_10s_watched) AS video_10s_watched,\n\tSUM(ap.video_15s_watched) AS video_15s_watched,\n\tSUM(ap.video_30s_watched) AS video_30s_watched,\n\tSUM(ap.video_60s_watched) AS video_60s_watched\n\n  \nFROM\n    date_range dr\n\n  LEFT JOIN {{ $json.db_name }}.mc_ads_performance ap\n    ON ap.date = dr.dt\n\n  LEFT JOIN {{ $json.db_name }}.mc_ad_accounts adc\n    ON ap.account_id = adc.account_id\n\n  LEFT JOIN {{ $json.db_name }}.mc_campaigns cp\n    ON ap.account_id = cp.account_id\n   AND ap.campaign_id = cp.campaign_id\n\n  LEFT JOIN {{ $json.db_name }}.mc_ad_sets ast\n    ON ap.account_id = ast.account_id\n   AND ap.campaign_id = ast.campaign_id\n   AND ap.adset_id = ast.adset_id\n LEFT JOIN {{ $json.db_name }}.mc_ads ad\n    ON ap.account_id = ad.account_id\n   AND ap.campaign_id = ad.campaign_id\n   AND ap.adset_id = ad.adset_id\n   AND ap.ad_id = ad.ad_id\n LEFT JOIN {{ $json.db_name }}.mc_ad_creatives ac\n    ON ap.account_id = ac.account_id\n   AND ad.creative_id = ac.id\n\nGROUP BY\n    dr.dt,\n    adc.name,\n    adc.account_status_name,\n    cp.campaign_name,\n    cp.effective_status,\n    cp.pacing_type,\n    cp.bid_strategy,\n    cp.objective,\n    cp.special_ad_category,\n    ast.adset_name,\n    ast.destination_type,\n    ast.effective_status,\n    ast.optimization_goal,\n    ad.name,\n    ad.preview_shareable_link,\n    ad.issues_level,\n    ad.creative_id,\n    ad.effective_status,\n    ac.name,\n    ac.instagram_user_id,\n    ac.instagram_permalink_url,\n    ac.effective_instagram_media_id,\n    ac.call_to_action_type,\n    ac.object_type,\n    ac.thumbnail_url,\n    ac.thumbnail_id,\n    ac.title,\n    ac.video_id,\n    ac.image_url,\n    ac.body,\n    ap.date,\n    ap.date_start,\n    ap.date_stop,\n    ap.account_id,\n    ap.act_account_id,\n    ap.campaign_id,\n    ap.adset_id,\n    ap.ad_id,\n    ap.objective,\n    ap.optimization_goal;\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1536,768],"id":"def3b118-e39e-475b-98b6-878be21a2eea","name":"Create View - Conector Meta","credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}},{"parameters":{"operation":"executeQuery","query":"-- 1) Totais diários (1 linha por métrica por dia por conta)\nCREATE TABLE {{ $json.NOME_cliente }}.ig_insights_daily_metric (\n  metric_date DATE NOT NULL,\n  ig_user_id BIGINT UNSIGNED NOT NULL,\n\n  metric_name VARCHAR(64) NOT NULL,     -- ex: reach, views, likes...\n  period ENUM('day') NOT NULL DEFAULT 'day',\n\n  -- o total \"do topo\"\n  total_value BIGINT SIGNED NULL,\n\n  -- metadados úteis\n  metric_id VARCHAR(255) NULL,          -- ex: 1784.../insights/reach/day\n  title VARCHAR(255) NULL,\n  description TEXT NULL,\n\n  raw_json JSON NULL,\n  created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n  updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\n  PRIMARY KEY (ig_user_id, metric_date, metric_name),\n  KEY idx_metric_date (metric_date),\n  KEY idx_metric_name (metric_name)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\n-- 2) Breakdowns (1 linha por dimensão/valor)\nCREATE TABLE {{ $json.NOME_cliente }}.ig_insights_daily_breakdown (\n  metric_date DATE NOT NULL,\n  ig_user_id BIGINT UNSIGNED NOT NULL,\n\n  metric_name VARCHAR(64) NOT NULL,      -- ex: reach\n  period ENUM('day') NOT NULL DEFAULT 'day',\n\n  dimension_key VARCHAR(64) NOT NULL,    -- ex: follow_type, media_product_type\n  dimension_value VARCHAR(64) NOT NULL,  -- ex: FOLLOWER, REEL, STORY...\n\n  metric_value BIGINT SIGNED NOT NULL,   -- valor daquela fatia\n\n  created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\n  PRIMARY KEY (ig_user_id, metric_date, metric_name, dimension_key, dimension_value),\n  KEY idx_metric_date (metric_date),\n  KEY idx_metric_name (metric_name),\n  KEY idx_dimension (dimension_key, dimension_value)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;\n\nCOMMIT;","options":{"queryBatching":"single","replaceEmptyStrings":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1392,528],"id":"292d0461-8615-4c83-9126-09aa08e1994b","name":"MySQL: IG Conector","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"mySql":{"id":"e8MLfq0Feg0DMcOv","name":"MySQL 01 n8n_convertix"}}}],"connections":{"TTconversa_criada":{"main":[[]]},"TTnova_mensagem":{"main":[[]]},"hotmart20":{"main":[[]]},"eduzz":{"main":[[]]},"MySQL: Tabelas Adicionais":{"main":[[]]},"lista_leads":{"main":[[]]},"sendflow_leads":{"main":[[]]},"sendflow_campanha":{"main":[[]]},"MySQL: CREATE VIEW - first_leads":{"main":[[]]},"MySQL: CREATE VIEW - last_leads":{"main":[[]]},"db_name":{"main":[[{"node":"MySQL: MC Conector","type":"main","index":0},{"node":"MySQL: CREATE VIEW - first_leads","type":"main","index":0},{"node":"MySQL: CREATE VIEW - last_leads","type":"main","index":0},{"node":"MySQL: VIEW leads_e_vendasFIRST","type":"main","index":0},{"node":"MySQL: VIEW leads_e_vendasLAST","type":"main","index":0},{"node":"MySQL: COMMIT","type":"main","index":0},{"node":"MySQL: MC Conector VIEW","type":"main","index":0},{"node":"MySQL: CREATE DATABASE1","type":"main","index":0},{"node":"TTconversa_criada","type":"main","index":0},{"node":"TTnova_mensagem","type":"main","index":0},{"node":"hotmart20","type":"main","index":0},{"node":"eduzz","type":"main","index":0},{"node":"lista_leads","type":"main","index":0},{"node":"sendflow_leads","type":"main","index":0},{"node":"MySQL: Tabelas Adicionais","type":"main","index":0},{"node":"sendflow_campanha","type":"main","index":0},{"node":"Create View - Conector Meta","type":"main","index":0},{"node":"MySQL: IG Conector","type":"main","index":0}]]},"Code":{"main":[[{"node":"db_name","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version d0330a05","description":"","autosaved":true},"tags":[]}