workflows/Z9LyEhMOlqDD5nJA.json
{"updatedAt":"2026-01-27T15:52:35.156Z","createdAt":"2026-01-06T04:13:41.014Z","id":"Z9LyEhMOlqDD5nJA","name":"[EVO] [BACKUP] Instances to variables (v1.0)","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"variables","mode":"list","cachedResultName":"variables"},"columns":{"mappingMode":"defineBelow","value":{"id":"=EVO_{{ $json.name }}","key":"=EVO_{{ $json.name }}","type":"string","value":"={{ $json.token }}"},"matchingColumns":["id"],"schema":[{"id":"key","displayName":"key","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"projectId","displayName":"projectId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-512],"id":"1e56f910-234e-4076-bc21-be66b4d14e21","name":"N8N: Variables","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"Instance","mode":"list","cachedResultName":"Instance"},"returnAll":true,"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[144,-608],"id":"a5114910-823b-433f-bf4b-49f52e23f27e","name":"EVO: Instance","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"LMwOwrPcr080SLUs","name":"Postgres evolution"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":10}]}},"id":"251e80e6-3efc-4f58-b27b-fe2c59a8f6de","name":"Cron 1D1","type":"n8n-nodes-base.scheduleTrigger","position":[-80,-608],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.variables\nWHERE \"key\" NOT IN ({{ $json.name.toJsonString().replaceAll(/(\\[|\\])/g,\"\").replaceAll('\"',\"'\") }})\nAND \"key\" LIKE '%EVO_%' AND \"key\" <> 'EVOLUTION_URL'","options":{"connectionTimeout":30,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,-704],"id":"f86fd03f-d383-4752-b457-83ae44caa39c","name":"N8N: Variables1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[592,-704],"id":"9f843d94-1b31-4881-99b0-ddfec9a7a3d7","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"43f1f5a2-a00d-4ffa-aa62-5bd86c1f0135","name":"name","value":"=EVO_{{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-704],"id":"1dc253d9-64d5-4c89-b60d-56ba9718bb30","name":"Edit Fields"}],"connections":{"EVO: Instance":{"main":[[{"node":"N8N: Variables","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Cron 1D1":{"main":[[{"node":"EVO: Instance","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"N8N: Variables1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"saveExecutionProgress":false,"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"j1bCsXJ1Cv9zjSjw"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]},"node:Cron 1h":{"recurrenceRules":[18]},"node:Cron 1h1":{"recurrenceRules":[]},"node:Cron 1D":{"recurrenceRules":[]},"node:Cron 1D1":{"recurrenceRules":[]}},"meta":null,"versionId":"f31fb6cd-8a96-48fc-8014-4c84134b41fa","activeVersionId":"f31fb6cd-8a96-48fc-8014-4c84134b41fa","triggerCount":1,"shared":[{"updatedAt":"2026-01-06T04:13:41.014Z","createdAt":"2026-01-06T04:13:41.014Z","role":"workflow:owner","workflowId":"Z9LyEhMOlqDD5nJA","projectId":"ANA16Jg870Mj5fq8"}],"activeVersion":{"updatedAt":"2026-01-06T12:41:28.734Z","createdAt":"2026-01-06T12:41:27.698Z","versionId":"f31fb6cd-8a96-48fc-8014-4c84134b41fa","workflowId":"Z9LyEhMOlqDD5nJA","nodes":[{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"variables","mode":"list","cachedResultName":"variables"},"columns":{"mappingMode":"defineBelow","value":{"id":"=EVO_{{ $json.name }}","key":"=EVO_{{ $json.name }}","type":"string","value":"={{ $json.token }}"},"matchingColumns":["id"],"schema":[{"id":"key","displayName":"key","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"projectId","displayName":"projectId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[368,-512],"id":"1e56f910-234e-4076-bc21-be66b4d14e21","name":"N8N: Variables","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"Instance","mode":"list","cachedResultName":"Instance"},"returnAll":true,"options":{"connectionTimeout":30,"delayClosingIdleConnection":0,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[144,-608],"id":"a5114910-823b-433f-bf4b-49f52e23f27e","name":"EVO: Instance","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"LMwOwrPcr080SLUs","name":"Postgres evolution"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":10}]}},"id":"251e80e6-3efc-4f58-b27b-fe2c59a8f6de","name":"Cron 1D1","type":"n8n-nodes-base.scheduleTrigger","position":[-80,-608],"typeVersion":1.2},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.variables\nWHERE \"key\" NOT IN ({{ $json.name.toJsonString().replaceAll(/(\\[|\\])/g,\"\").replaceAll('\"',\"'\") }})\nAND \"key\" LIKE '%EVO_%' AND \"key\" <> 'EVOLUTION_URL'","options":{"connectionTimeout":30,"queryBatching":"single"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[816,-704],"id":"f86fd03f-d383-4752-b457-83ae44caa39c","name":"N8N: Variables1","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000,"credentials":{"postgres":{"id":"rhPFoyNEscK1Gfw5","name":"Postgres N8N"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[592,-704],"id":"9f843d94-1b31-4881-99b0-ddfec9a7a3d7","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"43f1f5a2-a00d-4ffa-aa62-5bd86c1f0135","name":"name","value":"=EVO_{{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,-704],"id":"1dc253d9-64d5-4c89-b60d-56ba9718bb30","name":"Edit Fields"}],"connections":{"EVO: Instance":{"main":[[{"node":"N8N: Variables","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Cron 1D1":{"main":[[{"node":"EVO: Instance","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"N8N: Variables1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"authors":"Convertix Digital","name":"Version f31fb6cd","description":"","autosaved":false},"tags":[]}